SET TERM ^ ;
CREATE TRIGGER mp_LetterSubscriberHx_bi FOR mp_LetterSubscriberHx ACTIVE 
BEFORE INSERT POSITION 0
AS
BEGIN
IF (NEW.RowID  IS NULL) THEN
 NEW.RowID  = NEXT VALUE FOR mp_LetterSubscriberHx_seq;
END^
SET TERM ; ^

SET TERM ^ ;
CREATE TRIGGER mp_LetterSendLog_bi FOR mp_LetterSendLog ACTIVE BEFORE 
INSERT POSITION 0
AS
BEGIN
IF (NEW.RowID  IS NULL) THEN
 NEW.RowID  = NEXT VALUE FOR mp_LetterSendLog_seq;
END^
SET TERM ; ^


