SET TERM ^ ;

CREATE PROCEDURE MP_LETTERSENDLOG_INSERT(
	LETTERGUID			CHAR(36),
	USERGUID			CHAR(36),
	EMAILADDRESS			VARCHAR(100),
	UTC			TIMESTAMP,
	ERROROCCURRED			SMALLINT,
	ERRORMESSAGE			BLOB SUB_TYPE 1
) 
RETURNS
(
	ROWID INTEGER
)
AS

BEGIN
 ROWID = NEXT VALUE FOR mp_LetterSendLog_seq;

INSERT INTO 	MP_LETTERSENDLOG
(				
                ROWID,
                LETTERGUID,
                USERGUID,
                EMAILADDRESS,
                UTC,
                ERROROCCURRED,
                ERRORMESSAGE
) 
VALUES 
(				
               :ROWID,
               :LETTERGUID,
               :USERGUID,
               :EMAILADDRESS,
               :UTC,
               :ERROROCCURRED,
               :ERRORMESSAGE
);

END^

SET TERM ; ^


SET TERM ^ ;

CREATE PROCEDURE MP_LETTERSUBSCRIBERHX_INSERT(
	LETTERINFOGUID			CHAR(36),
	USERGUID			CHAR(36),
	USEHTML			SMALLINT,
	BEGINUTC			TIMESTAMP,
	ENDUTC			TIMESTAMP
) 
RETURNS
(
	ROWID INTEGER
)
AS

BEGIN
 ROWID = NEXT VALUE FOR mp_LetterSubscriberHx_seq;

INSERT INTO 	MP_LETTERSUBSCRIBERHX
(				
                ROWID,
                LETTERINFOGUID,
                USERGUID,
                USEHTML,
                BEGINUTC,
                ENDUTC
) 
VALUES 
(				
               :ROWID,
               :LETTERINFOGUID,
               :USERGUID,
               :USEHTML,
               :BEGINUTC,
               :ENDUTC
);

END^

SET TERM ; ^


