CREATE TABLE MP_RSSFEEDENTRIES
(
  ROWGUID Varchar(36) NOT NULL,
  MODULEGUID Varchar(36) NOT NULL,
  FEEDGUID Varchar(36) NOT NULL,
  FEEDID Integer NOT NULL,
  PUBDATE Timestamp NOT NULL,
  TITLE Varchar(255) NOT NULL,
  AUTHOR Varchar(100),
  BLOGURL Varchar(255) NOT NULL,
  DESCRIPTION Blob sub_type 1 NOT NULL,
  LINK Varchar(255) NOT NULL,
  CONFIRMED Smallint NOT NULL,
  ENTRYHASH Integer NOT NULL,
  CACHEDTIMEUTC Timestamp NOT NULL,
  PRIMARY KEY (ROWGUID)
);
CREATE TABLE MP_RSSFEEDS
(
  ITEMID Integer NOT NULL,
  MODULEID Integer NOT NULL,
  CREATEDDATE Timestamp NOT NULL,
  USERID Integer NOT NULL,
  AUTHOR Varchar(100) NOT NULL,
  URL Varchar(255) NOT NULL,
  RSSURL Varchar(255) NOT NULL,
  ITEMGUID Varchar(36),
  MODULEGUID Varchar(36),
  USERGUID Varchar(36),
  LASTMODUSERGUID Varchar(36),
  LASTMODUTC Timestamp,
  IMAGEURL Varchar(255),
  FEEDTYPE Varchar(20),
  PUBLISHBYDEFAULT Integer,
  PRIMARY KEY (ITEMID)
);
