<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteBlogHandler"
			 type="mojoPortal.Features.SitePreDeleteBlogHandler, mojoPortal.Features.UI"
			 description="Deletes content from the blog module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>