<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteContactFormHandler"
			 type="mojoPortal.Features.SitePreDeleteContactFormHandler, mojoPortal.Features.UI"
			 description="Deletes content from the contact from module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>