<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeletePollsHandler"
			 type="mojoPortal.Features.SitePreDeletePollsHandler, mojoPortal.Features.UI"
			 description="Deletes content from the poll module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>