<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteSurveyHandler"
			 type="mojoPortal.Features.SitePreDeleteSurveyHandler, mojoPortal.Features.UI"
			 description="Deletes content from the survey module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>