 -- Indexes and Statistics for SuperFlexi tables.

SET ANSI_PADDING ON

CREATE NONCLUSTERED INDEX [IX_i7_sflexi_fields_DefGuid_Name] ON [dbo].[i7_sflexi_fields]
(
	[DefinitionGuid] ASC,
	[Name] ASC
)
INCLUDE([FieldGuid]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_i7_sflexi_fields_DefGuid_Name_Deleted_Sort] ON [dbo].[i7_sflexi_fields]
(
	[DefinitionGuid] ASC,
	[IsDeleted] ASC,
	[SortOrder] ASC,
	[Name] ASC
)
INCLUDE([SiteGuid],[FeatureGuid],[FieldGuid],[DefinitionName],[Label],[DefaultValue],[ControlType],[ControlSrc],[HelpKey],[Required],[RequiredMessageFormat],[Regex],[RegexMessageFormat],[Token],[Searchable],[EditPageControlWrapperCssClass],[EditPageLabelCssClass],[EditPageControlCssClass],[DatePickerIncludeTimeForDate],[DatePickerShowMonthList],[DatePickerShowYearList],[DatePickerYearRange],[ImageBrowserEmptyUrl],[Options],[CheckBoxReturnBool],[CheckBoxReturnValueWhenTrue],[CheckBoxReturnValueWhenFalse],[DateFormat],[TextBoxMode],[Attributes],[PreTokenString],[PostTokenString],[IsGlobal],[ViewRoles],[EditRoles],[PreTokenStringWhenTrue],[PostTokenStringWhenTrue],[PreTokenStringWhenFalse],[PostTokenStringWhenFalse],[DataType],[IsList]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_i7_sflexi_fields_SortOrder_Name_IsDeleted_DefinitionGuid] ON [dbo].[i7_sflexi_fields]
(
	[SortOrder] ASC,
	[Name] ASC,
	[IsDeleted] ASC,
	[DefinitionGuid] ASC
)
INCLUDE([SiteGuid],[FeatureGuid],[FieldGuid],[DefinitionName],[Label],[DefaultValue],[ControlType],[ControlSrc],[HelpKey],[Required],[RequiredMessageFormat],[Regex],[RegexMessageFormat],[Token],[Searchable],[EditPageControlWrapperCssClass],[EditPageLabelCssClass],[EditPageControlCssClass],[DatePickerIncludeTimeForDate],[DatePickerShowMonthList],[DatePickerShowYearList],[DatePickerYearRange],[ImageBrowserEmptyUrl],[Options],[CheckBoxReturnBool],[CheckBoxReturnValueWhenTrue],[CheckBoxReturnValueWhenFalse],[DateFormat],[TextBoxMode],[Attributes],[PreTokenString],[PostTokenString],[IsGlobal],[ViewRoles],[EditRoles],[PreTokenStringWhenTrue],[PostTokenStringWhenTrue],[PreTokenStringWhenFalse],[PostTokenStringWhenFalse],[DataType],[IsList]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]


CREATE NONCLUSTERED INDEX [IX_i7_sflexi_values_ModuleGuid_FieldGuid] ON [dbo].[i7_sflexi_values]
(
	[ModuleGuid] ASC,
	[FieldGuid] ASC
)
INCLUDE([ValueGuid],[ItemGuid],[FieldValue]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_i7_sflexi_items_ItemID_ItemGuid] ON [dbo].[i7_sflexi_items]
(
	[ItemID] ASC,
	[ItemGuid] ASC
)
INCLUDE([SiteGuid],[FeatureGuid],[ModuleGuid],[ModuleID],[DefinitionGuid],[SortOrder],[CreatedUtc],[LastModUtc],[ViewRoles],[EditRoles]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]

GO

CREATE STATISTICS [STAT_i7_sflexi_values_ItemGuid_ValueGuid_FieldGuid] ON [dbo].[i7_sflexi_values]([ItemGuid], [ValueGuid], [FieldGuid])
GO

CREATE STATISTICS [STAT_i7_sflexi_fields_SortOrder_Name_IsDeleted_DefinitionGuid] ON [dbo].[i7_sflexi_fields]([SortOrder], [Name], [IsDeleted], [DefinitionGuid])
GO

CREATE STATISTICS [STAT_i7_sflexi_fields_FieldGuid_DefinitionGuid_Name] ON [dbo].[i7_sflexi_fields]([FieldGuid], [DefinitionGuid], [Name])
GO

CREATE STATISTICS [STAT_i7_sflexi_fields_Name_DefinitionGuid] ON [dbo].[i7_sflexi_fields]([Name], [DefinitionGuid])
GO

CREATE STATISTICS [STAT_i7_sflexi_fields_Name_FieldGuid] ON [dbo].[i7_sflexi_fields]([Name], [FieldGuid])
GO

CREATE STATISTICS [STAT_i7_sflexi_values_ValueGuid_FieldGuid] ON [dbo].[i7_sflexi_values]([ValueGuid], [FieldGuid])
GO

CREATE STATISTICS [STAT_i7_sflexi_values_ItemGuid_ValueGuid] ON [dbo].[i7_sflexi_values]([ItemGuid], [ValueGuid])
GO

CREATE STATISTICS [STAT_i7_sflexi_values_FieldGuid_ModuleGuid] ON [dbo].[i7_sflexi_values]([FieldGuid], [ModuleGuid])
GO
