SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/********************************************************************
ALTER SelectPageForModule
********************************************************************/
ALTER PROCEDURE [dbo].[i7_sflexi_items_SelectPageForModule]
@ModuleID		INT
,@PageNumber    INT
,@PageSize      INT
,@SortDirection VARCHAR(4)
AS
SELECT
TOP (@PageSize) *
FROM
(
SELECT
RowID     = ROW_NUMBER() OVER (ORDER BY i.[SortOrder])
, TotalRows = Count(*) OVER ()
, i.*
FROM
[dbo].[i7_sflexi_items] i

WHERE
i.[ModuleID] = @ModuleID
)
a
WHERE
a.RowID > ((@PageNumber - 1) * @PageSize)
ORDER BY
CASE
WHEN @SortDirection = 'DESC'
THEN [SortOrder]
END DESC
, CASE
WHEN @SortDirection = 'ASC'
THEN [SortOrder]
END
/********************************************************************
END ALTER SelectPageForModule
********************************************************************/

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/********************************************************************
ALTER SelectPageForDefinition
********************************************************************/
ALTER PROCEDURE [dbo].[i7_sflexi_items_SelectPageForDefinition]

@DefGuid UNIQUEIDENTIFIER
,@SiteGuid UNIQUEIDENTIFIER
,@PageNumber    INT
,@PageSize      INT
,@SortDirection VARCHAR(4)
AS
SELECT
TOP (@PageSize) *
FROM
(
SELECT
RowID     = ROW_NUMBER() OVER (ORDER BY ms.[GlobalSort], i.[SortOrder])
, TotalRows = Count(*) OVER ()
, i.*
, ms.GlobalSort AS [GlobalSort]
FROM
[dbo].[i7_sflexi_items] i
JOIN	   (
select SettingName, SettingValue AS [GlobalSort], ModuleGuid
from [dbo].[mp_ModuleSettings]
where SettingName = 'GlobalViewSortOrder'
) ms on ms.ModuleGuid = i.ModuleGuid
WHERE
i.[DefinitionGuid] = @DefGuid
AND i.[SiteGuid]   = @SiteGuid
)
a
WHERE
a.RowID > ((@PageNumber - 1) * @PageSize)
ORDER BY
CASE WHEN @SortDirection = 'DESC' THEN  [GlobalSort] END DESC
,CASE WHEN @SortDirection = 'ASC' THEN  [GlobalSort] END
,CASE WHEN @SortDirection = 'DESC' THEN  [SortOrder] END DESC
,CASE WHEN @SortDirection = 'ASC' THEN  [SortOrder] END


/********************************************************************
END ALTER SelectPageForDefinition
********************************************************************/


GO