/****** Object:  StoredProcedure [dbo].[i7_sflexi_items_SelectAllForDefinition]    Script Date: 1/17/2017 11:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[i7_sflexi_items_SelectAllForDefinition]

/*
Author:   			i7MEDIA
Created: 			2015-11-18
Last Modified: 		2017-01-17
*/

@DefinitionGuid uniqueidentifier

AS


SELECT
[SiteGuid],
[FeatureGuid],
i.[ModuleGuid],
i.[ModuleID],
[DefinitionGuid],
[ItemGuid],
[ItemID],
i.[SortOrder],
[CreatedUtc],
[LastModUtc],
ms.SettingValue AS [GlobalViewSortOrder]

FROM
[dbo].[i7_sflexi_items] i
left join [mp_ModuleSettings] ms ON ms.ModuleGuid = i.ModuleGuid
WHERE
[DefinitionGuid] = @DefinitionGuid
AND ms.SettingName = 'GlobalViewSortOrder'
ORDER BY [GlobalViewSortOrder] asc, i.ModuleID asc, [SortOrder] asc, [CreatedUtc] asc