SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[i7_sflexi_items_SelectOneByGuid]

/*
Author:   			i7MEDIA
Created: 			2017-08-16
Last Modified: 		2017-08-16
*/

@ItemGuid uniqueidentifier

AS


SELECT
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ModuleID],
		[DefinitionGuid],
		[ItemGuid],
		[ItemID],
		[SortOrder],
		[CreatedUtc],
		[LastModUtc]
		
FROM
		[dbo].[i7_sflexi_items]
		
WHERE
		[ItemGuid] = @ItemGuid
		
GO