
INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('Slogan','Slogan Text','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SiteMapSkin','','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('RolesThatCanEditSkins','','Admin', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('AllowUserEditorPreference','false','Admin', 100);

UPDATE MP_USERS
SET EmailChangeGuid = '00000000-0000-0000-0000-000000000000';

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('TimeZoneId','Eastern Standard Time','Settings', 100);

