CREATE TABLE mp_Comments (
 Guid VARCHAR(36) NOT NULL, 
 ParentGuid VARCHAR(36) NOT NULL,
 SiteGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 ContentGuid VARCHAR(36) NOT NULL,
 UserGuid VARCHAR(36) NOT NULL,
 Title VARCHAR(255) ,
 UserComment Blob sub_type 1 NOT NULL,
 UserName VARCHAR(50) NOT NULL,
 UserEmail VARCHAR(100) NOT NULL,
 UserUrl VARCHAR(255) ,
 UserIp VARCHAR(50) NOT NULL,
 CreatedUtc TIMESTAMP NOT NULL,
 LastModUtc TIMESTAMP NOT NULL,
 ModerationStatus SmallInt NOT NULL,
 ModeratedBy VARCHAR(36) NOT NULL,
 ModerationReason VARCHAR(255) ,
 PRIMARY KEY (Guid)   
);

