<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="74bdbcc2-0e79-47ff-bcd4-a159270bf36e"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="LinkResources"
		featureNameReasourceKey="FeatureName" 
		controlSource="List/ListModule.ascx"
		sortOrder="500"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="true"
    searchListNameResourceKey="LinksSearchName"
    deleteProvider="LinksContentDeleteHandler"
    supportsPageReuse="true"
		>
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="IntroContent"
			defaultValue=""
			controlType=""
      controlSrc=""
      helpKey=""
      sortOrder="1"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="LinkResources"
			resourceKey="LinksShowDescriptionSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Links-ShowDescriptionSetting-help"
      sortOrder="100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="LinksShowOnlyDescriptionSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Links-ShowOnlyDescriptionSetting-help"
      sortOrder="200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="LinksEnablePagingSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Links-EnablePagingSetting-help"
      sortOrder="300"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="UseAjaxPaging"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Links-useajaxpaging-help"
      sortOrder="400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="LinksPageSizeSetting"
			defaultValue="50"
			controlType="TextBox"
      controlSrc=""
      helpKey="Links-PageSizeSetting-help"
      sortOrder="500"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
		
    
    <!--<featureSetting
			resourceFile="LinkResources"
			resourceKey="LinksAddWebSnaprCss"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Links-AddWebSnaprCss-help"
      sortOrder="700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="LinksWebSnaprKeySetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="Links-WebSnaprKeySetting-help"
      sortOrder="800"
			regexValidationExpression=""
			/>-->
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="LinksExtraCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="Links-ExtraCssClassSetting-help"
      sortOrder="900"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>

    <featureSetting
			resourceFile="LinkResources"
			resourceKey="ShowPageLeftContentSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Links-ShowPageLeftContentSetting-help"
      sortOrder="10000"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="LinkResources"
			resourceKey="ShowPageRightContentSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="LinksShowPageRightContentSetting-help"
      sortOrder="10100"
			regexValidationExpression=""
			/>
    
	</featureDefinition>
</featureDefinitions>

