CREATE TABLE `mp_Blogs` (
  `ItemID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `CreatedByUser` varchar(100) NOT NULL default '',
  `CreatedDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `Title` varchar(100) default NULL,
  `Excerpt` text NOT NULL,
  `StartDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `IsInNewsletter` INTEGER NOT NULL default '0',
  `Description` text NOT NULL,
  `CommentCount` INTEGER NOT NULL default '0',
  `TrackBackCount` INTEGER NOT NULL default '0',
  `Category` varchar(50) default NULL,
  `IncludeInFeed` INTEGER default '1',
  `AllowCommentsForDays` INTEGER default '0'
, BlogGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
Location text, 
UserGuid VARCHAR(36), 
LastModUserGuid VARCHAR(36), 
LastModUtc datetime, 
ItemUrl VARCHAR(255));


CREATE TABLE `mp_BlogCategories` (
  `CategoryID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `Category` varchar(255) NOT NULL default '',
  `PostCount` INTEGER NOT NULL default '0'
);

CREATE TABLE `mp_BlogComments` (
  `BlogCommentID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `ItemID` INTEGER NOT NULL default '0',
  `Comment` text NOT NULL,
  `Title` varchar(100) default NULL,
  `Name` varchar(100) default NULL,
  `URL` varchar(250) default NULL,
  `DateCreated` datetime NOT NULL default '0000-00-00 00:00:00'
);

CREATE TABLE `mp_BlogItemCategories` (
  `ID` INTEGER PRIMARY KEY,
  `ItemID` INTEGER NOT NULL default '0',
  `CategoryID` INTEGER NOT NULL default '0'
);


CREATE TABLE `mp_BlogStats` (
  `ModuleID` INTEGER NOT NULL default '0',
  `EntryCount` INTEGER NOT NULL default '0',
  `CommentCount` INTEGER NOT NULL default '0',
  `TrackBackCount` INTEGER NOT NULL default '0'
, ModuleGuid VARCHAR(36));

