<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="f193cce1-6e28-4b73-88e7-e00cd1d642c9"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="HtmlIncludeResources"
		featureNameReasourceKey="HtmlFragmentIncludeFeatureName"
		controlSource="HtmlInclude/HtmlFragmentInclude.ascx"
		sortOrder="950"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
	<featureSetting
		resourceFile="HtmlIncludeResources"
		resourceKey="HtmlFragmentSourceSetting"
		defaultValue="fragment1.htm"
		controlType="TextBox"
    controlSrc=""
      helpKey=""
      sortOrder="100"
		regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="HtmlIncludeResources"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="200"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
	</featureDefinition>
</featureDefinitions>

