<?xml version="1.0" encoding="utf-8" ?>
<SiteCreatedEventHandlers>
	<providers>

		<add name="DoNothingSiteCreatedEventHandler"
			 type="mojoPortal.Business.WebHelpers.SiteCreatedEventHandlers.DoNothingSiteCreatedEventHandler, mojoPortal.Business.WebHelpers"
			 description="This is a placeholder, do not delete this one. There must always be at least on provider in the collection. This one is not used but is here for medium trust issues." />

		
	</providers>
</SiteCreatedEventHandlers>