CREATE TABLE mp_PlugNPayLog (
 RowGuid VARCHAR(36) NOT NULL, 
 CreatedUtc TIMESTAMP NOT NULL,
 SiteGuid VARCHAR(36) NOT NULL,
 UserGuid VARCHAR(36) NOT NULL,
 StoreGuid VARCHAR(36) NOT NULL,
 CartGuid VARCHAR(36) NOT NULL,
 RawResponse BLOB SUB_TYPE 1 ,
 ResponseCode VARCHAR(10) ,
 ResponseReasonCode VARCHAR(20) ,
 Reason BLOB SUB_TYPE 1 ,
 AvsCode VARCHAR(50) ,
 CcvCode VARCHAR(10) ,
 CavCode VARCHAR(10) ,
 TransactionId VARCHAR(50) ,
 TransactionType VARCHAR(50) ,
 Method VARCHAR(20) ,
 AuthCode VARCHAR(50) ,
 Amount Decimal (15,4) ,
 Tax Decimal (15,4) ,
 Duty Decimal (15,4) ,
 Freight Decimal (15,4) ,
 PRIMARY KEY (RowGuid)   
);

