
ALTER TABLE mp_Blogs ADD COLUMN `SubTitle` varchar(500);
ALTER TABLE mp_Blogs ADD COLUMN `EndDate` datetime NULL;
ALTER TABLE mp_Blogs ADD COLUMN `Approved` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Blogs ADD COLUMN `ApprovedDate` datetime NULL;
ALTER TABLE mp_Blogs ADD COLUMN `ApprovedBy` varchar(36) NOT NULL default '00000000-0000-0000-0000-000000000000';

UPDATE mp_Blogs SET ApprovedDate = CreatedDate;
