
ALTER TABLE mp_Blogs ADD COLUMN `IncludeInNews` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Blogs ADD COLUMN `PubName` varchar(255) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `PubLanguage` varchar(7) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `PubAccess` varchar(20) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `PubGenres` varchar(255) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `PubKeyWords` varchar(255) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `PubGeoLocations` varchar(255) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `PubStockTickers` varchar(255) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `HeadlineImageUrl` varchar(255) NULL;
ALTER TABLE mp_Blogs ADD COLUMN `IncludeImageInExcerpt` tinyint(1) unsigned NOT NULL default '1';

