ALTER TABLE mp_Blogs ADD COLUMN `ShowAuthorName` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Blogs ADD COLUMN `ShowAuthorAvatar` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Blogs ADD COLUMN `ShowAuthorBio` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Blogs ADD COLUMN `IncludeInSearch` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Blogs ADD COLUMN `IncludeInSiteMap` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Blogs ADD COLUMN `UseBingMap` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Blogs ADD COLUMN `MapHeight` varchar(10) NOT NULL default '300';
ALTER TABLE mp_Blogs ADD COLUMN `MapWidth` varchar(10) NOT NULL default '500';
ALTER TABLE mp_Blogs ADD COLUMN `ShowMapOptions` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Blogs ADD COLUMN `ShowZoomTool` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Blogs ADD COLUMN `ShowLocationInfo` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Blogs ADD COLUMN `UseDrivingDirections` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Blogs ADD COLUMN `MapType` varchar(20) NOT NULL default 'G_SATELLITE_MAP';
ALTER TABLE mp_Blogs ADD COLUMN `MapZoom` tinyint(1) unsigned NOT NULL default '13';
ALTER TABLE mp_Blogs ADD COLUMN `ShowDownloadLink` tinyint(1) unsigned NOT NULL default '0';

UPDATE mp_Blogs
SET IncludeInSiteMap = 1,
UseBingMap = 0,
MapHeight = '300',
MapWidth = '500',
ShowMapOptions = 1,
ShowZoomTool = 1,
ShowLocationInfo = 0,
UseDrivingDirections = 0,
MapType = 'G_SATELLITE_MAP',
MapZoom = 13,
ShowDownloadLink = 1
;



