DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'OdiogoFeedIDSetting'

DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'OdiogoPodcastUrlSetting'

DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'BlogAddThisRssButtonImageUrlSetting'

DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'BlogHideAddThisButtonSetting'

DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'BlogAddThisDotComUsernameSetting'
