CREATE TABLE "mp_surveys" (
  "surveyguid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "surveyname" varchar(255) NOT NULL,
    "creationdate" timestamp NOT NULL,
    startpagetext text NULL,
    endpagetext text NULL);
	
CREATE UNIQUE INDEX "mp_surveys_pkey"
  ON "mp_surveys"("surveyguid");     

ALTER TABLE mp_surveys
ADD CONSTRAINT pk_surveys PRIMARY KEY (surveyguid);    


CREATE TABLE "mp_surveymodules" (
	"surveyguid" char(36) NOT NULL, 
	"moduleid" int4 NOT NULL);
	
CREATE UNIQUE INDEX "mp_surveymodules_pkey"
  ON "mp_surveymodules"("surveyguid","moduleid");     


ALTER TABLE mp_surveymodules
ADD CONSTRAINT pk_surveymodules PRIMARY KEY (surveyguid,moduleid);   

CREATE TABLE "mp_surveypages" (
    "pageguid" char(36) NOT NULL, 
    "surveyguid" char(36) NOT NULL,
    "pagetitle" varchar(255) NOT NULL,
    "pageorder" int4 NOT NULL,
    "pageenabled" bool NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_surveypages_pkey"
  ON "mp_surveypages"("pageguid");     



ALTER TABLE mp_surveypages
ADD CONSTRAINT pk_surveypages PRIMARY KEY (pageguid);


CREATE TABLE "mp_surveyquestions" (
   "questionguid" char(36) NOT NULL, 
    "pageguid" char(36) NOT NULL,
    "questiontext" text NULL,
    "questiontypeid" int4 NOT NULL,
    "answerisrequired" bool NOT NULL,
    "questionorder" int4 NOT NULL,
    "validationmessage" varchar(255) NOT NULL);
	
CREATE UNIQUE INDEX "mp_surveyquestions_pkey"
  ON "mp_surveyquestions"("questionguid");     

ALTER TABLE mp_surveyquestions
ADD CONSTRAINT pk_surveyquestions PRIMARY KEY (questionguid); 


CREATE TABLE "mp_surveyquestionoptions" (
   "questionoptionguid" char(36) NOT NULL, 
    "questionguid" char(36) NOT NULL,
    "answer" varchar(255) NOT NULL,
    "order" int4 NOT NULL);
	
CREATE UNIQUE INDEX "mp_surveyquestionoptions_pkey"
  ON "mp_surveyquestionoptions"("questionoptionguid");     


ALTER TABLE mp_surveyquestionoptions
ADD CONSTRAINT pk_surveyquestionoptions PRIMARY KEY (questionoptionguid);  

CREATE TABLE "mp_surveyresponses" (
   "responseguid" char(36) NOT NULL, 
    "surveyguid" char(36) NOT NULL,
    "submissiondate" timestamp NULL,
    "annonymous" bool NOT NULL,
    "complete" bool NOT NULL,
    "userguid" char(36) NULL);
	
CREATE UNIQUE INDEX "mp_surveyresponses_pkey"
  ON "mp_surveyresponses"("responseguid");     

ALTER TABLE mp_surveyresponses
ADD CONSTRAINT pk_surveyresponses PRIMARY KEY (responseguid);

CREATE TABLE "mp_surveyquestionanswers" (
	"answerguid" char(36) NOT NULL, 
    "questionguid" char(36) NOT NULL,
    "responseguid" char(36) NOT NULL,
    "answer" text NOT NULL,
    "answereddate" timestamp NOT NULL);
	
CREATE UNIQUE INDEX "mp_surveyquestionanswers_pkey"
  ON "mp_surveyquestionanswers"("answerguid");     


ALTER TABLE mp_surveyquestionanswers
ADD CONSTRAINT pk_surveyquestionanswers PRIMARY KEY (answerguid);




