ALTER TABLE i7_sflexi_fields ADD COLUMN `ViewRoles` LONGTEXT NOT NULL DEFAULT 'All Users;';
ALTER TABLE i7_sflexi_fields ADD COLUMN `EditRoles` LONGTEXT NOT NULL DEFAULT '';
ALTER TABLE i7_sflexi_fields ADD COLUMN `PreTokenStringWhenTrue` LONGTEXT NOT NULL DEFAULT '';
ALTER TABLE i7_sflexi_fields ADD COLUMN `PostTokenStringWhenTrue` LONGTEXT NOT NULL DEFAULT '';
ALTER TABLE i7_sflexi_fields ADD COLUMN `PreTokenStringWhenFalse` LONGTEXT NOT NULL DEFAULT '';
ALTER TABLE i7_sflexi_fields ADD COLUMN `PostTokenStringWhenFalse` LONGTEXT NOT NULL DEFAULT '';