ALTER TABLE mp_ForumPosts ADD COLUMN `NotificationSent` INTEGER default 1;
ALTER TABLE mp_ForumPosts ADD COLUMN `ModStatus` INTEGER default '1';

ALTER TABLE mp_ForumThreads ADD COLUMN `ModStatus` INTEGER default '1';
ALTER TABLE mp_ForumThreads ADD COLUMN `ThreadType` varchar(100);
ALTER TABLE mp_ForumThreads ADD COLUMN `AssignedTo` char(36) default '00000000-0000-0000-0000-000000000000';
ALTER TABLE mp_ForumThreads ADD COLUMN `LockedBy` char(36) default '00000000-0000-0000-0000-000000000000';
ALTER TABLE mp_ForumThreads ADD COLUMN `LockedReason` varchar(255) NULL;
ALTER TABLE mp_ForumThreads ADD COLUMN `LockedUtc` datetime NULL;

ALTER TABLE `mp_Forums` ADD COLUMN `RolesThatCanPost` varchar default 'Authenticated Users';
ALTER TABLE `mp_Forums` ADD COLUMN `RolesThatCanModerate` varchar;
ALTER TABLE `mp_Forums` ADD COLUMN `ModeratorNotifyEmail` varchar;
ALTER TABLE `mp_Forums` ADD COLUMN `IncludeInGoogleMap` INTEGER default 1;
ALTER TABLE `mp_Forums` ADD COLUMN `AddNoIndexMeta` INTEGER default 0;
ALTER TABLE `mp_Forums` ADD COLUMN `Closed` INTEGER default 0;
ALTER TABLE `mp_Forums` ADD COLUMN `Visible` INTEGER default 1;
ALTER TABLE `mp_Forums` ADD COLUMN `RequireModeration` INTEGER default 0;
ALTER TABLE `mp_Forums` ADD COLUMN `RequireModForNotify` INTEGER default 0;
ALTER TABLE `mp_Forums` ADD COLUMN `AllowTrustedDirectPosts` INTEGER default 0;
ALTER TABLE `mp_Forums` ADD COLUMN `AllowTrustedDirectNotify` INTEGER default 0;


