ALTER TABLE `mp_Forums` ADD COLUMN `ForumGuid` varchar(36);

ALTER TABLE `mp_ForumThreads` ADD COLUMN `ThreadGuid` varchar(36);
ALTER TABLE `mp_ForumThreads` ADD COLUMN `IsQuestion` INTEGER;
ALTER TABLE `mp_ForumThreads` ADD COLUMN `IncludeInSiteMap` INTEGER;
ALTER TABLE `mp_ForumThreads` ADD COLUMN `SetNoIndexMeta` INTEGER;
ALTER TABLE `mp_ForumThreads` ADD COLUMN `PTitleOverride` varchar(255);

ALTER TABLE `mp_ForumPosts` ADD COLUMN `PostGuid` varchar(36);
ALTER TABLE `mp_ForumPosts` ADD COLUMN `AnswerVotes` INTEGER;
ALTER TABLE `mp_ForumPosts` ADD COLUMN `ApprovedBy` varchar(36);
ALTER TABLE `mp_ForumPosts` ADD COLUMN `ApprovedUtc` datetime;
ALTER TABLE `mp_ForumPosts` ADD COLUMN `UserIp` varchar(50);


UPDATE mp_ForumThreads
SET IsQuestion = 1,
IncludeInSiteMap = 1,
SetNoIndexMeta = 0;

UPDATE mp_ForumPosts
SET AnswerVotes = 0;
