<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="59ec610a-afab-4c26-8859-fbb2659ab2cb"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="BingResources"
		featureNameReasourceKey="BingMapFeatureName" 
		controlSource="BingMap/BingMapModule.ascx"
		sortOrder="600"
		isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="true"
		icon="blank.gif"
		>
		<featureSetting
			resourceFile="BingResources"
			resourceKey="LocationSetting"
			defaultValue="Microsoft, Redmond, WA"
			controlType="TextBox"
			controlSrc=""
			helpKey=""
			sortOrder="100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="Caption"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey=""
			sortOrder="120"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="ShowLocationPin"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="150"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="MapHeightSetting"
			defaultValue="300"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="200"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="MapWidthSetting"
			defaultValue="500"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="300"
			regexValidationExpression="^[1-9][0-9]{0,4}[px|%]?"
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="ShowMapControls"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="InitialZoomSetting"
			defaultValue="13"
			controlType="ISettingControl"
      controlSrc="~/Controls/Microsoft/BingMapZoomSetting.ascx"
      helpKey=""
      sortOrder="500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="InitialMapStyleSetting"
			defaultValue="VEMapStyle.Road"
			controlType="ISettingControl"
      controlSrc="~/Controls/Microsoft/BingMapStyleSetting.ascx"
      helpKey=""
      sortOrder="600"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="EnableDrivingDirections"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="DrivingDirectionsDistanceUnit"
			defaultValue="VERouteDistanceUnit.Mile"
			controlType="ISettingControl"
      controlSrc="~/Controls/Microsoft/BingMapDistanceUnitSetting.ascx"
      helpKey=""
      sortOrder="800"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BingResources"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="900"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
	</featureDefinition>
</featureDefinitions>

