<?xml version="1.0" encoding="utf-8" ?>
<OrderCompletedHandlers>
	<providers>

		<add name="DoNothingOrderCompletedHandler"
			 type="WebStore.Components.DoNothingOrderCompletedHandler, WebStore.UI"
			 description="This is a placeholder, do not delete this one. There must always be at least on provider in the collection. " />

		
	</providers>
</OrderCompletedHandlers>