ALTER TABLE MP_SITES ADD 
CaptchaProvider Varchar(255);

ALTER TABLE MP_SITES ADD 
DatePickerProvider Varchar(255);

ALTER TABLE MP_SITES ADD 
RecaptchaPrivateKey Varchar(255);

ALTER TABLE MP_SITES ADD 
RecaptchaPublicKey Varchar(255);

ALTER TABLE MP_SITES ADD 
WordpressAPIKey Varchar(255);

ALTER TABLE MP_SITES ADD 
WindowsLiveAppID Varchar(255);

ALTER TABLE MP_SITES ADD 
WindowsLiveKey Varchar(255);

ALTER TABLE MP_SITES ADD 
AllowOpenIDAuth Smallint;

ALTER TABLE MP_SITES ADD 
AllowWindowsLiveAuth Smallint;

ALTER TABLE MP_USERS ADD 
OpenIDURI Varchar(255);

ALTER TABLE MP_USERS ADD 
WindowsLiveID Varchar(36);