SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[i7_sflexi_fields](
[SiteGuid] [uniqueidentifier] NOT NULL,
[FeatureGuid] [uniqueidentifier] NOT NULL,
[DefinitionGuid] [uniqueidentifier] NOT NULL,
[FieldGuid] [uniqueidentifier] NOT NULL,
[DefinitionName] [nvarchar](50) NULL,
[Name] [nvarchar](50) NULL,
[Label] [nvarchar](255) NULL,
[DefaultValue] [nvarchar](max) NULL,
[ControlType] [nvarchar](16) NULL,
[ControlSrc] [nvarchar](max) NULL,
[SortOrder] [int] NULL,
[HelpKey] [nvarchar](255) NULL,
[Required] [bit] NULL,
[RequiredMessageFormat] [nvarchar](max) NULL,
[Regex] [nvarchar](max) NULL,
[RegexMessageFormat] [nvarchar](max) NOT NULL,
[Token] [nvarchar](50) NULL,
[Searchable] [bit] NULL,
[EditPageControlWrapperCssClass] [nvarchar](50) NULL,
[EditPageLabelCssClass] [nvarchar](50) NULL,
[EditPageControlCssClass] [nvarchar](50) NULL,
[DatePickerIncludeTimeForDate] [bit] NULL,
[DatePickerShowMonthList] [bit] NULL,
[DatePickerShowYearList] [bit] NULL,
[DatePickerYearRange] [nvarchar](10) NULL,
[ImageBrowserEmptyUrl] [nvarchar](max) NULL,
[Options] [nvarchar](max) NULL,
[CheckBoxReturnBool] [bit] NULL,
[CheckBoxReturnValueWhenTrue] [nvarchar](max) NULL,
[CheckBoxReturnValueWhenFalse] [nvarchar](max) NULL,
[DateFormat] [nvarchar](max) NULL,
CONSTRAINT [PK_i7_sflexi_fields] PRIMARY KEY CLUSTERED
(
[FieldGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


CREATE TABLE [dbo].[i7_sflexi_items](
[SiteGuid] [uniqueidentifier] NOT NULL,
[FeatureGuid] [uniqueidentifier] NOT NULL,
[ModuleGuid] [uniqueidentifier] NOT NULL,
[ModuleID] [int] NOT NULL,
[DefinitionGuid] [uniqueidentifier] NOT NULL,
[ItemGuid] [uniqueidentifier] NOT NULL,
[ItemID] [int] IDENTITY(1,1) NOT NULL,
[SortOrder] [int] NOT NULL,
[CreatedUtc] [datetime] NOT NULL,
[LastModUtc] [datetime] NOT NULL,
CONSTRAINT [PK_i7_sflexi_items] PRIMARY KEY CLUSTERED
(
[ItemGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[i7_sflexi_values](
[ValueGuid] [uniqueidentifier] NOT NULL,
[SiteGuid] [uniqueidentifier] NOT NULL,
[FeatureGuid] [uniqueidentifier] NOT NULL,
[ModuleGuid] [uniqueidentifier] NOT NULL,
[ItemGuid] [uniqueidentifier] NOT NULL,
[FieldGuid] [uniqueidentifier] NOT NULL,
[FieldValue] [nvarchar](max) NOT NULL,
CONSTRAINT [PK_i7_sflexi_values] PRIMARY KEY CLUSTERED
(
[ValueGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].i7_sflexi_fields_Delete

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@FieldGuid uniqueidentifier

AS

DELETE FROM [dbo].[i7_sflexi_fields]
WHERE
[FieldGuid] = @FieldGuid
GO


SET QUOTED_IDENTIFIER OFF
GO




SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].i7_sflexi_fields_DeleteBySite

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@SiteGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_fields]
WHERE
[SiteGuid] = @SiteGuid
GO


SET QUOTED_IDENTIFIER OFF
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].i7_sflexi_fields_DeleteByDefinition

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@DefinitionGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_fields]
WHERE
[DefinitionGuid] = @DefinitionGuid
GO


SET QUOTED_IDENTIFIER OFF
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].i7_sflexi_fields_GetCount

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

AS

SELECT COUNT(*) FROM [dbo].[i7_sflexi_fields]

GO


SET QUOTED_IDENTIFIER OFF
GO



SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].i7_sflexi_fields_SelectOne

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@FieldGuid uniqueidentifier

AS


SELECT *

FROM
[dbo].[i7_sflexi_fields]

WHERE
[FieldGuid] = @FieldGuid

GO



SET QUOTED_IDENTIFIER OFF
GO



SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].i7_sflexi_fields_SelectAll

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

AS


SELECT *

FROM
[dbo].[i7_sflexi_fields]

GO


SET QUOTED_IDENTIFIER OFF
GO


SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].i7_sflexi_fields_SelectAllForDefinition

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@DefinitionGuid uniqueidentifier

AS


SELECT *

FROM
[dbo].[i7_sflexi_fields]
WHERE
[DefinitionGuid] = @DefinitionGuid
ORDER BY [SortOrder], [Name]
GO


SET QUOTED_IDENTIFIER OFF
GO



SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.i7_sflexi_fields_Insert

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-27
*/
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@DefinitionGuid uniqueidentifier,
@FieldGuid uniqueidentifier,
@DefinitionName nvarchar(50),
@Name nvarchar(50),
@Label nvarchar(255),
@DefaultValue nvarchar(max),
@ControlType nvarchar(16),
@ControlSrc nvarchar(max),
@SortOrder int,
@HelpKey nvarchar(255),
@Required bit,
@RequiredMessageFormat nvarchar(max),
@Regex nvarchar(max),
@RegexMessageFormat nvarchar(max),
@Token nvarchar(50),
@Searchable bit,
@EditPageControlWrapperCssClass nvarchar(50),
@EditPageLabelCssClass nvarchar(50),
@EditPageControlCssClass nvarchar(50),
@DatePickerIncludeTimeForDate bit,
@DatePickerShowMonthList bit,
@DatePickerShowYearList bit,
@DatePickerYearRange nvarchar(10),
@ImageBrowserEmptyUrl nvarchar(max),
@Options nvarchar(max),
@CheckBoxReturnBool bit,
@CheckBoxReturnValueWhenTrue nvarchar(max),
@CheckBoxReturnValueWhenFalse nvarchar(max),
@DateFormat nvarchar(max)


AS

INSERT INTO 	[dbo].[i7_sflexi_fields]
(
[SiteGuid],
[FeatureGuid],
[DefinitionGuid],
[FieldGuid],
[DefinitionName],
[Name],
[Label],
[DefaultValue],
[ControlType],
[ControlSrc],
[SortOrder],
[HelpKey],
[Required],
[RequiredMessageFormat],
[Regex],
[RegexMessageFormat],
[Token],
[Searchable],
[EditPageControlWrapperCssClass],
[EditPageLabelCssClass],
[EditPageControlCssClass],
[DatePickerIncludeTimeForDate],
[DatePickerShowMonthList],
[DatePickerShowYearList],
[DatePickerYearRange],
[ImageBrowserEmptyUrl],
[Options],
[CheckBoxReturnBool],
[CheckBoxReturnValueWhenTrue],
[CheckBoxReturnValueWhenFalse],
[DateFormat]
)

VALUES
(
@SiteGuid,
@FeatureGuid,
@DefinitionGuid,
@FieldGuid,
@DefinitionName,
@Name,
@Label,
@DefaultValue,
@ControlType,
@ControlSrc,
@SortOrder,
@HelpKey,
@Required,
@RequiredMessageFormat,
@Regex,
@RegexMessageFormat,
@Token,
@Searchable,
@EditPageControlWrapperCssClass,
@EditPageLabelCssClass,
@EditPageControlCssClass,
@DatePickerIncludeTimeForDate,
@DatePickerShowMonthList,
@DatePickerShowYearList,
@DatePickerYearRange,
@ImageBrowserEmptyUrl,
@Options,
@CheckBoxReturnBool,
@CheckBoxReturnValueWhenTrue,
@CheckBoxReturnValueWhenFalse,
@DateFormat
)






SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].i7_sflexi_fields_Update

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-27
*/

@FieldGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@DefinitionGuid uniqueidentifier,
@DefinitionName nvarchar(50),
@Name nvarchar(50),
@Label nvarchar(255),
@DefaultValue nvarchar(max),
@ControlType nvarchar(16),
@ControlSrc nvarchar(max),
@SortOrder int,
@HelpKey nvarchar(255),
@Required bit,
@RequiredMessageFormat nvarchar(max),
@Regex nvarchar(max),
@RegexMessageFormat nvarchar(max),
@Token nvarchar(50),
@Searchable bit,
@EditPageControlWrapperCssClass nvarchar(50),
@EditPageLabelCssClass nvarchar(50),
@EditPageControlCssClass nvarchar(50),
@DatePickerIncludeTimeForDate bit,
@DatePickerShowMonthList bit,
@DatePickerShowYearList bit,
@DatePickerYearRange nvarchar(10),
@ImageBrowserEmptyUrl nvarchar(max),
@Options nvarchar(max),
@CheckBoxReturnBool bit,
@CheckBoxReturnValueWhenTrue nvarchar(max),
@CheckBoxReturnValueWhenFalse nvarchar(max),
@DateFormat nvarchar(max)

AS

UPDATE 		[dbo].[i7_sflexi_fields]

SET
[SiteGuid] = @SiteGuid,
[FeatureGuid] = @FeatureGuid,
[DefinitionGuid] = @DefinitionGuid,
[DefinitionName] = @DefinitionName,
[Name] = @Name,
[Label] = @Label,
[DefaultValue] = @DefaultValue,
[ControlType] = @ControlType,
[ControlSrc] = @ControlSrc,
[SortOrder] = @SortOrder,
[HelpKey] = @HelpKey,
[Required] = @Required,
[RequiredMessageFormat] = @RequiredMessageFormat,
[Regex] = @Regex,
[RegexMessageFormat] = @RegexMessageFormat,
[Token] = @Token,
[Searchable] = @Searchable,
[EditPageControlWrapperCssClass] = @EditPageControlWrapperCssClass,
[EditPageLabelCssClass] = @EditPageLabelCssClass,
[EditPageControlCssClass] = @EditPageControlCssClass,
[DatePickerIncludeTimeForDate] = @DatePickerIncludeTimeForDate,
[DatePickerShowMonthList] = @DatePickerShowMonthList,
[DatePickerShowYearList] = @DatePickerShowYearList,
[DatePickerYearRange] = @DatePickerYearRange,
[ImageBrowserEmptyUrl] = @ImageBrowserEmptyUrl,
[Options] = @Options,
[CheckBoxReturnBool] = @CheckBoxReturnBool,
[CheckBoxReturnValueWhenTrue] = @CheckBoxReturnValueWhenTrue,
[CheckBoxReturnValueWhenFalse] = @CheckBoxReturnValueWhenFalse,
[DateFormat] = @DateFormat

WHERE
[FieldGuid] = @FieldGuid

GO

SET QUOTED_IDENTIFIER OFF
GO





CREATE PROCEDURE [dbo].i7_sflexi_fields_SelectPage

-- Author:   			i7MEDIA
-- Created: 			2015-3-6
-- Last Modified: 		2015-3-6

@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

/*
Note: temp tables use the server default for collation not the database default
so if adding character columns be sure and specify to use the database collation like this
to avoid collation errors:

CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
)


*/

CREATE TABLE #PageIndex
(
IndexID int IDENTITY (1, 1) NOT NULL,
FieldGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex (
FieldGuid
)

SELECT
[FieldGuid]

FROM
[dbo].[i7_sflexi_fields]

-- WHERE

-- ORDER BY

END


SELECT
t1.*

FROM
[dbo].[i7_sflexi_fields] t1

JOIN			#PageIndex t2
ON
t1.[FieldGuid] = t2.[FieldGuid]

WHERE
t2.IndexID > @PageLowerBound
AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


SET QUOTED_IDENTIFIER OFF 
GO


SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_items_Delete

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ItemID int

AS

DELETE FROM [dbo].[i7_sflexi_items]
WHERE
	[ItemID] = @ItemID
GO


SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_items_DeleteByModule

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ModuleGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_items]
WHERE
    [ModuleGuid] = @ModuleGuid
GO


SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_items_DeleteBySite

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@SiteGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_items]
WHERE
    [SiteGuid] = @SiteGuid
GO


SET QUOTED_IDENTIFIER OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_items_DeleteByDefinition

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@DefinitionGuid uniqueidentifier
AS
DELETE FROM [dbo].i7_sflexi_values
WHERE [ItemGuid] = 
	(
		SELECT ItemGuid
		FROM [dbo].i7_sflexi_items
		WHERE [DefinitionGuid] = @DefinitionGuid
	)
  
DELETE FROM [dbo].[i7_sflexi_items]
WHERE
    [DefinitionGuid] = @DefinitionGuid
GO


SET QUOTED_IDENTIFIER OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO



CREATE PROCEDURE [dbo].i7_sflexi_items_GetCount

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

AS

SELECT COUNT(*) FROM [dbo].[i7_sflexi_items]

GO


SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_items_SelectOne

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ItemID int

AS


SELECT
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ModuleID],
		[DefinitionGuid],
		[ItemGuid],
		[ItemID],
		[SortOrder],
		[CreatedUtc],
		[LastModUtc]
		
FROM
		[dbo].[i7_sflexi_items]
		
WHERE
		[ItemID] = @ItemID

GO



SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_items_SelectAll

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

AS


SELECT
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ModuleID],
		[DefinitionGuid],
		[ItemGuid],
		[ItemID],
		[SortOrder],
		[CreatedUtc],
		[LastModUtc]
		
FROM
		[dbo].[i7_sflexi_items]

GO


SET QUOTED_IDENTIFIER OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO

CREATE PROCEDURE [dbo].i7_sflexi_items_SelectByCMSPage

/*
Author:   			i7MEDIA
Created: 			2015-3-31
Last Modified: 		2015-3-31
*/

@SiteGuid uniqueidentifier,
@PageID int  
AS

SELECT
		[SiteGuid],
		[FeatureGuid],
		sflexi_items.[ModuleGuid],
		sflexi_items.[ModuleID],
		[DefinitionGuid],
		[ItemGuid],
		[ItemID],
		[SortOrder],
		[CreatedUtc],
		[LastModUtc],
		pageModules.PageID
		
FROM
		[dbo].[i7_sflexi_items] sflexi_items
JOIN
		[mp_PageModules] pageModules on sflexi_items.[ModuleGuid] = pageModules.[ModuleGuid]
WHERE
    sflexi_items.[SiteGuid] = @SiteGuid
AND
	pageModules.[PageID] = @PageID
ORDER BY [SortOrder] asc

GO

SET QUOTED_IDENTIFIER OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO



CREATE PROCEDURE [dbo].i7_sflexi_items_SelectAllForModule

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ModuleID int
  
AS


SELECT
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ModuleID],
		[DefinitionGuid],
		[ItemGuid],
		[ItemID],
		[SortOrder],
		[CreatedUtc],
		[LastModUtc]
		
FROM
		[dbo].[i7_sflexi_items]
WHERE
    [ModuleID] = @ModuleID
ORDER BY [SortOrder] asc

GO


SET QUOTED_IDENTIFIER OFF 
GO




SET QUOTED_IDENTIFIER ON 
GO

CREATE PROCEDURE [dbo].i7_sflexi_items_Insert

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ItemGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ModuleID int,
@DefinitionGuid uniqueidentifier,
@SortOrder int,
@CreatedUtc datetime,
@LastModUtc datetime

	
AS

INSERT INTO 	[dbo].[i7_sflexi_items] 
(
				[ItemGuid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[ModuleID],
				[DefinitionGuid],
				[SortOrder],
				[CreatedUtc],
				[LastModUtc]
) 

VALUES 
(
				@ItemGuid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@ModuleID,
				@DefinitionGuid,
				@SortOrder,
				@CreatedUtc,
				@LastModUtc
				
)

SELECT @@IDENTITY

SET QUOTED_IDENTIFIER ON 
GO



CREATE PROCEDURE [dbo].i7_sflexi_items_Update

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/
	
@SiteGuid uniqueidentifier, 
@FeatureGuid uniqueidentifier, 
@ModuleGuid uniqueidentifier, 
@ModuleID int, 
@DefinitionGuid uniqueidentifier, 
@ItemGuid uniqueidentifier, 
@SortOrder int, 
@CreatedUtc datetime, 
@LastModUtc datetime 


AS

UPDATE 		[dbo].[i7_sflexi_items] 

SET
			[SiteGuid] = @SiteGuid,
			[FeatureGuid] = @FeatureGuid,
			[ModuleGuid] = @ModuleGuid,
			[ModuleID] = @ModuleID,
			[DefinitionGuid] = @DefinitionGuid,
			[SortOrder] = @SortOrder,
			[CreatedUtc] = @CreatedUtc,
			[LastModUtc] = @LastModUtc
			
WHERE
			[ItemGuid] = @ItemGuid

GO

SET QUOTED_IDENTIFIER OFF 
GO





CREATE PROCEDURE [dbo].i7_sflexi_items_SelectPage

-- Author:   			i7MEDIA
-- Created: 			2015-3-6
-- Last Modified: 		2015-3-6

@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

/*
Note: temp tables use the server default for collation not the database default
so if adding character columns be sure and specify to use the database collation like this
to avoid collation errors:

CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
) 


*/

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
ItemGuid
)

SELECT
		[ItemGuid]
		
FROM
		[dbo].[i7_sflexi_items]
		
-- WHERE

-- ORDER BY

END


SELECT
		t1.*
		
FROM
		[dbo].[i7_sflexi_items] t1

JOIN			#PageIndex t2
ON			
		t1.[ItemGuid] = t2.[ItemGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


SET QUOTED_IDENTIFIER OFF 
GO


SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_Delete

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ValueGuid uniqueidentifier

AS

DELETE FROM [dbo].[i7_sflexi_values]
WHERE
	[ValueGuid] = @ValueGuid
GO


SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_DeleteByModule

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ModuleGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_values]
WHERE
    [ModuleGuid] = @ModuleGuid
GO


SET QUOTED_IDENTIFIER OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_DeleteByField

/*
Author:   			i7MEDIA
Created: 			2015-3-24
Last Modified: 		2015-3-24
*/

@FieldGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_values]
WHERE
    [FieldGuid] = @FieldGuid
GO


SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_DeleteBySite

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@SiteGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_values]
WHERE
    [SiteGuid] = @SiteGuid
GO


SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO



CREATE PROCEDURE [dbo].i7_sflexi_values_GetCount

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

AS

SELECT COUNT(*) FROM [dbo].[i7_sflexi_values]

GO


SET QUOTED_IDENTIFIER OFF 
GO



SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_SelectOne

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ValueGuid uniqueidentifier

AS


SELECT
		[ValueGuid],
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ItemGuid],
		[FieldGuid],
		[FieldValue]
		
FROM
		[dbo].[i7_sflexi_values]
		
WHERE
		[ValueGuid] = @ValueGuid

GO



SET QUOTED_IDENTIFIER OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_SelectOneByItemField

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ItemGuid uniqueidentifier,
@FieldGuid uniqueidentifier

AS


SELECT
		[ValueGuid],
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ItemGuid],
		[FieldGuid],
		[FieldValue]
		
FROM
		[dbo].[i7_sflexi_values]
		
WHERE
		[ItemGuid] = @ItemGuid
AND
    [FieldGuid] = @FieldGuid

GO



SET QUOTED_IDENTIFIER OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_SelectAllByItemGuid

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ItemGuid uniqueidentifier

AS


SELECT
		[ValueGuid],
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ItemGuid],
		[FieldGuid],
		[FieldValue]
		
FROM
		[dbo].[i7_sflexi_values]
		
WHERE
		[ItemGuid] = @ItemGuid

GO



SET QUOTED_IDENTIFIER OFF 
GO      
      

SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].i7_sflexi_values_SelectAll

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

AS


SELECT
		[ValueGuid],
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ItemGuid],
		[FieldGuid],
		[FieldValue]
		
FROM
		[dbo].[i7_sflexi_values]

GO


SET QUOTED_IDENTIFIER OFF 
GO






SET QUOTED_IDENTIFIER ON 
GO

CREATE PROCEDURE [dbo].i7_sflexi_values_Insert

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/

@ValueGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ItemGuid uniqueidentifier,
@FieldGuid uniqueidentifier,
@FieldValue nvarchar(max)

	
AS

INSERT INTO 	[dbo].[i7_sflexi_values] 
(
				[ValueGuid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[ItemGuid],
				[FieldGuid],
				[FieldValue]
) 

VALUES 
(
				@ValueGuid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@ItemGuid,
				@FieldGuid,
				@FieldValue
)

SET QUOTED_IDENTIFIER ON 
GO

CREATE PROCEDURE [dbo].i7_sflexi_values_Update

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2015-3-6
*/
	
@ValueGuid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@FeatureGuid uniqueidentifier, 
@ModuleGuid uniqueidentifier, 
@ItemGuid uniqueidentifier, 
@FieldGuid uniqueidentifier, 
@FieldValue nvarchar(max) 


AS

UPDATE 		[dbo].[i7_sflexi_values] 

SET
			[SiteGuid] = @SiteGuid,
			[FeatureGuid] = @FeatureGuid,
			[ModuleGuid] = @ModuleGuid,
			[ItemGuid] = @ItemGuid,
			[FieldGuid] = @FieldGuid,
			[FieldValue] = @FieldValue
			
WHERE
			[ValueGuid] = @ValueGuid

GO

SET QUOTED_IDENTIFIER OFF 
GO





CREATE PROCEDURE [dbo].i7_sflexi_values_SelectPage

-- Author:   			i7MEDIA
-- Created: 			2015-3-6
-- Last Modified: 		2015-3-6

@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

/*
Note: temp tables use the server default for collation not the database default
so if adding character columns be sure and specify to use the database collation like this
to avoid collation errors:

CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
) 


*/

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ValueGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
ValueGuid
)

SELECT
		[ValueGuid]
		
FROM
		[dbo].[i7_sflexi_values]
		
-- WHERE

-- ORDER BY

END


SELECT
		t1.*
		
FROM
		[dbo].[i7_sflexi_values] t1

JOIN			#PageIndex t2
ON			
		t1.[ValueGuid] = t2.[ValueGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


SET QUOTED_IDENTIFIER OFF 
GO
