-- EXAMPLE SYNTAX FOR COMMON TASKS
-- 
-- ALTER TABLE mp_blogs ADD COLUMN allowcommentsfordays integer;
-- UPDATE mp_blogs SET allowcommentsfordays = 0;
-- ALTER TABLE mp_blogs ALTER COLUMN allowcommentsfordays SET DEFAULT 0;
-- ALTER TABLE mp_blogs ALTER COLUMN allowcommentsfordays SET NOT NULL;
-- ALTER TABLE mp_pages ADD COLUMN hideafterlogin bool NOT NULL DEFAULT false;
-- ALTER TABLE mp_users ADD COLUMN windowsliveid varchar(36);
-- ALTER TABLE mp_pages ADD COLUMN lastmodifiedutc timestamp;
-- ALTER TABLE mp_calendarevents ADD COLUMN ticketprice numeric(15,4);
-- CREATE INDEX ifk_blogcategories_moduleid ON mp_blogcategories(moduleid);
-- UPDATE mp_pages set parentguid = '00000000-0000-0000-0000-000000000000';
-- ALTER TABLE mp_sitemoduledefinitions
--      ADD CONSTRAINT fk_sitemoduledefinitions_sites FOREIGN KEY (siteid)
--     REFERENCES mp_sites MATCH SIMPLE
--     ON UPDATE RESTRICT ON DELETE RESTRICT;
-- ALTER TABLE mp_userproperties
--      ADD CONSTRAINT pk_userproperties PRIMARY KEY (propertyid)
--      ;

-- ### Leave the above here for reminders of the syntax









