<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="0cefbf18-56de-11dc-8f36-bac755d89593"
    supportedDatabases="MSSQL,MySQL"
		resourceFile="WebStoreResources"
		featureNameReasourceKey="WebStoreName"
		controlSource="WebStore/WebStoreModule.ascx"
		sortOrder="800"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="true"
    searchListNameResourceKey="WebStoreSearchName"
    deleteProvider="WebStoreContentDeleteHandler"
    supportsPageReuse="false"
		>
    <featureSetting
			resourceFile="WebStoreResources"
			resourceKey="EnableContentRatingInProductListSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="WebStoreResources"
			resourceKey="EnableRatingCommentsSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="WebStoreResources"
			resourceKey="IndexOffersSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="webstore-IndexOffersSetting-help"
      sortOrder="100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="WebStoreResources"
			resourceKey="ProductListGroupingSetting"
			defaultValue="GroupByProduct"
			controlType="ISettingControl"
      controlSrc="~/WebStore/Controls/ProductListGroupingSetting.ascx"
      helpKey="ProductListGroupingSetting-help"
      sortOrder="300"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="WebStoreResources"
			resourceKey="ProductListPageSize"
			defaultValue="15"
			controlType="TextBox"
      controlSrc=""
      helpKey="webstore-ProductListPageSize-help"
      sortOrder="400"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
			
		<featureSetting
			resourceFile="WebStoreResources"
			grouNameKey=""
			resourceKey="CartPageFooter"
			defaultValue=""
			controlType="ISettingControl"
			controlSrc="~/Controls/HtmlSetting.ascx"
			helpKey="webstore-CartPageFooter-help"
			sortOrder="600"
			regexValidationExpression=""
			/>
    
	</featureDefinition>
</featureDefinitions>
