

ALTER TABLE MP_BLOGS ADD 
IncludeInNews integer default 0 not null;

ALTER TABLE MP_BLOGS ADD 
PubName Varchar(255);

ALTER TABLE MP_BLOGS ADD 
PubLanguage Varchar(7);

ALTER TABLE MP_BLOGS ADD 
PubAccess Varchar(20);

ALTER TABLE MP_BLOGS ADD 
PubGenres Varchar(255);

ALTER TABLE MP_BLOGS ADD 
PubKeyWords Varchar(255);

ALTER TABLE MP_BLOGS ADD 
PubGeoLocations Varchar(255);

ALTER TABLE MP_BLOGS ADD 
PubStockTickers Varchar(255);

ALTER TABLE MP_BLOGS ADD 
HeadlineImageUrl Varchar(255);

ALTER TABLE MP_BLOGS ADD 
IncludeImageInExcerpt integer default 1 not null;