CREATE TABLE [mp_RssFeedEntries](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[FeedGuid] [uniqueidentifier] NOT NULL,
	[FeedId] [int] NOT NULL,
	[PubDate] [datetime] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[BlogUrl] [nvarchar](255) NOT NULL,
	[Description] [ntext] NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Confirmed] [bit] NOT NULL,
	[EntryHash] [int] NOT NULL,
	[CachedTimeUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_RssFeedEntries] PRIMARY KEY  
(
	[RowGuid] 
)
) 
GO

CREATE INDEX [idxEntryHash] ON [mp_RssFeedEntries] 
(
	[EntryHash] 
)
GO
CREATE INDEX [idxFeedId] ON [mp_RssFeedEntries] 
(
	[FeedId] 
)
GO
CREATE INDEX [idxModuleGuid] ON [mp_RssFeedEntries] 
(
	[ModuleGuid] 
)
GO

CREATE TABLE [mp_RssFeeds](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[RssUrl] [nvarchar](255) NOT NULL,
	[ItemGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[LastModUserGuid] [uniqueidentifier] NULL,
	[LastModUtc] [datetime] NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[FeedType] [nvarchar](20) NULL,
	[PublishByDefault] [bit] NULL,
	[SortRank] [int] NULL,
 CONSTRAINT [PK_mp_RssFeeds] PRIMARY KEY  
(
	[ItemID] 
)
) 
GO

ALTER TABLE [mp_RssFeedEntries] ADD  CONSTRAINT [DF_mp_RssFeedEntries_RowGuid]  DEFAULT (newid()) FOR [RowGuid]
GO

ALTER TABLE [mp_RssFeedEntries] ADD  CONSTRAINT [DF_mp_RssFeedEntries_Confirmed]  DEFAULT ((0)) FOR [Confirmed]
GO

ALTER TABLE [mp_RssFeedEntries] ADD  CONSTRAINT [DF_mp_RssFeedEntries_CachedTimeUtc]  DEFAULT (getdate()) FOR [CachedTimeUtc]
GO

ALTER TABLE [mp_RssFeeds] ADD  CONSTRAINT [DF_mp_RssFeeds_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
