CREATE TABLE mp_IndexingQueue (
 RowId BigInt NOT NULL , 
 IndexPath VARCHAR(255) NOT NULL,
 SerializedItem BLOB SUB_TYPE 1 NOT NULL,
 ItemKey VARCHAR(255) NOT NULL,
 RemoveOnly SMALLINT NOT NULL,
PRIMARY KEY (RowId)
);

CREATE TABLE mp_AuthorizeNetLog (
 RowGuid VARCHAR(36) NOT NULL, 
 CreatedUtc TIMESTAMP NOT NULL,
 SiteGuid VARCHAR(36) NOT NULL,
 UserGuid VARCHAR(36) NOT NULL,
 StoreGuid VARCHAR(36) NOT NULL,
 CartGuid VARCHAR(36) NOT NULL,
 RawResponse BLOB SUB_TYPE 1 ,
 ResponseCode CHAR(1) ,
 ResponseReasonCode VARCHAR(20) ,
 Reason BLOB SUB_TYPE 1 ,
 AvsCode VARCHAR(50) ,
 CcvCode CHAR(1) ,
 CavCode CHAR(1) ,
 TransactionId VARCHAR(50) ,
 TransactionType VARCHAR(50) ,
 Method VARCHAR(20) ,
 AuthCode VARCHAR(50) ,
 Amount Decimal ,
 Tax Decimal ,
 Duty Decimal ,
 Freight Decimal ,
 PRIMARY KEY (RowGuid)   
);

CREATE TABLE mp_Currency (
 Guid VARCHAR(36) NOT NULL, 
 Title VARCHAR(50) NOT NULL,
 Code CHAR(3) NOT NULL,
 SymbolLeft VARCHAR(15) ,
 SymbolRight VARCHAR(15) ,
 DecimalPointChar CHAR(1) ,
 ThousandsPointChar CHAR(1) ,
 DecimalPlaces CHAR(1) ,
 "Value" Decimal ,
 LastModified TIMESTAMP ,
 Created TIMESTAMP NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_GeoCountry (
 Guid VARCHAR(36) NOT NULL, 
 Name VARCHAR(255) NOT NULL,
 ISOCode2 CHAR(2) NOT NULL,
 ISOCode3 CHAR(3) NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_GeoZone (
 Guid VARCHAR(36) NOT NULL, 
 CountryGuid VARCHAR(36) NOT NULL,
 Name VARCHAR(255) NOT NULL,
 Code VARCHAR(255) NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_GoogleCheckoutLog (
 RowGuid VARCHAR(36) NOT NULL, 
 CreatedUtc TIMESTAMP NOT NULL,
 SiteGuid VARCHAR(36) NOT NULL,
 UserGuid VARCHAR(36) NOT NULL,
 StoreGuid VARCHAR(36) NOT NULL,
 CartGuid VARCHAR(36) NOT NULL,
 NotificationType VARCHAR(255) ,
 RawResponse BLOB SUB_TYPE 1 ,
 SerialNumber VARCHAR(50) ,
 GTimestamp TIMESTAMP ,
 OrderNumber VARCHAR(50) ,
 BuyerId VARCHAR(50) ,
 FullfillState VARCHAR(50) ,
 FinanceState VARCHAR(50) ,
 EmailListOptIn SMALLINT NOT NULL,
 AvsResponse VARCHAR(5) ,
 CvnResponse VARCHAR(5) ,
 AuthExpDate TIMESTAMP ,
 AuthAmt Decimal NOT NULL,
 DiscountTotal Decimal NOT NULL,
 ShippingTotal Decimal NOT NULL,
 TaxTotal Decimal NOT NULL,
 OrderTotal Decimal NOT NULL,
 LatestChgAmt Decimal NOT NULL,
 TotalChgAmt Decimal NOT NULL,
 LatestRefundAmt Decimal NOT NULL,
 TotalRefundAmt Decimal NOT NULL,
 LatestChargeback Decimal NOT NULL,
 TotalChargeback Decimal NOT NULL,
 CartXml BLOB SUB_TYPE 1 ,
 PRIMARY KEY (RowGuid)   
);

CREATE TABLE mp_Language (
 Guid VARCHAR(36) NOT NULL, 
 Name VARCHAR(255) NOT NULL,
 Code CHAR(2) NOT NULL,
 "Sort" INTEGER NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_PayPalLog (
 RowGuid VARCHAR(36) NOT NULL, 
 CreatedUtc TIMESTAMP NOT NULL,
 SiteGuid VARCHAR(36) NOT NULL,
 UserGuid VARCHAR(36) NOT NULL,
 StoreGuid VARCHAR(36) NOT NULL,
 CartGuid VARCHAR(36) NOT NULL,
 RequestType VARCHAR(255) NOT NULL,
 ApiVersion VARCHAR(50) ,
 RawResponse BLOB SUB_TYPE 1 ,
 Token VARCHAR(50) ,
 PayerId VARCHAR(50) ,
 TransactionId VARCHAR(50) ,
 PaymentType VARCHAR(10) ,
 PaymentStatus VARCHAR(50) ,
 PendingReason VARCHAR(255) ,
 ReasonCode VARCHAR(50) ,
 CurrencyCode VARCHAR(50) ,
 ExchangeRate Decimal NOT NULL,
 CartTotal Decimal NOT NULL,
 PayPalAmt Decimal NOT NULL,
 TaxAmt Decimal NOT NULL,
 FeeAmt Decimal NOT NULL,
 SettleAmt Decimal NOT NULL,
 PRIMARY KEY (RowGuid)   
);


