SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[mp_ContactFormMessage_DeleteByModule]

/*
Author:   			
Created: 			2009-06-22
Last Modified: 		2009-06-22
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContactFormMessage]
WHERE ModuleGuid = @ModuleGuid



GO


