CREATE TABLE mp_Polls (
 PollGuid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 Question VARCHAR(255) NOT NULL,
 "Active" SMALLINT NOT NULL,
 AnonymousVoting SMALLINT NOT NULL,
 AllowViewingResultsBeforeVoting SMALLINT NOT NULL,
 ShowOrderNumbers SMALLINT NOT NULL,
 ShowResultsWhenDeactivated SMALLINT NOT NULL,
 ActiveFrom TIMESTAMP NOT NULL,
 ActiveTo TIMESTAMP NOT NULL,
 PRIMARY KEY (PollGuid)   
);

CREATE TABLE mp_PollModules (
 PollGuid VARCHAR(36) NOT NULL,  
 ModuleID INTEGER NOT NULL, 
 PRIMARY KEY (PollGuid,ModuleID) 
);

CREATE TABLE mp_PollOptions (
 OptionGuid VARCHAR(36) NOT NULL, 
 PollGuid VARCHAR(36) NOT NULL,
 Answer VARCHAR(255) NOT NULL,
 Votes INTEGER NOT NULL,
 "Order" INTEGER NOT NULL,
 PRIMARY KEY (OptionGuid)   
);

CREATE TABLE mp_PollUsers (
 PollGuid VARCHAR(36) NOT NULL,  
 UserGuid VARCHAR(36) NOT NULL, 
 OptionGuid VARCHAR(36) NOT NULL,
 PRIMARY KEY (PollGuid,UserGuid)  
);

