SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_Polls_DeleteBySite]

/*
Author:			
Created:		2008-11-12
Last Modified:	2008-11-12

*/

    
@SiteID int



AS

DELETE FROM [dbo].[mp_PollModules]
WHERE ModuleID IN (SELECT ModuleID FROM [dbo].mp_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].[mp_PollUsers]
WHERE		[PollGuid] IN (SELECT PollGuid 
							FROM [dbo].mp_Polls 
							WHERE SiteGuid IN 
								(SELECT SiteGuid FROM [dbo].mp_Sites WHERE SiteID = @SiteID)
							)

DELETE FROM [dbo].[mp_PollOptions]
WHERE		[PollGuid] IN (SELECT PollGuid 
							FROM [dbo].mp_Polls 
							WHERE SiteGuid IN 
								(SELECT SiteGuid FROM [dbo].mp_Sites WHERE SiteID = @SiteID)
							)

DELETE FROM [dbo].[mp_Polls]
WHERE		[PollGuid] IN (SELECT PollGuid 
							FROM [dbo].mp_Polls 
							WHERE SiteGuid IN 
								(SELECT SiteGuid FROM [dbo].mp_Sites WHERE SiteID = @SiteID)
							)

GO

