<?xml version="1.0" encoding="utf-8" ?>
<PayPalReturnHandlerProviders>
	<providers>

		<add name="WebStorePayPalHandler"
			 type="WebStore.Helpers.WebStorePayPalReturnHandler, WebStore.UI"
			 description="WebStorePayPalHandler handles redirects for paypal express checkout" />

		
	</providers>
</PayPalReturnHandlerProviders>