<?xml version="1.0" encoding="utf-8" ?>
<ProfileUpdatedEventHandlers>
	<providers>

		<add name="DoNothingUserPreDeleteHandler"
			 type="mojoPortal.Business.WebHelpers.DoNothingUserPreDeleteHandler, mojoPortal.Business.WebHelpers"
			 description="This is a placeholder, do not delete this one. There must always be at least one provider in the collection. " />

		
	</providers>
</ProfileUpdatedEventHandlers>
