-- ----------------------------------------------------------------------------
-- table i7_sflexi_searchdefs
-- ----------------------------------------------------------------------------
create table "i7_sflexi_searchdefs" (
"guid" uuid unique not null,
"siteguid" uuid not null,
"featureguid" uuid not null,
"fielddefinitionguid" uuid not null,
"title" text not null,
"keywords" text not null,
"description" text not null,
"link" text not null,
"linkqueryaddendum" text not null,
primary key ("guid"));

-- ----------------------------------------------------------------------------
-- table i7_sflexi_fields
-- ----------------------------------------------------------------------------
create table "i7_sflexi_fields" (
"siteguid" uuid not null,
"featureguid" uuid not null,
"definitionguid" uuid not null,
"fieldguid" uuid unique not null,
"definitionname" varchar(50) null,
"name" varchar(50) null,
"label" varchar(255) null,
"defaultvalue" text null,
"controltype" varchar(25) null,
"controlsrc" text null,
"sortorder" int null,
"helpkey" varchar(255) null,
"required" boolean null,
"requiredmessageformat" text null,
"regex" text null,
"regexmessageformat" text not null,
"token" varchar(50) null,
"searchable" boolean null,
"editpagecontrolwrappercssclass" varchar(50) null,
"editpagelabelcssclass" varchar(50) null,
"editpagecontrolcssclass" varchar(50) null,
"datepickerincludetimefordate" boolean null,
"datepickershowmonthlist" boolean null,
"datepickershowyearlist" boolean null,
"datepickeryearrange" varchar(10) null,
"imagebrowseremptyurl" text null,
"options" text null,
"checkboxreturnbool" boolean null,
"checkboxreturnvaluewhentrue" text null,
"checkboxreturnvaluewhenfalse" text null,
"dateformat" text null,
"textboxmode" varchar(25) null,
"attributes" text null,
"isdeleted" boolean null default false,
"pretokenstring" text null,
"posttokenstring" text null,
"isglobal" boolean null,
"viewroles" text not null,
"editroles" text not null,
"pretokenstringwhentrue" text not null,
"posttokenstringwhentrue" text not null,
"pretokenstringwhenfalse" text not null,
"posttokenstringwhenfalse" text not null,
primary key ("fieldguid"));

-- ----------------------------------------------------------------------------
-- table i7_sflexi_items
-- ----------------------------------------------------------------------------
create table "i7_sflexi_items" (
"siteguid" uuid not null,
"featureguid" uuid not null,
"moduleguid" uuid not null,
"moduleid" int not null,
"definitionguid" uuid not null,
"itemguid" uuid unique not null,
"itemid" bigserial not null,
"sortorder" int not null,
"createdutc" timestamp without time zone not null,
"lastmodutc" timestamp without time zone not null,
"viewroles" text not null DEFAULT 'All Users;',
"editroles" text not null DEFAULT '',
primary key ("itemid", "itemguid"));

-- ----------------------------------------------------------------------------
-- table i7_sflexi_values
-- ----------------------------------------------------------------------------
create table "i7_sflexi_values" (
"id" bigserial not null,
"valueguid" uuid unique not null,
"siteguid" uuid not null,
"featureguid" uuid not null,
"moduleguid" uuid not null,
"itemguid" uuid not null,
"fieldguid" uuid not null,
"fieldvalue" text not null,
primary key ("id"));
