<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="38aa5a84-9f5c-42eb-8f4c-105983d419fb"
		supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="ForumResources"
		featureNameReasourceKey="ForumsFeatureName" 
		controlSource="Forums/ForumModule.ascx"
		sortOrder="450"
		isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		isSearchable="true"
		searchListNameResourceKey="ForumsSearchName"
		deleteProvider="ForumContentDeleteHandler"
		supportsPageReuse="false"
	>
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="ShowForumSearchBox"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="1000"
			regexValidationExpression=""
		/>

		<featureSetting
			resourceFile="ForumResources"
			resourceKey="ForumEnableAntiSpamSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="2000"
			regexValidationExpression=""
		/>

		<featureSetting
			resourceFile="ForumResources"
			resourceKey="AllowEditingPostsLessThanMinutesOld"
			defaultValue="60"
			controlType="TextBox"
			controlSrc=""
			helpKey="forum-AllowEditingPostsLessThanMinutesOld-help"
			sortOrder="210"
			regexValidationExpression="^(\+|-)?\d+$"
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="CloseThreadsOlderThanDays"
			defaultValue="-1"
			controlType="TextBox"
			controlSrc=""
			helpKey="forum-CloseThreadsOlderThanDays-help"
			sortOrder="3000"
			regexValidationExpression="^(\+|-)?\d+$"
		/>
	
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="IncludePostBodyInNotificationEmail"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="4000"
			regexValidationExpression=""
		/>

		<featureSetting
			resourceFile="ForumResources"
			resourceKey="IncludeCurrentUserInNotifications"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="forums-IncludeCurrentUserInNotifications-help"
			sortOrder="5000"
			regexValidationExpression=""
		/>

		<featureSetting
			resourceFile="ForumResources"
			resourceKey="SuppressNotificationOfPostEdits"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="forums-SuppressNotificationOfPostEdits-help"
			sortOrder="6000"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="OverrideNotificationFromAddress"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="forum-OverrideNotificationFromAddress-help"
			sortOrder="6500"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="OverrideNotificationFromAlias"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="forum-OverrideNotificationFromAlias-help"
			sortOrder="6600"
			regexValidationExpression=""
		/>

		<featureSetting
			resourceFile="ForumResources"
			resourceKey="ForumEnableRSSAtModuleLevel"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="7000"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="ForumEnableRSSAtForumLevel"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="8000"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="ForumEnableRSSAtThreadLevel"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="9000"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="RSSFeedMaxDaysOldSetting"
			defaultValue="90"
			controlType="TextBox"
			controlSrc=""
			helpKey=""
			sortOrder="10000"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="RSSFeedMaxPostsSetting"
			defaultValue="90"
			controlType="TextBox"
			controlSrc=""
			helpKey=""
			sortOrder="11000"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="ShowSubscriberCount"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="12000"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="LinkGravatarToUserProfile"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="forums-LinkGravatarToUserProfile-help"
			sortOrder="13000"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="custom-module-css-class-help"
			sortOrder="14000"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			grouNameKey=""
			resourceKey="ShowPageLeftContentSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowPageLeftContentSetting-help"
			sortOrder="15000"
			regexValidationExpression=""
		/>
			
		<featureSetting
			resourceFile="ForumResources"
			grouNameKey=""
			resourceKey="ShowPageRightContentSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowPageRightContentSetting-help"
			sortOrder="16000"
			regexValidationExpression=""
		/>
	</featureDefinition>
</featureDefinitions>

