<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteHandler"
			 type="mojoPortal.Web.CoreDataSitePreDeleteHandler, mojoPortal.Web"
			 description="Deletes content for the given site id." />
		<add name="UpdateSiteCountCacheEventHandler"
			type="mojoPortal.Web.Components.EventHandlers.SitePreDelete.UpdateSiteCountCacheEventHandler, mojoPortal.Web"
			description="This updates the 'SiteCount' in-memory cache when a site is deleted." />
		
	</providers>
</SitePreDeleteProviders>