SET TERM ^ ;
CREATE TRIGGER MP_FORUMSUBSCRIPTIONS_BI FOR MP_FORUMSUBSCRIPTIONS ACTIVE
BEFORE INSERT POSITION 0
AS
BEGIN
IF (NEW.SubscriptionID  IS NULL) THEN
 NEW.SubscriptionID  = NEXT VALUE FOR mp_ForumSubscriptions_seq;
END^
SET TERM ; ^
SET TERM ^ ;
CREATE TRIGGER MP_FORUMTHREADSUBS_BI FOR MP_FORUMTHREADSUBSCRIPTIONS ACTIVE
BEFORE INSERT POSITION 0
AS
BEGIN
IF (NEW.ThreadSubscriptionID  IS NULL) THEN
 NEW.ThreadSubscriptionID  = NEXT VALUE FOR mp_ForumThreadSubscriptions_seq;
END^
SET TERM ; ^
