CREATE TABLE MP_FORUMPOSTS
(
  POSTID Integer NOT NULL,
  THREADID Integer NOT NULL,
  THREADSEQUENCE Integer NOT NULL,
  SUBJECT Varchar(255) NOT NULL,
  POSTDATE Timestamp NOT NULL,
  APPROVED Smallint NOT NULL,
  USERID Integer NOT NULL,
  SORTORDER Integer NOT NULL,
  POST Blob sub_type 1 NOT NULL,
  PRIMARY KEY (POSTID)
);
CREATE TABLE MP_FORUMS
(
  ITEMID Integer NOT NULL,
  MODULEID Integer NOT NULL,
  CREATEDDATE Timestamp NOT NULL,
  CREATEDBY Integer NOT NULL,
  TITLE Varchar(100) NOT NULL,
  DESCRIPTION Blob sub_type 1 NOT NULL,
  ISMODERATED Smallint NOT NULL,
  ISACTIVE Smallint NOT NULL,
  SORTORDER Integer NOT NULL,
  THREADCOUNT Integer NOT NULL,
  POSTCOUNT Integer NOT NULL,
  MOSTRECENTPOSTDATE Timestamp,
  MOSTRECENTPOSTUSERID Integer NOT NULL,
  POSTSPERPAGE Integer NOT NULL,
  THREADSPERPAGE Integer NOT NULL,
  ALLOWANONYMOUSPOSTS Smallint NOT NULL,
  PRIMARY KEY (ITEMID)
);
CREATE TABLE MP_FORUMSUBSCRIPTIONS
(
  SUBSCRIPTIONID Integer NOT NULL,
  FORUMID Integer NOT NULL,
  USERID Integer NOT NULL,
  SUBSCRIBEDATE Timestamp NOT NULL,
  UNSUBSCRIBEDATE Timestamp,
  PRIMARY KEY (SUBSCRIPTIONID)
);
CREATE TABLE MP_FORUMTHREADS
(
  THREADID Integer NOT NULL,
  FORUMID Integer NOT NULL,
  THREADSUBJECT Varchar(255) NOT NULL,
  THREADDATE Timestamp NOT NULL,
  TOTALVIEWS Integer NOT NULL,
  TOTALREPLIES Integer NOT NULL,
  SORTORDER Integer NOT NULL,
  ISLOCKED Smallint NOT NULL,
  FORUMSEQUENCE Integer NOT NULL,
  MOSTRECENTPOSTDATE Timestamp,
  MOSTRECENTPOSTUSERID Integer,
  STARTEDBYUSERID Integer NOT NULL,
  PRIMARY KEY (THREADID)
);
CREATE TABLE MP_FORUMTHREADSUBSCRIPTIONS
(
  THREADSUBSCRIPTIONID Integer NOT NULL,
  THREADID Integer NOT NULL,
  USERID Integer NOT NULL,
  SUBSCRIBEDATE Timestamp NOT NULL,
  UNSUBSCRIBEDATE Timestamp,
  PRIMARY KEY (THREADSUBSCRIPTIONID)
);
