SET TERM ^ ;
CREATE PROCEDURE MP_FORUMPOSTS_INSERT (
    THREADID Integer,
    THREADSEQUENCE Integer,
    SUBJECT Varchar(255),
    POSTDATE Timestamp,
    APPROVED Smallint,
    USERID Integer,
    SORTORDER Integer,
    POST Blob sub_type 1 )
RETURNS (
    POSTID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_FORUMS_INSERT (
    MODULEID Integer,
    CREATEDDATE Timestamp,
    CREATEDBY Integer,
    TITLE Varchar(100),
    DESCRIPTION Blob sub_type 1,
    ISMODERATED Smallint,
    ISACTIVE Smallint,
    SORTORDER Integer,
    THREADCOUNT Integer,
    POSTCOUNT Integer,
    MOSTRECENTPOSTUSERID Integer,
    POSTSPERPAGE Integer,
    THREADSPERPAGE Integer,
    ALLOWANONYMOUSPOSTS Smallint )
RETURNS (
    ITEMID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_FORUMTHREADS_INSERT (
    FORUMID Integer,
    THREADSUBJECT Varchar(255),
    THREADDATE Timestamp,
    TOTALVIEWS Integer,
    TOTALREPLIES Integer,
    SORTORDER Integer,
    ISLOCKED Smallint,
    FORUMSEQUENCE Integer,
    MOSTRECENTPOSTDATE Timestamp,
    MOSTRECENTPOSTUSERID Integer,
    STARTEDBYUSERID Integer )
RETURNS (
    THREADID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^
