SET TERM ^ ;
ALTER PROCEDURE MP_FORUMPOSTS_INSERT (
    THREADID Integer,
    THREADSEQUENCE Integer,
    SUBJECT Varchar(255),
    POSTDATE Timestamp,
    APPROVED Smallint,
    USERID Integer,
    SORTORDER Integer,
    POST Blob sub_type 1 )
RETURNS (
    POSTID Integer )
AS
BEGIN
 POSTID = NEXT VALUE FOR mp_ForumPosts_seq;

INSERT INTO 	MP_FORUMPOSTS
(				
                POSTID,
                THREADID,
                THREADSEQUENCE,
                SUBJECT,
                POSTDATE,
                APPROVED,
                USERID,
                SORTORDER,
                POST
) 
VALUES 
(				
               :POSTID,
               :THREADID,
               :THREADSEQUENCE,
               :SUBJECT,
               :POSTDATE,
               :APPROVED,
               :USERID,
               :SORTORDER,
               :POST
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_FORUMPOSTS_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_FORUMS_INSERT (
    MODULEID Integer,
    CREATEDDATE Timestamp,
    CREATEDBY Integer,
    TITLE Varchar(100),
    DESCRIPTION Blob sub_type 1,
    ISMODERATED Smallint,
    ISACTIVE Smallint,
    SORTORDER Integer,
    THREADCOUNT Integer,
    POSTCOUNT Integer,
    MOSTRECENTPOSTUSERID Integer,
    POSTSPERPAGE Integer,
    THREADSPERPAGE Integer,
    ALLOWANONYMOUSPOSTS Smallint )
RETURNS (
    ITEMID Integer )
AS
BEGIN
 ITEMID = NEXT VALUE FOR mp_Forums_seq;

INSERT INTO 	MP_FORUMS
(				
                ITEMID,
                MODULEID,
                CREATEDDATE,
                CREATEDBY,
                TITLE,
                DESCRIPTION,
                ISMODERATED,
                ISACTIVE,
                SORTORDER,
                THREADCOUNT,
                POSTCOUNT,
                MOSTRECENTPOSTUSERID,
                POSTSPERPAGE,
                THREADSPERPAGE,
                ALLOWANONYMOUSPOSTS
) 
VALUES 
(				
               :ITEMID,
               :MODULEID,
               :CREATEDDATE,
               :CREATEDBY,
               :TITLE,
               :DESCRIPTION,
               :ISMODERATED,
               :ISACTIVE,
               :SORTORDER,
               :THREADCOUNT,
               :POSTCOUNT,
               :MOSTRECENTPOSTUSERID,
               :POSTSPERPAGE,
               :THREADSPERPAGE,
               :ALLOWANONYMOUSPOSTS
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_FORUMS_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_FORUMTHREADS_INSERT (
    FORUMID Integer,
    THREADSUBJECT Varchar(255),
    THREADDATE Timestamp,
    TOTALVIEWS Integer,
    TOTALREPLIES Integer,
    SORTORDER Integer,
    ISLOCKED Smallint,
    FORUMSEQUENCE Integer,
    MOSTRECENTPOSTDATE Timestamp,
    MOSTRECENTPOSTUSERID Integer,
    STARTEDBYUSERID Integer )
RETURNS (
    THREADID Integer )
AS
BEGIN
 THREADID = NEXT VALUE FOR mp_ForumThreads_seq;

INSERT INTO 	MP_FORUMTHREADS
(				
                THREADID,
                FORUMID,
                THREADSUBJECT,
                THREADDATE,
                TOTALVIEWS,
                TOTALREPLIES,
                SORTORDER,
                ISLOCKED,
                FORUMSEQUENCE,
                MOSTRECENTPOSTDATE,
                MOSTRECENTPOSTUSERID,
                STARTEDBYUSERID
) 
VALUES 
(				
               :THREADID,
               :FORUMID,
               :THREADSUBJECT,
               :THREADDATE,
               :TOTALVIEWS,
               :TOTALREPLIES,
               :SORTORDER,
               :ISLOCKED,
               :FORUMSEQUENCE,
               :MOSTRECENTPOSTDATE,
               :MOSTRECENTPOSTUSERID,
               :STARTEDBYUSERID
);

END^
SET TERM ; ^

ALTER TABLE MP_FORUMPOSTS ADD CONSTRAINT FK_FORUMPOSTS_HREAD
  FOREIGN KEY (THREADID) REFERENCES MP_FORUMTHREADS (THREADID);
CREATE INDEX IDX_FORUMP_THREADID ON MP_FORUMPOSTS (THREADID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_FORUMPOSTS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_FORUMS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_FORUMSUBSCRIPTIONS TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_FORUMTHREADS ADD CONSTRAINT FK_FORUMTHREADS_FORUMS
  FOREIGN KEY (FORUMID) REFERENCES MP_FORUMS (ITEMID);
CREATE INDEX IDX_FORUMTHREADS_FORUMID ON MP_FORUMTHREADS (FORUMID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_FORUMTHREADS TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_FORUMTHREADSUBSCRIPTIONS ADD CONSTRAINT FK_FORUMTS_FORUMTHREADS
  FOREIGN KEY (THREADID) REFERENCES MP_FORUMTHREADS (THREADID);
CREATE INDEX IDX_FORUMTS_THREADID ON MP_FORUMTHREADSUBSCRIPTIONS (THREADID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_FORUMTHREADSUBSCRIPTIONS TO SYSDBA WITH GRANT OPTION;
 
 