ALTER TABLE mp_Forums ADD 
ForumGuid Varchar(36);



ALTER TABLE mp_ForumThreads ADD 
ThreadGuid Varchar(36);

ALTER TABLE mp_ForumThreads ADD 
IsQuestion INTEGER;

ALTER TABLE mp_ForumThreads ADD 
IncludeInSiteMap INTEGER;

ALTER TABLE mp_ForumThreads ADD 
SetNoIndexMeta INTEGER;

ALTER TABLE mp_ForumThreads ADD 
PTitleOverride Varchar(255);


ALTER TABLE mp_ForumPosts ADD 
PostGuid Varchar(36);

ALTER TABLE mp_ForumPosts ADD 
AnswerVotes INTEGER;

ALTER TABLE mp_ForumPosts ADD 
ApprovedBy Varchar(36);

ALTER TABLE mp_ForumPosts ADD 
ApprovedUtc Timestamp;

ALTER TABLE mp_ForumPosts ADD 
UserIp Varchar(50);

