ALTER TABLE mp_ForumPosts ALTER COLUMN [Post] NVARCHAR(MAX) null
ALTER TABLE mp_Forums ALTER COLUMN [Description] NVARCHAR(MAX) null

GO

ALTER PROCEDURE [dbo].[mp_ForumPosts_Insert]

/*
Author:			
Created:		2004-09-19
Last Modified:	2010-07-01

*/


@ThreadID			int,
@Subject			nvarchar(255),
@Post				nvarchar(max),
@Approved			bit,
@UserID			int,
@PostDate		datetime



AS
DECLARE @ThreadSequence int
SET @ThreadSequence = (SELECT COALESCE(Max(ThreadSequence) + 1,1) FROM [dbo].mp_ForumPosts WHERE ThreadID = @ThreadID)



INSERT INTO		[dbo].mp_ForumPosts
(
			ThreadID,
			Subject,
			Post,
			Approved,
			UserID,
			ThreadSequence,
			PostDate
)

VALUES
(
			@ThreadID,
			@Subject,
			@Post,
			@Approved,
			@UserID,
			@ThreadSequence,
			@PostDate

)

SELECT  @@IDENTITY As PostID

GO

ALTER PROCEDURE [dbo].[mp_ForumPosts_SelectAllByThread]

/*
Author:				
Created:			2005-02-19
Last Modified:		2010-07-01

*/

@ThreadID			int


AS


SELECT	p.*,
		ft.ForumID,
		COALESCE(u.[Name],'Guest') AS MostRecentPostUser,
		COALESCE(s.[Name],'Guest') AS StartedBy,
		COALESCE(up.[Name], 'Guest') AS PostAuthor,
		COALESCE(up.TotalPosts, 0) AS PostAuthorTotalPosts,
		up.AvatarUrl AS PostAuthorAvatar,
		up.WebSiteURL AS PostAuthorWebSiteUrl,
		up.[Signature] AS PostAuthorSignature


FROM		[dbo].mp_ForumPosts p

JOIN		[dbo].mp_ForumThreads ft
ON		p.ThreadID = ft.ThreadID

LEFT OUTER JOIN		[dbo].mp_Users u
ON		ft.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN		[dbo].mp_Users s
ON		ft.StartedByUserID = s.UserID

LEFT OUTER JOIN		[dbo].mp_Users up
ON		up.UserID = p.UserID

WHERE	ft.ThreadID = @ThreadID
		

ORDER BY	p.PostID

GO

ALTER PROCEDURE [dbo].[mp_ForumPosts_SelectAllByThreadRevereSorted]

/*
Author:				
Created:			2007-07-17
Last Modified:		2010-07-01

*/

@ThreadID			int


AS


SELECT	p.*,
		ft.ForumID,
		COALESCE(u.[Name],'Guest') AS MostRecentPostUser,
		COALESCE(s.[Name],'Guest') AS StartedBy,
		COALESCE(up.[Name], 'Guest') AS PostAuthor,
		COALESCE(up.[Email], '') AS AuthorEmail,
		COALESCE(up.TotalPosts, 0) AS PostAuthorTotalPosts,
		COALESCE(up.TotalRevenue, 0) AS UserRevenue,
		COALESCE(up.Trusted, 0) AS Trusted,
		up.AvatarUrl AS PostAuthorAvatar,
		up.WebSiteURL AS PostAuthorWebSiteUrl,
		up.[Signature] AS PostAuthorSignature


FROM		[dbo].mp_ForumPosts p

JOIN		[dbo].mp_ForumThreads ft
ON		p.ThreadID = ft.ThreadID

LEFT OUTER JOIN		[dbo].mp_Users u
ON		ft.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN		[dbo].mp_Users s
ON		ft.StartedByUserID = s.UserID

LEFT OUTER JOIN		[dbo].mp_Users up
ON		up.UserID = p.UserID

WHERE	ft.ThreadID = @ThreadID
		

ORDER BY	p.ThreadSequence DESC 



GO

ALTER PROCEDURE [dbo].[mp_ForumPosts_SelectForRss]

/*
Author:				Joseph Hill
Created:			2005-01-11
Last Modified:		2010-07-01 

A list of all forums posts (and associated data) filtered by the specified criteria

MaximumDays is the maximum age in days of the posts to return

*/
@SiteID				int,
@PageID				int,
@ModuleID			int,
@ItemID				int,
@ThreadID			int,
@MaximumDays			int


AS
SELECT		fp.*,
		ft.ThreadSubject,
		ft.ForumID,
		COALESCE(s.[Name],'Guest') AS StartedBy,
		COALESCE(up.[Name], 'Guest') AS PostAuthor,
		up.TotalPosts AS PostAuthorTotalPosts,
		up.AvatarUrl AS PostAuthorAvatar,
		up.WebSiteURL AS PostAuthorWebSiteUrl,
		up.[Signature] AS PostAuthorSignature


FROM		[dbo].mp_ForumPosts fp

JOIN		[dbo].mp_ForumThreads ft
ON		fp.ThreadID = ft.ThreadID

JOIN		[dbo].mp_Forums f
ON		ft.ForumID = f.ItemID

JOIN		[dbo].mp_Modules m
ON		f.ModuleID = m.ModuleID

JOIN	[dbo].mp_PageModules pm
ON	    m.ModuleID = pm.ModuleID

JOIN		[dbo].mp_Pages p
ON		pm.PageID = p.PageID

LEFT OUTER JOIN		[dbo].mp_Users u
ON		ft.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN		[dbo].mp_Users s
ON		ft.StartedByUserID = s.UserID

LEFT OUTER JOIN		[dbo].mp_Users up
ON		up.UserID = fp.UserID

WHERE	p.SiteID = @SiteID
AND	(@PageID = -1 OR p.PageID = @PageID)
AND	(@ModuleID = -1 OR m.ModuleID = @ModuleID)
AND	(@ItemID = -1 OR f.ItemID = @ItemID)
AND	(@ThreadID = -1 OR ft.ThreadID = @ThreadID)
AND	(@MaximumDays = -1 OR datediff(dd, getdate(), fp.PostDate) <= @MaximumDays)

ORDER BY	fp.PostDate DESC

GO

ALTER PROCEDURE [dbo].[mp_ForumPosts_Update]

/*
Author:			
Created:		2004-09-19
Last Modified:	2010-07-01

*/

@PostID			int,
@Subject			nvarchar(255),
@Post				nvarchar(max),
@SortOrder			int,
@Approved			bit

AS

UPDATE		[dbo].mp_ForumPosts

SET			Subject = @Subject,
			Post = @Post,
			SortOrder = @SortOrder,
			Approved = @Approved


WHERE		PostID = @PostID

GO

ALTER PROCEDURE [dbo].[mp_Forums_Insert]

/*
Author:				
Created:			2004-09-12
Last Modified:		2010-07-01

*/

@ModuleID			int,
@UserID			int,
@Title          			nvarchar(100),
@Description    			nvarchar(max),
@IsModerated			bit,
@IsActive			bit,
@SortOrder			int,
@PostsPerPage			int,
@ThreadsPerPage		int,
@AllowAnonymousPosts		bit



AS

INSERT INTO			[dbo].mp_Forums
(
				ModuleID,
				CreatedBy,
				Title,
				[Description],
				IsModerated,
				IsActive,
				SortOrder,
				PostsPerPage,
				ThreadsPerPage,
				AllowAnonymousPosts

)

VALUES
(
				@ModuleID,
				@UserID,
				@Title,
				@Description,
				@IsModerated,
				@IsActive,
				@SortOrder,
				@PostsPerPage,
				@ThreadsPerPage,
				@AllowAnonymousPosts

)

SELECT @@IDENTITY As ItemID

GO

ALTER PROCEDURE [dbo].[mp_Forums_SelectOne]

/*
Author:				
Created:			2004-09-12
Last Modified:		2010-07-01

*/

@ItemID			int

AS

SELECT		f.*,
			u.[Name] AS CreatedByUser,
			up.[Name] AS MostRecentPostUser

FROM			[dbo].mp_Forums f

LEFT OUTER JOIN	[dbo].mp_Users u
ON			f.CreatedBy = u.UserID

LEFT OUTER JOIN	[dbo].mp_Users up
ON			f.MostRecentPostUserID = up.UserID

WHERE		f.ItemID = @ItemID

GO

ALTER PROCEDURE [dbo].[mp_Forums_Update]

/*
Author:			
Created:		2004-09-12
Last Modified:	2010-07-01

*/

@ItemID			int,
@Title          			nvarchar(100),
@Description    			nvarchar(max),
@IsModerated			bit,
@IsActive			bit,
@SortOrder			int,
@PostsPerPage			int,
@ThreadsPerPage		int,
@AllowAnonymousPosts		bit



AS


UPDATE		[dbo].mp_Forums

SET			Title = @Title,
			[Description] = @Description,
			IsModerated = @IsModerated,
			IsActive = @IsActive,
			SortOrder = @SortOrder,
			PostsPerPage = @PostsPerPage,
			ThreadsPerPage = @ThreadsPerPage,
			AllowAnonymousPosts = @AllowAnonymousPosts



WHERE		ItemID = @ItemID

GO


ALTER PROCEDURE [dbo].[mp_ForumThreads_SelectOne]

/*
Author:			
Created:		2004-09-19
Last Modified:	2010-07-01

*/

@ThreadID		int


AS

SELECT		t.*,
			COALESCE(u.[Name], 'Guest') AS MostRecentPostUser,
			COALESCE(s.[Name], 'Guest') AS StartedBy,
			f.PostsPerPage


FROM			[dbo].mp_ForumThreads t

LEFT OUTER JOIN	[dbo].mp_Users u
ON			t.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN	[dbo].mp_Users s
ON			t.StartedByUserID = s.UserID

JOIN			[dbo].mp_Forums f
ON			f.ItemID = t.ForumID

WHERE		t.ThreadID = @ThreadID

GO

ALTER PROCEDURE [dbo].[mp_ForumThreads_SelectPageByUser]

-- Author:   			
-- Created: 			2008-03-18
-- Last Modified: 		2010-07-01

@UserID		int,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ThreadID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ThreadID
)

SELECT
		[ThreadID]
		
FROM
		[dbo].[mp_ForumThreads]
		
WHERE
	ThreadID IN (Select DISTINCT ThreadID FROM [dbo].mp_ForumPosts WHERE [dbo].mp_ForumPosts.UserID = @UserID)

ORDER BY
	MostRecentPostDate DESC

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t.*,
		f.Title As Forum,
		f.ModuleID,
		(SELECT TOP 1 PageID FROM [dbo].mp_PageModules WHERE [dbo].mp_PageModules.ModuleID = f.ModuleID AND (PublishEndDate IS NULL OR PublishEndDate > getutcdate()) ) As PageID,
		COALESCE(u.Name, 'Guest') As MostRecentPostUser,
		s.Name As StartedBy,
		@TotalPages AS TotalPages
		
FROM
		[dbo].[mp_ForumThreads] t

JOIN			#PageIndex t2
ON			
		t.[ThreadID] = t2.[ThreadID]

JOIN	[dbo].mp_Forums f
ON t.ForumID = f.ItemID

LEFT OUTER JOIN	[dbo].mp_Users u
ON t.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN	[dbo].mp_Users s
ON t.StartedByUserID = s.UserID
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

ALTER PROCEDURE [dbo].[mp_ForumThreadSubscriptions_Insert]

/*
Author:			
Created:		2004-10-14
Last Modified:	2010-07-01

*/

@ThreadID		int,
@UserID		int


AS

IF EXISTS (SELECT UserID FROM [dbo].mp_ForumThreadSubscriptions WHERE ThreadID = @ThreadID AND UserID = @UserID)
BEGIN
	UPDATE 	[dbo].mp_ForumThreadSubscriptions

	SET		SubscribeDate = GetUtcDate(),
			UnSubscribeDate = Null
	

	WHERE 	ThreadID = @ThreadID AND UserID = @UserID

END

ELSE

BEGIN

	INSERT INTO	[dbo].mp_ForumThreadSubscriptions
	(
			ThreadID,
			UserID
	)
	VALUES
	(
			@ThreadID,
			@UserID
	)

END

GO

