SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Forums_Select]


/*
Author:			
Created:		2004-09-12
Last Modified:	2009-12-12

*/

@ModuleID			int,
@UserID				int

AS


SELECT		f.*,
			u.[Name] AS MostRecentPostUser,
			CASE WHEN s.[SubscribeDate] IS NOT NULL and s.[UnSubscribeDate] IS NULL THEN 1
					Else 0
					End AS Subscribed,
			(SELECT COUNT(*) 
				FROM [dbo].mp_ForumSubscriptions fs 
				WHERE fs.ForumID = f.ItemID AND fs.UnSubscribeDate IS NULL) AS SubscriberCount

FROM			[dbo].mp_Forums f

LEFT OUTER JOIN	[dbo].mp_Users u
ON			f.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN [dbo].mp_ForumSubscriptions s
on			f.ItemID = s.ForumID and s.UserID = @UserID

WHERE		f.ModuleID	= @ModuleID
			AND f.IsActive = 1

ORDER BY		f.SortOrder, f.ItemID

GO


