SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[mp_Forums_RecalculatePostStats]

/*
Author:			
Created:		2005-09-11
Last Modified:	2009-02-11

based ont he pgsql version by Dean Brettle

*/

@ForumID		int


AS

DECLARE @RowsAffected		int
DECLARE @MostRecentPostDate	datetime
DECLARE @MostRecentPostUserID	int
DECLARE @PostCount			int

SET @RowsAffected = 0

SELECT TOP 1	@MostRecentPostDate = MostRecentPostDate,
		@MostRecentPostUserID = MostRecentPostUserID

FROM		[dbo].mp_ForumThreads

WHERE	ForumID = @ForumID

ORDER BY	MostRecentPostDate DESC

SET @PostCount = COALESCE(
				(	SELECT 	SUM(TotalReplies) + COUNT(*)
					FROM		[dbo].mp_ForumThreads
					WHERE	ForumID = @ForumID

				),
				0
				)

UPDATE 	[dbo].mp_Forums
SET		MostRecentPostDate = @MostRecentPostDate,
		MostRecentPostUserID = COALESCE(@MostRecentPostUserID,0),
		PostCount = @PostCount

WHERE	ItemID = @ForumID

SET @RowsAffected = @@ROWCOUNT


SELECT @RowsAffected

GO

