SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[mp_Forums_DeleteByModule]

/*
Author:				
Created:			2009-06-22
Last Modified:		2009-06-22

*/

@ModuleID			int

AS

DELETE FROM [dbo].mp_ForumPosts
WHERE ThreadID IN (SELECT ThreadID FROM [dbo].mp_ForumThreads WHERE ForumID IN
(SELECT ItemID FROM [dbo].mp_Forums WHERE ModuleID = @ModuleID ) )

DELETE FROM [dbo].mp_ForumThreadSubscriptions
WHERE ThreadID IN (SELECT ThreadID FROM [dbo].mp_ForumThreads WHERE ForumID IN
(SELECT ItemID FROM [dbo].mp_Forums WHERE ModuleID = @ModuleID) )

DELETE FROM [dbo].mp_ForumThreads
WHERE ForumID IN
(SELECT ItemID FROM [dbo].mp_Forums WHERE ModuleID = @ModuleID )

DELETE FROM [dbo].mp_ForumSubscriptions
WHERE ForumID IN
(SELECT ItemID FROM [dbo].mp_Forums WHERE ModuleID = @ModuleID) 

DELETE FROM [dbo].mp_Forums
WHERE ModuleID = @ModuleID


GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_ForumThreads_SelectByPage]

/*
Author:			Joe Audettte
Created:		2005-07-02
Last Modified:	2009-06-24

*/


@SiteID		int,
@PageID		int

AS
SELECT  	fp.*,
		f.ModuleID,
		f.ItemID,
		m.ModuleTitle,
		m.ViewRoles,
		md.FeatureName

FROM		[dbo].mp_ForumPosts fp

JOIN		[dbo].mp_ForumThreads ft
ON		fp.ThreadID = ft.ThreadID

JOIN		[dbo].mp_Forums f
ON		f.ItemID = ft.ForumID

JOIN		[dbo].mp_Modules m
ON		f.ModuleID = m.ModuleID

JOIN		[dbo].mp_ModuleDefinitions md
ON		m.ModuleDefID = md.ModuleDefID

JOIN		[dbo].mp_PageModules pm
ON			pm.ModuleID = m.ModuleID

JOIN		[dbo].mp_Pages p
ON		p.PageID = pm.PageID

WHERE	p.SiteID = @SiteID
		AND pm.PageID = @PageID
		AND fp.Approved = 1

GO


