ALTER PROCEDURE [dbo].[mp_ForumThreadSubscribers_SelectByThread]

/*
Author:				
Created:			2004-10-13
Last Modified:		2010-03-20

*/

@ForumID int,
@ThreadID		int,
@CurrentPostUserID 	int


AS

SELECT		u.Email


FROM			[dbo].mp_Users u

WHERE
			u.UserID <> @CurrentPostUserID
			AND
			(
				(
					u.UserID IN (SELECT UserID FROM [dbo].mp_ForumThreadSubscriptions
							WHERE ThreadID = @ThreadID
								AND UnSubscribeDate IS NULL)
				)
				OR
				(
					u.UserID IN (SELECT UserID FROM [dbo].mp_ForumSubscriptions
							WHERE ForumID = @ForumID
								AND UnSubscribeDate IS NULL)
				)
			)



GO

