SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_ForumPosts_SelectByThread]

/*
Author:				
Created:			2004-09-14
Last Modified:		2008-02-15



*/

@ThreadID			int,
@PageNumber			int

AS

DECLARE @PostsPerPage	int

DECLARE @CurrentPageMaxThreadSequence	int

DECLARE @BeginSequence int
DECLARE @EndSequence int



SELECT	@PostsPerPage = f.PostsPerPage


FROM		[dbo].mp_ForumThreads ft

JOIN		[dbo].mp_Forums f
ON		ft.ForumID = f.ItemID

WHERE	ft.ThreadID = @ThreadID

SET @CurrentPageMaxThreadSequence = (@PostsPerPage * @PageNumber) 
IF @CurrentPageMaxThreadSequence > @PostsPerPage
	BEGIN
		SET @BeginSequence = @CurrentPageMaxThreadSequence  - @PostsPerPage + 1
	END
ELSE
	BEGIN
		SET @BeginSequence = 1
	END

SET @EndSequence = @BeginSequence + @PostsPerPage  -1



SELECT	p.*,
		ft.ForumID,
		'MostRecentPostUser' = COALESCE(u.[Name],'Guest'),
		'StartedBy' = COALESCE(s.[Name],'Guest'),
		'PostAuthor' = COALESCE(up.[Name], 'Guest'),
		'AuthorEmail' = COALESCE(up.[Email], ''),
		'PostAuthorTotalPosts' = COALESCE(up.TotalPosts, 0),
		'UserRevenue' = COALESCE(up.TotalRevenue, 0),
		'Trusted' = COALESCE(up.Trusted, 0),
		'PostAuthorAvatar' = up.AvatarUrl,
		'PostAuthorWebSiteUrl' = up.WebSiteURL,
		'PostAuthorSignature' = up.Signature


FROM		[dbo].mp_ForumPosts p

JOIN		[dbo].mp_ForumThreads ft
ON		p.ThreadID = ft.ThreadID

LEFT OUTER JOIN		[dbo].mp_Users u
ON		ft.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN		[dbo].mp_Users s
ON		ft.StartedByUserID = s.UserID

LEFT OUTER JOIN		[dbo].mp_Users up
ON		up.UserID = p.UserID

WHERE	ft.ThreadID = @ThreadID
		AND p.ThreadSequence >= @BeginSequence
		AND  p.ThreadSequence <= @EndSequence

ORDER BY	p.SortOrder, p.PostID

GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[mp_ForumPosts_SelectAllByThreadRevereSorted]

/*
Author:				
Created:			2007-07-17
Last Modified:		2009-02-15

*/

@ThreadID			int


AS


SELECT	p.*,
		ft.ForumID,
		'MostRecentPostUser' = COALESCE(u.[Name],'Guest'),
		'StartedBy' = COALESCE(s.[Name],'Guest'),
		'PostAuthor' = COALESCE(up.[Name], 'Guest'),
		'AuthorEmail' = COALESCE(up.[Email], ''),
		'PostAuthorTotalPosts' = COALESCE(up.TotalPosts, 0),
		'UserRevenue' = COALESCE(up.TotalRevenue, 0),
		'Trusted' = COALESCE(up.Trusted, 0),
		'PostAuthorAvatar' = up.AvatarUrl,
		'PostAuthorWebSiteUrl' = up.WebSiteURL,
		'PostAuthorSignature' = up.Signature


FROM		[dbo].mp_ForumPosts p

JOIN		[dbo].mp_ForumThreads ft
ON		p.ThreadID = ft.ThreadID

LEFT OUTER JOIN		[dbo].mp_Users u
ON		ft.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN		[dbo].mp_Users s
ON		ft.StartedByUserID = s.UserID

LEFT OUTER JOIN		[dbo].mp_Users up
ON		up.UserID = p.UserID

WHERE	ft.ThreadID = @ThreadID
		

ORDER BY	p.ThreadSequence DESC 


GO



