
ALTER TABLE [dbo].mp_ForumPosts ADD
	NotificationSent bit NOT NULL DEFAULT 1 
GO

ALTER TABLE [dbo].mp_ForumPosts ADD
	ModStatus int NOT NULL DEFAULT 1 
GO


ALTER TABLE [dbo].mp_ForumThreads ADD
	ModStatus int NOT NULL DEFAULT 1 
GO

ALTER TABLE [dbo].mp_ForumThreads ADD
	ThreadType nvarchar(100) NULL
GO

ALTER TABLE [dbo].mp_ForumThreads ADD
	AssignedTo uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000'
GO

ALTER TABLE [dbo].mp_ForumThreads ADD
	LockedBy uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000'
GO

ALTER TABLE [dbo].mp_ForumThreads ADD
	LockedReason nvarchar(255) NULL
GO

ALTER TABLE [dbo].mp_ForumThreads ADD
	LockedUtc datetime NULL
GO




ALTER TABLE [dbo].mp_Forums ADD
	RolesThatCanPost nvarchar(max) NOT NULL DEFAULT 'Authenticated Users'
GO

ALTER TABLE [dbo].mp_Forums ADD
	RolesThatCanModerate nvarchar(max) NULL
GO

ALTER TABLE [dbo].mp_Forums ADD
	ModeratorNotifyEmail nvarchar(max) NULL
GO

ALTER TABLE [dbo].mp_Forums ADD
	IncludeInGoogleMap bit NOT NULL DEFAULT 1 
GO

ALTER TABLE [dbo].mp_Forums ADD
	AddNoIndexMeta bit NOT NULL DEFAULT 0 
GO

ALTER TABLE [dbo].mp_Forums ADD
	Closed bit NOT NULL DEFAULT 0 
GO

ALTER TABLE [dbo].mp_Forums ADD
	Visible bit NOT NULL DEFAULT 1 
GO

ALTER TABLE [dbo].mp_Forums ADD
	RequireModeration bit NOT NULL DEFAULT 0 
GO

ALTER TABLE [dbo].mp_Forums ADD
	RequireModForNotify bit NOT NULL DEFAULT 0 
GO

ALTER TABLE [dbo].mp_Forums ADD
	AllowTrustedDirectPosts bit NOT NULL DEFAULT 0 
GO

ALTER TABLE [dbo].mp_Forums ADD
	AllowTrustedDirectNotify bit NOT NULL DEFAULT 0 
GO


ALTER PROCEDURE [dbo].[mp_Forums_Insert]

/*
Author:				
Created:			2004-09-12
Last Modified:		2014-06-20

*/

@ForumGuid uniqueidentifier,
@ModuleID int,
@UserID int,
@Title nvarchar(100),
@Description nvarchar(max),
@IsModerated bit,
@IsActive bit,
@SortOrder int,
@PostsPerPage int,
@ThreadsPerPage	int,
@AllowAnonymousPosts bit,
@RolesThatCanPost nvarchar(max),
@RolesThatCanModerate nvarchar(max),
@ModeratorNotifyEmail nvarchar(max),
@IncludeInGoogleMap bit,
@AddNoIndexMeta bit,
@Closed bit,
@Visible bit,
@RequireModeration bit,
@RequireModForNotify bit,
@AllowTrustedDirectPosts bit,
@AllowTrustedDirectNotify bit



AS

INSERT INTO			[dbo].mp_Forums
(
				ForumGuid,
				ModuleID,
				CreatedBy,
				Title,
				[Description],
				IsModerated,
				IsActive,
				SortOrder,
				PostsPerPage,
				ThreadsPerPage,
				AllowAnonymousPosts,
				RolesThatCanPost,
				RolesThatCanModerate,
				ModeratorNotifyEmail,
				IncludeInGoogleMap,
				AddNoIndexMeta,
				Closed,
				Visible,
				RequireModeration,
				RequireModForNotify,
				AllowTrustedDirectPosts,
				AllowTrustedDirectNotify

)

VALUES
(
				@ForumGuid,
				@ModuleID,
				@UserID,
				@Title,
				@Description,
				@IsModerated,
				@IsActive,
				@SortOrder,
				@PostsPerPage,
				@ThreadsPerPage,
				@AllowAnonymousPosts,
				@RolesThatCanPost,
				@RolesThatCanModerate,
				@ModeratorNotifyEmail,
				@IncludeInGoogleMap,
				@AddNoIndexMeta,
				@Closed,
				@Visible,
				@RequireModeration,
				@RequireModForNotify,
				@AllowTrustedDirectPosts,
				@AllowTrustedDirectNotify

)

SELECT @@IDENTITY As ItemID



GO

ALTER PROCEDURE [dbo].[mp_Forums_Update]

/*
Author:			
Created:		2004-09-12
Last Modified:	2014-06-20

*/

@ItemID int,
@Title nvarchar(100),
@Description nvarchar(max),
@IsModerated bit,
@IsActive bit,
@SortOrder int,
@PostsPerPage int,
@ThreadsPerPage int,
@AllowAnonymousPosts bit,
@RolesThatCanPost nvarchar(max),
@RolesThatCanModerate nvarchar(max),
@ModeratorNotifyEmail nvarchar(max),
@IncludeInGoogleMap bit,
@AddNoIndexMeta bit,
@Closed bit,
@Visible bit,
@RequireModeration bit,
@RequireModForNotify bit,
@AllowTrustedDirectPosts bit,
@AllowTrustedDirectNotify bit



AS


UPDATE		[dbo].mp_Forums

SET			Title = @Title,
			[Description] = @Description,
			IsModerated = @IsModerated,
			IsActive = @IsActive,
			SortOrder = @SortOrder,
			PostsPerPage = @PostsPerPage,
			ThreadsPerPage = @ThreadsPerPage,
			AllowAnonymousPosts = @AllowAnonymousPosts,
			RolesThatCanPost = @RolesThatCanPost,
			RolesThatCanModerate = @RolesThatCanModerate,
			ModeratorNotifyEmail = @ModeratorNotifyEmail,
			IncludeInGoogleMap = @IncludeInGoogleMap,
			AddNoIndexMeta = @AddNoIndexMeta,
			Closed = @Closed,
			Visible = @Visible,
			RequireModeration = @RequireModeration,
			RequireModForNotify = @RequireModForNotify,
			AllowTrustedDirectPosts = @AllowTrustedDirectPosts,
			AllowTrustedDirectNotify = @AllowTrustedDirectNotify



WHERE		ItemID = @ItemID


GO




ALTER PROCEDURE [dbo].[mp_ForumThreads_Update]

/*
Author:			
Created:		2004-09-19
Last Modified:	2014-06-20

*/

@ThreadID			int,
@ForumID			int,
@ThreadSubject		nvarchar(255),
@SortOrder			int,
@IsLocked			bit,
@IsQuestion bit,
@IncludeInSiteMap bit,
@SetNoIndexMeta bit,
@PTitleOverride nvarchar(255),
@ModStatus int,
@ThreadType nvarchar(100),
@AssignedTo uniqueidentifier,
@LockedBy uniqueidentifier,
@LockedReason nvarchar(255),
@LockedUtc datetime


AS


UPDATE		[dbo].mp_ForumThreads

SET			ForumID = @ForumID,
			ThreadSubject = @ThreadSubject,
			SortOrder = @SortOrder,
			IsLocked = @IsLocked,
			IsQuestion = @IsQuestion,
			IncludeInSiteMap = @IncludeInSiteMap,
			SetNoIndexMeta = @SetNoIndexMeta,
			PTitleOverride = @PTitleOverride,
			ModStatus = @ModStatus,
			ThreadType = @ThreadType,
			AssignedTo = @AssignedTo,
			LockedBy = @LockedBy,
			LockedReason = @LockedReason,
			LockedUtc = @LockedUtc


WHERE		ThreadID = @ThreadID



GO




ALTER PROCEDURE [dbo].[mp_ForumThreads_Insert]

/*
Author:			
Created:		2004-09-19
Last Modified:	2014-06-20

*/

@ForumID			int,
@ThreadSubject		nvarchar(255),
@SortOrder			int,
@IsLocked			bit,
@StartedByUserID		int,
@ThreadDate		datetime,
@ThreadGuid uniqueidentifier,
@IsQuestion bit,
@IncludeInSiteMap bit,
@SetNoIndexMeta bit,
@PTitleOverride nvarchar(255),
@ModStatus int,
@ThreadType nvarchar(100)



AS
DECLARE @ThreadID int
DECLARE @ForumSequence int
SET @ForumSequence = (SELECT COALESCE(Max(ForumSequence) + 1,1) FROM [dbo].mp_ForumThreads WHERE ForumID = @ForumID)

INSERT INTO		[dbo].mp_ForumThreads
(
			ForumID,
			ThreadSubject,
			SortOrder,
			ForumSequence,
			IsLocked,
			StartedByUserID,
			ThreadDate,
			MostRecentPostUserID,
			MostRecentPostDate,
			ThreadGuid,
			IsQuestion,
			IncludeInSiteMap,
			SetNoIndexMeta,
			PTitleOverride,
			ModStatus,
			ThreadType

)

VALUES
(
			
			@ForumID,
			@ThreadSubject,
			@SortOrder,
			@ForumSequence,
			@IsLocked,
			@StartedByUserID,
			@ThreadDate,
			@StartedByUserID,
			@ThreadDate,
			@ThreadGuid,
			@IsQuestion,
			@IncludeInSiteMap,
			@SetNoIndexMeta,
			@PTitleOverride,
			@ModStatus,
			@ThreadType


)

SELECT @@IDENTITY  AS ThreadID



GO




ALTER PROCEDURE [dbo].[mp_ForumPosts_Insert]

/*
Author:			
Created:		2004-09-19
Last Modified:	2014-06-20

*/


@ThreadID			int,
@Subject			nvarchar(255),
@Post				nvarchar(max),
@Approved			bit,
@UserID			int,
@PostDate		datetime,
@PostGuid  uniqueidentifier,
@ApprovedBy uniqueidentifier,
@ApprovedUtc Datetime,
@UserIp nvarchar(50),
@NotificationSent bit,
@ModStatus int



AS
DECLARE @ThreadSequence int
SET @ThreadSequence = (SELECT COALESCE(Max(ThreadSequence) + 1,1) FROM [dbo].mp_ForumPosts WHERE ThreadID = @ThreadID)



INSERT INTO		[dbo].mp_ForumPosts
(
			ThreadID,
			Subject,
			Post,
			Approved,
			UserID,
			ThreadSequence,
			PostDate,
			AnswerVotes,
			PostGuid,
			ApprovedBy,
			ApprovedUtc,
			UserIp,
			NotificationSent,
			ModStatus
)

VALUES
(
			@ThreadID,
			@Subject,
			@Post,
			@Approved,
			@UserID,
			@ThreadSequence,
			@PostDate,
			0,
			@PostGuid,
			@ApprovedBy,
			@ApprovedUtc,
			@UserIp,
			@NotificationSent,
			@ModStatus

)

SELECT  @@IDENTITY As PostID



GO

ALTER PROCEDURE [dbo].[mp_ForumPosts_Update]

/*
Author:			
Created:		2004-09-19
Last Modified:	2014-06-20

*/

@PostID			int,
@Subject			nvarchar(255),
@Post				nvarchar(max),
@SortOrder			int,
@Approved			bit,
@ApprovedBy uniqueidentifier,
@ApprovedUtc Datetime,
@NotificationSent bit,
@ModStatus int

AS

UPDATE		[dbo].mp_ForumPosts

SET			Subject = @Subject,
			Post = @Post,
			SortOrder = @SortOrder,
			Approved = @Approved,
			ApprovedBy = @ApprovedBy,
			ApprovedUtc = @ApprovedUtc,
			NotificationSent = @NotificationSent,
			ModStatus = @ModStatus


WHERE		PostID = @PostID



GO


