CREATE PROCEDURE [dbo].[mp_ForumThreads_SelectThreadsByPage]

/*
Author:			Joe Audettte
Created:		2012-05-22
Last Modified:	2012-05-22

*/


@SiteID		int,
@PageID		int

AS
SELECT  	ft.*,
		f.ModuleID,
		f.ItemID,
		m.ModuleTitle,
		m.ViewRoles,
		md.FeatureName

FROM		[dbo].mp_ForumThreads ft


JOIN		[dbo].mp_Forums f
ON		f.ItemID = ft.ForumID

JOIN		[dbo].mp_Modules m
ON		f.ModuleID = m.ModuleID

JOIN		[dbo].mp_ModuleDefinitions md
ON		m.ModuleDefID = md.ModuleDefID

JOIN		[dbo].mp_PageModules pm
ON			pm.ModuleID = m.ModuleID

JOIN		[dbo].mp_Pages p
ON		p.PageID = pm.PageID

WHERE	p.SiteID = @SiteID
		AND pm.PageID = @PageID
		

GO

