ALTER PROCEDURE [dbo].[mp_ForumThreads_IncrementReplyCount]

/*
Author:			
Created:		2004-09-19
Last Modified:	2014-01-17

*/

@ThreadID			int,
@MostRecentPostUserID	int,
@MostRecentPostDate datetime



AS
UPDATE		[dbo].mp_ForumThreads

SET			MostRecentPostUserID = @MostRecentPostUserID,
			TotalReplies = (SELECT COUNT(*)-1 FROM [dbo].mp_ForumPosts WHERE ThreadID = @ThreadID ),
			MostRecentPostDate = @MostRecentPostDate


WHERE		ThreadID = @ThreadID


GO


ALTER PROCEDURE [dbo].[mp_Forums_DecrementPostCount]

/*
Author:				
Created:			2004-11-06
Last Modified:		2014-01-17

*/

@ForumID		int

AS


UPDATE [dbo].mp_Forums

SET PostCount = (
SELECT COUNT(*) 

FROM [dbo].mp_ForumPosts p 
JOIN [dbo].mp_ForumThreads ft
ON p.ThreadID = ft.ThreadID
AND ft.ForumID = @ForumID
)

WHERE ItemID = @ForumID


GO


ALTER PROCEDURE [dbo].[mp_Forums_IncrementPostCount]

/*
Author:				
Created:			2004-11-06
Last Modified:		2014-01-17

*/

@ForumID			int,
@MostRecentPostUserID	int,
@MostRecentPostDate datetime

AS
UPDATE 	[dbo].mp_Forums

SET 		MostRecentPostDate = @MostRecentPostDate,
		MostRecentPostUserID = @MostRecentPostUserID,
 		PostCount = (
SELECT COUNT(*) 

FROM [dbo].mp_ForumPosts p 
JOIN [dbo].mp_ForumThreads ft
ON p.ThreadID = ft.ThreadID
AND ft.ForumID = @ForumID
)

WHERE 	ItemID = @ForumID


GO

ALTER PROCEDURE [dbo].[mp_Forums_IncrementPostCountOnly]

/*
Author:				
Created:			2005-09-10
Last Modified:		2014-01-17

*/

@ForumID			int


AS


UPDATE 	mp_Forums

SET 		
 		PostCount = (
SELECT COUNT(*) 

FROM [dbo].mp_ForumPosts p 
JOIN [dbo].mp_ForumThreads ft
ON p.ThreadID = ft.ThreadID
AND ft.ForumID = @ForumID
)

WHERE 	ItemID = @ForumID


GO


ALTER PROCEDURE [dbo].[mp_Forums_IncrementThreadCount]

/*
Author:			
Created:		2004-11-28
Last Modified:	2014-01-17

*/

@ForumID			int

AS

UPDATE		[dbo].mp_Forums

SET			ThreadCount = (

SELECT COUNT(*) FROM [dbo].mp_ForumThreads ft WHERE ft.ForumID = @ForumID

)

WHERE		ItemID = @ForumID


GO


ALTER PROCEDURE [dbo].[mp_Forums_RecalculatePostStats]

/*
Author:			
Created:		2005-09-11
Last Modified:	2014-01-17

based ont he pgsql version by Dean Brettle

*/

@ForumID		int


AS

DECLARE @RowsAffected		int
DECLARE @MostRecentPostDate	datetime
DECLARE @MostRecentPostUserID	int
DECLARE @PostCount			int

SET @RowsAffected = 0

SELECT TOP 1	@MostRecentPostDate = MostRecentPostDate,
		@MostRecentPostUserID = MostRecentPostUserID

FROM		[dbo].mp_ForumThreads

WHERE	ForumID = @ForumID

ORDER BY	MostRecentPostDate DESC

SET @PostCount = (
SELECT COUNT(*) 
FROM [dbo].mp_ForumPosts p 
JOIN [dbo].mp_ForumThreads ft
ON p.ThreadID = ft.ThreadID
AND ft.ForumID = @ForumID
)

UPDATE 	[dbo].mp_Forums
SET		MostRecentPostDate = @MostRecentPostDate,
		MostRecentPostUserID = COALESCE(@MostRecentPostUserID,0),
		PostCount = @PostCount

WHERE	ItemID = @ForumID

SET @RowsAffected = @@ROWCOUNT


SELECT @RowsAffected


GO


ALTER PROCEDURE [dbo].[mp_Forums_UpdatePostStats]

/*
Author:			
Created:		2004-09-19
Last Modified:	2014-01-17

*/

@ForumID			int,
@MostRecentPostUserID	int

AS

UPDATE	[dbo].mp_Forums

SET		MostRecentPostDate = GetDate(),
		MostRecentPostUserID = @MostRecentPostUserID,
		PostCount = (
SELECT COUNT(*) 

FROM [dbo].mp_ForumPosts p 
JOIN [dbo].mp_ForumThreads ft
ON p.ThreadID = ft.ThreadID
AND ft.ForumID = @ForumID
)

WHERE	ItemID = @ForumID


GO


ALTER PROCEDURE [dbo].[mp_Forums_UpdateThreadStats]

/*
Author:			
Created:		2004-09-19
Last Modified:	2014-01-17

*/

@ForumID			int

AS

UPDATE		[dbo].mp_Forums

SET			ThreadCount =(

SELECT COUNT(*) FROM [dbo].mp_ForumThreads ft WHERE ft.ForumID = @ForumID

)

WHERE		ItemID = @ForumID


GO


ALTER PROCEDURE [dbo].[mp_ForumThreads_DecrementReplyCount]

/*
Author:			
Created:		2005-02-19
Last Modified:	2014-01-17

*/

@ThreadID			int


AS

DECLARE @MostRecentPostUserID int
DECLARE @MostRecentPostDate datetime
 
SELECT TOP 1  @MostRecentPostUserID = UserID,
		@MostRecentPostDate = PostDate

FROM mp_ForumPosts 
WHERE ThreadID = @ThreadID 
ORDER BY PostID DESC


UPDATE		[dbo].mp_ForumThreads

SET			MostRecentPostUserID = @MostRecentPostUserID,
			TotalReplies = (SELECT COUNT(*)-1 FROM [dbo].mp_ForumPosts WHERE ThreadID = @ThreadID ),
			MostRecentPostDate = @MostRecentPostDate


WHERE		ThreadID = @ThreadID


GO

