ALTER TABLE	mp_SharedFileFolders
ADD COLUMN	ViewRoles TEXT NULL;


ALTER TABLE	mp_SharedFiles
ADD COLUMN	ViewRoles TEXT NULL;


ALTER TABLE	mp_SharedFilesHistory
ADD COLUMN	ViewRoles TEXT NULL;


UPDATE	mp_SharedFileFolders
SET		ViewRoles = 'All Users'
WHERE	ViewRoles IS NULL;


UPDATE	mp_SharedFiles
SET		ViewRoles = 'All Users'
WHERE	ViewRoles IS NULL;


UPDATE	mp_SharedFilesHistory
SET		ViewRoles = 'All Users'
WHERE	ViewRoles IS NULL;