CREATE TABLE mp_TaskQueue (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 QueuedBy VARCHAR(36) NOT NULL,
 TaskName VARCHAR(255) NOT NULL,
 NotifyOnCompletion SMALLINT NOT NULL,
 NotificationToEmail VARCHAR(255) ,
 NotificationFromEmail VARCHAR(255) ,
 NotificationSubject VARCHAR(255) ,
 TaskCompleteMessage BLOB SUB_TYPE 1 ,
 NotificationSentUTC TIMESTAMP ,
 CanStop SMALLINT NOT NULL,
 CanResume SMALLINT NOT NULL,
 UpdateFrequency INTEGER NOT NULL,
 QueuedUTC TIMESTAMP NOT NULL,
 StartUTC TIMESTAMP ,
 CompleteUTC TIMESTAMP ,
 LastStatusUpdateUTC TIMESTAMP ,
 CompleteRatio Float NOT NULL,
 Status VARCHAR(255) ,
 SerializedTaskObject BLOB SUB_TYPE 1 ,
 SerializedTaskType VARCHAR(255) ,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_UserLocation (
 RowID VARCHAR(36) NOT NULL, 
 UserGuid VARCHAR(36) NOT NULL,
 SiteGuid VARCHAR(36) NOT NULL,
 IPAddress VARCHAR(50) NOT NULL,
 IPAddressLong BigInt NOT NULL,
 Hostname VARCHAR(255) ,
 Longitude Float NOT NULL,
 Latitude Float NOT NULL,
 ISP VARCHAR(255) ,
 Continent VARCHAR(255) ,
 Country VARCHAR(255) ,
 Region VARCHAR(255) ,
 City VARCHAR(255) ,
 TimeZone VARCHAR(255) ,
 CaptureCount INTEGER NOT NULL,
 FirstCaptureUTC TIMESTAMP NOT NULL,
 LastCaptureUTC TIMESTAMP NOT NULL,
 PRIMARY KEY (RowID)   
);
