<?xml version="1.0" encoding="utf-8" ?>
<siteContent>
	<pages>
		<page 
			name="Home" 
			title="" 
			url="~/home"
			menuImage=""
			pageOrder="1"
			requireSSL="false"
			visibleToRoles="All Users;"
			editRoles="Content Publishers;"
			createChildPageRoles=""
			pageMetaKeyWords=""
			pageMetaDescription=""
			>
			<contentFeature 
				featureGuid="881e4e00-93e4-444c-b7b0-6672fb55de10"
				contentTitle="Welcome"
        contentInstaller="mojoPortal.Web.HtmlContentInstaller, mojoPortal.Web"
        configInfo="InitialSiteHomeContent.config"
				location="contentpane"
				sortOrder="1"
				cacheTimeInSeconds="0"
			/>
				  
		</page>
	</pages>
</siteContent>
