ALTER TABLE mp_forums ADD COLUMN forumguid varchar(36) NULL;

ALTER TABLE mp_forumthreads ADD COLUMN threadguid varchar(36) NULL;
ALTER TABLE mp_forumthreads ADD COLUMN isquestion boolean DEFAULT true NOT NULL;
ALTER TABLE mp_forumthreads ADD COLUMN includeinsitemap boolean DEFAULT true NOT NULL;
ALTER TABLE mp_forumthreads ADD COLUMN setnoindexmeta boolean DEFAULT false NOT NULL;
ALTER TABLE mp_forumthreads ADD COLUMN ptitleoverride varchar(255) NULL;

ALTER TABLE mp_forumposts ADD COLUMN postguid varchar(36) NULL;
ALTER TABLE mp_forumposts ADD COLUMN answervotes integer DEFAULT 0 NOT NULL;
ALTER TABLE mp_forumposts ADD COLUMN approvedby varchar(36) DEFAULT '00000000-0000-0000-0000-000000000000' NOT NULL;
ALTER TABLE mp_forumposts ADD COLUMN approvedutc timestamp without time zone NULL;
ALTER TABLE mp_forumposts ADD COLUMN userip varchar(50) NULL;
