ALTER TABLE mp_forumposts ADD COLUMN notificationsent boolean DEFAULT true NOT NULL;
ALTER TABLE mp_forumposts ADD COLUMN modstatus integer DEFAULT 1 NOT NULL;

ALTER TABLE mp_forumthreads ADD COLUMN modstatus integer DEFAULT 1 NOT NULL;
ALTER TABLE mp_forumthreads ADD COLUMN threadtype varchar(100) NULL;
ALTER TABLE mp_forumthreads ADD COLUMN assignedto varchar(36) Default '00000000-0000-0000-0000-000000000000' NOT NULL;
ALTER TABLE mp_forumthreads ADD COLUMN lockedreason varchar(255) NULL;
ALTER TABLE mp_forumthreads ADD COLUMN lockedby varchar(36) Default '00000000-0000-0000-0000-000000000000' NOT NULL;
ALTER TABLE mp_forumthreads ADD COLUMN lockedutc timestamp without time zone NULL;

ALTER TABLE mp_forums ADD COLUMN rolesthatcanpost text DEFAULT 'Authenticated Users' NOT NULL;
ALTER TABLE mp_forums ADD COLUMN rolesthatcanmoderate text NULL;
ALTER TABLE mp_forums ADD COLUMN moderatornotifyemail text NULL;
ALTER TABLE mp_forums ADD COLUMN includeingooglemap boolean DEFAULT true NOT NULL;
ALTER TABLE mp_forums ADD COLUMN addnoindexmeta boolean DEFAULT false NOT NULL;
ALTER TABLE mp_forums ADD COLUMN closed boolean DEFAULT false NOT NULL;
ALTER TABLE mp_forums ADD COLUMN visible boolean DEFAULT true NOT NULL;
ALTER TABLE mp_forums ADD COLUMN requiremoderation boolean DEFAULT false NOT NULL;
ALTER TABLE mp_forums ADD COLUMN requiremodfornotify boolean DEFAULT false NOT NULL;
ALTER TABLE mp_forums ADD COLUMN allowtrusteddirectposts boolean DEFAULT false NOT NULL;
ALTER TABLE mp_forums ADD COLUMN allowtrusteddirectnotify boolean DEFAULT false NOT NULL;

