.url-browser__modal .modal-dialog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	height: calc(100% - 60px);
	max-width: 1500px;
	width: 80%;
}

.url-browser__modal .modal-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}

.url-browser__modal .modal-header {
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.url-browser__modal .modal-body {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.url-browser__modal-iframe {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.url-browser__modal-iframe:not([style="display: none;"]) ~ .loader {
	display: none;
}

.url-browser__image-preview {
	max-width: 220px !important;
	vertical-align: top;
}


/* Loader CSS */
.loader {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.loader-spinner {
	-webkit-animation: spin 2s linear infinite;
	        animation: spin 2s linear infinite;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	height: 120px;
	margin: 60px -60px -60px 60px;
	width: 120px;
}

.loader-text {
	margin-top: 10px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotateZ(0deg);
		        transform: rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotateZ(0deg);
		        transform: rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}