.extruder{
  position:fixed;
  cursor:default;
  background:url('extruder_blank.png');
}

.extruder .header{
  height:27px;
}

.extruder .content{
  display:none;
  background:url('extruder_bgnd.png') repeat-y bottom left;
}

.extruder.open .content{
  -moz-box-shadow:#999 2px -2px 2px;
  -webkit-box-shadow:#999 2px -2px 2px;
}



.extruder .footer{
  display:block;
  spadding:5px;
  height:10px;
  background:#000;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
.extruder.top .flap{
  color:white;
  text-shadow: #000 2px 2px 2px;
  font:18px/18px Arial, Helvetica, sans-serif;
  text-align:center;
  display:block;
  padding:0 5px 5px 5px;
  height:30px;
  background:url('extruder_flap.png') no-repeat top center;
  cursor:pointer;
}

.extruder.left{
  /*position:absolute;*/
  height:100%;
  background:url('extruder_blank.png');
}

.extruder.left .content{
  display:block;
  border-right:3px solid #000;
}


.extruder.left .ext_wrapper{
  height:100%;
}

.extruder.left .footer{
  display:none;
}

.extruder.left .flap{
  font-size:18px;
  color:white;
  top:0;
  padding:10px 0px 10px 10px;
  background:#000;
  width:30px;
  /*height:150px;*/
  position:absolute;
  /*overflow:hidden;*/
  right:-2px;
  -moz-border-radius:0 10px 10px 0;
  -webkit-border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-box-shadow:#666 2px 0px 3px;
  -webkit-box-shadow:#666 2px 0px 3px;
}


/*Extruder Content*/

  .extruder .voice{
    font:18px/18px Arial, Helvetica, sans-serif;
    color:white;
    padding:5px;
    padding-left:10px;
    height:27px;
    border-bottom:1px solid #333;
    background:url('extruder_blank.png') no-repeat bottom left;
    text-shadow:#333 2px 2px 2px;
  }
 .extruder .voice.disabled{
   cursor:default;
  }
.extruder .text{
    background:#222;
    font:14px/16px Arial, Helvetica, sans-serif;
    color:gray;
    padding:10px;
    border-bottom:1px solid #333;
  /*text-shadow:#000 2px 2px 2px;*/
  }

  .extruder .voice.hover{
    background:url('extruder_voiceHover.png') no-repeat top;
  }

  .extruder .voice.sel{
    background:url('extruder_voiceHover.png') no-repeat top;
  }

  .extruder .voice img{
    float:left;
    margin-right:15px;
  }

  .extruder .voice a.label{
    display:block;
    height:30px;
    color:white;
    padding-top:0px;
    text-decoration:none;
  }

  .extruder .voice span.label{
    display:block;
    height:30px;
    color: #d0cfcf;
    padding-top:0px;
    text-decoration:none;
  }

  .extruder .voice{
    position:relative;
  }

  .extruder .settingsBtn{
    display:block;
    position:absolute;
    width:36px;
    height:36px;
    background: url('settingsBtn.png') no-repeat bottom;
    cursor:pointer;
    right:-3px;
    top:-4px;
    /*z-index:1000;*/
  }

  .extruder .optionsPanel{
    /*background: url('optionsPanel.png') no-repeat bottom;*/
    background: url('fuzz.gif');
    display:none;
    border-bottom:1px solid #333;
  }

  .extruder .voice.sel{
    background: url('extruder_voiceHover.png') no-repeat top;
  }


  /*Extruder Panel*/

  .optionsPanel .panelVoice a{
    text-decoration:none;
    display:block;
    color:#cccccc;
    padding:8px;
    padding-left:20px;
    font-size:16px;
    text-shadow:#333 1px 1px 1px;
    border-bottom:1px solid #444;
    cursor:pointer;
  }
  .optionsPanel .panelVoice a:hover{
    color:#fff;
    /*background: #666666;*/
    background: url('red_op_50.png');
  }

:focus {
	outline: 0;
}


