CREATE TABLE `mp_Links` (
  `ItemID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `Title` varchar(100) default NULL,
  `Url` varchar(250) default NULL,
  `ViewOrder` int(11) default NULL,
  `Description` text,
  `CreatedDate` datetime default NULL,
  `CreatedBy` int(11) default NULL,
  `Target` varchar(20) default '_blank',
  `ItemGuid` varchar(36) default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `UserGuid` varchar(36) default NULL,
  PRIMARY KEY  (`ItemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

