<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="1999e312-0378-4bca-8753-201d17957a74"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="Resource"
		featureNameReasourceKey="SiteStatisticsFeatureName" 
		controlSource="Modules/SiteStatisticsModule.ascx"
		sortOrder="910"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
		<featureSetting
			resourceFile="Resource"
			resourceKey="SiteStatistics_ShowMemberStatisitics"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="Resource"
			resourceKey="SiteStatistics_ShowOnlineStatistics"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="110"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="Resource"
			resourceKey="SiteStatistics_ShowOnlineMembers"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="120"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="ShowMemberGraphSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="130"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="Resource"
			resourceKey="MemberGraphHeightSetting"
			defaultValue="300"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="140"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="MemberGraphWidthSetting"
			defaultValue="500"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="150"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    
	</featureDefinition>
</featureDefinitions>

