<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition 
		featureGuid="12c68a12-ceea-4d29-8a81-2db8f2e9d29b"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="Resource"
		featureNameReasourceKey="SignInModuleFeatureName" 
		controlSource="Modules/LoginModule.ascx" 
		sortOrder="9000"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
    isSearchable="false"
    searchListNameResourceKey=""
		icon="blank.gif"
		>
    
    
	</featureDefinition>
</featureDefinitions>
	

