<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition 
		featureGuid="662d49fd-cb44-42a5-a6a7-b905bbe65889"
		supportedDatabases="MSSQL,MySQL,pgsql,SQLite"
		resourceFile="Resource"
		featureNameReasourceKey="CustomScriptModuleFeatureName" 
		controlSource="Modules/CustomScript.ascx" 
		sortOrder="9000"
		isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		isSearchable="false"
		searchListNameResourceKey=""
		icon="blank.gif"
		>
		<featureSetting
			resourceFile="Resource"
			groupNameKey="ModuleSettingsGeneralTab"
			resourceKey="ScriptUrl"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="CustomScriptModule-ScriptUrl-help"
			sortOrder="1000"
			regexValidationExpression=""
			/>		
		<featureSetting
			resourceFile="Resource"
			groupNameKey="ModuleSettingsGeneralTab"
			resourceKey="ScriptUrlPosition"
			defaultValue="inBody"
			controlType="ISettingControl"
			controlSrc="mojoPortal.Web.UI.ScriptPositionSetting, mojoPortal.Web"
			sortOrder="2000"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="Resource"
			groupNameKey="ModuleSettingsGeneralTab"
			resourceKey="RawScriptPosition"
			defaultValue="bottomStartup"
			controlType="ISettingControl"
			controlSrc="mojoPortal.Web.UI.ScriptPositionSetting, mojoPortal.Web"
			sortOrder="3000"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="Resource"
			groupNameKey="ModuleSettingsGeneralTab"
			resourceKey="AddScriptElementToRawScript"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="CustomScriptModule-AddScriptElementToRawScript-help"
			sortOrder="4000"
			regexValidationExpression=""
			/>		
		<featureSetting
			resourceFile="Resource"
			groupNameKey="ModuleSettingsGeneralTab"
			resourceKey="RawScript"
			defaultValue=""
			controlType="ISettingControl"
			controlSrc="mojoPortal.Web.UI.mojoTextArea, mojoPortal.Web"
			helpKey="CustomScript-RawScript-help"
			sortOrder="5000"
			regexValidationExpression=""
			/>	
		<featureSetting
			resourceFile="Resource"
			groupNameKey="ModuleSettingsGeneralTab"
			resourceKey="RenderStandardWrapperDivs"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="CustomScriptModule-RenderStandardWrapperDivs-help"
			sortOrder="6000"
			regexValidationExpression=""
			/>	
	
    <featureSetting
			resourceFile="Resource"
			groupNameKey="ModuleSettingsGeneralTab"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
	        controlSrc=""
	        helpKey="custom-module-css-class-help"
	        sortOrder="7000"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>										
	</featureDefinition>
</featureDefinitions>