<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition 
		featureGuid="f889c7c8-78e1-4cd2-a4cd-a0723f9a7cf0"
        supportedDatabases="MSSQL,MySQL,pgsql,SQLite"
		resourceFile="Resource"
		featureNameReasourceKey="RecentContentFeatureName" 
		controlSource="Modules/RecentContentModule.ascx" 
		sortOrder="9000"
        isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
        isSearchable="false"
        searchListNameResourceKey=""
		icon="blank.gif"
		>
    <featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="SearchableFeature"
			defaultValue="881e4e00-93e4-444c-b7b0-6672fb55de10,026cbead-2b80-4491-906d-b83e37179ccf,38aa5a84-9f5c-42eb-8f4c-105983d419fb,74bdbcc2-0e79-47ff-bcd4-a159270bf36e,dc873d76-5bf2-4ac5-bff7-434a87a3fc8e,d572f6b4-d0ed-465d-ad60-60433893b401,5a343d88-bce1-43d1-98ae-b42d77893e7b,0cefbf18-56de-11dc-8f36-bac755d89593"
			controlType="ISettingControl"
			controlSrc="~/Controls/SearchableFeatureFilterSetting.ascx"
			helpKey=""
			sortOrder="2000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="MaxRecentItemsToGet"
			defaultValue="5"
			controlType="TextBox"
			controlSrc=""
			helpKey=""
			sortOrder="3000"
			regexValidationExpression="^[1-9][0-9]{0,2}$"
			/>
			
	<featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="MaxDaysOldRecentItemsToGet"
			defaultValue="30"
			controlType="TextBox"
			controlSrc=""
			helpKey=""
			sortOrder="3000"
			regexValidationExpression="^[1-9][0-9]{0,2}$"
			/>
			
	<featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="RecentContentUseCreatedDate"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="RecentContent-UseCreatedDate-help"
			sortOrder="4000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="ShowExcerpt"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="RecentContent-UseCreatedDate-help"
			sortOrder="5000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="ShowAuthor"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="RecentContent-UseCreatedDate-help"
			sortOrder="6000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="ShowCreatedDate"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="RecentContent-UseCreatedDate-help"
			sortOrder="7000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
			groupNameKey=""
			resourceKey="ShowLastModDate"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="RecentContent-UseCreatedDate-help"
			sortOrder="8000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="EnableFeed"
			defaultValue="true"
			controlType="CheckBox"
            controlSrc=""
            helpKey="RecentContent-EnableFeed-help"
            sortOrder="9000"
			regexValidationExpression=""
			/>
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="ShowFeedLink"
			defaultValue="true"
			controlType="CheckBox"
            controlSrc=""
            helpKey=""
            sortOrder="9500"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="FeedCacheTimeInMinutes"
			defaultValue="10"
			controlType="TextBox"
            controlSrc=""
            helpKey="FeedCacheTimeInMinutes-help"
            sortOrder="10000"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="FeedTimeToLiveInMinutes"
			defaultValue="10"
			controlType="TextBox"
            controlSrc=""
            helpKey="FeedTimeToLiveInMinutes-help"
            sortOrder="11000"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="FeedChannelTitle"
			defaultValue="Recent Content"
			controlType="TextBox"
            controlSrc=""
            helpKey="FeedChannelTitle-help"
            sortOrder="12000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="FeedChannelDescription"
			defaultValue="Recent Content"
			controlType="TextBox"
            controlSrc=""
            helpKey="FeedChannelDescription-help"
            sortOrder="13000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="FeedChannelCopyright"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="FeedChannelCopyright-help"
            sortOrder="14000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="FeedChannelManagingEditor"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="FeedChannelManagingEditor-help"
            sortOrder="15000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="Resource"
            groupNameKey=""
			resourceKey="FeedburnerFeedUrl"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="BlogFeedburnerFeedUrl-help"
            sortOrder="16000"
			regexValidationExpression=""
			/>
			
    
	</featureDefinition>
</featureDefinitions>
	

