<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="b6c34a90-0d79-4c5a-ba3c-75dd0fdfc0ef"
		supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlAzure,SqlCe"
		resourceFile="Resource"
		featureNameReasourceKey="CustomMenuFeatureName"
		controlSource="Modules/CustomMenu.ascx"
		sortOrder="9000"
		isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		isSearchable="false"
		supportsPageReuse="true"
	>

		<featureSetting
				resourceFile="Resource"
				resourceKey="CustomMenuStartingPage"
				defaultValue=""
				controlType="ISettingControl"
				controlSrc="~/Controls/PageSelectorSetting.ascx"
				helpKey=""
				sortOrder="100"
				regexValidationExpression=""
		/>
		<featureSetting
				resourceFile="Resource"
				resourceKey="CustomMenuView"
				defaultValue="_CustomMenu"
				controlType="CustomField"
				controlSrc="~/Controls/ViewSelectorSetting.ascx"
				helpKey=""
				sortOrder="105"
				regexValidationExpression=""
		>
			<Attributes>
				<Attribute name="ViewName" value="_CustomMenu" />
				<Attribute name="ViewPath" value="Views/Common" />
			</Attributes>
		</featureSetting>
		<featureSetting
		  resourceFile="Resource"
		  resourceKey="CustomMenuShowStartingNode"
		  defaultValue="false"
		  controlType="CheckBox"
		  controlSrc=""
		  helpKey=""
		  sortOrder="110"
		  regexValidationExpression=""
		/>
		<featureSetting
			  resourceFile="Resource"
			  resourceKey="CustomMenuMaxDepth"
			  defaultValue="-1"
			  controlType="Number"
			  controlSrc=""
			  helpKey=""
			  sortOrder="120"
			  regexValidationExpression=""
		>
			<Attributes>
				<Attribute name="min" value="-1"/>
				<Attribute name="max" value="12"/>
			</Attributes>
		</featureSetting>
		<!--<featureSetting
		  resourceFile="Resource"
		  resourceKey="CustomMenuUseTreeView"
		  defaultValue="false"
		  controlType="CheckBox"
		  controlSrc=""
		  helpKey=""
		  sortOrder="130"
		  regexValidationExpression=""
		/>-->
		<!--<featureSetting
      resourceFile="Resource"
      resourceKey="CustomMenuSkinId"
      defaultValue=""
      controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="140"
      regexValidationExpression=""
		/>-->
	</featureDefinition>
</featureDefinitions>