<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition 
		featureGuid="6c358bd7-6b78-4b3f-a56a-b1146dfa4c34"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="Resource"
		featureNameReasourceKey="NewsletterSignUpFeatureName" 
		controlSource="Modules/NewsLetterSubscribeModule.ascx" 
		sortOrder="900"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
    isSearchable="false"
    searchListNameResourceKey=""
		icon="blank.gif"
		>
    <featureSetting
			resourceFile="Resource"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="75"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
		<featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterButtonTextSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="NewsletterButtonTextSetting-help"
      sortOrder="100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterWatermarkTextSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="NewsletterWatermarkTextSetting-help"
      sortOrder="200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterOverrideInputWidthSetting"
			defaultValue="0"
			controlType="TextBox"
      controlSrc=""
      helpKey="NewsletterOverrideInputWidthSetting-help"
      sortOrder="250"
			regexValidationExpression="^[0-9][0-9]{0,3}$"
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterThankYouMessageSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="NewsletterThankYouMessageSetting-help"
      sortOrder="300"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterShowListSetting"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="NewsletterShowListSetting-help"
      sortOrder="400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterIncludeDescriptionInListSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="NewsletterIncludeDescriptionInListSetting-help"
      sortOrder="500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterShowPreviousEditionLinksSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="NewsletterShowPreviousEditionLinksSetting-help"
      sortOrder="550"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterShowFormatOptionsSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="NewsletterShowFormatOptionsSetting-help"
      sortOrder="600"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterHtmlIsDefaultSetting"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="NewsletterHtmlIsDefaultSetting-help"
      sortOrder="700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterShowmoreInfoLinkSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="NewsletterShowmoreInfoLinkSetting-help"
      sortOrder="800"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="NewsletterMoreInfoTextSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="NewsletterMoreInfoTextSetting-help"
      sortOrder="900"
			regexValidationExpression=""
			/>
    
	</featureDefinition>
</featureDefinitions>
	

