<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition 
		featureGuid="557ea1a4-a994-415c-9b42-1bac0d2f32ae"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="Resource"
		featureNameReasourceKey="ChildPageSiteMapFeatureName" 
		controlSource="Modules/ChildPageSiteMapModule.ascx" 
		sortOrder="9000"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
    isSearchable="false"
    searchListNameResourceKey=""
		icon="blank.gif"
		>
    
    
	</featureDefinition>
</featureDefinitions>
	

