<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
	featureGuid="f889c7c8-78e1-4cd2-a4cd-a0723f9a7cf0"
	supportedDatabases="MSSQL,MySQL,pgsql,SQLite"
	resourceFile="Resource"
	featureNameReasourceKey="RecentContentFeatureName"
	controlSource="Modules/RecentContentModule.ascx"
	sortOrder="9000"
	isCacheable="true"
	defaultCacheTime="0"
	excludeFromFeatureList="false"
	isSearchable="false"
	searchListNameResourceKey=""
	icon="blank.gif"
>
		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="SearchableFeature"
		defaultValue="881e4e00-93e4-444c-b7b0-6672fb55de10,026cbead-2b80-4491-906d-b83e37179ccf,38aa5a84-9f5c-42eb-8f4c-105983d419fb,74bdbcc2-0e79-47ff-bcd4-a159270bf36e,dc873d76-5bf2-4ac5-bff7-434a87a3fc8e,d572f6b4-d0ed-465d-ad60-60433893b401,5a343d88-bce1-43d1-98ae-b42d77893e7b,0cefbf18-56de-11dc-8f36-bac755d89593"
		controlType="ISettingControl"
		controlSrc="~/Controls/SearchableFeatureFilterSetting.ascx"
		helpKey=""
		sortOrder="100"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="MaxRecentItemsToGet"
		defaultValue="5"
		controlType="TextBox"
		controlSrc=""
		helpKey=""
		sortOrder="110"
		regexValidationExpression="^[1-9][0-9]{0,2}$"
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="MaxDaysOldRecentItemsToGet"
		defaultValue="30"
		controlType="TextBox"
		controlSrc=""
		helpKey=""
		sortOrder="120"
		regexValidationExpression="^[1-9][0-9]{0,2}$"
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="RecentContentUseCreatedDate"
		defaultValue="false"
		controlType="CheckBox"
		controlSrc=""
		helpKey="RecentContent-UseCreatedDate-help"
		sortOrder="130"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="ShowExcerpt"
		defaultValue="true"
		controlType="CheckBox"
		controlSrc=""
		helpKey="RecentContent-UseCreatedDate-help"
		sortOrder="140"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="ShowAuthor"
		defaultValue="false"
		controlType="CheckBox"
		controlSrc=""
		helpKey="RecentContent-UseCreatedDate-help"
		sortOrder="150"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="ShowCreatedDate"
		defaultValue="false"
		controlType="CheckBox"
		controlSrc=""
		helpKey="RecentContent-UseCreatedDate-help"
		sortOrder="160"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="ShowLastModDate"
		defaultValue="false"
		controlType="CheckBox"
		controlSrc=""
		helpKey="RecentContent-UseCreatedDate-help"
		sortOrder="170"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="ModuleSettingsGeneralTab"
		resourceKey="CustomCssClassSetting"
		defaultValue=""
		controlType="TextBox"
		controlSrc=""
		helpKey="custom-module-css-class-help"
		sortOrder="180"
		regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
/>
		
		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="EnableFeed"
		defaultValue="true"
		controlType="CheckBox"
		controlSrc=""
		helpKey="RecentContent-EnableFeed-help"
		sortOrder="200"
		regexValidationExpression=""
/>
		
		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="ShowFeedLink"
		defaultValue="true"
		controlType="CheckBox"
		controlSrc=""
		helpKey=""
		sortOrder="210"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="FeedCacheTimeInMinutes"
		defaultValue="10"
		controlType="TextBox"
		controlSrc=""
		helpKey="FeedCacheTimeInMinutes-help"
		sortOrder="220"
		regexValidationExpression="^[1-9][0-9]{0,4}$"
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="FeedTimeToLiveInMinutes"
		defaultValue="10"
		controlType="TextBox"
		controlSrc=""
		helpKey="FeedTimeToLiveInMinutes-help"
		sortOrder="230"
		regexValidationExpression="^[1-9][0-9]{0,4}$"
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="FeedChannelTitle"
		defaultValue=""
		controlType="TextBox"
		controlSrc=""
		helpKey="FeedChannelTitle-help"
		sortOrder="240"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="FeedChannelDescription"
		defaultValue=""
		controlType="TextBox"
		controlSrc=""
		helpKey="FeedChannelDescription-help"
		sortOrder="250"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="FeedChannelCopyright"
		defaultValue=""
		controlType="TextBox"
		controlSrc=""
		helpKey="FeedChannelCopyright-help"
		sortOrder="260"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="FeedChannelManagingEditor"
		defaultValue=""
		controlType="TextBox"
		controlSrc=""
		helpKey="FeedChannelManagingEditor-help"
		sortOrder="270"
		regexValidationExpression=""
/>

		<featureSetting
		resourceFile="Resource"
		groupNameKey="FeedSettings"
		resourceKey="FeedburnerFeedUrl"
		defaultValue=""
		controlType="TextBox"
		controlSrc=""
		helpKey="BlogFeedburnerFeedUrl-help"
		sortOrder="280"
		regexValidationExpression=""
/>
	</featureDefinition>
</featureDefinitions>