CREATE TABLE `mp_CalendarEvents` (
  `ItemID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `Title` varchar(255) NOT NULL default '',
  `Description` text,
  `ImageName` varchar(100) default NULL,
  `EventDate` datetime default NULL,
  `StartTime` datetime default NULL,
  `EndTime` datetime default NULL,
  `CreatedDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `UserID` INTEGER NOT NULL default '0'
, ItemGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
UserGuid VARCHAR(36), 
LastModUserGuid VARCHAR(36), 
Location text, 
LastModUtc datetime, 
RequiresTicket INTEGER, 
TicketPrice decimal(15,4),

ShowMap INTEGER);

