/****** Object:  Table [dbo].[mp_CommerceReportOrders]    Script Date: 02/18/2009 10:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_CommerceReportOrders](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[OrderGuid] [uniqueidentifier] NOT NULL,
	[BillingFirstName] [nvarchar](100) NULL,
	[BillingLastName] [nvarchar](50) NULL,
	[BillingCompany] [nvarchar](255) NULL,
	[BillingAddress1] [nvarchar](255) NULL,
	[BillingAddress2] [nvarchar](255) NULL,
	[BillingSuburb] [nvarchar](255) NULL,
	[BillingCity] [nvarchar](255) NULL,
	[BillingPostalCode] [nvarchar](20) NULL,
	[BillingState] [nvarchar](255) NULL,
	[BillingCountry] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[SubTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_mp_CommerceReportOrders_SubTotal]  DEFAULT ((0)),
	[TaxTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_mp_CommerceReportOrders_TaxTotal]  DEFAULT ((0)),
	[ShippingTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_mp_CommerceReportOrders_ShippingTotal]  DEFAULT ((0)),
	[OrderTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_mp_CommerceReportOrders_OrderTotal]  DEFAULT ((0)),
	[OrderDateUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_CommerceReportOrders_OrderDateUtc]  DEFAULT (getutcdate()),
	[AdminOrderLink] [nvarchar](255) NOT NULL,
	[UserOrderLink] [nvarchar](255) NOT NULL,
	[RowCreatedUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_CommerceReportOrders_RowCreatedUtc]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_mp_CommerceReportOrders] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders] ON [dbo].[mp_CommerceReportOrders] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_1] ON [dbo].[mp_CommerceReportOrders] 
(
	[FeatureGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_2] ON [dbo].[mp_CommerceReportOrders] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_3] ON [dbo].[mp_CommerceReportOrders] 
(
	[UserGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_4] ON [dbo].[mp_CommerceReportOrders] 
(
	[OrderGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_5] ON [dbo].[mp_CommerceReportOrders] 
(
	[BillingCountry] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_6] ON [dbo].[mp_CommerceReportOrders] 
(
	[BillingState] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_7] ON [dbo].[mp_CommerceReportOrders] 
(
	[BillingPostalCode] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_CommerceReportOrders_8] ON [dbo].[mp_CommerceReportOrders] 
(
	[PaymentMethod] ASC
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[mp_CommerceReportOrders_Insert]    Script Date: 02/18/2009 10:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_CommerceReportOrders_Insert]

/*
Author:   			
Created: 			2009-02-18
Last Modified: 		2009-02-18
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@OrderGuid uniqueidentifier,
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(50),
@BillingCompany nvarchar(255),
@BillingAddress1 nvarchar(255),
@BillingAddress2 nvarchar(255),
@BillingSuburb nvarchar(255),
@BillingCity nvarchar(255),
@BillingPostalCode nvarchar(20),
@BillingState nvarchar(255),
@BillingCountry nvarchar(255),
@PaymentMethod nvarchar(50),
@SubTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@OrderDateUtc datetime,
@AdminOrderLink nvarchar(255),
@UserOrderLink nvarchar(255),
@RowCreatedUtc datetime

	
AS

INSERT INTO 	[dbo].[mp_CommerceReportOrders] 
(
				[RowGuid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[UserGuid],
				[OrderGuid],
				[BillingFirstName],
				[BillingLastName],
				[BillingCompany],
				[BillingAddress1],
				[BillingAddress2],
				[BillingSuburb],
				[BillingCity],
				[BillingPostalCode],
				[BillingState],
				[BillingCountry],
				[PaymentMethod],
				[SubTotal],
				[TaxTotal],
				[ShippingTotal],
				[OrderTotal],
				[OrderDateUtc],
				[AdminOrderLink],
				[UserOrderLink],
				[RowCreatedUtc]
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@UserGuid,
				@OrderGuid,
				@BillingFirstName,
				@BillingLastName,
				@BillingCompany,
				@BillingAddress1,
				@BillingAddress2,
				@BillingSuburb,
				@BillingCity,
				@BillingPostalCode,
				@BillingState,
				@BillingCountry,
				@PaymentMethod,
				@SubTotal,
				@TaxTotal,
				@ShippingTotal,
				@OrderTotal,
				@OrderDateUtc,
				@AdminOrderLink,
				@UserOrderLink,
				@RowCreatedUtc
				
)
GO
/****** Object:  StoredProcedure [dbo].[mp_CommerceReportOrders_Delete]    Script Date: 02/18/2009 10:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_CommerceReportOrders_Delete]

/*
Author:   			
Created: 			2009-2-18
Last Modified: 		2009-2-18
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CommerceReportOrders]
WHERE
	[RowGuid] = @RowGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_CommerceReportOrders_DeleteBySite]    Script Date: 02/18/2009 10:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_CommerceReportOrders_DeleteBySite]

/*
Author:   			
Created: 			2009-2-18
Last Modified: 		2009-2-18
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CommerceReportOrders]
WHERE
	[SiteGuid] = @SiteGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_CommerceReportOrders_DeleteByModule]    Script Date: 02/18/2009 10:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_CommerceReportOrders_DeleteByModule]

/*
Author:   			
Created: 			2009-2-18
Last Modified: 		2009-2-18
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CommerceReportOrders]
WHERE
	[ModuleGuid] = @ModuleGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_CommerceReportOrders_DeleteByFeature]    Script Date: 02/18/2009 10:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_CommerceReportOrders_DeleteByFeature]

/*
Author:   			
Created: 			2009-2-18
Last Modified: 		2009-2-18
*/

@FeatureGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CommerceReportOrders]
WHERE
	[FeatureGuid] = @FeatureGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_CommerceReportOrders_DeleteByUser]    Script Date: 02/18/2009 10:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_CommerceReportOrders_DeleteByUser]

/*
Author:   			
Created: 			2009-2-18
Last Modified: 		2009-2-18
*/

@UserGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CommerceReportOrders]
WHERE
	[UserGuid] = @UserGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




