ALTER TABLE [dbo].mp_GoogleCheckoutLog ADD
	ProviderName nvarchar(255) NULL 
GO

ALTER TABLE [dbo].mp_PayPalLog ADD
	ProviderName nvarchar(255) NULL 
GO

ALTER TABLE [dbo].mp_PayPalLog ADD
	ReturnUrl nvarchar(255) NULL 
GO

ALTER TABLE [dbo].mp_PayPalLog ADD
	SerializedObject ntext NULL 
GO



SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_AuthorizeNetLog_Update]

/*
Author:   			
Created: 			2008-3-10
Last Modified: 		2008-3-10
*/
	
@RowGuid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@StoreGuid uniqueidentifier, 
@CartGuid uniqueidentifier, 
@RawResponse ntext, 
@ResponseCode nchar(1), 
@ResponseReasonCode nvarchar(20), 
@Reason ntext, 
@AvsCode nvarchar(50), 
@CcvCode nchar(1), 
@CavCode nchar(1), 
@TransactionId nvarchar(50), 
@TransactionType nvarchar(50), 
@Method nvarchar(20), 
@AuthCode nvarchar(50), 
@Amount decimal(15, 4), 
@Tax decimal(15, 4), 
@Duty decimal(15, 4), 
@Freight decimal(15, 4) 


AS

UPDATE 		[dbo].[mp_AuthorizeNetLog] 

SET
			[SiteGuid] = @SiteGuid,
			[UserGuid] = @UserGuid,
			[StoreGuid] = @StoreGuid,
			[CartGuid] = @CartGuid,
			[RawResponse] = @RawResponse,
			[ResponseCode] = @ResponseCode,
			[ResponseReasonCode] = @ResponseReasonCode,
			[Reason] = @Reason,
			[AvsCode] = @AvsCode,
			[CcvCode] = @CcvCode,
			[CavCode] = @CavCode,
			[TransactionId] = @TransactionId,
			[TransactionType] = @TransactionType,
			[Method] = @Method,
			[AuthCode] = @AuthCode,
			[Amount] = @Amount,
			[Tax] = @Tax,
			[Duty] = @Duty,
			[Freight] = @Freight
			
WHERE
			[RowGuid] = @RowGuid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_GeoCountry_SelectByISOCode2]

/*
Author:   			
Created: 			2008-06-22
Last Modified: 		2008-06-22
*/

@ISOCode2 nchar(2)

AS


SELECT
		*
		
FROM
		[dbo].[mp_GeoCountry]
		
WHERE
		ISOCode2 = @ISOCode2

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_GeoZone_GetCountByCountry]

/*
Author:   			
Created: 			2008-06-22
Last Modified: 		2008-06-22
*/

@CountryGuid uniqueidentifier

AS


SELECT COUNT(*)
		
FROM
		[dbo].[mp_GeoZone]
		
WHERE
		[CountryGuid] = @CountryGuid

GO


CREATE PROCEDURE [dbo].[mp_Language_GetCount]

/*
Author:   			
Created: 			2008-06-23
Last Modified: 		2008-06-28
*/

AS


SELECT COUNT(*)
		
FROM
		[dbo].[mp_Language]

GO

CREATE PROCEDURE [dbo].[mp_GeoCountry_GetCount]

/*
Author:   			
Created: 			2008-06-23
Last Modified: 		2008-06-23
*/

AS


SELECT COUNT(*)
		
FROM
		[dbo].[mp_GeoCountry]


GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_GoogleCheckoutLog_Insert]

/*
Author:   			
Created: 			2008-3-9
Last Modified: 		2008-4-4
*/

@RowGuid uniqueidentifier,
@CreatedUtc datetime,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@NotificationType nvarchar(255),
@RawResponse ntext,
@SerialNumber nvarchar(50),
@GTimestamp datetime,
@OrderNumber nvarchar(50),
@BuyerId nvarchar(50),
@FullfillState nvarchar(50),
@FinanceState nvarchar(50),
@EmailListOptIn bit,
@AvsResponse nvarchar(5),
@CvnResponse nvarchar(5),
@AuthExpDate datetime,
@AuthAmt decimal(15, 4),
@DiscountTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@LatestChgAmt decimal(15, 4),
@TotalChgAmt decimal(15, 4),
@LatestRefundAmt decimal(15, 4),
@TotalRefundAmt decimal(15, 4),
@LatestChargeback decimal(15, 4),
@TotalChargeback decimal(15, 4),
@CartXml ntext,
@ProviderName nvarchar(255)

	
AS

INSERT INTO 	[dbo].[mp_GoogleCheckoutLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[NotificationType],
				[RawResponse],
				[SerialNumber],
				[GTimestamp],
				[OrderNumber],
				[BuyerId],
				[FullfillState],
				[FinanceState],
				[EmailListOptIn],
				[AvsResponse],
				[CvnResponse],
				[AuthExpDate],
				[AuthAmt],
				[DiscountTotal],
				[ShippingTotal],
				[TaxTotal],
				[OrderTotal],
				[LatestChgAmt],
				[TotalChgAmt],
				[LatestRefundAmt],
				[TotalRefundAmt],
				[LatestChargeback],
				[TotalChargeback],
				[CartXml],
				ProviderName
) 

VALUES 
(
				@RowGuid,
				@CreatedUtc,
				@SiteGuid,
				@UserGuid,
				@StoreGuid,
				@CartGuid,
				@NotificationType,
				@RawResponse,
				@SerialNumber,
				@GTimestamp,
				@OrderNumber,
				@BuyerId,
				@FullfillState,
				@FinanceState,
				@EmailListOptIn,
				@AvsResponse,
				@CvnResponse,
				@AuthExpDate,
				@AuthAmt,
				@DiscountTotal,
				@ShippingTotal,
				@TaxTotal,
				@OrderTotal,
				@LatestChgAmt,
				@TotalChgAmt,
				@LatestRefundAmt,
				@TotalRefundAmt,
				@LatestChargeback,
				@TotalChargeback,
				@CartXml,
				@ProviderName
				
)

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_TaxRateHistory](
	[Guid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_mp_TaxRateHistory_Guid]  DEFAULT (newid()),
	[TaxRateGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[GeoZoneGuid] [uniqueidentifier] NOT NULL,
	[TaxClassGuid] [uniqueidentifier] NOT NULL,
	[Priority] [int] NOT NULL,
	[Rate] [decimal](18, 4) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModified] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[LogTime] [datetime] NOT NULL CONSTRAINT [DF_mp_TaxRateHistory_LogTime]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_mp_TaxRateHx] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_TaxRate](
	[Guid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_mp_TaxRate_Guid]  DEFAULT (newid()),
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[GeoZoneGuid] [uniqueidentifier] NOT NULL,
	[TaxClassGuid] [uniqueidentifier] NOT NULL,
	[Priority] [int] NOT NULL CONSTRAINT [DF_mp_TaxRate_Priority]  DEFAULT ((1)),
	[Rate] [decimal](18, 4) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_mp_TaxRate_Created]  DEFAULT (getutcdate()),
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModified] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_TaxRate] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_TaxClass](
	[Guid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_mp_TaxClass_Guid]  DEFAULT (newid()),
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [ntext] NOT NULL,
	[LastModified] [datetime] NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_mp_TaxClass_Created]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_mp_TaxClass] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO



SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_TaxClass_SelectPage]

-- Author:   			
-- Created: 			2/17/2007
-- Last Modified: 		2/17/2007

@SiteGuid		uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		[Guid]
		
FROM
		[dbo].[mp_TaxClass]
		
WHERE [SiteGuid] = @SiteGuid

ORDER BY [Title]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1


SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_TaxClass] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaxRate_Update]

/*
Author:   			
Created: 			2/22/2007
Last Modified: 		2/22/2007
*/
	
@Guid uniqueidentifier, 
@GeoZoneGuid uniqueidentifier, 
@TaxClassGuid uniqueidentifier, 
@Priority int, 
@Rate decimal(18, 4), 
@Description nvarchar(255), 
@LastModified datetime, 
@ModifiedBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_TaxRate] 

SET
			[GeoZoneGuid] = @GeoZoneGuid,
			[TaxClassGuid] = @TaxClassGuid,
			[Priority] = @Priority,
			[Rate] = @Rate,
			[Description] = @Description,
			[LastModified] = @LastModified,
			[ModifiedBy] = @ModifiedBy
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaxRate_Delete]

/*
Author:   			
Created: 			2/22/2007
Last Modified: 		2/22/2007
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TaxRate]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaxRate_SelectOne]

/*
Author:   			
Created: 			2/22/2007
Last Modified: 		2/22/2007
*/

@Guid uniqueidentifier

AS


SELECT
		*
		
FROM
		[dbo].[mp_TaxRate]
		
WHERE
		[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaxRate_SelectAll]

/*
Author:   			
Created: 			2/22/2007
Last Modified: 		2/22/2007
*/

@SiteGuid uniqueidentifier,
@GeoZoneGuid uniqueidentifier

AS


SELECT
		*
		
FROM
		[dbo].[mp_TaxRate]

WHERE
		[SiteGuid] = @SiteGuid
		AND [GeoZoneGuid] = @GeoZoneGuid

ORDER BY [Priority]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaxRate_Insert]

/*
Author:   			
Created: 			2/22/2007
Last Modified: 		2/22/2007
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@GeoZoneGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@Priority int,
@Rate decimal(18, 4),
@Description nvarchar(255),
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@ModifiedBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_TaxRate] 
(
				[Guid],
				[SiteGuid],
				[GeoZoneGuid],
				[TaxClassGuid],
				[Priority],
				[Rate],
				[Description],
				[Created],
				[CreatedBy],
				[LastModified],
				[ModifiedBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@GeoZoneGuid,
				@TaxClassGuid,
				@Priority,
				@Rate,
				@Description,
				@Created,
				@CreatedBy,
				@LastModified,
				@ModifiedBy
				
)
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_TaxClass_Delete]

/*
Author:   			
Created: 			2/17/2007
Last Modified: 		2/17/2007
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TaxClass]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_TaxClass_SelectOne]

/*
Author:   			
Created: 			2/17/2007
Last Modified: 		2/17/2007
*/

@Guid uniqueidentifier

AS


SELECT
		*
		
FROM
		[dbo].[mp_TaxClass]
		
WHERE
		[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_TaxClass_SelectBySite]

/*
Author:   			
Created: 			2/17/2007
Last Modified: 		2/17/2007
*/

@SiteGuid uniqueidentifier

AS


SELECT
		*
		
FROM
		[dbo].[mp_TaxClass]

WHERE	[SiteGuid] = @SiteGuid

ORDER BY	[Title]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_TaxClass_Insert]

/*
Author:   			
Created: 			2/17/2007
Last Modified: 		2/17/2007
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@Title nvarchar(255),
@Description ntext,
@LastModified datetime,
@Created datetime

	
AS

INSERT INTO 	[dbo].[mp_TaxClass] 
(
				[Guid],
				[SiteGuid],
				[Title],
				[Description],
				[LastModified],
				[Created]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@Title,
				@Description,
				@LastModified,
				@Created
				
)
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_TaxClass_Update]

/*
Author:   			
Created: 			2/17/2007
Last Modified: 		2/17/2007
*/
	
@Guid uniqueidentifier,  
@Title nvarchar(255), 
@Description ntext, 
@LastModified datetime, 
@Created datetime 


AS

UPDATE 		[dbo].[mp_TaxClass] 

SET
			[Title] = @Title,
			[Description] = @Description,
			[LastModified] = @LastModified,
			[Created] = @Created
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaxRateHistory_Insert]

/*
Author:   			
Created: 			2/22/2007
Last Modified: 		2/23/2007
*/

@Guid uniqueidentifier,
@TaxRateGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@GeoZoneGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@Priority int,
@Rate decimal(18, 4),
@Description nvarchar(255),
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@ModifiedBy uniqueidentifier,
@LogTime datetime

	
AS
INSERT INTO 	[dbo].[mp_TaxRateHistory] 
(
				[Guid],
				[TaxRateGuid],
				[SiteGuid],
				[GeoZoneGuid],
				[TaxClassGuid],
				[Priority],
				[Rate],
				[Description],
				[Created],
				[CreatedBy],
				[LastModified],
				[ModifiedBy],
				[LogTime]
) 

VALUES 
(
				@Guid,
				@TaxRateGuid,
				@SiteGuid,
				@GeoZoneGuid,
				@TaxClassGuid,
				@Priority,
				@Rate,
				@Description,
				@Created,
				@CreatedBy,
				@LastModified,
				@ModifiedBy,
				@LogTime
				
)
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_TaxClass_CountBySite]

/*
Author:   			
Created: 			2/17/2007
Last Modified: 		2/17/2007
*/

@SiteGuid uniqueidentifier

AS


SELECT COUNT(*)
		
FROM
		[dbo].[mp_TaxClass]

WHERE	[SiteGuid] = @SiteGuid

GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_PayPalLog_Insert]

/*
Author:   			
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier,
@CreatedUtc datetime,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@RequestType nvarchar(255),
@ApiVersion nvarchar(50),
@RawResponse ntext,
@Token nvarchar(50),
@PayerId nvarchar(50),
@TransactionId nvarchar(50),
@PaymentType nvarchar(10),
@PaymentStatus nvarchar(50),
@PendingReason nvarchar(255),
@ReasonCode nvarchar(50),
@CurrencyCode nvarchar(50),
@ExchangeRate decimal(15, 4),
@CartTotal decimal(15, 4),
@PayPalAmt decimal(15, 4),
@TaxAmt decimal(15, 4),
@FeeAmt decimal(15, 4),
@SettleAmt decimal(15, 4),
@ProviderName nvarchar(255),
@ReturnUrl nvarchar(255),
@SerializedObject ntext

	
AS

INSERT INTO 	[dbo].[mp_PayPalLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[RequestType],
				[ApiVersion],
				[RawResponse],
				[Token],
				[PayerId],
				[TransactionId],
				[PaymentType],
				[PaymentStatus],
				[PendingReason],
				[ReasonCode],
				[CurrencyCode],
				[ExchangeRate],
				[CartTotal],
				[PayPalAmt],
				[TaxAmt],
				[FeeAmt],
				[SettleAmt],
				ProviderName,
				ReturnUrl,
				SerializedObject
) 

VALUES 
(
				@RowGuid,
				@CreatedUtc,
				@SiteGuid,
				@UserGuid,
				@StoreGuid,
				@CartGuid,
				@RequestType,
				@ApiVersion,
				@RawResponse,
				@Token,
				@PayerId,
				@TransactionId,
				@PaymentType,
				@PaymentStatus,
				@PendingReason,
				@ReasonCode,
				@CurrencyCode,
				@ExchangeRate,
				@CartTotal,
				@PayPalAmt,
				@TaxAmt,
				@FeeAmt,
				@SettleAmt,
				@ProviderName,
				@ReturnUrl,
				@SerializedObject
				
)


GO


ALTER PROCEDURE [dbo].[mp_PayPalLog_SelectAll]

/*
Author:   			
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

AS


SELECT
		*
		
FROM
		[dbo].[mp_PayPalLog]

GO


ALTER PROCEDURE [dbo].[mp_PayPalLog_SelectOne]

/*
Author:   			
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier

AS


SELECT
		*
		
FROM
		[dbo].[mp_PayPalLog]
		
WHERE
		[RowGuid] = @RowGuid

GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_PayPalLog_SelectSetExpressCheckoutByToken]

/*
Author:   			
Created: 			2008-06-26
Last Modified: 		2008-06-26
*/

@Token nvarchar(50)

AS


SELECT TOP 1 *
		
FROM
		[dbo].[mp_PayPalLog]
		
WHERE
		[Token] = @Token
		AND RequestType = 'SetExpressCheckout'

ORDER BY 
		CreatedUtc DESC

GO



