SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_Users_GetCountByMonthYear]


@SiteID		int

AS
SELECT  
	YEAR(DateCreated) As Y,
    MONTH(DateCreated) As M,
	CONVERT(varchar(10),YEAR(DateCreated)) + '-' + CONVERT(varchar(3),MONTH(DateCreated)) As Label,
	COUNT(*) As Users

FROM
    mp_Users

WHERE SiteID = @SiteID
    

GROUP BY YEAR(DateCreated), MONTH(DateCreated), CONVERT(varchar(10), YEAR(DateCreated)) + '-' + CONVERT(varchar(3), MONTH(DateCreated))
ORDER BY 
YEAR(DateCreated), MONTH(DateCreated) 

GO

