SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_Modules_UpdatePage]

	
@OldPageID				int,
@NewPageID			int,
@ModuleID           int
    

AS
UPDATE
    mp_PageModules

SET
    PageID = @NewPageID,
	PageGuid = (SELECT TOP 1 PageGuid FROM mp_Pages WHERE PageID = @NewPageID)

WHERE
    ModuleID = @ModuleID
	AND PageID = @OldPageID


GO


