ALTER TABLE [dbo].mp_PayPalLog ADD
	PDTProviderName nvarchar(255) NULL 
GO

ALTER TABLE [dbo].mp_PayPalLog ADD
	IPNProviderName nvarchar(255) NULL 
GO

ALTER TABLE [dbo].mp_PayPalLog ADD
	Response nvarchar(255) NULL 
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_PayPalLog_SelectByCart]

/*
Author:   			
Created: 			2008-07-01
Last Modified: 		2008--07-01
*/

@CartGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_PayPalLog]
		
WHERE
		[CartGuid] = @CartGuid

ORDER BY
		CreatedUtc

GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_AuthorizeNetLog_SelectByCart]

/*
Author:   			
Created: 			2008-07-01
Last Modified: 		2008-07-01
*/

@CartGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_AuthorizeNetLog]
		
WHERE
		[CartGuid] = @CartGuid

GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_PayPalLog_Insert]

/*
Author:   			
Created: 			2008-07-05
Last Modified: 		2008-07-05
*/

@RowGuid uniqueidentifier,
@CreatedUtc datetime,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@RequestType nvarchar(255),
@ApiVersion nvarchar(50),
@RawResponse ntext,
@Token nvarchar(50),
@PayerId nvarchar(50),
@TransactionId nvarchar(50),
@PaymentType nvarchar(10),
@PaymentStatus nvarchar(50),
@PendingReason nvarchar(255),
@ReasonCode nvarchar(50),
@CurrencyCode nvarchar(50),
@ExchangeRate decimal(15, 4),
@CartTotal decimal(15, 4),
@PayPalAmt decimal(15, 4),
@TaxAmt decimal(15, 4),
@FeeAmt decimal(15, 4),
@SettleAmt decimal(15, 4),
@ProviderName nvarchar(255),
@ReturnUrl nvarchar(255),
@SerializedObject ntext,
@PDTProviderName nvarchar(255),
@IPNProviderName nvarchar(255),
@Response nvarchar(255)

	
AS

INSERT INTO 	[dbo].[mp_PayPalLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[RequestType],
				[ApiVersion],
				[RawResponse],
				[Token],
				[PayerId],
				[TransactionId],
				[PaymentType],
				[PaymentStatus],
				[PendingReason],
				[ReasonCode],
				[CurrencyCode],
				[ExchangeRate],
				[CartTotal],
				[PayPalAmt],
				[TaxAmt],
				[FeeAmt],
				[SettleAmt],
				ProviderName,
				ReturnUrl,
				SerializedObject,
				PDTProviderName,
				IPNProviderName,
				Response
) 

VALUES 
(
				@RowGuid,
				@CreatedUtc,
				@SiteGuid,
				@UserGuid,
				@StoreGuid,
				@CartGuid,
				@RequestType,
				@ApiVersion,
				@RawResponse,
				@Token,
				@PayerId,
				@TransactionId,
				@PaymentType,
				@PaymentStatus,
				@PendingReason,
				@ReasonCode,
				@CurrencyCode,
				@ExchangeRate,
				@CartTotal,
				@PayPalAmt,
				@TaxAmt,
				@FeeAmt,
				@SettleAmt,
				@ProviderName,
				@ReturnUrl,
				@SerializedObject,
				@PDTProviderName,
				@IPNProviderName,
				@Response
				
)

GO



SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_PayPalLog_SelectNewestLog]

/*
Author:   			
Created: 			2008-06-26
Last Modified: 		2008-06-26
*/

@CartGuid uniqueidentifier,
@RequestType nvarchar(255)

AS


SELECT TOP 1 *
		
FROM
		[dbo].[mp_PayPalLog]
		
WHERE
		[CartGuid] = @CartGuid
		AND (RequestType = @RequestType OR @RequestType = '')

ORDER BY 
		CreatedUtc DESC

GO





