SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_mp_FriendlyUrls] ON [dbo].[mp_FriendlyUrls] 
(
	[FriendlyUrl] ASC
) ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_Update]

/*
Author:			
Created:		2004-09-30
Last Modified:	2007-11-31

*/

    
@UserID        			int,   
@Name				nvarchar(100),
@LoginName			nvarchar(50),
@Email           			nvarchar(100),   
@Password    			nvarchar(255),
@Gender			nchar(1),
@ProfileApproved		bit,
@ApprovedForForums		bit,
@Trusted			bit,
@DisplayInMemberList		bit,
@WebSiteURL			nvarchar(100),
@Country			nvarchar(100),
@State				nvarchar(100),
@Occupation			nvarchar(100),
@Interests			nvarchar(100),
@MSN				nvarchar(50),
@Yahoo			nvarchar(50),
@AIM				nvarchar(50),
@ICQ				nvarchar(50),
@AvatarUrl			nvarchar(255),
@Signature			nvarchar(255),
@Skin				nvarchar(100),
@LoweredEmail		nvarchar(100),
@PasswordQuestion		nvarchar(255),
@PasswordAnswer		nvarchar(255),
@Comment		ntext,
@TimeOffsetHours	int,
@OpenIDURI			nvarchar(255),
@WindowsLiveID			nvarchar(255)



AS
UPDATE		mp_Users

SET			[Name] = @Name,
			LoginName = @LoginName,
			Email = @Email,
    			[Password] = @Password,
			Gender = @Gender,
			ProfileApproved = @ProfileApproved,
			ApprovedForForums = @ApprovedForForums,
			Trusted = @Trusted,
			DisplayInMemberList = @DisplayInMemberList,
			WebSiteURL = @WebSiteURL,
			Country = @Country,
			[State] = @State,
			Occupation = @Occupation,
			Interests = @Interests,
			MSN = @MSN,
			Yahoo = @Yahoo,
			AIM = @AIM,
			ICQ = @ICQ,
			AvatarUrl = @AvatarUrl,
			[Signature] = @Signature,
			Skin = @Skin,
			LoweredEmail = @LoweredEmail,
			PasswordQuestion = @PasswordQuestion,
			PasswordAnswer = @PasswordAnswer,
			Comment = @Comment,
			TimeOffsetHours = @TimeOffsetHours,
			OpenIDURI = @OpenIDURI,
			WindowsLiveID = @WindowsLiveID
			
WHERE		UserID = @UserID

GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[mp_ForumThreads_Delete]

/*
Author:			
Created:		11/28/2004
Last Modified:	8/14/2006

*/

@ThreadID			int

AS

DELETE FROM mp_ForumThreadSubscriptions

WHERE	ThreadID = @ThreadID

DELETE FROM mp_ForumPosts

WHERE	ThreadID = @ThreadID

DELETE FROM 		mp_ForumThreads


WHERE		ThreadID = @ThreadID

GO




SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Sites_Delete]

/*
Author:   			
Created: 			2005-03-07
Last Modified: 		2007-06-11

*/

@SiteID int

AS

DELETE FROM mp_WebParts WHERE SiteID = @SiteID

DELETE FROM mp_PageModules
WHERE PageID IN (SELECT PageID FROM mp_Pages WHERE SiteID = @SiteID)

DELETE FROM mp_ModuleSettings
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_BlogItemCategories
WHERE ItemID IN (SELECT ItemID FROM mp_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID) )

DELETE FROM mp_BlogCategories
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_BlogStats
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_BlogComments
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)



DELETE FROM mp_Blogs
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_CalendarEvents
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_ForumPosts
WHERE ThreadID IN (SELECT ThreadID FROM mp_ForumThreads WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) )

DELETE FROM mp_ForumThreadSubscriptions
WHERE ThreadID IN (SELECT ThreadID FROM mp_ForumThreads WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) )

DELETE FROM mp_ForumThreads
WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  
(SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) 

DELETE FROM mp_ForumSubscriptions
WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  
(SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) 

DELETE FROM mp_Forums
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_GalleryImages
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_Links
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_HtmlContent
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_RssFeeds
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_SharedFilesHistory
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_SharedFiles
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_SharedFileFolders
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)


DELETE FROM mp_Modules WHERE SiteID = @SiteID

DELETE FROM mp_SiteModuleDefinitions WHERE SiteID = @SiteID


DELETE FROM mp_UserProperties
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserRoles
WHERE UserID IN (SELECT UserID FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_FriendlyUrls WHERE SiteID = @SiteID

DELETE FROM mp_UserPages WHERE SiteID = @SiteID

DELETE FROM mp_Users WHERE SiteID = @SiteID

DELETE FROM mp_Pages WHERE SiteID = @SiteID

DELETE FROM mp_Roles WHERE SiteID = @SiteID



DELETE FROM mp_SiteHosts WHERE SiteID = @SiteID

DELETE FROM mp_SitePersonalizationAllUsers
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePersonalizationPerUser
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePaths WHERE SiteID = @SiteID

DELETE FROM mp_SiteFolders
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)



DELETE FROM [dbo].[mp_Sites]
WHERE
	[SiteID] = @SiteID
GO




ALTER PROCEDURE [dbo].[mp_Users_SelectPage]

/*
Author:			
Created:		2004-10-3
Last Modified:	2007-07-14

*/

@PageNumber 			int,
@PageSize 			int,
@UserNameBeginsWith 		nvarchar(50),
@SiteID			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

--SET @PageLowerBound = @PageSize * @PageNumber
--SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
	LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
)	


 IF @UserNameBeginsWith IS NULL OR @UserNameBeginsWith = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserName, LoginName)

	    	SELECT 	[Name], LoginName
		FROM 		mp_Users 
		WHERE 	ProfileApproved = 1
				 AND DisplayInMemberList = 1  
				AND SiteID = @SiteID
				AND IsDeleted = 0
		ORDER BY 	[Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserName, LoginName)

	    	SELECT 	[Name] , LoginName
		FROM 		mp_Users 
		WHERE 	ProfileApproved = 1 
				AND DisplayInMemberList = 1  
				AND SiteID = @SiteID
				AND IsDeleted = 0
				AND [Name]  LIKE @UserNameBeginsWith + '%' 
		ORDER BY 	[Name]

	END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndexForUsers)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1


SELECT		*,
			'TotalPages' = @TotalPages

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.LoginName = p.LoginName

WHERE 		u.ProfileApproved = 1 
			AND u.SiteID = @SiteID
			AND u.IsDeleted = 0
			AND p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_Forums_Delete]

/*
Author:				
Created:			6/27/2006
Last Modified:		12/11/2006

*/

@ItemID			int

AS

DELETE FROM mp_ForumPosts

WHERE ThreadID IN (SELECT ThreadID FROM mp_ForumThreads
					WHERE ForumID = @ItemID)

DELETE FROM mp_ForumThreadSubscriptions

WHERE	ThreadID IN (SELECT ThreadID FROM mp_ForumThreads
					WHERE ForumID = @ItemID)

DELETE
FROM mp_ForumThreads
WHERE ForumID = @ItemID

DELETE
FROM mp_ForumSubscriptions
WHERE ForumID = @ItemID


DELETE
FROM			mp_Forums 

WHERE		ItemID = @ItemID

GO


