SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_ForumPosts_SelectSortedThread]

/*
Author:				
Created:			2007-06-08
Last Modified:		2007-06-08


*/

@ThreadID			int

AS

SELECT	*
		
FROM		mp_ForumPosts


WHERE	ThreadID = @ThreadID
		

ORDER BY	ThreadSequence
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_FriendlyUrls_Exists]

/*
Author:			
Created:		2007-06-08
Last Modified:	2007-06-08

*/
    
@SiteID  	int,
@FriendlyUrl	nvarchar(255)

AS

IF EXISTS (	SELECT 	UrlID
		FROM		mp_FriendlyUrls
		WHERE	SiteID = @SiteID
				AND FriendlyUrl = @FriendlyUrl)
SELECT 1
ELSE
SELECT 0
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_Roles_SelectRolesUserIsNotIn]

@SiteID	int,
@UserID  int

AS

SELECT  r.*

FROM		mp_Roles r
    		
    
LEFT OUTER JOIN 		
		mp_UserRoles ur

ON 		r.RoleID = ur.RoleID
		AND ur.UserID = @UserID

WHERE		r.SiteID = @SiteID
			AND ur.UserID IS NULL

ORDER BY	r.[DisplayName]
GO