SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_Pages_CleanupOrphans]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_Pages_CleanupOrphans]

AS

UPDATE mp_Pages

SET ParentGuid = ''00000000-0000-0000-0000-000000000000'',
	ParentID = -1

WHERE ParentID <> -1
AND ParentID NOT IN (SELECT PageID FROM mp_Pages)


' 
END
GO


