SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_EmailTemplate](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[SpecialGuid1] [uniqueidentifier] NOT NULL,
	[SpecialGuid2] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[TextBody] [ntext] NOT NULL,
	[HtmlBody] [ntext] NULL,
	[HasHtml] [bit] NOT NULL CONSTRAINT [DF_mp_EmailTemplate_HasHtml]  DEFAULT ((0)),
	[IsEditable] [bit] NOT NULL CONSTRAINT [DF_mp_EmailTemplate_IsEditable]  DEFAULT ((1)),
	[CreatedUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_EmailTemplate_CreatedUtc]  DEFAULT (getutcdate()),
	[LastModUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_EmailTemplate_LastModUtc]  DEFAULT (getutcdate()),
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_EmailTemplate] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailTemplate] ON [dbo].[mp_EmailTemplate] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailTemplate_1] ON [dbo].[mp_EmailTemplate] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailTemplate_2] ON [dbo].[mp_EmailTemplate] 
(
	[SpecialGuid1] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailTemplate_3] ON [dbo].[mp_EmailTemplate] 
(
	[SpecialGuid2] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailTemplate_4] ON [dbo].[mp_EmailTemplate] 
(
	[FeatureGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailTemplate_5] ON [dbo].[mp_EmailTemplate] 
(
	[Name] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_EmailSendLog](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[SpecialGuid1] [uniqueidentifier] NOT NULL,
	[SpecialGuid2] [uniqueidentifier] NOT NULL,
	[ToAddress] [nvarchar](255) NOT NULL,
	[CcAddress] [nvarchar](255) NULL,
	[BccAddress] [nvarchar](255) NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[TextBody] [ntext] NULL,
	[HtmlBody] [ntext] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[SentUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_EmailSendLog_SentUtc]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_mp_EmailSendLog] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailSendLog] ON [dbo].[mp_EmailSendLog] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailSendLog_1] ON [dbo].[mp_EmailSendLog] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailSendLog_2] ON [dbo].[mp_EmailSendLog] 
(
	[SpecialGuid1] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailSendLog_3] ON [dbo].[mp_EmailSendLog] 
(
	[SpecialGuid2] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_EmailSendLog_4] ON [dbo].[mp_EmailSendLog] 
(
	[Type] ASC
) ON [PRIMARY]
GO





SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_Update]

/*
Author:   			
Created: 			2009-2-22
Last Modified: 		2009-2-22
*/
	
@Guid uniqueidentifier, 
@Name nvarchar(255), 
@Subject nvarchar(255), 
@TextBody ntext, 
@HtmlBody ntext, 
@HasHtml bit, 
@IsEditable bit,  
@LastModUtc datetime, 
@LastModBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_EmailTemplate] 

SET
			[Name] = @Name,
			[Subject] = @Subject,
			[TextBody] = @TextBody,
			[HtmlBody] = @HtmlBody,
			[HasHtml] = @HasHtml,
			[IsEditable] = @IsEditable,
			[LastModUtc] = @LastModUtc,
			[LastModBy] = @LastModBy
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_SelectOne]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@Guid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_EmailTemplate]
		
WHERE
		[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_Insert]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@SpecialGuid1 uniqueidentifier,
@SpecialGuid2 uniqueidentifier,
@Name nvarchar(255),
@Subject nvarchar(255),
@TextBody ntext,
@HtmlBody ntext,
@HasHtml bit,
@IsEditable bit,
@CreatedUtc datetime,
@LastModUtc datetime,
@LastModBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_EmailTemplate] 
(
				[Guid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[SpecialGuid1],
				[SpecialGuid2],
				[Name],
				[Subject],
				[TextBody],
				[HtmlBody],
				[HasHtml],
				[IsEditable],
				[CreatedUtc],
				[LastModUtc],
				[LastModBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@SpecialGuid1,
				@SpecialGuid2,
				@Name,
				@Subject,
				@TextBody,
				@HtmlBody,
				@HasHtml,
				@IsEditable,
				@CreatedUtc,
				@LastModUtc,
				@LastModBy
				
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_DeleteBySpecialGuid2]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@SpecialGuid2 uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailTemplate]
WHERE
	[SpecialGuid2] = @SpecialGuid2
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_DeleteBySpecialGuid1]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@SpecialGuid1 uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailTemplate]
WHERE
	[SpecialGuid1] = @SpecialGuid1
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_DeleteBySite]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailTemplate]
WHERE
	[SiteGuid] = @SiteGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_DeleteByModule]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailTemplate]
WHERE
	[ModuleGuid] = @ModuleGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_DeleteByFeature]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@FeatureGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailTemplate]
WHERE
	[FeatureGuid] = @FeatureGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_Delete]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailTemplate]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_SelectByModule]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@ModuleGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_EmailTemplate]
		
WHERE
		[ModuleGuid] = @ModuleGuid

ORDER BY [Name]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_SelectByModuleSpecial]

/*
Author:   			
Created: 			2009-02-22
Last Modified: 		2009-02-22
*/

@ModuleGuid uniqueidentifier,
@SpecialGuid1 uniqueidentifier,
@SpecialGuid2 uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_EmailTemplate]
		
WHERE
		[ModuleGuid] = @ModuleGuid
		AND SpecialGuid1 = @SpecialGuid1
		AND SpecialGuid2 = @SpecialGuid2

ORDER BY [Name]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_GetCountByModuleAndName]

/*
Author:   			
Created: 			2009-02-23
Last Modified: 		2009-02-23
*/

@ModuleGuid uniqueidentifier,
@Name nvarchar(255)

AS

SELECT COUNT(*) 
FROM [dbo].[mp_EmailTemplate]

WHERE ModuleGuid = @ModuleGuid
	AND Name = @Name
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_EmailTemplate_GetCountByModuleSpecialAndName]

/*
Author:   			
Created: 			2009-02-23
Last Modified: 		2009-02-23
*/

@ModuleGuid uniqueidentifier,
@SpecialGuid1 uniqueidentifier,
@SpecialGuid2 uniqueidentifier,
@Name nvarchar(255)

AS

SELECT COUNT(*) 
FROM [dbo].[mp_EmailTemplate]

WHERE ModuleGuid = @ModuleGuid
	AND SpecialGuid1 = @SpecialGuid1
	AND SpecialGuid2 = @SpecialGuid2
	AND [Name] = @Name
GO
