ALTER PROCEDURE [dbo].[mp_Blog_Select]

/*
Author:		
Last Modified:	6/12/2005

*/
    
@ModuleID int,
@BeginDate datetime

AS
DECLARE @RowsToGet int

SET @RowsToGet = COALESCE((SELECT TOP 1 SettingValue FROM mp_ModuleSettings WHERE SettingName = 'BlogEntriesToShowSetting' AND ModuleID = @ModuleID),1)

SET rowcount @RowsToGet

SELECT		b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Title, 
			b.Excerpt, 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			'CommentCount' = CONVERT(nvarchar(20), b.CommentCount)
			

FROM        		mp_Blogs b

WHERE
    			(b.ModuleID = @ModuleID)  and (@BeginDate >= b.StartDate)

ORDER BY
   			b.StartDate DESC
   			
GO
