SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_FriendlyUrls_SelectBySiteID]

/*
Author:   			
Created: 			2007/06/07
Last Modified: 		2007/06/07
*/

@SiteID		int

AS




SELECT
		*
		
FROM
		[dbo].[mp_FriendlyUrls]

WHERE	SiteID = @SiteID
ORDER BY FriendlyUrl
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_ForumPosts_UpdateSequence]

/*
Author:			
Created:		2007-06-07
Last Modified:	2007-06-07

*/

@PostID			int,
@ThreadSequence			int


AS

UPDATE		mp_ForumPosts

SET			ThreadSequence = @ThreadSequence


WHERE		PostID = @PostID
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_ForumThreads_UpdateForumSequence]

/*
Author:			
Created:		2007-06-07
Last Modified:	2007-06-07

*/

@ThreadID			int,
@ForumSequence			int


AS


UPDATE		mp_ForumThreads

SET			ForumSequence = @ForumSequence


WHERE		ThreadID = @ThreadID
GO
