

CREATE NONCLUSTERED INDEX [idxModuleGuid] ON [dbo].[mp_RssFeedEntries] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxFeedId] ON [dbo].[mp_RssFeedEntries] 
(
	[FeedId] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxEntryHash] ON [dbo].[mp_RssFeedEntries] 
(
	[EntryHash] ASC
) ON [PRIMARY]
GO





SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_RedirectList](
	[RowGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_mp_RedirectList_RowGuid]  DEFAULT (newid()),
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[SiteID] [int] NOT NULL,
	[OldUrl] [nvarchar](255) NOT NULL,
	[NewUrl] [nvarchar](255) NOT NULL,
	[CreatedUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_RedirectList_CreatedUtc]  DEFAULT (getutcdate()),
	[ExpireUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_RedirectList] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_RedirectListOldUrl] ON [dbo].[mp_RedirectList] 
(
	[OldUrl] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_RedirectListSiteGuid] ON [dbo].[mp_RedirectList] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_RedirectListSiteID] ON [dbo].[mp_RedirectList] 
(
	[SiteID] ASC
) ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_ContentRating](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[Rating] [int] NOT NULL,
	[Comments] [ntext] NULL,
	[IpAddress] [nvarchar](50) NULL,
	[CreatedUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_ContentRating_CreatedUtc]  DEFAULT (getutcdate()),
	[LastModUtc] [datetime] NOT NULL CONSTRAINT [DF_mp_ContentRating_LastModUtc]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_mp_ContentRating] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentRatingContentGuid] ON [dbo].[mp_ContentRating] 
(
	[ContentGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentRatingIPAddr] ON [dbo].[mp_ContentRating] 
(
	[IpAddress] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentRatingSiteGuid] ON [dbo].[mp_ContentRating] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentRatingUserGuid] ON [dbo].[mp_ContentRating] 
(
	[UserGuid] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_LetterSubscriber_DeleteByLetter]

/*
Author:   			
Created: 			2008-10-07
Last Modified: 		2008-10-07
*/

@LetterInfoGuid uniqueidentifier

AS

DELETE
		
FROM
		[dbo].[mp_LetterSubscriber]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid


GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_Letter_DeleteByLetterInfo]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Letter]
WHERE
	[LetterInfoGuid] = @LetterInfoGuid

GO




SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_Update]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/
	
@RowGuid uniqueidentifier, 
@EmailAddress nvarchar(100), 
@Rating int, 
@Comments ntext, 
@IpAddress nvarchar(50), 
@LastModUtc datetime 


AS

UPDATE 		[dbo].[mp_ContentRating] 

SET
			
			[EmailAddress] = @EmailAddress,
			[Rating] = @Rating,
			[Comments] = @Comments,
			[IpAddress] = @IpAddress,
			[LastModUtc] = @LastModUtc
			
WHERE
			[RowGuid] = @RowGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_SelectOne]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@RowGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentRating]
		
WHERE
		[RowGuid] = @RowGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_SelectPageByContent]

-- Author:   			
-- Created: 			2008-10-06
-- Last Modified: 		2008-10-06

@ContentGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	[IndexID] int IDENTITY (1, 1) NOT NULL,
	[ItemGuid] UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ([ItemGuid])

SELECT
		[RowGuid]
		
FROM
		[dbo].[mp_ContentRating]
		
WHERE
		[ContentGuid] = @ContentGuid

ORDER BY CreatedUtc DESC

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_ContentRating] t1

JOIN			#PageIndex t2
ON			
		t1.[ItemGuid] = t2.[RowGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_Delete]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentRating]
WHERE
	[RowGuid] = @RowGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_Insert]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ContentGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@EmailAddress nvarchar(100),
@Rating int,
@Comments ntext,
@IpAddress nvarchar(50),
@CreatedUtc datetime,
@LastModUtc datetime

	
AS

INSERT INTO 	[dbo].[mp_ContentRating] 
(
				[RowGuid],
				[SiteGuid],
				[ContentGuid],
				[UserGuid],
				[EmailAddress],
				[Rating],
				[Comments],
				[IpAddress],
				[CreatedUtc],
				[LastModUtc]
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@ContentGuid,
				@UserGuid,
				@EmailAddress,
				@Rating,
				@Comments,
				@IpAddress,
				@CreatedUtc,
				@LastModUtc
				
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_GetCountByContent]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@ContentGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[mp_ContentRating]
WHERE [ContentGuid] = @ContentGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_GetStatsByContent]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@ContentGuid uniqueidentifier

AS

SELECT 
COALESCE(AVG(Rating),0) As CurrentRating,
Count(*) As TotalRatings

FROM [dbo].[mp_ContentRating]

WHERE [ContentGuid] = @ContentGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_GetCountByContentAndUser]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@ContentGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[mp_ContentRating]
WHERE [ContentGuid] = @ContentGuid
		AND [UserGuid] = @UserGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_DeleteByContent]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@ContentGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentRating]
WHERE
	[ContentGuid] = @ContentGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_DeleteBySite]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentRating]
WHERE
	[SiteGuid] = @SiteGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_DeleteByUser]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@UserGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentRating]
WHERE
	[UserGuid] = @UserGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_SelectOneByContentAndUser]

/*
Author:   			
Created: 			2008-10-06
Last Modified: 		2008-10-06
*/

@ContentGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentRating]
		
WHERE
		[ContentGuid] = @ContentGuid
		AND [UserGuid] = @UserGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentRating_GetCountByContentAndIPAddress]

/*
Author:   			
Created: 			2008-10-07
Last Modified: 		2008-10-07
*/

@ContentGuid uniqueidentifier,
@IpAddress nvarchar(50),
@BeginUtc datetime

AS

SELECT COUNT(*) 
FROM [dbo].[mp_ContentRating]
WHERE [ContentGuid] = @ContentGuid
		AND [UserGuid] = '00000000-0000-0000-0000-000000000000'
		AND [IpAddress] = @IpAddress
		AND CreatedUtc > @BeginUtc
GO


