INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CurrencyGuid','ff2dde1b-e7d7-4c3a-9ab4-6474345e0f31','Admin', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CommerceReportViewRoles','','Admin', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('DefaultCountryGuid','a71d6727-61e7-4282-9fcb-526d1e7bc24f','Admin', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('DefaultStateGuid','00000000-0000-0000-0000-000000000000','Admin', 100)


GO

