SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER TABLE [dbo].[mp_Sites] ADD
[EditorProvider] [nvarchar] (255)  NULL
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[mp_Sites_Insert]

/*
Author:   			
Created: 			2005/03/07
Last Modified: 		2007/05/30

*/


@SiteName 				nvarchar(255),
@Skin 					nvarchar(100),
@Logo 					nvarchar(50),
@Icon 					nvarchar(50),
@AllowUserSkins 			bit,
@AllowNewRegistration 			bit,
@UseSecureRegistration 		bit,
@UseSSLOnAllPages 			bit,
@DefaultPageKeyWords 		nvarchar(255),
@DefaultPageDescription 		nvarchar(255),
@DefaultPageEncoding 			nvarchar(255),
@DefaultAdditionalMetaTags 		nvarchar(255),
@IsServerAdminSite 			bit,
@AllowPageSkins			bit,
@AllowHideMenuOnPages		bit,
@UseLdapAuth				bit,
@AutoCreateLdapUserOnFirstLogin	bit,
@LdapServer				nvarchar(255),
@LdapPort				int,
@LdapDomain				nvarchar(255),
@LdapRootDN				nvarchar(255),
@LdapUserDNKey			nvarchar(10),
@AllowUserFullNameChange		bit,
@UseEmailForLogin			bit,
@ReallyDeleteUsers			bit,
@EditorSkin				nvarchar(50),
@DefaultFriendlyUrlPatternEnum		nvarchar(50),
@SiteGuid					uniqueidentifier,
@EnableMyPageFeature 			bit,
@EditorProvider				nvarchar(255)

	
AS
INSERT INTO 	[dbo].[mp_Sites] 
(
				
				[SiteName],
				[Skin],
				[Logo],
				[Icon],
				[AllowUserSkins],
				[AllowNewRegistration],
				[UseSecureRegistration],
				[UseSSLOnAllPages],
				[DefaultPageKeyWords],
				[DefaultPageDescription],
				[DefaultPageEncoding],
				[DefaultAdditionalMetaTags],
				[IsServerAdminSite],
				AllowPageSkins,
				AllowHideMenuOnPages,
				UseLdapAuth,
				AutoCreateLdapUserOnFirstLogin,
				LdapServer,
				LdapPort,
				LdapDomain,
				LdapRootDN,
				LdapUserDNKey,
				ReallyDeleteUsers,
				UseEmailForLogin,
				AllowUserFullNameChange,
				EditorSkin,
				DefaultFriendlyUrlPatternEnum,
				SiteGuid,
				EnableMyPageFeature,
				EditorProvider
) 

VALUES 
(
				
				@SiteName,
				@Skin,
				@Logo,
				@Icon,
				@AllowUserSkins,
				@AllowNewRegistration,
				@UseSecureRegistration,
				@UseSSLOnAllPages,
				@DefaultPageKeyWords,
				@DefaultPageDescription,
				@DefaultPageEncoding,
				@DefaultAdditionalMetaTags,
				@IsServerAdminSite,
				@AllowPageSkins,
				@AllowHideMenuOnPages,
				@UseLdapAuth,
				@AutoCreateLdapUserOnFirstLogin,
				@LdapServer,
				@LdapPort,
				@LdapDomain,
				@LdapRootDN,
				@LdapUserDNKey,
				@ReallyDeleteUsers,
				@UseEmailForLogin,
				@AllowUserFullNameChange,
				@EditorSkin,
				@DefaultFriendlyUrlPatternEnum,
				@SiteGuid,
				@EnableMyPageFeature,
				@EditorProvider
				
)
SELECT @@IDENTITY
GO

/****** Object:  StoredProcedure [dbo].[mp_Sites_Update]    Script Date: 05/30/2007 10:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[mp_Sites_Update]

/*
Author:		
Last Modified:	5/30/2007

*/


@SiteID           			int,
@SiteName         		nvarchar(128),
@Skin				nvarchar(100),
@Logo				nvarchar(50),
@Icon				nvarchar(50),
@AllowNewRegistration		bit,
@AllowUserSkins		bit,
@UseSecureRegistration	bit,
@UseSSLOnAllPages		bit,
@DefaultPageKeywords		nvarchar(255),
@DefaultPageDescription	nvarchar(255),
@DefaultPageEncoding		nvarchar(255),
@DefaultAdditionalMetaTags	nvarchar(255),
@IsServerAdminSite		bit,
@AllowPageSkins		bit,
@AllowHideMenuOnPages	bit,
@UseLdapAuth				bit,
@AutoCreateLdapUserOnFirstLogin	bit,
@LdapServer				nvarchar(255),
@LdapPort				int,
@LdapRootDN				nvarchar(255),
@LdapUserDNKey			nvarchar(10),
@AllowUserFullNameChange		bit,
@UseEmailForLogin			bit,
@ReallyDeleteUsers			bit,
@EditorSkin				nvarchar(50),
@DefaultFriendlyUrlPatternEnum		nvarchar(50),
@EnableMyPageFeature		bit,
@LdapDomain				nvarchar(255),
@EditorProvider				nvarchar(255)
	
	

AS
UPDATE	mp_Sites

SET
    	SiteName = @SiteName,
	Skin = @Skin,
	Logo = @Logo,
	Icon = @Icon,
	AllowNewRegistration = @AllowNewRegistration,
	AllowUserSkins = @AllowUserSkins,
	UseSecureRegistration = @UseSecureRegistration,
	UseSSLOnAllPages = @UseSSLOnAllPages,
	DefaultPageKeywords = @DefaultPageKeywords,
	DefaultPageDescription = @DefaultPageDescription,
	DefaultPageEncoding = @DefaultPageEncoding,
	DefaultAdditionalMetaTags = @DefaultAdditionalMetaTags,
	IsServerAdminSite = @IsServerAdminSite,
	AllowPageSkins = @AllowPageSkins,
	AllowHideMenuOnPages = @AllowHideMenuOnPages,
	UseLdapAuth = @UseLdapAuth,
	AutoCreateLdapUserOnFirstLogin = @AutoCreateLdapUserOnFirstLogin,
	LdapServer = @LdapServer,
	LdapPort = @LdapPort,
    LdapDomain = @LdapDomain,
	LdapRootDN = @LdapRootDN,
	LdapUserDNKey = @LdapUserDNKey,
	AllowUserFullNameChange = @AllowUserFullNameChange,
	UseEmailForLogin = @UseEmailForLogin,
	ReallyDeleteUsers = @ReallyDeleteUsers,
	EditorSkin = @EditorSkin,
	DefaultFriendlyUrlPatternEnum = @DefaultFriendlyUrlPatternEnum,
	EnableMyPageFeature = @EnableMyPageFeature,
	EditorProvider = @EditorProvider

WHERE
    	SiteID = @SiteID
GO

