INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('ForceContentVersioning','false','Tracking', 100)


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_ContentHistory](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[ContentText] [ntext] NOT NULL,
	[CustomData] [ntext] NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[HistoryUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_ContentHistory] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentHistory] ON [dbo].[mp_ContentHistory] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentHistory_1] ON [dbo].[mp_ContentHistory] 
(
	[ContentGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentHistory_2] ON [dbo].[mp_ContentHistory] 
(
	[UserGuid] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_SelectPage]

-- Author:   			
-- Created: 			2009-03-31
-- Last Modified: 		2009-03-31

@ContentGuid	uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		[Guid]
		
FROM
		[dbo].[mp_ContentHistory]
		
WHERE
		ContentGuid = @ContentGuid

ORDER BY
		HistoryUtc DESC

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_ContentHistory] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_Delete]

/*
Author:   			
Created: 			2009-3-31
Last Modified: 		2009-3-31
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentHistory]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_DeleteByContent]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-03-31
*/

@ContentGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentHistory]
WHERE
	[ContentGuid] = @ContentGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_DeleteBySite]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-03-31
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentHistory]
WHERE
	[SiteGuid] = @SiteGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_Insert]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-03-31
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@ContentGuid uniqueidentifier,
@Title nvarchar(255),
@ContentText ntext,
@CustomData ntext,
@CreatedUtc datetime,
@HistoryUtc datetime

	
AS

INSERT INTO 	[dbo].[mp_ContentHistory] 
(
				[Guid],
				[SiteGuid],
				[UserGuid],
				[ContentGuid],
				[Title],
				[ContentText],
				[CustomData],
				[CreatedUtc],
				[HistoryUtc]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@UserGuid,
				@ContentGuid,
				@Title,
				@ContentText,
				@CustomData,
				@CreatedUtc,
				@HistoryUtc
				
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_GetCount]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-03-31
*/

@ContentGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[mp_ContentHistory]
WHERE ContentGuid = @ContentGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_SelectOne]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-03-31
*/

@Guid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentHistory]
		
WHERE
		[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentHistory_SelectByContent]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-03-31
*/

@ContentGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentHistory]
		
WHERE
		[ContentGuid] = @ContentGuid
		
ORDER BY
		HistoryUtc DESC
GO

ALTER TABLE [dbo].[mp_ContentHistory] ADD  CONSTRAINT [DF_mp_ContentHistory_CreatedUtc]  DEFAULT (getutcdate()) FOR [CreatedUtc]
GO

ALTER TABLE [dbo].[mp_ContentHistory] ADD  CONSTRAINT [DF_mp_ContentHistory_HistoryUtc]  DEFAULT (getutcdate()) FOR [HistoryUtc]
GO


