

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_UserLocation_SelectUsersByIP]

/*
Author:   			
Created: 			2009-02-27
Last Modified: 		2009-02-27
*/

@SiteGuid uniqueidentifier,
@IPAddress nvarchar(50)

AS


SELECT
		u.*
		
FROM
		[dbo].[mp_UserLocation] ul

JOIN	[dbo].[mp_Users] u
ON ul.UserGuid = u.UserGuid
		
WHERE

	ul.[IPAddress] = @IPAddress
	AND (u.SiteGuid = @SiteGuid OR @SiteGuid = '00000000-0000-0000-0000-000000000000')
	
ORDER BY ul.LastCaptureUTC DESC

GO


