SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_Roles_Delete]

/*
Last Modified:		2007-06-15
don't allow delete of admins role

*/
    
@RoleID int

AS

DELETE FROM	mp_Roles

WHERE	RoleID = @RoleID 
	AND RoleName  <> 'Admins' 
	AND RoleName <> 'Content Administrators' 
	AND RoleName <> 'Authenticated Users'
	AND RoleName <> 'Role Admins'
	
GO

SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
ALTER TABLE [dbo].[mp_Blogs] ADD
[AllowCommentsForDays] [int] NOT NULL CONSTRAINT [DF_mp_Blogs_AllowCommentsForDays] DEFAULT ((0))
GO
