
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Modules_SelectBySite]

/*
Author:				
Created:			2009-01-04
Last Modified:		2009-03-26

*/

@SiteID		int,
@FeatureGuid uniqueidentifier


AS
SELECT  		m.ModuleID,
				m.ModuleTitle,
				m.AuthorizedEditRoles,
				p.Url,
				p.PageName,
				p.UseUrl,
				p.PageID,
				p.EditRoles
    
FROM
    			mp_Modules m
  
JOIN		mp_ModuleDefinitions md
ON 			m.ModuleDefID = md.ModuleDefID

JOIN		mp_PageModules pm
ON				m.ModuleID = pm.ModuleID

JOIN		mp_Pages p
ON			pm.PageID = p.PageID
    
WHERE   
    			md.Guid = @FeatureGuid
				AND m.SiteID = @SiteID
		
    
ORDER BY p.PageName, m.ModuleTitle


GO

