SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO

ALTER TABLE [dbo].[mp_Users] DROP CONSTRAINT [DF_mp_Users_UserGuid]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

DROP INDEX [dbo].[mp_ModuleDefinitions].[IX_mp_ModuleDefinitions]
GO

IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

DROP INDEX [dbo].[mp_Users].[IX_mp_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

UPDATE [dbo].[mp_Users] SET [UserGuid]=(newid()) WHERE [UserGuid] IS NULL

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_Users] ALTER COLUMN [UserGuid] [uniqueidentifier] NOT NULL

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_mp_Users] ON [dbo].[mp_Users] ([UserGuid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_mp_ModuleDefinitions] ON [dbo].[mp_ModuleDefinitions] ([Guid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_mp_Pages] ON [dbo].[mp_Pages] ([PageGuid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_mp_Sites] ON [dbo].[mp_Sites] ([SiteGuid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_Users] ADD CONSTRAINT [DF_mp_Users_UserGuid] DEFAULT (newid()) FOR [UserGuid]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_UserPages] ADD
CONSTRAINT [FK_mp_UserPages_mp_Users] FOREIGN KEY ([UserGuid]) REFERENCES [dbo].[mp_Users] ([UserGuid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO








