SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_FileAttachment](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ItemGuid] [uniqueidentifier] NOT NULL,
	[SpecialGuid1] [uniqueidentifier] NOT NULL,
	[SpecialGuid2] [uniqueidentifier] NOT NULL,
	[ServerFileName] [nvarchar](255) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_FileAttachment] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_FileAttachment] ON [dbo].[mp_FileAttachment] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_FileAttachment_1] ON [dbo].[mp_FileAttachment] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_FileAttachment_2] ON [dbo].[mp_FileAttachment] 
(
	[ItemGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_FileAttachment_3] ON [dbo].[mp_FileAttachment] 
(
	[SpecialGuid1] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_FileAttachment_4] ON [dbo].[mp_FileAttachment] 
(
	[SpecialGuid2] ASC
) ON [PRIMARY]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_Insert]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ItemGuid uniqueidentifier,
@SpecialGuid1 uniqueidentifier,
@SpecialGuid2 uniqueidentifier,
@ServerFileName nvarchar(255),
@FileName nvarchar(255),
@CreatedUtc datetime,
@CreatedBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_FileAttachment] 
(
				[RowGuid],
				[SiteGuid],
				[ModuleGuid],
				[ItemGuid],
				[SpecialGuid1],
				[SpecialGuid2],
				[ServerFileName],
				[FileName],
				[CreatedUtc],
				[CreatedBy]
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@ModuleGuid,
				@ItemGuid,
				@SpecialGuid1,
				@SpecialGuid2,
				@ServerFileName,
				@FileName,
				@CreatedUtc,
				@CreatedBy
				
)
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_Update]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/
	
@RowGuid uniqueidentifier, 
@ServerFileName nvarchar(255), 
@FileName nvarchar(255)


AS

UPDATE 		[dbo].[mp_FileAttachment] 

SET
			
			[ServerFileName] = @ServerFileName,
			[FileName] = @FileName
			
WHERE
			[RowGuid] = @RowGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_Delete]

/*
Author:   			
Created: 			2009-3-8
Last Modified: 		2009-3-8
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_FileAttachment]
WHERE
	[RowGuid] = @RowGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_SelectOne]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/

@RowGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_FileAttachment]
		
WHERE
		[RowGuid] = @RowGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_DeleteBySite]

/*
Author:   			
Created: 			2009-3-8
Last Modified: 		2009-3-8
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_FileAttachment]
WHERE
	[SiteGuid] = @SiteGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_DeleteByModule]

/*
Author:   			
Created: 			2009-3-8
Last Modified: 		2009-3-8
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_FileAttachment]
WHERE
	[ModuleGuid] = @ModuleGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_DeleteByItem]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/

@ItemGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_FileAttachment]
WHERE
	[ItemGuid] = @ItemGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_SelectByModule]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/

@ModuleGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_FileAttachment]
		
WHERE
		[ModuleGuid] = @ModuleGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_SelectByItem]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/

@ItemGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_FileAttachment]
		
WHERE
		[ItemGuid] = @ItemGuid
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_SelectBySpecial1]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/

@SpecialGuid1 uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_FileAttachment]
		
WHERE
		[SpecialGuid1] = @SpecialGuid1
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_FileAttachment_SelectBySpecial2]

/*
Author:   			
Created: 			2009-03-08
Last Modified: 		2009-03-08
*/

@SpecialGuid2 uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_FileAttachment]
		
WHERE
		[SpecialGuid2] = @SpecialGuid2
GO
ALTER TABLE [dbo].[mp_FileAttachment] ADD  CONSTRAINT [DF_mp_FileAttachment_RowGuid]  DEFAULT (newid()) FOR [RowGuid]
GO
ALTER TABLE [dbo].[mp_FileAttachment] ADD  CONSTRAINT [DF_mp_FileAttachment_CreatedUtc]  DEFAULT (getutcdate()) FOR [CreatedUtc]
GO

