DELETE FROM mp_BlogComments 
WHERE ItemID NOT IN (SELECT ItemID FROM mp_Blogs)

DELETE FROM mp_BlogItemCategories 
WHERE ItemID NOT IN (SELECT ItemID FROM mp_Blogs)

DELETE FROM mp_BlogItemCategories 
WHERE CategoryID NOT IN (SELECT CategoryID FROM mp_BlogCategories)

DELETE FROM mp_ForumThreadSubscriptions
WHERE ThreadID 
NOT IN 
(SELECT ThreadID FROM mp_ForumThreads)

DELETE FROM mp_ModuleSettings
WHERE ModuleID 
NOT IN 
(SELECT ModuleID FROM mp_Modules)

DELETE FROM mp_PageModules
WHERE ModuleID 
NOT IN 
(SELECT ModuleID FROM mp_Modules)

DELETE FROM mp_PageModules
WHERE PageID 
NOT IN 
(SELECT PageID FROM mp_Pages)

DELETE FROM mp_Pages
WHERE SiteID 
NOT IN 
(SELECT SiteID FROM mp_Sites)

DELETE FROM mp_Roles
WHERE SiteID 
NOT IN 
(SELECT SiteID FROM mp_Sites)

DELETE FROM mp_SharedFilesHistory
WHERE ItemID 
NOT IN 
(SELECT ItemID FROM mp_SharedFiles)

DELETE FROM mp_SiteModuleDefinitions
WHERE SiteID 
NOT IN 
(SELECT SiteID FROM mp_Sites)
GO


SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
ALTER TABLE [dbo].[mp_BlogComments] ADD
CONSTRAINT [FK_mp_BlogComments_mp_Blogs] FOREIGN KEY ([ItemID]) REFERENCES [dbo].[mp_Blogs] ([ItemID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_BlogItemCategories] ADD
CONSTRAINT [FK_mp_BlogItemCategories_mp_BlogCategories] FOREIGN KEY ([CategoryID]) REFERENCES [dbo].[mp_BlogCategories] ([CategoryID]),
CONSTRAINT [FK_mp_BlogItemCategories_mp_Blogs] FOREIGN KEY ([ItemID]) REFERENCES [dbo].[mp_Blogs] ([ItemID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_ForumPosts] ADD
CONSTRAINT [FK_mp_ForumPosts_mp_ForumThreads] FOREIGN KEY ([ThreadID]) REFERENCES [dbo].[mp_ForumThreads] ([ThreadID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_ForumThreads] ADD
CONSTRAINT [FK_mp_ForumThreads_mp_Forums] FOREIGN KEY ([ForumID]) REFERENCES [dbo].[mp_Forums] ([ItemID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_ForumThreadSubscriptions] ADD
CONSTRAINT [FK_mp_ForumThreadSubscriptions_mp_ForumThreads] FOREIGN KEY ([ThreadID]) REFERENCES [dbo].[mp_ForumThreads] ([ThreadID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_SchemaScriptHistory] ADD
CONSTRAINT [FK_mp_SchemaScriptHistory_mp_SchemaVersion] FOREIGN KEY ([ApplicationID]) REFERENCES [dbo].[mp_SchemaVersion] ([ApplicationID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

ALTER TABLE [dbo].[mp_SharedFilesHistory] ADD
CONSTRAINT [FK_mp_SharedFilesHistory_mp_SharedFiles] FOREIGN KEY ([ItemID]) REFERENCES [dbo].[mp_SharedFiles] ([ItemID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO

IF @@TRANCOUNT>0 BEGIN

COMMIT TRANSACTION
END

GO
