/****** Object:  StoredProcedure [dbo].[mp_RedirectList_SelectPage]    Script Date: 11/19/2008 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_SelectPage]

-- Author:   			
-- Created: 			2008-11-19
-- Last Modified: 		2008-11-19

@SiteID	int,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
RowGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
RowGuid
)

SELECT
		[RowGuid]
		
FROM
		[dbo].[mp_RedirectList]
		
WHERE
		[SiteID] = @SiteID

ORDER BY
		[OldUrl]

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_RedirectList] t1

JOIN			#PageIndex t2
ON			
		t1.[RowGuid] = t2.[RowGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO
/****** Object:  StoredProcedure [dbo].[mp_RedirectList_GetCount]    Script Date: 11/19/2008 09:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_GetCount]

/*
Author:   			
Created: 			2008-11-19
Last Modified: 		2008-11-19
*/

@SiteID int 
AS

SELECT COUNT(*) 
FROM [dbo].[mp_RedirectList]
WHERE SiteID = @SiteID
GO
/****** Object:  StoredProcedure [dbo].[mp_RedirectList_SelectBySiteAndUrl]    Script Date: 11/19/2008 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_SelectBySiteAndUrl]

/*
Author:   			
Created: 			2008-11-19
Last Modified: 		2008-11-19
*/

@SiteID int,
@OldUrl nvarchar(255),
@CurrentTime datetime

AS

SELECT * 
		
FROM
		[dbo].[mp_RedirectList]
		
WHERE
		[SiteID] = @SiteID
		AND [OldUrl] = @OldUrl
		AND [ExpireUtc] < @CurrentTime
GO
/****** Object:  StoredProcedure [dbo].[mp_RedirectList_Delete]    Script Date: 11/19/2008 09:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_Delete]

/*
Author:   			
Created: 			2008-11-19
Last Modified: 		2008-11-19
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_RedirectList]
WHERE
	[RowGuid] = @RowGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_RedirectList_SelectOne]    Script Date: 11/19/2008 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_SelectOne]

/*
Author:   			
Created: 			2008-11-19
Last Modified: 		2008-11-19
*/

@RowGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_RedirectList]
		
WHERE
		[RowGuid] = @RowGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_RedirectList_Insert]    Script Date: 11/19/2008 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_Insert]

/*
Author:   			
Created: 			2008-11-19
Last Modified: 		2008-11-19
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SiteID int,
@OldUrl nvarchar(255),
@NewUrl nvarchar(255),
@CreatedUtc datetime,
@ExpireUtc datetime

	
AS

INSERT INTO 	[dbo].[mp_RedirectList] 
(
				[RowGuid],
				[SiteGuid],
				[SiteID],
				[OldUrl],
				[NewUrl],
				[CreatedUtc],
				[ExpireUtc]
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@SiteID,
				@OldUrl,
				@NewUrl,
				@CreatedUtc,
				@ExpireUtc
				
)
GO
/****** Object:  StoredProcedure [dbo].[mp_RedirectList_Update]    Script Date: 11/19/2008 09:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_Update]

/*
Author:   			
Created: 			2008-11-19
Last Modified: 		2008-11-19
*/
	
@RowGuid uniqueidentifier, 
@OldUrl nvarchar(255), 
@NewUrl nvarchar(255), 
@ExpireUtc datetime 


AS

UPDATE 		[dbo].[mp_RedirectList] 

SET
			
			[OldUrl] = @OldUrl,
			[NewUrl] = @NewUrl,
			[ExpireUtc] = @ExpireUtc
			
WHERE
			[RowGuid] = @RowGuid
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_RedirectList_Exists]

/*
Author:   			
Created: 			2008-11-19
Last Modified: 		2008-11-19
*/

@SiteID int,
@OldUrl nvarchar(255)

AS

SELECT COUNT(*) 
FROM [dbo].[mp_RedirectList]
WHERE SiteID = @SiteID
	AND [OldUrl] = @OldUrl


GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SiteRootEditRoles','Admins;Content Administrators','Admin', 100)



GO

