SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[mp_Sites_Delete]

/*
Author:   			
Created: 			2005-03-07
Last Modified: 		2008-03-01

*/

@SiteID int

AS

DELETE FROM mp_WebParts WHERE SiteID = @SiteID

DELETE FROM mp_PageModules
WHERE PageID IN (SELECT PageID FROM mp_Pages WHERE SiteID = @SiteID)

DELETE FROM mp_ModuleSettings
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_BlogItemCategories
WHERE ItemID IN (SELECT ItemID FROM mp_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID) )

DELETE FROM mp_BlogCategories
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_BlogStats
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_BlogComments
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)



DELETE FROM mp_Blogs
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_CalendarEvents
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_ForumPosts
WHERE ThreadID IN (SELECT ThreadID FROM mp_ForumThreads WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) )

DELETE FROM mp_ForumThreadSubscriptions
WHERE ThreadID IN (SELECT ThreadID FROM mp_ForumThreads WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) )

DELETE FROM mp_ForumThreads
WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  
(SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) 

DELETE FROM mp_ForumSubscriptions
WHERE ForumID IN
(SELECT ItemID FROM mp_Forums WHERE ModuleID IN  
(SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)) 

DELETE FROM mp_Forums
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_GalleryImages
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_Links
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_HtmlContent
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_RssFeeds
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_SharedFilesHistory
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_SharedFiles
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

DELETE FROM mp_SharedFileFolders
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)


DELETE FROM mp_Modules WHERE SiteID = @SiteID

DELETE FROM mp_SiteModuleDefinitions WHERE SiteID = @SiteID


DELETE FROM mp_UserProperties
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserRoles
WHERE UserID IN (SELECT UserID FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserLocation 
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_FriendlyUrls WHERE SiteID = @SiteID

DELETE FROM mp_UserPages WHERE SiteID = @SiteID

DELETE FROM mp_Users WHERE SiteID = @SiteID

DELETE FROM mp_Pages WHERE SiteID = @SiteID

DELETE FROM mp_Roles WHERE SiteID = @SiteID



DELETE FROM mp_SiteHosts WHERE SiteID = @SiteID

DELETE FROM mp_SitePersonalizationAllUsers
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePersonalizationPerUser
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePaths WHERE SiteID = @SiteID

DELETE FROM mp_SiteFolders
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)



DELETE FROM [dbo].[mp_Sites]
WHERE
	[SiteID] = @SiteID
   			
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[mp_ForumThreads_CountByUser]

/*
Author:				
Created:			2008-03-18
Last Modified:		2008-03-18

*/


@UserID		int

AS

SELECT	COUNT(*)

FROM		mp_ForumThreads

WHERE ThreadID IN (Select DISTINCT ThreadID FROM mp_ForumPosts WHERE mp_ForumPosts.UserID = @UserID)

GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_ForumThreads_SelectPageByUser]

-- Author:   			
-- Created: 			2008-3-18
-- Last Modified: 		2008-3-18

@UserID		int,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ThreadID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ThreadID
)

SELECT
		[ThreadID]
		
FROM
		[dbo].[mp_ForumThreads]
		
WHERE
	ThreadID IN (Select DISTINCT ThreadID FROM mp_ForumPosts WHERE mp_ForumPosts.UserID = @UserID)

ORDER BY
	MostRecentPostDate DESC

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t.*,
		f.Title As Forum,
		f.ModuleID,
		(SELECT TOP 1 PageID FROM mp_PageModules WHERE mp_PageModules.ModuleID = f.ModuleID AND (PublishEndDate IS NULL OR PublishEndDate > getutcdate()) ) As PageID,
		COALESCE(u.Name, 'Guest') As MostRecentPostUser,
		s.Name As StartedBy,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_ForumThreads] t

JOIN			#PageIndex t2
ON			
		t.[ThreadID] = t2.[ThreadID]

JOIN	mp_Forums f
ON t.ForumID = f.ItemID

LEFT OUTER JOIN	mp_Users u
ON t.MostRecentPostUserID = u.UserID

LEFT OUTER JOIN	mp_Users s
ON t.StartedByUserID = s.UserID
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO
