SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].mp_FriendlyUrls_GetCount

/*
Author:   			
Created: 			2008-6-15
Last Modified: 		2008-6-15
*/

@SiteID int

AS

SELECT COUNT(*) 
FROM [dbo].[mp_FriendlyUrls]
WHERE SiteID = @SiteID

GO


CREATE PROCEDURE [dbo].mp_FriendlyUrls_SelectPage

-- Author:   			
-- Created: 			2008-6-15
-- Last Modified: 		2008-6-15

@SiteID	int,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
UrlID Int
)

BEGIN

INSERT INTO #PageIndex ( 
UrlID
)

SELECT
		[UrlID]
		
FROM
		[dbo].[mp_FriendlyUrls]
		
WHERE		SiteID = @SiteID

ORDER BY	FriendlyUrl

END



SELECT
		t1.*
		
FROM
		[dbo].[mp_FriendlyUrls] t1

JOIN			#PageIndex t2
ON			
		t1.[UrlID] = t2.[UrlID]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO




SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
