

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaskQueue_DeleteCompleted]

/*
Author:   			
Created: 			2008-01-07
Last Modified: 		2008-01-07
*/



AS

DELETE FROM [dbo].[mp_TaskQueue]
WHERE
	[CompleteUTC] IS NOT NULL

GO

/****** Object:  Table [dbo].[mp_LetterInfo]    Script Date: 01/08/2008 15:46:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_LetterInfo](
	[LetterInfoGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Table_1_InfoGuid]  DEFAULT (newid()),
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [ntext] NOT NULL,
	[AvailableToRoles] [ntext] NOT NULL CONSTRAINT [DF_mp_LetterInfo_AvailableToRoles]  DEFAULT ('All Users'),
	[Enabled] [bit] NOT NULL CONSTRAINT [DF_mp_LetterInfo_Enabled]  DEFAULT ((1)),
	[AllowUserFeedback] [bit] NOT NULL CONSTRAINT [DF_mp_LetterInfo_AllowUserFeedback]  DEFAULT ((1)),
	[AllowAnonFeedback] [bit] NOT NULL CONSTRAINT [DF_mp_LetterInfo_AllowAnonFeedback]  DEFAULT ((0)),
	[FromAddress] [nvarchar](255) NOT NULL,
	[FromName] [nvarchar](255) NOT NULL,
	[ReplyToAddress] [nvarchar](255) NOT NULL,
	[SendMode] [int] NOT NULL CONSTRAINT [DF_mp_LetterInfo_SendMode]  DEFAULT ((0)),
	[EnableViewAsWebPage] [bit] NOT NULL CONSTRAINT [DF_mp_LetterInfo_EnableViewAsWebPage]  DEFAULT ((1)),
	[EnableSendLog] [bit] NOT NULL CONSTRAINT [DF_mp_LetterInfo_EnableSendLog]  DEFAULT ((0)),
	[RolesThatCanEdit] [ntext] NOT NULL,
	[RolesThatCanApprove] [ntext] NOT NULL,
	[RolesThatCanSend] [ntext] NOT NULL,
	[SubscriberCount] [int] NOT NULL CONSTRAINT [DF_mp_LetterInfo_SubscriberCount]  DEFAULT ((0)),
	[CreatedUTC] [datetime] NOT NULL CONSTRAINT [DF_mp_LetterInfo_CreatedUTC]  DEFAULT (getutcdate()),
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUTC] [datetime] NOT NULL CONSTRAINT [DF_mp_LetterInfo_LastModUTC]  DEFAULT (getutcdate()),
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_LetterInfo] PRIMARY KEY CLUSTERED 
(
	[LetterInfoGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[mp_LetterSendLog]    Script Date: 01/08/2008 15:46:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_LetterSendLog](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[LetterGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[UTC] [datetime] NOT NULL CONSTRAINT [DF_mp_LetterSendLog_UTC]  DEFAULT (getutcdate()),
	[ErrorOccurred] [bit] NOT NULL CONSTRAINT [DF_mp_LetterSendLog_ErrorOccurred]  DEFAULT ((0)),
	[ErrorMessage] [ntext] NULL,
 CONSTRAINT [PK_mp_LetterSendLog] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mp_LetterSubscriberHx]    Script Date: 01/08/2008 15:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_LetterSubscriberHx](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[LetterInfoGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[UseHtml] [bit] NOT NULL,
	[BeginUTC] [datetime] NOT NULL,
	[EndUTC] [datetime] NOT NULL CONSTRAINT [DF_mp_LetterSubscriberHx_EndUTC]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_mp_LetterSubscriberHx] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mp_LetterSubscriber]    Script Date: 01/08/2008 16:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_LetterSubscriber](
	[LetterInfoGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[BeginUTC] [datetime] NOT NULL CONSTRAINT [DF_mp_LetterSubscriber_BeginUTC]  DEFAULT (getutcdate()),
	[UseHtml] [bit] NOT NULL CONSTRAINT [DF_mp_LetterSubscriber_UseHtml]  DEFAULT ((1)),
 CONSTRAINT [PK_mp_LetterSubscriber] PRIMARY KEY CLUSTERED 
(
	[LetterInfoGuid] ASC,
	[UserGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_mp_LetterSubscriber_mp_LetterInfo]    Script Date: 01/08/2008 16:11:44 ******/
ALTER TABLE [dbo].[mp_LetterSubscriber]  WITH CHECK ADD  CONSTRAINT [FK_mp_LetterSubscriber_mp_LetterInfo] FOREIGN KEY([LetterInfoGuid])
REFERENCES [dbo].[mp_LetterInfo] ([LetterInfoGuid])
GO
ALTER TABLE [dbo].[mp_LetterSubscriber] CHECK CONSTRAINT [FK_mp_LetterSubscriber_mp_LetterInfo]
GO


/****** Object:  Table [dbo].[mp_Letter]    Script Date: 01/08/2008 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_Letter](
	[LetterGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_mp_Letter_LetterGuid]  DEFAULT (newid()),
	[LetterInfoGuid] [uniqueidentifier] NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[HtmlBody] [ntext] NOT NULL,
	[TextBody] [ntext] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedUTC] [datetime] NOT NULL CONSTRAINT [DF_mp_Letter_CreatedUTC]  DEFAULT (getutcdate()),
	[LastModBy] [uniqueidentifier] NOT NULL,
	[LastModUTC] [datetime] NOT NULL CONSTRAINT [DF_mp_Letter_LastModUTC]  DEFAULT (getutcdate()),
	[IsApproved] [bit] NOT NULL,
	[ApprovedBy] [uniqueidentifier] NOT NULL CONSTRAINT [DF_mp_Letter_ApprovedBy]  DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[SendClickedUTC] [datetime] NULL,
	[SendStartedUTC] [datetime] NULL,
	[SendCompleteUTC] [datetime] NULL,
	[SendCount] [int] NOT NULL CONSTRAINT [DF_mp_Letter_SendCount]  DEFAULT ((0)),
 CONSTRAINT [PK_mp_Letter] PRIMARY KEY CLUSTERED 
(
	[LetterGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mp_LetterHtmlTemplate]    Script Date: 01/08/2008 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_LetterHtmlTemplate](
	[Guid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_mp_LetterHtmlTemplate_Guid]  DEFAULT (newid()),
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Html] [ntext] NOT NULL,
	[LastModUTC] [datetime] NOT NULL CONSTRAINT [DF_mp_LetterHtmlTemplate_LastModUTC]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_mp_LetterHtmlTemplate] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  ForeignKey [FK_mp_Letter_mp_LetterInfo]    Script Date: 01/08/2008 15:46:17 ******/
ALTER TABLE [dbo].[mp_Letter]  WITH CHECK ADD  CONSTRAINT [FK_mp_Letter_mp_LetterInfo] FOREIGN KEY([LetterInfoGuid])
REFERENCES [dbo].[mp_LetterInfo] ([LetterInfoGuid])
GO
ALTER TABLE [dbo].[mp_Letter] CHECK CONSTRAINT [FK_mp_Letter_mp_LetterInfo]
GO




SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_TaskQueue_DeleteCompletedBySite]

/*
Author:   			
Created: 			2008-01-07
Last Modified: 		2008-01-07
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TaskQueue]
WHERE
	[SiteGuid] = @SiteGuid
	AND [CompleteUTC] IS NOT NULL
	
GO

/****** Object:  StoredProcedure [dbo].[mp_LetterHtmlTemplate_SelectPage]    Script Date: 01/09/2008 13:28:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterHtmlTemplate_SelectPage]

-- Author:   			
-- Created: 			2007-12-27
-- Last Modified: 		2007-12-27

@SiteGuid		uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		[Guid]
		
FROM
		[dbo].[mp_LetterHtmlTemplate]
		
WHERE
	[SiteGuid] = @SiteGuid

ORDER BY
	[Title]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_LetterHtmlTemplate] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_SelectPage]    Script Date: 01/09/2008 13:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_Letter_SelectPage]

-- Author:   			
-- Created: 			2007-09-22
-- Last Modified: 		2008-01-08

@LetterInfoGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
LetterGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
LetterGuid
)

SELECT
		[LetterGuid]
		
FROM
		[dbo].[mp_Letter]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid
		AND [SendClickedUTC] IS NOT NULL

ORDER BY
		[SendClickedUTC] DESC

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_Letter] t1

JOIN			#PageIndex t2
ON			
		t1.[LetterGuid] = t2.[LetterGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_Delete]    Script Date: 01/09/2008 13:28:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_Delete]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterInfo]
WHERE
	[LetterInfoGuid] = @LetterInfoGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_GetCount]    Script Date: 01/09/2008 13:28:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_GetCount]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@SiteGuid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_LetterInfo]
WHERE [SiteGuid] = @SiteGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_Insert]    Script Date: 01/09/2008 13:28:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_Insert]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@Title nvarchar(255),
@Description ntext,
@AvailableToRoles ntext,
@Enabled bit,
@AllowUserFeedback bit,
@AllowAnonFeedback bit,
@FromAddress nvarchar(255),
@FromName nvarchar(255),
@ReplyToAddress nvarchar(255),
@SendMode int,
@EnableViewAsWebPage bit,
@EnableSendLog bit,
@RolesThatCanEdit ntext,
@RolesThatCanApprove ntext,
@RolesThatCanSend ntext,
@CreatedUTC datetime,
@CreatedBy uniqueidentifier,
@LastModUTC datetime,
@LastModBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_LetterInfo] 
(
				[LetterInfoGuid],
				[SiteGuid],
				[Title],
				[Description],
				[AvailableToRoles],
				[Enabled],
				[AllowUserFeedback],
				[AllowAnonFeedback],
				[FromAddress],
				[FromName],
				[ReplyToAddress],
				[SendMode],
				[EnableViewAsWebPage],
				[EnableSendLog],
				[RolesThatCanEdit],
				[RolesThatCanApprove],
				[RolesThatCanSend],
				[CreatedUTC],
				[CreatedBy],
				[LastModUTC],
				[LastModBy]
) 

VALUES 
(
				@LetterInfoGuid,
				@SiteGuid,
				@Title,
				@Description,
				@AvailableToRoles,
				@Enabled,
				@AllowUserFeedback,
				@AllowAnonFeedback,
				@FromAddress,
				@FromName,
				@ReplyToAddress,
				@SendMode,
				@EnableViewAsWebPage,
				@EnableSendLog,
				@RolesThatCanEdit,
				@RolesThatCanApprove,
				@RolesThatCanSend,
				@CreatedUTC,
				@CreatedBy,
				@LastModUTC,
				@LastModBy
				
)
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_Update]    Script Date: 01/09/2008 13:28:13 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_Update]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/
	
@LetterInfoGuid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@Title nvarchar(255), 
@Description ntext, 
@AvailableToRoles ntext, 
@Enabled bit, 
@AllowUserFeedback bit, 
@AllowAnonFeedback bit, 
@FromAddress nvarchar(255), 
@FromName nvarchar(255), 
@ReplyToAddress nvarchar(255), 
@SendMode int, 
@EnableViewAsWebPage bit, 
@EnableSendLog bit, 
@RolesThatCanEdit ntext, 
@RolesThatCanApprove ntext, 
@RolesThatCanSend ntext, 
@CreatedUTC datetime, 
@CreatedBy uniqueidentifier, 
@LastModUTC datetime, 
@LastModBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_LetterInfo] 

SET
			[SiteGuid] = @SiteGuid,
			[Title] = @Title,
			[Description] = @Description,
			[AvailableToRoles] = @AvailableToRoles,
			[Enabled] = @Enabled,
			[AllowUserFeedback] = @AllowUserFeedback,
			[AllowAnonFeedback] = @AllowAnonFeedback,
			[FromAddress] = @FromAddress,
			[FromName] = @FromName,
			[ReplyToAddress] = @ReplyToAddress,
			[SendMode] = @SendMode,
			[EnableViewAsWebPage] = @EnableViewAsWebPage,
			[EnableSendLog] = @EnableSendLog,
			[RolesThatCanEdit] = @RolesThatCanEdit,
			[RolesThatCanApprove] = @RolesThatCanApprove,
			[RolesThatCanSend] = @RolesThatCanSend,
			[CreatedUTC] = @CreatedUTC,
			[CreatedBy] = @CreatedBy,
			[LastModUTC] = @LastModUTC,
			[LastModBy] = @LastModBy
			
WHERE
			[LetterInfoGuid] = @LetterInfoGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_SelectPage]    Script Date: 01/09/2008 13:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_SelectPage]

-- Author:   			
-- Created: 			9/22/2007
-- Last Modified: 		9/22/2007

@SiteGuid		uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
LetterInfoGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
LetterInfoGuid
)

SELECT
		[LetterInfoGuid]
		
FROM
		[dbo].[mp_LetterInfo]
		
 WHERE		[SiteGuid] = @SiteGuid

-- ORDER BY

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_LetterInfo] t1

JOIN			#PageIndex t2
ON			
		t1.[LetterInfoGuid] = t2.[LetterInfoGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_SelectPage]    Script Date: 01/09/2008 13:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_SelectPage]

-- Author:   			
-- Created: 			9/22/2007
-- Last Modified: 		9/22/2007

@LetterInfoGuid			uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
LetterInfoGuid uniqueidentifier,
UserGuid uniqueidentifier
)

BEGIN

INSERT INTO #PageIndex ( 
LetterInfoGuid, UserGuid
)

SELECT
		ls.[LetterInfoGuid],
		ls.[UserGuid]
		
FROM
		[dbo].[mp_LetterSubscriber] ls

JOIN		mp_Users u
ON		ls.UserGuid = u.UserGuid
		
WHERE		ls.[LetterInfoGuid] = @LetterInfoGuid

ORDER BY	u.[Name]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		u.[Name],
		u.[Email],
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_LetterSubscriber] t1
		
JOIN		mp_Users u
ON		t1.UserGuid = u.UserGuid

JOIN			#PageIndex t2
ON			
		t1.[UserGuid] = t2.[UserGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_SelectDraftsPage]    Script Date: 01/09/2008 13:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_Letter_SelectDraftsPage]

-- Author:   			
-- Created: 			2007-12-12
-- Last Modified: 		2007-12-12

@LetterInfoGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
LetterGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
LetterGuid
)

SELECT
		[LetterGuid]
		
FROM
		[dbo].[mp_Letter]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid
		AND [SendClickedUTC] IS NULL

ORDER BY
	[CreatedUTC]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_Letter] t1

JOIN			#PageIndex t2
ON			
		t1.[LetterGuid] = t2.[LetterGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSendLog_SelectPage]    Script Date: 01/09/2008 13:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSendLog_SelectPage]

-- Author:   			
-- Created: 			2008-1-8
-- Last Modified: 		2008-1-8

@LetterGuid		uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
RowID Int
)

BEGIN

INSERT INTO #PageIndex ( 
RowID
)

SELECT
		[RowID]
		
FROM
		[dbo].[mp_LetterSendLog]
		
WHERE
		[LetterGuid] = @LetterGuid

ORDER BY
		[EmailAddress]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[mp_LetterSendLog] t1

JOIN			#PageIndex t2
ON			
		t1.[RowID] = t2.[RowID]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterHtmlTemplate_GetCount]    Script Date: 01/09/2008 13:28:09 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterHtmlTemplate_GetCount]

/*
Author:   			
Created: 			2007-12-27
Last Modified: 		2007-12-27
*/

@SiteGuid uniqueidentifier


AS

SELECT COUNT(*) FROM [dbo].[mp_LetterHtmlTemplate]
WHERE SiteGuid = @SiteGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterHtmlTemplate_SelectOne]    Script Date: 01/09/2008 13:28:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterHtmlTemplate_SelectOne]

/*
Author:   			
Created: 			2007-12-27
Last Modified: 		2007-12-27
*/

@Guid uniqueidentifier

AS


SELECT
		[Guid],
		[SiteGuid],
		[Title],
		[Html],
		[LastModUTC]
		
FROM
		[dbo].[mp_LetterHtmlTemplate]
		
WHERE
		[Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterHtmlTemplate_Delete]    Script Date: 01/09/2008 13:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterHtmlTemplate_Delete]

/*
Author:   			
Created: 			2007-12-27
Last Modified: 		2007-12-27
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterHtmlTemplate]
WHERE
	[Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterHtmlTemplate_SelectAll]    Script Date: 01/09/2008 13:28:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterHtmlTemplate_SelectAll]

/*
Author:   			
Created: 			2007-12-27
Last Modified: 		2007-12-27
*/

@SiteGuid uniqueidentifier

AS


SELECT
		[Guid],
		[SiteGuid],
		[Title],
		[Html],
		[LastModUTC]
		
FROM
		[dbo].[mp_LetterHtmlTemplate]

WHERE	[SiteGuid] = @SiteGuid

ORDER BY	[Title]
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterHtmlTemplate_Insert]    Script Date: 01/09/2008 13:28:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterHtmlTemplate_Insert]

/*
Author:   			
Created: 			2007-12-27
Last Modified: 		2007-12-27
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@Title nvarchar(255),
@Html ntext,
@LastModUTC datetime

	
AS

INSERT INTO 	[dbo].[mp_LetterHtmlTemplate] 
(
				[Guid],
				[SiteGuid],
				[Title],
				[Html],
				[LastModUTC]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@Title,
				@Html,
				@LastModUTC
				
)
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterHtmlTemplate_Update]    Script Date: 01/09/2008 13:28:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterHtmlTemplate_Update]

/*
Author:   			
Created: 			2007-12-27
Last Modified: 		2007-12-27
*/
	
@Guid uniqueidentifier, 
@Title nvarchar(255), 
@Html ntext, 
@LastModUTC datetime 


AS

UPDATE 		[dbo].[mp_LetterHtmlTemplate] 

SET
			[Title] = @Title,
			[Html] = @Html,
			[LastModUTC] = @LastModUTC
			
WHERE
			[Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_Delete]    Script Date: 01/09/2008 13:28:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_Delete]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Letter]
WHERE
	[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_GetCount]    Script Date: 01/09/2008 13:28:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_GetCount]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[mp_Letter]
WHERE	[LetterInfoGuid] = @LetterInfoGuid
	AND [SendClickedUTC] IS NOT NULL
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_SelectOne]    Script Date: 01/09/2008 13:28:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_Letter_SelectOne]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterGuid uniqueidentifier

AS


SELECT
		[LetterGuid],
		[LetterInfoGuid],
		[Subject],
		[HtmlBody],
		[TextBody],
		[CreatedBy],
		[CreatedUTC],
		[LastModBy],
		[LastModUTC],
		[IsApproved],
		[ApprovedBy],
		[SendClickedUTC],
		[SendStartedUTC],
		[SendCompleteUTC],
		[SendCount]
		
FROM
		[dbo].[mp_Letter]
		
WHERE
		[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_SelectAll]    Script Date: 01/09/2008 13:28:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_SelectAll]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS


SELECT
		[LetterGuid],
		[LetterInfoGuid],
		[Subject],
		[HtmlBody],
		[TextBody],
		[CreatedBy],
		[CreatedUTC],
		[LastModBy],
		[LastModUTC],
		[IsApproved],
		[ApprovedBy],
		[SendClickedUTC],
		[SendStartedUTC],
		[SendCompleteUTC],
		[SendCount]
		
FROM
		[dbo].[mp_Letter]

WHERE  [LetterInfoGuid] = @LetterInfoGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_Insert]    Script Date: 01/09/2008 13:28:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_Insert]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@Subject nvarchar(255),
@HtmlBody ntext,
@TextBody ntext,
@CreatedBy uniqueidentifier,
@CreatedUTC datetime,
@LastModBy uniqueidentifier,
@LastModUTC datetime,
@IsApproved bit,
@ApprovedBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_Letter] 
(
				[LetterGuid],
				[LetterInfoGuid],
				[Subject],
				[HtmlBody],
				[TextBody],
				[CreatedBy],
				[CreatedUTC],
				[LastModBy],
				[LastModUTC],
				[IsApproved],
				[ApprovedBy]
) 

VALUES 
(
				@LetterGuid,
				@LetterInfoGuid,
				@Subject,
				@HtmlBody,
				@TextBody,
				@CreatedBy,
				@CreatedUTC,
				@LastModBy,
				@LastModUTC,
				@IsApproved,
				@ApprovedBy
				
)
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_Update]    Script Date: 01/09/2008 13:28:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_Update]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2007-12-13
*/
	
@LetterGuid uniqueidentifier, 
@LetterInfoGuid uniqueidentifier, 
@Subject nvarchar(255), 
@HtmlBody ntext, 
@TextBody ntext, 
@LastModBy uniqueidentifier, 
@LastModUTC datetime, 
@IsApproved bit,
@ApprovedBy uniqueidentifier


AS

UPDATE 		[dbo].[mp_Letter] 

SET
			[LetterInfoGuid] = @LetterInfoGuid,
			[Subject] = @Subject,
			[HtmlBody] = @HtmlBody,
			[TextBody] = @TextBody,
			[LastModBy] = @LastModBy,
			[LastModUTC] = @LastModUTC,
			[IsApproved] = @IsApproved,
			[ApprovedBy] = @ApprovedBy
			
			
WHERE
			[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_UpdateSendStarted]    Script Date: 01/09/2008 13:28:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_UpdateSendStarted]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2007-12-13
*/
	
@LetterGuid uniqueidentifier, 
@SendStartedUTC datetime


AS

UPDATE 		[dbo].[mp_Letter] 

SET
			[SendStartedUTC] = @SendStartedUTC
			
				
WHERE
			[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_UpdateSendComplete]    Script Date: 01/09/2008 13:28:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_UpdateSendComplete]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2007-12-13
*/
	
@LetterGuid uniqueidentifier, 
@SendCompleteUTC datetime,
@SendCount	int


AS

UPDATE 		[dbo].[mp_Letter] 

SET
			[SendCompleteUTC] = @SendCompleteUTC,
			[SendCount] = @SendCount
			
				
WHERE
			[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_GetCountDrafts]    Script Date: 01/09/2008 13:28:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_GetCountDrafts]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[mp_Letter]
WHERE	[LetterInfoGuid] = @LetterInfoGuid
	AND [SendClickedUTC] IS NULL
GO
/****** Object:  StoredProcedure [dbo].[mp_Letter_UpdateSendClicked]    Script Date: 01/09/2008 13:28:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Letter_UpdateSendClicked]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2007-12-13
*/
	
@LetterGuid uniqueidentifier, 
@SendClickedUTC datetime


AS

UPDATE 		[dbo].[mp_Letter] 

SET
			[SendClickedUTC] = @SendClickedUTC
			
				
WHERE
			[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSendLog_Delete]    Script Date: 01/09/2008 13:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSendLog_Delete]

/*
Author:   			
Created: 			2008-1-8
Last Modified: 		2008-1-8
*/

@RowID int

AS

DELETE FROM [dbo].[mp_LetterSendLog]
WHERE
	[RowID] = @RowID
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSendLog_DeleteByLetter]    Script Date: 01/09/2008 13:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSendLog_DeleteByLetter]

/*
Author:   			
Created: 			2008-1-8
Last Modified: 		2008-1-8
*/

@LetterGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSendLog]
WHERE
	[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSendLog_GetCount]    Script Date: 01/09/2008 13:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSendLog_GetCount]

/*
Author:   			
Created: 			2008-1-8
Last Modified: 		2008-1-8
*/


@LetterGuid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_LetterSendLog]
WHERE
	[LetterGuid] = @LetterGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSendLog_SelectOne]    Script Date: 01/09/2008 13:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSendLog_SelectOne]

/*
Author:   			
Created: 			2008-1-8
Last Modified: 		2008-1-8
*/

@RowID int

AS


SELECT
		[RowID],
		[LetterGuid],
		[UserGuid],
		[EmailAddress],
		[UTC],
		[ErrorOccurred],
		[ErrorMessage]
		
FROM
		[dbo].[mp_LetterSendLog]
		
WHERE
		[RowID] = @RowID
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSendLog_Insert]    Script Date: 01/09/2008 13:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSendLog_Insert]

/*
Author:   			
Created: 			2008-1-8
Last Modified: 		2008-1-8
*/

@LetterGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@EmailAddress nvarchar(100),
@UTC datetime,
@ErrorOccurred bit,
@ErrorMessage ntext

	
AS

INSERT INTO 	[dbo].[mp_LetterSendLog] 
(
				[LetterGuid],
				[UserGuid],
				[EmailAddress],
				[UTC],
				[ErrorOccurred],
				[ErrorMessage]
) 

VALUES 
(
				@LetterGuid,
				@UserGuid,
				@EmailAddress,
				@UTC,
				@ErrorOccurred,
				@ErrorMessage
				
)
SELECT @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSendLog_Update]    Script Date: 01/09/2008 13:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSendLog_Update]

/*
Author:   			
Created: 			2008-1-8
Last Modified: 		2008-1-8
*/
	
@RowID int, 
@LetterGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@EmailAddress nvarchar(100), 
@UTC datetime, 
@ErrorOccurred bit, 
@ErrorMessage ntext 


AS

UPDATE 		[dbo].[mp_LetterSendLog] 

SET
			[LetterGuid] = @LetterGuid,
			[UserGuid] = @UserGuid,
			[EmailAddress] = @EmailAddress,
			[UTC] = @UTC,
			[ErrorOccurred] = @ErrorOccurred,
			[ErrorMessage] = @ErrorMessage
			
WHERE
			[RowID] = @RowID
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_SelectUnsentByLetter]    Script Date: 01/09/2008 13:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_SelectUnsentByLetter]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier

AS


SELECT
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[UseHtml],
		ls.[BeginUTC],
		u.[Email],
		u.[Name]
		
FROM
		[dbo].[mp_LetterSubscriber] ls

JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND ls.[UserGuid] NOT IN ( SELECT [UserGuid]
									FROM	[dbo].[mp_LetterSendLog]
									WHERE [LetterGuid] = @LetterGuid )
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_UpdateSubscriberCount]    Script Date: 01/09/2008 13:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_UpdateSubscriberCount]

/*
Author:   			
Created: 			2008-01-07
Last Modified: 		2008-01-07
*/

@LetterInfoGuid uniqueidentifier

	
AS

UPDATE	[dbo].[mp_LetterInfo]
SET SubscriberCount = (SELECT COUNT(*) FROM [dbo].[mp_LetterSubscriber] WHERE LetterInfoGuid = @LetterInfoGuid)
WHERE LetterInfoGuid = @LetterInfoGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_SelectOne]    Script Date: 01/09/2008 13:28:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_SelectOne]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS


SELECT
		[LetterInfoGuid],
		[SiteGuid],
		[Title],
		[Description],
		[AvailableToRoles],
		[Enabled],
		[AllowUserFeedback],
		[AllowAnonFeedback],
		[FromAddress],
		[FromName],
		[ReplyToAddress],
		[SendMode],
		[EnableViewAsWebPage],
		[EnableSendLog],
		[RolesThatCanEdit],
		[RolesThatCanApprove],
		[RolesThatCanSend],
		[SubscriberCount],
		[CreatedUTC],
		[CreatedBy],
		[LastModUTC],
		[LastModBy]
		
FROM
		[dbo].[mp_LetterInfo]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterInfo_SelectAll]    Script Date: 01/09/2008 13:28:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterInfo_SelectAll]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@SiteGuid	uniqueidentifier

AS


SELECT
		[LetterInfoGuid],
		[SiteGuid],
		[Title],
		[Description],
		[AvailableToRoles],
		[Enabled],
		[AllowUserFeedback],
		[AllowAnonFeedback],
		[FromAddress],
		[FromName],
		[ReplyToAddress],
		[SendMode],
		[EnableViewAsWebPage],
		[EnableSendLog],
		[RolesThatCanEdit],
		[RolesThatCanApprove],
		[RolesThatCanSend],
		[CreatedUTC],
		[CreatedBy],
		[LastModUTC],
		[LastModBy],
		[SubscriberCount]
		
FROM
		[dbo].[mp_LetterInfo]

WHERE
		[SiteGuid] = @SiteGuid

ORDER BY	[Title]
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_SelectByLetter]    Script Date: 01/09/2008 13:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_SelectByLetter]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS

SELECT
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[UseHtml],
		ls.[BeginUTC],
		u.[Email],
		u.[Name]
		
FROM
		[dbo].[mp_LetterSubscriber] ls

JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_SelectByUser]    Script Date: 01/09/2008 13:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_SelectByUser]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@UserGuid uniqueidentifier

AS


SELECT
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[UseHtml],
		ls.[BeginUTC],
		u.[Email],
		u.[Name]
		
FROM
		[dbo].[mp_LetterSubscriber] ls

JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[UserGuid] = @UserGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_SelectOne]    Script Date: 01/09/2008 13:28:17 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_SelectOne]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS


SELECT
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[UseHtml],
		ls.[BeginUTC],
		u.[Email],
		u.[Name]
		
FROM
		[dbo].[mp_LetterSubscriber] ls

JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND ls.[UserGuid] = @UserGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_Delete]    Script Date: 01/09/2008 13:28:16 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_Delete]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS

DELETE
		
FROM
		[dbo].[mp_LetterSubscriber]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid
		AND [UserGuid] = @UserGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_CountByLetter]    Script Date: 01/09/2008 13:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_CountByLetter]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier

AS


SELECT Count(*)
		
FROM
		[dbo].[mp_LetterSubscriber]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriber_Insert]    Script Date: 01/09/2008 13:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriber_Insert]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@UseHtml bit,
@BeginUTC datetime

	
AS

INSERT INTO 	[dbo].[mp_LetterSubscriber] 
(
				[LetterInfoGuid],
				[UserGuid],
				[UseHtml],
				[BeginUTC]
) 

VALUES 
(
				@LetterInfoGuid,
				@UserGuid,
				@UseHtml,
				@BeginUTC
				
)
GO
/****** Object:  StoredProcedure [dbo].[mp_LetterSubscriberHx_Insert]    Script Date: 01/09/2008 13:28:19 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscriberHx_Insert]

/*
Author:   			
Created: 			9/22/2007
Last Modified: 		9/22/2007
*/

@LetterInfoGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@UseHtml bit,
@BeginUTC datetime,
@EndUTC datetime

	
AS

INSERT INTO 	[dbo].[mp_LetterSubscriberHx] 
(
				[LetterInfoGuid],
				[UserGuid],
				[UseHtml],
				[BeginUTC],
				[EndUTC]
) 

VALUES 
(
				@LetterInfoGuid,
				@UserGuid,
				@UseHtml,
				@BeginUTC,
				@EndUTC
				
)
SELECT @@IDENTITY
GO
