SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_FriendlyUrls_DeleteByPageGuid]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_FriendlyUrls_DeleteByPageGuid]

/*
Author:   			
Created: 			2008-05-15
Last Modified: 		2008-05-15

*/

@PageGuid	uniqueidentifier

AS

DELETE FROM [dbo].[mp_FriendlyUrls]
WHERE
	[PageGuid] = @PageGuid
' 
END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_Blog_SelectForSiteMap]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_Blog_SelectForSiteMap]

/*
Author:		
Created:	2008-05-15
Last Modified:	2008-05-15

*/
    
@CurrentUtcDateTime datetime

AS


SELECT		
			ItemUrl,
			LastModUtc
			

FROM        		mp_Blogs 

WHERE
    			StartDate < @CurrentUtcDateTime
				AND IncludeInFeed = 1
				AND ItemUrl <> ''''
				AND ItemUrl IS NOT NULL

ORDER BY
   			StartDate DESC

' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_Blog_SelectOne]

/*
Author:			
Last Modified:		7/1/2005

*/

    
@ItemID int

AS

SELECT		b.*,
			'NextPost' = (SELECT TOP 1 b2.ItemUrl
							FROM mp_Blogs b2
							WHERE b2.StartDate > b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
							ORDER BY b2.StartDate),
			'NextPostTitle' = (SELECT TOP 1 b2.Title
							FROM mp_Blogs b2
							WHERE b2.StartDate > b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
							ORDER BY b2.StartDate),
			'PreviousPost' = (SELECT TOP 1 b2.ItemUrl
							FROM mp_Blogs b2
							WHERE b2.StartDate < b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
							ORDER BY b2.StartDate DESC),
			'PreviousPostTitle' = (SELECT TOP 1 b2.Title
							FROM mp_Blogs b2
							WHERE b2.StartDate < b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
				ORDER BY b2.StartDate DESC)
			
			
FROM			mp_Blogs b


WHERE   		(b.ItemID = @ItemID)

GO




