SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_PageModules_DeleteByPage]
(
    @PageID int
)
AS

DELETE FROM
    mp_PageModules

WHERE
    PageID = @PageID

GO

CREATE NONCLUSTERED INDEX [idxUserUGuid] ON [dbo].[mp_Users] 
(
	[UserGuid] ASC
) ON [PRIMARY]
GO


CREATE NONCLUSTERED INDEX [idxULocateU] ON [dbo].[mp_UserLocation] 
(
	[UserGuid] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxULocateIP] ON [dbo].[mp_UserLocation] 
(
	[IPAddress] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxSitesGuid] ON [dbo].[mp_Sites] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxModulesGuid] ON [dbo].[mp_Modules] 
(
	[Guid] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxModulesFGuid] ON [dbo].[mp_Modules] 
(
	[FeatureGuid] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxModulesMDef] ON [dbo].[mp_Modules] 
(
	[ModuleDefID] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxModulesSID] ON [dbo].[mp_Modules] 
(
	[SiteID] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idxModuleDefGuid] ON [dbo].[mp_ModuleDefinitions] 
(
	[Guid] ASC
) ON [PRIMARY]
GO

