INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyStreetAddress2','','Settings', 100)

GO


ALTER PROCEDURE [dbo].[mp_Users_SelectLockedPage]

/*
Author:			
Created:		2010-06-02
Last Modified:	2012-07-10

*/

@SiteID			int,
@PageNumber 			int,
@PageSize 			int



AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 BEGIN
	    INSERT INTO 	#PageIndexForUsers (UserID)

	    SELECT 	UserID
		FROM 		[dbo].mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND IsLockedOut = 1
				
		ORDER BY 	[Name]

END


SELECT		u.*

FROM			[dbo].mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			u.SiteID = @SiteID
			AND p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers



GO

ALTER PROCEDURE [dbo].[mp_LetterInfoSelectUsersNotSubscribed]

/*
Author:   			
Created: 			2012-05-25
Last Modified: 		2012-07-11
*/

@SiteGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@ExcludeIfAnyUnsubscribeHx bit


AS


SELECT	TOP 1000
	u.UserID,
	u.UserGuid,
	u.Email
		
FROM
	[dbo].[mp_Users] u
		
		
WHERE
		u.SiteGuid = @SiteGuid
		AND u.IsDeleted = 0
		AND u.ProfileApproved = 1
		AND u.IsLockedOut = 0
		AND (u.RegisterConfirmGuid IS NULL OR u.RegisterConfirmGuid = '00000000-0000-0000-0000-000000000000')
		AND u.UserGuid NOT IN 
		(SELECT ls.UserGuid 
		FROM [dbo].[mp_LetterSubscribe] ls
		WHERE ls.LetterInfoGuid = @LetterInfoGuid
		)
		AND u.UserGuid NOT IN 
		(SELECT lsx.UserGuid 
		FROM [dbo].[mp_LetterSubscribeHx] lsx
		WHERE ((@ExcludeIfAnyUnsubscribeHx = 1) OR (lsx.LetterInfoGuid = @LetterInfoGuid))
		)
		
ORDER BY u.UserID

GO


CREATE PROCEDURE [dbo].[mp_LetterInfoCountUsersNotSubscribed]

/*
Author:   			
Created: 			2012-07-13
Last Modified: 		2012-07-13
*/

@SiteGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@ExcludeIfAnyUnsubscribeHx bit


AS


SELECT	COUNT(*)
		
FROM
	[dbo].[mp_Users] u
		
		
WHERE
		u.SiteGuid = @SiteGuid
		AND u.IsDeleted = 0
		AND u.ProfileApproved = 1
		AND u.IsLockedOut = 0
		AND (u.RegisterConfirmGuid IS NULL OR u.RegisterConfirmGuid = '00000000-0000-0000-0000-000000000000')
		AND u.UserGuid NOT IN 
		(SELECT ls.UserGuid 
		FROM [dbo].[mp_LetterSubscribe] ls
		WHERE ls.LetterInfoGuid = @LetterInfoGuid
		)
		AND u.UserGuid NOT IN 
		(SELECT lsx.UserGuid 
		FROM [dbo].[mp_LetterSubscribeHx] lsx
		WHERE ((@ExcludeIfAnyUnsubscribeHx = 1) OR (lsx.LetterInfoGuid = @LetterInfoGuid))
		)
		


GO

