SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_ModuleSettings_SyncDefinitions]

AS


UPDATE ms
SET ms.RegexValidationExpression = mds.RegexValidationExpression,
ms.ControlSrc = mds.ControlSrc,
ms.ControlType = mds.ControlType,
ms.SortOrder = mds.SortOrder,
ms.HelpKey = mds.HelpKey
FROM mp_ModuleSettings ms
JOIN mp_Modules m
ON ms.ModuleID = m.ModuleID
JOIN mp_ModuleDefinitionSettings mds
ON ms.SettingName = mds.SettingName
AND m.ModuleDefID = mds.ModuleDefID

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Pages_SelectChildPages]

/*
Author:				
Created:			2005-02-20
Last Modified:		2010-02-10

*/

@SiteID int,
@ParentID		int


AS


SELECT	*

FROM		mp_Pages

WHERE	ParentID = @ParentID
		AND SiteID = @SiteID

ORDER BY PageOrder

GO

