
CREATE PROCEDURE [dbo].[mp_Modules_CountByFeature]

/*
Author:   			
Created: 			2011-09-20
Last Modified: 		2011-09-20
*/


@ModuleDefID	int

AS

SELECT COUNT(*) 
FROM [dbo].[mp_Modules] 


WHERE 			ModuleDefID = @ModuleDefID


GO

CREATE PROCEDURE [dbo].[mp_ModuleDefinitionSettings_DeleteByFeature]

    
@ModuleDefID int

AS
DELETE FROM
    mp_ModuleDefinitionSettings

WHERE
    ModuleDefID = @ModuleDefID


GO

CREATE PROCEDURE [dbo].[mp_Modules_CountByFeatureBySite]

/*
Author:   			
Created: 			2011-09-20
Last Modified: 		2011-09-20
*/


@ModuleDefID	int

AS

SELECT 

s.SiteID,
s.SiteName,
COUNT(m.ModuleID) 

FROM [dbo].[mp_Modules] m

JOIN mp_Sites s
ON m.SiteID = s.SiteID


WHERE 	m.ModuleDefID = @ModuleDefID

GROUP BY s.SiteID, s.SiteName


GO


