INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('WebSnaprKey','','APIKeys', 100)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_ContentTemplate](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ImageFileName] [nvarchar](255) NULL,
	[Description] [ntext] NULL,
	[Body] [ntext] NOT NULL,
	[AllowedRoles] [ntext] NULL,
	[CreatedByUser] [uniqueidentifier] NOT NULL,
	[LastModUser] [uniqueidentifier] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_ContentTemplate] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentTemplate] ON [dbo].[mp_ContentTemplate] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentTemplate_1] ON [dbo].[mp_ContentTemplate] 
(
	[Title] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentTemplate_SelectPage]

-- Author:   			
-- Created: 			2009-06-01
-- Last Modified: 		2009-06-01

@SiteGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
[Guid]
)

SELECT
		[Guid]
		
FROM
		[dbo].[mp_ContentTemplate]
		
WHERE
		SiteGuid = @SiteGuid

ORDER BY
		Title

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_ContentTemplate] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentTemplate_Delete]

/*
Author:   			
Created: 			2009-06-01
Last Modified: 		2009-06-01
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentTemplate]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentTemplate_GetCount]

/*
Author:   			
Created: 			2009-06-01
Last Modified: 		2009-06-01
*/

@SiteGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[mp_ContentTemplate]
WHERE SiteGuid = @SiteGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentTemplate_SelectOne]

/*
Author:   			
Created: 			2009-06-01
Last Modified: 		2009-06-01
*/

@Guid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentTemplate]
		
WHERE
		[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentTemplate_SelectAll]

/*
Author:   			
Created: 			2009-06-01
Last Modified: 		2009-06-01
*/

@SiteGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentTemplate]
		
WHERE
		[SiteGuid] = @SiteGuid

ORDER BY Title
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentTemplate_Insert]

/*
Author:   			
Created: 			2009-06-01
Last Modified: 		2009-06-01
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@Title nvarchar(255),
@ImageFileName nvarchar(255),
@Description ntext,
@Body ntext,
@AllowedRoles ntext,
@CreatedByUser uniqueidentifier,
@LastModUser uniqueidentifier,
@CreatedUtc datetime,
@LastModUtc datetime

	
AS

INSERT INTO 	[dbo].[mp_ContentTemplate] 
(
				[Guid],
				[SiteGuid],
				[Title],
				[ImageFileName],
				[Description],
				[Body],
				[AllowedRoles],
				[CreatedByUser],
				[LastModUser],
				[CreatedUtc],
				[LastModUtc]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@Title,
				@ImageFileName,
				@Description,
				@Body,
				@AllowedRoles,
				@CreatedByUser,
				@LastModUser,
				@CreatedUtc,
				@LastModUtc
				
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentTemplate_Update]

/*
Author:   			
Created: 			2009-06-01
Last Modified: 		2009-06-01
*/
	
@Guid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@Title nvarchar(255), 
@ImageFileName nvarchar(255), 
@Description ntext, 
@Body ntext, 
@AllowedRoles ntext, 
@LastModUser uniqueidentifier, 
@LastModUtc datetime 


AS

UPDATE 		[dbo].[mp_ContentTemplate] 

SET
			[SiteGuid] = @SiteGuid,
			[Title] = @Title,
			[ImageFileName] = @ImageFileName,
			[Description] = @Description,
			[Body] = @Body,
			[AllowedRoles] = @AllowedRoles,
			[LastModUser] = @LastModUser,
			[LastModUtc] = @LastModUtc
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_ContentStyle](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Element] [nvarchar](50) NOT NULL,
	[CssClass] [nvarchar](50) NOT NULL,
	[SkinName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContentStyle] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentStyle] ON [dbo].[mp_ContentStyle] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentStyle_1] ON [dbo].[mp_ContentStyle] 
(
	[Name] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentStyle_2] ON [dbo].[mp_ContentStyle] 
(
	[SkinName] ASC
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[mp_ContentStyle] ADD  CONSTRAINT [DF_mp_ContentStyle_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SelectPage]

-- Author:   			
-- Created: 			2009-06-02
-- Last Modified: 		2009-06-02

@SiteGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int

SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		[Guid]
		
FROM
		[dbo].[mp_ContentStyle]
		
WHERE
	SiteGuid = @SiteGuid

ORDER BY
	[Name]

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_ContentStyle] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SelectPageBySkin]

-- Author:   			
-- Created: 			2009-06-02
-- Last Modified: 		2009-06-02

@SiteGuid uniqueidentifier,
@SkinName nvarchar(100),
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int

SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		[Guid]
		
FROM
		[dbo].[mp_ContentStyle]
		
WHERE
	SiteGuid = @SiteGuid
	AND SkinName = @SkinName

ORDER BY
	[Name]

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_ContentStyle] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SetActivation]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/
	

@SiteGuid uniqueidentifier, 
@SkinName nvarchar(100), 
@IsActive bit


AS

UPDATE 		[dbo].[mp_ContentStyle] 

SET
			
			[IsActive] = @IsActive
			
WHERE
			[SiteGuid] = @SiteGuid
			AND SkinName = @SkinName
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_Insert]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@Name nvarchar(100),
@Element nvarchar(50),
@CssClass nvarchar(50),
@SkinName nvarchar(100),
@IsActive bit,
@CreatedUtc datetime,
@LastModUtc datetime,
@CreatedBy uniqueidentifier,
@LastModBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_ContentStyle] 
(
				[Guid],
				[SiteGuid],
				[Name],
				[Element],
				[CssClass],
				[SkinName],
				[IsActive],
				[CreatedUtc],
				[LastModUtc],
				[CreatedBy],
				[LastModBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@Name,
				@Element,
				@CssClass,
				@SkinName,
				@IsActive,
				@CreatedUtc,
				@LastModUtc,
				@CreatedBy,
				@LastModBy
				
)
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_Update]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/
	
@Guid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@Name nvarchar(100), 
@Element nvarchar(50), 
@CssClass nvarchar(50), 
@SkinName nvarchar(100), 
@IsActive bit, 
@LastModUtc datetime, 
@LastModBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_ContentStyle] 

SET
			[SiteGuid] = @SiteGuid,
			[Name] = @Name,
			[Element] = @Element,
			[CssClass] = @CssClass,
			[SkinName] = @SkinName,
			[IsActive] = @IsActive,
			[LastModUtc] = @LastModUtc,
			[LastModBy] = @LastModBy
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_Delete]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentStyle]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_DeleteBySite]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentStyle]
WHERE
	[SiteGuid] = @SiteGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_DeleteBySkin]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier,
@SkinName nvarchar(100)

AS

DELETE FROM [dbo].[mp_ContentStyle]
WHERE
	SiteGuid = @SiteGuid
	AND [SkinName] = @SkinName
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SelectOne]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@Guid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentStyle]
		
WHERE
		[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SelectAll]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentStyle]
		
WHERE
		[SiteGuid] = @SiteGuid

ORDER BY [Name]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SelectAllActive]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentStyle]
		
WHERE
		[SiteGuid] = @SiteGuid
		AND IsActive = 1

ORDER BY [Name]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SelectAllBySkin]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier,
@SkinName nvarchar(100)

AS


SELECT *
		
FROM
		[dbo].[mp_ContentStyle]
		
WHERE
		[SiteGuid] = @SiteGuid
		
		AND SkinName = @SkinName

ORDER BY [Name]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_SelectAllActiveBySkin]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier,
@SkinName nvarchar(100)

AS


SELECT *
		
FROM
		[dbo].[mp_ContentStyle]
		
WHERE
		[SiteGuid] = @SiteGuid
		
		AND SkinName = @SkinName
		AND IsActive = 1

ORDER BY [Name]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_GetCount]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[mp_ContentStyle]
WHERE SiteGuid = @SiteGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentStyle_GetCountBySkin]

/*
Author:   			
Created: 			2009-06-02
Last Modified: 		2009-06-02
*/

@SiteGuid uniqueidentifier,
@SkinName nvarchar(100)

AS

SELECT COUNT(*) 
FROM [dbo].[mp_ContentStyle]
WHERE SiteGuid = @SiteGuid
AND SkinName = @SkinName
GO


