DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlMultipleItemsSetting'
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlMultipleItemsSetting'

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlShowDateSetting'
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlShowDateSetting'

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlUseExcerptSetting'
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlUseExcerptSetting'

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlUseMoreLinkSetting'
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlUseMoreLinkSetting'

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlMoreLinkNewWindowSetting'
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlMoreLinkNewWindowSetting'

GO



SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_ContentHistory_SelectOne]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-04-07
*/

@Guid uniqueidentifier

AS


SELECT ch.*,
		u.[Name],
		u.LoginName,
		u.Email
		
FROM
		[dbo].[mp_ContentHistory] ch
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON
		u.UserGuid = ch.UserGuid
		
WHERE
		ch.[Guid] = @Guid

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_ContentHistory_SelectByContent]

/*
Author:   			
Created: 			2009-03-31
Last Modified: 		2009-03-31
*/

@ContentGuid uniqueidentifier

AS


SELECT ch.*,
		u.[Name],
		u.LoginName,
		u.Email
		
FROM
		[dbo].[mp_ContentHistory] ch
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON
		u.UserGuid = ch.UserGuid
		
WHERE
		ch.[ContentGuid] = @ContentGuid
		
ORDER BY
		HistoryUtc DESC

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_ContentHistory_SelectPage]

-- Author:   			
-- Created: 			2009-03-31
-- Last Modified: 		2009-04-07

@ContentGuid	uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		[Guid]
		
FROM
		[dbo].[mp_ContentHistory]
		
WHERE
		ContentGuid = @ContentGuid

ORDER BY
		HistoryUtc DESC

END


SELECT
		t1.*,
		u.[Name],
		u.LoginName,
		u.Email
		
FROM
		[dbo].[mp_ContentHistory] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON
		u.UserGuid = t1.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Users_AccountClearLockout]

@UserGuid		uniqueidentifier


AS

UPDATE	mp_Users
SET		IsLockedOut = 0,
		FailedPasswordAttemptCount = 0,
		FailedPwdAnswerAttemptCount = 0
		

WHERE	UserGuid = @UserGuid

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Users_UpdateLastLoginTime]


@UserID	uniqueidentifier,
@LastLoginTime	datetime


AS

UPDATE mp_Users WITH (ROWLOCK)
SET LastLoginDate = @LastLoginTime,
FailedPasswordAttemptCount = 0,
		FailedPwdAnswerAttemptCount = 0
		
WHERE UserGuid = @UserID

GO

