
ALTER TABLE [dbo].mp_ModuleDefinitions ADD
	IsCacheable bit NULL 
	
ALTER TABLE [dbo].mp_ModuleDefinitions ADD
	IsSearchable bit NULL 
	
ALTER TABLE [dbo].mp_ModuleDefinitions ADD
	SearchListName nvarchar(255) NULL 
	
	
GO

UPDATE [dbo].mp_ModuleDefinitions 
SET IsCacheable = 0, IsSearchable = 0, SearchListName = FeatureName

GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_ModuleDefinitions_Insert]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2009-05-23

*/

@SiteID int,
@FeatureName nvarchar(255),
@ControlSrc nvarchar(255),
@SortOrder int,
@IsAdmin bit,
@Icon	nvarchar(255),
@DefaultCacheTime int,
@FeatureGuid uniqueidentifier,
@ResourceFile nvarchar(255),
@IsCacheable bit,
@IsSearchable bit,
@SearchListName nvarchar(255)
	
AS
DECLARE @ModuleDefID int

INSERT INTO 	[dbo].[mp_ModuleDefinitions] 
(
				[Guid],
				[FeatureName],
				[ControlSrc],
				[SortOrder],
				DefaultCacheTime,
				Icon,
				[IsAdmin],
				[ResourceFile],
				IsCacheable,
				IsSearchable,
				SearchListName
) 

VALUES 
(
				@FeatureGuid,
				@FeatureName,
				@ControlSrc,
				@SortOrder,
				@DefaultCacheTime,
				@Icon,
				@IsAdmin,
				@ResourceFile,
				@IsCacheable,
				@IsSearchable,
				@SearchListName
				
)


SET @ModuleDefID =  @@IDENTITY 

IF @SiteID > -1
BEGIN
DECLARE @SiteGuid uniqueidentifier
SET @SiteGuid = (SELECT TOP 1 SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)
Exec mp_SiteModuleDefinitions_Insert @SiteGuid, @FeatureGuid

END

SELECT @ModuleDefID

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_ModuleDefinitions_Update]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2009-05-23

*/
	
@ModuleDefID int, 
@FeatureName nvarchar(255), 
@ControlSrc nvarchar(255), 
@SortOrder int, 
@IsAdmin bit,
@Icon	nvarchar(255),
@DefaultCacheTime int,
@ResourceFile nvarchar(255),
@IsCacheable bit,
@IsSearchable bit,
@SearchListName nvarchar(255)


AS
UPDATE 		[dbo].[mp_ModuleDefinitions] 

SET

			[FeatureName] = @FeatureName,
			[ControlSrc] = @ControlSrc,
			[SortOrder] = @SortOrder,
			DefaultCacheTime = @DefaultCacheTime,
			Icon = @Icon,
			[IsAdmin] = @IsAdmin,
			[ResourceFile] = @ResourceFile,
			IsCacheable = @IsCacheable,
			IsSearchable = @IsSearchable,
			SearchListName = @SearchListName
			
WHERE
			[ModuleDefID] = @ModuleDefID

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[mp_ModuleDefinitions_SelectSearchableModules]

    
@SiteID  int


AS

SELECT   		md.*

FROM			mp_ModuleDefinitions md

JOIN			mp_SiteModuleDefinitions smd
ON			smd.ModuleDefID = md.ModuleDefID
    
WHERE   		smd.SiteID = @SiteID
			AND md.IsAdmin = 0
			AND md.IsSearchable = 1

ORDER BY 		md.SortOrder, md.SearchListName

GO

