DROP INDEX [dbo].mp_FriendlyUrls.IX_mp_FriendlyUrls

ALTER TABLE [dbo].mp_FriendlyUrls 
ALTER COLUMN FriendlyUrl nvarchar(255)

GO

ALTER TABLE [dbo].mp_FriendlyUrls 
ALTER COLUMN RealUrl nvarchar(255)

GO

CREATE NONCLUSTERED INDEX [IX_mp_FriendlyUrls] ON [dbo].[mp_FriendlyUrls] 
(
	[FriendlyUrl] ASC
) ON [PRIMARY]
GO



SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_FriendlyUrls_Insert]

/*
Author:   			
Created: 			2005-06-01
Last Modified: 		2009-06-26


*/

@ItemGuid	uniqueidentifier,
@SiteGuid	uniqueidentifier,
@PageGuid	uniqueidentifier,
@SiteID int,
@FriendlyUrl nvarchar(255),
@RealUrl nvarchar(255),
@IsPattern bit

	
AS

INSERT INTO 	[dbo].[mp_FriendlyUrls] 
(
				ItemGuid,
				SiteGuid,
				PageGuid,
				[SiteID],
				[FriendlyUrl],
				[RealUrl],
				[IsPattern]
) 

VALUES 
(
				@ItemGuid,
				@SiteGuid,
				@PageGuid,
				@SiteID,
				@FriendlyUrl,
				@RealUrl,
				@IsPattern
				
)
SELECT @@IDENTITY

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_FriendlyUrls_Update]

/*
Author:   			
Created: 			2005-06-01
Last Modified: 		2009-06-26


*/
	
@UrlID int, 
@SiteID int, 
@FriendlyUrl nvarchar(255), 
@RealUrl nvarchar(255), 
@IsPattern bit ,
@PageGuid	uniqueidentifier

AS

UPDATE 		[dbo].[mp_FriendlyUrls] 

SET
			[SiteID] = @SiteID,
			[FriendlyUrl] = @FriendlyUrl,
			[RealUrl] = @RealUrl,
			[IsPattern] = @IsPattern,
			PageGuid = @PageGuid
			
WHERE
			[UrlID] = @UrlID

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_FriendlyUrls_SelectBySiteUrl]

/*
Author:   			
Created: 			2006-09-10
Last Modified: 		2009-06-26
*/

@SiteID				int,
@FriendlyUrl		nvarchar(255)

AS
SELECT *
		
FROM
		[dbo].[mp_FriendlyUrls] u


WHERE	u.SiteID = @SiteID
		AND u.FriendlyUrl = @FriendlyUrl

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_FriendlyUrls_SelectOneByUrl]

/*
Author:   			
Created: 			2005-06-15
Last Modified: 		2009-06-26
*/

@HostName		varchar(100),
@FriendlyUrl		nvarchar(255)

AS

SELECT TOP 1
		u.*
		
FROM
		[dbo].[mp_FriendlyUrls] u



WHERE	u.FriendlyUrl = @FriendlyUrl
		AND u.SiteID = COALESCE(
					(SELECT TOP 1 SiteID From mp_SiteHosts WHERE HostName = @HostName),

					(SELECT TOP 1 SiteID From mp_Sites ORDER BY SiteID )
					)

GO

