ALTER Procedure [dbo].[mp_Users_LoginByEmail]

   
@SiteID	int, 
@Email    	nvarchar(100), 
@Password 	nvarchar(1000), 
@UserName 	nvarchar(100) OUTPUT

AS

SELECT
    @UserName = Name

FROM
    mp_Users

WHERE
		SiteID = @SiteID
    		AND Email = @Email
  		AND [Pwd] = @Password
  		AND IsDeleted = 0


GO

ALTER Procedure [dbo].[mp_Users_Login]

   
@SiteID	int, 
@LoginName    	nvarchar(50), 
@Password 	nvarchar(1000), 
@UserName 	nvarchar(100) OUTPUT

AS
SELECT
    @UserName = Name

FROM
    mp_Users

WHERE
		SiteID = @SiteID
    		AND LoginName = @LoginName
  		AND [Pwd] = @Password
  		AND IsDeleted = 0


GO

ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearByModule]

/*
Author:   			
Created: 			2010-06-20
Last Modified: 		2011-04-17
*/

@ModuleGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[ModuleGuid] = @ModuleGuid

GROUP BY YEAR(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc


GO

ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthByItem]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2011-04-17
*/

@ItemGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[ItemGuid] = @ItemGuid

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc


GO

ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthByModule]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2011-04-17
*/

@ModuleGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[ModuleGuid] = @ModuleGuid

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc


GO

ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthBySite]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2011-04-17
*/

@SiteGuid uniqueidentifier

AS


SELECT 
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[SiteGuid] = @SiteGuid

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc


GO

ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthByUser]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2011-04-17
*/

@UserGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[UserGuid] = @UserGuid

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc


GO

ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesGroupedByModule]

/*
Author:   			
Created: 			2009-02-11
Last Modified: 		2009-02-11
*/

@SiteGuid uniqueidentifier

AS


SELECT 
ModuleGuid,
ModuleTitle,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[SiteGuid] = @SiteGuid

GROUP BY ModuleGuid,ModuleTitle
ORDER BY SUM(SubTotal) desc


GO

ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesGroupedByUser]

/*
Author:   			
Created: 			2009-02-14
Last Modified: 		2011-04-17
*/

@SiteGuid uniqueidentifier

AS


SELECT TOP 20
c.UserGuid,
u.UserID,
COALESCE(u.[Name], 'deleted user') AS Name,
u.LoginName,
u.Email,

	SUM(c.SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport] c

LEFT OUTER JOIN [dbo].[mp_Users] u
ON	c.UserGuid = u.UserGuid
		
WHERE
		c.[SiteGuid] = @SiteGuid

GROUP BY 
c.UserGuid,
u.UserID,
u.[Name],
u.LoginName,
u.Email

ORDER BY SUM(SubTotal) desc


GO



