SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_SavedQuery](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Statement] [ntext] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_SavedQuery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_SavedQuery_Delete]

/*
Author:   			
Created: 			2009-12-24
Last Modified: 		2009-12-24
*/

@Id uniqueidentifier

AS

DELETE FROM [dbo].[mp_SavedQuery]
WHERE
	[Id] = @Id
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_SavedQuery_SelectOne]

/*
Author:   			
Created: 			2009-12-24
Last Modified: 		2009-12-24
*/

@Id uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_SavedQuery]
		
WHERE
		[Id] = @Id
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_SavedQuery_SelectAll]

/*
Author:   			
Created: 			2009-12-24
Last Modified: 		2009-12-24
*/

AS


SELECT	*
		
FROM
		[dbo].[mp_SavedQuery]
ORDER BY
	[Name]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_SavedQuery_SelectOneByName]

/*
Author:   			
Created: 			2009-12-24
Last Modified: 		2009-12-24
*/

@Name nvarchar(50)

AS

SELECT	*
		
FROM
		[dbo].[mp_SavedQuery]
WHERE
	[Name] = @Name
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_SavedQuery_Insert]

/*
Author:   			
Created: 			2009-12-24
Last Modified: 		2009-12-24
*/

@Id uniqueidentifier,
@Name nvarchar(50),
@Statement ntext,
@CreatedUtc datetime,
@CreatedBy uniqueidentifier,
@LastModUtc datetime,
@LastModBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_SavedQuery] 
(
				[Id],
				[Name],
				[Statement],
				[CreatedUtc],
				[CreatedBy],
				[LastModUtc],
				[LastModBy]
) 

VALUES 
(
				@Id,
				@Name,
				@Statement,
				@CreatedUtc,
				@CreatedBy,
				@LastModUtc,
				@LastModBy
				
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_SavedQuery_Update]

/*
Author:   			
Created: 			2009-12-24
Last Modified: 		2009-12-24
*/
	
@Id uniqueidentifier, 
@Statement ntext, 
@LastModUtc datetime, 
@LastModBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_SavedQuery] 

SET
	
			[Statement] = @Statement,
			[LastModUtc] = @LastModUtc,
			[LastModBy] = @LastModBy
			
WHERE
			[Id] = @Id
GO





SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[mp_Modules_SelectByPage]

/*
Author:				
Created:			2004-12-26
Last Modified:		2009-12-24

*/

@PageID		int,
@CurrentTime dateTime


AS
SELECT  		m.*,
				pm.PageID,
				pm.ModuleOrder,
				pm.PaneName,
				pm.PublishBeginDate,
				pm.PublishEndDate,
				md.ControlSrc,
				md.FeatureName
    
FROM
    			mp_Modules m
  
INNER JOIN
    			mp_ModuleDefinitions md
ON 			m.ModuleDefID = md.ModuleDefID

INNER JOIN		mp_PageModules pm
ON				m.ModuleID = pm.ModuleID
    
WHERE   
    			pm.PageID = @PageID
				AND pm.PublishBeginDate <= @CurrentTime
				AND	(
					(pm.PublishEndDate IS NULL)
					OR
					(pm.PublishEndDate > @CurrentTime)
					)
		
    
ORDER BY
    			pm.ModuleOrder
    			



GO

