


SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Users_CountForSearch]

/*
Author:			
Created:		2009-05-03
Last Modified:	2010-04-08

*/

@SiteID		int,
@SearchInput 		nvarchar(50)

AS

SELECT  	COUNT(*)

FROM		mp_Users

WHERE	SiteID = @SiteID
AND ProfileApproved = 1
AND DisplayInMemberList = 1  
AND IsDeleted = 0
AND (
		([Name]  LIKE '%' + @SearchInput + '%')
		OR ([LoginName]  LIKE '%' + @SearchInput + '%')
	)



GO

ALTER PROCEDURE [dbo].[mp_Users_SelectByRegisterGuid]

    
@SiteID	int,
@RegisterConfirmGuid		uniqueidentifier


AS

SELECT	*

FROM
    [dbo].mp_Users

WHERE
	SiteID = @SiteID
   	AND RegisterConfirmGuid = @RegisterConfirmGuid


GO



