SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Sites_UpdateRelatedSiteSecurity]

/*
Author:			
Created			2009-09-16
Last Modified:	2009-09-16

*/

@SiteID           			int,
@AllowNewRegistration bit,
@UseSecureRegistration bit,
@UseLdapAuth				bit,
@AutoCreateLdapUserOnFirstLogin	bit,
@LdapServer				nvarchar(255),
@LdapDomain				nvarchar(255),
@LdapPort				int,
@LdapRootDN				nvarchar(255),
@LdapUserDNKey			nvarchar(10),
@AllowUserFullNameChange		bit,
@UseEmailForLogin			bit,
@AllowOpenIDAuth			bit,
@AllowWindowsLiveAuth		bit,
@AllowPasswordRetrieval bit,
@AllowPasswordReset	bit,
@RequiresQuestionAndAnswer	bit,
@MaxInvalidPasswordAttempts	int,
@PasswordAttemptWindowMinutes int,
@RequiresUniqueEmail	bit,
@PasswordFormat	int,
@MinRequiredPasswordLength	int,
@MinReqNonAlphaChars	int,
@PwdStrengthRegex	ntext

	
AS
UPDATE	mp_Sites

SET
    
	AllowNewRegistration = @AllowNewRegistration,
	UseSecureRegistration = @UseSecureRegistration,
	UseLdapAuth = @UseLdapAuth,
	AutoCreateLdapUserOnFirstLogin = @AutoCreateLdapUserOnFirstLogin,
	LdapServer = @LdapServer,
	LdapPort = @LdapPort,
    LdapDomain = @LdapDomain,
	LdapRootDN = @LdapRootDN,
	LdapUserDNKey = @LdapUserDNKey,
	AllowUserFullNameChange = @AllowUserFullNameChange,
	UseEmailForLogin = @UseEmailForLogin,
	AllowOpenIDAuth = @AllowOpenIDAuth,
	AllowWindowsLiveAuth = @AllowWindowsLiveAuth,
	AllowPasswordRetrieval = @AllowPasswordRetrieval,
	AllowPasswordReset = @AllowPasswordReset,
	RequiresQuestionAndAnswer = @RequiresQuestionAndAnswer,
	MaxInvalidPasswordAttempts = @MaxInvalidPasswordAttempts,
	PasswordAttemptWindowMinutes = @PasswordAttemptWindowMinutes,
	RequiresUniqueEmail = @RequiresUniqueEmail,
	PasswordFormat = @PasswordFormat,
	MinRequiredPasswordLength = @MinRequiredPasswordLength,
	MinReqNonAlphaChars = @MinReqNonAlphaChars,
	PwdStrengthRegex = @PwdStrengthRegex
	

WHERE
    	SiteID <> @SiteID

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Sites_SyncRelatedSitesWinLive]

/*
Author:			
Created:		2009-09-16
Last Modified:	2009-09-16

*/

@SiteID           			int,
@WindowsLiveAppID				nvarchar(255),
@WindowsLiveKey				nvarchar(255)

AS
UPDATE	mp_Sites

SET
    
	WindowsLiveAppID = @WindowsLiveAppID,
	WindowsLiveKey = @WindowsLiveKey

WHERE
    	SiteID <> @SiteID

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_SiteSettingsEx_UpdateRelated]
(
	@SiteID int
	,@KeyName nvarchar(128)
	,@KeyValue ntext
	
)
AS
	
	
update mp_SiteSettingsEx set KeyValue = @KeyValue 
where SiteID <> @SiteID 
and [KeyName] = @KeyName 
	


GO

