SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_ContentRating_SelectPageByContent]

-- Author:   			
-- Created: 			2008-10-06
-- Last Modified: 		2008-10-06

@ContentGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	[IndexID] int IDENTITY (1, 1) NOT NULL,
	[ItemGuid] UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ([ItemGuid])

SELECT
		[RowGuid]
		
FROM
		[dbo].[mp_ContentRating]
		
WHERE
		[ContentGuid] = @ContentGuid

ORDER BY CreatedUtc DESC

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_ContentRating] t1

JOIN			#PageIndex t2
ON			
		t1.[RowGuid] = t2.[ItemGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

