INSERT INTO [dbo].[mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('MetaProfile','','Meta', 100)

INSERT INTO [dbo].[mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('NewsletterEditor','TinyMCEProvider','Admin', 100)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_ContentMeta](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Scheme] [nvarchar](255) NOT NULL,
	[LangCode] [nvarchar](10) NULL,
	[Dir] [nvarchar](3) NULL,
	[MetaContent] [ntext] NULL,
	[SortRank] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContentMeta] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentMeta] ON [dbo].[mp_ContentMeta] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentMeta_1] ON [dbo].[mp_ContentMeta] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentMeta_2] ON [dbo].[mp_ContentMeta] 
(
	[ContentGuid] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_Delete]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMeta]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_DeleteBySite]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMeta]
WHERE
	[SiteGuid] = @SiteGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_DeleteByModule]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMeta]
WHERE
	[ModuleGuid] = @ModuleGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_DeleteByContent]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/

@ContentGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMeta]
WHERE
	[ContentGuid] = @ContentGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_SelectOne]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/

@Guid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_ContentMeta]
		
WHERE
		[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_SelectByContent]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/

@ContentGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_ContentMeta]
		
WHERE
		[ContentGuid] = @ContentGuid
		
ORDER BY
	SortRank
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_Insert]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ContentGuid uniqueidentifier,
@Name nvarchar(255),
@Scheme nvarchar(255),
@LangCode nvarchar(10),
@Dir nvarchar(3),
@MetaContent ntext,
@SortRank int,
@CreatedUtc datetime,
@CreatedBy uniqueidentifier,
@LastModUtc datetime,
@LastModBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_ContentMeta] 
(
				[Guid],
				[SiteGuid],
				[ModuleGuid],
				[ContentGuid],
				[Name],
				[Scheme],
				[LangCode],
				[Dir],
				[MetaContent],
				[SortRank],
				[CreatedUtc],
				[CreatedBy],
				[LastModUtc],
				[LastModBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@ModuleGuid,
				@ContentGuid,
				@Name,
				@Scheme,
				@LangCode,
				@Dir,
				@MetaContent,
				@SortRank,
				@CreatedUtc,
				@CreatedBy,
				@LastModUtc,
				@LastModBy
				
)
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_ContentMeta_Update]

/*
Author:   			
Created: 			2009-12-02
Last Modified: 		2009-12-02
*/
	
@Guid uniqueidentifier, 
@Name nvarchar(255), 
@Scheme nvarchar(255), 
@LangCode nvarchar(10), 
@Dir nvarchar(3), 
@MetaContent ntext, 
@SortRank int, 
@LastModUtc datetime, 
@LastModBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_ContentMeta] 

SET
			[Name] = @Name,
			[Scheme] = @Scheme,
			[LangCode] = @LangCode,
			[Dir] = @Dir,
			[MetaContent] = @MetaContent,
			[SortRank] = @SortRank,
			[LastModUtc] = @LastModUtc,
			[LastModBy] = @LastModBy
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[mp_ContentMeta_GetMaxSortOrder]

/*
Author:			
Created:		2009-12-02
Last Modified:	2009-12-02

*/

@ContentGuid uniqueidentifier

AS

SELECT	COALESCE(MAX(SortRank), 1)

FROM		mp_ContentMeta

WHERE	ContentGuid = @ContentGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_ContentMetaLink](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[Rel] [nvarchar](255) NOT NULL,
	[Href] [nvarchar](255) NOT NULL,
	[HrefLang] [nvarchar](10) NULL,
	[Rev] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Media] [nvarchar](50) NULL,
	[SortRank] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContentMetaLink] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentMetaLink] ON [dbo].[mp_ContentMetaLink] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentMetaLink_1] ON [dbo].[mp_ContentMetaLink] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_ContentMetaLink_2] ON [dbo].[mp_ContentMetaLink] 
(
	[ContentGuid] ASC
) ON [PRIMARY]
GO


SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].mp_ContentMetaLink_Delete

/*
Author:   			
Created: 			2009-12-05
Last Modified: 		2009-12-05
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMetaLink]
WHERE
	[Guid] = @Guid
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].mp_ContentMetaLink_DeleteByContent

/*
Author:   			
Created: 			2009-12-05
Last Modified: 		2009-12-05
*/

@ContentGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMetaLink]
WHERE
	[ContentGuid] = @ContentGuid
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].mp_ContentMetaLink_DeleteByModule

/*
Author:   			
Created: 			2009-12-05
Last Modified: 		2009-12-05
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMetaLink]
WHERE
	[ModuleGuid] = @ModuleGuid
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].mp_ContentMetaLink_DeleteBySite

/*
Author:   			
Created: 			2009-12-05
Last Modified: 		2009-12-05
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContentMetaLink]
WHERE
	[SiteGuid] = @SiteGuid
GO


CREATE PROCEDURE [dbo].[mp_ContentMetaLink_GetMaxSortOrder]

/*
Author:			
Created:		2009-12-05
Last Modified:	2009-12-05

*/

@ContentGuid uniqueidentifier

AS

SELECT	COALESCE(MAX(SortRank), 1)

FROM		mp_ContentMetaLink

WHERE	ContentGuid = @ContentGuid


GO

CREATE PROCEDURE [dbo].mp_ContentMetaLink_SelectOne

/*
Author:   			
Created: 			2009-12-05
Last Modified: 		2009-12-05
*/

@Guid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentMetaLink]
		
WHERE
		[Guid] = @Guid

GO

CREATE PROCEDURE [dbo].mp_ContentMetaLink_SelectByContent

/*
Author:   			
Created: 			2009-12-05
Last Modified: 		2009-12-05
*/

@ContentGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_ContentMetaLink]
		
WHERE
		[ContentGuid] = @ContentGuid
		
ORDER BY
		SortRank

GO

CREATE PROCEDURE [dbo].mp_ContentMetaLink_Insert

/*
Author:   			
Created: 			2009-12-5
Last Modified: 		2009-12-5
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ContentGuid uniqueidentifier,
@Rel nvarchar(255),
@Href nvarchar(255),
@HrefLang nvarchar(10),
@Rev nvarchar(50),
@Type nvarchar(50),
@Media nvarchar(50),
@SortRank int,
@CreatedUtc datetime,
@CreatedBy uniqueidentifier,
@LastModUtc datetime,
@LastModBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_ContentMetaLink] 
(
				[Guid],
				[SiteGuid],
				[ModuleGuid],
				[ContentGuid],
				[Rel],
				[Href],
				[HrefLang],
				[Rev],
				[Type],
				[Media],
				[SortRank],
				[CreatedUtc],
				[CreatedBy],
				[LastModUtc],
				[LastModBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@ModuleGuid,
				@ContentGuid,
				@Rel,
				@Href,
				@HrefLang,
				@Rev,
				@Type,
				@Media,
				@SortRank,
				@CreatedUtc,
				@CreatedBy,
				@LastModUtc,
				@LastModBy
				
)


GO

CREATE PROCEDURE [dbo].mp_ContentMetaLink_Update

/*
Author:   			
Created: 			2009-12-05
Last Modified: 		2009-12-05
*/
	
@Guid uniqueidentifier, 
@Rel nvarchar(255), 
@Href nvarchar(255), 
@HrefLang nvarchar(10), 
@Rev nvarchar(50), 
@Type nvarchar(50), 
@Media nvarchar(50), 
@SortRank int, 
@LastModUtc datetime, 
@LastModBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_ContentMetaLink] 

SET
			[Rel] = @Rel,
			[Href] = @Href,
			[HrefLang] = @HrefLang,
			[Rev] = @Rev,
			[Type] = @Type,
			[Media] = @Media,
			[SortRank] = @SortRank,
			[LastModUtc] = @LastModUtc,
			[LastModBy] = @LastModBy
			
WHERE
			[Guid] = @Guid

GO
