ALTER TABLE [dbo].mp_LetterSubscribe ADD
	IpAddress nvarchar(100) NULL 

GO

ALTER TABLE [dbo].mp_LetterSubscribeHx ADD
	IpAddress nvarchar(100) NULL 

GO

ALTER TABLE [dbo].mp_LetterInfo ADD
	UnVerifiedCount int NULL 

GO

UPDATE [dbo].mp_LetterInfo
SET UnVerifiedCount = (SELECT COUNT(*) FROM [dbo].mp_LetterSubscribe WHERE [dbo].mp_LetterSubscribe.IsVerified = 0 AND [dbo].mp_LetterSubscribe.LetterInfoGuid = [dbo].mp_LetterInfo.LetterInfoGuid)


CREATE NONCLUSTERED INDEX [IX_mp_LetterSubscribeIp] ON [dbo].[mp_LetterSubscribe] 
(
	[IpAddress] ASC
) ON [PRIMARY]
GO



CREATE NONCLUSTERED INDEX [IX_mp_userssiteid] ON [dbo].[mp_Users] 
(
	[SiteID] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_mp_usersreguid] ON [dbo].[mp_Users] 
(
	[RegisterConfirmGuid] ASC
) ON [PRIMARY]
GO




SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Users_SelectByRegisterGuid]

    
@SiteID	int,
@RegisterConfirmGuid		uniqueidentifier


AS

SELECT	*

FROM
    [dbo].mp_Users

WHERE
	SiteID = @SiteID
   	AND RegisterConfirmGuid = RegisterConfirmGuid

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_Insert]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-29
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@Email nvarchar(100),
@IsVerified bit,
@VerifyGuid uniqueidentifier,
@BeginUtc datetime,
@UseHtml bit,
@IpAddress nvarchar(100)

	
AS

INSERT INTO 	[dbo].[mp_LetterSubscribe] 
(
				[Guid],
				[SiteGuid],
				[LetterInfoGuid],
				[UserGuid],
				[Email],
				[IsVerified],
				[VerifyGuid],
				[BeginUtc],
				[UseHtml],
				IpAddress
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@LetterInfoGuid,
				@UserGuid,
				@Email,
				@IsVerified,
				@VerifyGuid,
				@BeginUtc,
				@UseHtml,
				@IpAddress
				
)

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[mp_LetterSubscribe_Search]

/*
Author:   			
Created: 			2009-10-29
Last Modified: 		2009-10-29
*/

@LetterInfoGuid uniqueidentifier,
@EmailOrIpAddress nvarchar(100)

AS


SELECT	ls.*,
	u.[Email] AS UserEmail,
		COALESCE(u.[Name], ls.[Email]) AS [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN

		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND (
				(ls.Email LIKE '%' + @EmailOrIpAddress + '%')
				OR (ls.[IpAddress]  LIKE '%' + @EmailOrIpAddress + '%')
				
				)

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[mp_LetterInfo_Insert]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2009-10-29
*/

@LetterInfoGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@Title nvarchar(255),
@Description ntext,
@AvailableToRoles ntext,
@Enabled bit,
@AllowUserFeedback bit,
@AllowAnonFeedback bit,
@FromAddress nvarchar(255),
@FromName nvarchar(255),
@ReplyToAddress nvarchar(255),
@SendMode int,
@EnableViewAsWebPage bit,
@EnableSendLog bit,
@RolesThatCanEdit ntext,
@RolesThatCanApprove ntext,
@RolesThatCanSend ntext,
@CreatedUTC datetime,
@CreatedBy uniqueidentifier,
@LastModUTC datetime,
@LastModBy uniqueidentifier,
@AllowArchiveView bit,
@ProfileOptIn bit,
@SortRank int

	
AS

INSERT INTO 	[dbo].[mp_LetterInfo] 
(
				[LetterInfoGuid],
				[SiteGuid],
				[Title],
				[Description],
				[AvailableToRoles],
				[Enabled],
				[AllowUserFeedback],
				[AllowAnonFeedback],
				[FromAddress],
				[FromName],
				[ReplyToAddress],
				[SendMode],
				[EnableViewAsWebPage],
				[EnableSendLog],
				[RolesThatCanEdit],
				[RolesThatCanApprove],
				[RolesThatCanSend],
				[CreatedUTC],
				[CreatedBy],
				[LastModUTC],
				[LastModBy],
				AllowArchiveView,
				ProfileOptIn,
				SortRank,
				UnVerifiedCount
) 

VALUES 
(
				@LetterInfoGuid,
				@SiteGuid,
				@Title,
				@Description,
				@AvailableToRoles,
				@Enabled,
				@AllowUserFeedback,
				@AllowAnonFeedback,
				@FromAddress,
				@FromName,
				@ReplyToAddress,
				@SendMode,
				@EnableViewAsWebPage,
				@EnableSendLog,
				@RolesThatCanEdit,
				@RolesThatCanApprove,
				@RolesThatCanSend,
				@CreatedUTC,
				@CreatedBy,
				@LastModUTC,
				@LastModBy,
				@AllowArchiveView,
				@ProfileOptIn,
				@SortRank,
				0
				
)


GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO





ALTER PROCEDURE [dbo].[mp_LetterInfo_UpdateSubscriberCount]

/*
Author:   			
Created: 			2008-01-07
Last Modified: 		2008-01-07
*/

@LetterInfoGuid uniqueidentifier

	
AS

UPDATE	[dbo].[mp_LetterInfo]
SET SubscriberCount = (SELECT COUNT(*) FROM [dbo].[mp_LetterSubscribe] WHERE LetterInfoGuid = @LetterInfoGuid),
UnVerifiedCount = (SELECT COUNT(*) FROM [dbo].[mp_LetterSubscribe] WHERE LetterInfoGuid = @LetterInfoGuid AND IsVerified = 0)
WHERE LetterInfoGuid = @LetterInfoGuid



GO

