
CREATE TABLE [dbo].[mp_PaymentLog](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[StoreGuid] [uniqueidentifier] NOT NULL,
	[CartGuid] [uniqueidentifier] NOT NULL,
	[Provider] [nvarchar](100) NULL,
	[RawResponse] [nvarchar](max) NULL,
	[ResponseCode] [nchar](1) NULL,
	[ResponseReasonCode] [nvarchar](20) NULL,
	[Reason] [nvarchar](max) NULL,
	[AvsCode] [nvarchar](50) NULL,
	[CcvCode] [nchar](1) NULL,
	[CavCode] [nchar](1) NULL,
	[TransactionId] [nvarchar](50) NULL,
	[TransactionType] [nvarchar](50) NULL,
	[Method] [nvarchar](20) NULL,
	[AuthCode] [nvarchar](50) NULL,
	[Amount] [decimal](15, 4) NULL,
	[Tax] [decimal](15, 4) NULL,
	[Duty] [decimal](15, 4) NULL,
	[Freight] [decimal](15, 4) NULL,
 CONSTRAINT [PK_mp_PaymentLog] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)

GO


ALTER TABLE [dbo].[mp_PaymentLog] ADD  CONSTRAINT [DF_mp_PaymentLog_RowGuid]  DEFAULT (newid()) FOR [RowGuid]

GO

ALTER TABLE [dbo].[mp_PaymentLog] ADD  CONSTRAINT [DF_mp_PaymentLog_CreatedUtc]  DEFAULT (getutcdate()) FOR [CreatedUtc]

GO



ALTER PROCEDURE [dbo].[mp_Sites_Delete]

/*
Author:   			
Created: 			2005-03-07
Last Modified: 		2008-11-12

*/

@SiteID int

AS


DELETE FROM mp_WebParts WHERE SiteID = @SiteID

DELETE FROM mp_PageModules
WHERE PageID IN (SELECT PageID FROM mp_Pages WHERE SiteID = @SiteID)

DELETE FROM mp_ModuleSettings
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)


DELETE FROM mp_Modules WHERE SiteID = @SiteID

DELETE FROM mp_SiteModuleDefinitions WHERE SiteID = @SiteID


DELETE FROM mp_UserProperties
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserRoles
WHERE UserID IN (SELECT UserID FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserLocation 
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_FriendlyUrls WHERE SiteID = @SiteID

DELETE FROM mp_UserPages WHERE SiteID = @SiteID

DELETE FROM mp_Users WHERE SiteID = @SiteID

DELETE FROM mp_Pages WHERE SiteID = @SiteID

DELETE FROM mp_Roles WHERE SiteID = @SiteID

DELETE FROM mp_SiteHosts WHERE SiteID = @SiteID

DELETE FROM mp_SiteSettingsEx WHERE SiteID = @SiteID

DELETE FROM mp_SitePersonalizationAllUsers
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePersonalizationPerUser
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePaths WHERE SiteID = @SiteID

DELETE FROM mp_SiteFolders
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_PaymentLog
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_GoogleCheckoutLog
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_LetterSendLog
WHERE LetterGuid IN (SELECT LetterGuid FROM mp_Letter
					WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)))

DELETE FROM mp_LetterSubscribeHx
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID))

DELETE FROM mp_LetterSubscribe
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID))



DELETE FROM mp_Letter
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID))

DELETE FROM mp_LetterHtmlTemplate
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_LetterInfo
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_PayPalLog
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_RedirectList
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaskQueue
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaxClass
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaxRateHistory
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaxRate
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)



DELETE FROM [dbo].[mp_Sites]
WHERE
	[SiteID] = @SiteID

GO

CREATE PROCEDURE [dbo].[mp_PaymentLog_Update]

/*
Author:   			
Created: 			2008-03-10
Last Modified: 		2010-06-30
*/
	
@RowGuid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@StoreGuid uniqueidentifier, 
@CartGuid uniqueidentifier, 
@RawResponse nvarchar(max), 
@ResponseCode nchar(1), 
@ResponseReasonCode nvarchar(20), 
@Reason nvarchar(max), 
@AvsCode nvarchar(50), 
@CcvCode nchar(1), 
@CavCode nchar(1), 
@TransactionId nvarchar(50), 
@TransactionType nvarchar(50), 
@Method nvarchar(20), 
@AuthCode nvarchar(50), 
@Amount decimal(15, 4), 
@Tax decimal(15, 4), 
@Duty decimal(15, 4), 
@Freight decimal(15, 4) 


AS

UPDATE 		[dbo].[mp_PaymentLog] 

SET
			[SiteGuid] = @SiteGuid,
			[UserGuid] = @UserGuid,
			[StoreGuid] = @StoreGuid,
			[CartGuid] = @CartGuid,
			[RawResponse] = @RawResponse,
			[ResponseCode] = @ResponseCode,
			[ResponseReasonCode] = @ResponseReasonCode,
			[Reason] = @Reason,
			[AvsCode] = @AvsCode,
			[CcvCode] = @CcvCode,
			[CavCode] = @CavCode,
			[TransactionId] = @TransactionId,
			[TransactionType] = @TransactionType,
			[Method] = @Method,
			[AuthCode] = @AuthCode,
			[Amount] = @Amount,
			[Tax] = @Tax,
			[Duty] = @Duty,
			[Freight] = @Freight
			
WHERE
			[RowGuid] = @RowGuid

GO

CREATE PROCEDURE [dbo].[mp_PaymentLog_SelectByCart]

/*
Author:   			
Created: 			2008-07-01
Last Modified: 		2008-07-01
*/

@CartGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[mp_PaymentLog]
		
WHERE
		[CartGuid] = @CartGuid
		
ORDER BY CreatedUtc

GO


CREATE PROCEDURE [dbo].[mp_PaymentLog_SelectOne]

/*
Author:   			
Created: 			2008-3-10
Last Modified: 		2008-3-10
*/

@RowGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_PaymentLog]
		
WHERE
		[RowGuid] = @RowGuid

GO

CREATE PROCEDURE [dbo].[mp_PaymentLog_Delete]

/*
Author:   			
Created: 			2008-3-10
Last Modified: 		2008-3-10
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_PaymentLog]
WHERE
	[RowGuid] = @RowGuid

GO

CREATE PROCEDURE [dbo].[mp_PaymentLog_Insert]

/*
Author:   			
Created: 			2008-03-10
Last Modified: 		2010-06-30
*/

@RowGuid uniqueidentifier,
@CreatedUtc datetime,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@Provider nvarchar(100),
@RawResponse nvarchar(max),
@ResponseCode nchar(1),
@ResponseReasonCode nvarchar(20),
@Reason nvarchar(max),
@AvsCode nvarchar(50),
@CcvCode nchar(1),
@CavCode nchar(1),
@TransactionId nvarchar(50),
@TransactionType nvarchar(50),
@Method nvarchar(20),
@AuthCode nvarchar(50),
@Amount decimal(15, 4),
@Tax decimal(15, 4),
@Duty decimal(15, 4),
@Freight decimal(15, 4)

	
AS

INSERT INTO 	[dbo].[mp_PaymentLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[Provider],
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]
) 

VALUES 
(
				@RowGuid,
				@CreatedUtc,
				@SiteGuid,
				@UserGuid,
				@StoreGuid,
				@CartGuid,
				@Provider,
				@RawResponse,
				@ResponseCode,
				@ResponseReasonCode,
				@Reason,
				@AvsCode,
				@CcvCode,
				@CavCode,
				@TransactionId,
				@TransactionType,
				@Method,
				@AuthCode,
				@Amount,
				@Tax,
				@Duty,
				@Freight
				
)

GO




INSERT INTO 	[dbo].[mp_PaymentLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[Provider],
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]
) 

SELECT
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				'Authorize.NET',
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]

FROM
		[dbo].[mp_AuthorizeNetLog]

GO



INSERT INTO 	[dbo].[mp_PaymentLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[Provider],
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]
) 

SELECT
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				'Plug.N.Pay',
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]

FROM
		[dbo].[mp_PlugNPayLog]

GO
