SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[mp_LetterSubscribe_SelectByLetterAndEmail]

/*
Author:   			
Created: 			2009-10-28
Last Modified: 		2009-10-28
*/

@SiteGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT	*
		
FROM
		[dbo].[mp_LetterSubscribe]
		
WHERE
		[SiteGuid] = @SiteGuid
		AND LetterInfoGuid = @LetterInfoGuid
		AND Email = @Email

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_LetterSubscribe_DeleteUnverified]

/*
Author:   			
Created: 			2009-10-28
Last Modified: 		2009-10-28
*/

@LetterInfoGuid uniqueidentifier,
@OlderThanUtc datetime

AS

DELETE FROM [dbo].[mp_LetterSubscribe]
WHERE
	[LetterInfoGuid] = @LetterInfoGuid
	AND IsVerified = 0
	AND BeginUtc < @OlderThanUtc

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectUnsentByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@LetterGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier

AS


SELECT
		ls.*,
		COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND ls.IsVerified = 1
		AND ls.[Guid] NOT IN ( SELECT [SubscribeGuid]
									FROM	[dbo].[mp_LetterSendLog]
									WHERE [LetterGuid] = @LetterGuid )

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_Update]

/*
Author:   			
Created: 			2009-10-12
Last Modified: 		2009-10-28
*/
	
@Guid uniqueidentifier, 
@UserGuid uniqueidentifier,
@UseHtml bit 


AS

UPDATE 		[dbo].[mp_LetterSubscribe] 

SET
			[UseHtml] = @UseHtml,
			UserGuid = @UserGuid
			
WHERE
			[Guid] = @Guid

GO

