
ALTER TABLE [dbo].mp_LetterSendLog ADD
	SubscribeGuid uniqueidentifier NULL 

GO

	
UPDATE [dbo].mp_LetterSendLog
SET SubscribeGuid = '00000000-0000-0000-0000-000000000000'

CREATE NONCLUSTERED INDEX [IX_mp_SendLogSubscribe] ON [dbo].[mp_LetterSendLog] 
(
	[SubscribeGuid] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_LetterSendLog_Insert]

/*
Author:   			
Created: 			2008-01-08
Last Modified: 		2009-10-12
*/

@LetterGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@SubscribeGuid uniqueidentifier,
@EmailAddress nvarchar(100),
@UTC datetime,
@ErrorOccurred bit,
@ErrorMessage ntext

	
AS

INSERT INTO 	[dbo].[mp_LetterSendLog] 
(
				[LetterGuid],
				[UserGuid],
				SubscribeGuid,
				[EmailAddress],
				[UTC],
				[ErrorOccurred],
				[ErrorMessage]
) 

VALUES 
(
				@LetterGuid,
				@UserGuid,
				@SubscribeGuid,
				@EmailAddress,
				@UTC,
				@ErrorOccurred,
				@ErrorMessage
				
)
SELECT @@IDENTITY


GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_LetterSubscribeHx](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[SubscribeGuid] [uniqueidentifier] NOT NULL,
	[LetterInfoGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[UseHtml] [bit] NOT NULL,
	[BeginUtc] [datetime] NOT NULL,
	[EndUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_LetterSubscribeHx] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_LetterSubscribeHx] ON [dbo].[mp_LetterSubscribeHx] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_LetterSubscribe](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[LetterInfoGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[VerifyGuid] [uniqueidentifier] NOT NULL,
	[BeginUtc] [datetime] NOT NULL,
	[UseHtml] [bit] NOT NULL,
 CONSTRAINT [PK_mp_LetterSubscribe] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_LetterSubscribe] ON [dbo].[mp_LetterSubscribe] 
(
	[Email] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_LetterSubscribe_1] ON [dbo].[mp_LetterSubscribe] 
(
	[LetterInfoGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_LetterSubscribe_2] ON [dbo].[mp_LetterSubscribe] 
(
	[UserGuid] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_mp_LetterSubscribe_3] ON [dbo].[mp_LetterSubscribe] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_SelectPage]

-- Author:   			
-- Created: 			2009-10-11
-- Last Modified: 		2009-10-11

@LetterInfoGuid			uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] uniqueidentifier
)

BEGIN

INSERT INTO #PageIndex ( 
[Guid]
)

SELECT
		ls.[Guid]
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN		mp_Users u
ON		ls.UserGuid = u.UserGuid
		
WHERE		ls.[LetterInfoGuid] = @LetterInfoGuid

ORDER BY	u.[Name]

END



SELECT
		t1.*,
		COALESCE(u.[Name], t1.[Email]) As [Name],
		u.[Email] As UserEmail
		
FROM
		[dbo].[mp_LetterSubscribe] t1
		
LEFT OUTER JOIN		mp_Users u
ON		t1.UserGuid = u.UserGuid

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribeHx_Insert]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SubscribeGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@Email nvarchar(100),
@IsVerified bit,
@UseHtml bit,
@BeginUtc datetime,
@EndUtc datetime

	
AS

INSERT INTO 	[dbo].[mp_LetterSubscribeHx] 
(
				[RowGuid],
				[SiteGuid],
				[SubscribeGuid],
				[LetterInfoGuid],
				[UserGuid],
				[Email],
				[IsVerified],
				[UseHtml],
				[BeginUtc],
				[EndUtc]
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@SubscribeGuid,
				@LetterInfoGuid,
				@UserGuid,
				@Email,
				@IsVerified,
				@UseHtml,
				@BeginUtc,
				@EndUtc
				
)
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribeHx_DeleteBySite]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSubscribeHx]
WHERE
	[SiteGuid] = @SiteGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_DeleteByUser]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@UserGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSubscribe]
WHERE
	[UserGuid] = @UserGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_Update]

/*
Author:   			
Created: 			2009-10-12
Last Modified: 		2009-10-12
*/
	
@Guid uniqueidentifier, 
@UseHtml bit 


AS

UPDATE 		[dbo].[mp_LetterSubscribe] 

SET
			[UseHtml] = @UseHtml
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_CountByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@LetterInfoGuid uniqueidentifier

AS


SELECT Count(*)
		
FROM
		[dbo].[mp_LetterSubscribe]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_Exists]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@LetterInfoGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT Count(*)
		
FROM
		[dbo].[mp_LetterSubscribe]
		
WHERE
		[LetterInfoGuid] = @LetterInfoGuid
		AND Email = @Email
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_Verify]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/
	
@Guid uniqueidentifier, 
@IsVerified bit, 
@VerifyGuid uniqueidentifier

AS

UPDATE 		[dbo].[mp_LetterSubscribe] 

SET
			[IsVerified] = @IsVerified,
			[VerifyGuid] = @VerifyGuid
			
WHERE
			[Guid] = @Guid
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_SelectUnsentByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@LetterGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier

AS


SELECT
		ls.*,
		COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND ls.[Guid] NOT IN ( SELECT [SubscribeGuid]
									FROM	[dbo].[mp_LetterSendLog]
									WHERE [LetterGuid] = @LetterGuid )
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_SelectByUser]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS


SELECT	ls.*,
	COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ls.UserGuid = @UserGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_SelectByEmail]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@SiteGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT	*
		
FROM
		[dbo].[mp_LetterSubscribe]
		
WHERE
		[SiteGuid] = @SiteGuid
		AND Email = @Email
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_SelectByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@LetterInfoGuid uniqueidentifier

AS


SELECT	ls.*,
	u.[Email] AS UserEmail,
		COALESCE(u.[Name], ls.[Email]) AS [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN

		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_Insert]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@Email nvarchar(100),
@IsVerified bit,
@VerifyGuid uniqueidentifier,
@BeginUtc datetime,
@UseHtml bit

	
AS

INSERT INTO 	[dbo].[mp_LetterSubscribe] 
(
				[Guid],
				[SiteGuid],
				[LetterInfoGuid],
				[UserGuid],
				[Email],
				[IsVerified],
				[VerifyGuid],
				[BeginUtc],
				[UseHtml]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@LetterInfoGuid,
				@UserGuid,
				@Email,
				@IsVerified,
				@VerifyGuid,
				@BeginUtc,
				@UseHtml
				
)
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_Delete]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSubscribe]
WHERE
	[Guid] = @Guid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_DeleteByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@LetterInfoGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSubscribe]
WHERE
	[LetterInfoGuid] = @LetterInfoGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_DeleteBySite]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSubscribe]
WHERE
	[SiteGuid] = @SiteGuid
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_LetterSubscribe_SelectOne]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-11
*/

@Guid uniqueidentifier

AS


SELECT	ls.*,
	COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[Guid] = @Guid
GO

ALTER TABLE [dbo].[mp_LetterSubscribe] ADD  CONSTRAINT [DF_mp_LetterSubscribe_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [dbo].[mp_LetterSubscribe] ADD  CONSTRAINT [DF_mp_LetterSubscribe_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO

ALTER TABLE [dbo].[mp_LetterSubscribe] ADD  CONSTRAINT [DF_mp_LetterSubscribe_UseHtml]  DEFAULT ((1)) FOR [UseHtml]
GO

ALTER TABLE [dbo].[mp_LetterSubscribeHx] ADD  CONSTRAINT [DF_mp_LetterSubscribeHx_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO

ALTER TABLE [dbo].[mp_LetterSubscribeHx] ADD  CONSTRAINT [DF_mp_LetterSubscribeHx_UseHtml]  DEFAULT ((1)) FOR [UseHtml]
GO

ALTER TABLE [dbo].[mp_LetterSubscribeHx] ADD  CONSTRAINT [DF_mp_LetterSubscribeHx_EndUtc]  DEFAULT (getutcdate()) FOR [EndUtc]
GO




SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[mp_LetterInfo_UpdateSubscriberCount]

/*
Author:   			
Created: 			2008-01-07
Last Modified: 		2008-01-07
*/

@LetterInfoGuid uniqueidentifier

	
AS

UPDATE	[dbo].[mp_LetterInfo]
SET SubscriberCount = (SELECT COUNT(*) FROM [dbo].[mp_LetterSubscribe] WHERE LetterInfoGuid = @LetterInfoGuid)
WHERE LetterInfoGuid = @LetterInfoGuid


GO

INSERT INTO [dbo].mp_LetterSubscribe (SiteGuid, LetterInfoGuid, UserGuid, Email, IsVerified, VerifyGuid,BeginUtc, UseHtml )


SELECT
u.SiteGuid,
ls.LetterInfoGuid,
ls.UserGuid,
LOWER(u.Email),
1,
'00000000-0000-0000-0000-000000000000',
ls.BeginUTC,
ls.UseHtml


FROM
	[dbo].mp_LetterSubscriber ls
	
JOIN
	[dbo].mp_Users u
ON
	u.UserGuid = ls.UserGuid
	
