
CREATE PROCEDURE [dbo].[mp_SiteFolders_SelectSiteIdByFolder]

/*
Author:   			
Created: 			2011-08-24
Last Modified: 		2011-08-24

*/

@FolderName		nvarchar(255)

AS



SELECT COALESCE(	
	(SELECT TOP 1 s.SiteID
		FROM mp_SiteFolders  sf
		JOIN mp_Sites s
		ON s.SiteGuid = sf.SiteGuid
		WHERE sf.FolderName = @FolderName),
				 
		(SELECT TOP 1 SiteID FROM mp_Sites ORDER BY SiteID)
			)


GO

CREATE PROCEDURE [dbo].[mp_SiteHosts_SelectSiteIdByHost]

/*
Author:   			
Created: 			2011-08-24
Last Modified: 		2011-08-24

*/

@HostName nvarchar(255)

AS


SELECT COALESCE(	
	(SELECT TOP 1 SiteID
		FROM mp_SiteHosts 
		WHERE HostName = @HostName),
				 
		(SELECT TOP 1 SiteID FROM mp_Sites ORDER BY SiteID)
			)


GO

