ALTER TABLE [dbo].mp_Users ADD
	FirstName nvarchar(100) NULL 
	
ALTER TABLE [dbo].mp_Users ADD
	LastName nvarchar(100) NULL  
	
GO

UPDATE [dbo].mp_Users SET AvatarUrl = '' 

INSERT INTO [dbo].[mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('AvatarSystem','gravatar','Admin', 100)
	
GO
