

ALTER TABLE [dbo].mp_Modules ADD
	HeadElement nvarchar(25) NULL 
GO

UPDATE mp_Modules
SET HeadElement = 'h2'

GO


ALTER PROCEDURE [dbo].[mp_Modules_Insert]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2011-03-08

*/

@PageID int,
@SiteID		int,
@ModuleDefID int,
@ModuleOrder int,
@PaneName nvarchar(50),
@ModuleTitle nvarchar(255),
@AuthorizedEditRoles nvarchar(max),
@DraftEditRoles nvarchar(max),
@CacheTime int,
@ShowTitle bit,
@AvailableForMyPage	bit,
@CreatedByUserID	int,
@CreatedDate		datetime,
@AllowMultipleInstancesOnMyPage	bit,
@Icon	nvarchar(255),
@Guid	uniqueidentifier,
@FeatureGuid uniqueidentifier,
@SiteGuid	uniqueidentifier,
@HideFromAuth bit,
@HideFromUnAuth bit,
@ViewRoles nvarchar(max),
@HeadElement nvarchar(25)

	
AS
DECLARE @ModuleID int

INSERT INTO 	[dbo].[mp_Modules] 
(
				SiteID,
				SiteGuid,
				[ModuleDefID],
				[ModuleTitle],
				[AuthorizedEditRoles],
				[DraftEditRoles],
				[CacheTime],
				[ShowTitle],
				AvailableForMyPage,
				AllowMultipleInstancesOnMyPage,
				Icon,
				CreatedByUserID,
				CreatedDate,
				[Guid],
				FeatureGuid,
				HideFromAuth,
				HideFromUnAuth,
				ViewRoles,
				IncludeInSearch,
				IsGlobal,
				HeadElement
				
) 

VALUES 
(
				@SiteID,
				@SiteGuid,
				@ModuleDefID,
				@ModuleTitle,
				@AuthorizedEditRoles,
				@DraftEditRoles,
				@CacheTime,
				@ShowTitle,
				@AvailableForMyPage,
				@AllowMultipleInstancesOnMyPage,
				@Icon,
				@CreatedByUserID,
				@CreatedDate,
				@Guid,
				@FeatureGuid,
				@HideFromAuth,
				@HideFromUnAuth,
				@ViewRoles,
				1,
				0,
				@HeadElement
				
)
SELECT @ModuleID =  @@IDENTITY

IF @PageID > -1
BEGIN

DECLARE @PageGuid uniqueidentifier
SET @PageGuid = (SELECT TOP 1 PageGuid FROM mp_Pages WHERE PageID = @PageID)

INSERT INTO 	[dbo].[mp_PageModules] 
(
				[PageID],
				[ModuleID],
				[ModuleOrder],
				[PaneName],
				[PublishBeginDate],
				PageGuid,
				ModuleGuid
				
) 

VALUES 
(
				@PageID,
				@ModuleID,
				@ModuleOrder,
				@PaneName,
				@CreatedDate,
				@PageGuid,
				@Guid
				
				
)
END


SELECT @ModuleID



GO

ALTER PROCEDURE [dbo].[mp_Modules_Update]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2011-03-08

*/
	
@ModuleID int, 
@ModuleDefID int, 
@ModuleTitle nvarchar(255), 
@AuthorizedEditRoles nvarchar(max), 
@DraftEditRoles nvarchar(max),
@CacheTime int, 
@ShowTitle bit ,
@EditUserID	int,
@AvailableForMyPage	bit,
@AllowMultipleInstancesOnMyPage	bit,
@Icon	nvarchar(255),
@HideFromAuth bit,
@HideFromUnAuth bit,
@ViewRoles nvarchar(max),
@IncludeInSearch bit,
@IsGlobal bit,
@HeadElement nvarchar(25)


AS
UPDATE 		[dbo].[mp_Modules] 

SET
			
			[ModuleDefID] = @ModuleDefID,
			
			[ModuleTitle] = @ModuleTitle,
			[AuthorizedEditRoles] = @AuthorizedEditRoles,
			[DraftEditRoles] = @DraftEditRoles,
			[CacheTime] = @CacheTime,
			[ShowTitle] = @ShowTitle,
			EditUserID = @EditUserID,
			AvailableForMyPage = @AvailableForMyPage,
			AllowMultipleInstancesOnMyPage = @AllowMultipleInstancesOnMyPage,
			Icon = @Icon,
			HideFromAuth = @HideFromAuth,
			HideFromUnAuth = @HideFromUnAuth,
			ViewRoles = @ViewRoles,
			IncludeInSearch = @IncludeInSearch,
			IsGlobal = @IsGlobal,
			HeadElement = @HeadElement
			
WHERE
			[ModuleID] = @ModuleID






GO


ALTER PROCEDURE [dbo].[mp_Modules_SelectOneByPage]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2011-03-08

*/

@ModuleID int,
@PageID		int

AS
SELECT  		m.*,
				pm.PageID,
				pm.ModuleOrder,
				pm.PaneName,
				pm.PublishBeginDate,
				pm.PublishEndDate,
				md.ControlSrc,
				md.FeatureName
    
FROM
    			mp_Modules m
  
INNER JOIN
    			mp_ModuleDefinitions md
ON 			m.ModuleDefID = md.ModuleDefID

INNER JOIN		mp_PageModules pm
ON				m.ModuleID = pm.ModuleID
    
WHERE   
    			pm.PageID = @PageID
				AND pm.ModuleID = @ModuleID


GO

ALTER PROCEDURE [dbo].[mp_Modules_SelectOne]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2011-03-08

*/

@ModuleID int

AS


SELECT	m.*,
		md.ControlSrc,
		md.FeatureName
		
FROM
		[dbo].[mp_Modules] m
		
JOIN
    			mp_ModuleDefinitions md
ON 			m.ModuleDefID = md.ModuleDefID
		
WHERE
		m.[ModuleID] = @ModuleID


GO

ALTER PROCEDURE [dbo].[mp_Modules_SelectOneByGuid]

/*
Author:   			
Created: 			2009-02-11
Last Modified: 		2011-03-08

*/

@Guid uniqueidentifier

AS


SELECT	m.*,
		md.ControlSrc,
		md.FeatureName
		
FROM
		[dbo].[mp_Modules] m
		
JOIN
    			mp_ModuleDefinitions md
ON 			m.ModuleDefID = md.ModuleDefID
		
WHERE
		m.[Guid] = @Guid


GO





