
INSERT INTO [dbo].mp_SiteSettingsExDef([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SiteRootDraftApprovalRoles','','Admin', 100)

GO


ALTER TABLE [dbo].mp_HtmlContent ADD
	ExcludeFromRecentContent bit NOT NULL Default 0
GO

ALTER TABLE [dbo].mp_Modules ADD DraftApprovalRoles nvarchar(MAX) NULL
GO


ALTER TABLE [dbo].mp_Pages ADD DraftApprovalRoles nvarchar(MAX) NULL
GO


ALTER PROCEDURE [dbo].[mp_HtmlContent_Insert]

/*
Author:   			
Created: 			2004-12-23
Last Modified: 		2013-04-18

*/

@ItemGuid	uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@ModuleID int,
@Title nvarchar(255),
@Excerpt nvarchar(max),
@Body nvarchar(max),
@MoreLink nvarchar(255),
@SortOrder int,
@BeginDate datetime,
@EndDate datetime,
@CreatedDate datetime,
@UserID int,
@UserGuid	uniqueidentifier,
@ExcludeFromRecentContent bit

	
AS

INSERT INTO 	[dbo].[mp_HtmlContent] 
(
				ItemGuid,
				ModuleGuid,
				[ModuleID],
				[Title],
				[Excerpt],
				[Body],
				[MoreLink],
				[SortOrder],
				[BeginDate],
				[EndDate],
				[CreatedDate],
				[UserID],
				[UserGuid],
				LastModUserGuid,
				LastModUtc,
				ExcludeFromRecentContent
) 

VALUES 
(
				@ItemGuid,
				@ModuleGuid,
				@ModuleID,
				@Title,
				@Excerpt,
				@Body,
				@MoreLink,
				@SortOrder,
				@BeginDate,
				@EndDate,
				@CreatedDate,
				@UserID,
				@UserGuid,
				@UserGuid,
				@CreatedDate,
				@ExcludeFromRecentContent
				
)
SELECT @@IDENTITY


GO

ALTER PROCEDURE [dbo].[mp_HtmlContent_Update]

/*
Author:   			
Created: 			2004-12-23
Last Modified: 		2013-05-18


*/
	
@ItemID int, 
@ModuleID int, 
@Title nvarchar(255), 
@Excerpt nvarchar(max), 
@Body nvarchar(max), 
@MoreLink nvarchar(255), 
@SortOrder int, 
@BeginDate datetime, 
@EndDate datetime, 
@LastModUtc datetime, 
@LastModUserGuid uniqueidentifier,
@ExcludeFromRecentContent bit


AS

UPDATE 		[dbo].[mp_HtmlContent] 

SET
			[ModuleID] = @ModuleID,
			[Title] = @Title,
			[Excerpt] = @Excerpt,
			[Body] = @Body,
			[MoreLink] = @MoreLink,
			[SortOrder] = @SortOrder,
			[BeginDate] = @BeginDate,
			[EndDate] = @EndDate,
			[LastModUtc] = @LastModUtc,
			[LastModUserGuid] = @LastModUserGuid,
			ExcludeFromRecentContent = @ExcludeFromRecentContent
			
WHERE
			[ItemID] = @ItemID


GO






ALTER PROCEDURE [dbo].[mp_SitePersonalizationAdministration_FindState] 


@SiteID			int,
@Path 				nvarchar(255) = NULL,
@AllUsersScope 		bit,
@UserID 			uniqueidentifier = NULL,
@InactiveSinceDate 		datetime = NULL,
@PageIndex              		int,
@PageSize               		int



AS

BEGIN
   

    -- Set the page bounds
    DECLARE @PageLowerBound INT
    DECLARE @PageUpperBound INT
    DECLARE @TotalRecords   INT
    SET @PageLowerBound = @PageSize * @PageIndex
    SET @PageUpperBound = @PageSize - 1 + @PageLowerBound

    -- Create a temp table to store the selected results
    CREATE TABLE #PageIndex (
        IndexId int IDENTITY (0, 1) NOT NULL,
        ItemId UNIQUEIDENTIFIER
    )

    IF (@AllUsersScope = 1)
    BEGIN
        -- Insert into our temp table
        INSERT INTO 	#PageIndex (ItemId)

        SELECT 		Paths.PathID
        FROM 		mp_SitePaths Paths,
             			(
			(SELECT 		Paths.PathID
               		FROM 			mp_SitePersonalizationAllUsers AllUsers, mp_SitePaths Paths
               		WHERE 		Paths.SiteID = @SiteID
                      					AND AllUsers.PathID = Paths.PathID
                      					AND (@Path IS NULL OR Paths.LoweredPath LIKE LOWER(@Path))
              			) AS SharedDataPerPath
       			FULL OUTER JOIN
             		 (		SELECT DISTINCT 	Paths.PathID
               			FROM 			mp_SitePersonalizationPerUser PerUser, mp_SitePaths Paths
               			WHERE 		Paths.SiteID = @SiteID
                      						AND PerUser.PathID = Paths.PathID
                      						AND (@Path IS NULL OR Paths.LoweredPath LIKE LOWER(@Path))
              			) AS UserDataPerPath
      			ON SharedDataPerPath.PathID = UserDataPerPath.PathID
             		)

        WHERE 		Paths.PathID = SharedDataPerPath.PathID 
			OR Paths.PathID = UserDataPerPath.PathID

        ORDER BY 	Paths.Path ASC

        SELECT @TotalRecords = @@ROWCOUNT

        SELECT 			Paths.Path,
               			SharedDataPerPath.LastUpdatedDate,
               			SharedDataPerPath.DataSize,
               			UserDataPerPath.UserDataLength,
               			UserDataPerPath.UserCount,
				@TotalRecords As TotalRecords

        FROM 			mp_SitePaths Paths,
             (
		(		SELECT 		PageIndex.ItemId AS PathID,
                      						AllUsers.LastUpdatedDate AS LastUpdatedDate,
                      						DATALENGTH(AllUsers.PageSettings) AS DataSize
               			FROM 			mp_SitePersonalizationAllUsers AllUsers, #PageIndex PageIndex
               			WHERE 		AllUsers.PathID = PageIndex.ItemId
                     						AND PageIndex.IndexId >= @PageLowerBound 
							AND PageIndex.IndexId <= @PageUpperBound
              	) 		AS SharedDataPerPath
              
				FULL OUTER JOIN

              	(		SELECT 		PageIndex.ItemId AS PathID,
                      						SUM(DATALENGTH(PerUser.PageSettings)) AS UserDataLength,
                      						COUNT(*) AS UserCount

               			FROM 			mp_SitePersonalizationPerUser PerUser, #PageIndex PageIndex
               			WHERE 		PerUser.PathID = PageIndex.ItemId
                     						AND PageIndex.IndexId >= @PageLowerBound 
							AND PageIndex.IndexId <= @PageUpperBound

               			GROUP BY 		PageIndex.ItemId

              	) 		AS UserDataPerPath

              			ON SharedDataPerPath.PathID = UserDataPerPath.PathID
             )

        WHERE 			Paths.PathID = SharedDataPerPath.PathID 
				OR Paths.PathID = UserDataPerPath.PathID

        ORDER BY 		Paths.Path ASC

    END
    ELSE
    BEGIN
        -- Insert into our temp table
        INSERT INTO 		#PageIndex (ItemId)

        SELECT 			PerUser.[ID]

        FROM 			mp_SitePersonalizationPerUser PerUser, mp_Users Users, mp_SitePaths Paths

        WHERE 			Paths.SiteID = @SiteID
              			AND PerUser.UserID = Users.UserGuid
              			AND PerUser.PathID = Paths.PathID
              			AND (@Path IS NULL OR Paths.LoweredPath LIKE LOWER(@Path))
				AND (@UserID = '00000000-0000-0000-0000-000000000000' OR Users.UserGuid = @UserID)
             
              			AND (@InactiveSinceDate IS NULL OR Users.LastActivityDate <= @InactiveSinceDate)

        ORDER BY 		Paths.Path ASC, Users.LoginName ASC

        SELECT @TotalRecords = @@ROWCOUNT

        SELECT 			Paths.Path, 
				PerUser.LastUpdate, 
				DATALENGTH(PerUser.PageSettings) As DataSize, 
				Users.LoginName, 
				Users.LastActivityDate,
				@TotalRecords As TotalRecords
        
        FROM 			mp_SitePersonalizationPerUser PerUser, mp_Users Users, mp_SitePaths Paths, #PageIndex PageIndex
        
        WHERE 			PerUser.[ID] = PageIndex.ItemId
              			AND PerUser.UserID = Users.UserGuid
              			AND PerUser.PathID = Paths.PathID
              			AND PageIndex.IndexId >= @PageLowerBound 
				AND PageIndex.IndexId <= @PageUpperBound

        ORDER BY 		Paths.Path ASC, Users.LoginName ASC

    END

    --RETURN @TotalRecords
END


GO

ALTER PROCEDURE [dbo].[mp_Modules_Insert]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2013-04-23

*/

@PageID int,
@SiteID		int,
@ModuleDefID int,
@ModuleOrder int,
@PaneName nvarchar(50),
@ModuleTitle nvarchar(255),
@AuthorizedEditRoles nvarchar(max),
@DraftEditRoles nvarchar(max),
@DraftApprovalRoles nvarchar(max),
@CacheTime int,
@ShowTitle bit,
@AvailableForMyPage	bit,
@CreatedByUserID	int,
@CreatedDate		datetime,
@AllowMultipleInstancesOnMyPage	bit,
@Icon	nvarchar(255),
@Guid	uniqueidentifier,
@FeatureGuid uniqueidentifier,
@SiteGuid	uniqueidentifier,
@HideFromAuth bit,
@HideFromUnAuth bit,
@ViewRoles nvarchar(max),
@HeadElement nvarchar(25),
@PublishMode int

	
AS
DECLARE @ModuleID int

INSERT INTO 	[dbo].[mp_Modules] 
(
				SiteID,
				SiteGuid,
				[ModuleDefID],
				[ModuleTitle],
				[AuthorizedEditRoles],
				[DraftEditRoles],
				[DraftApprovalRoles],
				[CacheTime],
				[ShowTitle],
				AvailableForMyPage,
				AllowMultipleInstancesOnMyPage,
				Icon,
				CreatedByUserID,
				CreatedDate,
				[Guid],
				FeatureGuid,
				HideFromAuth,
				HideFromUnAuth,
				ViewRoles,
				IncludeInSearch,
				IsGlobal,
				HeadElement,
				PublishMode
				
) 

VALUES 
(
				@SiteID,
				@SiteGuid,
				@ModuleDefID,
				@ModuleTitle,
				@AuthorizedEditRoles,
				@DraftEditRoles,
				@DraftApprovalRoles,
				@CacheTime,
				@ShowTitle,
				@AvailableForMyPage,
				@AllowMultipleInstancesOnMyPage,
				@Icon,
				@CreatedByUserID,
				@CreatedDate,
				@Guid,
				@FeatureGuid,
				@HideFromAuth,
				@HideFromUnAuth,
				@ViewRoles,
				1,
				0,
				@HeadElement,
				@PublishMode
				
)
SELECT @ModuleID =  @@IDENTITY

IF @PageID > -1
BEGIN

DECLARE @PageGuid uniqueidentifier
SET @PageGuid = (SELECT TOP 1 PageGuid FROM [dbo].mp_Pages WHERE PageID = @PageID)

INSERT INTO 	[dbo].[mp_PageModules] 
(
				[PageID],
				[ModuleID],
				[ModuleOrder],
				[PaneName],
				[PublishBeginDate],
				PageGuid,
				ModuleGuid
				
) 

VALUES 
(
				@PageID,
				@ModuleID,
				@ModuleOrder,
				@PaneName,
				@CreatedDate,
				@PageGuid,
				@Guid
				
				
)
END


SELECT @ModuleID

GO


ALTER PROCEDURE [dbo].[mp_Modules_Update]

/*
Author:   			
Created: 			2004-12-26
Last Modified: 		2013-04-23

*/
	
@ModuleID int, 
@ModuleDefID int, 
@ModuleTitle nvarchar(255), 
@AuthorizedEditRoles nvarchar(max), 
@DraftEditRoles nvarchar(max),
@DraftApprovalRoles nvarchar(max),
@CacheTime int, 
@ShowTitle bit ,
@EditUserID	int,
@AvailableForMyPage	bit,
@AllowMultipleInstancesOnMyPage	bit,
@Icon	nvarchar(255),
@HideFromAuth bit,
@HideFromUnAuth bit,
@ViewRoles nvarchar(max),
@IncludeInSearch bit,
@IsGlobal bit,
@HeadElement nvarchar(25),
@PublishMode int


AS
UPDATE 		[dbo].[mp_Modules] 

SET
			
			[ModuleDefID] = @ModuleDefID,
			
			[ModuleTitle] = @ModuleTitle,
			[AuthorizedEditRoles] = @AuthorizedEditRoles,
			[DraftEditRoles] = @DraftEditRoles,
			[DraftApprovalRoles] = @DraftApprovalRoles,
			[CacheTime] = @CacheTime,
			[ShowTitle] = @ShowTitle,
			EditUserID = @EditUserID,
			AvailableForMyPage = @AvailableForMyPage,
			AllowMultipleInstancesOnMyPage = @AllowMultipleInstancesOnMyPage,
			Icon = @Icon,
			HideFromAuth = @HideFromAuth,
			HideFromUnAuth = @HideFromUnAuth,
			ViewRoles = @ViewRoles,
			IncludeInSearch = @IncludeInSearch,
			IsGlobal = @IsGlobal,
			HeadElement = @HeadElement,
			PublishMode = @PublishMode
			
WHERE
			[ModuleID] = @ModuleID
			
GO

ALTER PROCEDURE [dbo].[mp_Pages_Insert]

/*
Author:			
Created:		2004-11-17
Last Modified:	2013-04-23

*/

@SiteID   		int,
@ParentID		int,
@PageName    		nvarchar(255),
@PageOrder   		int,
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles nvarchar(max),
@DraftApprovalRoles nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs 	bit,
@ShowChildPageBreadcrumbs 	bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle    		nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@PageGuid	uniqueidentifier,
@ParentGuid uniqueidentifier,
@HideAfterLogin	bit,
@SiteGuid	uniqueidentifier,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PCreatedFromIp nvarchar(36),
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36),
@MenuDesc nvarchar(max)

AS
INSERT INTO 		[dbo].mp_Pages
(
    			SiteID,
			ParentID,
    			PageName,
				PageTitle,
    			PageOrder,
			AuthorizedRoles,
			EditRoles,
			DraftEditRoles,
			DraftApprovalRoles,
			CreateChildPageRoles,
			CreateChildDraftRoles,
    			RequireSSL,
			AllowBrowserCache,
    			ShowBreadcrumbs,
			ShowChildBreadCrumbs,
    			PageKeyWords,
			PageDescription,
			PageEncoding,
			AdditionalMetaTags,
			UseUrl,
			Url,
			OpenInNewWindow,
			ShowChildPageMenu,
			HideMainMenu,
			Skin,
			IncludeInMenu,
			MenuImage,
			ChangeFrequency,
			SiteMapPriority,
			LastModifiedUTC,
			PageGuid,
			ParentGuid,
			HideAfterLogin,
			SiteGuid,
			CompiledMeta,
			CompiledMetaUtc,
			IncludeInSiteMap,
			IsClickable,
			ShowHomeCrumb,
			IsPending,
			CanonicalOverride,
			IncludeInSearchMap,
			EnableComments,
			IncludeInChildSiteMap,
			PubTeamId,
			BodyCssClass,
			MenuCssClass,
			ExpandOnSiteMap,
			PublishMode,
			PCreatedUtc,
			PCreatedBy,
			PCreatedFromIp,
			PLastModUtc,
			PLastModBy,
			PLastModFromIp,
			MenuDesc
)

VALUES
(
    			@SiteID,
			@ParentID,
    			@PageName,
				@PageTitle,
    			@PageOrder,
			@AuthorizedRoles,
			@EditRoles,
			@DraftEditRoles,
			@DraftApprovalRoles,
			@CreateChildPageRoles,
			@CreateChildDraftRoles,
    			@RequireSSL,
			@AllowBrowserCache,
    			@ShowBreadcrumbs,
			@ShowChildPageBreadcrumbs,
			@PageKeyWords,
			@PageDescription,
			@PageEncoding,
			@AdditionalMetaTags,
			@UseUrl,
			@Url,
			@OpenInNewWindow,
			@ShowChildPageMenu,
			@HideMainMenu,
			@Skin,
			@IncludeInMenu,
			@MenuImage,
			@ChangeFrequency,
			@SiteMapPriority,
			@LastModifiedUTC,
			@PageGuid,
			@ParentGuid,
			@HideAfterLogin,
			@SiteGuid,
			@CompiledMeta,
			@CompiledMetaUtc,
			@IncludeInSiteMap,
			@IsClickable,
			@ShowHomeCrumb,
			@IsPending,
			@CanonicalOverride,
			@IncludeInSearchMap,
			@EnableComments,
			@IncludeInChildSiteMap,
			@PubTeamId,
			@BodyCssClass,
			@MenuCssClass,
			@ExpandOnSiteMap,
			@PublishMode,
			@PCreatedUtc,
			@PCreatedBy,
			@PCreatedFromIp,
			@PLastModUtc,
			@PLastModBy,
			@PLastModFromIp,
			@MenuDesc
)

SELECT  @@Identity As PageID	

GO

ALTER PROCEDURE [dbo].[mp_Pages_Update]

/*
Author:			
Last Modified:		2013-04-23

*/


@SiteID        		int,
@PageID           	int,
@ParentID		int,
@PageOrder        	int,
@PageName         	nvarchar(255),
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles		nvarchar(max),
@DraftApprovalRoles nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs	bit,
@ShowChildPageBreadcrumbs bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle         	nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@ParentGuid uniqueidentifier,
@HideAfterLogin bit,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36),
@MenuDesc nvarchar(max)


AS
UPDATE  [dbo].mp_Pages

SET
	ParentID = @ParentID,
    	PageOrder = @PageOrder,
    	PageName = @PageName,
		PageTitle = @PageTitle,
    	AuthorizedRoles = @AuthorizedRoles,
	EditRoles = @EditRoles,
	DraftEditRoles = @DraftEditRoles,
	DraftApprovalRoles = @DraftApprovalRoles,
	CreateChildPageRoles = @CreateChildPageRoles,
	CreateChildDraftRoles = @CreateChildDraftRoles,
    	RequireSSL = @RequireSSL,
	AllowBrowserCache = @AllowBrowserCache,
	ShowBreadcrumbs = @ShowBreadcrumbs,
	ShowChildBreadCrumbs = @ShowChildPageBreadcrumbs,
	PageKeyWords = @PageKeyWords,
	PageDescription = @PageDescription,
	PageEncoding = @PageEncoding,
	AdditionalMetaTags = @AdditionalMetaTags,
	UseUrl = @UseUrl,
	Url = @Url,
	OpenInNewWindow = @OpenInNewWindow,
	ShowChildPageMenu = @ShowChildPageMenu,
	HideMainMenu = @HideMainMenu,
	Skin = @Skin,
	IncludeInMenu = @IncludeInMenu,
	MenuImage = @MenuImage,
	ChangeFrequency = @ChangeFrequency,
	SiteMapPriority = @SiteMapPriority,
	LastModifiedUTC = @LastModifiedUTC,
	ParentGuid = @ParentGuid,
	HideAfterLogin = @HideAfterLogin,
	CompiledMeta = @CompiledMeta,
	CompiledMetaUtc = @CompiledMetaUtc,
	IncludeInSiteMap = @IncludeInSiteMap,
	IsClickable = @IsClickable,
	ShowHomeCrumb = @ShowHomeCrumb,
	IsPending = @IsPending,
	CanonicalOverride = @CanonicalOverride,
	IncludeInSearchMap = @IncludeInSearchMap,
	EnableComments = @EnableComments,
	IncludeInChildSiteMap = @IncludeInChildSiteMap,
	PubTeamId = @PubTeamId,
	BodyCssClass = @BodyCssClass,
	MenuCssClass = @MenuCssClass,
	ExpandOnSiteMap = @ExpandOnSiteMap,
	PublishMode = @PublishMode,
	PCreatedUtc = @PCreatedUtc,
	PCreatedBy = @PCreatedBy,
	PLastModUtc = @PLastModUtc,
	PLastModBy = @PLastModBy,
	PLastModFromIp = @PLastModFromIp,
	MenuDesc = @MenuDesc

WHERE
    PageID = @PageID
	
GO

CREATE PROCEDURE [dbo].[mp_ContentWorkflowAuditHistory_GetDraftSubmitter]

/*
Author:   			Joe Davis
Created: 			2012-01-25
Last Modified: 		2012-01-25
*/

@ContentWorkflowGuid uniqueidentifier

AS

SELECT TOP 1 UserGuid
FROM [dbo].[mp_ContentWorkflowAuditHistory]
WHERE [ContentWorkflowGuid] = @ContentWorkflowGuid
AND [NewStatus] = 'AwaitingApproval'
ORDER BY CreatedDateUtc DESC



GO

