SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByEmail]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-10-31
*/

@SiteGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT	ls.*,
	COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ls.Email = @Email

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterInfo_SelectPage]

-- Author:   			
-- Created: 			9/22/2007
-- Last Modified: 		9/22/2007

@SiteGuid		uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
LetterInfoGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
LetterInfoGuid
)

SELECT
		[LetterInfoGuid]
		
FROM
		[dbo].[mp_LetterInfo]
		
 WHERE		[SiteGuid] = @SiteGuid

ORDER BY SortRank, Title

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		@TotalPages AS TotalPages
		
FROM
		[dbo].[mp_LetterInfo] t1

JOIN			#PageIndex t2
ON			
		t1.[LetterInfoGuid] = t2.[LetterInfoGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_LetterInfo_SelectAll]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2009-10-23
*/

@SiteGuid	uniqueidentifier

AS


SELECT
		*
		
FROM
		[dbo].[mp_LetterInfo]

WHERE
		[SiteGuid] = @SiteGuid

ORDER BY SortRank,	[Title]


GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_LetterSendLog_DeleteByLetterInfo]

/*
Author:   			
Created: 			2009-10-31
Last Modified: 		2008-10-31
*/

@LetterInfoGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSendLog]
WHERE LetterGuid IN (SELECT LetterGuid FROM [dbo].mp_Letter WHERE
	[LetterInfoGuid] = @LetterInfoGuid)

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_LetterSendLog_DeleteBySite]

/*
Author:   			
Created: 			2009-10-31
Last Modified: 		2008-10-31
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSendLog]
WHERE
LetterGuid IN (SELECT LetterGuid FROM [dbo].mp_Letter WHERE
	[LetterInfoGuid] IN (SELECT LetterInfoGuid FROM [dbo].mp_LetterInfo WHERE SiteGuid = @SiteGuid))

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_LetterSubscribeHx_DeleteByLetterInfo]

/*
Author:   			
Created: 			2009-10-31
Last Modified: 		2009-10-31
*/

@LetterInfoGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_LetterSubscribeHx]
WHERE
	[LetterInfoGuid] = @LetterInfoGuid

GO

