INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyStreetAddress','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyLocality','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyRegion','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyPostalCode','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyCountry','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyPhone','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyFax','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyPublicEmail','','Settings', 100)

GO

ALTER PROCEDURE [dbo].[mp_Users_SelectSearchPage]

/*
Author:			
Created:		2009-05-03
Last Modified:	2012-02-06

*/

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				
		ORDER BY 	[Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				
				AND (
				 ([Name]  LIKE '%' + @SearchInput + '%')
				OR ([LoginName]  LIKE '%' + @SearchInput + '%')
				)
				
				
		ORDER BY 	[Name]

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers


GO


CREATE PROCEDURE [dbo].[mp_PayPalLog_DeleteByCart]

/*
Author:   			
Created: 			2012-03-04
Last Modified: 		2012-03-04
*/

@CartGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_PayPalLog]
WHERE
	[CartGuid] = @CartGuid


GO

CREATE PROCEDURE [dbo].[mp_PayPalLog_DeleteBySite]

/*
Author:   			
Created: 			2012-03-04
Last Modified: 		2012-03-04
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_PayPalLog]
WHERE
	[SiteGuid] = @SiteGuid


GO

CREATE PROCEDURE [dbo].[mp_PayPalLog_DeleteByStore]

/*
Author:   			
Created: 			2012-03-04
Last Modified: 		2012-03-04
*/

@StoreGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_PayPalLog]
WHERE
	[StoreGuid] = @StoreGuid


GO


CREATE PROCEDURE [dbo].[mp_GoogleCheckoutLog_DeleteByCart]

/*
Author:   			
Created: 			2012-03-04
Last Modified: 		2012-03-04
*/

@CartGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_GoogleCheckoutLog]
WHERE
	[CartGuid] = @CartGuid


GO

CREATE PROCEDURE [dbo].[mp_GoogleCheckoutLog_DeleteBySite]

/*
Author:   			
Created: 			2012-03-04
Last Modified: 		2012-03-04
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_GoogleCheckoutLog]
WHERE
	[SiteGuid] = @SiteGuid


GO

CREATE PROCEDURE [dbo].[mp_GoogleCheckoutLog_DeleteByStore]

/*
Author:   			
Created: 			2012-03-04
Last Modified: 		2012-03-04
*/

@StoreGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_GoogleCheckoutLog]
WHERE
	[StoreGuid] = @StoreGuid


GO

