

ALTER TABLE [dbo].mp_CommerceReport ADD
	IncludeInAggregate bit NOT NULL default 1
GO


ALTER TABLE [dbo].mp_CommerceReportOrders ADD
	IncludeInAggregate bit NOT NULL default 1
GO



ALTER PROCEDURE [dbo].[mp_CommerceReport_GetItemRevenueByModule]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@ModuleGuid uniqueidentifier

AS


SELECT TOP 20
ModuleTitle,
ItemName,
ItemGuid,
SUM(Quantity) AS UnitsSold,
SUM(SubTotal) AS Revenue
		
FROM
	[dbo].mp_CommerceReport
		
WHERE
		[ModuleGuid] = @ModuleGuid
		AND IncludeInAggregate = 1

GROUP BY ModuleTitle, ItemName, ItemGuid
ORDER BY SUM(SubTotal) DESC


GO






ALTER PROCEDURE [dbo].[mp_CommerceReport_GetItemRevenueBySite]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@SiteGuid uniqueidentifier

AS


SELECT 
ModuleTitle,
ItemName,
ItemGuid,
SUM(Quantity) AS UnitsSold,
SUM(SubTotal) AS Revenue
		
FROM
	[dbo].mp_CommerceReport
		
WHERE
		[SiteGuid] = @SiteGuid
		AND IncludeInAggregate = 1

GROUP BY ModuleTitle, ItemName, ItemGuid
ORDER BY ModuleTitle, SUM(SubTotal) DESC


GO





ALTER PROCEDURE [dbo].[mp_CommerceReport_GetItemRevenueByUser]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@UserGuid uniqueidentifier

AS


SELECT 
ModuleTitle,
ItemName,
ItemGuid,
SUM(Quantity) AS UnitsSold,
SUM(SubTotal) AS Revenue
		
FROM
	[dbo].mp_CommerceReport
		
WHERE
		[UserGuid] = @UserGuid
		AND IncludeInAggregate = 1

GROUP BY ModuleTitle, ItemName, ItemGuid
ORDER BY ModuleTitle, SUM(SubTotal) DESC


GO




ALTER PROCEDURE [dbo].[mp_CommerceReport_GetItemSummary]

/*
Author:   			
Created: 			2009-02-11
Last Modified: 		2013-09-10
*/

@ItemGuid uniqueidentifier

AS


SELECT 
SiteGuid,
ModuleGuid,
ItemGuid,
ModuleTitle,
ItemName,
SUM(SubTotal) AS Revenue
		
FROM
	[dbo].mp_CommerceReport
		
WHERE
		[ItemGuid] = @ItemGuid
		AND IncludeInAggregate = 1

GROUP BY 
SiteGuid,
ModuleGuid,
ItemGuid,
ModuleTitle,
ItemName


GO



ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearByModule]

/*
Author:   			
Created: 			2010-06-20
Last Modified: 		2013-09-10
*/

@ModuleGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[ModuleGuid] = @ModuleGuid
		AND IncludeInAggregate = 1

GROUP BY YEAR(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc



GO





ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthByItem]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@ItemGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[ItemGuid] = @ItemGuid
		AND IncludeInAggregate = 1

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc



GO




ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthByModule]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@ModuleGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[ModuleGuid] = @ModuleGuid
		AND IncludeInAggregate = 1

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc



GO






ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthBySite]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@SiteGuid uniqueidentifier

AS


SELECT 
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[SiteGuid] = @SiteGuid
		AND IncludeInAggregate = 1

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc



GO





ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesByYearMonthByUser]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@UserGuid uniqueidentifier

AS


SELECT TOP 13
YEAR(OrderDateUtc) As Y,
    MONTH(OrderDateUtc) As M,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[UserGuid] = @UserGuid
		AND IncludeInAggregate = 1

GROUP BY YEAR(OrderDateUtc), MONTH(OrderDateUtc)
ORDER BY YEAR(OrderDateUtc) desc, MONTH(OrderDateUtc) desc



GO







ALTER PROCEDURE [dbo].[mp_CommerceReport_Insert]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ModuleTitle nvarchar(255),
@OrderGuid uniqueidentifier,
@ItemGuid uniqueidentifier,
@ItemName nvarchar(255),
@Quantity int,
@Price decimal(15, 4),
@SubTotal decimal(15, 4),
@OrderDateUtc datetime,
@PaymentMethod nvarchar(50),
@IPAddress nvarchar(250),
@AdminOrderLink nvarchar(255),
@UserOrderLink nvarchar(255),
@RowCreatedUtc datetime,
@IncludeInAggregate bit

	
AS

INSERT INTO 	[dbo].[mp_CommerceReport] 
(
				[RowGuid],
				[SiteGuid],
				[UserGuid],
				[FeatureGuid],
				[ModuleGuid],
				[ModuleTitle],
				[OrderGuid],
				[ItemGuid],
				[ItemName],
				[Quantity],
				[Price],
				[SubTotal],
				[OrderDateUtc],
				[PaymentMethod],
				[IPAddress],
				[AdminOrderLink],
				[UserOrderLink],
				[RowCreatedUtc],
				IncludeInAggregate
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@UserGuid,
				@FeatureGuid,
				@ModuleGuid,
				@ModuleTitle,
				@OrderGuid,
				@ItemGuid,
				@ItemName,
				@Quantity,
				@Price,
				@SubTotal,
				@OrderDateUtc,
				@PaymentMethod,
				@IPAddress,
				@AdminOrderLink,
				@UserOrderLink,
				@RowCreatedUtc,
				@IncludeInAggregate
				
)


GO




ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesGroupedByModule]

/*
Author:   			
Created: 			2009-02-11
Last Modified: 		2009-02-11
*/

@SiteGuid uniqueidentifier

AS


SELECT 
ModuleGuid,
ModuleTitle,
	SUM(SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport]
		
WHERE
		[SiteGuid] = @SiteGuid
		AND IncludeInAggregate = 1

GROUP BY ModuleGuid,ModuleTitle
ORDER BY SUM(SubTotal) desc



GO





ALTER PROCEDURE [dbo].[mp_CommerceReport_GetAllTimeRevenueByModule]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@ModuleGuid uniqueidentifier

AS

SELECT 
SUM(SubTotal) 
		
FROM
		[dbo].mp_CommerceReport
		
WHERE
		[ModuleGuid] = @ModuleGuid
		AND IncludeInAggregate = 1


GO





ALTER PROCEDURE [dbo].[mp_CommerceReport_GetAllTimeRevenueBySite]

/*
Author:   			
Created: 			2009-01-30
Last Modified: 		2013-09-10
*/

@SiteGuid uniqueidentifier

AS

SELECT 
SUM(SubTotal) 
		
FROM
		[dbo].mp_CommerceReport
		
WHERE
		[SiteGuid] = @SiteGuid
		AND IncludeInAggregate = 1


GO


ALTER PROCEDURE [dbo].[mp_CommerceReport_GetSalesGroupedByUser]

/*
Author:   			
Created: 			2009-02-14
Last Modified: 		2013-09-10
*/

@SiteGuid uniqueidentifier

AS


SELECT TOP 20
c.UserGuid,
u.UserID,
COALESCE(u.[Name], 'deleted user') AS Name,
u.LoginName,
u.Email,

	SUM(c.SubTotal) As Sales,
	SUM(Quantity) As Units
		
FROM
		[dbo].[mp_CommerceReport] c

LEFT OUTER JOIN [dbo].[mp_Users] u
ON	c.UserGuid = u.UserGuid
		
WHERE
		c.[SiteGuid] = @SiteGuid
		AND c.IncludeInAggregate = 1

GROUP BY 
c.UserGuid,
u.UserID,
u.[Name],
u.LoginName,
u.Email

ORDER BY SUM(SubTotal) desc



GO








ALTER PROCEDURE [dbo].[mp_CommerceReportOrders_Insert]

/*
Author:   			
Created: 			2009-02-18
Last Modified: 		2013-09-10
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@OrderGuid uniqueidentifier,
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(50),
@BillingCompany nvarchar(255),
@BillingAddress1 nvarchar(255),
@BillingAddress2 nvarchar(255),
@BillingSuburb nvarchar(255),
@BillingCity nvarchar(255),
@BillingPostalCode nvarchar(20),
@BillingState nvarchar(255),
@BillingCountry nvarchar(255),
@PaymentMethod nvarchar(50),
@SubTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@OrderDateUtc datetime,
@AdminOrderLink nvarchar(255),
@UserOrderLink nvarchar(255),
@RowCreatedUtc datetime,
@IncludeInAggregate bit

	
AS

INSERT INTO 	[dbo].[mp_CommerceReportOrders] 
(
				[RowGuid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[UserGuid],
				[OrderGuid],
				[BillingFirstName],
				[BillingLastName],
				[BillingCompany],
				[BillingAddress1],
				[BillingAddress2],
				[BillingSuburb],
				[BillingCity],
				[BillingPostalCode],
				[BillingState],
				[BillingCountry],
				[PaymentMethod],
				[SubTotal],
				[TaxTotal],
				[ShippingTotal],
				[OrderTotal],
				[OrderDateUtc],
				[AdminOrderLink],
				[UserOrderLink],
				[RowCreatedUtc],
				IncludeInAggregate
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@UserGuid,
				@OrderGuid,
				@BillingFirstName,
				@BillingLastName,
				@BillingCompany,
				@BillingAddress1,
				@BillingAddress2,
				@BillingSuburb,
				@BillingCity,
				@BillingPostalCode,
				@BillingState,
				@BillingCountry,
				@PaymentMethod,
				@SubTotal,
				@TaxTotal,
				@ShippingTotal,
				@OrderTotal,
				@OrderDateUtc,
				@AdminOrderLink,
				@UserOrderLink,
				@RowCreatedUtc,
				@IncludeInAggregate
				
)


GO





ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectPage]

-- Author:   			
-- Created: 			2009-10-11
-- Last Modified: 		2013-08-23

@LetterInfoGuid			uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] uniqueidentifier
)

BEGIN

INSERT INTO #PageIndex ( 
[Guid]
)

SELECT
		ls.[Guid]
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN		[dbo].mp_Users u
ON		ls.UserGuid = u.UserGuid
		
WHERE		ls.[LetterInfoGuid] = @LetterInfoGuid

ORDER BY	ls.BeginUtc DESC

END



SELECT
		t1.[Guid],
		t1.[SiteGuid],
		t1.[LetterInfoGuid],
		t1.[UserGuid],
		t1.[IsVerified],
		t1.[VerifyGuid],
		t1.[BeginUtc],
		t1.[UseHtml],
		t1.[IpAddress],
		COALESCE(u.Email, t1.[Email]) As Email,
		COALESCE(u.[Name], t1.[Email]) As [Name],
		u.[Email] As UserEmail,
		u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] t1
		
LEFT OUTER JOIN		[dbo].mp_Users u
ON		t1.UserGuid = u.UserGuid

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex



GO

