SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




ALTER PROCEDURE [dbo].[mp_Pages_SelectPendingPageListPage]


/*
Author:   			Kevin Needham
Created: 			2009-06-19
Last Modified: 		2009-07-22
*/

@SiteGuid	uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT	[PageGuid]		
FROM	[dbo].[mp_Pages]		
WHERE	SiteGuid = @SiteGuid
AND		IsPending = 1

ORDER BY
		PageName 

END

SELECT  p.*,
		COALESCE(wip.Total,0) as WipCount    
FROM    [dbo].mp_Pages p
JOIN	#PageIndex idx
ON		p.[PageGuid] = idx.[Guid]
LEFT OUTER JOIN			
	(	SELECT	Count(*) as Total,
				pm.PageGuid
		FROM	[dbo].mp_PageModules pm
		INNER JOIN [dbo].mp_ContentWorkflow cw
			ON cw.ModuleGuid = pm.ModuleGuid			
		WHERE	[Status] Not In ('Cancelled','Approved') 
		GROUP BY pm.PageGuid ) as wip
	ON	wip.PageGuid = p.PageGuid
WHERE
		idx.IndexID > @PageLowerBound 
		AND idx.IndexID < @PageUpperBound
ORDER BY p.PageName




GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER Procedure [dbo].[mp_Pages_SelectPendingPageCount]

/*
Author:   			Kevin Needham
Created: 			2009-06-19
Last Modified: 		2009-07-20
*/

@SiteGuid uniqueidentifier

As

Select	Count(*)
From	[dbo].mp_Pages
Where	
	SiteGuid = @SiteGuid
	AND IsPending = 1
	

GO
