INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('TimeZoneId','Eastern Standard Time','Settings', 100)

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_SiteModuleDefinitions_DeleteByFeature]


/*
Author:			
Created:		2010-03-17
Last Modified:	2010-03-17

*/


@ModuleDefID	int


AS

DELETE FROM mp_SiteModuleDefinitions
WHERE	
		ModuleDefID = @ModuleDefID

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO






