SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_ModuleDefinitions_Select]

    
@SiteGuid  uniqueidentifier


AS

SELECT   	md.*,
smd.AuthorizedRoles

FROM		mp_ModuleDefinitions md

JOIN		mp_SiteModuleDefinitions smd
ON		smd.FeatureGuid = md.[Guid]
    
WHERE   	smd.SiteGuid = @SiteGuid

ORDER BY 	md.SortOrder, md.FeatureName

GO

ALTER PROCEDURE [dbo].[mp_ModuleDefinitions_SelectUserModules]

    
@SiteID  int


AS

SELECT   		md.*,
smd.AuthorizedRoles

FROM			mp_ModuleDefinitions md

JOIN			mp_SiteModuleDefinitions smd
ON			smd.ModuleDefID = md.ModuleDefID
    
WHERE   		smd.SiteID = @SiteID
			AND md.IsAdmin = 0

ORDER BY 		md.SortOrder, md.FeatureName

GO


