SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_GetUserRoles]



@SiteID	int,
@UserID       	int

AS

SELECT  
    		mp_Roles.RoleName,
    		mp_Roles.DisplayName,
    		mp_Roles.RoleID

FROM		 mp_UserRoles
  
INNER JOIN 	mp_Users 
ON 		mp_UserRoles.UserID = mp_Users.UserID

INNER JOIN 	mp_Roles 
ON 		mp_UserRoles.RoleID = mp_Roles.RoleID


WHERE   	mp_Users.SiteID = @SiteID
		AND mp_UserRoles.UserID = @UserID

GO

