SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[mp_Users_SelectAdminSearchPage]

/*
Author:			
Created:		2010-02-03
Last Modified:	2010-02-03

*/

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
		ORDER BY 	[Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
				AND (
				(Email LIKE '%' + @SearchInput + '%')
				OR ([Name]  LIKE '%' + @SearchInput + '%')
				OR ([LoginName]  LIKE '%' + @SearchInput + '%')
				)
				
				
		ORDER BY 	[Name]

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers



GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[mp_Users_CountForAdminSearch]

/*
Author:			
Created:		2010-02-03
Last Modified:	2010-02-03

*/

@SiteID		int,
@SearchInput 		nvarchar(50)

AS

SELECT  	COUNT(*)

FROM		mp_Users

WHERE	SiteID = @SiteID
AND (
		(Email LIKE '%' + @SearchInput + '%')
		OR ([Name]  LIKE '%' + @SearchInput + '%')
		OR ([LoginName]  LIKE '%' + @SearchInput + '%')
	)


GO


SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




ALTER PROCEDURE [dbo].[mp_Users_CountForSearch]

/*
Author:			
Created:		2009-05-03
Last Modified:	2010-02-03

*/

@SiteID		int,
@SearchInput 		nvarchar(50)

AS

SELECT  	COUNT(*)

FROM		mp_Users

WHERE	SiteID = @SiteID
AND (
		([Name]  LIKE '%' + @SearchInput + '%')
		OR ([LoginName]  LIKE '%' + @SearchInput + '%')
	)


GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




ALTER PROCEDURE [dbo].[mp_Users_SelectSearchPage]

/*
Author:			
Created:		2009-05-03
Last Modified:	2010-02-03

*/

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
		ORDER BY 	[Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
				AND (
				 ([Name]  LIKE '%' + @SearchInput + '%')
				OR ([LoginName]  LIKE '%' + @SearchInput + '%')
				)
				
				
		ORDER BY 	[Name]

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers



GO

