CREATE NONCLUSTERED INDEX [IX_mp_SavedQName] ON [dbo].[mp_SavedQuery] 
(
	[Name] ASC
) ON [PRIMARY]
GO




SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[mp_ModuleSettings_SyncDefinitions]

AS

UPDATE mp_ModuleSettings
SET ControlSrc = (SELECT TOP 1 mds.ControlSrc
				FROM mp_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefID IN (SELECT ModuleDefID
										FROM mp_Modules m
										WHERE m.ModuleID = mp_ModuleSettings.ModuleID)
				AND mds.SettingName = mp_ModuleSettings.SettingName
				)

UPDATE mp_ModuleSettings
SET ControlType = (SELECT TOP 1 mds.ControlType
				FROM mp_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefID IN (SELECT ModuleDefID
										FROM mp_Modules m
										WHERE m.ModuleID = mp_ModuleSettings.ModuleID)
				AND mds.SettingName = mp_ModuleSettings.SettingName
				)

UPDATE mp_ModuleSettings
SET SortOrder = COALESCE((SELECT TOP 1 mds.SortOrder
				FROM mp_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefID IN (SELECT ModuleDefID
										FROM mp_Modules m
										WHERE m.ModuleID = mp_ModuleSettings.ModuleID)
				AND mds.SettingName = mp_ModuleSettings.SettingName
				),9000)

UPDATE ms
SET ms.RegexValidationExpression = mds.RegexValidationExpression
FROM mp_ModuleSettings ms
JOIN mp_Modules m
ON ms.ModuleID = m.ModuleID
JOIN mp_ModuleDefinitionSettings mds
ON ms.SettingName = mds.SettingName
AND m.ModuleDefID = mds.ModuleDefID


UPDATE mp_ModuleSettings
SET HelpKey = (SELECT TOP 1 mds.HelpKey
				FROM mp_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefID IN (SELECT ModuleDefID
										FROM mp_Modules m
										WHERE m.ModuleID = mp_ModuleSettings.ModuleID)
				AND mds.SettingName = mp_ModuleSettings.SettingName
				)


GO





