
INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PrivacyPolicyUrl','/privacy.aspx','General', 100)


SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[mp_BannedIPAddresses_SelectByIP]

/*
Author:   			
Created: 			2009-05-12
Last Modified: 		2009-05-12
*/

@BannedIP nvarchar(50)

AS


SELECT	*
		
FROM
		[dbo].[mp_BannedIPAddresses]
		
WHERE
		[BannedIP] = @BannedIP

GO

