SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Sites_SelectAll]

/*
Author:   			
Created: 			2005-03-07
Last Modified: 		2009-11-11

*/

AS
SELECT
		*
		
FROM
		[dbo].[mp_Sites]
		
ORDER BY SiteName

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectPage]

-- Author:   			
-- Created: 			2009-10-11
-- Last Modified: 		2009-11-21

@LetterInfoGuid			uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] uniqueidentifier
)

BEGIN

INSERT INTO #PageIndex ( 
[Guid]
)

SELECT
		ls.[Guid]
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN		mp_Users u
ON		ls.UserGuid = u.UserGuid
		
WHERE		ls.[LetterInfoGuid] = @LetterInfoGuid

ORDER BY	u.[Name]

END



SELECT
		t1.[Guid],
		t1.[SiteGuid],
		t1.[LetterInfoGuid],
		t1.[UserGuid],
		t1.[IsVerified],
		t1.[VerifyGuid],
		t1.[BeginUtc],
		t1.[UseHtml],
		t1.[IpAddress],
		COALESCE(u.Email, t1.[Email]) As Email,
		COALESCE(u.[Name], t1.[Email]) As [Name],
		u.[Email] As UserEmail
		
FROM
		[dbo].[mp_LetterSubscribe] t1
		
LEFT OUTER JOIN		mp_Users u
ON		t1.UserGuid = u.UserGuid

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO




ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectUnsentByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-11-21
*/

@LetterGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier

AS


SELECT
		ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
		COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND ls.IsVerified = 1
		AND ls.[Guid] NOT IN ( SELECT [SubscribeGuid]
									FROM	[dbo].[mp_LetterSendLog]
									WHERE [LetterGuid] = @LetterGuid )


GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




ALTER PROCEDURE [dbo].[mp_LetterSubscribe_Search]

/*
Author:   			
Created: 			2009-10-29
Last Modified: 		2009-11-21
*/

@LetterInfoGuid uniqueidentifier,
@EmailOrIpAddress nvarchar(100)

AS


SELECT	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,

	u.[Email] AS UserEmail,
		COALESCE(u.[Name], ls.[Email]) AS [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN

		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND (
				(ls.Email LIKE '%' + @EmailOrIpAddress + '%')
				OR (u.Email LIKE '%' + @EmailOrIpAddress + '%')
				OR (ls.[IpAddress]  LIKE '%' + @EmailOrIpAddress + '%')
				
				)


GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByEmail]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-11-21
*/

@SiteGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ((ls.Email = @Email) OR (u.Email = @Email))


GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-11-21
*/

@LetterInfoGuid uniqueidentifier

AS


SELECT	
	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	u.[Email] AS UserEmail,
		COALESCE(u.[Name], ls.[Email]) AS [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN

		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByLetterAndEmail]

/*
Author:   			
Created: 			2009-10-28
Last Modified: 		2009-11-21
*/

@SiteGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT	
	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ls.LetterInfoGuid = @LetterInfoGuid
		AND ((ls.Email = @Email) OR (u.Email = @Email))



GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByUser]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-11-21
*/

@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS


SELECT	

	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ls.UserGuid = @UserGuid

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectOne]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2009-11-21
*/

@Guid uniqueidentifier

AS


SELECT	

	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name]
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[Guid] = @Guid

GO


