INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('LoginInfoTop','','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('LoginInfoBottom','','Settings', 100)

GO

CREATE NONCLUSTERED INDEX [IX_UserRolesRoleID] ON [dbo].[mp_UserRoles] 
(
	[RoleID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

ALTER PROCEDURE [dbo].[mp_Roles_Select]

/*
Last Modified:		2012-04-10 

*/
    
@SiteID  int

AS

SELECT  
r.RoleID,
r.SiteID,
r.RoleName,
r.DisplayName,
r.SiteGuid,
r.RoleGuid,
COUNT(ur.UserID) As MemberCount

FROM		[dbo].mp_Roles r

LEFT OUTER JOIN [dbo].mp_UserRoles ur
ON		ur.RoleID = r.RoleID

WHERE   	r.SiteID = @SiteID

GROUP BY
r.RoleID,
r.SiteID,
r.RoleName,
r.DisplayName,
r.SiteGuid,
r.RoleGuid

ORDER BY r.DisplayName


GO



