DROP PROCEDURE [dbo].[mp_Pages_SelectTree]

DROP PROCEDURE [dbo].[mp_Pages_SelectTreeForModule]

DROP TABLE [dbo].mp_LetterSubscriber  
GO

DROP TABLE [dbo].mp_LetterSubscriberHx  
GO


ALTER TABLE [dbo].mp_Pages ADD
	CanonicalOverride nvarchar(255) NULL 

GO

ALTER TABLE [dbo].mp_Pages ADD
	IncludeInSearchMap bit NULL 

GO

ALTER TABLE [dbo].mp_Sites ADD
	DisableDbAuth bit NULL 

GO

	
UPDATE [dbo].mp_Pages
SET IncludeInSearchMap = 1


UPDATE [dbo].mp_Sites
SET DisableDbAuth = 0

GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Pages_Insert]

/*
Author:			
Created:		2004-11-17
Last Modified:	2009-10-16

*/

@SiteID   		int,
@ParentID		int,
@PageName    		nvarchar(255),
@PageOrder   		int,
@AuthorizedRoles 	ntext,
@EditRoles		ntext,
@DraftEditRoles ntext,
@CreateChildPageRoles ntext,
@RequireSSL		bit,
@ShowBreadcrumbs 	bit,
@ShowChildPageBreadcrumbs 	bit,
@PageKeyWords	nvarchar(255),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle    		nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@PageGuid	uniqueidentifier,
@ParentGuid uniqueidentifier,
@HideAfterLogin	bit,
@SiteGuid	uniqueidentifier,
@CompiledMeta		ntext,
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit

AS
INSERT INTO 		mp_Pages
(
    			SiteID,
			ParentID,
    			PageName,
				PageTitle,
    			PageOrder,
			AuthorizedRoles,
			EditRoles,
			DraftEditRoles,
			CreateChildPageRoles,
    			RequireSSL,
			AllowBrowserCache,
    			ShowBreadcrumbs,
			ShowChildBreadCrumbs,
    			PageKeyWords,
			PageDescription,
			PageEncoding,
			AdditionalMetaTags,
			UseUrl,
			Url,
			OpenInNewWindow,
			ShowChildPageMenu,
			HideMainMenu,
			Skin,
			IncludeInMenu,
			MenuImage,
			ChangeFrequency,
			SiteMapPriority,
			LastModifiedUTC,
			PageGuid,
			ParentGuid,
			HideAfterLogin,
			SiteGuid,
			CompiledMeta,
			CompiledMetaUtc,
			IncludeInSiteMap,
			IsClickable,
			ShowHomeCrumb,
			IsPending,
			CanonicalOverride,
			IncludeInSearchMap
)

VALUES
(
    			@SiteID,
			@ParentID,
    			@PageName,
				@PageTitle,
    			@PageOrder,
			@AuthorizedRoles,
			@EditRoles,
			@DraftEditRoles,
			@CreateChildPageRoles,
    			@RequireSSL,
			@AllowBrowserCache,
    			@ShowBreadcrumbs,
			@ShowChildPageBreadcrumbs,
			@PageKeyWords,
			@PageDescription,
			@PageEncoding,
			@AdditionalMetaTags,
			@UseUrl,
			@Url,
			@OpenInNewWindow,
			@ShowChildPageMenu,
			@HideMainMenu,
			@Skin,
			@IncludeInMenu,
			@MenuImage,
			@ChangeFrequency,
			@SiteMapPriority,
			@LastModifiedUTC,
			@PageGuid,
			@ParentGuid,
			@HideAfterLogin,
			@SiteGuid,
			@CompiledMeta,
			@CompiledMetaUtc,
			@IncludeInSiteMap,
			@IsClickable,
			@ShowHomeCrumb,
			@IsPending,
			@CanonicalOverride,
			@IncludeInSearchMap
)

SELECT  @@Identity As PageID

SET ANSI_NULLS OFF

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Pages_Update]

/*
Author:			
Last Modified:		2009-10-16

*/


@SiteID        		int,
@PageID           	int,
@ParentID		int,
@PageOrder        	int,
@PageName         	nvarchar(255),
@AuthorizedRoles 	ntext,
@EditRoles		ntext,
@DraftEditRoles		ntext,
@CreateChildPageRoles ntext,
@RequireSSL		bit,
@ShowBreadcrumbs	bit,
@ShowChildPageBreadcrumbs bit,
@PageKeyWords	nvarchar(255),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle         	nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@ParentGuid uniqueidentifier,
@HideAfterLogin bit,
@CompiledMeta		ntext,
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit


AS
UPDATE
    mp_Pages

SET
	ParentID = @ParentID,
    	PageOrder = @PageOrder,
    	PageName = @PageName,
		PageTitle = @PageTitle,
    	AuthorizedRoles = @AuthorizedRoles,
	EditRoles = @EditRoles,
	DraftEditRoles = @DraftEditRoles,
	CreateChildPageRoles = @CreateChildPageRoles,
    	RequireSSL = @RequireSSL,
	AllowBrowserCache = @AllowBrowserCache,
	ShowBreadcrumbs = @ShowBreadcrumbs,
	ShowChildBreadCrumbs = @ShowChildPageBreadcrumbs,
	PageKeyWords = @PageKeyWords,
	PageDescription = @PageDescription,
	PageEncoding = @PageEncoding,
	AdditionalMetaTags = @AdditionalMetaTags,
	UseUrl = @UseUrl,
	Url = @Url,
	OpenInNewWindow = @OpenInNewWindow,
	ShowChildPageMenu = @ShowChildPageMenu,
	HideMainMenu = @HideMainMenu,
	Skin = @Skin,
	IncludeInMenu = @IncludeInMenu,
	MenuImage = @MenuImage,
	ChangeFrequency = @ChangeFrequency,
	SiteMapPriority = @SiteMapPriority,
	LastModifiedUTC = @LastModifiedUTC,
	ParentGuid = @ParentGuid,
	HideAfterLogin = @HideAfterLogin,
	CompiledMeta = @CompiledMeta,
	CompiledMetaUtc = @CompiledMetaUtc,
	IncludeInSiteMap = @IncludeInSiteMap,
	IsClickable = @IsClickable,
	ShowHomeCrumb = @ShowHomeCrumb,
	IsPending = @IsPending,
	CanonicalOverride = @CanonicalOverride,
	IncludeInSearchMap = @IncludeInSearchMap

WHERE
    PageID = @PageID

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Sites_Insert]

/*
Author:   			
Created: 			2005/03/07
Last Modified: 		2009-1016

*/


@SiteName 				nvarchar(255),
@Skin 					nvarchar(100),
@Logo 					nvarchar(50),
@Icon 					nvarchar(50),
@AllowUserSkins 			bit,
@AllowNewRegistration 			bit,
@UseSecureRegistration 		bit,
@UseSSLOnAllPages 			bit,
@DefaultPageKeyWords 		nvarchar(255),
@DefaultPageDescription 		nvarchar(255),
@DefaultPageEncoding 			nvarchar(255),
@DefaultAdditionalMetaTags 		nvarchar(255),
@IsServerAdminSite 			bit,
@AllowPageSkins			bit,
@AllowHideMenuOnPages		bit,
@UseLdapAuth				bit,
@AutoCreateLdapUserOnFirstLogin	bit,
@LdapServer				nvarchar(255),
@LdapPort				int,
@LdapDomain				nvarchar(255),
@LdapRootDN				nvarchar(255),
@LdapUserDNKey			nvarchar(10),
@AllowUserFullNameChange		bit,
@UseEmailForLogin			bit,
@ReallyDeleteUsers			bit,
@EditorSkin				nvarchar(50),
@DefaultFriendlyUrlPatternEnum		nvarchar(50),
@SiteGuid					uniqueidentifier,
@EnableMyPageFeature 			bit,
@EditorProvider				nvarchar(255),
@DatePickerProvider				nvarchar(255),
@CaptchaProvider				nvarchar(255),
@RecaptchaPrivateKey				nvarchar(255),
@RecaptchaPublicKey				nvarchar(255),
@WordpressAPIKey				nvarchar(255),
@WindowsLiveAppID				nvarchar(255),
@WindowsLiveKey				nvarchar(255),
@AllowOpenIDAuth			bit,
@AllowWindowsLiveAuth		bit,
@GmapApiKey 				nvarchar(255),
@ApiKeyExtra1 				nvarchar(255),
@ApiKeyExtra2 				nvarchar(255),
@ApiKeyExtra3 				nvarchar(255),
@ApiKeyExtra4 				nvarchar(255),
@ApiKeyExtra5 				nvarchar(255),
@DisableDbAuth bit


	
AS
INSERT INTO 	[dbo].[mp_Sites] 
(
				
				[SiteName],
				[Skin],
				[Logo],
				[Icon],
				[AllowUserSkins],
				[AllowNewRegistration],
				[UseSecureRegistration],
				[UseSSLOnAllPages],
				[DefaultPageKeyWords],
				[DefaultPageDescription],
				[DefaultPageEncoding],
				[DefaultAdditionalMetaTags],
				[IsServerAdminSite],
				AllowPageSkins,
				AllowHideMenuOnPages,
				UseLdapAuth,
				AutoCreateLdapUserOnFirstLogin,
				LdapServer,
				LdapPort,
				LdapDomain,
				LdapRootDN,
				LdapUserDNKey,
				ReallyDeleteUsers,
				UseEmailForLogin,
				AllowUserFullNameChange,
				EditorSkin,
				DefaultFriendlyUrlPatternEnum,
				SiteGuid,
				EnableMyPageFeature,
				EditorProvider,
				DatePickerProvider,
				CaptchaProvider,
				RecaptchaPrivateKey,
				RecaptchaPublicKey,
				WordpressAPIKey,
				WindowsLiveAppID,
				WindowsLiveKey,
				AllowOpenIDAuth,
				AllowWindowsLiveAuth,
				GmapApiKey,
				ApiKeyExtra1,
				ApiKeyExtra2,
				ApiKeyExtra3,
				ApiKeyExtra4,
				ApiKeyExtra5,
				DisableDbAuth
) 

VALUES 
(
				
				@SiteName,
				@Skin,
				@Logo,
				@Icon,
				@AllowUserSkins,
				@AllowNewRegistration,
				@UseSecureRegistration,
				@UseSSLOnAllPages,
				@DefaultPageKeyWords,
				@DefaultPageDescription,
				@DefaultPageEncoding,
				@DefaultAdditionalMetaTags,
				@IsServerAdminSite,
				@AllowPageSkins,
				@AllowHideMenuOnPages,
				@UseLdapAuth,
				@AutoCreateLdapUserOnFirstLogin,
				@LdapServer,
				@LdapPort,
				@LdapDomain,
				@LdapRootDN,
				@LdapUserDNKey,
				@ReallyDeleteUsers,
				@UseEmailForLogin,
				@AllowUserFullNameChange,
				@EditorSkin,
				@DefaultFriendlyUrlPatternEnum,
				@SiteGuid,
				@EnableMyPageFeature,
				@EditorProvider,
				@DatePickerProvider,
				@CaptchaProvider,
				@RecaptchaPrivateKey,
				@RecaptchaPublicKey,
				@WordpressAPIKey,
				@WindowsLiveAppID,
				@WindowsLiveKey,
				@AllowOpenIDAuth,
				@AllowWindowsLiveAuth,
				@GmapApiKey,
				@ApiKeyExtra1,
				@ApiKeyExtra2,
				@ApiKeyExtra3,
				@ApiKeyExtra4,
				@ApiKeyExtra5,
				@DisableDbAuth
				
)
SELECT @@IDENTITY

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Sites_Update]

/*
Author:		
Last Modified:	2009-10-16

*/

@SiteID           			int,
@SiteName         		nvarchar(128),
@Skin				nvarchar(100),
@Logo				nvarchar(50),
@Icon				nvarchar(50),
@AllowNewRegistration		bit,
@AllowUserSkins		bit,
@UseSecureRegistration	bit,
@UseSSLOnAllPages		bit,
@DefaultPageKeywords		nvarchar(255),
@DefaultPageDescription	nvarchar(255),
@DefaultPageEncoding		nvarchar(255),
@DefaultAdditionalMetaTags	nvarchar(255),
@IsServerAdminSite		bit,
@AllowPageSkins		bit,
@AllowHideMenuOnPages	bit,
@UseLdapAuth				bit,
@AutoCreateLdapUserOnFirstLogin	bit,
@LdapServer				nvarchar(255),
@LdapPort				int,
@LdapRootDN				nvarchar(255),
@LdapUserDNKey			nvarchar(10),
@AllowUserFullNameChange		bit,
@UseEmailForLogin			bit,
@ReallyDeleteUsers			bit,
@EditorSkin				nvarchar(50),
@DefaultFriendlyUrlPatternEnum		nvarchar(50),
@EnableMyPageFeature		bit,
@LdapDomain				nvarchar(255),
@EditorProvider				nvarchar(255),
@DatePickerProvider				nvarchar(255),
@CaptchaProvider				nvarchar(255),
@RecaptchaPrivateKey				nvarchar(255),
@RecaptchaPublicKey				nvarchar(255),
@WordpressAPIKey				nvarchar(255),
@WindowsLiveAppID				nvarchar(255),
@WindowsLiveKey				nvarchar(255),
@AllowOpenIDAuth			bit,
@AllowWindowsLiveAuth		bit,
@GmapApiKey 				nvarchar(255),
@ApiKeyExtra1 				nvarchar(255),
@ApiKeyExtra2 				nvarchar(255),
@ApiKeyExtra3 				nvarchar(255),
@ApiKeyExtra4 				nvarchar(255),
@ApiKeyExtra5 				nvarchar(255),
@DisableDbAuth bit
	
AS
UPDATE	mp_Sites

SET
    	SiteName = @SiteName,
	Skin = @Skin,
	Logo = @Logo,
	Icon = @Icon,
	AllowNewRegistration = @AllowNewRegistration,
	AllowUserSkins = @AllowUserSkins,
	UseSecureRegistration = @UseSecureRegistration,
	UseSSLOnAllPages = @UseSSLOnAllPages,
	DefaultPageKeyWords = @DefaultPageKeywords,
	DefaultPageDescription = @DefaultPageDescription,
	DefaultPageEncoding = @DefaultPageEncoding,
	DefaultAdditionalMetaTags = @DefaultAdditionalMetaTags,
	IsServerAdminSite = @IsServerAdminSite,
	AllowPageSkins = @AllowPageSkins,
	AllowHideMenuOnPages = @AllowHideMenuOnPages,
	UseLdapAuth = @UseLdapAuth,
	AutoCreateLdapUserOnFirstLogin = @AutoCreateLdapUserOnFirstLogin,
	LdapServer = @LdapServer,
	LdapPort = @LdapPort,
    LdapDomain = @LdapDomain,
	LdapRootDN = @LdapRootDN,
	LdapUserDNKey = @LdapUserDNKey,
	AllowUserFullNameChange = @AllowUserFullNameChange,
	UseEmailForLogin = @UseEmailForLogin,
	ReallyDeleteUsers = @ReallyDeleteUsers,
	EditorSkin = @EditorSkin,
	DefaultFriendlyUrlPatternEnum = @DefaultFriendlyUrlPatternEnum,
	EnableMyPageFeature = @EnableMyPageFeature,
	EditorProvider = @EditorProvider,
	DatePickerProvider = @DatePickerProvider,
	CaptchaProvider = @CaptchaProvider,
	RecaptchaPrivateKey = @RecaptchaPrivateKey,
	RecaptchaPublicKey = @RecaptchaPublicKey,
	WordpressAPIKey = @WordpressAPIKey,
	WindowsLiveAppID = @WindowsLiveAppID,
	WindowsLiveKey = @WindowsLiveKey,
	AllowOpenIDAuth = @AllowOpenIDAuth,
	AllowWindowsLiveAuth = @AllowWindowsLiveAuth,
	GmapApiKey = @GmapApiKey,
	ApiKeyExtra1 = @ApiKeyExtra1,
	ApiKeyExtra2 = @ApiKeyExtra2,
	ApiKeyExtra3 = @ApiKeyExtra3,
	ApiKeyExtra4 = @ApiKeyExtra4,
	ApiKeyExtra5 = @ApiKeyExtra5,
	DisableDbAuth = @DisableDbAuth

WHERE
    	SiteID = @SiteID

GO



