ALTER TABLE [dbo].mp_Users ADD
	Pwd nvarchar(1000) NULL 
GO

ALTER TABLE [dbo].mp_Users ADD
	MustChangePwd bit NULL 	
	
GO



ALTER TABLE [dbo].mp_Pages ADD
	EnableComments bit NULL 	
	
GO

UPDATE [dbo].mp_Users
SET MustChangePwd = 0, Pwd = Password

UPDATE [dbo].mp_Pages
SET EnableComments = 0

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CommentProvider','intensedebate','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('IntenseDebateAccountId','','APIKeys', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('DisqusSiteShortName','','APIKeys', 100)


GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[mp_Users_Insert]

/*
Author:			
Created:		2004-09-30
Last Modified:	2009-12-09

*/

@SiteGuid	uniqueidentifier,
@SiteID	int,
@Name     	nvarchar(50),
@LoginName	nvarchar(50),
@Email    	nvarchar(100),
@Password 	nvarchar(1000),
@UserGuid	uniqueidentifier,
@DateCreated datetime,
@MustChangePwd bit


AS
INSERT INTO 		mp_Users
(
		SiteGuid,
			SiteID,
    			[Name],
			LoginName,
    			Email,
    			[Pwd],
			UserGuid,
			DateCreated,
			TotalRevenue,
			MustChangePwd
	

)

VALUES
(
			@SiteGuid,
			@SiteID,
    			@Name,
			@LoginName,
    			@Email,
    			@Password,
			@UserGuid,
			@DateCreated,
			0,
			@MustChangePwd
)

SELECT		@@Identity As UserID

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_Update]

/*
Author:			
Created:		2004-09-30
Last Modified:	2009-12-09

*/

    
@UserID        			int,   
@Name				nvarchar(100),
@LoginName			nvarchar(50),
@Email           			nvarchar(100),   
@Password    			nvarchar(1000),
@Gender			nchar(1),
@ProfileApproved		bit,
@ApprovedForForums		bit,
@Trusted			bit,
@DisplayInMemberList		bit,
@WebSiteURL			nvarchar(100),
@Country			nvarchar(100),
@State				nvarchar(100),
@Occupation			nvarchar(100),
@Interests			nvarchar(100),
@MSN				nvarchar(50),
@Yahoo			nvarchar(50),
@AIM				nvarchar(50),
@ICQ				nvarchar(50),
@AvatarUrl			nvarchar(255),
@Signature			nvarchar(255),
@Skin				nvarchar(100),
@LoweredEmail		nvarchar(100),
@PasswordQuestion		nvarchar(255),
@PasswordAnswer		nvarchar(255),
@Comment		ntext,
@TimeOffsetHours	int,
@OpenIDURI			nvarchar(255),
@WindowsLiveID			nvarchar(255),
@MustChangePwd bit



AS
UPDATE		mp_Users

SET			[Name] = @Name,
			LoginName = @LoginName,
			Email = @Email,
    			[Pwd] = @Password,
    			MustChangePwd = @MustChangePwd,
			Gender = @Gender,
			ProfileApproved = @ProfileApproved,
			ApprovedForForums = @ApprovedForForums,
			Trusted = @Trusted,
			DisplayInMemberList = @DisplayInMemberList,
			WebSiteURL = @WebSiteURL,
			Country = @Country,
			[State] = @State,
			Occupation = @Occupation,
			Interests = @Interests,
			MSN = @MSN,
			Yahoo = @Yahoo,
			AIM = @AIM,
			ICQ = @ICQ,
			AvatarUrl = @AvatarUrl,
			[Signature] = @Signature,
			Skin = @Skin,
			LoweredEmail = @LoweredEmail,
			PasswordQuestion = @PasswordQuestion,
			PasswordAnswer = @PasswordAnswer,
			Comment = @Comment,
			TimeOffsetHours = @TimeOffsetHours,
			OpenIDURI = @OpenIDURI,
			WindowsLiveID = @WindowsLiveID
			
WHERE		UserID = @UserID

GO



SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_Select]


@SiteID		int

AS
SELECT  
    UserID,
	LoginName,
    Email,
	Pwd

FROM
    mp_Users

WHERE SiteID = @SiteID
    
ORDER BY Email

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[mp_Users_Login]

   
@SiteID	int, 
@LoginName    	nvarchar(50), 
@Password 	nvarchar(1000), 
@UserName 	nvarchar(100) OUTPUT

AS
SELECT
    @UserName = Name

FROM
    mp_Users

WHERE
		SiteID = @SiteID
    		AND LoginName = @LoginName
  		AND [Pwd] = @Password

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO




ALTER Procedure [dbo].[mp_Users_LoginByEmail]

   
@SiteID	int, 
@Email    	nvarchar(100), 
@Password 	nvarchar(1000), 
@UserName 	nvarchar(100) OUTPUT

AS

SELECT
    @UserName = Name

FROM
    mp_Users

WHERE
		SiteID = @SiteID
    		AND Email = @Email
  		AND [Pwd] = @Password

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Pages_Insert]

/*
Author:			
Created:		2004-11-17
Last Modified:	2009-12-09

*/

@SiteID   		int,
@ParentID		int,
@PageName    		nvarchar(255),
@PageOrder   		int,
@AuthorizedRoles 	ntext,
@EditRoles		ntext,
@DraftEditRoles ntext,
@CreateChildPageRoles ntext,
@RequireSSL		bit,
@ShowBreadcrumbs 	bit,
@ShowChildPageBreadcrumbs 	bit,
@PageKeyWords	nvarchar(255),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle    		nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@PageGuid	uniqueidentifier,
@ParentGuid uniqueidentifier,
@HideAfterLogin	bit,
@SiteGuid	uniqueidentifier,
@CompiledMeta		ntext,
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit

AS
INSERT INTO 		mp_Pages
(
    			SiteID,
			ParentID,
    			PageName,
				PageTitle,
    			PageOrder,
			AuthorizedRoles,
			EditRoles,
			DraftEditRoles,
			CreateChildPageRoles,
    			RequireSSL,
			AllowBrowserCache,
    			ShowBreadcrumbs,
			ShowChildBreadCrumbs,
    			PageKeyWords,
			PageDescription,
			PageEncoding,
			AdditionalMetaTags,
			UseUrl,
			Url,
			OpenInNewWindow,
			ShowChildPageMenu,
			HideMainMenu,
			Skin,
			IncludeInMenu,
			MenuImage,
			ChangeFrequency,
			SiteMapPriority,
			LastModifiedUTC,
			PageGuid,
			ParentGuid,
			HideAfterLogin,
			SiteGuid,
			CompiledMeta,
			CompiledMetaUtc,
			IncludeInSiteMap,
			IsClickable,
			ShowHomeCrumb,
			IsPending,
			CanonicalOverride,
			IncludeInSearchMap,
			EnableComments
)

VALUES
(
    			@SiteID,
			@ParentID,
    			@PageName,
				@PageTitle,
    			@PageOrder,
			@AuthorizedRoles,
			@EditRoles,
			@DraftEditRoles,
			@CreateChildPageRoles,
    			@RequireSSL,
			@AllowBrowserCache,
    			@ShowBreadcrumbs,
			@ShowChildPageBreadcrumbs,
			@PageKeyWords,
			@PageDescription,
			@PageEncoding,
			@AdditionalMetaTags,
			@UseUrl,
			@Url,
			@OpenInNewWindow,
			@ShowChildPageMenu,
			@HideMainMenu,
			@Skin,
			@IncludeInMenu,
			@MenuImage,
			@ChangeFrequency,
			@SiteMapPriority,
			@LastModifiedUTC,
			@PageGuid,
			@ParentGuid,
			@HideAfterLogin,
			@SiteGuid,
			@CompiledMeta,
			@CompiledMetaUtc,
			@IncludeInSiteMap,
			@IsClickable,
			@ShowHomeCrumb,
			@IsPending,
			@CanonicalOverride,
			@IncludeInSearchMap,
			@EnableComments
)

SELECT  @@Identity As PageID

SET ANSI_NULLS OFF


GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Pages_Update]

/*
Author:			
Last Modified:		2009-12-09

*/


@SiteID        		int,
@PageID           	int,
@ParentID		int,
@PageOrder        	int,
@PageName         	nvarchar(255),
@AuthorizedRoles 	ntext,
@EditRoles		ntext,
@DraftEditRoles		ntext,
@CreateChildPageRoles ntext,
@RequireSSL		bit,
@ShowBreadcrumbs	bit,
@ShowChildPageBreadcrumbs bit,
@PageKeyWords	nvarchar(255),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle         	nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@ParentGuid uniqueidentifier,
@HideAfterLogin bit,
@CompiledMeta		ntext,
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit


AS
UPDATE
    mp_Pages

SET
	ParentID = @ParentID,
    	PageOrder = @PageOrder,
    	PageName = @PageName,
		PageTitle = @PageTitle,
    	AuthorizedRoles = @AuthorizedRoles,
	EditRoles = @EditRoles,
	DraftEditRoles = @DraftEditRoles,
	CreateChildPageRoles = @CreateChildPageRoles,
    	RequireSSL = @RequireSSL,
	AllowBrowserCache = @AllowBrowserCache,
	ShowBreadcrumbs = @ShowBreadcrumbs,
	ShowChildBreadCrumbs = @ShowChildPageBreadcrumbs,
	PageKeyWords = @PageKeyWords,
	PageDescription = @PageDescription,
	PageEncoding = @PageEncoding,
	AdditionalMetaTags = @AdditionalMetaTags,
	UseUrl = @UseUrl,
	Url = @Url,
	OpenInNewWindow = @OpenInNewWindow,
	ShowChildPageMenu = @ShowChildPageMenu,
	HideMainMenu = @HideMainMenu,
	Skin = @Skin,
	IncludeInMenu = @IncludeInMenu,
	MenuImage = @MenuImage,
	ChangeFrequency = @ChangeFrequency,
	SiteMapPriority = @SiteMapPriority,
	LastModifiedUTC = @LastModifiedUTC,
	ParentGuid = @ParentGuid,
	HideAfterLogin = @HideAfterLogin,
	CompiledMeta = @CompiledMeta,
	CompiledMetaUtc = @CompiledMetaUtc,
	IncludeInSiteMap = @IncludeInSiteMap,
	IsClickable = @IsClickable,
	ShowHomeCrumb = @ShowHomeCrumb,
	IsPending = @IsPending,
	CanonicalOverride = @CanonicalOverride,
	IncludeInSearchMap = @IncludeInSearchMap,
	EnableComments = @EnableComments

WHERE
    PageID = @PageID


GO

ALTER TABLE [dbo].mp_Users
DROP COLUMN [Password]

GO


