
ALTER TABLE [dbo].mp_Pages ADD
	PCreatedUtc DateTime NOT NULL Default getutcdate() 
GO

ALTER TABLE [dbo].mp_Pages ADD
	PCreatedBy uniqueidentifier NULL 
GO

ALTER TABLE [dbo].mp_Pages ADD
	PCreatedFromIp nvarchar(36) NULL 
GO


ALTER TABLE [dbo].mp_Pages ADD
	PLastModUtc DateTime NOT NULL Default getutcdate() 
GO

ALTER TABLE [dbo].mp_Pages ADD
	PLastModBy uniqueidentifier NULL 
GO

ALTER TABLE [dbo].mp_Pages ADD
	PLastModFromIp nvarchar(36) NULL 
GO


ALTER PROCEDURE [dbo].[mp_Pages_Update]

/*
Author:			
Last Modified:		2012-10-07

*/


@SiteID        		int,
@PageID           	int,
@ParentID		int,
@PageOrder        	int,
@PageName         	nvarchar(255),
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles		nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs	bit,
@ShowChildPageBreadcrumbs bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle         	nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@ParentGuid uniqueidentifier,
@HideAfterLogin bit,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36)



AS
UPDATE
    mp_Pages

SET
	ParentID = @ParentID,
    	PageOrder = @PageOrder,
    	PageName = @PageName,
		PageTitle = @PageTitle,
    	AuthorizedRoles = @AuthorizedRoles,
	EditRoles = @EditRoles,
	DraftEditRoles = @DraftEditRoles,
	CreateChildPageRoles = @CreateChildPageRoles,
	CreateChildDraftRoles = @CreateChildDraftRoles,
    	RequireSSL = @RequireSSL,
	AllowBrowserCache = @AllowBrowserCache,
	ShowBreadcrumbs = @ShowBreadcrumbs,
	ShowChildBreadCrumbs = @ShowChildPageBreadcrumbs,
	PageKeyWords = @PageKeyWords,
	PageDescription = @PageDescription,
	PageEncoding = @PageEncoding,
	AdditionalMetaTags = @AdditionalMetaTags,
	UseUrl = @UseUrl,
	Url = @Url,
	OpenInNewWindow = @OpenInNewWindow,
	ShowChildPageMenu = @ShowChildPageMenu,
	HideMainMenu = @HideMainMenu,
	Skin = @Skin,
	IncludeInMenu = @IncludeInMenu,
	MenuImage = @MenuImage,
	ChangeFrequency = @ChangeFrequency,
	SiteMapPriority = @SiteMapPriority,
	LastModifiedUTC = @LastModifiedUTC,
	ParentGuid = @ParentGuid,
	HideAfterLogin = @HideAfterLogin,
	CompiledMeta = @CompiledMeta,
	CompiledMetaUtc = @CompiledMetaUtc,
	IncludeInSiteMap = @IncludeInSiteMap,
	IsClickable = @IsClickable,
	ShowHomeCrumb = @ShowHomeCrumb,
	IsPending = @IsPending,
	CanonicalOverride = @CanonicalOverride,
	IncludeInSearchMap = @IncludeInSearchMap,
	EnableComments = @EnableComments,
	IncludeInChildSiteMap = @IncludeInChildSiteMap,
	PubTeamId = @PubTeamId,
	BodyCssClass = @BodyCssClass,
	MenuCssClass = @MenuCssClass,
	ExpandOnSiteMap = @ExpandOnSiteMap,
	PublishMode = @PublishMode,
	PCreatedUtc = @PCreatedUtc,
	PCreatedBy = @PCreatedBy,
	PLastModUtc = @PLastModUtc,
	PLastModBy = @PLastModBy,
	PLastModFromIp = @PLastModFromIp

WHERE
    PageID = @PageID




GO

ALTER PROCEDURE [dbo].[mp_Pages_Insert]

/*
Author:			
Created:		2004-11-17
Last Modified:	2012-10-07

*/

@SiteID   		int,
@ParentID		int,
@PageName    		nvarchar(255),
@PageOrder   		int,
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs 	bit,
@ShowChildPageBreadcrumbs 	bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle    		nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@PageGuid	uniqueidentifier,
@ParentGuid uniqueidentifier,
@HideAfterLogin	bit,
@SiteGuid	uniqueidentifier,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PCreatedFromIp nvarchar(36),
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36)

AS
INSERT INTO 		mp_Pages
(
    			SiteID,
			ParentID,
    			PageName,
				PageTitle,
    			PageOrder,
			AuthorizedRoles,
			EditRoles,
			DraftEditRoles,
			CreateChildPageRoles,
			CreateChildDraftRoles,
    			RequireSSL,
			AllowBrowserCache,
    			ShowBreadcrumbs,
			ShowChildBreadCrumbs,
    			PageKeyWords,
			PageDescription,
			PageEncoding,
			AdditionalMetaTags,
			UseUrl,
			Url,
			OpenInNewWindow,
			ShowChildPageMenu,
			HideMainMenu,
			Skin,
			IncludeInMenu,
			MenuImage,
			ChangeFrequency,
			SiteMapPriority,
			LastModifiedUTC,
			PageGuid,
			ParentGuid,
			HideAfterLogin,
			SiteGuid,
			CompiledMeta,
			CompiledMetaUtc,
			IncludeInSiteMap,
			IsClickable,
			ShowHomeCrumb,
			IsPending,
			CanonicalOverride,
			IncludeInSearchMap,
			EnableComments,
			IncludeInChildSiteMap,
			PubTeamId,
			BodyCssClass,
			MenuCssClass,
			ExpandOnSiteMap,
			PublishMode,
			PCreatedUtc,
			PCreatedBy,
			PCreatedFromIp,
			PLastModUtc,
			PLastModBy,
			PLastModFromIp
)

VALUES
(
    			@SiteID,
			@ParentID,
    			@PageName,
				@PageTitle,
    			@PageOrder,
			@AuthorizedRoles,
			@EditRoles,
			@DraftEditRoles,
			@CreateChildPageRoles,
			@CreateChildDraftRoles,
    			@RequireSSL,
			@AllowBrowserCache,
    			@ShowBreadcrumbs,
			@ShowChildPageBreadcrumbs,
			@PageKeyWords,
			@PageDescription,
			@PageEncoding,
			@AdditionalMetaTags,
			@UseUrl,
			@Url,
			@OpenInNewWindow,
			@ShowChildPageMenu,
			@HideMainMenu,
			@Skin,
			@IncludeInMenu,
			@MenuImage,
			@ChangeFrequency,
			@SiteMapPriority,
			@LastModifiedUTC,
			@PageGuid,
			@ParentGuid,
			@HideAfterLogin,
			@SiteGuid,
			@CompiledMeta,
			@CompiledMetaUtc,
			@IncludeInSiteMap,
			@IsClickable,
			@ShowHomeCrumb,
			@IsPending,
			@CanonicalOverride,
			@IncludeInSearchMap,
			@EnableComments,
			@IncludeInChildSiteMap,
			@PubTeamId,
			@BodyCssClass,
			@MenuCssClass,
			@ExpandOnSiteMap,
			@PublishMode,
			@PCreatedUtc,
			@PCreatedBy,
			@PCreatedFromIp,
			@PLastModUtc,
			@PLastModBy,
			@PLastModFromIp
)

SELECT  @@Identity As PageID






GO


ALTER PROCEDURE [dbo].[mp_Pages_SelectOne]

/*
Author:				
Created:			2004-11-07
Last Modified:		2012-10-08

*/

@SiteID		int,
@PageID		int


AS
SELECT TOP 1	p.*,
u1.[Name] As CreatedByName,
u1.Email As CreatedByEmail,
u1.FirstName As CreatedByFirstName,
u1.LastName As CreatedByLastName,
u2.[Name] As LastModByName,
u2.Email As LastModByEmail,
u2.FirstName As LastModByFirstName,
u2.LastName As LastModByLastName

FROM		mp_Pages p

LEFT OUTER JOIN		mp_Users u1
ON	p.PCreatedBy = u1.UserGuid

LEFT OUTER JOIN		mp_Users u2
ON	p.PLastModBy = u2.UserGuid

WHERE	(p.PageID = @PageID OR @PageID = -1)
		AND p.SiteID = @SiteID 
		
ORDER BY p.ParentID, p.PageOrder


GO

ALTER PROCEDURE [dbo].[mp_Pages_SelectOneByGuid]

/*
Author:				
Created:			2007-08-07
Last Modified:		2012-10-08

*/

@PageGuid uniqueidentifier


AS
SELECT TOP 1	p.*,
u1.[Name] As CreatedByName,
u1.Email As CreatedByEmail,
u1.FirstName As CreatedByFirstName,
u1.LastName As CreatedByLastName,
u2.[Name] As LastModByName,
u2.Email As LastModByEmail,
u2.FirstName As LastModByFirstName,
u2.LastName As LastModByLastName

FROM		mp_Pages p

LEFT OUTER JOIN		mp_Users u1
ON	p.PCreatedBy = u1.UserGuid

LEFT OUTER JOIN		mp_Users u2
ON	p.PLastModBy = u2.UserGuid

WHERE	p.PageGuid = @PageGuid


GO


ALTER PROCEDURE [dbo].[mp_Users_SelectNotApprovedPage]

/*
Author:			
Created:		2011-01-17
Last Modified:	2012-10-09

*/

@SiteID			int,
@PageNumber 			int,
@PageSize 			int



AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 BEGIN
	    INSERT INTO 	#PageIndexForUsers (UserID)

	    SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ApprovedForForums = 0
				
		ORDER BY 	[Name]

END


SELECT		u.*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			u.SiteID = @SiteID
			AND p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers



GO


