ALTER TABLE [dbo].mp_Pages ADD
	MenuDesc nvarchar(max) NULL 
GO


ALTER TABLE [dbo].mp_IndexingQueue ADD
	SiteID int NOT NULL Default 1 
GO

TRUNCATE TABLE mp_IndexingQueue

GO


ALTER PROCEDURE [dbo].[mp_Pages_Update]

/*
Author:			
Last Modified:		2013-01-18

*/


@SiteID        		int,
@PageID           	int,
@ParentID		int,
@PageOrder        	int,
@PageName         	nvarchar(255),
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles		nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs	bit,
@ShowChildPageBreadcrumbs bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle         	nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@ParentGuid uniqueidentifier,
@HideAfterLogin bit,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36),
@MenuDesc nvarchar(max)


AS
UPDATE
    mp_Pages

SET
	ParentID = @ParentID,
    	PageOrder = @PageOrder,
    	PageName = @PageName,
		PageTitle = @PageTitle,
    	AuthorizedRoles = @AuthorizedRoles,
	EditRoles = @EditRoles,
	DraftEditRoles = @DraftEditRoles,
	CreateChildPageRoles = @CreateChildPageRoles,
	CreateChildDraftRoles = @CreateChildDraftRoles,
    	RequireSSL = @RequireSSL,
	AllowBrowserCache = @AllowBrowserCache,
	ShowBreadcrumbs = @ShowBreadcrumbs,
	ShowChildBreadCrumbs = @ShowChildPageBreadcrumbs,
	PageKeyWords = @PageKeyWords,
	PageDescription = @PageDescription,
	PageEncoding = @PageEncoding,
	AdditionalMetaTags = @AdditionalMetaTags,
	UseUrl = @UseUrl,
	Url = @Url,
	OpenInNewWindow = @OpenInNewWindow,
	ShowChildPageMenu = @ShowChildPageMenu,
	HideMainMenu = @HideMainMenu,
	Skin = @Skin,
	IncludeInMenu = @IncludeInMenu,
	MenuImage = @MenuImage,
	ChangeFrequency = @ChangeFrequency,
	SiteMapPriority = @SiteMapPriority,
	LastModifiedUTC = @LastModifiedUTC,
	ParentGuid = @ParentGuid,
	HideAfterLogin = @HideAfterLogin,
	CompiledMeta = @CompiledMeta,
	CompiledMetaUtc = @CompiledMetaUtc,
	IncludeInSiteMap = @IncludeInSiteMap,
	IsClickable = @IsClickable,
	ShowHomeCrumb = @ShowHomeCrumb,
	IsPending = @IsPending,
	CanonicalOverride = @CanonicalOverride,
	IncludeInSearchMap = @IncludeInSearchMap,
	EnableComments = @EnableComments,
	IncludeInChildSiteMap = @IncludeInChildSiteMap,
	PubTeamId = @PubTeamId,
	BodyCssClass = @BodyCssClass,
	MenuCssClass = @MenuCssClass,
	ExpandOnSiteMap = @ExpandOnSiteMap,
	PublishMode = @PublishMode,
	PCreatedUtc = @PCreatedUtc,
	PCreatedBy = @PCreatedBy,
	PLastModUtc = @PLastModUtc,
	PLastModBy = @PLastModBy,
	PLastModFromIp = @PLastModFromIp,
	MenuDesc = @MenuDesc

WHERE
    PageID = @PageID




GO

ALTER PROCEDURE [dbo].[mp_Pages_Insert]

/*
Author:			
Created:		2004-11-17
Last Modified:	2013-01-18

*/

@SiteID   		int,
@ParentID		int,
@PageName    		nvarchar(255),
@PageOrder   		int,
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs 	bit,
@ShowChildPageBreadcrumbs 	bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle    		nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@PageGuid	uniqueidentifier,
@ParentGuid uniqueidentifier,
@HideAfterLogin	bit,
@SiteGuid	uniqueidentifier,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PCreatedFromIp nvarchar(36),
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36),
@MenuDesc nvarchar(max)

AS
INSERT INTO 		mp_Pages
(
    			SiteID,
			ParentID,
    			PageName,
				PageTitle,
    			PageOrder,
			AuthorizedRoles,
			EditRoles,
			DraftEditRoles,
			CreateChildPageRoles,
			CreateChildDraftRoles,
    			RequireSSL,
			AllowBrowserCache,
    			ShowBreadcrumbs,
			ShowChildBreadCrumbs,
    			PageKeyWords,
			PageDescription,
			PageEncoding,
			AdditionalMetaTags,
			UseUrl,
			Url,
			OpenInNewWindow,
			ShowChildPageMenu,
			HideMainMenu,
			Skin,
			IncludeInMenu,
			MenuImage,
			ChangeFrequency,
			SiteMapPriority,
			LastModifiedUTC,
			PageGuid,
			ParentGuid,
			HideAfterLogin,
			SiteGuid,
			CompiledMeta,
			CompiledMetaUtc,
			IncludeInSiteMap,
			IsClickable,
			ShowHomeCrumb,
			IsPending,
			CanonicalOverride,
			IncludeInSearchMap,
			EnableComments,
			IncludeInChildSiteMap,
			PubTeamId,
			BodyCssClass,
			MenuCssClass,
			ExpandOnSiteMap,
			PublishMode,
			PCreatedUtc,
			PCreatedBy,
			PCreatedFromIp,
			PLastModUtc,
			PLastModBy,
			PLastModFromIp,
			MenuDesc
)

VALUES
(
    			@SiteID,
			@ParentID,
    			@PageName,
				@PageTitle,
    			@PageOrder,
			@AuthorizedRoles,
			@EditRoles,
			@DraftEditRoles,
			@CreateChildPageRoles,
			@CreateChildDraftRoles,
    			@RequireSSL,
			@AllowBrowserCache,
    			@ShowBreadcrumbs,
			@ShowChildPageBreadcrumbs,
			@PageKeyWords,
			@PageDescription,
			@PageEncoding,
			@AdditionalMetaTags,
			@UseUrl,
			@Url,
			@OpenInNewWindow,
			@ShowChildPageMenu,
			@HideMainMenu,
			@Skin,
			@IncludeInMenu,
			@MenuImage,
			@ChangeFrequency,
			@SiteMapPriority,
			@LastModifiedUTC,
			@PageGuid,
			@ParentGuid,
			@HideAfterLogin,
			@SiteGuid,
			@CompiledMeta,
			@CompiledMetaUtc,
			@IncludeInSiteMap,
			@IsClickable,
			@ShowHomeCrumb,
			@IsPending,
			@CanonicalOverride,
			@IncludeInSearchMap,
			@EnableComments,
			@IncludeInChildSiteMap,
			@PubTeamId,
			@BodyCssClass,
			@MenuCssClass,
			@ExpandOnSiteMap,
			@PublishMode,
			@PCreatedUtc,
			@PCreatedBy,
			@PCreatedFromIp,
			@PLastModUtc,
			@PLastModBy,
			@PLastModFromIp,
			@MenuDesc
)

SELECT  @@Identity As PageID



GO








ALTER PROCEDURE [dbo].[mp_IndexingQueue_Insert]

/*
Author:   			
Created: 			2008-06-18
Last Modified: 		2013-01-11
*/

@SiteID int,
@IndexPath nvarchar(255),
@SerializedItem nvarchar(max),
@ItemKey nvarchar(255),
@RemoveOnly bit

	
AS

INSERT INTO 	[dbo].[mp_IndexingQueue] 
(
				SiteID,
				[IndexPath],
				[SerializedItem],
				[ItemKey],
				[RemoveOnly]
) 

VALUES 
(
				@SiteID,
				@IndexPath,
				@SerializedItem,
				@ItemKey,
				@RemoveOnly
				
)
SELECT @@IDENTITY


GO

CREATE PROCEDURE [dbo].[mp_IndexingQueue_SelectDistinctSiteID]

/*
Author:   			
Created: 			2013-01-11
Last Modified: 		2013-01-11
*/

AS


SELECT DISTINCT
		
		[SiteID]
		
FROM
		[dbo].[mp_IndexingQueue]
		
ORDER BY [SiteID]


GO


CREATE PROCEDURE [dbo].[mp_IndexingQueue_SelectBySite]

/*
Author:   			
Created: 			2013-01-11
Last Modified: 		2013-01-11
*/

@SiteID int

AS


SELECT *
		
FROM
		[dbo].[mp_IndexingQueue]
		
WHERE
		[SiteID] = @SiteID

ORDER BY RowId


GO





CREATE PROCEDURE [dbo].[mp_Pages_CountChildPages]

/*
Author:   			
Created: 			2013-01-02
Last Modified: 		2013-01-02
*/

@PageID			int,
@IncludePending bit

As

Select	Count(*)
From	[dbo].mp_Pages
Where	
	ParentID = @PageID
	AND ((IsPending = 0) OR (@IncludePending = 1))



GO


ALTER PROCEDURE [dbo].[mp_HtmlContent_SelectByPage]

/*
Author:			Joe Audettte
Created:		2005-06-26
Last Modified:	2013-01-14

*/


@SiteID		int,
@PageID		int

AS
SELECT  	h.*,
		m.ModuleTitle,
		m.ViewRoles,
		m.IncludeInSearch,
		md.FeatureName,
		u1.[Name] AS CreatedByName,
			u1.FirstName AS CreatedByFirstName,
			u1.LastName AS CreatedByLastName,
			u1.Email AS CreatedByEmail,
			u1.AuthorBio,
			u1.AvatarUrl,
			COALESCE(u1.UserID, -1) As AuthorUserID

FROM		mp_HtmlContent h

JOIN		mp_Modules m
ON		h.ModuleID = m.ModuleID

JOIN		mp_ModuleDefinitions md
ON		m.ModuleDefID = md.ModuleDefID

JOIN		mp_PageModules pm
ON			pm.ModuleID = m.ModuleID

JOIN		mp_Pages p
ON		p.PageID = pm.PageID

LEFT OUTER JOIN 
			[dbo].mp_Users u1
ON			h.UserGuid = u1.UserGuid


WHERE	p.SiteID = @SiteID
		AND pm.PageID = @PageID

		

GO


