INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SkinVersion','00000000-0000-0000-0000-000000000000','Settings', 100)

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RolesThatCanAssignSkinsToPages','','Settings', 100)


CREATE NONCLUSTERED INDEX [IX_mp_pm_pane] ON [dbo].[mp_PageModules] 
(
	[PaneName] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_page_name] ON [dbo].[mp_Pages] 
(
	[PageName] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO




SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_TagItem](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ItemGuid] [uniqueidentifier] NOT NULL,
	[TagGuid] [uniqueidentifier] NOT NULL,
	[ExtraGuid] [uniqueidentifier] NOT NULL,
	[TaggedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_TagItem] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
) 
GO

CREATE NONCLUSTERED INDEX [IX_mp_TagItem] ON [dbo].[mp_TagItem] 
(
	[ModuleGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_TagItem_1] ON [dbo].[mp_TagItem] 
(
	[TagGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_TagItem_2] ON [dbo].[mp_TagItem] 
(
	[SiteGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_TagItem_3] ON [dbo].[mp_TagItem] 
(
	[FeatureGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_TagItem_4] ON [dbo].[mp_TagItem] 
(
	[ItemGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_TagItem_5] ON [dbo].[mp_TagItem] 
(
	[TaggedBy] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO


SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[mp_Tag](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[Tag] [nvarchar](255) NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedUtc] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[ItemCount] [int] NOT NULL,
 CONSTRAINT [PK_mp_Tag] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
) 
GO

CREATE NONCLUSTERED INDEX [IX_mp_Tag] ON [dbo].[mp_Tag] 
(
	[Tag] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_Tag_1] ON [dbo].[mp_Tag] 
(
	[ModuleGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_Tag_2] ON [dbo].[mp_Tag] 
(
	[FeatureGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_Tag_3] ON [dbo].[mp_Tag] 
(
	[SiteGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO


SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[mp_CategoryItem](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ItemGuid] [uniqueidentifier] NOT NULL,
	[CategoryGuid] [uniqueidentifier] NOT NULL,
	[ExtraGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_CategoryItem] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
) 
GO

CREATE NONCLUSTERED INDEX [IX_mp_CategoryItem] ON [dbo].[mp_CategoryItem] 
(
	[ModuleGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_CategoryItem_1] ON [dbo].[mp_CategoryItem] 
(
	[FeatureGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_CategoryItem_2] ON [dbo].[mp_CategoryItem] 
(
	[ExtraGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_CategoryItem_3] ON [dbo].[mp_CategoryItem] 
(
	[ItemGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO


SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[mp_Category](
	[Guid] [uniqueidentifier] NOT NULL,
	[ParentGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ItemCount] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedUtc] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_Category] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
) 
GO

CREATE NONCLUSTERED INDEX [IX_mp_Category] ON [dbo].[mp_Category] 
(
	[ModuleGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_Category_1] ON [dbo].[mp_Category] 
(
	[Category] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

CREATE NONCLUSTERED INDEX [IX_mp_Category_2] ON [dbo].[mp_Category] 
(
	[ParentGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO

ALTER TABLE [dbo].[mp_Category] ADD  CONSTRAINT [DF_mp_Category_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [dbo].[mp_CategoryItem] ADD  CONSTRAINT [DF_mp_CategoryItem_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [dbo].[mp_Tag] ADD  CONSTRAINT [DF_mp_Tag_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [dbo].[mp_TagItem] ADD  CONSTRAINT [DF_mp_TagItem_Guid]  DEFAULT (newid()) FOR [Guid]
GO


ALTER TABLE [dbo].[mp_Category] ADD  CONSTRAINT [DF_mp_Category_ItemCount]  DEFAULT ((0)) FOR [ItemCount]
GO

ALTER TABLE [dbo].[mp_Category] ADD  CONSTRAINT [DF_mp_Category_CreatedUtc]  DEFAULT (getutcdate()) FOR [CreatedUtc]
GO

ALTER TABLE [dbo].[mp_Category] ADD  CONSTRAINT [DF_mp_Category_ModifiedUtc]  DEFAULT (getutcdate()) FOR [ModifiedUtc]
GO

ALTER TABLE [dbo].[mp_Tag] ADD  CONSTRAINT [DF_mp_Tag_CreatedUtc]  DEFAULT (getutcdate()) FOR [CreatedUtc]
GO

ALTER TABLE [dbo].[mp_Tag] ADD  CONSTRAINT [DF_mp_Tag_ItemCount]  DEFAULT ((0)) FOR [ItemCount]
GO

CREATE PROCEDURE [dbo].mp_Tag_Insert

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@Tag nvarchar(255),
@CreatedUtc datetime,
@CreatedBy uniqueidentifier



	
AS

INSERT INTO 	[dbo].[mp_Tag] 
(
				[Guid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[Tag],
				[CreatedUtc],
				[CreatedBy],
				[ModifiedUtc],
				[ModifiedBy],
				[ItemCount]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@Tag,
				@CreatedUtc,
				@CreatedBy,
				@CreatedUtc,
				@CreatedBy,
				0
				
)


GO

CREATE PROCEDURE [dbo].mp_Tag_Update

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/
	
@Guid uniqueidentifier, 
@Tag nvarchar(255), 
@ModifiedUtc datetime, 
@ModifiedBy uniqueidentifier



AS

UPDATE 		[dbo].[mp_Tag] 

SET
			
			[Tag] = @Tag,
			[ModifiedUtc] = @ModifiedUtc,
			[ModifiedBy] = @ModifiedBy
			
WHERE
			[Guid] = @Guid

GO

CREATE PROCEDURE [dbo].mp_Tag_UpdateItemCount

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/
	
@Guid uniqueidentifier



AS

UPDATE 		[dbo].[mp_Tag] 

SET
			ItemCount = (SELECT Count(*) FROM [dbo].mp_TagItem WHERE TagGuid = @Guid)
			
WHERE
			[Guid] = @Guid

GO

CREATE PROCEDURE [dbo].mp_Tag_Delete

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Tag]
WHERE
	[Guid] = @Guid
GO

CREATE PROCEDURE [dbo].mp_Tag_DeleteByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Tag]
WHERE
	[ModuleGuid] = @ModuleGuid
GO

CREATE PROCEDURE [dbo].mp_Tag_DeleteByFeature

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@FeatureGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Tag]
WHERE
	[FeatureGuid] = @FeatureGuid
GO

CREATE PROCEDURE [dbo].mp_Tag_DeleteBySite

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Tag]
WHERE
	[SiteGuid] = @SiteGuid
GO

CREATE PROCEDURE [dbo].mp_Tag_SelectOne

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier

AS


SELECT *
			
FROM
		[dbo].[mp_Tag]
		
WHERE
		[Guid] = @Guid

GO

CREATE PROCEDURE [dbo].mp_Tag_SelectByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ModuleGuid uniqueidentifier

AS


SELECT *
			
FROM
		[dbo].[mp_Tag]
		
WHERE
		[ModuleGuid] = @ModuleGuid
ORDER BY Tag

GO

CREATE PROCEDURE [dbo].mp_Tag_GetCountByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ModuleGuid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_Tag]
WHERE
		[ModuleGuid] = @ModuleGuid

GO

CREATE PROCEDURE [dbo].mp_TagItem_Insert

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ItemGuid uniqueidentifier,
@TagGuid uniqueidentifier,
@ExtraGuid uniqueidentifier,
@TaggedBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_TagItem] 
(
				[Guid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[ItemGuid],
				[TagGuid],
				[ExtraGuid],
				[TaggedBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@ItemGuid,
				@TagGuid,
				@ExtraGuid,
				@TaggedBy
				
)


GO

CREATE PROCEDURE [dbo].mp_TagItem_Delete

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE
	[Guid] = @Guid
GO

CREATE PROCEDURE [dbo].mp_TagItem_DeleteByItem

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ItemGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE
	[ItemGuid] = @ItemGuid
GO

CREATE PROCEDURE [dbo].mp_TagItem_DeleteByExtraGuid

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ExtraGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE
	[ExtraGuid] = @ExtraGuid
GO

CREATE PROCEDURE [dbo].mp_TagItem_DeleteByTag

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@TagGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE
	[TagGuid] = @TagGuid
GO

CREATE PROCEDURE [dbo].mp_TagItem_DeleteByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE
	[ModuleGuid] = @ModuleGuid
GO

CREATE PROCEDURE [dbo].mp_TagItem_DeleteByFeature

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@FeatureGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE
	[FeatureGuid] = @FeatureGuid
GO

CREATE PROCEDURE [dbo].mp_TagItem_DeleteBySite

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE
	[SiteGuid] = @SiteGuid
GO

CREATE PROCEDURE [dbo].mp_Category_Insert

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier,
@ParentGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@Category nvarchar(255),
@Description nvarchar(max),
@CreatedUtc datetime,
@CreatedBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_Category] 
(
				[Guid],
				[ParentGuid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[Category],
				[Description],
				[ItemCount],
				[CreatedUtc],
				[CreatedBy],
				[ModifiedUtc],
				[ModifiedBy]
) 

VALUES 
(
				@Guid,
				@ParentGuid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@Category,
				@Description,
				0,
				@CreatedUtc,
				@CreatedBy,
				@CreatedUtc,
				@CreatedBy
				
)


GO

CREATE PROCEDURE [dbo].mp_Category_Update

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/
	
@Guid uniqueidentifier, 
@ParentGuid uniqueidentifier, 
@Category nvarchar(255), 
@Description nvarchar(max), 
@ModifiedUtc datetime, 
@ModifiedBy uniqueidentifier 


AS

UPDATE 		[dbo].[mp_Category] 

SET
			[ParentGuid] = @ParentGuid,
			[Category] = @Category,
			[Description] = @Description,
			[ModifiedUtc] = @ModifiedUtc,
			[ModifiedBy] = @ModifiedBy
			
WHERE
			[Guid] = @Guid

GO

CREATE PROCEDURE [dbo].mp_Category_UpdateItemCount

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/
	
@Guid uniqueidentifier


AS

UPDATE 		[dbo].[mp_Category] 

SET
			ItemCount = (SELECT Count(*) FROM [dbo].mp_CategoryItem WHERE CategoryGuid = @Guid)
			
WHERE
			[Guid] = @Guid

GO

CREATE PROCEDURE [dbo].mp_Category_Delete

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Category]
WHERE
	[Guid] = @Guid
GO

CREATE PROCEDURE [dbo].mp_Category_DeleteByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Category]
WHERE
	[ModuleGuid] = @ModuleGuid
GO

CREATE PROCEDURE [dbo].mp_Category_DeleteByFeature

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@FeatureGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Category]
WHERE
	[FeatureGuid] = @FeatureGuid
GO

CREATE PROCEDURE [dbo].mp_Category_DeleteBySite

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_Category]
WHERE
	[SiteGuid] = @SiteGuid
GO

CREATE PROCEDURE [dbo].mp_Category_SelectOne

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_Category]
		
WHERE
		[Guid] = @Guid

GO

CREATE PROCEDURE [dbo].mp_Category_SelectByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ModuleGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[mp_Category]
		
WHERE
		[ModuleGuid] = @ModuleGuid
ORDER BY Category

GO

CREATE PROCEDURE [dbo].mp_Category_GetCountByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/
@ModuleGuid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_Category]
WHERE
		[ModuleGuid] = @ModuleGuid

GO

CREATE PROCEDURE [dbo].mp_CategoryItem_Insert

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ItemGuid uniqueidentifier,
@CategoryGuid uniqueidentifier,
@ExtraGuid uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_CategoryItem] 
(
				[Guid],
				[SiteGuid],
				[FeatureGuid],
				[ModuleGuid],
				[ItemGuid],
				[CategoryGuid],
				[ExtraGuid]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@FeatureGuid,
				@ModuleGuid,
				@ItemGuid,
				@CategoryGuid,
				@ExtraGuid
				
)


GO

CREATE PROCEDURE [dbo].mp_CategoryItem_Delete

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CategoryItem]
WHERE
	[Guid] = @Guid
GO

CREATE PROCEDURE [dbo].mp_CategoryItem_DeleteByItem

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ItemGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CategoryItem]
WHERE
	[ItemGuid] = @ItemGuid
GO

CREATE PROCEDURE [dbo].mp_CategoryItem_DeleteByExtraGuid

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ExtraGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CategoryItem]
WHERE
	[ExtraGuid] = @ExtraGuid
GO

CREATE PROCEDURE [dbo].mp_CategoryItem_DeleteByCategory

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@CategoryGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CategoryItem]
WHERE
	[CategoryGuid] = @CategoryGuid
GO

CREATE PROCEDURE [dbo].mp_CategoryItem_DeleteByModule

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CategoryItem]
WHERE
	[ModuleGuid] = @ModuleGuid
GO

CREATE PROCEDURE [dbo].mp_CategoryItem_DeleteByFeature

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@FeatureGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CategoryItem]
WHERE
	[FeatureGuid] = @FeatureGuid
GO

CREATE PROCEDURE [dbo].mp_CategoryItem_DeleteBySite

/*
Author:   			
Created: 			2011-10-31
Last Modified: 		2011-10-31
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CategoryItem]
WHERE
	[SiteGuid] = @SiteGuid
GO

ALTER PROCEDURE [dbo].[mp_Modules_SelectBySite]

/*
Author:				
Created:			2009-01-04
Last Modified:		2011-11-12

*/

@SiteID		int,
@FeatureGuid uniqueidentifier


AS
SELECT  		m.ModuleID,
				m.ModuleTitle,
				m.AuthorizedEditRoles,
				m.EditUserID,
				p.Url,
				p.PageName,
				p.UseUrl,
				p.PageID,
				p.EditRoles
    
FROM
    			[dbo].mp_Modules m
  
JOIN		[dbo].mp_ModuleDefinitions md
ON 			m.ModuleDefID = md.ModuleDefID

JOIN		[dbo].mp_PageModules pm
ON				m.ModuleID = pm.ModuleID

JOIN		[dbo].mp_Pages p
ON			pm.PageID = p.PageID
    
WHERE   
    			md.Guid = @FeatureGuid
				AND m.SiteId=@SiteID
		
    
ORDER BY p.PageName, m.ModuleTitle


GO

CREATE PROCEDURE [dbo].[mp_HtmlContent_SelectForMetaWeblogApi]

/*
Author:   			
Created: 			2011-11-21
Last Modified: 		2011-11-21


*/

@SiteID			int

AS


SELECT 

pm.*,
m.ModuleTitle,
m.AuthorizedEditRoles,
m.IsGlobal,
h.Body,
h.ItemID,
h.ItemGuid,
p.PageGuid,
p.ParentID,
p.ParentGuid,
p.PageName,
p.UseUrl,
p.Url,
p.EditRoles,
p.PageOrder
		
FROM		[dbo].mp_PageModules pm

JOIN		[dbo].mp_Modules m
ON			pm.ModuleID = m.ModuleID

JOIN		[dbo].mp_HtmlContent h
ON			h.ModuleID = m.ModuleID

JOIN		[dbo].mp_ModuleDefinitions md
ON			md.ModuleDefID = m.ModuleDefID

JOIN		[dbo].mp_Pages p
ON			pm.PageID = p.PageID
		
WHERE	p.SiteID = @SiteID
		AND md.[Guid] = '881e4e00-93e4-444c-b7b0-6672fb55de10'
		AND pm.PaneName = 'contentpane'
		
ORDER BY p.PageName, pm.ModuleOrder


GO

