ALTER TABLE [dbo].mp_Users ADD
	AuthorBio nvarchar(max) NULL 
GO

ALTER TABLE [dbo].mp_LetterInfo ADD
	DisplayNameDefault nvarchar(50) NULL 
GO

ALTER TABLE [dbo].mp_LetterInfo ADD
	FirstNameDefault nvarchar(50) NULL 
GO

ALTER TABLE [dbo].mp_LetterInfo ADD
	LastNameDefault nvarchar(50) NULL 
GO












ALTER PROCEDURE [dbo].[mp_Users_Update]

/*
Author:			
Created:		2004-09-30
Last Modified:	2012-10-31

*/

    
@UserID        			int,   
@Name				nvarchar(100),
@LoginName			nvarchar(50),
@Email           			nvarchar(100),   
@Password    			nvarchar(1000),
@PasswordSalt nvarchar(128),
@Gender			nchar(1),
@ProfileApproved		bit,
@ApprovedForForums		bit,
@Trusted			bit,
@DisplayInMemberList		bit,
@WebSiteURL			nvarchar(100),
@Country			nvarchar(100),
@State				nvarchar(100),
@Occupation			nvarchar(100),
@Interests			nvarchar(100),
@MSN				nvarchar(50),
@Yahoo			nvarchar(50),
@AIM				nvarchar(50),
@ICQ				nvarchar(50),
@AvatarUrl			nvarchar(255),
@Signature			nvarchar(max),
@Skin				nvarchar(100),
@LoweredEmail		nvarchar(100),
@PasswordQuestion		nvarchar(255),
@PasswordAnswer		nvarchar(255),
@Comment		nvarchar(max),
@TimeOffsetHours	int,
@OpenIDURI			nvarchar(255),
@WindowsLiveID			nvarchar(255),
@MustChangePwd bit,
@FirstName     	nvarchar(100),
@LastName     	nvarchar(100),
@TimeZoneId     	nvarchar(32),
@EditorPreference nvarchar(100),
@NewEmail nvarchar(100),
@EmailChangeGuid	uniqueidentifier,
@PasswordResetGuid uniqueidentifier,
@RolesChanged bit,
@AuthorBio nvarchar(max)


AS
UPDATE		[dbo].mp_Users

SET			[Name] = @Name,
			LoginName = @LoginName,
			Email = @Email,
    			[Pwd] = @Password,
    			MustChangePwd = @MustChangePwd,
			Gender = @Gender,
			ProfileApproved = @ProfileApproved,
			ApprovedForForums = @ApprovedForForums,
			Trusted = @Trusted,
			DisplayInMemberList = @DisplayInMemberList,
			WebSiteURL = @WebSiteURL,
			Country = @Country,
			[State] = @State,
			Occupation = @Occupation,
			Interests = @Interests,
			MSN = @MSN,
			Yahoo = @Yahoo,
			AIM = @AIM,
			ICQ = @ICQ,
			AvatarUrl = @AvatarUrl,
			[Signature] = @Signature,
			Skin = @Skin,
			LoweredEmail = @LoweredEmail,
			PasswordQuestion = @PasswordQuestion,
			PasswordAnswer = @PasswordAnswer,
			Comment = @Comment,
			TimeOffsetHours = @TimeOffsetHours,
			OpenIDURI = @OpenIDURI,
			WindowsLiveID = @WindowsLiveID,
			FirstName = @FirstName,
			LastName = @LastName,
			TimeZoneId = @TimeZoneId,
			EditorPreference = @EditorPreference,
			NewEmail = @NewEmail,
			EmailChangeGuid = @EmailChangeGuid,
			PasswordResetGuid = @PasswordResetGuid,
			PasswordSalt = @PasswordSalt,
			RolesChanged = @RolesChanged,
			AuthorBio = @AuthorBio
			
WHERE		UserID = @UserID







GO




ALTER Procedure [dbo].[mp_ContentWorkflow_SelectWorkInProgress]

/*
Author:   			Kevin Needham
Created: 			2009-06-19
Last Modified: 		2012-10-31
*/

@ModuleGuid uniqueidentifier
As

SELECT	cw.*,
		m.ModuleTitle,
		m.ModuleID,
		createdBy.[Name] as CreatedByUserName,
		createdBy.FirstName as CreatedByFirstName,
		createdBy.LastName as CreatedByLastName,
		createdBy.LoginName as CreatedByUserLogin,
		createdBy.Email as CreatedByUserEmail,
		createdBy.UserID as CreatedByUserID,
		createdBy.AvatarUrl as CreatedByAvatar,
		createdBy.AuthorBio as CreatedByAuthorBio,
		
		modifiedBy.[Name] as ModifiedByUserName,
		modifiedBy.FirstName as ModifiedByFirstName,
		modifiedBy.LastName as ModifiedByLastName,
		modifiedBy.LoginName as ModifiedByUserLogin,
		modifiedBy.Email as ModifiedByUserEmail,
		
		
		cwah.Notes as Notes,
		cwah.CreatedDateUtc as RecentActionOn,
		recentActionBy.[Name] as RecentActionByUserName,
		recentActionBy.LoginName as RecentActionByUserLogin,
		recentActionBy.Email as RecentActionByUserEmail		
				
FROM
		[dbo].[mp_ContentWorkflow] cw
		
JOIN    [dbo].mp_Modules m
ON
		cw.ModuleGuid = m.[Guid]
		
LEFT OUTER JOIN
		[dbo].[mp_Users] createdBy
ON
		createdBy.UserGuid = cw.UserGuid
		
LEFT OUTER JOIN
		[dbo].[mp_Users] modifiedBy
ON
		modifiedBy.UserGuid = cw.LastModUserGuid
		
LEFT OUTER JOIN
		[dbo].[mp_ContentWorkflowAuditHistory] cwah
ON	
		cwah.ContentWorkflowGuid = cw.[Guid]
AND		cwah.Active = 1		

LEFT OUTER JOIN
		[dbo].[mp_Users] recentActionBy
ON
		recentActionBy.UserGuid = cwah.UserGuid
		
WHERE
		cw.[ModuleGuid] = @ModuleGuid
AND		 cw.[Status] Not In ('Cancelled','Approved')
		
ORDER BY
		cw.CreatedDateUtc DESC


GO

ALTER Procedure [dbo].[mp_ContentWorkflow_SelectWorkInProgressByStatus]

/*
Author:   			
Created: 			2009-07-18
Last Modified: 		2012-10-31
*/

@ModuleGuid uniqueidentifier,
@Status nvarchar(20)

As

SELECT	cw.*,
		m.ModuleID,
		m.ModuleTitle,
		createdBy.[Name] as CreatedByUserName,
		createdBy.FirstName as CreatedByFirstName,
		createdBy.LastName as CreatedByLastName,
		createdBy.LoginName as CreatedByUserLogin,
		createdBy.Email as CreatedByUserEmail,
		createdBy.UserID as CreatedByUserID,
		createdBy.AvatarUrl as CreatedByAvatar,
		createdBy.AuthorBio as CreatedByAuthorBio,
		
		modifiedBy.[Name] as ModifiedByUserName,
		modifiedBy.FirstName as ModifiedByFirstName,
		modifiedBy.LastName as ModifiedByLastName,
		modifiedBy.LoginName as ModifiedByUserLogin,
		modifiedBy.Email as ModifiedByUserEmail,
		
		
		cwah.Notes as Notes,
		cwah.CreatedDateUtc as RecentActionOn,
		recentActionBy.[Name] as RecentActionByUserName,
		recentActionBy.LoginName as RecentActionByUserLogin,
		recentActionBy.Email as RecentActionByUserEmail		
				
FROM
		[dbo].[mp_ContentWorkflow] cw
		
JOIN    [dbo].mp_Modules m
ON
		cw.ModuleGuid = m.[Guid]
		
LEFT OUTER JOIN
		[dbo].[mp_Users] createdBy
ON
		createdBy.UserGuid = cw.UserGuid
		
LEFT OUTER JOIN
		[dbo].[mp_Users] modifiedBy
ON
		modifiedBy.UserGuid = cw.LastModUserGuid
		
LEFT OUTER JOIN
		[dbo].[mp_ContentWorkflowAuditHistory] cwah
ON	
		cwah.ContentWorkflowGuid = cw.[Guid]
AND		cwah.Active = 1		

LEFT OUTER JOIN
		[dbo].[mp_Users] recentActionBy
ON
		recentActionBy.UserGuid = cwah.UserGuid
		
WHERE
		cw.[ModuleGuid] = @ModuleGuid
AND		 cw.[Status] = @Status
		
ORDER BY
		cw.CreatedDateUtc DESC


GO

ALTER PROCEDURE [dbo].[mp_HtmlContent_Select]

/*
Author:			Joe Audettte
Created:		2004-12-23
Last Modified:	2012-11-01

*/


@ModuleID int,
@BeginDate datetime

AS

SELECT  	h.*,
			u1.[Name] AS CreatedByName,
			u1.FirstName AS CreatedByFirstName,
			u1.LastName AS CreatedByLastName,
			u1.Email AS CreatedByEmail,
			u1.AuthorBio,
			u1.AvatarUrl,
			COALESCE(u1.UserID, -1) As AuthorUserID,
			u2.[Name] AS LastModByName,
			u2.FirstName AS LastModByFirstName,
			u2.LastName AS LastModByLastName,
			u2.Email AS LastModByEmail

FROM		[dbo].mp_HtmlContent h

LEFT OUTER JOIN 
			[dbo].mp_Users u1
ON			h.UserGuid = u1.UserGuid

LEFT OUTER JOIN 
			[dbo].mp_Users u2
ON			h.LastModUserGuid = u2.UserGuid

WHERE	h.ModuleID = @ModuleID
		AND h.BeginDate <= @BeginDate
		AND h.EndDate >= @BeginDate

ORDER BY BeginDate DESC



GO

ALTER PROCEDURE [dbo].[mp_LetterInfo_Insert]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2012-11-05
*/

@LetterInfoGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@Title nvarchar(255),
@Description nvarchar(max),
@AvailableToRoles nvarchar(max),
@Enabled bit,
@AllowUserFeedback bit,
@AllowAnonFeedback bit,
@FromAddress nvarchar(255),
@FromName nvarchar(255),
@ReplyToAddress nvarchar(255),
@SendMode int,
@EnableViewAsWebPage bit,
@EnableSendLog bit,
@RolesThatCanEdit nvarchar(max),
@RolesThatCanApprove nvarchar(max),
@RolesThatCanSend nvarchar(max),
@CreatedUTC datetime,
@CreatedBy uniqueidentifier,
@LastModUTC datetime,
@LastModBy uniqueidentifier,
@AllowArchiveView bit,
@ProfileOptIn bit,
@SortRank int,
@DisplayNameDefault nvarchar(50),
@FirstNameDefault nvarchar(50),
@LastNameDefault nvarchar(50)

	
AS

INSERT INTO 	[dbo].[mp_LetterInfo] 
(
				[LetterInfoGuid],
				[SiteGuid],
				[Title],
				[Description],
				[AvailableToRoles],
				[Enabled],
				[AllowUserFeedback],
				[AllowAnonFeedback],
				[FromAddress],
				[FromName],
				[ReplyToAddress],
				[SendMode],
				[EnableViewAsWebPage],
				[EnableSendLog],
				[RolesThatCanEdit],
				[RolesThatCanApprove],
				[RolesThatCanSend],
				[CreatedUTC],
				[CreatedBy],
				[LastModUTC],
				[LastModBy],
				AllowArchiveView,
				ProfileOptIn,
				SortRank,
				UnVerifiedCount,
				DisplayNameDefault,
				FirstNameDefault,
				LastNameDefault
) 

VALUES 
(
				@LetterInfoGuid,
				@SiteGuid,
				@Title,
				@Description,
				@AvailableToRoles,
				@Enabled,
				@AllowUserFeedback,
				@AllowAnonFeedback,
				@FromAddress,
				@FromName,
				@ReplyToAddress,
				@SendMode,
				@EnableViewAsWebPage,
				@EnableSendLog,
				@RolesThatCanEdit,
				@RolesThatCanApprove,
				@RolesThatCanSend,
				@CreatedUTC,
				@CreatedBy,
				@LastModUTC,
				@LastModBy,
				@AllowArchiveView,
				@ProfileOptIn,
				@SortRank,
				0,
				@DisplayNameDefault,
				@FirstNameDefault,
				@LastNameDefault
				
)


GO

ALTER PROCEDURE [dbo].[mp_LetterInfo_Update]

/*
Author:   			
Created: 			2007-09-22
Last Modified: 		2012-11-05
*/
	
@LetterInfoGuid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@Title nvarchar(255), 
@Description nvarchar(max), 
@AvailableToRoles nvarchar(max), 
@Enabled bit, 
@AllowUserFeedback bit, 
@AllowAnonFeedback bit, 
@FromAddress nvarchar(255), 
@FromName nvarchar(255), 
@ReplyToAddress nvarchar(255), 
@SendMode int, 
@EnableViewAsWebPage bit, 
@EnableSendLog bit, 
@RolesThatCanEdit nvarchar(max), 
@RolesThatCanApprove nvarchar(max), 
@RolesThatCanSend nvarchar(max), 
@CreatedUTC datetime, 
@CreatedBy uniqueidentifier, 
@LastModUTC datetime, 
@LastModBy uniqueidentifier,
@AllowArchiveView bit,
@ProfileOptIn bit,
@SortRank int,
@DisplayNameDefault nvarchar(50),
@FirstNameDefault nvarchar(50),
@LastNameDefault nvarchar(50)


AS

UPDATE 		[dbo].[mp_LetterInfo] 

SET
			[SiteGuid] = @SiteGuid,
			[Title] = @Title,
			[Description] = @Description,
			[AvailableToRoles] = @AvailableToRoles,
			[Enabled] = @Enabled,
			[AllowUserFeedback] = @AllowUserFeedback,
			[AllowAnonFeedback] = @AllowAnonFeedback,
			[FromAddress] = @FromAddress,
			[FromName] = @FromName,
			[ReplyToAddress] = @ReplyToAddress,
			[SendMode] = @SendMode,
			[EnableViewAsWebPage] = @EnableViewAsWebPage,
			[EnableSendLog] = @EnableSendLog,
			[RolesThatCanEdit] = @RolesThatCanEdit,
			[RolesThatCanApprove] = @RolesThatCanApprove,
			[RolesThatCanSend] = @RolesThatCanSend,
			[CreatedUTC] = @CreatedUTC,
			[CreatedBy] = @CreatedBy,
			[LastModUTC] = @LastModUTC,
			[LastModBy] = @LastModBy,
			AllowArchiveView = @AllowArchiveView,
			ProfileOptIn = @ProfileOptIn,
			SortRank = @SortRank,
			DisplayNameDefault = @DisplayNameDefault,
			FirstNameDefault = @FirstNameDefault,
			LastNameDefault = @LastNameDefault
			
WHERE
			[LetterInfoGuid] = @LetterInfoGuid


GO

ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectUnsentByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2012-11-05
*/

@LetterGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier

AS


SELECT
		ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
		u.[Name],
		u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND ls.IsVerified = 1
		AND ls.[Guid] NOT IN ( SELECT [SubscribeGuid]
									FROM	[dbo].[mp_LetterSendLog]
									WHERE [LetterGuid] = @LetterGuid )


GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_Search]

/*
Author:   			
Created: 			2009-10-29
Last Modified: 		2012-11-05
*/

@LetterInfoGuid uniqueidentifier,
@EmailOrIpAddress nvarchar(100)

AS


SELECT	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,

	u.[Email] AS UserEmail,
		COALESCE(u.[Name], ls.[Email]) AS [Name],
		u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN

		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid
		AND (
				(ls.Email LIKE '%' + @EmailOrIpAddress + '%')
				OR (u.Email LIKE '%' + @EmailOrIpAddress + '%')
				OR (ls.[IpAddress]  LIKE '%' + @EmailOrIpAddress + '%')
				
				)


GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByEmail]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2012-11-05
*/

@SiteGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name],
	u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ((ls.Email = @Email) OR (u.Email = @Email))


GO

ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByLetter]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2012-11-05
*/

@LetterInfoGuid uniqueidentifier

AS


SELECT	
	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	u.[Email] AS UserEmail,
		COALESCE(u.[Name], ls.[Email]) AS [Name],
		u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN

		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[LetterInfoGuid] = @LetterInfoGuid


GO

ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByLetterAndEmail]

/*
Author:   			
Created: 			2009-10-28
Last Modified: 		2012-11-05
*/

@SiteGuid uniqueidentifier,
@LetterInfoGuid uniqueidentifier,
@Email nvarchar(100)

AS


SELECT	
	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name],
	u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ls.LetterInfoGuid = @LetterInfoGuid
		AND ((ls.Email = @Email) OR (u.Email = @Email))


GO

ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectByUser]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2012-11-05
*/

@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS


SELECT	

	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name],
	u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[SiteGuid] = @SiteGuid
		AND ls.UserGuid = @UserGuid


GO

ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectOne]

/*
Author:   			
Created: 			2009-10-11
Last Modified: 		2012-11-05
*/

@Guid uniqueidentifier

AS


SELECT	

	ls.[Guid],
		ls.[SiteGuid],
		ls.[LetterInfoGuid],
		ls.[UserGuid],
		ls.[IsVerified],
		ls.[VerifyGuid],
		ls.[BeginUtc],
		ls.[UseHtml],
		ls.[IpAddress],
		COALESCE(u.Email, ls.[Email]) As Email,
	COALESCE(u.[Name], ls.[Email]) As [Name],
	u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] ls
		
LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		
		u.[UserGuid] = ls.[UserGuid]
		
WHERE
		ls.[Guid] = @Guid


GO


ALTER PROCEDURE [dbo].[mp_LetterSubscribe_SelectPage]

-- Author:   			
-- Created: 			2009-10-11
-- Last Modified: 		2012-11-05

@LetterInfoGuid			uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] uniqueidentifier
)

BEGIN

INSERT INTO #PageIndex ( 
[Guid]
)

SELECT
		ls.[Guid]
		
FROM
		[dbo].[mp_LetterSubscribe] ls

LEFT OUTER JOIN		mp_Users u
ON		ls.UserGuid = u.UserGuid
		
WHERE		ls.[LetterInfoGuid] = @LetterInfoGuid

ORDER BY	u.[Name]

END



SELECT
		t1.[Guid],
		t1.[SiteGuid],
		t1.[LetterInfoGuid],
		t1.[UserGuid],
		t1.[IsVerified],
		t1.[VerifyGuid],
		t1.[BeginUtc],
		t1.[UseHtml],
		t1.[IpAddress],
		COALESCE(u.Email, t1.[Email]) As Email,
		COALESCE(u.[Name], t1.[Email]) As [Name],
		u.[Email] As UserEmail,
		u.FirstName,
		u.LastName
		
FROM
		[dbo].[mp_LetterSubscribe] t1
		
LEFT OUTER JOIN		mp_Users u
ON		t1.UserGuid = u.UserGuid

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex


GO


