INSERT INTO [dbo].[mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RolesThatCanCreateRootPages','Content Administrators;Content Publishers;','Admin', 100)



SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[mp_Sites_Delete]

/*
Author:   			
Created: 			2005-03-07
Last Modified: 		2008-11-12

*/

@SiteID int

AS


DELETE FROM mp_WebParts WHERE SiteID = @SiteID

DELETE FROM mp_PageModules
WHERE PageID IN (SELECT PageID FROM mp_Pages WHERE SiteID = @SiteID)

DELETE FROM mp_ModuleSettings
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)


DELETE FROM mp_Modules WHERE SiteID = @SiteID

DELETE FROM mp_SiteModuleDefinitions WHERE SiteID = @SiteID


DELETE FROM mp_UserProperties
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserRoles
WHERE UserID IN (SELECT UserID FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserLocation 
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_FriendlyUrls WHERE SiteID = @SiteID

DELETE FROM mp_UserPages WHERE SiteID = @SiteID

DELETE FROM mp_Users WHERE SiteID = @SiteID

DELETE FROM mp_Pages WHERE SiteID = @SiteID

DELETE FROM mp_Roles WHERE SiteID = @SiteID

DELETE FROM mp_SiteHosts WHERE SiteID = @SiteID

DELETE FROM mp_SiteSettingsEx WHERE SiteID = @SiteID

DELETE FROM mp_SitePersonalizationAllUsers
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePersonalizationPerUser
WHERE PathID IN (SELECT PathID FROM mp_SitePaths WHERE SiteID = @SiteID)

DELETE FROM mp_SitePaths WHERE SiteID = @SiteID

DELETE FROM mp_SiteFolders
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_AuthorizeNetLog
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_GoogleCheckoutLog
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_LetterSendLog
WHERE LetterGuid IN (SELECT LetterGuid FROM mp_Letter
					WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)))

DELETE FROM mp_LetterSubscribeHx
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID))

DELETE FROM mp_LetterSubscribe
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID))



DELETE FROM mp_Letter
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM mp_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID))

DELETE FROM mp_LetterHtmlTemplate
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_LetterInfo
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_PayPalLog
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_RedirectList
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaskQueue
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaxClass
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaxRateHistory
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaxRate
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)



DELETE FROM [dbo].[mp_Sites]
WHERE
	[SiteID] = @SiteID
   			

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[mp_EmailSendLog_DeleteBySite]

/*
Author:   			
Created: 			2009-03-01
Last Modified: 		2009-03-01
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailSendLog]
WHERE
	[SiteGuid] = @SiteGuid


GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_EmailSendLog_Delete]

/*
Author:   			
Created: 			2009-3-1
Last Modified: 		2009-3-1
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailSendLog]
WHERE
	[Guid] = @Guid

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[mp_EmailSendLog_DeleteByModule]

/*
Author:   			
Created: 			2009-03-01
Last Modified: 		2009-03-01
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_EmailSendLog]
WHERE
	[ModuleGuid] = @ModuleGuid


GO

