ALTER PROCEDURE [dbo].[mp_Users_SelectPage]

/*
Author:			
Created:		2004-10-3
Last Modified:	2011-02-02

*/

@PageNumber 			int,
@PageSize 			int,
@UserNameBeginsWith 		nvarchar(50),
@SiteID			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserName nvarchar(100) COLLATE DATABASE_DEFAULT,
	LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
)	


 IF @UserNameBeginsWith IS NULL OR @UserNameBeginsWith = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserName, LoginName)

	    	SELECT 	[Name], LoginName
		FROM 		mp_Users 
		WHERE 	ProfileApproved = 1
				 AND DisplayInMemberList = 1  
				AND SiteID = @SiteID
				AND IsDeleted = 0
		ORDER BY 	[Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserName, LoginName)

	    	SELECT 	[Name] , LoginName
		FROM 		mp_Users 
		WHERE 	ProfileApproved = 1 
				AND DisplayInMemberList = 1  
				AND SiteID = @SiteID
				AND IsDeleted = 0
				AND [Name]  LIKE @UserNameBeginsWith + '%' 
		ORDER BY 	[Name]

	END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndexForUsers)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1


SELECT		*,
			@TotalPages AS TotalPages

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.LoginName = p.LoginName

WHERE 		u.ProfileApproved = 1 
			AND u.SiteID = @SiteID
			AND u.IsDeleted = 0
			AND p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers


GO

CREATE PROCEDURE [dbo].[mp_Pages_CountBySite]

/*
Author:   			
Created: 			2011-02-06
Last Modified: 		2011-02-06
*/

@SiteID			int,
@IncludePending bit

As

Select	Count(*)
From	[dbo].mp_Pages
Where	
	SiteID = @SiteID
	AND ((IsPending = 0) OR (@IncludePending = 1))


GO

CREATE PROCEDURE [dbo].mp_Pages_SelectPage

-- Author:   			
-- Created: 			2011-02-06
-- Last Modified: 		2011-02-06

@SiteID			int,
@IncludePending bit,
@PageNumber int,
@PageSize int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int

SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
PageID Int
)

BEGIN

INSERT INTO #PageIndex ( 
PageID
)

SELECT
		[PageID]
		
FROM
		[dbo].[mp_Pages]
		
WHERE
		SiteID = @SiteID
		AND ((IsPending = 0) OR (@IncludePending = 1))

ORDER BY
		ParentID,  PageName

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_Pages] t1

JOIN			#PageIndex t2
ON			
		t1.[PageID] = t2.[PageID]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


SET QUOTED_IDENTIFIER OFF 
GO

