ALTER PROCEDURE [dbo].[mp_Users_SelectByEmail]

    
@SiteID	int,
@Email 		nvarchar(100)


AS

SELECT	*

FROM
    mp_Users

WHERE
	SiteID = @SiteID
   	AND LoweredEmail = LOWER(@Email)


GO

ALTER PROCEDURE [dbo].[mp_Users_SmartDropDown]

/*
Author:		
Created:	2005-06-19
Last Modified:	2013-10-25

*/


@SiteID			int,
@Query				nvarchar(50),
@RowsToGet			int


AS


SET ROWCOUNT @RowsToGet


SELECT 		u1.UserID,
			u1.UserGuid,
			u1.Email,
			u1.FirstName,
			u1.LastName,
			u1.[Name] AS SiteUser

FROM			mp_Users u1

WHERE		u1.SiteID = @SiteID
			AND u1.IsDeleted = 0
			AND (
			(u1.[Name] LIKE @Query + '%')
			OR (u1.[FirstName] LIKE @Query + '%')
			OR (u1.[LastName] LIKE @Query + '%')
			)

UNION

SELECT 		u2.UserID,
			u2.UserGuid,
			u2.Email,
			u2.FirstName,
			u2.LastName,
			u2.[Email] As SiteUser

FROM			mp_Users u2

WHERE		u2.SiteID = @SiteID
			AND u2.IsDeleted = 0
			AND u2.[Email] LIKE @Query + '%'

ORDER BY		SiteUser


GO

CREATE PROCEDURE [dbo].[mp_Users_EmailLookup]

/*
Author:		
Created:	2013-10-25
Last Modified:	2013-10-25

*/


@SiteID			int,
@Query				nvarchar(50),
@RowsToGet			int


AS


SET ROWCOUNT @RowsToGet


SELECT 		u1.UserID,
			u1.UserGuid,
			u1.Email

FROM			mp_Users u1

WHERE		u1.SiteID = @SiteID
			AND u1.IsDeleted = 0
			AND (
			 (u1.[Email] LIKE @Query + '%')
			OR (u1.[Name] LIKE @Query + '%')
			OR (u1.[FirstName] LIKE @Query + '%')
			OR (u1.[LastName] LIKE @Query + '%')
			)



ORDER BY	u1.Email


GO



