
ALTER TABLE [dbo].mp_Pages ADD LinkRel nvarchar(20) NULL
GO

ALTER TABLE [dbo].mp_Pages ADD PageHeading nvarchar(255) NULL
GO

ALTER TABLE [dbo].mp_Pages ADD ShowPageHeading bit NOT NULL default 1
GO

ALTER TABLE [dbo].mp_Pages ADD PubDateUtc DateTime NOT NULL default getutcdate()
GO

UPDATE mp_Pages
SET PubDateUtc = PCreatedUtc

GO

ALTER TABLE [dbo].mp_Users ADD DateOfBirth DateTime NULL 
GO





ALTER PROCEDURE [dbo].[mp_Pages_Insert]

/*
Author:			
Created:		2004-11-17
Last Modified:	2013-12-13

*/

@SiteID   		int,
@ParentID		int,
@PageName    		nvarchar(255),
@PageOrder   		int,
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles nvarchar(max),
@DraftApprovalRoles nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs 	bit,
@ShowChildPageBreadcrumbs 	bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle    		nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@PageGuid	uniqueidentifier,
@ParentGuid uniqueidentifier,
@HideAfterLogin	bit,
@SiteGuid	uniqueidentifier,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PCreatedFromIp nvarchar(36),
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36),
@MenuDesc nvarchar(max),
@LinkRel nvarchar(20),
@PageHeading nvarchar(255),
@ShowPageHeading bit,
@PubDateUtc DateTime

AS
INSERT INTO 		[dbo].mp_Pages
(
    			SiteID,
			ParentID,
    			PageName,
				PageTitle,
    			PageOrder,
			AuthorizedRoles,
			EditRoles,
			DraftEditRoles,
			DraftApprovalRoles,
			CreateChildPageRoles,
			CreateChildDraftRoles,
    			RequireSSL,
			AllowBrowserCache,
    			ShowBreadcrumbs,
			ShowChildBreadCrumbs,
    			PageKeyWords,
			PageDescription,
			PageEncoding,
			AdditionalMetaTags,
			UseUrl,
			Url,
			OpenInNewWindow,
			ShowChildPageMenu,
			HideMainMenu,
			Skin,
			IncludeInMenu,
			MenuImage,
			ChangeFrequency,
			SiteMapPriority,
			LastModifiedUTC,
			PageGuid,
			ParentGuid,
			HideAfterLogin,
			SiteGuid,
			CompiledMeta,
			CompiledMetaUtc,
			IncludeInSiteMap,
			IsClickable,
			ShowHomeCrumb,
			IsPending,
			CanonicalOverride,
			IncludeInSearchMap,
			EnableComments,
			IncludeInChildSiteMap,
			PubTeamId,
			BodyCssClass,
			MenuCssClass,
			ExpandOnSiteMap,
			PublishMode,
			PCreatedUtc,
			PCreatedBy,
			PCreatedFromIp,
			PLastModUtc,
			PLastModBy,
			PLastModFromIp,
			MenuDesc,
			LinkRel,
			PageHeading,
			ShowPageHeading,
			PubDateUtc
)

VALUES
(
    			@SiteID,
			@ParentID,
    			@PageName,
				@PageTitle,
    			@PageOrder,
			@AuthorizedRoles,
			@EditRoles,
			@DraftEditRoles,
			@DraftApprovalRoles,
			@CreateChildPageRoles,
			@CreateChildDraftRoles,
    			@RequireSSL,
			@AllowBrowserCache,
    			@ShowBreadcrumbs,
			@ShowChildPageBreadcrumbs,
			@PageKeyWords,
			@PageDescription,
			@PageEncoding,
			@AdditionalMetaTags,
			@UseUrl,
			@Url,
			@OpenInNewWindow,
			@ShowChildPageMenu,
			@HideMainMenu,
			@Skin,
			@IncludeInMenu,
			@MenuImage,
			@ChangeFrequency,
			@SiteMapPriority,
			@LastModifiedUTC,
			@PageGuid,
			@ParentGuid,
			@HideAfterLogin,
			@SiteGuid,
			@CompiledMeta,
			@CompiledMetaUtc,
			@IncludeInSiteMap,
			@IsClickable,
			@ShowHomeCrumb,
			@IsPending,
			@CanonicalOverride,
			@IncludeInSearchMap,
			@EnableComments,
			@IncludeInChildSiteMap,
			@PubTeamId,
			@BodyCssClass,
			@MenuCssClass,
			@ExpandOnSiteMap,
			@PublishMode,
			@PCreatedUtc,
			@PCreatedBy,
			@PCreatedFromIp,
			@PLastModUtc,
			@PLastModBy,
			@PLastModFromIp,
			@MenuDesc,
			@LinkRel,
			@PageHeading,
			@ShowPageHeading,
			@PubDateUtc
)

SELECT  @@Identity As PageID	


GO

ALTER PROCEDURE [dbo].[mp_Pages_Update]

/*
Author:			
Last Modified:		2013-12-13

*/


@SiteID        		int,
@PageID           	int,
@ParentID		int,
@PageOrder        	int,
@PageName         	nvarchar(255),
@AuthorizedRoles 	nvarchar(max),
@EditRoles		nvarchar(max),
@DraftEditRoles		nvarchar(max),
@DraftApprovalRoles nvarchar(max),
@CreateChildPageRoles nvarchar(max),
@CreateChildDraftRoles nvarchar(max),
@RequireSSL		bit,
@ShowBreadcrumbs	bit,
@ShowChildPageBreadcrumbs bit,
@PageKeyWords	nvarchar(1000),
@PageDescription	nvarchar(255),
@PageEncoding	nvarchar(255),
@AdditionalMetaTags	nvarchar(255),
@UseUrl		bit,
@Url			nvarchar(255),
@OpenInNewWindow	bit,
@ShowChildPageMenu	bit,
@HideMainMenu	bit,
@Skin			nvarchar(100),
@IncludeInMenu	bit,
@MenuImage			nvarchar(50),
@PageTitle         	nvarchar(255),
@AllowBrowserCache	bit,
@ChangeFrequency	nvarchar(20),
@SiteMapPriority			nvarchar(10),
@LastModifiedUTC			datetime,
@ParentGuid uniqueidentifier,
@HideAfterLogin bit,
@CompiledMeta		nvarchar(max),
@CompiledMetaUtc	datetime,
@IncludeInSiteMap bit,
@IsClickable bit,
@ShowHomeCrumb bit,
@IsPending bit,
@CanonicalOverride nvarchar(255),
@IncludeInSearchMap bit,
@EnableComments bit,
@IncludeInChildSiteMap bit,
@ExpandOnSiteMap bit,
@PubTeamId uniqueidentifier,
@BodyCssClass nvarchar(50),
@MenuCssClass nvarchar(50),
@PublishMode int,
@PCreatedUtc DateTime,
@PCreatedBy uniqueidentifier,
@PLastModUtc DateTime,
@PLastModBy uniqueidentifier,
@PLastModFromIp nvarchar(36),
@MenuDesc nvarchar(max),
@LinkRel nvarchar(20),
@PageHeading nvarchar(255),
@ShowPageHeading bit,
@PubDateUtc DateTime


AS
UPDATE  [dbo].mp_Pages

SET
	ParentID = @ParentID,
    	PageOrder = @PageOrder,
    	PageName = @PageName,
		PageTitle = @PageTitle,
    	AuthorizedRoles = @AuthorizedRoles,
	EditRoles = @EditRoles,
	DraftEditRoles = @DraftEditRoles,
	DraftApprovalRoles = @DraftApprovalRoles,
	CreateChildPageRoles = @CreateChildPageRoles,
	CreateChildDraftRoles = @CreateChildDraftRoles,
    	RequireSSL = @RequireSSL,
	AllowBrowserCache = @AllowBrowserCache,
	ShowBreadcrumbs = @ShowBreadcrumbs,
	ShowChildBreadCrumbs = @ShowChildPageBreadcrumbs,
	PageKeyWords = @PageKeyWords,
	PageDescription = @PageDescription,
	PageEncoding = @PageEncoding,
	AdditionalMetaTags = @AdditionalMetaTags,
	UseUrl = @UseUrl,
	Url = @Url,
	OpenInNewWindow = @OpenInNewWindow,
	ShowChildPageMenu = @ShowChildPageMenu,
	HideMainMenu = @HideMainMenu,
	Skin = @Skin,
	IncludeInMenu = @IncludeInMenu,
	MenuImage = @MenuImage,
	ChangeFrequency = @ChangeFrequency,
	SiteMapPriority = @SiteMapPriority,
	LastModifiedUTC = @LastModifiedUTC,
	ParentGuid = @ParentGuid,
	HideAfterLogin = @HideAfterLogin,
	CompiledMeta = @CompiledMeta,
	CompiledMetaUtc = @CompiledMetaUtc,
	IncludeInSiteMap = @IncludeInSiteMap,
	IsClickable = @IsClickable,
	ShowHomeCrumb = @ShowHomeCrumb,
	IsPending = @IsPending,
	CanonicalOverride = @CanonicalOverride,
	IncludeInSearchMap = @IncludeInSearchMap,
	EnableComments = @EnableComments,
	IncludeInChildSiteMap = @IncludeInChildSiteMap,
	PubTeamId = @PubTeamId,
	BodyCssClass = @BodyCssClass,
	MenuCssClass = @MenuCssClass,
	ExpandOnSiteMap = @ExpandOnSiteMap,
	PublishMode = @PublishMode,
	PCreatedUtc = @PCreatedUtc,
	PCreatedBy = @PCreatedBy,
	PLastModUtc = @PLastModUtc,
	PLastModBy = @PLastModBy,
	PLastModFromIp = @PLastModFromIp,
	MenuDesc = @MenuDesc,
	LinkRel = @LinkRel,
	PageHeading = @PageHeading,
	ShowPageHeading = @ShowPageHeading,
	PubDateUtc = @PubDateUtc

WHERE
    PageID = @PageID
	

GO


ALTER Procedure [dbo].[mp_Users_Insert]

/*
Author:			
Created:		2004-09-30
Last Modified:	2013-12-16

*/

@SiteGuid	uniqueidentifier,
@SiteID	int,
@Name     	nvarchar(100),
@LoginName	nvarchar(50),
@Email    	nvarchar(100),
@Password 	nvarchar(1000),
@PasswordSalt nvarchar(128),
@UserGuid	uniqueidentifier,
@DateCreated datetime,
@MustChangePwd bit,
@FirstName     	nvarchar(100),
@LastName     	nvarchar(100),
@TimeZoneId     	nvarchar(32),
@EmailChangeGuid	uniqueidentifier,
@DateOfBirth	datetime


AS
INSERT INTO 		mp_Users
(
		SiteGuid,
			SiteID,
    			[Name],
			LoginName,
    			Email,
    			[Pwd],
			UserGuid,
			DateCreated,
			TotalRevenue,
			MustChangePwd,
			RolesChanged,
			FirstName,
			LastName,
			TimeZoneId,
			EmailChangeGuid,
			PasswordResetGuid,
			PasswordSalt,
			DateOfBirth
	

)

VALUES
(
			@SiteGuid,
			@SiteID,
    			@Name,
			@LoginName,
    			@Email,
    			@Password,
			@UserGuid,
			@DateCreated,
			0,
			@MustChangePwd,
			0,
			@FirstName,
			@LastName,
			@TimeZoneId,
			@EmailChangeGuid,
			'00000000-0000-0000-0000-000000000000',
			@PasswordSalt,
			@DateOfBirth
)

SELECT		@@Identity As UserID




GO

ALTER PROCEDURE [dbo].[mp_Users_Update]

/*
Author:			
Created:		2004-09-30
Last Modified:	2013-12-16

*/

    
@UserID        			int,   
@Name				nvarchar(100),
@LoginName			nvarchar(50),
@Email           			nvarchar(100),   
@Password    			nvarchar(1000),
@PasswordSalt nvarchar(128),
@Gender			nchar(1),
@ProfileApproved		bit,
@ApprovedForForums		bit,
@Trusted			bit,
@DisplayInMemberList		bit,
@WebSiteURL			nvarchar(100),
@Country			nvarchar(100),
@State				nvarchar(100),
@Occupation			nvarchar(100),
@Interests			nvarchar(100),
@MSN				nvarchar(50),
@Yahoo			nvarchar(50),
@AIM				nvarchar(50),
@ICQ				nvarchar(50),
@AvatarUrl			nvarchar(255),
@Signature			nvarchar(max),
@Skin				nvarchar(100),
@LoweredEmail		nvarchar(100),
@PasswordQuestion		nvarchar(255),
@PasswordAnswer		nvarchar(255),
@Comment		nvarchar(max),
@TimeOffsetHours	int,
@OpenIDURI			nvarchar(255),
@WindowsLiveID			nvarchar(255),
@MustChangePwd bit,
@FirstName     	nvarchar(100),
@LastName     	nvarchar(100),
@TimeZoneId     	nvarchar(32),
@EditorPreference nvarchar(100),
@NewEmail nvarchar(100),
@EmailChangeGuid	uniqueidentifier,
@PasswordResetGuid uniqueidentifier,
@RolesChanged bit,
@DateOfBirth	datetime


AS
UPDATE		mp_Users

SET			[Name] = @Name,
			LoginName = @LoginName,
			Email = @Email,
    			[Pwd] = @Password,
    			MustChangePwd = @MustChangePwd,
			Gender = @Gender,
			ProfileApproved = @ProfileApproved,
			ApprovedForForums = @ApprovedForForums,
			Trusted = @Trusted,
			DisplayInMemberList = @DisplayInMemberList,
			WebSiteURL = @WebSiteURL,
			Country = @Country,
			[State] = @State,
			Occupation = @Occupation,
			Interests = @Interests,
			MSN = @MSN,
			Yahoo = @Yahoo,
			AIM = @AIM,
			ICQ = @ICQ,
			AvatarUrl = @AvatarUrl,
			[Signature] = @Signature,
			Skin = @Skin,
			LoweredEmail = @LoweredEmail,
			PasswordQuestion = @PasswordQuestion,
			PasswordAnswer = @PasswordAnswer,
			Comment = @Comment,
			TimeOffsetHours = @TimeOffsetHours,
			OpenIDURI = @OpenIDURI,
			WindowsLiveID = @WindowsLiveID,
			FirstName = @FirstName,
			LastName = @LastName,
			TimeZoneId = @TimeZoneId,
			EditorPreference = @EditorPreference,
			NewEmail = @NewEmail,
			EmailChangeGuid = @EmailChangeGuid,
			PasswordResetGuid = @PasswordResetGuid,
			PasswordSalt = @PasswordSalt,
			RolesChanged = @RolesChanged,
			DateOfBirth = @DateOfBirth
			
WHERE		UserID = @UserID







GO


