SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[mp_SiteHost_Exists]

/*
Created:		09/11/2017
Last Modified:	09/11/2017

*/

@HostName	nvarchar(255)

AS

IF EXISTS (	SELECT  HostID
FROM		mp_SiteHosts
WHERE		HostName = @HostName )
SELECT 1
ELSE
SELECT 0
GO

alter table mp_ContentMeta
add NameProperty nvarchar(255) not null
constraint NameProperty_Default default 'name';

alter table mp_ContentMeta
add ContentProperty nvarchar(255) not null
constraint ContentProperty_Default default 'content';

GO

/****** Object:  StoredProcedure [dbo].[mp_ContentMeta_Insert]    Script Date: 9/19/2017 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_ContentMeta_Insert]

/*
Author:
Created: 			2009-12-02
Last Modified: 		2017-09-19
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@ContentGuid uniqueidentifier,
@Name nvarchar(255),
@NameProperty nvarchar(255),
@Scheme nvarchar(255),
@LangCode nvarchar(10),
@Dir nvarchar(3),
@MetaContent nvarchar(max),
@ContentProperty nvarchar(255),
@SortRank int,
@CreatedUtc datetime,
@CreatedBy uniqueidentifier,
@LastModUtc datetime,
@LastModBy uniqueidentifier


AS

INSERT INTO 	[dbo].[mp_ContentMeta]
(
[Guid],
[SiteGuid],
[ModuleGuid],
[ContentGuid],
[Name],
[NameProperty],
[Scheme],
[LangCode],
[Dir],
[MetaContent],
[ContentProperty],
[SortRank],
[CreatedUtc],
[CreatedBy],
[LastModUtc],
[LastModBy]
)

VALUES
(
@Guid,
@SiteGuid,
@ModuleGuid,
@ContentGuid,
@Name,
@NameProperty,
@Scheme,
@LangCode,
@Dir,
@MetaContent,
@ContentProperty,
@SortRank,
@CreatedUtc,
@CreatedBy,
@LastModUtc,
@LastModBy

)

GO

/****** Object:  StoredProcedure [dbo].[mp_ContentMeta_Update]    Script Date: 9/19/2017 3:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_ContentMeta_Update]

/*
Author:
Created: 			2009-12-02
Last Modified: 		2017-09-19
*/

@Guid uniqueidentifier,
@Name nvarchar(255),
@NameProperty nvarchar(255),
@Scheme nvarchar(255),
@LangCode nvarchar(10),
@Dir nvarchar(3),
@MetaContent nvarchar(max),
@ContentProperty nvarchar(255),
@SortRank int,
@LastModUtc datetime,
@LastModBy uniqueidentifier


AS

UPDATE 		[dbo].[mp_ContentMeta]

SET
[Name] = @Name,
[NameProperty] = @NameProperty,
[Scheme] = @Scheme,
[LangCode] = @LangCode,
[Dir] = @Dir,
[MetaContent] = @MetaContent,
[ContentProperty] = @ContentProperty,
[SortRank] = @SortRank,
[LastModUtc] = @LastModUtc,
[LastModBy] = @LastModBy

WHERE
[Guid] = @Guid

GO