/****** Object:  StoredProcedure [dbo].[mp_Roles_Update]    Script Date: 10/31/2019 4:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_Roles_Update]

@RoleID      int,
@DisplayName    nvarchar(50)

AS

UPDATE		mp_Roles

SET
    			DisplayName = @DisplayName

WHERE
    			RoleID = @RoleID

GO