SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Tag_SelectByFeature]

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [FeatureGuid] = @Guid
AND [SiteGuid] = @SiteGuid
ORDER BY Tag

GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Tag_SelectByModule]

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [ModuleGuid] = @Guid
AND [SiteGuid] = @SiteGuid
ORDER BY Tag

GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_TagItem_GetByExtra] 

@ExtraGuid uniqueidentifier,
@SiteGuid uniqueidentifier

AS

SELECT 
	ti.[TagItemGuid],
	ti.[RelatedItemGuid],
	ti.[SiteGuid],
	ti.[FeatureGuid],
	ti.[ModuleGuid],
	ti.[TagGuid],
	ti.[ExtraGuid],
	ti.[TaggedBy],
	t.[Tag] AS [TagText]
FROM [dbo].[mp_TagItem] ti
INNER JOIN [dbo].[mp_Tag] t
ON ti.[TagGuid] = t.[Guid]
WHERE ti.[ExtraGuid] = @ExtraGuid
AND ti.[SiteGuid] = @SiteGuid
ORDER BY [TagText]

GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_TagItem_GetByRelatedItem] 

@RelatedItemGuid uniqueidentifier,
@SiteGuid uniqueidentifier

AS

SELECT 
	ti.[TagItemGuid],
	ti.[RelatedItemGuid],
	ti.[SiteGuid],
	ti.[FeatureGuid],
	ti.[ModuleGuid],
	ti.[TagGuid],
	ti.[ExtraGuid],
	ti.[TaggedBy],
	t.[Tag] AS [TagText]
FROM [dbo].[mp_TagItem] ti
INNER JOIN [dbo].[mp_Tag] t
ON ti.[TagGuid] = t.[Guid]
WHERE ti.[RelatedItemGuid] = @RelatedItemGuid
AND ti.[SiteGuid] = @SiteGuid
ORDER BY [TagText]

GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Tag_SelectByVocabulary]

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [VocabularyGuid] = @Guid
AND [SiteGuid] = @SiteGuid
ORDER BY Tag

GO