/****** Object:  StoredProcedure [dbo].[mp_Roles_Update]    Script Date: 10/31/2019 4:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_Roles_Update]

@RoleID      int,
@DisplayName    nvarchar(50)

AS

UPDATE		mp_Roles

SET
DisplayName = @DisplayName

WHERE
RoleID = @RoleID

GO



/****** Object:  StoredProcedure [dbo].[mp_Users_CountByFirstLetterLastName]    Script Date: 11/13/2019 4:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Users_CountByFirstLetterLastName]

@SiteID		int,
@BeginsWith	nvarchar(50)

AS
SELECT  	COUNT(*)

FROM		mp_Users

WHERE	SiteID = @SiteID
AND IsDeleted = 0
AND ProfileApproved = 1
AND (
(LOWER([LastName]) LIKE LOWER(@BeginsWith+'%'))
OR @BeginsWith = ''
)
GO

/****** Object:  StoredProcedure [dbo].[mp_Users_CountByFirstLetterDisplayName]    Script Date: 11/13/2019 4:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Users_CountByFirstLetterDisplayName]

@SiteID		int,
@BeginsWith	nvarchar(50)

AS
SELECT  	COUNT(*)

FROM		mp_Users

WHERE	SiteID = @SiteID
AND IsDeleted = 0
AND ProfileApproved = 1
AND (
(LOWER([Name]) LIKE LOWER(@BeginsWith+'%'))
OR @BeginsWith = ''
)

GO

/****** Object:  StoredProcedure [dbo].[mp_Users_CountForAdminSearch]    Script Date: 11/13/2019 4:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_CountForAdminSearch]

@SiteID		int,
@SearchInput 		nvarchar(50)

AS

SELECT  	COUNT(*)

FROM		mp_Users

WHERE	SiteID = @SiteID
AND (
(LOWER(Email) LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
)

GO

ALTER PROCEDURE [dbo].[mp_Users_CountForSearch]

@SiteID		int,
@SearchInput 		nvarchar(50)

AS

SELECT  	COUNT(*)

FROM		mp_Users

WHERE	SiteID = @SiteID
AND ProfileApproved = 1
AND DisplayInMemberList = 1
AND IsDeleted = 0
AND (
(LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
)
GO

/****** Object:  StoredProcedure [dbo].[mp_Users_SelectAdminSearchPage]    Script Date: 11/13/2019 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_SelectAdminSearchPage]


@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserID int
)


IF @SearchInput IS NULL OR @SearchInput = ''
BEGIN
INSERT INTO 	#PageIndexForUsers (UserID)

SELECT 	UserID
FROM 		mp_Users
WHERE
SiteID = @SiteID

ORDER BY 	[Name]
END
ELSE
BEGIN
INSERT INTO 	#PageIndexForUsers (UserID)

SELECT 	UserID
FROM 		mp_Users
WHERE
SiteID = @SiteID

AND (
(LOWER(Email) LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
)


ORDER BY 	[Name]

END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE
p.IndexID > @PageLowerBound
AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers


GO

/****** Object:  StoredProcedure [dbo].[mp_Users_SelectAdminSearchPageByDateDesc]    Script Date: 11/13/2019 5:02:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_SelectAdminSearchPageByDateDesc]

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
		ORDER BY 	DateCreated DESC
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
				AND (
					(LOWER(Email) LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
				)
				
				
		ORDER BY DateCreated DESC

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers

GO	

/****** Object:  StoredProcedure [dbo].[mp_Users_SelectAdminSearchPageByLF]    Script Date: 11/13/2019 5:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_SelectAdminSearchPageByLF]

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
		ORDER BY 	LastName, FirstName, [Name] 
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				
				AND (
					(LOWER(Email) LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
					OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
				)
				
				
				
		ORDER BY LastName, FirstName, [Name] 

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers


GO

/****** Object:  StoredProcedure [dbo].[mp_Users_SelectByLoginName]    Script Date: 11/13/2019 5:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[mp_Users_SelectByLoginName]

    
@SiteID	int,
@LoginName 		nvarchar(50),
@AllowEmailFallback bit


AS

SELECT	*

FROM
    mp_Users

WHERE
	SiteID = @SiteID
   	AND (LOWER(LoginName) = LOWER(@LoginName )
   	OR (@AllowEmailFallback = 1 AND LOWER(Email) = LOWER(@LoginName))
   	)
GO

				
/****** Object:  StoredProcedure [dbo].[mp_Users_SelectSearchPage]    Script Date: 11/13/2019 5:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_SelectSearchPage]

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				
		ORDER BY 	[Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				
				AND (
						(LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
					)
				
				
		ORDER BY 	[Name]

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers


GO

/****** Object:  StoredProcedure [dbo].[mp_Users_SelectSearchPageByDateDesc]    Script Date: 11/13/2019 5:07:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_SelectSearchPageByDateDesc]

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				
		ORDER BY 	DateCreated DESC
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				AND (
						(LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
					)
				
				
		ORDER BY 	DateCreated DESC

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers



GO				

				
/****** Object:  StoredProcedure [dbo].[mp_Users_SelectSearchPageByLF]    Script Date: 11/13/2019 5:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[mp_Users_SelectSearchPageByLF]

@SiteID			int,
@SearchInput 		nvarchar(50),
@PageNumber 			int,
@PageSize 			int


AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
)	


 IF @SearchInput IS NULL OR @SearchInput = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				
		ORDER BY 	LastName, FirstName, [Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	
				SiteID = @SiteID
				AND ProfileApproved = 1
				AND DisplayInMemberList = 1  
				AND IsDeleted = 0
				
				AND (
						(LOWER([Name])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([LoginName])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([LastName])  LIKE '%' + LOWER(@SearchInput) + '%')
						OR (LOWER([FirstName])  LIKE '%' + LOWER(@SearchInput) + '%')
					)
				
				
		ORDER BY 	LastName, FirstName, [Name]

	END



SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		
			p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers


GO
/****** Object:  StoredProcedure [dbo].[mp_Users_SmartDropDown]    Script Date: 11/13/2019 5:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_SmartDropDown]

@SiteID			int,
@Query				nvarchar(50),
@RowsToGet			int


AS


SET ROWCOUNT @RowsToGet


SELECT 		u1.UserID,
			u1.UserGuid,
			u1.Email,
			u1.FirstName,
			u1.LastName,
			u1.[Name] AS SiteUser

FROM			mp_Users u1

WHERE		u1.SiteID = @SiteID
			AND u1.IsDeleted = 0
			AND (
			(LOWER(u1.[Name]) LIKE LOWER(@Query) + '%')
			OR (LOWER(u1.[FirstName]) LIKE LOWER(@Query) + '%')
			OR (LOWER(u1.[LastName]) LIKE LOWER(@Query) + '%')
			)

UNION

SELECT 		u2.UserID,
			u2.UserGuid,
			u2.Email,
			u2.FirstName,
			u2.LastName,
			u2.[Email] As SiteUser

FROM			mp_Users u2

WHERE		u2.SiteID = @SiteID
			AND u2.IsDeleted = 0
			AND LOWER(u2.[Email]) LIKE LOWER(@Query) + '%'

ORDER BY		SiteUser

GO
				
				
				
/****** Object:  StoredProcedure [dbo].[mp_Users_EmailLookup]    Script Date: 11/13/2019 5:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Users_EmailLookup]

@SiteID			int,
@Query				nvarchar(50),
@RowsToGet			int


AS


SET ROWCOUNT @RowsToGet


SELECT 		u1.UserID,
			u1.UserGuid,
			u1.Email

FROM			mp_Users u1

WHERE		u1.SiteID = @SiteID
			AND u1.IsDeleted = 0
			AND (
			 (LOWER(u1.[Email]) LIKE LOWER(@Query) + '%')
			OR (LOWER(u1.[Name]) LIKE LOWER(@Query) + '%')
			OR (LOWER(u1.[FirstName]) LIKE LOWER(@Query) + '%')
			OR (LOWER(u1.[LastName]) LIKE LOWER(@Query) + '%')
			)



ORDER BY	u1.Email

GO

				
/****** Object:  StoredProcedure [dbo].[mp_Users_SelectPage]    Script Date: 11/13/2019 5:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_Users_SelectPage]

@PageNumber		int,
@PageSize 		int,
@BeginsWith		nvarchar(50),
@SiteID			int,
@SortMode		int,
@NameFilterMode	nvarchar(10)

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int

SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndexForUsers 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
	UserID int
	
)	

 IF @BeginsWith IS NULL OR @BeginsWith = ''
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	ProfileApproved = 1
				 AND DisplayInMemberList = 1  
				AND SiteID = @SiteID
				AND IsDeleted = 0
		ORDER BY 	[Name]
	END
ELSE
	BEGIN
	    	INSERT INTO 	#PageIndexForUsers (UserID)

	    	SELECT 	UserID
		FROM 		mp_Users 
		WHERE 	ProfileApproved = 1 
				AND DisplayInMemberList = 1  
				AND SiteID = @SiteID
				AND IsDeleted = 0
				AND 
				(
					(@NameFilterMode = 'display' AND LOWER([Name]) LIKE LOWER(@BeginsWith) + '%' )
					OR (@NameFilterMode = 'lastname' AND LOWER([LastName]) LIKE LOWER(@BeginsWith) + '%' )
					OR (@NameFilterMode <> 'display' AND @NameFilterMode <> 'lastname' AND LOWER([Name]) LIKE LOWER(@BeginsWith) + '%' ) 
				)				
				
		ORDER BY 	
			(CASE @SortMode WHEN 1 THEN [DateCreated] END) DESC
			,(CASE @SortMode WHEN 2 THEN [LastName] END)
			,(CASE @SortMode WHEN 2 THEN [FirstName] END)
			, [Name]
	END

SELECT		*

FROM			mp_Users u

JOIN			#PageIndexForUsers p
ON			u.UserID = p.UserID

WHERE 		u.ProfileApproved = 1 
			AND u.SiteID = @SiteID
			AND u.IsDeleted = 0
			AND p.IndexID > @PageLowerBound 
			AND p.IndexID < @PageUpperBound

ORDER BY		p.IndexID

DROP TABLE #PageIndexForUsers

GO			