/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Tag_GetCountByModule]

@Guid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_Tag]
WHERE [ModuleGuid] = @Guid

GO



/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_Tag_GetCountBySite]

@Guid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_Tag]
WHERE [SiteGuid] = @Guid

GO



/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Tag_GetCountByFeature]

@Guid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_Tag]
WHERE [FeatureGuid] = @Guid

GO



/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Tag_SelectByModule]

@Guid uniqueidentifier

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [ModuleGuid] = @Guid
ORDER BY Tag

GO



/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Tag_SelectBySiteGuid]

@Guid uniqueidentifier

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [SiteGuid] = @Guid
ORDER BY Tag

GO



/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Tag_SelectBySite]

@ID int

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [SiteGuid] = (SELECT [SiteGuid] FROM [dbo].[mp_Sites] WHERE [SiteID] = @ID)
ORDER BY Tag

GO



/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Tag_SelectByFeature]

@Guid uniqueidentifier

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [FeatureGuid] = @Guid
ORDER BY Tag

GO



/*** ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_Tag_SelectByVocabulary]

@Guid uniqueidentifier

AS

SELECT *
FROM [dbo].[mp_Tag]
WHERE [VocabularyGuid] = @Guid
ORDER BY Tag

GO



/*** Rename columns in mp_TagItem table ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


EXECUTE sp_rename N'dbo.mp_TagItem.Guid', N'TagItemGuid', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.mp_TagItem.ItemGuid', N'RelatedItemGuid', 'COLUMN' 
GO



/*** Rename columns in mp_TagItem_Insert ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_TagItem_Insert]

@TagItemGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@RelatedItemGuid uniqueidentifier,
@TagGuid uniqueidentifier,
@ExtraGuid uniqueidentifier,
@TaggedBy uniqueidentifier

AS

INSERT INTO [dbo].[mp_TagItem] 
(
	[TagItemGuid],
	[SiteGuid],
	[FeatureGuid],
	[ModuleGuid],
	[RelatedItemGuid],
	[TagGuid],
	[ExtraGuid],
	[TaggedBy]
) 

VALUES 
(
	@TagItemGuid,
	@SiteGuid,
	@FeatureGuid,
	@ModuleGuid,
	@RelatedItemGuid,
	@TagGuid,
	@ExtraGuid,
	@TaggedBy
)



/***  ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_TagItem_Delete]

@TagItemGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE [TagItemGuid] = @TagItemGuid



/*** Drop old proc ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


DROP PROCEDURE [dbo].[mp_TagItem_DeleteByItem]

GO



/*** Create new proc with renamed column ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[mp_TagItem_DeleteByRelatedItem]

@RelatedItemGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_TagItem]
WHERE [RelatedItemGuid] = @RelatedItemGuid

GO



/*** Create stored procedure mp_TagItem_GetByRelatedItem ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_TagItem_GetByRelatedItem] 

@RelatedItemGuid uniqueidentifier

AS

SELECT 
	ti.[TagItemGuid],
	ti.[RelatedItemGuid],
	ti.[SiteGuid],
	ti.[FeatureGuid],
	ti.[ModuleGuid],
	ti.[TagGuid],
	ti.[ExtraGuid],
	ti.[TaggedBy],
	t.[Tag] AS [TagText]
FROM [dbo].[mp_TagItem] ti
INNER JOIN [dbo].[mp_Tag] t
ON ti.[TagGuid] = t.[Guid]
WHERE [RelatedItemGuid] = @RelatedItemGuid
ORDER BY [TagText]

GO



/*** Create stored procedure mp_TagItem_GetByExtra ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_TagItem_GetByExtra] 

@ExtraGuid uniqueidentifier

AS

SELECT 
	ti.[TagItemGuid],
	ti.[RelatedItemGuid],
	ti.[SiteGuid],
	ti.[FeatureGuid],
	ti.[ModuleGuid],
	ti.[TagGuid],
	ti.[ExtraGuid],
	ti.[TaggedBy],
	t.[Tag] AS [TagText]
FROM [dbo].[mp_TagItem] ti
INNER JOIN [dbo].[mp_Tag] t
ON ti.[TagGuid] = t.[Guid]
WHERE [ExtraGuid] = @ExtraGuid
ORDER BY [TagText]

GO



/*** Create stored procedure mp_TagItem_GetByTagItem ***/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_TagItem_GetByTagItem] 

@TagItemGuid uniqueidentifier

AS

SELECT 
	ti.[TagItemGuid],
	ti.[RelatedItemGuid],
	ti.[SiteGuid],
	ti.[FeatureGuid],
	ti.[ModuleGuid],
	ti.[TagGuid],
	ti.[ExtraGuid],
	ti.[TaggedBy],
	t.[Tag] AS [TagText]
FROM [dbo].[mp_TagItem] ti
INNER JOIN [dbo].[mp_Tag] t
ON ti.[TagGuid] = t.[Guid]
WHERE [ExtraGuid] = @TagItemGuid
ORDER BY [TagText]

GO