ALTER PROCEDURE [dbo].[mp_LetterInfo_SelectAll]

@SiteGuid	uniqueidentifier
AS
SELECT li.*, l.SendClickedUTC
				FROM mp_LetterInfo li
				LEFT JOIN (SELECT LetterInfoGuid, MAX(SendClickedUTC) AS SendClickedUTC FROM mp_Letter GROUP BY LetterInfoGuid) AS l ON l.LetterInfoGuid = li.LetterInfoGuid
				WHERE li.SiteGuid = @SiteGuid
				ORDER BY SortRank, Title;

GO