SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_RedirectList_SelectSearchPage]

@SiteID		int,
@SearchTerm nvarchar(255),
@PageNumber int,
@PageSize 	int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
RowGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
RowGuid
)

SELECT
		[RowGuid]
		
FROM
		[dbo].[mp_RedirectList]
		
WHERE
		[SiteID] = @SiteID

AND
		([NewUrl] LIKE '%' + @SearchTerm + '%'
		OR [OldUrl] LIKE '%' + @SearchTerm + '%')

ORDER BY
		[OldUrl]

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_RedirectList] t1

JOIN			#PageIndex t2
ON			
		t1.[RowGuid] = t2.[RowGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_RedirectList_GetSearchCount]

@SiteID int, 
@SearchTerm nvarchar(255)
AS

SELECT COUNT(*) 
FROM [dbo].[mp_RedirectList]
WHERE SiteID = @SiteID
AND (OldUrl LIKE '%' + @SearchTerm + '%' OR NewUrl LIKE '%' + @SearchTerm + '%')
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_Sites_UpdateSkinVersionGuidForAllSites]
	@NewGuid uniqueidentifier
AS
BEGIN
	UPDATE mp_SiteSettingsEx
	SET KeyValue = @NewGuid
	WHERE KeyName = 'SkinVersion'
	AND GroupName = 'Settings';
END
GO
