SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Tag_Update]

@Guid uniqueidentifier,
@Tag nvarchar(255),
@ModifiedUtc datetime,
@ModifiedBy uniqueidentifier,
@VocabularyGuid uniqueidentifier

AS

UPDATE [dbo].[mp_Tag] 
SET
	[Tag] = @Tag,
	[ModifiedUtc] = @ModifiedUtc,
	[ModifiedBy] = @ModifiedBy,
	[VocabularyGuid] = @VocabularyGuid
WHERE
	[Guid] = @Guid

GO




SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Tag_Insert]

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@Tag nvarchar(255),
@CreatedUtc datetime,
@CreatedBy uniqueidentifier,
@VocabularyGuid uniqueidentifier
	
AS

INSERT INTO [dbo].[mp_Tag] 
(
	[Guid],
	[VocabularyGuid],
	[SiteGuid],
	[FeatureGuid],
	[ModuleGuid],
	[Tag],
	[CreatedUtc],
	[CreatedBy],
	[ModifiedUtc],
	[ModifiedBy],
	[ItemCount]
) 
VALUES 
(
	@Guid,
	@VocabularyGuid,
	@SiteGuid,
	@FeatureGuid,
	@ModuleGuid,
	@Tag,
	@CreatedUtc,
	@CreatedBy,
	@CreatedUtc,
	@CreatedBy,
	0
)

GO