SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[mp_Roles_Insert]

/*
Created:		7/19/2004
Last Modified:	2018-10-31

*/

@RoleGuid	uniqueidentifier,
@SiteGuid	uniqueidentifier,
@SiteID    	int,
@RoleName    nvarchar(50),
@DisplayName nvarchar(50)

AS

INSERT INTO mp_Roles
(
			RoleGuid,
			SiteGuid,
    		SiteID,
    		RoleName,
    		DisplayName
)

VALUES
(
		@RoleGuid,
		@SiteGuid,
    	@SiteID,
    	@RoleName,
		@DisplayName
)

SELECT  @@Identity As RoleID
GO