/****** BEGIN adding description to roles ******/


/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT

BEGIN TRANSACTION
GO
ALTER TABLE [dbo].[mp_Roles] ADD [Description] nvarchar(255) NULL
GO
ALTER TABLE [dbo].[mp_Roles] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

BEGIN TRANSACTION
UPDATE [dbo].[mp_Roles] SET [Description] = '' WHERE [Description] IS NULL;
GO
COMMIT



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Roles_Insert]

@RoleGuid	uniqueidentifier,
@SiteGuid	uniqueidentifier,
@SiteID    	int,
@RoleName    nvarchar(50),
@DisplayName nvarchar(50),
@Description nvarchar(255)


AS

INSERT INTO [dbo].[mp_Roles]
(
[RoleGuid],
[SiteGuid],
[SiteID],
[RoleName],
[DisplayName],
[Description]
)

VALUES
(
@RoleGuid,
@SiteGuid,
@SiteID,
@RoleName,
@DisplayName,
@Description
)

SELECT  @@Identity As [RoleID]

GO


ALTER PROCEDURE [dbo].[mp_Roles_Update]

@RoleID      int,
@DisplayName    nvarchar(50),
@Description nvarchar(255)

AS

UPDATE		mp_Roles

SET
DisplayName = @DisplayName,
[Description] = @Description


WHERE
RoleID = @RoleID

GO


ALTER PROCEDURE [dbo].[mp_Roles_Select]


@SiteID  int

AS

SELECT
r.[RoleID],
r.[SiteID],
r.[RoleName],
r.[DisplayName],
r.[SiteGuid],
r.[RoleGuid],
r.[Description],
COUNT(ur.[UserID]) AS [MemberCount]

FROM		[dbo].[mp_Roles] r

LEFT OUTER JOIN [dbo].[mp_UserRoles] ur
ON		ur.[RoleID] = r.[RoleID]

WHERE   	r.[SiteID] = @SiteID

GROUP BY
r.[RoleID],
r.[SiteID],
r.[RoleName],
r.[DisplayName],
r.[SiteGuid],
r.[RoleGuid],
r.[Description]

ORDER BY r.[DisplayName]

GO





/****** END adding description to roles ******/