/********************************************************************
Insert SiteSettingsExDef SiteWideScript Settings
********************************************************************/
INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder])
VALUES
('SiteWideHeaderScripts','','admin',700),
('SiteWideFooterScripts','','admin',700),
('SiteWideHeaderAdminScripts','','admin',700),
('SiteWideFooterAdminScripts','','admin',700);

/********************************************************************
END Insert SiteSettingsExDef SiteWideScript Settings
********************************************************************/
GO
