/********************************************************************
Insert SiteSettingsExDef SMTPCustomHeaders Setting
********************************************************************/
INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder])
VALUES
('SMTPCustomHeaders','','SMTP',700);

/********************************************************************
END Insert SiteSettingsExDef SMTPCustomHeaders Settings
********************************************************************/
GO