/****************
Removed "IsAdmin" check on the Module Definition from stored proc
***************/

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[mp_ModuleDefinitions_SelectSearchableModules]
@SiteID int
AS
BEGIN
SELECT md.*
FROM [dbo].[mp_ModuleDefinitions] md
JOIN [dbo].[mp_SiteModuleDefinitions] smd ON smd.[ModuleDefID] = md.[ModuleDefID]
WHERE smd.[SiteID] = @SiteID
AND md.[IsSearchable] = 1
ORDER BY md.[SortOrder], md.[SearchListName];
END
GO

/****************
Create new stored proc to get modules on a page by feature
***************/

CREATE PROCEDURE mp_Modules_SelectByPageAndFeature

@PageID int,
@FeatureGuid uniqueidentifier
AS
BEGIN

SELECT
pm.*,
m.[ModuleTitle],
m.[FeatureGuid],
p.[PageName],
p.[UseUrl],
p.[Url]
FROM mp_PageModules pm
JOIN mp_Modules m ON pm.ModuleID = m.ModuleID
JOIN mp_Pages p ON pm.PageID = p.PageID
WHERE pm.PageID = @PageID
AND m.FeatureGuid = @FeatureGuid;
END
GO


/****************
Update mp_PageModule_SelectByModule to return FeatureGuid
***************/

ALTER PROCEDURE [dbo].[mp_PageModule_SelectByModule]

@ModuleID  	int

AS

SELECT pm.*,
m.ModuleTitle,
m.FeatureGuid,
p.PageName,
p.UseUrl,
p.Url

FROM		[dbo].mp_PageModules pm

JOIN		[dbo].mp_Modules m
ON			pm.ModuleID = m.ModuleID

JOIN		[dbo].mp_Pages p
ON			pm.PageID = p.PageID

WHERE	pm.ModuleID = @ModuleID

GO


/****************
Update mp_PageModule_SelectByPage to return FeatureGuid
***************/
ALTER PROCEDURE [dbo].[mp_PageModule_SelectByPage]

@PageID  	int


AS

SELECT pm.*,
m.ModuleTitle,
m.FeatureGuid,
p.PageName,
p.UseUrl,
p.Url

FROM		[dbo].mp_PageModules pm

JOIN		[dbo].mp_Modules m
ON			pm.ModuleID = m.ModuleID

JOIN		[dbo].mp_Pages p
ON			pm.PageID = p.PageID

WHERE	pm.PageID = @PageID

GO