SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[mp_UserRoles_SelectByUsername]
@SiteID int,
@Username NVARCHAR(225)
AS
BEGIN
SELECT
r.[RoleID],
r.[SiteID],
r.[RoleName],
r.[DisplayName],
r.[SiteGuid],
r.[RoleGuid],
r.[Description]
FROM [dbo].[mp_UserRoles] ur
INNER JOIN [dbo].[mp_Users] u ON ur.[UserID] = u.[UserID]
INNER JOIN [dbo].[mp_Roles] r ON ur.[RoleID] = r.[RoleID]
WHERE u.[SiteID] = @SiteID
AND (u.[Name] = @Username OR u.[Email] = @Username);
END
GO


CREATE OR ALTER PROCEDURE [dbo].[mp_Sites_SelectCount]
AS
BEGIN
SELECT COUNT(*) FROM [dbo].[mp_Sites];
END
GO


ALTER PROCEDURE [dbo].[mp_Users_GetUserRoles]
@SiteID int,
@UserID int
AS
BEGIN
SELECT
r.[RoleID],
r.[DisplayName],
r.[RoleName],
r.[RoleGuid],
r.[Description],
r.[SiteID],
r.[SiteGuid]
FROM [dbo].[mp_UserRoles] AS ur
INNER JOIN [dbo].[mp_Users] AS u ON ur.[UserID] = u.[UserID]
INNER JOIN 	[dbo].[mp_Roles] AS r ON ur.[RoleID] = r.[RoleID]
WHERE u.[SiteID] = @SiteID
AND ur.[UserID] = @UserID;
END
GO


/********************************************************************
start mp_Users_SelectPage
********************************************************************/
ALTER PROCEDURE [dbo].[mp_Users_SelectPage]
@PageNumber INT,
@PageSize INT,
@BeginsWith NVARCHAR(50),
@SiteID INT,
@SortMode INT,
@NameFilterMode NVARCHAR(10)
AS
DECLARE @PageLowerBound INT
DECLARE @PageUpperBound INT

SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndexForUsers (
IndexID INT IDENTITY(1, 1) NOT NULL,
UserID INT
)

IF @BeginsWith IS NULL
OR @BeginsWith = ''
BEGIN
INSERT INTO #PageIndexForUsers (UserID)
SELECT UserID
FROM mp_Users
WHERE ProfileApproved = 1
AND DisplayInMemberList = 1
AND SiteID = @SiteID
AND IsDeleted = 0
ORDER BY
(CASE @SortMode WHEN 1 THEN [DateCreated] END) DESC,
(CASE @SortMode WHEN 2 THEN [LastName] END),
(CASE @SortMode WHEN 2 THEN [FirstName] END),
[Name]
END
ELSE
BEGIN
INSERT INTO #PageIndexForUsers (UserID)
SELECT UserID
FROM mp_Users
WHERE ProfileApproved = 1
AND DisplayInMemberList = 1
AND SiteID = @SiteID
AND IsDeleted = 0
AND (
(@NameFilterMode = 'display' AND LOWER([Name]) LIKE LOWER(@BeginsWith) + '%')
OR ((@NameFilterMode = 'lastname' AND LOWER([LastName]) LIKE LOWER(@BeginsWith) + '%') OR (@NameFilterMode = 'lastname' AND LOWER([Name]) LIKE LOWER(@BeginsWith) + '%'))
OR (@NameFilterMode <> 'display' AND @NameFilterMode <> 'lastname' AND LOWER([Name]) LIKE LOWER(@BeginsWith) + '%')
)
ORDER BY
(CASE @SortMode WHEN 1 THEN [DateCreated] END) DESC,
(CASE @SortMode WHEN 2 THEN [LastName] END),
(CASE @SortMode WHEN 2 THEN [FirstName] END),
[Name]
END

SELECT *
FROM mp_Users u
JOIN #PageIndexForUsers p ON u.UserID = p.UserID
WHERE u.ProfileApproved = 1
AND u.SiteID = @SiteID
AND u.IsDeleted = 0
AND p.IndexID > @PageLowerBound
AND p.IndexID < @PageUpperBound
ORDER BY p.IndexID

DROP TABLE #PageIndexForUsers

/********************************************************************
END mp_Users_SelectPage
********************************************************************/
