/*
* Remove SitePersonalization and WebPart stored procedures and tables
*
*
*/

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePersonalizationPerUser_SetPageSettings]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePersonalizationPerUser_ResetPageSettings]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePersonalizationPerUser_GetPageSettings]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePersonalizationAllUsers_SetPageSettings]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePersonalizationAllUsers_GetPageSettings]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePersonalizationAdministration_GetCountOfState]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePersonalizationAdministration_FindState]
GO

DROP TABLE IF EXISTS [dbo].[mp_SitePersonalizationPerUser]
GO

DROP TABLE IF EXISTS [dbo].[mp_SitePersonalizationAllUsers]
GO

DROP TABLE IF EXISTS [dbo].[mp_WebParts]
GO

DROP TABLE IF EXISTS [dbo].[mp_SitePaths]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_WebPartExists]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_UpdateCountOfUseOnMyPage]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_Update]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_SelectPage]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_SelectOne]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_SelectBySite]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_Insert]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_GetWebPartsForMyPage]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_GetMostPopularWebPartsForMyPage]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_GetCount]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_WebParts_Delete]
GO

DROP PROCEDURE IF EXISTS [dbo].[mp_SitePaths_CreatePath]
GO


