 -- Indexes and Statistics for HtmlContent table.

CREATE NONCLUSTERED INDEX [IX_mp_HtmlContent_ModuleID_BeginDate_EndDate_LastModUserGuid_UserGuid] ON [dbo].[mp_HtmlContent]
(
	[ModuleID] ASC,
	[BeginDate] ASC,
	[EndDate] ASC,
	[LastModUserGuid] ASC,
	[UserGuid] ASC
)
INCLUDE([ItemID],[Title],[Excerpt],[Body],[MoreLink],[SortOrder],[CreatedDate],[UserID],[ItemGuid],[ModuleGuid],[LastModUtc],[ExcludeFromRecentContent]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO

CREATE STATISTICS [STAT_mp_HtmlContent_LastModUserGuid_UserGuid_ModuleID_BeginDate] ON [dbo].[mp_HtmlContent]([LastModUserGuid], [UserGuid], [ModuleID], [BeginDate])
GO

CREATE STATISTICS [STAT_mp_HtmlContent_BeginDate_EndDate] ON [dbo].[mp_HtmlContent]([BeginDate], [EndDate])
GO

 -- Indexes and Statistics for ModuleDefinitionSettings table.
CREATE NONCLUSTERED INDEX [IX_mp_ModuleDefinitionSettings_ModuleDefID_ID] ON [dbo].[mp_ModuleDefinitionSettings]
(
	[ModuleDefID] ASC,
	[ID] ASC
)
INCLUDE([SettingName],[SettingValue],[ControlType],[RegexValidationExpression],[ControlSrc],[SortOrder],[HelpKey]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO

CREATE STATISTICS [STAT_mp_ModuleDefinitionSettings_SortOrder_GroupName] ON [dbo].[mp_ModuleDefinitionSettings]([ID], [SortOrder], [GroupName])
GO

CREATE STATISTICS [STAT_mp_ModuleDefinitionSettings_SortOrder_GroupName_ModuleDefID_SettingName] ON [dbo].[mp_ModuleDefinitionSettings]([SortOrder], [GroupName], [ModuleDefID], [SettingName])
GO

CREATE STATISTICS [STAT_mp_ModuleDefinitionSettings_ModuleDefID_ID_SettingName_SortOrder_GroupName] ON [dbo].[mp_ModuleDefinitionSettings]([ModuleDefID], [ID], [SettingName], [SortOrder], [GroupName])
GO

CREATE STATISTICS [STAT_mp_ModuleDefinitionSettings_SettingName_ID] ON [dbo].[mp_ModuleDefinitionSettings]([SettingName], [ID])
GO

 -- Indexes and Statistics for ModuleSettings table.

SET ANSI_PADDING ON

CREATE NONCLUSTERED INDEX [IX_mp_ModuleSettings_ModuleID_SettingName] ON [dbo].[mp_ModuleSettings]
(
	[ModuleID] ASC,
	[SettingName] ASC
)
INCLUDE([ID],[SettingValue]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO

CREATE STATISTICS [STAT_mp_ModuleSettings_ModuleID_ID] ON [dbo].[mp_ModuleSettings]([ModuleID], [ID])
GO

CREATE STATISTICS [STAT_mp_ModuleSettings_SettingName_ID] ON [dbo].[mp_ModuleSettings]([SettingName], [ID])
GO

CREATE STATISTICS [STAT_mp_ModuleSettings_SettingName_ModuleID_ID] ON [dbo].[mp_ModuleSettings]([SettingName], [ModuleID], [ID])
GO

CREATE STATISTICS [STAT_mp_ModuleSettings_SortOrder_ModuleID_SettingName] ON [dbo].[mp_ModuleSettings]([SortOrder], [ModuleID], [SettingName])
GO