SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**** START

Alter mp_SiteHosts_SelectSiteIdByHost to be more reslient to people fiddling with their database

****/

ALTER PROCEDURE [dbo].[mp_SiteHosts_SelectSiteIdByHost]

@HostName nvarchar(255)

AS

SELECT COALESCE(
(SELECT TOP(1) [SiteID] FROM [mp_SiteHosts] WHERE [HostName] = @HostName ORDER BY [SiteID]),
(SELECT TOP(1) [SiteID] FROM [mp_Sites] WHERE [IsServerAdminSite] = 1 ORDER BY [SiteID]),
(SELECT TOP(1) [SiteID] FROM [mp_Sites] ORDER BY [SiteID] )
) AS [SiteID];

GO
/**** FINISH

Alter mp_SiteHosts_SelectSiteIdByHost to be more reslient to people fiddling with their database

****/

/**** START

Alter mp_SiteFolders for closer parity with mp_SiteHosts

****/
ALTER TABLE [mp_SiteFolders]
ADD [SiteID] int NOT NULL
CONSTRAINT [DF_mp_SiteFolders_SiteID] DEFAULT -1;

GO

UPDATE [sf]
SET [sf].[SiteID] = [s].[SiteID]
FROM [mp_SiteFolders] [sf]
INNER JOIN [mp_Sites] [s] ON [sf].[SiteGuid] = [s].[SiteGuid];

GO

/**** FINISH

Alter mp_SiteFolders for closer parity with mp_SiteHosts

****/

/**** START

Alter mp_SiteFolders_SelectSiteIdByFolder to remove join with mp_Sites and be more reslient to people fiddling with their database

****/
ALTER PROCEDURE [dbo].[mp_SiteFolders_SelectSiteIdByFolder]

@FolderName		nvarchar(255)

AS

SELECT COALESCE(
(SELECT TOP(1) [SiteID] FROM [mp_SiteFolders] WHERE [FolderName] = @FolderName ORDER BY [SiteID]),
(SELECT TOP(1) [SiteID] FROM [mp_Sites] WHERE [IsServerAdminSite] = 1 ORDER BY [SiteID]),
(SELECT TOP(1) [SiteID] FROM [mp_Sites] ORDER BY [SiteID] )
) AS [SiteID];

GO
/**** FINISH

Alter mp_SiteFolders_SelectSiteIdByFolder to remove join with mp_Sites and be more reslient to people fiddling with their database

****/

/**** START

Alter mp_SiteFolders_* to add SiteId

****/

ALTER PROCEDURE [dbo].[mp_SiteFolders_Insert]

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SiteId int,
@FolderName nvarchar(255)


AS

INSERT INTO 	[dbo].[mp_SiteFolders]
(
[Guid],
[SiteGuid],
[SiteId],
[FolderName]
)

VALUES
(
@Guid,
@SiteGuid,
@SiteId,
@FolderName
)

GO


ALTER PROCEDURE [dbo].[mp_SiteFolders_SelectOne]

@Guid uniqueidentifier

AS

SELECT *

FROM
[dbo].[mp_SiteFolders]

WHERE
[Guid] = @Guid


GO


ALTER PROCEDURE [dbo].[mp_SiteFolders_SelectPage]

@PageNumber 			int,
@PageSize 				int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex
(
IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex (
[Guid]
)

SELECT
[Guid]

FROM
[dbo].[mp_SiteFolders]


ORDER BY FolderName

END

SELECT
t1.*

FROM
[dbo].[mp_SiteFolders] t1

JOIN			#PageIndex t2
ON
t1.[Guid] = t2.[Guid]

WHERE
t2.IndexID > @PageLowerBound
AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO
	
	
	
ALTER PROCEDURE [dbo].[mp_SiteFolders_Update]
	
@Guid uniqueidentifier, 
@FolderName nvarchar(255) 

AS

UPDATE 		[dbo].[mp_SiteFolders] 

SET
			[FolderName] = @FolderName
			
WHERE
			[Guid] = @Guid	
	
	
GO	

	
	
ALTER PROCEDURE [dbo].[mp_SiteFolders_SelectAll]

AS

SELECT *
		
FROM
		[dbo].[mp_SiteFolders]
		
ORDER BY SiteId, FolderName

	
GO

	
ALTER PROCEDURE [dbo].[mp_SiteFolders_SelectBySite]

@SiteGuid uniqueidentifier

AS

SELECT	*
		
FROM
		[dbo].[mp_SiteFolders]
		
WHERE
		[SiteGuid] = @SiteGuid
		
	
	
GO
	
	
/**** FINISH

Alter mp_SiteFolders_* to add SiteId

****/
