SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[mp_ContentWorkflow_SelectPage]
	@SiteGuid uniqueidentifier,
	@Status nvarchar(20),
	@PageNumber int,
	@PageSize int
AS
BEGIN
	DECLARE @PageLowerBound int = (@PageSize * @PageNumber) - @PageSize;
	DECLARE @PageUpperBound int= @PageLowerBound + @PageSize + 1;

	CREATE TABLE #PageIndex 
	(
		[IndexID] int IDENTITY (1, 1) NOT NULL,
		[Guid] UniqueIdentifier
	);

	BEGIN
		INSERT INTO #PageIndex ([Guid])
		SELECT [Guid]
		FROM [dbo].[mp_ContentWorkflow]
		WHERE SiteGuid = @SiteGuid
		AND [Status] = @Status
		ORDER BY [CreatedDateUtc] DESC
	END

	SELECT
		cw.*,
		m.[ModuleID],
		m.[ModuleTitle],
		COALESCE(createdBy.[Name], 'Deleted user') as [CreatedByUserName],
		COALESCE(createdBy.[LoginName], 'deleted') as [CreatedByUserLogin],
		COALESCE(createdBy.[Email], 'deleted@user.com') as [CreatedByUserEmail],
		cwah.[Notes] as [Notes],
		cwah.[CreatedDateUtc] as [RecentActionOn],
		COALESCE(recentActionBy.[Name], 'Deleted user') as [RecentActionByUserName],
		COALESCE(recentActionBy.[LoginName], 'deleted') as [RecentActionByUserLogin],
		COALESCE(recentActionBy.[Email], 'deleted@user.com') as [RecentActionByUserEmail]
	FROM [dbo].[mp_ContentWorkflow] cw
	JOIN #PageIndex idx ON cw.[Guid] = idx.[Guid]
	JOIN [dbo].[mp_Modules] m ON cw.[ModuleGuid] = m.[Guid]
	LEFT OUTER JOIN [dbo].[mp_Users] createdBy ON createdBy.[UserGuid] = cw.[UserGuid]
	LEFT OUTER JOIN [dbo].[mp_ContentWorkflowAuditHistory] cwah ON cwah.[ContentWorkflowGuid] = cw.[Guid] AND cwah.[Active] = 1
	LEFT OUTER JOIN [dbo].[mp_Users] recentActionBy ON recentActionBy.[UserGuid] = cwah.[UserGuid]
	WHERE idx.[IndexID] > @PageLowerBound
	AND idx.[IndexID] < @PageUpperBound
	ORDER BY idx.[IndexID];

	DROP TABLE #PageIndex;
END
GO
