ALTER TABLE [dbo].[mp_ModuleDefinitionSettings]
ADD
	[Roles] nvarchar(255) NOT NULL CONSTRAINT [DF_mp_ModuleDefinitionSettings_Roles] DEFAULT '',
	[ShowToUnauthorized] bit NOT NULL CONSTRAINT [DF_mp_ModuleDefinitionSettings_ShowToUnauthorized] DEFAULT 0
GO

ALTER TABLE [dbo].[mp_ModuleDefinitionSettings] SET (LOCK_ESCALATION = TABLE)
GO

ALTER PROCEDURE [dbo].[mp_ModuleSettings_Select](@ModuleID int)
AS
BEGIN
	DECLARE @ModuleDefID int;

	SELECT @ModuleDefID = [ModuleDefID]
	FROM [dbo].[mp_Modules]
	WHERE [ModuleID] = @ModuleID;

	SELECT
		ms.[ID],
		ms.[ModuleID],
		ms.[SettingName],
		ms.[SettingValue],
		mds.[ModuleDefID],
		mds.[FeatureGuid],
		mds.[ResourceFile],
		mds.[ControlType],
		mds.[RegexValidationExpression],
		mds.[ControlSrc],
		mds.[SortOrder],
		mds.[HelpKey],
		mds.[GroupName],
		mds.[Attributes],
		mds.[Options],
		mds.[Roles],
		mds.[ShowToUnauthorized]
	FROM [dbo].[mp_ModuleSettings] ms
	JOIN [dbo].[mp_ModuleDefinitionSettings] mds
		ON mds.[ModuleDefID] = @ModuleDefID 
		AND mds.[SettingName] = ms.[SettingName]
	WHERE ms.[ModuleID] = @ModuleID
	ORDER BY mds.[SortOrder], mds.[GroupName];
END

ALTER PROCEDURE [dbo].[mp_ModuleDefinitionSettings_Update]
	@ModuleDefID int,
	@SettingName nvarchar(50),
	@SettingValue nvarchar(max),
	@ControlType nvarchar(50),
	@RegexValidationExpression 	nvarchar(max),
	@FeatureGuid uniqueidentifier,
	@ResourceFile nvarchar(255),
	@ControlSrc	nvarchar(255),
	@HelpKey	nvarchar(255),
	@SortOrder	int,
	@GroupName nvarchar(255),
	@Attributes ntext,
	@Options ntext,
	@Roles nvarchar(255),
	@ShowToUnauthorized bit
AS
BEGIN
	IF NOT EXISTS (
		SELECT *
		FROM [dbo].[mp_ModuleDefinitionSettings] 
		WHERE ([ModuleDefID] = @ModuleDefID OR [FeatureGuid] = @FeatureGuid)
		AND [SettingName] = @SettingName
	)
	BEGIN
		INSERT INTO [dbo].[mp_ModuleDefinitionSettings] (
			FeatureGuid,
			ModuleDefID,
			ResourceFile,
			SettingName,
			SettingValue,
			ControlType,
			RegexValidationExpression,
			ControlSrc,
			HelpKey,
			SortOrder,
			GroupName,
			Attributes,
			Options,
			Roles,
			ShowToUnauthorized
		) 
		VALUES (
			@FeatureGuid,
			@ModuleDefID,
			@ResourceFile,
			@SettingName,
			@SettingValue,
			@ControlType,
			@RegexValidationExpression,
			@ControlSrc,
			@HelpKey,
			@SortOrder,
			@GroupName,
			@Attributes,
			@Options,
			@Roles,
			@ShowToUnauthorized
		)
	END

	ELSE
	BEGIN
		UPDATE [dbo].[mp_ModuleDefinitionSettings]
		SET
			[FeatureGuid] = @FeatureGuid,
			[SettingValue] = @SettingValue,
			[ControlType] = @ControlType,
			[RegexValidationExpression] = @RegexValidationExpression,
			[ResourceFile] = @ResourceFile,
			[ControlSrc] = @ControlSrc,
			[HelpKey] = @HelpKey,
			[SortOrder] = @SortOrder,
			[GroupName] = @GroupName,
			[Attributes] = @Attributes,
			[Options] = @Options,
			[Roles] = @Roles,
			[ShowToUnauthorized] = @ShowToUnauthorized
		WHERE ([ModuleDefID] = @ModuleDefID OR [FeatureGuid] = @FeatureGuid)
		AND [SettingName] = @SettingName
	END
END


ALTER PROCEDURE [dbo].[mp_ModuleDefinitionSettings_UpdateByID]
	@ID int,
	@ModuleDefID int,
	@SettingName nvarchar(50),
	@SettingValue nvarchar(max),
	@ControlType nvarchar(50),
	@RegexValidationExpression nvarchar(max),
	@ResourceFile nvarchar(255),
	@ControlSrc nvarchar(255),
	@HelpKey nvarchar(255),
	@SortOrder int,
	@GroupName nvarchar(255),
	@Attributes ntext,
	@Options ntext,
	@Roles nvarchar(255),
	@ShowToUnauthorized bit
AS
BEGIN
	UPDATE [dbo].[mp_ModuleDefinitionSettings]
	SET
		[ResourceFile] = @ResourceFile,
		[SettingName] = @SettingName,
		[SettingValue] = @SettingValue,
		[ControlType] = @ControlType,
		[RegexValidationExpression] = @RegexValidationExpression,
		[ControlSrc] = @ControlSrc,
		[HelpKey] = @HelpKey,
		[SortOrder] = @SortOrder,
		[GroupName] = @GroupName,
		[Attributes] = @Attributes,
		[Options] = @Options,
		[Roles] = @Roles,
		[ShowToUnauthorized] = @ShowToUnauthorized
	WHERE [ID] = @ID AND [ModuleDefID] = @ModuleDefID
END
