CREATE TABLE `mp_Polls` (
 `PollGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `Question` varchar(255) NOT NULL,
 `Active` INTEGER NOT NULL,
 `AnonymousVoting` INTEGER NOT NULL,
 `AllowViewingResultsBeforeVoting` INTEGER NOT NULL,
 `ShowOrderNumbers` INTEGER NOT NULL,
 `ShowResultsWhenDeactivated` INTEGER NOT NULL,
 `ActiveFrom` datetime NOT NULL,
 `ActiveTo` datetime NOT NULL
);

CREATE TABLE `mp_PollModules` (
 `PollGuid` varchar(36) NOT NULL,  
 `ModuleID` INTEGER NOT NULL,
 PRIMARY KEY(`PollGuid`,`ModuleID`)
);

CREATE TABLE `mp_PollOptions` (
 `OptionGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `PollGuid` varchar(36) NOT NULL,
 `Answer` varchar(255) NOT NULL,
 `Votes` INTEGER NOT NULL,
 `Order` INTEGER NOT NULL
);

CREATE TABLE `mp_PollUsers` (
 `PollGuid` varchar(36) NOT NULL,  
 `UserGuid` varchar(36) NOT NULL, 
 `OptionGuid` varchar(36) NOT NULL,
 PRIMARY KEY(`PollGuid`,`UserGuid`)
);

