CREATE TABLE MP_GALLERYIMAGES
(
  ITEMID Integer NOT NULL,
  MODULEID Integer NOT NULL,
  DISPLAYORDER Integer NOT NULL,
  CAPTION Varchar(255),
  DESCRIPTION Blob sub_type 1,
  METADATAXML Blob sub_type 1,
  IMAGEFILE Varchar(100),
  WEBIMAGEFILE Varchar(100),
  THUMBNAILFILE Varchar(100),
  UPLOADDATE Timestamp NOT NULL,
  UPLOADUSER Varchar(100),
  ITEMGUID Varchar(36),
  MODULEGUID Varchar(36),
  USERGUID Varchar(36),
  PRIMARY KEY (ITEMID)
);
