SET TERM ^ ;
ALTER PROCEDURE MP_GALLERYIMAGES_INSERT (
    MODULEID Integer,
    DISPLAYORDER Integer,
    CAPTION Varchar(255),
    DESCRIPTION Blob sub_type 1,
    METADATAXML Blob sub_type 1,
    IMAGEFILE Varchar(100),
    WEBIMAGEFILE Varchar(100),
    THUMBNAILFILE Varchar(100),
    UPLOADDATE Timestamp,
    UPLOADUSER Varchar(100),
    ITEMGUID Char(36),
    MODULEGUID Char(36),
    USERGUID Char(36) )
RETURNS (
    ITEMID Integer )
AS
BEGIN
 ITEMID = NEXT VALUE FOR mp_GalleryImages_seq;

INSERT INTO 	MP_GALLERYIMAGES
(				
                ITEMID,
                MODULEID,
                DISPLAYORDER,
                CAPTION,
                DESCRIPTION,
                METADATAXML,
                IMAGEFILE,
                WEBIMAGEFILE,
                THUMBNAILFILE,
                UPLOADDATE,
                UPLOADUSER,
		ITEMGUID,
		MODULEGUID,
                USERGUID
) 
VALUES 
(				
               :ITEMID,
               :MODULEID,
               :DISPLAYORDER,
               :CAPTION,
               :DESCRIPTION,
               :METADATAXML,
               :IMAGEFILE,
               :WEBIMAGEFILE,
               :THUMBNAILFILE,
               :UPLOADDATE,
               :UPLOADUSER,
	      :ITEMGUID,
	      :MODULEGUID,
               :USERGUID
);

END^
SET TERM ; ^

