SET TERM ^ ;
ALTER PROCEDURE MP_LINKS_INSERT (
    MODULEID Integer,
    TITLE Varchar(255),
    URL Varchar(255),
    TARGET Varchar(20),
    VIEWORDER Integer,
    DESCRIPTION Blob sub_type 1,
    CREATEDDATE Timestamp,
    CREATEDBY Integer,
    ITEMGUID Char(36),
    MODULEGUID Char(36),
    USERGUID Char(36) )
RETURNS (
    ITEMID Integer )
AS
BEGIN
 ITEMID = NEXT VALUE FOR mp_Links_seq;

INSERT INTO 	MP_LINKS
(				
                ITEMID,
                MODULEID,
                TITLE,
                URL,
                TARGET,
                VIEWORDER,
                DESCRIPTION,
                CREATEDDATE,
                CREATEDBY,
		ITEMGUID,
		MODULEGUID,
                USERGUID
) 
VALUES 
(				
               :ITEMID,
               :MODULEID,
               :TITLE,
               :URL,
               :TARGET,
               :VIEWORDER,
               :DESCRIPTION,
               :CREATEDDATE,
               :CREATEDBY,
	      :ITEMGUID,
	      :MODULEGUID,
               :USERGUID
);

END^
SET TERM ; ^
