CREATE TABLE mp_polls (
    pollguid varchar(36) NOT NULL, 
    siteguid varchar(36) NOT NULL,
    question varchar(255) NOT NULL,
    "active" bool NOT NULL,
    anonymousvoting bool NOT NULL,
    allowviewingresultsbeforevoting bool NOT NULL,
    showordernumbers bool NOT NULL,
    showresultswhendeactivated bool NOT NULL,
    activefrom timestamp NOT NULL,
    activeto timestamp NOT NULL);
	
CREATE UNIQUE INDEX mp_polls_pkey
  ON mp_polls (pollguid);     

ALTER TABLE mp_polls
ADD CONSTRAINT pk_polls PRIMARY KEY (pollguid);  


CREATE TABLE mp_pollmodules (
	pollguid varchar(36) NOT NULL,
	moduleid int4 NOT NULL);
	
CREATE UNIQUE INDEX mp_pollmodules_pkey
  ON mp_pollmodules(pollguid,moduleid);  
  

ALTER TABLE mp_pollmodules
ADD CONSTRAINT pk_pollmodules PRIMARY KEY (pollguid,moduleid);      



CREATE TABLE mp_polloptions (
    optionguid varchar(36) NOT NULL, 
    pollguid varchar(36) NOT NULL,
    answer varchar(255) NOT NULL,
    votes int4 NOT NULL,
    "order" int4 NOT NULL);
	
CREATE UNIQUE INDEX mp_polloptions_pkey
  ON mp_polloptions(optionguid);     

ALTER TABLE mp_polloptions
ADD CONSTRAINT pk_polloptions PRIMARY KEY (optionguid); 


CREATE TABLE mp_pollusers (
    pollguid varchar(36) NOT NULL,
    userguid varchar(36) NOT NULL, 
    optionguid varchar(36) NOT NULL);
	
CREATE UNIQUE INDEX mp_pollusers_pkey
  ON mp_pollusers(pollguid,userguid);     

ALTER TABLE mp_pollusers
ADD CONSTRAINT pk_pollusers PRIMARY KEY (pollguid,userguid);


