SET TERM ^ ;
ALTER PROCEDURE MP_MODULEDEFINITIONSETTINGS_INS (
    MODULEDEFID Integer,
    SETTINGNAME Varchar(50),
    SETTINGVALUE Varchar(255),
    CONTROLTYPE Varchar(50),
    REGEXVALEXPRESSION Blob sub_type 1,
    FEATUREGUID Char(36),
    RESOURCEFILE Varchar(255),
    CONTROLSRC Varchar(255),
    HELPKEY Varchar(255),
    SORTORDER Integer,
    GROUPNAME Varchar(255) )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_ModuleDefinitionSettings_seq;

INSERT INTO 	MP_MODULEDEFINITIONSETTINGS
(				
                ID,
                MODULEDEFID,
                SETTINGNAME,
                SETTINGVALUE,
                CONTROLTYPE,
                REGEXVALIDATIONEXPRESSION,
                FEATUREGUID,
                RESOURCEFILE,
                CONTROLSRC,
                HELPKEY,
                SORTORDER,
                GROUPNAME
) 
VALUES 
(				
               :ID,
               :MODULEDEFID,
               :SETTINGNAME,
               :SETTINGVALUE,
               :CONTROLTYPE,
               :REGEXVALEXPRESSION,
               :FEATUREGUID,
               :RESOURCEFILE,
               :CONTROLSRC,
               :HELPKEY,
               :SORTORDER,
               :GROUPNAME
);

END^
SET TERM ; ^
