<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="fa969c0a-6d02-4dcb-86b8-ac69d80c1fb1"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="XmlResources"
		featureNameReasourceKey="XmlXslFeatureName"
		controlSource="XmlXsl/XmlModule.ascx"
		sortOrder="1000"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
		<featureSetting
			resourceFile="XmlResources"
			resourceKey="XmlModuleXmlSourceSetting"
			defaultValue=""
			controlType=""
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
				/>
		<featureSetting
			resourceFile="XmlResources"
			resourceKey="XmlModuleXslSourceSetting"
			defaultValue=""
			controlType=""
      controlSrc=""
      helpKey=""
      sortOrder="200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="XmlResources"
			resourceKey="XmlUrl"
			defaultValue=""
			controlType=""
      controlSrc=""
      helpKey=""
      sortOrder="200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="XmlResources"
			resourceKey="XslUrl"
			defaultValue=""
			controlType=""
      controlSrc=""
      helpKey=""
      sortOrder="200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="300"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
    <featureSetting
			resourceFile="XmlResources"
			resourceKey="AllowExternalImages"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="xml-AllowExternalImages-help"
      sortOrder="400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="XmlResources"
			resourceKey="TrustContent"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="xml-TrustContent-help"
      sortOrder="500"
			regexValidationExpression=""
			/>
	</featureDefinition>
</featureDefinitions>

