SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

/****** This fixes the ordering of list type questions. ******/
if exists (select * from [dbo].sysobjects where id = object_id(N'[dbo].[mp_SurveyQuestionOptions_Select]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
drop procedure [dbo].[mp_SurveyQuestionOptions_Select]
END

GO

CREATE PROCEDURE [dbo].[mp_SurveyQuestionOptions_Select]


/*

Author:                 Rob Henry

Created:                10/09/2007

Last Modified:          31/10/2007

*/


@QuestionGuid uniqueidentifier


AS


SELECT

[QuestionOptionGuid],

[QuestionGuid],

[Answer],

[Order]



FROM

[dbo].[mp_SurveyQuestionOptions]

WHERE

[QuestionGuid] = @QuestionGuid

ORDER BY

[Order]


GO


/****** This will rename some sprocs to make the naming consistent ******/


IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_Surveys_Update]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)

BEGIN

EXEC sp_rename 'mp_Surveys_Update', 'mp_Survey_Update'

END

GO

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_Surveys_Delete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)

BEGIN

EXEC sp_rename 'mp_Surveys_Delete', 'mp_Survey_Delete'

END

GO

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_Surveys_Insert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)

BEGIN

EXEC sp_rename 'mp_Surveys_Insert', 'mp_Survey_Insert'

END

GO

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_Surveys_SelectAll]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)

BEGIN

EXEC sp_rename 'mp_Surveys_SelectAll', 'mp_Survey_SelectAll'

END

GO

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_Surveys_SelectOne]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)

BEGIN

EXEC sp_rename 'mp_Surveys_SelectOne', 'mp_Survey_SelectOne'

END

GO

/****** This allows for questions not answered to display as an empty answer in the results page
which should make things look more consistent ******/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_SurveyResults_Select]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)

BEGIN

drop procedure [dbo].[mp_SurveyResults_Select]

END

GO

CREATE PROCEDURE [dbo].[mp_SurveyResults_Select]

/*
Author:   			Rob Henry
Created: 			18/09/2007
Last Modified: 		18/09/2007
*/

@ResponseGuid uniqueidentifier

AS


SELECT
sq.QuestionText,
qa.Answer,
sp.PageTitle,
sq.QuestionGuid,
sr.ResponseGuid
FROM
mp_Surveys s
JOIN
mp_SurveyResponses sr
ON
s.SurveyGuid = sr.SurveyGuid
JOIN
mp_SurveyPages sp
ON
sr.SurveyGuid = sp.SurveyGuid
JOIN
mp_SurveyQuestions sq
ON
sp.PageGuid = sq.PageGuid
LEFT JOIN
mp_SurveyQuestionAnswers qa
ON
sq.QuestionGuid = qa.QuestionGuid
AND
sr.REsponseGuid = qa.ResponseGuid
WHERE
sr.ResponseGuid = @ResponseGuid
AND
sr.Complete = 1
AND
sp.PageEnabled = 1
ORDER BY
sp.PageOrder, sq.QuestionOrder
GO


/****** This fixes a bug that means new surveys display responses from previous surveys ******/

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[mp_SurveyResponses_GetFirst]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)

BEGIN

drop procedure [dbo].[mp_SurveyResponses_GetFirst]

END

GO

CREATE PROCEDURE [dbo].[mp_SurveyResponses_GetFirst]

/*
Author:   			Rob Henry
Created: 			2007-10-21
Last Modified: 		2007-10-21
*/

@SurveyGuid uniqueidentifier

AS

SELECT TOP 1
[ResponseGuid],
[SurveyGuid],
[UserId],
[SubmissionDate],
[Annonymous],
[Complete]

FROM
[dbo].[mp_SurveyResponses]

WHERE
Complete = 1
AND
SurveyGuid = @SurveyGuid
ORDER BY
SubmissionDate,
ResponseGuid

GO