SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Survey_SelectOne]

/*
Author:   			Rob Henry
Created: 			03/10/2007
Last Modified: 		2008-01-20
*/

@SurveyGuid uniqueidentifier

AS


SELECT
[SurveyGuid],
[SiteGuid],
[SurveyName],
[CreationDate],
[StartPageText],
[EndPageText],
'PageCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyPages]
				WHERE
					[SurveyGuid] = @SurveyGuid),
'ResponseCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyResponses]
				WHERE
					[SurveyGuid] = @SurveyGuid)

FROM
[dbo].[mp_Surveys]

WHERE
[SurveyGuid] = @SurveyGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Survey_SelectAll]

/*
Author:   			Rob Henry
Created: 			03/10/2007
Last Modified: 		2008-01-20
*/

AS


SELECT
	s.[SurveyGuid],
	s.[SiteGuid],
	s.[SurveyName],
	s.[CreationDate],
	s.[StartPageText],
	s.[EndPageText],
	'PageCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyPages] sp
				WHERE
					sp.[SurveyGuid] = s.[SurveyGuid]),
	'ResponseCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyResponses] sr
				WHERE
					sr.[SurveyGuid] = s.[SurveyGuid])

FROM
	[dbo].[mp_Surveys] s

ORDER BY
	s.[SurveyName]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_SurveyPages_SelectOne]

/*
Author:   			Rob Henry
Created: 			22/09/2007
Last Modified: 		2008-01-20
*/

@PageGuid uniqueidentifier

AS


SELECT
		[PageGuid],
		[SurveyGuid],
		[PageTitle],
		[PageOrder],
		[PageEnabled],
		'QuestionCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyQuestions]
				WHERE
					[PageGuid] = @PageGuid)
		
FROM
		[dbo].[mp_SurveyPages]
		
WHERE
		[PageGuid] = @PageGuid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_SurveyPages_SelectAll]

/*
Author:   			Rob Henry
Created: 			22/09/2007
Last Modified: 		2008-01-20
*/

@SurveyGuid uniqueidentifier

AS

SELECT
		sp.[PageGuid],
		sp.[SurveyGuid],
		sp.[PageTitle],
		sp.[PageOrder],
		sp.[PageEnabled],
		'QuestionCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyQuestions] sq
				WHERE
					sq.[PageGuid] = sp.[PageGuid])
		
FROM
		[dbo].[mp_SurveyPages] sp
WHERE
		[SurveyGuid] = @SurveyGuid
ORDER BY
		[PageOrder]

GO

