SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Survey_Insert]

/*
Author:   			Rob Henry
Created: 			03/10/2007
Last Modified: 		1/18/2008
*/

@SurveyGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SurveyName nvarchar(200),
@CreationDate datetime,
@StartPageText nvarchar (1800),
@EndPageText nvarchar (1800)

	
AS

INSERT INTO 	[dbo].[mp_Surveys] 
(
				[SurveyGuid],
				[SiteGuid],
				[SurveyName],
				[CreationDate],
				[AnonymousCompletion],
				[StartPageText],
				[EndPageText]
) 

VALUES 
(
				@SurveyGuid,
				@SiteGuid,
				@SurveyName,
				@CreationDate,
				0,
				@StartPageText,
				@EndPageText
				
)

GO
