ALTER TABLE mp_SurveyQuestionAnswers ALTER COLUMN [Answer] NVARCHAR(MAX) null
ALTER TABLE mp_SurveyQuestions ALTER COLUMN [QuestionText] NVARCHAR(MAX) null

ALTER TABLE mp_Surveys ALTER COLUMN [StartPageText] NVARCHAR(MAX) null
ALTER TABLE mp_Surveys ALTER COLUMN [EndPageText] NVARCHAR(MAX) null

GO

ALTER PROCEDURE [dbo].[mp_Survey_Insert]

/*
Author:   			Rob Henry
Created: 			2007-03-07
Last Modified: 		2010-07-02
*/

@SurveyGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SurveyName nvarchar(255),
@CreationDate datetime,
@StartPageText nvarchar(max),
@EndPageText nvarchar(max)

	
AS

INSERT INTO 	[dbo].[mp_Surveys] 
(
				[SurveyGuid],
				[SiteGuid],
				[SurveyName],
				[CreationDate],
				[StartPageText],
				[EndPageText]
) 

VALUES 
(
				@SurveyGuid,
				@SiteGuid,
				@SurveyName,
				@CreationDate,
				@StartPageText,
				@EndPageText
				
)

GO

ALTER PROCEDURE [dbo].[mp_Survey_SelectAll]

/*
Author:   			Rob Henry
Created: 			2007-03-10
Last Modified: 		2010-07-02
*/

@SiteGuid uniqueidentifier

AS


SELECT
	s.[SurveyGuid],
	s.[SiteGuid],
	s.[SurveyName],
	s.[CreationDate],
	s.[StartPageText],
	s.[EndPageText],
	(SELECT COUNT(*) FROM [dbo].[mp_SurveyPages] sp
				WHERE
					sp.[SurveyGuid] = s.[SurveyGuid]) AS [PageCount],
	(SELECT COUNT(*) FROM [dbo].[mp_SurveyResponses] sr
				WHERE
					sr.[SurveyGuid] = s.[SurveyGuid]) AS ResponseCount

FROM
	[dbo].[mp_Surveys] s

WHERE s.SiteGuid = @SiteGuid

ORDER BY
	s.[SurveyName]

GO

ALTER PROCEDURE [dbo].[mp_Survey_SelectOne]

/*
Author:   			Rob Henry
Created: 			2007-03-10
Last Modified: 		2010-07-02
*/

@SurveyGuid uniqueidentifier

AS


SELECT
[SurveyGuid],
[SiteGuid],
[SurveyName],
[CreationDate],
[StartPageText],
[EndPageText],
(SELECT COUNT(*) FROM [dbo].[mp_SurveyPages]
				WHERE
					[SurveyGuid] = @SurveyGuid) AS [PageCount],
(SELECT COUNT(*) FROM [dbo].[mp_SurveyResponses]
				WHERE
					[SurveyGuid] = @SurveyGuid) AS ResponseCount

FROM
[dbo].[mp_Surveys]

WHERE
[SurveyGuid] = @SurveyGuid

GO


ALTER PROCEDURE [dbo].[mp_Survey_Update]

/*
Author:   			Rob Henry
Created: 			2007-03-10
Last Modified: 		2010-07-02
*/

@SurveyGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SurveyName nvarchar(255),
@CreationDate datetime,
@StartPageText nvarchar(max),
@EndPageText nvarchar(max)


AS

UPDATE 		[dbo].[mp_Surveys]

SET
[SiteGuid] = @SiteGuid,
[SurveyName] = @SurveyName,
[CreationDate] = @CreationDate,
[StartPageText] = @StartPageText,
[EndPageText] = @EndPageText

WHERE
[SurveyGuid] = @SurveyGuid

GO

ALTER PROCEDURE [dbo].[mp_SurveyPages_SelectAll]

/*
Author:   			Rob Henry
Created: 			2007-09-22
Last Modified: 		2010-07-02
*/

@SurveyGuid uniqueidentifier

AS

SELECT
		sp.[PageGuid],
		sp.[SurveyGuid],
		sp.[PageTitle],
		sp.[PageOrder],
		sp.[PageEnabled],
		(SELECT COUNT(*) FROM [dbo].[mp_SurveyQuestions] sq
				WHERE
					sq.[PageGuid] = sp.[PageGuid]) AS QuestionCount
		
FROM
		[dbo].[mp_SurveyPages] sp
WHERE
		[SurveyGuid] = @SurveyGuid
ORDER BY
		[PageOrder]

GO

ALTER PROCEDURE [dbo].[mp_SurveyPages_SelectOne]

/*
Author:   			Rob Henry
Created: 			2007-09-22
Last Modified: 		2010-07-02
*/

@PageGuid uniqueidentifier

AS


SELECT
		[PageGuid],
		[SurveyGuid],
		[PageTitle],
		[PageOrder],
		[PageEnabled],
		(SELECT COUNT(*) FROM [dbo].[mp_SurveyQuestions]
				WHERE
					[PageGuid] = @PageGuid) AS QuestionCount
		
FROM
		[dbo].[mp_SurveyPages]
		
WHERE
		[PageGuid] = @PageGuid

GO

ALTER PROCEDURE [dbo].[mp_SurveyQuestionAnswers_Insert]

/*
Author:   			Rob Henry
Created: 			2007-10-17
Last Modified: 		2010-07-02
*/

@AnswerGuid uniqueidentifier,
@QuestionGuid uniqueidentifier,
@ResponseGuid uniqueidentifier,
@Answer nvarchar(max)
	
AS

INSERT INTO 	[dbo].[mp_SurveyQuestionAnswers] 
(
				[AnswerGuid],
				[QuestionGuid],
				[ResponseGuid],
				[Answer]
) 

VALUES 
(
				@AnswerGuid,
				@QuestionGuid,
				@ResponseGuid,
				@Answer				
)

GO

ALTER PROCEDURE [dbo].[mp_SurveyQuestionAnswers_Update]

/*
Author:   			Rob Henry
Created: 			2007-10-17
Last Modified: 		2010-07-02
*/
	
@AnswerGuid uniqueidentifier, 
@QuestionGuid uniqueidentifier, 
@ResponseGuid uniqueidentifier, 
@Answer nvarchar(max)

AS

UPDATE 		[dbo].[mp_SurveyQuestionAnswers] 

SET
			[QuestionGuid] = @QuestionGuid,
			[ResponseGuid] = @ResponseGuid,
			[Answer] = @Answer
			
WHERE
			[AnswerGuid] = @AnswerGuid

GO

ALTER PROCEDURE [dbo].[mp_SurveyQuestions_Insert]

/*
Author:   			Rob Henry
Created: 			2007-09-18
Last Modified: 		2010-07-02
*/

@QuestionGuid uniqueidentifier,
@PageGuid uniqueidentifier,
@QuestionText nvarchar(max),
@QuestionTypeId int,
@AnswerIsRequired bit,
@ValidationMessage nvarchar(255)
	
AS

DECLARE @pageQuestionCount int

SELECT 
	@pageQuestionCount = Count(*) 
FROM mp_SurveyQuestions
WHERE PageGuid = @PageGuid 

INSERT INTO 	[dbo].[mp_SurveyQuestions] 
(
				[QuestionGuid],
				[PageGuid],
				[QuestionText],
				[QuestionTypeId],
				[AnswerIsRequired],
				[QuestionOrder],
				[ValidationMessage]
) 

VALUES 
(
				@QuestionGuid,
				@PageGuid,
				@QuestionText,
				@QuestionTypeId,
				@AnswerIsRequired,
				(@pageQuestionCount),
				@ValidationMessage
)


GO

ALTER PROCEDURE [dbo].[mp_SurveyQuestions_Update]

/*
Author:   			Rob Henry
Created: 			2007-09-18
Last Modified: 		2010-07-02
*/
	
@QuestionGuid uniqueidentifier, 
@PageGuid uniqueidentifier, 
@QuestionText nvarchar(max), 
@QuestionTypeId int, 
@AnswerIsRequired bit,
@QuestionOrder int,
@ValidationMessage nvarchar(255)


AS

UPDATE 		[dbo].[mp_SurveyQuestions] 

SET
			[PageGuid] = @PageGuid,
			[QuestionText] = @QuestionText,
			[QuestionTypeId] = @QuestionTypeId,
			[AnswerIsRequired] = @AnswerIsRequired,
			[QuestionOrder] = @QuestionOrder,
			[ValidationMessage] = @ValidationMessage
			
WHERE
			[QuestionGuid] = @QuestionGuid


GO

