SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_SurveyQuestionAnswers_SelectBySurvey]

/*
Author:   			
Created: 			2008-01-21
Last Modified: 		2008-01-21
*/
(
	@SurveyGuid uniqueidentifier
)
AS


SELECT
		qa.[AnswerGuid],
		qa.[QuestionGuid],
		qa.[ResponseGuid],
		qa.[Answer],
		qa.[AnsweredDate],
		u.[Name],
		u.[Email]
		
FROM
		[dbo].[mp_SurveyQuestionAnswers] qa

JOIN	[dbo].[mp_SurveyResponses] sr
ON		qa.[ResponseGuid] =sr.[ResponseGuid]

LEFT OUTER JOIN
		[dbo].[mp_Users] u
ON		u.[UserGuid] = sr.[UserGuid]


WHERE
		sr.[SurveyGuid] = @SurveyGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_Survey_SelectAll]

/*
Author:   			Rob Henry
Created: 			03/10/2007
Last Modified: 		2008-01-20
*/

@SiteGuid uniqueidentifier

AS


SELECT
	s.[SurveyGuid],
	s.[SiteGuid],
	s.[SurveyName],
	s.[CreationDate],
	s.[StartPageText],
	s.[EndPageText],
	'PageCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyPages] sp
				WHERE
					sp.[SurveyGuid] = s.[SurveyGuid]),
	'ResponseCount' = (SELECT COUNT(*) FROM [dbo].[mp_SurveyResponses] sr
				WHERE
					sr.[SurveyGuid] = s.[SurveyGuid])

FROM
	[dbo].[mp_Surveys] s

WHERE s.SiteGuid = @SiteGuid

ORDER BY
	s.[SurveyName]

GO




