SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

/******Removes references to AnonymousCompletion and Active columns*****/
if exists (select * from [dbo].sysobjects where id = object_id(N'[dbo].[mp_Survey_SelectOne]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
drop procedure [dbo].[mp_Survey_SelectOne]
END

GO

CREATE PROCEDURE [dbo].[mp_Survey_SelectOne]

/*
Author:   			Rob Henry
Created: 			03/10/2007
Last Modified: 		10/11/2007
*/

@SurveyGuid uniqueidentifier

AS


SELECT
[SurveyGuid],
[SiteGuid],
[SurveyName],
[CreationDate],
[StartPageText],
[EndPageText]

FROM
[dbo].[mp_Surveys]

WHERE
[SurveyGuid] = @SurveyGuid

GO

if exists (select * from [dbo].sysobjects where id = object_id(N'[dbo].[mp_Survey_SelectAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
drop procedure [dbo].[mp_Survey_SelectAll]
END

GO

CREATE PROCEDURE [dbo].[mp_Survey_SelectAll]

/*
Author:   			Rob Henry
Created: 			03/10/2007
Last Modified: 		03/10/2007
*/

AS


SELECT
[SurveyGuid],
[SiteGuid],
[SurveyName],
[CreationDate],
[StartPageText],
[EndPageText]

FROM
[dbo].[mp_Surveys]

GO

if exists (select * from [dbo].sysobjects where id = object_id(N'[dbo].[mp_Survey_Update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
drop procedure [dbo].[mp_Survey_Update]
END

GO

CREATE PROCEDURE [dbo].[mp_Survey_Update]

/*
Author:   			Rob Henry
Created: 			03/10/2007
Last Modified: 		10/11/2007
*/

@SurveyGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SurveyName nvarchar(200),
@CreationDate datetime,
@StartPageText nvarchar(1800),
@EndPageText nvarchar(1800)


AS

UPDATE 		[dbo].[mp_Surveys]

SET
[SiteGuid] = @SiteGuid,
[SurveyName] = @SurveyName,
[CreationDate] = @CreationDate,
[StartPageText] = @StartPageText,
[EndPageText] = @EndPageText

WHERE
[SurveyGuid] = @SurveyGuid

IF EXISTS ( select * from INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='mp_Surveys'
and COLUMN_NAME='AnonymousCompletion' )
BEGIN
ALTER TABLE [dbo].[mp_Surveys] DROP COLUMN AnonymousCompletion
END

GO

IF EXISTS ( select * from INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='mp_Surveys'
and COLUMN_NAME='Active' )
BEGIN
ALTER TABLE [dbo].[mp_Surveys] DROP COLUMN Active
END

GO