GO

ALTER TABLE
	[dbo].[mp_Surveys]
ADD
	[SubmissionLimit] int NOT NULL
CONSTRAINT
	[DF_mp_Surveys_SubmissionLimit]
DEFAULT
	(1)



GO

ALTER TABLE
	[dbo].[mp_Surveys]
SET
	(LOCK_ESCALATION = TABLE)



GO

ALTER TABLE
	[dbo].[mp_SurveyQuestions]
ADD
	[QuestionName] nvarchar(255) NULL
GO



GO

ALTER PROCEDURE
	[dbo].[mp_SurveyQuestions_Insert]

@QuestionGuid uniqueidentifier,
@PageGuid uniqueidentifier,
@QuestionName nvarchar(255),
@QuestionText nvarchar(max),
@QuestionTypeId int,
@AnswerIsRequired bit,
@ValidationMessage nvarchar(255)
	
AS

DECLARE
	@pageQuestionCount int

SELECT
	@pageQuestionCount = COALESCE(Max(QuestionOrder),-1)+1

FROM
	mp_SurveyQuestions

WHERE
	PageGuid = @PageGuid 

INSERT INTO [dbo].[mp_SurveyQuestions] 
(
	[QuestionGuid],
	[PageGuid],
	[QuestionName],
	[QuestionText],
	[QuestionTypeId],
	[AnswerIsRequired],
	[QuestionOrder],
	[ValidationMessage]
)

VALUES 
(
	@QuestionGuid,
	@PageGuid,
	@QuestionName,
	@QuestionText,
	@QuestionTypeId,
	@AnswerIsRequired,
	(@pageQuestionCount),
	@ValidationMessage
)



GO

ALTER PROCEDURE
	[dbo].[mp_Survey_Insert]

@SurveyGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SurveyName nvarchar(255),
@CreationDate datetime,
@StartPageText nvarchar(max),
@EndPageText nvarchar(max),
@SubmissionLimit int
	
AS

INSERT INTO [dbo].[mp_Surveys] 
(
	[SurveyGuid],
	[SiteGuid],
	[SurveyName],
	[CreationDate],
	[StartPageText],
	[EndPageText],
	[SubmissionLimit]
) 

VALUES 
(
	@SurveyGuid,
	@SiteGuid,
	@SurveyName,
	@CreationDate,
	@StartPageText,
	@EndPageText,
	@SubmissionLimit
)



GO

ALTER PROCEDURE
	[dbo].[mp_Survey_Update]

@SurveyGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@SurveyName nvarchar(255),
@CreationDate datetime,
@StartPageText nvarchar(max),
@EndPageText nvarchar(max),
@SubmissionLimit int

AS

UPDATE
	[dbo].[mp_Surveys]

SET
	[SiteGuid] = @SiteGuid,
	[SurveyName] = @SurveyName,
	[CreationDate] = @CreationDate,
	[StartPageText] = @StartPageText,
	[EndPageText] = @EndPageText,
	[SubmissionLimit] = @SubmissionLimit

WHERE
	[SurveyGuid] = @SurveyGuid



GO

ALTER PROCEDURE
	[dbo].[mp_Survey_SelectAll]

@SiteGuid uniqueidentifier

AS

SELECT
	s.[SurveyGuid],
	s.[SiteGuid],
	s.[SurveyName],
	s.[CreationDate],
	s.[StartPageText],
	s.[EndPageText],
	s.[SubmissionLimit],
	(SELECT COUNT(*) FROM [dbo].[mp_SurveyPages] sp
		WHERE
			sp.[SurveyGuid] = s.[SurveyGuid]) AS [PageCount],
	(SELECT COUNT(*) FROM [dbo].[mp_SurveyResponses] sr
		WHERE
			sr.[SurveyGuid] = s.[SurveyGuid]) AS ResponseCount

FROM
	[dbo].[mp_Surveys] s

WHERE
	s.SiteGuid = @SiteGuid

ORDER BY
	s.[SurveyName]



GO

ALTER PROCEDURE
	[dbo].[mp_Survey_SelectOne]

@SurveyGuid uniqueidentifier

AS

SELECT
	[SurveyGuid],
	[SiteGuid],
	[SurveyName],
	[CreationDate],
	[StartPageText],
	[EndPageText],
	[SubmissionLimit],
	(SELECT COUNT(*) FROM [dbo].[mp_SurveyPages]
		WHERE
			[SurveyGuid] = @SurveyGuid) AS [PageCount],
	(SELECT COUNT(*) FROM [dbo].[mp_SurveyResponses]
		WHERE
			[SurveyGuid] = @SurveyGuid) AS ResponseCount

FROM
	[dbo].[mp_Surveys]

WHERE
	[SurveyGuid] = @SurveyGuid



GO

ALTER PROCEDURE
	[dbo].[mp_SurveyQuestionAnswers_SelectBySurvey]
	(@SurveyGuid uniqueidentifier)

AS

SELECT
	qa.[ResponseGuid] AS ResponseSet,
	u.[Name] AS UserName,
	u.[Email] AS UserEmail,
	qa.[AnsweredDate] AS Date,
	q.[QuestionName] AS Question,
	qa.[Answer]
		
FROM
	[dbo].[mp_SurveyQuestionAnswers] qa

JOIN
	[dbo].[mp_SurveyResponses] sr

ON
	qa.[ResponseGuid] =sr.[ResponseGuid]

JOIN
	[dbo].[mp_SurveyQuestions] q

ON
	qa.[QuestionGuid] = q.QuestionGuid

LEFT OUTER JOIN
	[dbo].[mp_Users] u

ON
	u.[UserGuid] = sr.[UserGuid]

WHERE
	sr.[SurveyGuid] = @SurveyGuid

ORDER BY
	qa.[ResponseGuid]



GO

ALTER PROCEDURE
	[dbo].[mp_SurveyQuestions_SelectAll]

AS

SELECT
	[QuestionGuid],
	[PageGuid],
	[QuestionName],
	[QuestionText],
	[QuestionTypeId],
	[AnswerIsRequired],
	[QuestionOrder],
	[ValidationMessage]
		
FROM
	[dbo].[mp_SurveyQuestions]



GO

ALTER PROCEDURE
	[dbo].[mp_SurveyQuestions_SelectAllByPage]

@PageGuid uniqueidentifier  

AS

SELECT
	[QuestionGuid],
	[PageGuid],
	[QuestionName],
	[QuestionText],
	[QuestionTypeId],
	[AnswerIsRequired],
	[QuestionOrder],
	[ValidationMessage]
		
FROM
	[dbo].[mp_SurveyQuestions]

WHERE
	[PageGuid] = @PageGuid

ORDER BY 
	[QuestionOrder]



GO

ALTER PROCEDURE
	[dbo].[mp_SurveyQuestions_SelectOne]

@QuestionGuid uniqueidentifier

AS

SELECT
	[QuestionGuid],
	[PageGuid],
	[QuestionName],
	[QuestionText],
	[QuestionTypeId],
	[AnswerIsRequired],
	[QuestionOrder],
	[ValidationMessage]
		
FROM
	[dbo].[mp_SurveyQuestions]
		
WHERE
	[QuestionGuid] = @QuestionGuid



GO

ALTER PROCEDURE
	[dbo].[mp_SurveyQuestions_Update]

@QuestionGuid uniqueidentifier, 
@PageGuid uniqueidentifier, 
@QuestionName nvarchar(255), 
@QuestionText nvarchar(max), 
@QuestionTypeId int, 
@AnswerIsRequired bit,
@QuestionOrder int,
@ValidationMessage nvarchar(255)

AS

UPDATE
	[dbo].[mp_SurveyQuestions] 

SET
	[PageGuid] = @PageGuid,
	[QuestionName] = @QuestionName,
	[QuestionText] = @QuestionText,
	[QuestionTypeId] = @QuestionTypeId,
	[AnswerIsRequired] = @AnswerIsRequired,
	[QuestionOrder] = @QuestionOrder,
	[ValidationMessage] = @ValidationMessage
			
WHERE
	[QuestionGuid] = @QuestionGuid



GO	

UPDATE
	[dbo].[mp_SurveyQuestions]
SET
	[QuestionName] = LEFT([QuestionText], 50)
WHERE
	[QuestionName] IS NULL;



GO

ALTER PROCEDURE
	[dbo].[mp_SurveyResults_Select]

@ResponseGuid uniqueidentifier

AS

SELECT
	sq.QuestionName,
	qa.Answer,
	sp.PageTitle,
	sq.QuestionGuid,
	sr.ResponseGuid

FROM
	mp_Surveys s

JOIN
	mp_SurveyResponses sr
ON
	s.SurveyGuid = sr.SurveyGuid

JOIN
	mp_SurveyPages sp
ON
	sr.SurveyGuid = sp.SurveyGuid

JOIN
	mp_SurveyQuestions sq
ON
	sp.PageGuid = sq.PageGuid

LEFT OUTER JOIN
	mp_SurveyQuestionAnswers qa
ON
	sq.QuestionGuid = qa.QuestionGuid
AND
	qa.ResponseGuid = @ResponseGuid

WHERE
	sr.ResponseGuid = @ResponseGuid
AND
	sr.Complete = 1
AND
	sp.PageEnabled = 1

ORDER BY
	sp.PageOrder, sq.QuestionOrder



GO