ALTER TABLE mp_RssFeedEntries ALTER COLUMN [Description] NVARCHAR(MAX) null

GO

ALTER PROCEDURE [dbo].[mp_RssFeedEntries_Insert]

/*
Author:   			
Created: 			2008-10-01
Last Modified: 		2010-07-02
*/

@RowGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@FeedGuid uniqueidentifier,
@FeedId int,
@PubDate datetime,
@Title nvarchar(255),
@Author nvarchar(100),
@BlogUrl nvarchar(255),
@Description nvarchar(max),
@Link nvarchar(255),
@Confirmed bit,
@EntryHash int,
@CachedTimeUtc datetime

	
AS

INSERT INTO 	[dbo].[mp_RssFeedEntries] 
(
				[RowGuid],
				[ModuleGuid],
				[FeedGuid],
				[FeedId],
				[PubDate],
				[Title],
				[Author],
				[BlogUrl],
				[Description],
				[Link],
				[Confirmed],
				[EntryHash],
				[CachedTimeUtc]
) 

VALUES 
(
				@RowGuid,
				@ModuleGuid,
				@FeedGuid,
				@FeedId,
				@PubDate,
				@Title,
				@Author,
				@BlogUrl,
				@Description,
				@Link,
				@Confirmed,
				@EntryHash,
				@CachedTimeUtc
				
)

GO

ALTER PROCEDURE [dbo].[mp_RssFeedEntries_Update]

/*
Author:   			
Created: 			2008-10-01
Last Modified: 		2010-07-02
*/
	

@ModuleGuid uniqueidentifier, 
@Title nvarchar(255), 
@Author nvarchar(100), 
@BlogUrl nvarchar(255), 
@Description nvarchar(max), 
@Link nvarchar(255), 
@EntryHash int, 
@CachedTimeUtc datetime 


AS

UPDATE 		[dbo].[mp_RssFeedEntries] 

SET
			
			[Title] = @Title,
			[Author] = @Author,
			[BlogUrl] = @BlogUrl,
			[Description] = @Description,
			[Link] = @Link,
			[CachedTimeUtc] = @CachedTimeUtc
			
WHERE
			[ModuleGuid] = @ModuleGuid
			AND [EntryHash] = @EntryHash

GO


ALTER PROCEDURE [dbo].[mp_RssFeeds_Select]

/*
Author:   			
Created: 			2005-03-27
Last Modified: 		2010-07-02

*/

@ModuleID		int

AS


SELECT	f.*,
		(SELECT COUNT(*) FROM [dbo].[mp_RssFeedEntries] e WHERE e.FeedId = f.ItemID) AS TotalEntries
			
FROM
		[dbo].[mp_RssFeeds] f

WHERE	f.ModuleID = @ModuleID

ORDER BY	f.SortRank, f.Author



GO

