ALTER TABLE [dbo].mp_RssFeeds ADD
	SortRank int NULL 

GO

	
UPDATE [dbo].mp_RssFeeds
SET SortRank = 500

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_RssFeeds_Insert]

/*
Author:   			
Created: 			2005-03-27
Last Modified: 		2009-10-20

*/

@ItemGuid	uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@UserGuid	uniqueidentifier,
@ModuleID int,
@UserID int,
@Author nvarchar(100),
@Url nvarchar(255),
@RssUrl nvarchar(255),
@CreatedDate	datetime,
@ImageUrl nvarchar(255),
@FeedType nvarchar(20),
@PublishByDefault bit,
@SortRank int

AS

INSERT INTO 	[dbo].[mp_RssFeeds] 
(
				ItemGuid,
				ModuleGuid,
				UserGuid,
				[ModuleID],
				[CreatedDate],
				[UserID],
				[Author],
				[Url],
				[RssUrl],
				LastModUserGuid,
				LastModUtc,
				[ImageUrl],
				[FeedType],
				[PublishByDefault],
				SortRank
) 

VALUES 
(
				@ItemGuid,
				@ModuleGuid,
				@UserGuid,
				@ModuleID,
				@CreatedDate,
				@UserID,
				@Author,
				@Url,
				@RssUrl,
				@UserGuid,
				@CreatedDate,
				@ImageUrl,
				@FeedType,
				@PublishByDefault,
				@SortRank
				
)
SELECT @@IDENTITY

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_RssFeeds_Update]

/*
Author:   			
Created: 			2005-03-27
Last Modified: 		2009-10-20


*/
	
@ItemID int, 
@ModuleID int, 
@Author nvarchar(100), 
@Url nvarchar(255), 
@RssUrl nvarchar(255),
@LastModUserGuid	uniqueidentifier,
@LastModUtc	datetime,
@ImageUrl nvarchar(255),
@FeedType nvarchar(20),
@PublishByDefault bit,
@SortRank int



AS

UPDATE 		[dbo].[mp_RssFeeds] 

SET
			[ModuleID] = @ModuleID,
			[Author] = @Author,
			[Url] = @Url,
			[RssUrl] = @RssUrl,
			LastModUserGuid = @LastModUserGuid,
			LastModUtc = @LastModUtc,
			ImageUrl = @ImageUrl,
			FeedType = @FeedType,
			PublishByDefault = @PublishByDefault,
			SortRank = @SortRank
			
WHERE
			[ItemID] = @ItemID

GO


SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_RssFeeds_Select]

/*
Author:   			
Created: 			2005-03-27
Last Modified: 		2009-05-17

*/

@ModuleID		int

AS


SELECT	f.*,
		'TotalEntries' = (SELECT COUNT(*) FROM [dbo].[mp_RssFeedEntries] e WHERE e.FeedId = f.ItemID)
			
FROM
		[dbo].[mp_RssFeeds] f

WHERE	f.ModuleID = @ModuleID

ORDER BY	f.SortRank, f.Author


GO

