SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_RssFeeds_Select]

/*
Author:   			
Created: 			2005-03-27
Last Modified: 		2009-05-17

*/

@ModuleID		int

AS


SELECT	f.*,
		'TotalEntries' = (SELECT COUNT(*) FROM [dbo].[mp_RssFeedEntries] e WHERE e.FeedId = f.ItemID)
			
FROM
		[dbo].[mp_RssFeeds] f

WHERE	f.ModuleID = @ModuleID

ORDER BY	f.Author

GO

