SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[mp_RssFeedEntries_SelectByModule]

/*
Author:   			
Created: 			2008-10-01
Last Modified: 		2009-08-04
*/

@ModuleGuid uniqueidentifier

AS

SELECT	f.Author As FeedName,
		e.*
			
FROM
		[dbo].[mp_RssFeedEntries] e
		
JOIN	[dbo].[mp_RssFeeds] f
ON		e.FeedId = f.ItemID
		
WHERE
		e.[ModuleGuid] = @ModuleGuid

ORDER BY e.[PubDate] DESC
GO
