SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_RssFeeds_DeleteBySite]

/*
Author:   			
Created: 			2008-11-12
Last Modified: 		2008-11-12

*/

@SiteID int

AS

DELETE FROM [dbo].[mp_RssFeedEntries]
WHERE
	FeedID IN (SELECT ItemID 
				FROM mp_RssFeeds
				WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)
				)

DELETE FROM [dbo].[mp_RssFeeds]
WHERE
	ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

GO

