SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[mp_RssFeeds_DeleteByModule]

/*
Author:   			
Created: 			2009-06-22
Last Modified: 		2009-06-22

*/

@ModuleID int

AS

DELETE FROM [dbo].[mp_RssFeedEntries]
WHERE
	FeedId IN (SELECT ItemID 
				FROM mp_RssFeeds
				WHERE ModuleID = @ModuleID
				)

DELETE FROM [dbo].[mp_RssFeeds]
WHERE
	ModuleID = @ModuleID


GO

