/****** 2019-05-22 -- Adding ShowMap Option ******/
ALTER TABLE mp_calendarevents ADD COLUMN showmap boolean;
ALTER TYPE mp_calendarevents_select_one_type ADD ATTRIBUTE showmap boolean;

CREATE OR REPLACE FUNCTION public.mp_calendarevents_update(
	integer,
	integer,
	character varying,
	text,
	character varying,
	timestamp without time zone,
	timestamp without time zone,
	timestamp without time zone,
	character,
	text,
	timestamp without time zone,
	numeric,
	boolean,
	boolean)
    RETURNS integer
    LANGUAGE 'plpgsql'

    COST 100
    VOLATILE SECURITY DEFINER 
AS $BODY$
/*
Author:   			
Updated By:			Joseph Hill
Created: 			4/17/2005
Last Modified: 			9/18/2019
*/
declare
	_itemid alias for $1;
	_moduleid alias for $2;
	_title alias for $3;
	_description alias for $4;
	_imagename alias for $5;
	_eventdate alias for $6;
	_starttime alias for $7;
	_endtime alias for $8;
	_lastmoduserguid alias for $9;
	_location alias for $10;
	_lastmodutc alias for $11;
	_ticketprice alias for $12;
	_requiresticket alias for $13;
	_showmap alias for $14;
	_rowcount int4;
begin

update 		mp_calendarevents

set
            moduleid = _moduleid, --:moduleid
            title = _title, --:title
            description = _description, --:description
            imagename = _imagename, --:imagename
            eventdate = _eventdate, --:eventdate
            starttime = _starttime, --:starttime
            endtime = _endtime, --:endtime
            lastmoduserguid = _lastmoduserguid,
            location = _location,
            lastmodutc = _lastmodutc,
            ticketprice = _ticketprice,
            requiresticket = _requiresticket,
			showmap = _showmap
            
where
            itemid = _itemid; --:itemid

GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end $BODY$;



CREATE OR REPLACE FUNCTION public.mp_calendarevents_select_one(
	integer)
    RETURNS SETOF mp_calendarevents_select_one_type 
    LANGUAGE 'sql'

    COST 100
    VOLATILE SECURITY DEFINER 
    ROWS 1000
AS $BODY$

/*
Author:   			
Created: 			4/17/2005
Last Modified: 		2019/09/18
*/

select
    itemid,
	moduleid,
	title,
	description,
	imagename,
	eventdate,
	starttime,
	endtime,
	createddate,
	userid,
	itemguid,
	moduleguid,
	userguid,
	location,
	lastmoduserguid,
	lastmodutc,
	ticketprice,
    requiresticket,
	showmap
from
        mp_calendarevents
        
where
        itemid = $1;
		$BODY$;
		
CREATE OR REPLACE FUNCTION public.mp_calendarevents_select_bydate(
	integer,
	date,
	date)
    RETURNS SETOF mp_calendarevents_select_one_type 
    LANGUAGE 'sql'

    COST 100
    VOLATILE SECURITY DEFINER 
    ROWS 1000
AS $BODY$
/*
Author:   			
Created: 			4/17/2005
Last Modified: 		2019/09/18
*/

select
    itemid,
	moduleid,
	title,
	description,
	imagename,
	eventdate,
	starttime,
	endtime,
	createddate,
	userid,
	itemguid,
	moduleguid,
	userguid,
	location,
	lastmoduserguid,
	lastmodutc,
	ticketprice,
    requiresticket,
	showmap
from
        mp_calendarevents
        
where   moduleid = $1
	AND  eventdate >= $2
        AND eventdate <= $3

order by eventdate, starttime;
$BODY$;		


CREATE OR REPLACE FUNCTION public.mp_calendarevents_insert(
	integer,
	character varying,
	text,
	character varying,
	timestamp without time zone,
	timestamp without time zone,
	timestamp without time zone,
	integer,
	character,
	character,
	character,
	text,
	timestamp without time zone,
	numeric,
	boolean,
	boolean)
    RETURNS integer
    LANGUAGE 'sql'

    COST 100
    VOLATILE SECURITY DEFINER 
AS $BODY$
/*
Author:   			
Created: 			4/17/2005
Last Modified: 			2008-01-31

*/

insert into 	mp_calendarevents
(				
                moduleid,
                title,
                description,
                imagename,
                eventdate,
                starttime,
                endtime,
                createddate,
                userid,
                itemguid,
                moduleguid,
                userguid,
                lastmoduserguid,
                location,
                ticketprice,
                requiresticket,
                lastmodutc,
				showmap
) 
values 
(				
                $1, --:moduleid
                $2, --:title
                $3, --:description
                $4, --:imagename
                $5, --:eventdate
                $6, --:starttime
                $7, --:endtime
                $13, --:createddate
                $8, --:userid
                $9, --:itemguid
                $10, --:moduleguid
                $11, --:userguid
                $11, --:userguid
                $12, --:location
                $14, --:ticketprice
                $15, --:requiresticket
                $13, --:createddate
				$16 --:showmap
);

select cast(currval('mp_calendarevents_itemid_seq') as int4);
$BODY$;

/****** 2019-05-22 -- END Adding ShowMap Option ******/