<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>

		<add name="BlogIndexBuilderProvider"
			 type="mojoPortal.Features.BlogIndexBuilderProvider, mojoPortal.Features.UI"
			 description="An IndexBuilder to index blog content for Lucene.NET Search Engine" />

		
	</providers>
</IndexBuilderProviders>