<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>

		<add name="CalendarEventIndexBuilderProvider"
			 type="mojoPortal.Features.CalendarEventIndexBuilderProvider, mojoPortal.Features.UI"
			 description="An IndexBuilder to index Event Calendar content for Lucene.NET Search Engine" />

		
	</providers>
</IndexBuilderProviders>