<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>

		<add name="ForumThreadIndexBuilderProvider"
			 type="mojoPortal.Features.ForumThreadIndexBuilderProvider, mojoPortal.Features.UI"
			 description="An IndexBuilder to index Forum content for Lucene.NET Search Engine" />

		
	</providers>
</IndexBuilderProviders>