<div class="modal fade url-browser__modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">close</span>
				</button>
				<h4 class="modal-title url-browser__modal-title">Choose <span class="url-browser__modal-type"></span></h4>
			</div>
			<div class="modal-body">
				<iframe class="url-browser__modal-iframe" src="" width="100%" frameborder="0" style="display: none;"></iframe>
				<div class="loader">
					<div class="loader-spinner"></div>
					<div class="loader-text">Loading...</div>
				</div>
			</div>
		</div>
	</div>
</div>
