@using mojoPortal.Business.WebHelpers;
@using mojoPortal.Business;
@using Resources;

@model SuperFlexiUI.Models.WidgetModel

@Html.Partial("_ModuleTitle")

<div class="modulecontent">
	<p class="alert alert-warning"><strong>Warning</strong> The selected solution does not contain a matching view.</p>
</div>

@*@{

		var siteSettings = CacheHelper.GetCurrentSiteSettings();
		var pageSettings = new PageSettings(Model.Site.Id, Model.Page.Id);
		var module = new Module(Model.Module.Guid);

		foreach (PageModule foo in PageModule.GetPageModulesByModule(Model.Module.Id))
		{
			<div>@foo.PaneName</div>
		}

		if (!pageSettings.BodyCssClass.Contains("food"))
		{
			pageSettings.BodyCssClass += " food";
			pageSettings.BodyCssClass = pageSettings.BodyCssClass.Trim();
			pageSettings.Save();
		}

	}*@

@Html.Partial("_DebugInfo")