CREATE TABLE `mp_ContactFormMessage` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Email` varchar(100) NOT NULL,
 `Url` varchar(255) NOT NULL,
 `Subject` varchar(255) NOT NULL,
 `Message` text NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedFromIpAddress` varchar(255) NOT NULL,
 `UserGuid` varchar(36) NOT NULL
);

