SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_CalendarEvents_DeleteBySite]

/*
Author:   			
Created: 			2008-11-12
Last Modified: 		2008-11-12

*/

@SiteID int

AS

DELETE FROM [dbo].[mp_CalendarEvents]
WHERE ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE SiteID = @SiteID)

GO

