CREATE TABLE mp_TagVocabulary (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 Name VARCHAR(255) NOT NULL,
 Description Blob sub_type 1 ,
 CreatedUtc TIMESTAMP NOT NULL,
 CreatedBy VARCHAR(36) NOT NULL,
 ModifiedUtc TIMESTAMP NOT NULL,
 ModifiedBy VARCHAR(36) NOT NULL,
 PRIMARY KEY (Guid)   
);

ALTER TABLE mp_Tag ADD 
VocabularyGuid CHAR(36);


