CREATE INDEX idxETSiteGuid ON mp_EmailTemplate(SiteGuid);
CREATE INDEX idxETModuleGuid ON mp_EmailTemplate(ModuleGuid);
CREATE INDEX idxETSpecialGuid1 ON mp_EmailTemplate(SpecialGuid1);
CREATE INDEX idxETSpecialGuid2 ON mp_EmailTemplate(SpecialGuid2);
-- CREATE INDEX idxETName ON mp_EmailTemplate(Name);

CREATE INDEX idxESLSiteGuid ON mp_EmailSendLog(SiteGuid);
CREATE INDEX idxESLModuleGuid ON mp_EmailSendLog(ModuleGuid);
CREATE INDEX idxESLSpecialGuid1 ON mp_EmailSendLog(SpecialGuid1);
CREATE INDEX idxESLSpecialGuid2 ON mp_EmailSendLog(SpecialGuid2);
-- CREATE INDEX idxESLType ON mp_EmailSendLog(Type);





