CREATE TABLE mp_EmailTemplate (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 SpecialGuid1 VARCHAR(36) NOT NULL,
 SpecialGuid2 VARCHAR(36) NOT NULL,
 Name VARCHAR(255) NOT NULL,
 Subject VARCHAR(255) NOT NULL,
 TextBody BLOB SUB_TYPE 1 NOT NULL,
 HtmlBody BLOB SUB_TYPE 1 ,
 HasHtml SMALLINT NOT NULL,
 IsEditable SMALLINT NOT NULL,
 CreatedUtc TIMESTAMP NOT NULL,
 LastModUtc TIMESTAMP NOT NULL,
 LastModBy VARCHAR(36) NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_EmailSendLog (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 SpecialGuid1 VARCHAR(36) NOT NULL,
 SpecialGuid2 VARCHAR(36) NOT NULL,
 ToAddress VARCHAR(255) NOT NULL,
 CcAddress VARCHAR(255) ,
 BccAddress VARCHAR(255) ,
 Subject VARCHAR(255) NOT NULL,
 TextBody BLOB SUB_TYPE 1 ,
 HtmlBody BLOB SUB_TYPE 1 ,
 Type VARCHAR(50) NOT NULL,
 SentUtc TIMESTAMP NOT NULL,
 PRIMARY KEY (Guid)   
);
