
ALTER TABLE mp_ForumPosts ADD
	NotificationSent bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_ForumPosts ADD
	ModStatus integer NOT NULL DEFAULT 1 
GO


ALTER TABLE mp_ForumThreads ADD
	ModStatus integer NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_ForumThreads ADD
	ThreadType nvarchar(100) NULL
GO

ALTER TABLE mp_ForumThreads ADD
	AssignedTo uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000'
GO

ALTER TABLE mp_ForumThreads ADD
	LockedBy uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000'
GO

ALTER TABLE mp_ForumThreads ADD
	LockedReason nvarchar(255) NULL
GO

ALTER TABLE mp_ForumThreads ADD
	LockedUtc datetime NULL
GO



ALTER TABLE mp_Forums ADD
	RolesThatCanPost ntext NOT NULL DEFAULT 'Authenticated Users'
GO

ALTER TABLE mp_Forums ADD
	RolesThatCanModerate ntext NULL
GO

ALTER TABLE mp_Forums ADD
	ModeratorNotifyEmail ntext NULL
GO

ALTER TABLE mp_Forums ADD
	IncludeInGoogleMap bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_Forums ADD
	AddNoIndexMeta bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Forums ADD
	Closed bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Forums ADD
	Visible bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_Forums ADD
	RequireModeration bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Forums ADD
	RequireModForNotify bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Forums ADD
	AllowTrustedDirectPosts bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Forums ADD
	AllowTrustedDirectNotify bit NOT NULL DEFAULT 0 
GO

