ALTER TABLE mp_Forums ADD
	ForumGuid uniqueidentifier NOT NULL DEFAULT newid() 
GO

ALTER TABLE mp_ForumThreads ADD
	ThreadGuid uniqueidentifier NOT NULL DEFAULT newid() 
GO

ALTER TABLE mp_ForumThreads ADD
	IsQuestion bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_ForumThreads ADD
	IncludeInSiteMap bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_ForumThreads ADD
	SetNoIndexMeta bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_ForumThreads ADD
	PTitleOverride nvarchar(255) NULL 
GO


ALTER TABLE mp_ForumPosts ADD
	PostGuid uniqueidentifier NOT NULL DEFAULT newid() 
GO

ALTER TABLE mp_ForumPosts ADD
	AnswerVotes int NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_ForumPosts ADD
	ApprovedBy uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000' 
GO

ALTER TABLE mp_ForumPosts ADD
	ApprovedUtc datetime NULL  
GO

ALTER TABLE mp_ForumPosts ADD
	UserIp nvarchar(50) NULL 
GO

