CREATE TABLE [mp_Forums](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [ntext] NULL,
	[IsModerated] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[ThreadCount] [int] NOT NULL,
	[PostCount] [int] NOT NULL,
	[MostRecentPostDate] [datetime] NULL,
	[MostRecentPostUserID] [int] NOT NULL,
	[PostsPerPage] [int] NOT NULL,
	[ThreadsPerPage] [int] NOT NULL,
	[AllowAnonymousPosts] [bit] NOT NULL,
 CONSTRAINT [PK_mp_ForumBoards] PRIMARY KEY  
(
	[ItemID] 
)
) 
GO

CREATE TABLE [mp_ForumSubscriptions](
	[SubscriptionID] [int] IDENTITY(1,1)  NOT NULL,
	[ForumID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[SubscribeDate] [datetime] NOT NULL,
	[UnSubscribeDate] [datetime] NULL,
 CONSTRAINT [PK_mp_ForumSubscriptions] PRIMARY KEY  
(
	[SubscriptionID] 
)
) 
GO

CREATE TABLE [mp_ForumThreads](
	[ThreadID] [int] IDENTITY(1,1) NOT NULL,
	[ForumID] [int] NOT NULL,
	[ThreadSubject] [nvarchar](255) NOT NULL,
	[ThreadDate] [datetime] NOT NULL,
	[TotalViews] [int] NOT NULL,
	[TotalReplies] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[ForumSequence] [int] NOT NULL,
	[MostRecentPostDate] [datetime] NULL,
	[MostRecentPostUserID] [int] NULL,
	[StartedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_mp_ForumThreads] PRIMARY KEY 
(
	[ThreadID] 
)
) 
GO

CREATE TABLE [mp_ForumPosts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[ThreadID] [int] NOT NULL,
	[ThreadSequence] [int] NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[Approved] [bit] NOT NULL,
	[UserID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Post] [ntext] NULL,
 CONSTRAINT [PK_mp_ForumPosts] PRIMARY KEY 
(
	[PostID] 
)
) 
GO

CREATE INDEX [idxforumpostuid] ON [mp_ForumPosts] 
(
	[UserID] 
)
GO

CREATE TABLE [mp_ForumThreadSubscriptions](
	[ThreadSubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[ThreadID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[SubscribeDate] [datetime] NOT NULL,
	[UnSubscribeDate] [datetime] NULL,
 CONSTRAINT [PK_mp_ForumThreadSubscriptions] PRIMARY KEY 
(
	[ThreadSubscriptionID] 
)
) 
GO

ALTER TABLE [mp_ForumPosts] ADD  CONSTRAINT [DF_mp_ForumPosts_ThreadSequence]  DEFAULT ((1)) FOR [ThreadSequence]
GO

ALTER TABLE [mp_ForumPosts] ADD  CONSTRAINT [DF_mp_ForumPosts_PostDate]  DEFAULT (getdate()) FOR [PostDate]
GO

ALTER TABLE [mp_ForumPosts] ADD  CONSTRAINT [DF_mp_ForumPosts_Approved]  DEFAULT ((0)) FOR [Approved]
GO

ALTER TABLE [mp_ForumPosts] ADD  CONSTRAINT [DF_mp_ForumPosts_UserID]  DEFAULT ((-1)) FOR [UserID]
GO

ALTER TABLE [mp_ForumPosts] ADD  CONSTRAINT [DF_mp_ForumPosts_SortOrder]  DEFAULT ((100)) FOR [SortOrder]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_ForumBoards_DateCreated]  DEFAULT (getdate()) FOR [CreatedDate]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_ForumBoards_Moderated]  DEFAULT ((0)) FOR [IsModerated]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_ForumBoards_Active]  DEFAULT ((1)) FOR [IsActive]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_ForumBoards_SortOrder]  DEFAULT ((100)) FOR [SortOrder]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_ForumBoards_TotalPosts]  DEFAULT ((0)) FOR [ThreadCount]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_ForumBoards_TotalThreads]  DEFAULT ((0)) FOR [PostCount]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_ForumBoards_MostRecentPostUserID]  DEFAULT ((-1)) FOR [MostRecentPostUserID]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_Forums_EntriesPerPage]  DEFAULT ((10)) FOR [PostsPerPage]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_Forums_ThreadsPerPage]  DEFAULT ((40)) FOR [ThreadsPerPage]
GO

ALTER TABLE [mp_Forums] ADD  CONSTRAINT [DF_mp_Forums_AllowAnonymousPosts]  DEFAULT ((1)) FOR [AllowAnonymousPosts]
GO

ALTER TABLE [mp_ForumSubscriptions] ADD  CONSTRAINT [DF_mp_ForumSubscriptions_SubscribeDate]  DEFAULT (getdate()) FOR [SubscribeDate]
GO

ALTER TABLE [mp_ForumThreads] ADD  CONSTRAINT [DF_mp_ForumThreads_ThreadDate]  DEFAULT (getdate()) FOR [ThreadDate]
GO

ALTER TABLE [mp_ForumThreads] ADD  CONSTRAINT [DF_mp_ForumThreads_TotalViews]  DEFAULT ((0)) FOR [TotalViews]
GO

ALTER TABLE [mp_ForumThreads] ADD  CONSTRAINT [DF_mp_ForumThreads_TotalReplies]  DEFAULT ((0)) FOR [TotalReplies]
GO

ALTER TABLE [mp_ForumThreads] ADD  CONSTRAINT [DF_mp_ForumThreads_SortOrder]  DEFAULT ((1000)) FOR [SortOrder]
GO

ALTER TABLE [mp_ForumThreads] ADD  CONSTRAINT [DF_mp_ForumThreads_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO

ALTER TABLE [mp_ForumThreads] ADD  CONSTRAINT [DF_mp_ForumThreads_ForumSequence]  DEFAULT ((1)) FOR [ForumSequence]
GO

ALTER TABLE [mp_ForumThreads] ADD  CONSTRAINT [DF_mp_ForumThreads_MostRecentPostDate]  DEFAULT (getdate()) FOR [MostRecentPostDate]
GO

ALTER TABLE [mp_ForumThreadSubscriptions] ADD  CONSTRAINT [DF_mp_ForumThreadSubscriptions_SubscribeDate]  DEFAULT (getdate()) FOR [SubscribeDate]
GO

ALTER TABLE [mp_ForumPosts]  ADD  CONSTRAINT [FK_mp_ForumPosts_mp_ForumThreads] FOREIGN KEY([ThreadID])
REFERENCES [mp_ForumThreads] ([ThreadID])
GO

ALTER TABLE [mp_ForumThreads]  ADD  CONSTRAINT [FK_mp_ForumThreads_mp_Forums] FOREIGN KEY([ForumID])
REFERENCES [mp_Forums] ([ItemID])
GO


ALTER TABLE [mp_ForumThreadSubscriptions]  ADD  CONSTRAINT [FK_mp_ForumThreadSubscriptions_mp_ForumThreads] FOREIGN KEY([ThreadID])
REFERENCES [mp_ForumThreads] ([ThreadID])
GO

