CREATE TABLE `mp_RssFeeds` (
  `ItemID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `CreatedDate` datetime default NULL,
  `UserID` INTEGER NOT NULL default '0',
  `Author` varchar(100) NOT NULL default '',
  `Url` varchar(255) NOT NULL default '',
  `RssUrl` varchar(255) NOT NULL default ''
, ItemGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
UserGuid VARCHAR(36), 
LastModUserGuid VARCHAR(36), 
LastModUtc datetime, 
`ImageUrl` VARCHAR(255), 
`FeedType` VARCHAR(20), 
`PublishByDefault` INTEGER);


CREATE TABLE `mp_RssFeedEntries` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `ModuleGuid` varchar(36) NOT NULL,
 `FeedGuid` varchar(36) NOT NULL,
 `FeedId` INTEGER NOT NULL,
 `PubDate` datetime NOT NULL,
 `Title` varchar(255) NOT NULL,
 `Author` varchar(100) NULL,
 `BlogUrl` varchar(255) NOT NULL,
 `Description` text NOT NULL,
 `Link` varchar(255) NOT NULL,
 `Confirmed` INTEGER NOT NULL,
 `EntryHash` INTEGER NOT NULL,
 `CachedTimeUtc` datetime NOT NULL
);

CREATE INDEX idxModuleGuid ON mp_RssFeedEntries(`ModuleGuid`);
CREATE INDEX idxFeedId ON mp_RssFeedEntries(`FeedId`);
CREATE INDEX idxEntryHash ON mp_RssFeedEntries(`EntryHash`);
