
CREATE TABLE [mp_MediaPlayer](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[PlayerType] [nvarchar](10) NOT NULL,
	[Skin] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_MediaPlayer] PRIMARY KEY  
(
	[PlayerID] 
)
)
GO


CREATE TABLE [mp_MediaTrack](
	[TrackID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NOT NULL,
	[TrackType] [nvarchar](10) NOT NULL,
	[TrackOrder] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Artist] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_AudioTrack] PRIMARY KEY  
(
	[TrackID] 
)
)
GO

CREATE TABLE [mp_MediaFile](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[TrackID] [int] NOT NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[UserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_AudioFile] PRIMARY KEY  
(
	[FileID] 
)
)
GO


