<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteWebStoreHandler"
			 type="WebStore.SitePreDeleteWebStoreHandler, WebStore.UI"
			 description="Deletes content from the webstore for the given site id." />

		
	</providers>
</SitePreDeleteProviders>