
ALTER TABLE mp_ForumPosts ADD COLUMN `NotificationSent` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_ForumPosts ADD COLUMN `ModStatus` int(11) NOT NULL default '1';

ALTER TABLE mp_ForumThreads ADD COLUMN `ModStatus` int(11) NOT NULL default '1';
ALTER TABLE mp_ForumThreads ADD COLUMN `ThreadType` varchar(100) NULL;
ALTER TABLE mp_ForumThreads ADD COLUMN `AssignedTo` varchar(36) NOT NULL default '00000000-0000-0000-0000-000000000000';
ALTER TABLE mp_ForumThreads ADD COLUMN `LockedBy` varchar(36) NOT NULL default '00000000-0000-0000-0000-000000000000';
ALTER TABLE mp_ForumThreads ADD COLUMN `LockedReason` varchar(255) NULL;
ALTER TABLE mp_ForumThreads ADD COLUMN `LockedUtc` datetime NULL;

ALTER TABLE mp_Forums ADD COLUMN `RolesThatCanPost` text NULL;
ALTER TABLE mp_Forums ADD COLUMN `RolesThatCanModerate` text NULL;
ALTER TABLE mp_Forums ADD COLUMN `ModeratorNotifyEmail` text NULL;
ALTER TABLE mp_Forums ADD COLUMN `IncludeInGoogleMap` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Forums ADD COLUMN `AddNoIndexMeta` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Forums ADD COLUMN `Closed` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Forums ADD COLUMN `Visible` tinyint(1) unsigned NOT NULL default '1';
ALTER TABLE mp_Forums ADD COLUMN `RequireModeration` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Forums ADD COLUMN `RequireModForNotify` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Forums ADD COLUMN `AllowTrustedDirectPosts` tinyint(1) unsigned NOT NULL default '0';
ALTER TABLE mp_Forums ADD COLUMN `AllowTrustedDirectNotify` tinyint(1) unsigned NOT NULL default '0';

UPDATE mp_Forums
SET RolesThatCanPost = 'Authenticated Users';


