ALTER TABLE mp_ForumThreadSubscriptions ADD COLUMN `SubGuid` varchar(36) NOT NULL default '00000000-0000-0000-0000-000000000000';

ALTER TABLE mp_ForumSubscriptions ADD COLUMN `SubGuid` varchar(36) NOT NULL default '00000000-0000-0000-0000-000000000000';

CREATE INDEX idxforumthreadsubuid ON mp_ForumThreadSubscriptions(`SubGuid`);

CREATE INDEX idxforumsubuid ON mp_ForumSubscriptions(`SubGuid`);

