CREATE TABLE mp_SystemLog (
 ID INTEGER NOT NULL , 
 LogDate TIMESTAMP NOT NULL,
 IpAddress VARCHAR(50) ,
 Culture VARCHAR(10) ,
 Url Blob sub_type 1 ,
 ShortUrl VARCHAR(255) ,
 Thread VARCHAR(255) NOT NULL,
 LogLevel VARCHAR(20) NOT NULL,
 Logger VARCHAR(255) NOT NULL,
 Message Blob sub_type 1,
PRIMARY KEY (ID)
);

