SET TERM ^ ;

CREATE PROCEDURE MP_SYSTEMLOG_INSERT(
	LOGDATE			TIMESTAMP,
	IPADDRESS			VARCHAR(50),
	CULTURE			VARCHAR(10),
	URL			Blob sub_type 1,
	SHORTURL			VARCHAR(255),
	THREAD			VARCHAR(255),
	LOGLEVEL			VARCHAR(20),
	LOGGER			VARCHAR(255),
	MESSAGE			Blob sub_type 1
) 
RETURNS
(
	ID INTEGER
)
AS

BEGIN
 ID = NEXT VALUE FOR mp_SystemLog_seq;

INSERT INTO 	MP_SYSTEMLOG
(				
                ID,
                LOGDATE,
                IPADDRESS,
                CULTURE,
                URL,
                SHORTURL,
                THREAD,
                LOGLEVEL,
                LOGGER,
                MESSAGE
) 
VALUES 
(				
               :ID,
               :LOGDATE,
               :IPADDRESS,
               :CULTURE,
               :URL,
               :SHORTURL,
               :THREAD,
               :LOGLEVEL,
               :LOGGER,
               :MESSAGE
);

END^

SET TERM ; ^
