
CREATE TABLE mp_Tag (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 Tag VARCHAR(255) NOT NULL,
 CreatedUtc TIMESTAMP NOT NULL,
 CreatedBy VARCHAR(36) NOT NULL,
 ModifiedUtc TIMESTAMP NOT NULL,
 ModifiedBy VARCHAR(36) NOT NULL,
 ItemCount INTEGER NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_TagItem (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 ItemGuid VARCHAR(36) NOT NULL,
 TagGuid VARCHAR(36) NOT NULL,
 ExtraGuid VARCHAR(36) NOT NULL,
 TaggedBy VARCHAR(36) NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_Category (
 Guid VARCHAR(36) NOT NULL, 
 ParentGuid VARCHAR(36) NOT NULL,
 SiteGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 Category VARCHAR(255) NOT NULL,
 Description Blob sub_type 1 ,
 ItemCount INTEGER NOT NULL,
 CreatedUtc TIMESTAMP NOT NULL,
 CreatedBy VARCHAR(36) NOT NULL,
 ModifiedUtc TIMESTAMP NOT NULL,
 ModifiedBy VARCHAR(36) NOT NULL,
 PRIMARY KEY (Guid)   
);
	
CREATE TABLE mp_CategoryItem (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 ItemGuid VARCHAR(36) NOT NULL,
 CategoryGuid VARCHAR(36) NOT NULL,
 ExtraGuid VARCHAR(36) NOT NULL,
 PRIMARY KEY (Guid)   
);
