CREATE INDEX IXTagSiteGuid ON mp_Tag(SiteGuid);
CREATE INDEX IXTagFeatureGuid ON mp_Tag(FeatureGuid);
CREATE INDEX IXTagModuleGuid ON mp_Tag(ModuleGuid);


CREATE INDEX IXTagItemItemGuid ON mp_TagItem(ItemGuid);
CREATE INDEX IXTagItemModuleGuid ON mp_TagItem(ModuleGuid);
CREATE INDEX IXTagItemSiteGuid ON mp_TagItem(SiteGuid);
CREATE INDEX IXTagItemFeatureGuid ON mp_TagItem(FeatureGuid);
CREATE INDEX IXTagItemTagGuid ON mp_TagItem(TagGuid);
CREATE INDEX IXTagItemExtraGuid ON mp_TagItem(ExtraGuid);

CREATE INDEX IXCategorySiteGuid ON mp_Category(SiteGuid);
CREATE INDEX IXCategoryFeatureGuid ON mp_Category(FeatureGuid);
CREATE INDEX IXTCategoryModuleGuid ON mp_Category(ModuleGuid);

CREATE INDEX IXCatItemItemGuid ON mp_CategoryItem(ItemGuid);
CREATE INDEX IXCatItemModuleGuid ON mp_CategoryItem(ModuleGuid);
CREATE INDEX IXCatItemSiteGuid ON mp_CategoryItem(SiteGuid);
CREATE INDEX IXCatItemFeatureGuid ON mp_CategoryItem(FeatureGuid);
CREATE INDEX IXCatItemCatGuid ON mp_CategoryItem(CategoryGuid);
CREATE INDEX IXCatItemExtraGuid ON mp_CategoryItem(ExtraGuid);

CREATE INDEX IXpmPane ON mp_PageModules(PaneName);

