CREATE TABLE `ws_Store` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleID` int(11) NOT NULL,
 `Name` varchar(255) NOT NULL,
 `Description` text NULL,
 `DefaultCurrencyID` varchar(36) NOT NULL,
 `AllowOtherCurrencies` tinyint(1) unsigned NOT NULL,
 `DefaultLanguageID` varchar(36) NOT NULL,
 `AllowOtherLanguages` tinyint(1) unsigned NOT NULL,
 `OwnerName` varchar(255) NULL,
 `OwnerEmail` varchar(100) NULL,
 `SalesEmail` varchar(100) NOT NULL,
 `SupportEmail` varchar(100) NOT NULL,
 `EmailFrom` varchar(100) NULL,
 `OrderBCCEmail` varchar(100) NULL,
 `Phone` varchar(32) NULL,
 `Fax` varchar(32) NULL,
 `Address` varchar(255) NULL,
 `City` varchar(255) NULL,
 `ZoneGuid` varchar(36) NOT NULL,
 `PostalCode` varchar(50) NULL,
 `CountryGuid` varchar(36) NOT NULL,
 `IsClosed` tinyint(1) unsigned NOT NULL,
 `ClosedMessage` text NULL,
 `ShowCategoryCounts` tinyint(1) unsigned NOT NULL,
 `DefaultCountry` varchar(36) NOT NULL,
 `StoreConfigRoles` text NULL,
 `ProductEditRoles` text NULL,
 `OfferEditRoles` text NULL,
 `TaxEditRoles` text NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 PRIMARY KEY (`Guid`)   
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_Language` (
 `Guid` varchar(36) NOT NULL, 
 `Name` varchar(255) NOT NULL,
 `Code` char(2) NOT NULL,
 `Sort` int(11) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_GeoCountry` (
 `Guid` varchar(36) NOT NULL, 
 `Name` varchar(255) NOT NULL,
 `ISOCode2` char(2) NOT NULL,
 `ISOCode3` char(3) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_GeoZone` (
 `Guid` varchar(36) NOT NULL, 
 `CountryGuid` varchar(36) NOT NULL,
 `Name` varchar(255) NOT NULL,
 `Code` varchar(255) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_GeoZone`
add KEY `FK_GeoZone_geocountry` (`CountryGuid`),  COMMENT=''; 

ALTER TABLE ws_GeoZone
ADD CONSTRAINT `FK_GeoZone_geocountry` 
FOREIGN KEY(`CountryGuid`)
REFERENCES `ws_GeoCountry`  (`Guid`); 

CREATE TABLE `ws_Currency` (
 `Guid` varchar(36) NOT NULL, 
 `Title` varchar(50) NOT NULL,
 `Code` char(3) NOT NULL,
 `SymbolLeft` varchar(15) NULL,
 `SymbolRight` varchar(15) NULL,
 `DecimalPointChar` char(1) NULL,
 `ThousandsPointChar` char(1) NULL,
 `DecimalPlaces` char(1) NULL,
 `Value` Decimal(13,8) NULL,
 `LastModified` datetime NULL,
 `Created` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_TaxClass` (
 `Guid` varchar(36) NOT NULL, 
 `StoreGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NOT NULL,
 `Description` text NOT NULL,
 `LastModified` datetime NULL,
 `Created` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_TaxClass`
add KEY `FK_TaxClass_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_TaxClass`
ADD CONSTRAINT `FK_TaxClass_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`);  

CREATE TABLE `ws_TaxRate` (
 `Guid` varchar(36) NOT NULL, 
 `StoreGuid` varchar(36) NOT NULL,
 `GeoZoneGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NOT NULL,
 `Priority` int(11) NOT NULL,
 `Rate` Decimal(18,4) NOT NULL,
 `Description` varchar(255) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModified` datetime NULL,
 `ModifiedBy` varchar(36) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_TaxRate`
add KEY `FK_TaxRate_taxclass` (`TaxClassGuid`),  COMMENT=''; 

ALTER TABLE `ws_TaxRate`
ADD CONSTRAINT `FK_TaxRate_taxclass` 
FOREIGN KEY(`TaxClassGuid`)
REFERENCES `ws_TaxClass`  (`Guid`); 
           
alter table `ws_TaxRate`
add KEY `FK_TaxRate_geozone` (`GeoZoneGuid`),  COMMENT=''; 

ALTER TABLE `ws_TaxRate`
ADD CONSTRAINT `FK_TaxRate_geozone` 
FOREIGN KEY(`GeoZoneGuid`)
REFERENCES `ws_GeoZone`  (`Guid`); 
           
alter table `ws_TaxRate`
add KEY `FK_TaxRate_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_TaxRate`
ADD CONSTRAINT `FK_TaxRate_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`); 

CREATE TABLE `ws_TaxRateHistory` (
 `Guid` varchar(36) NOT NULL, 
 `TaxRateGuid` varchar(36) NOT NULL,
 `StoreGuid` varchar(36) NOT NULL,
 `GeoZoneGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NOT NULL,
 `Priority` int(11) NOT NULL,
 `Rate` Decimal(18,4) NOT NULL,
 `Description` varchar(255) NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModified` datetime NULL,
 `ModifiedBy` varchar(36) NULL,
 `LogTime` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_Cart` (
 `CartGuid` varchar(36) NOT NULL, 
 `StoreGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `CurrencyGuid` varchar(36) NULL,
 `CurrencyValue` Decimal(13,8) NOT NULL,
 `SubTotal` Decimal(15,4) NOT NULL,
 `TaxTotal` Decimal(15,4) NOT NULL,
 `ShippingTotal` Decimal(15,4) NOT NULL,
 `OrderTotal` Decimal(15,4) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedFromIP` varchar(255) NULL,
 `LastModified` datetime NULL,
 `LastUserActivity` datetime NULL,
PRIMARY KEY (`CartGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_Cart`
add KEY `FK_Cart_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_Cart`
ADD CONSTRAINT `FK_Cart_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`); 


CREATE TABLE `ws_Offer` (
 `Guid` varchar(36) NOT NULL, 
 `StoreGuid` varchar(36) NULL,
 `IsVisible` tinyint(1) unsigned NOT NULL,
 `IsSpecial` tinyint(1) unsigned NOT NULL,
 `TaxClassGuid` varchar(36) NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NOT NULL,
 `IsDeleted` tinyint(1) unsigned NOT NULL,
 `DeletedTime` datetime NULL,
 `DeletedBy` varchar(36) NULL,
 `DeletedFromIP` varchar(255) NULL,
 `LastModified` datetime NULL,
 `LastModifiedBy` varchar(36) NULL,
 `LastModifiedFromIP` varchar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_Offer`
add KEY `FK_Offer_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_Offer`
ADD CONSTRAINT `FK_Offer_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`);

CREATE TABLE `ws_Product` (
 `Guid` varchar(36) NOT NULL, 
 `StoreGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NOT NULL,
 `Sku` varchar(255) NOT NULL,
 `ModelNumber` varchar(255) NULL,
 `Status` TinyInt NOT NULL,
 `FullfillmentType` TinyInt NOT NULL,
 `Weight` Decimal(7,2) NOT NULL,
 `UnitCost` Decimal(15,4) NOT NULL,
 `RetailPrice` Decimal(15,4) NOT NULL,
 `QuantityOnHand` int(11) NOT NULL,
 `ImageFileName` varchar(255) NULL,
 `ImageFileBytes` LongBlob NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModified` datetime NULL,
 `LastModifedBy` varchar(36) NULL,
 `IsDeleted` tinyint(1) unsigned NOT NULL,
 `DeletedBy` varchar(36) NULL,
 `DeletedFromIP` varchar(255) NULL,
 `DeletedTime` datetime NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_Product`
add KEY `FK_Product_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_Product`
ADD CONSTRAINT `FK_Product_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`); 


CREATE TABLE `ws_Order` (
 `OrderGuid` varchar(36) NOT NULL, 
 `OrderNo` int(11) NOT NULL,
 `StoreGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `CustomerName` varchar(255) NULL,
 `CustomerCompany` varchar(255) NULL,
 `CustomerAddressLine1` varchar(255) NULL,
 `CustomerAddressLine2` varchar(255) NULL,
 `CustomerSuburb` varchar(255) NULL,
 `CustomerCity` varchar(255) NULL,
 `CustomerPostalCode` varchar(20) NULL,
 `CustomerState` varchar(255) NULL,
 `CustomerCountry` varchar(255) NULL,
 `CustomerTelephoneDay` varchar(32) NULL,
 `CustomerTelephoneNight` varchar(32) NULL,
 `CustomerEmail` varchar(96) NULL,
 `CustomerEmailVerified` tinyint(1) unsigned NOT NULL,
 `DeliveryName` varchar(255) NULL,
 `DeliveryCompany` varchar(255) NULL,
 `DeliveryAddress1` varchar(255) NULL,
 `DeliveryAddress2` varchar(255) NULL,
 `DeliverySuburb` varchar(255) NULL,
 `DeliveryCity` varchar(255) NULL,
 `DeliveryPostalCode` varchar(20) NULL,
 `DeliveryState` varchar(255) NULL,
 `DeliveryCountry` varchar(255) NULL,
 `BillingName` varchar(255) NULL,
 `BillingCompany` varchar(255) NULL,
 `BillingAddress1` varchar(255) NULL,
 `BillingAddress2` varchar(255) NULL,
 `BillingSuburb` varchar(255) NULL,
 `BillingCity` varchar(255) NULL,
 `BillingPostalCode` varchar(20) NULL,
 `BillingState` varchar(255) NULL,
 `BillingCountry` varchar(255) NULL,
 `CardTypeGuid` varchar(36) NOT NULL,
 `CardOwner` varchar(100) NULL,
 `CardNumber` varchar(255) NULL,
 `CardExpires` varchar(6) NULL,
 `CardSecurityCode` varchar(50) NULL,
 `CurrencyGuid` varchar(36) NOT NULL,
 `CurrencyValue` Decimal(13,8) NULL,
 `SubTotal` Decimal(15,4) NULL,
 `TaxTotal` Decimal(15,4) NULL,
 `ShippingTotal` Decimal(15,4) NULL,
 `OrderTotal` Decimal(15,4) NULL,
 `Created` datetime NOT NULL,
 `CreatedFromIP` varchar(255) NULL,
 `Completed` datetime NULL,
 `CompletedFromIP` varchar(255) NULL,
 `LastModified` datetime NULL,
 `LastUserActivity` datetime NULL,
 `StatusGuid` varchar(36) NULL,
 `GatewayTransID` varchar(255) NULL,
 `GatewayRawResponse` text NULL,
 `GatewayAuthCode` varchar(50) NULL,
 `TaxZoneGuid` varchar(36) NULL,
PRIMARY KEY (`OrderGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_Order`
add KEY `FK_Order_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_Order`
ADD CONSTRAINT `FK_Order_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`);  

CREATE TABLE `ws_OfferPrice` (
 `Guid` varchar(36) NOT NULL, 
 `OfferGuid` varchar(36) NOT NULL,
 `CurrencyGuid` varchar(36) NOT NULL,
 `Price` Decimal(15,4) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NULL,
 `LastModifed` datetime NULL,
 `LastModifiedBy` varchar(36) NOT NULL,
 `ModifiedFromIP` varchar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_OfferPrice`
add KEY `FK_OfferPrice_offer` (`OfferGuid`),  COMMENT=''; 

ALTER TABLE `ws_OfferPrice`
ADD CONSTRAINT `FK_OfferPrice_offer` 
FOREIGN KEY(`OfferGuid`)
REFERENCES `ws_Offer`  (`Guid`); 
           
alter table `ws_OfferPrice`
add KEY `FK_OfferPrice_currency` (`CurrencyGuid`),  COMMENT=''; 

ALTER TABLE `ws_OfferPrice`
ADD CONSTRAINT `FK_OfferPrice_currency` 
FOREIGN KEY(`CurrencyGuid`)
REFERENCES `ws_Currency`  (`Guid`); 


CREATE TABLE `ws_CartOffers` (
 `ItemGuid` varchar(36) NOT NULL, 
 `CartGuid` varchar(36) NOT NULL,
 `OfferGuid` varchar(36) NOT NULL,
 `PriceGuid` varchar(36) NOT NULL,
 `CurrencyGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NULL,
 `OfferPrice` Decimal(15,4) NOT NULL,
 `AddedToCart` datetime NOT NULL,
 `Quantity` int(11) NOT NULL,
PRIMARY KEY (`ItemGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_CartOffers`
add KEY `FK_CartOffers_offerprice` (`PriceGuid`),  COMMENT=''; 

ALTER TABLE `ws_CartOffers`
ADD CONSTRAINT `FK_CartOffers_offerprice` 
FOREIGN KEY(`PriceGuid`)
REFERENCES `ws_OfferPrice`  (`Guid`); 
           
alter table `ws_CartOffers`
add KEY `FK_CartOffers_offer` (`OfferGuid`),  COMMENT=''; 

ALTER TABLE `ws_CartOffers`
ADD CONSTRAINT `FK_CartOffers_offer` 
FOREIGN KEY(`OfferGuid`)
REFERENCES `ws_Offer`  (`Guid`); 
           
alter table `ws_CartOffers`
add KEY `FK_CartOffers_cart` (`CartGuid`),  COMMENT=''; 

ALTER TABLE `ws_CartOffers`
ADD CONSTRAINT `FK_CartOffers_cart` 
FOREIGN KEY(`CartGuid`)
REFERENCES `ws_Cart`  (`CartGuid`); 
           
alter table `ws_CartOffers`
add KEY `FK_CartOffers_currency` (`CurrencyGuid`),  COMMENT=''; 

ALTER TABLE `ws_CartOffers`
ADD CONSTRAINT `FK_CartOffers_currency` 
FOREIGN KEY(`CurrencyGuid`)
REFERENCES `ws_Currency`  (`Guid`); 







CREATE TABLE `ws_CartOrderInfo` (
 `CartGuid` varchar(36) NOT NULL, 
 `CustomerName` varchar(255) NULL,
 `CustomerCompany` varchar(255) NULL,
 `CustomerAddressLine1` varchar(255) NULL,
 `CustomerAddressLine2` varchar(255) NULL,
 `CustomerSuburb` varchar(255) NULL,
 `CustomerCity` varchar(255) NULL,
 `CustomerPostalCode` varchar(20) NULL,
 `CustomerState` varchar(255) NULL,
 `CustomerCountry` varchar(255) NULL,
 `CustomerTelephoneDay` varchar(32) NULL,
 `CustomerTelephoneNight` varchar(32) NULL,
 `CustomerEmail` varchar(96) NULL,
 `CustomerEmailVerified` tinyint(1) unsigned NOT NULL,
 `DeliveryName` varchar(255) NULL,
 `DeliveryCompany` varchar(255) NULL,
 `DeliveryAddress1` varchar(255) NULL,
 `DeliveryAddress2` varchar(255) NULL,
 `DeliverySuburb` varchar(255) NULL,
 `DeliveryCity` varchar(255) NULL,
 `DeliveryPostalCode` varchar(20) NULL,
 `DeliveryState` varchar(255) NULL,
 `DeliveryCountry` varchar(255) NULL,
 `BillingName` varchar(255) NULL,
 `BillingCompany` varchar(255) NULL,
 `BillingAddress1` varchar(255) NULL,
 `BillingAddress2` varchar(255) NULL,
 `BillingSuburb` varchar(255) NULL,
 `BillingCity` varchar(255) NULL,
 `BillingPostalCode` varchar(20) NULL,
 `BillingState` varchar(255) NULL,
 `BillingCountry` varchar(255) NULL,
 `CardTypeGuid` varchar(36) NOT NULL,
 `CardOwner` varchar(100) NULL,
 `CardNumber` varchar(255) NULL,
 `CardExpires` varchar(6) NULL,
 `CardSecurityCode` varchar(50) NULL,
 `Completed` datetime NULL,
 `CompletedFromIP` varchar(255) NULL,
 `TaxZoneGuid` varchar(36) NULL,
 PRIMARY KEY (`CartGuid`)   
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_Category` (
 `Guid` varchar(36) NOT NULL, 
 `ParentGuid` varchar(36) NOT NULL,
 `StoreGuid` varchar(36) NOT NULL,
 `ImageFileName` varchar(75) NULL,
 `Sort` int(11) NOT NULL,
 `Created` datetime NOT NULL,
 `LastModified` datetime NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_Category`
add KEY `FK_Category_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_Category`
ADD CONSTRAINT `FK_Category_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`); 

CREATE TABLE `ws_CategoryDescription` (
 `CategoryGuid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
 `Name` varchar(255) NOT NULL,
PRIMARY KEY (`CategoryGuid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_CategoryDescription`
add KEY `FK_CategoryDescription_language` (`LanguageGuid`),  COMMENT=''; 

ALTER TABLE `ws_CategoryDescription`
ADD CONSTRAINT `FK_CategoryDescription_language` 
FOREIGN KEY(`LanguageGuid`)
REFERENCES `ws_Language`  (`Guid`); 
           
alter table `ws_CategoryDescription`
add KEY `FK_CategoryDescription_category` (`CategoryGuid`),  COMMENT=''; 

ALTER TABLE `ws_CategoryDescription`
ADD CONSTRAINT `FK_CategoryDescription_category` 
FOREIGN KEY(`CategoryGuid`)
REFERENCES `ws_Category`  (`Guid`); 

CREATE TABLE `ws_FullfillDownloadTerms` (
 `Guid` varchar(36) NOT NULL, 
 `StoreGuid` varchar(36) NOT NULL,
 `DownloadsAllowed` int(11) NOT NULL,
 `ExpireAfterDays` int(11) NOT NULL,
 `CountAfterDownload` tinyint(1) unsigned NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NULL,
 `LastModified` datetime NULL,
 `LastModifedBy` varchar(36) NULL,
 `LastModifedFromIPAddress` varchar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table `ws_FullfillDownloadTerms`
add KEY `FK_FullfillDownloadTerms_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_FullfillDownloadTerms`
ADD CONSTRAINT `FK_FullfillDownloadTerms_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`);

CREATE TABLE `ws_FullfillDownloadTermsDesc` (
 `TermsGuid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
 `Name` varchar(255) NOT NULL,
 `Description` text NOT NULL,
PRIMARY KEY (`TermsGuid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- alter table `ws_FullfillDownloadTermsDesc`
-- add KEY `FK_FullfillDownloadTermsDesc_language` (`LanguageGuid`),  COMMENT=''; 

ALTER TABLE `ws_FullfillDownloadTermsDesc`
ADD CONSTRAINT `FK_FullfillDownloadTermsDesc_language` 
FOREIGN KEY(`LanguageGuid`)
REFERENCES `ws_Language`  (`Guid`); 
           
alter table `ws_FullfillDownloadTermsDesc`
add KEY `FK_FullfillDownloadTermsDesc_fullfilldownloadterms` (`LanguageGuid`),  COMMENT=''; 

ALTER TABLE `ws_FullfillDownloadTermsDesc`
ADD CONSTRAINT `FK_FullfillDownloadTermsDesc_fullfilldownloadterms` 
FOREIGN KEY(`TermsGuid`)
REFERENCES `ws_FullfillDownloadTerms`  (`Guid`); 

CREATE TABLE `ws_FullfillDownloadTicket` (
 `Guid` varchar(36) NOT NULL, 
 `StoreGuid` varchar(36) NOT NULL,
 `OrderGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `ProductGuid` varchar(36) NOT NULL,
 `FullfillTermsGuid` varchar(36) NOT NULL,
 `DownloadsAllowed` int(11) NOT NULL,
 `ExpireAfterDays` int(11) NOT NULL,
 `CountAfterDownload` tinyint(1) unsigned NOT NULL,
 `PurchaseTime` datetime NOT NULL,
 `DownloadedCount` int(11) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_FullfillDownloadTicket`
add KEY `FK_FullfillDownloadTicket_fullfilldownloadterms` (`FullfillTermsGuid`),  COMMENT=''; 

ALTER TABLE `ws_FullfillDownloadTicket`
ADD CONSTRAINT `FK_FullfillDownloadTicket_fullfilldownloadterms` 
FOREIGN KEY(`FullfillTermsGuid`)
REFERENCES `ws_FullfillDownloadTerms`  (`Guid`); 
           
alter table `ws_FullfillDownloadTicket`
add KEY `FK_FullfillDownloadTicket_product` (`ProductGuid`),  COMMENT=''; 

ALTER TABLE `ws_FullfillDownloadTicket`
ADD CONSTRAINT `FK_FullfillDownloadTicket_product` 
FOREIGN KEY(`ProductGuid`)
REFERENCES `ws_Product`  (`Guid`); 
           
alter table `ws_FullfillDownloadTicket`
add KEY `FK_FullfillDownloadTicket_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_FullfillDownloadTicket`
ADD CONSTRAINT `FK_FullfillDownloadTicket_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`); 



CREATE TABLE `ws_FullfillDownloadHistory` (
 `Guid` varchar(36) NOT NULL, 
 `TicketGuid` varchar(36) NOT NULL,
 `UTCTimestamp` datetime NOT NULL,
 `IPAddress` varchar(255) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_FullfillDownloadHistory`
add KEY `FK_FullfillDownloadHistory_fullfilldownloadticket` (`TicketGuid`),  COMMENT=''; 

ALTER TABLE `ws_FullfillDownloadHistory`
ADD CONSTRAINT `FK_FullfillDownloadHistory_fullfilldownloadticket` 
FOREIGN KEY(`TicketGuid`)
REFERENCES `ws_FullfillDownloadTicket`  (`Guid`); 

CREATE TABLE `ws_OfferAvailability` (
 `Guid` varchar(36) NOT NULL, 
 `OfferGuid` varchar(36) NOT NULL,
 `BeginUTC` datetime NOT NULL,
 `EndUTC` datetime NOT NULL,
 `RequiresOfferCode` tinyint(1) unsigned NOT NULL,
 `OfferCode` varchar(50) NOT NULL,
 `MaxAllowedPerCustomer` int(11) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NOT NULL,
 `IsDeleted` tinyint(1) unsigned NOT NULL,
 `DeletedBy` varchar(36) NULL,
 `DeletedTime` datetime NULL,
 `DeletedFromIP` varchar(255) NULL,
 `LastModified` datetime NULL,
 `LastModifedBy` varchar(36) NULL,
 `LastModifedFromIP` varchar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
alter table `ws_OfferAvailability`
add KEY `FK_OfferAvailability_offer` (`OfferGuid`),  COMMENT=''; 

ALTER TABLE `ws_OfferAvailability`
ADD CONSTRAINT `FK_OfferAvailability_offer` 
FOREIGN KEY(`OfferGuid`)
REFERENCES `ws_Offer`  (`Guid`); 


CREATE TABLE `ws_OfferAvailabilityHistory` (
 `Guid` varchar(36) NOT NULL, 
 `AvailabilityGuid` varchar(36) NOT NULL,
 `OfferGuid` varchar(36) NOT NULL,
 `BeginUTC` datetime NOT NULL,
 `EndUTC` datetime NOT NULL,
 `RequiresOfferCode` tinyint(1) unsigned NOT NULL,
 `OfferCode` varchar(50) NOT NULL,
 `MaxAllowedPerCustomer` int(11) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NOT NULL,
 `IsDeleted` tinyint(1) unsigned NOT NULL,
 `DeletedBy` varchar(36) NULL,
 `DeletedTime` datetime NULL,
 `DeletedFromIP` varchar(255) NULL,
 `LastModified` datetime NULL,
 `LastModifedBy` varchar(36) NULL,
 `LastModifedFromIP` varchar(255) NULL,
 `LogTime` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `ws_OfferDescription` (
 `OfferGuid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
 `ShortDescription` varchar(255) NOT NULL,
 `LongDescription` text NULL,
PRIMARY KEY (`OfferGuid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_OfferDescription`
add KEY `FK_OfferDescription_language` (`LanguageGuid`),  COMMENT=''; 

ALTER TABLE `ws_OfferDescription`
ADD CONSTRAINT `FK_OfferDescription_language` 
FOREIGN KEY(`LanguageGuid`)
REFERENCES `ws_Language`  (`Guid`); 
           
alter table `ws_OfferDescription`
add KEY `FK_OfferDescription_offer` (`OfferGuid`),  COMMENT=''; 

ALTER TABLE `ws_OfferDescription`
ADD CONSTRAINT `FK_OfferDescription_offer` 
FOREIGN KEY(`OfferGuid`)
REFERENCES `ws_Offer`  (`Guid`); 

CREATE TABLE `ws_OfferHistory` (
 `Guid` varchar(36) NOT NULL, 
 `OfferGuid` varchar(36) NULL,
 `StoreGuid` varchar(36) NULL,
 `TaxClassGuid` varchar(36) NULL,
 `IsVisible` tinyint(1) unsigned NOT NULL,
 `IsSpecial` tinyint(1) unsigned NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NOT NULL,
 `IsDeleted` tinyint(1) unsigned NOT NULL,
 `DeletedTime` datetime NULL,
 `DeletedBy` varchar(36) NULL,
 `DeletedFromIP` varchar(255) NULL,
 `LastModified` datetime NULL,
 `LastModifiedBy` varchar(36) NULL,
 `LastModifiedFromIP` varchar(255) NULL,
 `LogTime` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;




CREATE TABLE `ws_OfferPriceHistory` (
 `Guid` varchar(36) NOT NULL, 
 `PriceGuid` varchar(36) NOT NULL,
 `OfferGuid` varchar(36) NOT NULL,
 `CurrencyGuid` varchar(36) NOT NULL,
 `Price` Decimal(15,4) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NULL,
 `LastModifed` datetime NULL,
 `LastModifiedBy` varchar(36) NOT NULL,
 `ModifiedFromIP` varchar(255) NULL,
 `LogTime` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `ws_OfferProduct` (
 `Guid` varchar(36) NOT NULL, 
 `OfferGuid` varchar(36) NOT NULL,
 `ProductGuid` varchar(36) NOT NULL,
 `FullfillType` TinyInt NOT NULL,
 `FullFillTermsGuid` varchar(36) NOT NULL,
 `Quantity` int(11) NOT NULL,
 `SortOrder` int(11) NOT NULL,
 `IsDeleted` tinyint(1) unsigned NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedFromIP` varchar(255) NULL,
 `DeletedBy` varchar(36) NULL,
 `DeletedFromIP` varchar(255) NULL,
 `DeletedTime` datetime NULL,
 `LastModified` datetime NULL,
 `LastModifiedBy` varchar(36) NULL,
 `LastModifiedFromIP` varchar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_OfferProduct`
add KEY `FK_OfferProduct_offer` (`OfferGuid`),  COMMENT=''; 

ALTER TABLE `ws_OfferProduct`
ADD CONSTRAINT `FK_OfferProduct_offer` 
FOREIGN KEY(`OfferGuid`)
REFERENCES `ws_Offer`  (`Guid`); 
           
alter table `ws_OfferProduct`
add KEY `FK_OfferProduct_product` (`ProductGuid`),  COMMENT=''; 

ALTER TABLE `ws_OfferProduct`
ADD CONSTRAINT `FK_OfferProduct_product` 
FOREIGN KEY(`ProductGuid`)
REFERENCES `ws_Product`  (`Guid`); 

CREATE TABLE `ws_OrderOffers` (
 `ItemGuid` varchar(36) NOT NULL, 
 `OrderGuid` varchar(36) NOT NULL,
 `OfferGuid` varchar(36) NOT NULL,
 `PriceGuid` varchar(36) NOT NULL,
 `CurrencyGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NOT NULL,
 `OfferPrice` Decimal NOT NULL,
 `AddedToCart` datetime NOT NULL,
 `Quantity` int(11) NOT NULL,
PRIMARY KEY (`ItemGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_OrderOffers`
add KEY `FK_OrderOffers_offerprice` (`PriceGuid`),  COMMENT=''; 

ALTER TABLE `ws_OrderOffers`
ADD CONSTRAINT `FK_OrderOffers_offerprice` 
FOREIGN KEY(`PriceGuid`)
REFERENCES `ws_OfferPrice`  (`Guid`); 
           
alter table `ws_OrderOffers`
add KEY `FK_OrderOffers_offer` (`OfferGuid`),  COMMENT=''; 

ALTER TABLE `ws_OrderOffers`
ADD CONSTRAINT `FK_OrderOffers_offer` 
FOREIGN KEY(`OfferGuid`)
REFERENCES `ws_Offer`  (`Guid`); 
           
alter table `ws_OrderOffers`
add KEY `FK_OrderOffers_order` (`OrderGuid`),  COMMENT=''; 

ALTER TABLE `ws_OrderOffers`
ADD CONSTRAINT `FK_OrderOffers_order` 
FOREIGN KEY(`OrderGuid`)
REFERENCES `ws_Order`  (`OrderGuid`); 
           
alter table `ws_OrderOffers`
add KEY `FK_OrderOffers_currency` (`CurrencyGuid`),  COMMENT=''; 

ALTER TABLE `ws_OrderOffers`
ADD CONSTRAINT `FK_OrderOffers_currency` 
FOREIGN KEY(`CurrencyGuid`)
REFERENCES `ws_Currency`  (`Guid`); 

CREATE TABLE `ws_OrderOfferProduct` (
 `Guid` varchar(36) NOT NULL, 
 `OrderGuid` varchar(36) NOT NULL,
 `OfferGuid` varchar(36) NOT NULL,
 `ProductGuid` varchar(36) NOT NULL,
 `FullfillType` TinyInt NOT NULL,
 `FullfillTermsGuid` varchar(36) NOT NULL,
 `Created` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_OrderStatus` (
 `Guid` varchar(36) NOT NULL, 
 `Sort` int(11) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_OrderStatusDescription` (
 `StatusGuid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
 `Description` varchar(255) NULL,
PRIMARY KEY (`StatusGuid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_OrderStatusDescription`
add KEY `FK_OrderStatusDescription_language` (`LanguageGuid`),  COMMENT=''; 

ALTER TABLE `ws_OrderStatusDescription`
ADD CONSTRAINT `FK_OrderStatusDescription_language` 
FOREIGN KEY(`LanguageGuid`)
REFERENCES `ws_Language`  (`Guid`); 
           
alter table `ws_OrderStatusDescription`
add KEY `FK_OrderStatusDescription_orderstatus` (`StatusGuid`),  COMMENT=''; 

ALTER TABLE `ws_OrderStatusDescription`
ADD CONSTRAINT `FK_OrderStatusDescription_orderstatus` 
FOREIGN KEY(`StatusGuid`)
REFERENCES `ws_OrderStatus`  (`Guid`); 


CREATE TABLE `ws_ProductCategory` (
 `ProductGuid` varchar(36) NOT NULL,  `CategoryGuid` varchar(36) NOT NULL, 
PRIMARY KEY (`ProductGuid`,`CategoryGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_ProductCategory`
add KEY `FK_ProductCategory_product` (`ProductGuid`),  COMMENT=''; 

ALTER TABLE `ws_ProductCategory`
ADD CONSTRAINT `FK_ProductCategory_product` 
FOREIGN KEY(`ProductGuid`)
REFERENCES `ws_Product`  (`Guid`); 
           
alter table `ws_ProductCategory`
add KEY `FK_ProductCategory_category` (`CategoryGuid`),  COMMENT=''; 

ALTER TABLE `ws_ProductCategory`
ADD CONSTRAINT `FK_ProductCategory_category` 
FOREIGN KEY(`CategoryGuid`)
REFERENCES `ws_Category`  (`Guid`); 

CREATE TABLE `ws_ProductDescription` (
 `ProductGuid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
 `Name` varchar(255) NOT NULL,
 `Description` text NULL,
PRIMARY KEY (`ProductGuid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_ProductDescription`
add KEY `FK_ProductDescription_language` (`LanguageGuid`),  COMMENT=''; 

ALTER TABLE `ws_ProductDescription`
ADD CONSTRAINT `FK_ProductDescription_language` 
FOREIGN KEY(`LanguageGuid`)
REFERENCES `ws_Language`  (`Guid`); 
           
alter table `ws_ProductDescription`
add KEY `FK_ProductDescription_product` (`ProductGuid`),  COMMENT=''; 

ALTER TABLE `ws_ProductDescription`
ADD CONSTRAINT `FK_ProductDescription_product` 
FOREIGN KEY(`ProductGuid`)
REFERENCES `ws_Product`  (`Guid`); 

CREATE TABLE `ws_ProductFile` (
 `ProductGuid` varchar(36) NOT NULL, 
 `FileName` varchar(255) NOT NULL,
 `FileImage` LongBlob NULL,
 `ServerFileName` varchar(255) NOT NULL,
 `ByteLength` int(11) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
PRIMARY KEY (`ProductGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_ProductHistory` (
 `Guid` varchar(36) NOT NULL, 
 `ProductGuid` varchar(36) NOT NULL,
 `StoreGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NOT NULL,
 `Sku` varchar(255) NOT NULL,
 `Status` TinyInt NOT NULL,
 `FullfillmentType` TinyInt NOT NULL,
 `Weight` Decimal(7,2) NOT NULL,
 `QuantityOnHand` int(11) NOT NULL,
 `ImageFileName` varchar(255) NULL,
 `ImageFileBytes` LongBlob NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModified` datetime NULL,
 `LastModifedBy` varchar(36) NULL,
 `LogTime` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_ProductProperty` (
 `Guid` varchar(36) NOT NULL, 
 `ProductGuid` varchar(36) NOT NULL,
 `GroupGuid` varchar(36) NULL,
 `Sort` int(11) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_ProductPropertyDesc` (
 `Guid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
 `Name` varchar(50) NOT NULL,
 `Value` varchar(50) NULL,
PRIMARY KEY (`Guid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_ProductPropertyDesc`
add KEY `FK_ProductPropertyDesc_productproperty` (`Guid`),  COMMENT=''; 

ALTER TABLE `ws_ProductPropertyDesc`
ADD CONSTRAINT `FK_ProductPropertyDesc_productproperty` 
FOREIGN KEY(`Guid`)
REFERENCES `ws_ProductProperty`  (`Guid`); 

CREATE TABLE `ws_ProductPropertyGroup` (
 `Guid` varchar(36) NOT NULL, 
 `ProductGuid` varchar(36) NOT NULL,
 `Sort` int(11) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `ws_ProductPropertyGroupDesc` (
 `Guid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
 `Description` varchar(255) NOT NULL,
PRIMARY KEY (`Guid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_ProductPropertyGroupDesc`
add KEY `FK_ProductPropertyGroupDesc_productpropertygroup` (`Guid`),  COMMENT=''; 

ALTER TABLE `ws_ProductPropertyGroupDesc`
ADD CONSTRAINT `FK_ProductPropertyGroupDesc_productpropertygroup` 
FOREIGN KEY(`Guid`)
REFERENCES `ws_ProductPropertyGroup`  (`Guid`); 

CREATE TABLE `ws_ProductRating` (
 `Guid` varchar(36) NOT NULL, 
 `ProductGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `Rating` TinyInt NULL,
 `Created` datetime NOT NULL,
 `LastModified` datetime NULL,
 `CreatedFromIPAddress` varchar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_ProductRating`
add KEY `FK_ProductRating_product` (`ProductGuid`),  COMMENT=''; 

ALTER TABLE `ws_ProductRating`
ADD CONSTRAINT `FK_ProductRating_product` 
FOREIGN KEY(`ProductGuid`)
REFERENCES `ws_Product`  (`Guid`);

CREATE TABLE `ws_ProductReview` (
 `Guid` varchar(36) NOT NULL, 
 `RatingGuid` varchar(36) NOT NULL,
 `ProductGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `LanguageGuid` varchar(36) NOT NULL,
 `Review` text NOT NULL,
 `ViewCount` int(11) NOT NULL,
 `Created` datetime NOT NULL,
 `LastModifed` datetime NULL,
 `CreatedFromIPAddress` varchar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_ProductReview`
add KEY `FK_ProductReview_product` (`ProductGuid`),  COMMENT=''; 

ALTER TABLE `ws_ProductReview`
ADD CONSTRAINT `FK_ProductReview_product` 
FOREIGN KEY(`ProductGuid`)
REFERENCES `ws_Product`  (`Guid`); 

CREATE TABLE `ws_StoreCurrency` (
 `StoreGuid` varchar(36) NOT NULL,  `CurrencyGuid` varchar(36) NOT NULL, 
 `Created` datetime NOT NULL,
PRIMARY KEY (`StoreGuid`,`CurrencyGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_StoreCurrency`
add KEY `FK_StoreCurrency_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_StoreCurrency`
ADD CONSTRAINT `FK_StoreCurrency_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`);

CREATE TABLE `ws_StoreLanguage` (
 `StoreGuid` varchar(36) NOT NULL,  `LanguageGuid` varchar(36) NOT NULL, 
PRIMARY KEY (`StoreGuid`,`LanguageGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `ws_StoreLanguage`
add KEY `FK_StoreLanguage_language` (`LanguageGuid`),  COMMENT=''; 

ALTER TABLE `ws_StoreLanguage`
ADD CONSTRAINT `FK_StoreLanguage_language` 
FOREIGN KEY(`LanguageGuid`)
REFERENCES `ws_Language`  (`Guid`); 
           
alter table `ws_StoreLanguage`
add KEY `FK_StoreLanguage_store` (`StoreGuid`),  COMMENT=''; 

ALTER TABLE `ws_StoreLanguage`
ADD CONSTRAINT `FK_StoreLanguage_store` 
FOREIGN KEY(`StoreGuid`)
REFERENCES `ws_Store`  (`Guid`);

