<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="5219a554-d176-481e-abc0-9ea2ee4c8efc"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="GMapResources"
		featureNameReasourceKey="GoogleMapFeatureName" 
		controlSource="GoogleMap/GoogleMapModule.ascx"
		sortOrder="600"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapLocationSetting"
			defaultValue="Country Club Plaza, Broadway Boulevard, Kansas City, MO"
			controlType="TextBox"
      controlSrc=""
       helpKey="googlemap-location-help"
      sortOrder="100"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapCaptionSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="110"
			regexValidationExpression=""
			/>
		<featureSetting
	resourceFile="GMapResources"
	resourceKey="GoogleMapUseIframeSetting"
	defaultValue="true"
	controlType="CheckBox"
      controlSrc=""
      helpKey="googlemap-useiframe-help"
      sortOrder="111"
	regexValidationExpression=""
			/>
		<featureSetting
		resourceFile="GMapResources"
		resourceKey="GoogleMapInitialMapTypeSetting"
		defaultValue="r16by9"
		controlType="DropDownList"
		  helpKey=""
		  sortOrder="112"
		regexValidationExpression=""
			>
			<Options>
				<Option name="Resource:Ratio16by9" value="r16by9" />
				<Option name="Resource:Ratio4by3" value="r4by3" />
			</Options>
		</featureSetting>
		
		
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapHeightSetting"
			defaultValue="300"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="120"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapWidthSetting"
			defaultValue="500"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="130"
			regexValidationExpression="^[1-9][0-9]{0,4}[px|%]?"
			/>

		
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapEnableZoomSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="150"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapShowInfoWindowSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="160"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapEnableLocalSearchSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="170"
			regexValidationExpression=""
			/>
		
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapEnableDirectionsSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="180"
			regexValidationExpression=""
			/>
			
		
		
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapUseLocationForTitleSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="190"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapShowLocationCaptionSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="200"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapEnableMapTypeSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="205"
			regexValidationExpression=""
			/>
		
    <featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapInitialMapTypeSetting"
			defaultValue="G_NORMAL_MAP"
			controlType="ISettingControl"
      controlSrc="~/Controls/GMapTypeSetting.ascx"
      helpKey=""
      sortOrder="210"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GMapResources"
			resourceKey="GoogleMapInitialZoomSetting"
			defaultValue="13"
			controlType="ISettingControl"
      controlSrc="~/Controls/GMapZoomLevelSetting.ascx"
      helpKey=""
      sortOrder="220"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GMapResources"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="230"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
	</featureDefinition>
</featureDefinitions>

