CREATE TABLE mp_RssFeedEntries (
 RowGuid VARCHAR(36) NOT NULL, 
 ModuleGuid VARCHAR(36) NOT NULL,
 FeedGuid VARCHAR(36) NOT NULL,
 FeedId INTEGER NOT NULL,
 PubDate TIMESTAMP NOT NULL,
 Title VARCHAR(255) NOT NULL,
 Author VARCHAR(100) ,
 BlogUrl VARCHAR(255) NOT NULL,
 Description BLOB SUB_TYPE 1 NOT NULL,
 Link VARCHAR(255) NOT NULL,
 Confirmed SMALLINT NOT NULL,
 EntryHash INTEGER NOT NULL,
 CachedTimeUtc TIMESTAMP NOT NULL,
 PRIMARY KEY (RowGuid)   
);

ALTER TABLE MP_RSSFEEDS ADD 
ImageUrl Varchar(255);

ALTER TABLE MP_RSSFEEDS ADD 
FeedType Varchar(20);

ALTER TABLE MP_RSSFEEDS ADD 
PublishByDefault INTEGER;
