ALTER TABLE	mp_SharedFileFolders
ADD COLUMN	viewroles TEXT NOT NULL DEFAULT 'All Users';
	

ALTER TABLE	mp_SharedFiles
ADD COLUMN	viewroles TEXT NOT NULL DEFAULT 'All Users';
	

ALTER TABLE	mp_SharedFilesHistory
ADD COLUMN	viewroles TEXT NOT NULL DEFAULT 'All Users';



CREATE OR REPLACE FUNCTION
	mp_sharedfilefolders_insert(
		integer,
		character varying,
		integer,
		character,
		character,
		character,
		character
	)
RETURNS
	integer
AS $_$

INSERT INTO
	mp_sharedfilefolders(
		moduleid,
		foldername,
		parentid,
		moduleguid,
		folderguid,
		parentguid,
		viewroles
	) 
	VALUES(
		$1,
		$2,
		$3,
		$4,
		$5,
		$6,
		$7
	);
SELECT cast(currval('mp_sharedfilefolders_folderid_seq') as int4); $_$
    LANGUAGE sql SECURITY DEFINER;



CREATE OR REPLACE FUNCTION
	mp_sharedfilefolders_update(
		integer,
		integer,
		character varying,
		integer,
		character,
		character
	)
RETURNS
	integer
AS
	$_$

DECLARE
	_folderid alias for $1;
	_moduleid alias for $2;
	_foldername alias for $3;
	_parentid alias for $4;
	_parentguid alias for $5;
	_viewroles alias for $6;
	_rowcount int4;
BEGIN

UPDATE
	mp_sharedfilefolders 
SET
	moduleid = _moduleid,
	foldername = _foldername,
	parentid = _parentid,
	parentguid = _parentguid,
	viewroles = _viewroles
WHERE
	folderid = _folderid; 
GET DIAGNOSTICS
	_rowcount = ROW_COUNT;
RETURN
	_rowcount;
END $_$
    LANGUAGE plpgsql SECURITY DEFINER;



CREATE OR REPLACE FUNCTION
	mp_sharedfileshistory_insert(
		integer,
		integer,
		character varying,
		character varying,
		character varying,
		integer,
		timestamp without time zone,
		integer,
		timestamp without time zone,
		character,
		character,
		character,
		character
	)
RETURNS
	integer
AS
	$_$
INSERT INTO
	mp_sharedfileshistory(
		itemid,
		moduleid,
		friendlyname,
		originalfilename,
		serverfilename,
		sizeinkb,
		uploaddate,
		uploaduserid,
		archivedate,
		itemguid,
		moduleguid,
		userguid,
		viewroles
	) 
	VALUES(
		$1,
		$2,
		$3,
		$4,
		$5,
		$6,
		$7,
		$8,
		$9,
		$10,
		$11,
		$12,
		$13
	);
SELECT cast(currval('mp_sharedfileshistory_id_seq') as int4); $_$
	LANGUAGE sql SECURITY DEFINER;