<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Settings in user.config will take precedence over settings in web.config, but changes to
  user.config will not be detected automatically or cause app to restart. So if you make a
  change there, enter a space in web.config and save to make it pick up your change in
  user.config. you would need to create your own user.config file and put custom settings there -->
  <appSettings file="user.config">
    <!-- this would be comma separate language codes with no spaces between them 
    example with multipl langs:
    <add key="LanguagesNotToRemove" value="it,ru,es-MX"/>
    -->
    <add key="LanguagesNotToRemove" value="it"/>
    <add key="RemoveCoreFiles" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
