SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[mp_SharedFileFolders_SelectByModule]

/*
Author:   			
Created: 			2005-01-05
Last Modified: 		2009-12-17
*/

@ModuleID		int,
@ParentID		int


AS

SELECT sff.*,
		(SELECT COALESCE(SUM(sf.SizeInKB), 0)
		FROM [dbo].mp_SharedFiles sf
		WHERE sf.FolderID = sff.FolderID) As SizeInKB
		
FROM
		[dbo].[mp_SharedFileFolders] sff

WHERE	sff.ModuleID = @ModuleID
		AND sff.ParentID = @ParentID
		
ORDER BY
		sff.FolderName


GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[mp_SharedFileFolders_SelectAllByModule]

/*
Author:   			
Created: 			2005-01-05
Last Modified: 		2009-12-17
*/

@ModuleID		int

AS

SELECT
sff.*,
		(SELECT COALESCE(SUM(sf.SizeInKB), 0)
		FROM [dbo].mp_SharedFiles sf
		WHERE sf.FolderID = sff.FolderID) As SizeInKB
		
FROM
		[dbo].[mp_SharedFileFolders] sff

WHERE	sff.ModuleID = @ModuleID

ORDER BY
		sff.FolderName

GO

