ALTER TABLE mp_SharedFiles ALTER COLUMN [Description] NVARCHAR(MAX) null
ALTER TABLE mp_SharedFiles ALTER COLUMN [FileBlob] varbinary(MAX) null


GO

ALTER PROCEDURE [dbo].[mp_SharedFiles_Insert]

/*
Author:   			
Created: 			2005-01-05
Last Modified: 		2010-07-02

*/

@ItemGuid		uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@UserGuid	uniqueidentifier,
@FolderGuid	uniqueidentifier,
@ModuleID int,
@UploadUserID int,
@FriendlyName nvarchar(255),
@OriginalFileName nvarchar(255),
@ServerFileName nvarchar(255),
@SizeInKB int,
@UploadDate datetime,
@FolderID int,
@Description nvarchar(max)

	
AS

INSERT INTO 			[dbo].[mp_SharedFiles] 
(
				ItemGuid,
				ModuleGuid,
				UserGuid,
				FolderGuid,
				[ModuleID],
				[UploadUserID],
				[FriendlyName],
				[OriginalFileName],
				[ServerFileName],
				[SizeInKB],
				[UploadDate],
				[FolderID],
				[Description],
				DownloadCount
) 

VALUES 
(
				@ItemGuid,
				@ModuleGuid,
				@UserGuid,
				@FolderGuid,
				@ModuleID,
				@UploadUserID,
				@FriendlyName,
				@OriginalFileName,
				@ServerFileName,
				@SizeInKB,
				@UploadDate,
				@FolderID,
				@Description,
				0
				
)


SELECT @@IDENTITY



GO

ALTER PROCEDURE [dbo].[mp_SharedFiles_Update]

/*
Author:   			
Created: 			2005-01-05
Last Modified: 		2010-07-02

*/
	
@ItemID int, 
@ModuleID int, 
@UploadUserID int, 
@FriendlyName nvarchar(255), 
@OriginalFileName nvarchar(255), 
@ServerFileName nvarchar(255), 
@SizeInKB int, 
@UploadDate datetime, 
@FolderID int,
@FolderGuid	uniqueidentifier ,
@UserGuid	uniqueidentifier,
@Description nvarchar(max)

AS

UPDATE 		[dbo].[mp_SharedFiles] 

SET
			[ModuleID] = @ModuleID,
			[UploadUserID] = @UploadUserID,
			[FriendlyName] = @FriendlyName,
			[OriginalFileName] = @OriginalFileName,
			[ServerFileName] = @ServerFileName,
			[SizeInKB] = @SizeInKB,
			[UploadDate] = @UploadDate,
			[FolderID] = @FolderID,
			FolderGuid = @FolderGuid,
			UserGuid = @UserGuid,
			[Description] = @Description
			
WHERE
			[ItemID] = @ItemID


GO


