
CREATE PROCEDURE [dbo].[mp_SharedFiles_SelectAllByModule]

/*
Author:   			
Created: 			2013-02-18
Last Modified: 		2013-02-18

*/

@ModuleID		int

AS
SELECT
		sf.[ItemID],
		sf.[ModuleID],
		sf.[UploadUserID],
		sf.[FriendlyName],
		sf.[OriginalFileName],
		sf.[ServerFileName],
		sf.[SizeInKB],
		sf.[UploadDate],
		sf.[FolderID],
		sf.ItemGuid,
		sf.FolderGuid,
		sf.UserGuid,
		sf.ModuleGuid,
		sf.[Description],
		sf.DownloadCount
		
FROM
		[dbo].[mp_SharedFiles] sf


WHERE	sf.ModuleID = @ModuleID
		
ORDER BY
	sf.[FriendlyName]


GO

CREATE PROCEDURE [dbo].[mp_SharedFilesHistory_SelectByModule]

/*
Author:   			
Created: 			2013-02-18
Last Modified: 		2013-02-18

*/

@ModuleID	int

AS


SELECT
		h.[ID],
		h.[ItemID],
		h.[ModuleID],
		h.[FriendlyName],
		h.OriginalFileName,
		h.[ServerFileName],
		h.SizeInKB,
		h.UploadDate,
		h.UploadUserID,
		h.[ArchiveDate]
		
FROM
		[dbo].[mp_SharedFilesHistory] h


WHERE	h.ModuleID = @ModuleID
		

ORDER BY 	h.ArchiveDate DESC


GO

