body.filedialog{ color: black;}

h2.logitem { font-size: 1em; }

input.openid_login { background:url('openidlogin.gif') no-repeat; background-color:#fff; background-position:0 50%; color:#000; padding-left:18px; }


/* autocomplete extender */

ul.autocomplete_completionListElement 
{  
	margin : 0px 0px 0px 0px!important;
	padding: 0px !important;
	background-color : white;
	color : black;
	border-color : gray;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 300px;
    text-align : left; 
    list-style-type : none !important;
	
}

li.autocomplete_highlightedListItem
{
	margin-left: 0px !important ;
	background-color: #ffff99;
	color: black;
	padding: 1px !important;
	background-image:none!important;
	
	
}

li.autocomplete_listItem 
{
	
	margin-left: 0px !important;
	background-color : white;
	color : black;
	padding : 1px !important;
	background-image:none!important;

	
}

/* jQuery Cycle Pager 
 * Required for HTML Module "Slide Show Pager" option.
 */
.cyclenav {text-align: center;}
.cyclenav a{margin-right: 3px;}
.cyclenav a.activeSlide {font-weight: bold;}

/* Example of jQuery Cycle Pager with 'dots' for the navigation links
 * To use this, place 'cycledots' (without quotes) in the 
 * 'Custom CSS Class' setting of the HTML Content Module being used 
 * for the slideshow
 */
.cycledots .cyclenav a{
	background: transparent url('cyclenav-bullet2.png') no-repeat scroll center -28px; 
	line-height: 40px;
	overflow: hidden;
	height: 14px;
	width: 14px;
	display: inline-block;}
.cycledots .cyclenav a:focus,
.cycledots .cyclenav a.activeSlide{ background-position: center -14px; }
.cycledots .cyclenav a:hover { background-position: center 0; }


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }



/* faq */
.faqs{padding-top:20px}
.faqs dt{font-weight:bold;background:url('q.gif') 0 4px no-repeat;padding:3px 0 15px 30px;position:relative;}
.faqs dt:hover{cursor:pointer}
.faqs dd{background:url('a.gif') 0 2px no-repeat;padding:0 0 5px 30px;position:relative;color:#333}
.faqs .hover{color:#990000;text-decoration:underline}

/*mojorating */
.ratingcontainer { float:right; white-space:nowrap; margin:5px 5px 5px 5px;  }
.ratingprompt { float: left; margin-right: 5px; }
.voteswrap { margin-left: 5px; }
.ratingcontainer div { float:left; white-space:nowrap; margin:0px 0px 0px 0px;  }
.ratingrow { white-space:nowrap; }
.ratingStar { white-space:nowrap; height:14px; margin:1em; }
.ratingStar .ratingItem { font-size:0; width:13px; height:12px; display:block; background-repeat:no-repeat; cursor:pointer; margin:0; padding:0; }
.ratingStar .Filled { background-image:url('ratingStarFilled.png'); }
.ratingStar .Empty { background-image:url('ratingStarEmpty.png'); }
.ratingStar .Saved { background-image:url('ratingStarSaved.png'); }
.ratingbuttons {  margin: 0px 0px 0px 0px; padding: 2px 0px 0px 0px;  }
.rcommentprompt { display:block;}
.ratingcomments { border:#000 1px solid; background-color:#eee; color:#000; width:206px; height:200px; position:absolute; margin-top:15px; padding:5px; }
.ratingcommentbox { width:200px; height:100px; }



a.addtocal { background: url('calendar_add.png') no-repeat; background-position: 0px 2px; padding-left:18px; display:inline-block; min-height:22px; margin-right:4px;  }

/* ***************************************
** Diff related styles
*****************************************/

ins {
	background-color: #cfc;
	text-decoration:inherit;

}

del {
	color: #999;
	background-color:#FEC8C8;
}

ins.mod {
    background-color: #FFE1AC;
}

a.inlineedittoggle.ui-icon { display: inline-block; }

.filedialog { margin: 0; padding: 0;}
#GalleryPreview{ table-layout: fixed; width: 450px; margin: 0 auto;float: left; border: 0px solid #0000ff; }
#GalleryPreview_VerticalFix { width: 450px; display: table-cell; text-align: left; border: 0px solid #00ff00; }
#GalleryPreview img { max-width: 550px; max-height: 550px;}
.boldtext { font-weight: bold;}

#filewrapper {}
#filewrapper .fileoperations { background-color: #F0EFF1; }
#filewrapper .foldercreation,
#filewrapper .fileupload { float: left; width: 50%;}
#filewrapper .operationpanel { padding: 0 5px; }
#filewrapper .operationheading { display: block; text-align: center; background-color: #E0DFE3; font-weight: bold;}
#filewrapper .imageresizeoptions { margin-top: 10px; }
#filewrapper .imageresizeoptions,
#filewrapper .operationinstructions { font-size: 110%; }
#filewrapper .imageresizecheckbox { display: block; }
#filewrapper .imageresizecheckbox input { margin-right: 3px; }
#filewrapper .errorpanel span { margin-top: 5px; }

#filewrapper .fileselection > div { }
#filewrapper .filetreewrapper { float: left; width: 33%; }
#filewrapper .filepreview { float: left; width: 67% }
#filewrapper .filepreview .operationpanel { padding: 0 0 0 15px; }
#filewrapper .rootfolder { float: left; height: 475px; width: 100%; margin-left: 10px; overflow: auto; }
#filewrapper #pnlFileTree { padding-right: 30px; }
#filewrapper .smalltextbox { width: 30px; margin-right: 10px; }

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

div.uploadfilelist {
	padding-top: 10px;
	clear: both;
}

div.uploadfilelist .ui-button,
.uploadcontainer .ui-button {
	padding: 7px;
}

ul.filelist {
	
	list-style: none;
}

ul.filelist .ui-icon-trash {
	display: inline-block;
	cursor: hand;
	cursor: pointer;
	
}

div.fileupload-dropzone {
	padding: 50px 0 50px 0;
	width: 100%;
	border:dashed thin black;
	margin: 4px 4px 4px 4px;
	text-align:center;
	vertical-align:middle;
}

/* editor styles, classes assigned by toolbar items */
.AlignCenter , p.AlignCenter {
  text-align: center;
}
 
.AlignLeft , p.AlignLeft{
  text-align: left;
}
 
.AlignRight, p.AlignRight {
  text-align: right;
}
 
.AlignJustify, p.AlignJustify {
  text-align: justify;
}
 
.Indent1, p.Indent1 , ol.Indent1, ul.Indent1{
  margin-left: 40px;
}
 
.Indent2, p.Indent2, ol.Indent2, ul.Indent2 {
  margin-left: 80px;
}
 
.Indent3, p.Indent3, ol.Indent3, ul.Indent3 {
  margin-left: 120px;
}

.font-xsmall {
  font-size: 60%;
}
.font-small {
  font-size: 80%;
}
.font-normal {
  font-size: 100%;
}
.font-large {
  font-size: 120%;
}
.font-xlarge {
  font-size: 140%;
}

table.jqtable td { font-weight:bold; }
table.FileManager_table { width:99%; }

div.cmdbar { display:inline-block; min-width:300px; min-height:14px; max-height: 14px; }
a.forumcommand { margin: 0px 10px 0px 10px; }


/* added for 2.7 */
.pagelayout__item-btn { 
    background: 0; 
    border: 0 none; 
    outline: 0 none;
    padding: 5px 0;
    cursor: pointer;
}
.pagelayout__item-btn:hover > svg {
    fill: #a90a11;
}

.pagelayout .panelistbox { 
    display: flex; 
    flex-flow: row nowrap; 
}

.pagelayout-item-btns {
    width: 40px;
    flex: 1 1 33px;
}
/* end add for 2.7 */