/****** Object:  Table [dbo].[mp_PollOptions]    Script Date: 11/30/2007 15:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_PollOptions](
	[OptionGuid] [uniqueidentifier] NOT NULL,
	[PollGuid] [uniqueidentifier] NOT NULL,
	[Answer] [nvarchar](255) NOT NULL,
	[Votes] [int] NOT NULL CONSTRAINT [DF_mp_PollOption_Votes]  DEFAULT ((0)),
	[Order] [int] NOT NULL CONSTRAINT [DF_mp_PollOptions_Order]  DEFAULT ((1)),
 CONSTRAINT [PK_mp_PollOptions] PRIMARY KEY CLUSTERED 
(
	[OptionGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mp_PollUsers]    Script Date: 11/30/2007 15:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_PollUsers](
	[PollGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[OptionGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_PollUsers] PRIMARY KEY CLUSTERED 
(
	[PollGuid] ASC,
	[UserGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mp_PollModules]    Script Date: 11/30/2007 15:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_PollModules](
	[PollGuid] [uniqueidentifier] NOT NULL,
	[ModuleID] [int] NOT NULL,
 CONSTRAINT [PK_mp_PollModules] PRIMARY KEY CLUSTERED 
(
	[PollGuid] ASC,
	[ModuleID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mp_Polls]    Script Date: 11/30/2007 15:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_Polls](
	[PollGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[Question] [nvarchar](255) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_mp_Poll_Active]  DEFAULT ((1)),
	[AnonymousVoting] [bit] NOT NULL CONSTRAINT [DF_mp_Polls_AnonymousVoting]  DEFAULT ((0)),
	[AllowViewingResultsBeforeVoting] [bit] NOT NULL CONSTRAINT [DF_mp_Polls_AllowViewingResultsBeforeVoting]  DEFAULT ((0)),
	[ShowOrderNumbers] [bit] NOT NULL CONSTRAINT [DF_mp_Polls_ShowOrderNumbers]  DEFAULT ((0)),
	[ShowResultsWhenDeactivated] [bit] NOT NULL CONSTRAINT [DF_mp_Polls_ShowResultsWhenDeactivated]  DEFAULT ((0)),
	[ActiveFrom] [datetime] NOT NULL CONSTRAINT [DF_mp_Polls_ActiveFrom]  DEFAULT (getdate()),
	[ActiveTo] [datetime] NOT NULL CONSTRAINT [DF_mp_Polls_ActiveTo]  DEFAULT (getdate()),
 CONSTRAINT [PK_mp_Polls] PRIMARY KEY CLUSTERED 
(
	[PollGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[mp_PollOptions_Delete]    Script Date: 11/30/2007 15:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_PollOptions_Delete]

/*
Author:			Christian Fredh
Created:		4/28/2007
Last Modified:	4/28/2007

*/

    
@OptionGuid	uniqueidentifier



AS
DELETE FROM [mp_PollUsers]
WHERE		[OptionGuid] = @OptionGuid

DELETE FROM [mp_PollOptions]
WHERE		[OptionGuid] = @OptionGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_PollOptions_Insert]    Script Date: 11/30/2007 15:14:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_PollOptions_Insert]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	7/24/2007

*/

@OptionGuid		uniqueidentifier,
@PollGuid    	uniqueidentifier,
@Answer			nvarchar(255),
@Order			int

AS

INSERT INTO mp_PollOptions
(
			OptionGuid,
    		PollGuid,
    		Answer,
			[Order]
)

VALUES
(
		@OptionGuid,
    	@PollGuid,
    	@Answer,
		@Order
)
GO
/****** Object:  StoredProcedure [dbo].[mp_PollOptions_Select]    Script Date: 11/30/2007 15:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_PollOptions_Select]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	7/24/2007

*/

    
@PollGuid		uniqueidentifier



AS
SELECT *
FROM mp_PollOptions
WHERE PollGuid = @PollGuid
ORDER BY [Order], Answer
GO
/****** Object:  StoredProcedure [dbo].[mp_PollOptions_SelectOne]    Script Date: 11/30/2007 15:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_PollOptions_SelectOne]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	4/25/2007

*/

    
@OptionGuid		uniqueidentifier



AS
SELECT *
FROM mp_PollOptions
WHERE OptionGuid = @OptionGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_PollOptions_Update]    Script Date: 11/30/2007 15:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_PollOptions_Update]

/*
Author:			Christian Fredh
Created:		4/24/2007
Last Modified:	7/24/2007

*/

    
@OptionGuid	uniqueidentifier,
@Answer		nvarchar(255),
@Order		int



AS
UPDATE		mp_PollOptions

SET			[Answer] = @Answer,
			[Order] = @Order
			
WHERE		OptionGuid = @OptionGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_ClearVotes]    Script Date: 11/30/2007 15:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_ClearVotes]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	4/25/2007

*/

    
@PollGuid		uniqueidentifier



AS
DELETE FROM [mp_PollUsers]
WHERE		[PollGuid] = @PollGuid

UPDATE		[mp_PollOptions]
SET			[Votes] = 0		
WHERE		[PollGuid] = @PollGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_SelectOneByModuleID]    Script Date: 11/30/2007 15:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_SelectOneByModuleID]

/*
Author:			Christian Fredh
Created:		7/21/2007
Last Modified:	7/26/2007

*/

    
@ModuleID		int

AS

IF NOT EXISTS (SELECT PollGuid FROM mp_PollModules WHERE ModuleID = @ModuleID) RETURN

DECLARE @PollGuid uniqueidentifier
SET @PollGuid = (SELECT PollGuid FROM mp_PollModules WHERE ModuleID = @ModuleID)


SELECT *
FROM mp_Polls, (SELECT SUM(Votes) AS TotalVotes 
				FROM mp_PollOptions 
				WHERE mp_PollOptions.PollGuid = @PollGuid) AS votes
WHERE PollGuid = @PollGuid
--AND Active = 1
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_SelectByUserGuid]    Script Date: 11/30/2007 15:14:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_SelectByUserGuid]

/*
Author:			Christian Fredh
Created:		7/23/2007
Last Modified:	7/23/2007

*/

    
@UserGuid		uniqueidentifier



AS

SELECT p.*, po.OptionGuid, po.Answer
FROM mp_Polls p
JOIN mp_PollUsers pu ON p.PollGuid = pu.PollGuid AND pu.UserGuid = @UserGuid
JOIN mp_PollOptions po ON pu.OptionGuid = po.OptionGuid
ORDER BY ActiveFrom DESC, Question
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_Delete]    Script Date: 11/30/2007 15:14:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_Delete]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	4/25/2007

*/

    
@PollGuid		uniqueidentifier



AS

DELETE FROM [mp_PollModules]
WHERE		[PollGuid] = @PollGuid

DELETE FROM [mp_PollUsers]
WHERE		[PollGuid] = @PollGuid

DELETE FROM [mp_PollOptions]
WHERE		[PollGuid] = @PollGuid

DELETE FROM [mp_Polls]
WHERE		[PollGuid] = @PollGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_SelectOne]    Script Date: 11/30/2007 15:14:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_SelectOne]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	4/28/2007

*/

    
@PollGuid		uniqueidentifier



AS

DECLARE @TotalVotes int
IF EXISTS		(SELECT *
				FROM mp_PollOptions 
				WHERE mp_PollOptions.PollGuid = @PollGuid) 
BEGIN
	SET @TotalVotes =	(SELECT SUM(Votes)
						FROM mp_PollOptions 
						WHERE mp_PollOptions.PollGuid = @PollGuid)
END
ELSE BEGIN
	SET @TotalVotes = 0
END



SELECT *, @TotalVotes AS TotalVotes
FROM mp_Polls
WHERE PollGuid = @PollGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_PollOptions_IncrementVotes]    Script Date: 11/30/2007 15:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_PollOptions_IncrementVotes]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	4/25/2007

*/

    
@OptionGuid	uniqueidentifier,
@UserGuid		uniqueidentifier



AS

DECLARE @PollGuid uniqueidentifier
SET @PollGuid = (SELECT DISTINCT PollGuid FROM mp_PollOptions WHERE OptionGuid = @OptionGuid)


-- If user already has voted, ignore request.
IF EXISTS(SELECT * FROM mp_PollUsers WHERE PollGuid = @PollGuid AND UserGuid = @UserGuid) RETURN

IF @UserGuid <> '00000000-0000-0000-0000-000000000000' BEGIN
	INSERT INTO mp_PollUsers
	VALUES (@PollGuid, @UserGuid, @OptionGuid)
END

UPDATE		mp_PollOptions
SET			Votes = Votes + 1
WHERE		OptionGuid = @OptionGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_UserHasVoted]    Script Date: 11/30/2007 15:14:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_UserHasVoted]

/*
Author:			Christian Fredh
Created:		7/23/2007
Last Modified:	7/23/2007

*/

    
@PollGuid		uniqueidentifier,
@UserGuid		uniqueidentifier



AS

IF EXISTS(
SELECT * 
FROM mp_PollUsers 
WHERE UserGuid = @UserGuid 
AND PollGuid = @PollGuid
)
BEGIN
	SELECT 1
END
ELSE BEGIN
	SELECT 0
END
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_AddToModule]    Script Date: 11/30/2007 15:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_AddToModule]

/*
Author:			Christian Fredh
Created:		7/23/2007
Last Modified:	7/23/2007

*/

    
@PollGuid        		uniqueidentifier,
@ModuleID				int



AS

DELETE FROM mp_PollModules WHERE ModuleID = @ModuleID

INSERT INTO mp_PollModules (PollGuid, ModuleID)
VALUES (@PollGuid, @ModuleID)
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_RemoveFromModule]    Script Date: 11/30/2007 15:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_RemoveFromModule]

/*
Author:			Christian Fredh
Created:		7/23/2007
Last Modified:	7/23/2007

*/

@ModuleID				int



AS

DELETE FROM mp_PollModules WHERE ModuleID = @ModuleID
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_Update]    Script Date: 11/30/2007 15:14:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_Update]

/*
Author:			Christian Fredh
Created:		4/24/2007
Last Modified:	7/27/2007

*/

    
@PollGuid        		uniqueidentifier,
@Question				nvarchar(255),
@AnonymousVoting		bit,
@AllowViewingResultsBeforeVoting bit,
@ShowOrderNumbers bit,
@ShowResultsWhenDeactivated bit,
@Active bit,
@ActiveFrom datetime,
@ActiveTo datetime



AS
UPDATE		mp_Polls

SET			[Question] = @Question,
			[AnonymousVoting] = @AnonymousVoting,
			[AllowViewingResultsBeforeVoting] = @AllowViewingResultsBeforeVoting,
			[ShowOrderNumbers] = @ShowOrderNumbers,
			[ShowResultsWhenDeactivated] = @ShowResultsWhenDeactivated,
			[Active] = @Active,
			[ActiveFrom] = @ActiveFrom,
			[ActiveTo] = @ActiveTo
			
WHERE		PollGuid = @PollGuid
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_SelectActive]    Script Date: 11/30/2007 15:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_SelectActive]

/*
Author:			Christian Fredh
Created:		7/29/2007
Last Modified:	7/29/2007

*/

    
@SiteGuid		uniqueidentifier



AS
SELECT *
FROM mp_Polls
WHERE SiteGuid = @SiteGuid
AND Active = 1
AND ActiveFrom <= getdate()
AND ActiveTo >= getdate()
ORDER BY Question
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_Insert]    Script Date: 11/30/2007 15:14:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[mp_Polls_Insert]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	7/27/2007

*/

@PollGuid		uniqueidentifier,
@SiteGuid    	uniqueidentifier,
@Question		nvarchar(255),
@AnonymousVoting bit,
@AllowViewingResultsBeforeVoting bit,
@ShowOrderNumbers bit,
@ShowResultsWhenDeactivated bit,
@Active bit,
@ActiveFrom datetime,
@ActiveTo datetime

AS

INSERT INTO mp_Polls
(
			PollGuid,
    		SiteGuid,
    		Question,
			AnonymousVoting,
			AllowViewingResultsBeforeVoting,
			ShowOrderNumbers,
			ShowResultsWhenDeactivated,
			Active,
			ActiveFrom,
			ActiveTo
)

VALUES
(
		@PollGuid,
    	@SiteGuid,
    	@Question,
		@AnonymousVoting,
		@AllowViewingResultsBeforeVoting,
		@ShowOrderNumbers,
		@ShowResultsWhenDeactivated,
		@Active,
		@ActiveFrom,
		@ActiveTo
)
GO
/****** Object:  StoredProcedure [dbo].[mp_Polls_Select]    Script Date: 11/30/2007 15:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Polls_Select]

/*
Author:			Christian Fredh
Created:		4/25/2007
Last Modified:	7/24/2007

*/

    
@SiteGuid		uniqueidentifier



AS
SELECT *
FROM mp_Polls
WHERE SiteGuid = @SiteGuid
ORDER BY ActiveFrom DESC, Question
GO
