CREATE TABLE [mp_ContactFormMessage](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[Message] [ntext] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedFromIpAddress] [nvarchar](255) NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContactFormMessage] PRIMARY KEY  
(
	[RowGuid] 
)
) 
GO

ALTER TABLE [mp_ContactFormMessage] ADD  CONSTRAINT [DF_mp_ContactFormMessage_RowGuid]  DEFAULT (newid()) FOR [RowGuid]
GO

ALTER TABLE [mp_ContactFormMessage] ADD  CONSTRAINT [DF_mp_ContactFormMessage_CreatedUtc]  DEFAULT (getdate()) FOR [CreatedUtc]
GO
