/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox mojoPortal "light2" style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#fff;}

#colorBox{}
    #cboxTopLeft{width:25px; height:25px; background:url('cb_mojo_light2_images/border1.png') no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url('cb_mojo_light2_images/border1.png') repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url('cb_mojo_light2_images/border1.png') no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:20px; background:url('cb_mojo_light2_images/border1.png') no-repeat 0 -25px;}
    #cboxBottomCenter{height:20px; background:url('cb_mojo_light2_images/border1.png') repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:20px; background:url('cb_mojo_light2_images/border1.png') no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url('cb_mojo_light2_images/border2.png') repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url('cb_mojo_light2_images/border2.png') repeat-y -25px 0;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin: 15px 0px 40px 0px;}
        #cboxCurrent{position:absolute; top:-3px;left:54px;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-5px; background:url('cb_mojo_light2_images/controls.png') no-repeat 0 0;}
        #cboxPrevious{background-position:0px 0px; left:0px;}
        #cboxPrevious.hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; left:27px;}
        #cboxNext.hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose.hover{background-position:-50px -25px;}
        #cboxTitle{position:absolute; top:5px; left:0; text-align:center; width:100%; color:#000;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/

.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/ClientScript/colorbox/cb_mojo_light2_images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}

