SET TERM ^ ;
ALTER PROCEDURE MP_BLOGS_INSERT (
    MODULEID Integer,
    CREATEDBYUSER Varchar(100),
    CREATEDDATE Timestamp,
    HEADING Varchar(255),
    ABSTRACT Blob sub_type 1,
    STARTDATE Timestamp,
    ISINNEWSLETTER Smallint,
    DESCRIPTION Blob sub_type 1,
    COMMENTCOUNT Integer,
    TRACKBACKCOUNT Integer,
    INCLUDEINFEED Smallint,
    ALLOWCOMMENTSFORDAYS Integer,
    BLOGGUID Char(36),
    MODULEGUID Char(36),
    LOCATION Blob sub_type 1,
    USERGUID Char(36),
    ITEMURL Varchar(255),
    METAKEYWORDS Varchar(255),
    METADESCRIPTION Varchar(255),
    COMPILEDMETA Blob sub_type 1 )
RETURNS (
    ITEMID Integer )
AS
BEGIN
 ITEMID = NEXT VALUE FOR mp_Blogs_seq;

INSERT INTO 	MP_BLOGS
(				
                ITEMID,
                MODULEID,
                CREATEDBYUSER,
                CREATEDDATE,
                HEADING,
                ABSTRACT,
                STARTDATE,
                ISINNEWSLETTER,
                DESCRIPTION,
                COMMENTCOUNT,
                TRACKBACKCOUNT,
                INCLUDEINFEED,
                ALLOWCOMMENTSFORDAYS,
		BLOGGUID,
		MODULEGUID,
		LOCATION,
		USERGUID,
		LASTMODUSERGUID,
                LASTMODUTC,
            ITEMURL,
        METAKEYWORDS,
        METADESCRIPTION,
        COMPILEDMETA
) 
VALUES 
(				
               :ITEMID,
               :MODULEID,
               :CREATEDBYUSER,
               :CREATEDDATE,
               :HEADING,
               :ABSTRACT,
               :STARTDATE,
               :ISINNEWSLETTER,
               :DESCRIPTION,
               :COMMENTCOUNT,
               :TRACKBACKCOUNT,
               :INCLUDEINFEED,
               :ALLOWCOMMENTSFORDAYS,
	      :BLOGGUID,
	      :MODULEGUID,
	      :LOCATION,
	      :USERGUID,
	      :USERGUID,
               :CREATEDDATE,
            :ITEMURL,
            :METAKEYWORDS,
            :METADESCRIPTION,
            :COMPILEDMETA
);

END^
SET TERM ; ^

