
CREATE TABLE MP_PAYMENTLOG
(
  ROWGUID Varchar(36) NOT NULL,
  CREATEDUTC Timestamp NOT NULL,
  SITEGUID Varchar(36) NOT NULL,
  USERGUID Varchar(36) NOT NULL,
  STOREGUID Varchar(36) NOT NULL,
  CARTGUID Varchar(36) NOT NULL,
  Provider Varchar(100),
  RAWRESPONSE Blob sub_type 1,
  RESPONSECODE Char(1),
  RESPONSEREASONCODE Varchar(20),
  REASON Blob sub_type 1,
  AVSCODE Varchar(50),
  CCVCODE Char(1),
  CAVCODE Char(1),
  TRANSACTIONID Varchar(50),
  TRANSACTIONTYPE Varchar(50),
  METHOD Varchar(20),
  AUTHCODE Varchar(50),
  AMOUNT Integer,
  TAX Integer,
  DUTY Integer,
  FREIGHT Integer,
  PRIMARY KEY (ROWGUID)
);


