INSERT INTO 	mp_PaymentLog
(
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				Provider,
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight
) 

SELECT
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				'Authorize.NET',
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight

FROM
		mp_AuthorizeNetLog;


INSERT INTO 	mp_PaymentLog
(
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				Provider,
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight
) 

SELECT
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				'Plug.N.Pay',
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight

FROM
		mp_PlugNPayLog;
		
		
