CREATE TABLE [mp_GalleryImages](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Caption] [nvarchar](255) NULL,
	[Description] [ntext] NULL,
	[MetaDataXml] [ntext] NULL,
	[ImageFile] [nvarchar](100) NULL,
	[WebImageFile] [nvarchar](100) NULL,
	[ThumbnailFile] [nvarchar](100) NULL,
	[UploadDate] [datetime] NOT NULL,
	[UploadUser] [nvarchar](100) NULL,
	[ItemGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[UserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_GalleryImages] PRIMARY KEY 
(
	[ItemID] 
)
) 
GO

ALTER TABLE [mp_GalleryImages] ADD  CONSTRAINT [DF_mp_GalleryImages_DisplayOrder]  DEFAULT ((100)) FOR [DisplayOrder]
GO

ALTER TABLE [mp_GalleryImages] ADD  CONSTRAINT [DF_mp_GalleryImages_UploadDate]  DEFAULT (getdate()) FOR [UploadDate]
GO

