<?xml version="1.0" encoding="utf-8" ?>
<UserRegisteredEventHandlers>
	<providers>

		<add name="NotifyAdminUserRegisteredHandler"
			 type="mojoPortal.Web.NotifyAdminUserRegisteredHandler, mojoPortal.Web"
			 description="If enabled in Web.config sends an email to admins when new users register." />

		
	</providers>
</UserRegisteredEventHandlers>