<?xml version="1.0" encoding="utf-8" ?>
<ContentDeleteProviders>
	<providers>
		<add name="ForumContentDeleteHandler"
			 type="mojoPortal.Features.ForumContentDeleteHandler, mojoPortal.Features.UI"
			 description="Deletes related content when a module is deleted" />	
	</providers>
</ContentDeleteProviders>
