CREATE TABLE `mp_Links` (
  `ItemID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `Title` varchar(100) default NULL,
  `Url` varchar(250) default NULL,
  `ViewOrder` INTEGER default NULL,
  `Description` text,
  `CreatedDate` datetime default NULL,
  `CreatedBy` INTEGER default NULL,
  `Target` varchar(20) default '_blank'
, ItemGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
UserGuid VARCHAR(36));
