

CREATE TABLE mp_RedirectList (
 RowGuid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 SiteID INTEGER NOT NULL,
 OldUrl VARCHAR(255) NOT NULL,
 NewUrl VARCHAR(255) NOT NULL,
 CreatedUtc TIMESTAMP NOT NULL,
 ExpireUtc TIMESTAMP NOT NULL,
 PRIMARY KEY (RowGuid)   
);

CREATE TABLE mp_ContentRating (
 RowGuid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 ContentGuid VARCHAR(36) NOT NULL,
 UserGuid VARCHAR(36) NOT NULL,
 EmailAddress VARCHAR(100) ,
 Rating INTEGER NOT NULL,
 Comments BLOB SUB_TYPE 1 ,
 IpAddress VARCHAR(50) ,
 CreatedUtc TIMESTAMP NOT NULL,
 LastModUtc TIMESTAMP NOT NULL,
 PRIMARY KEY (RowGuid)   
);

