CREATE TABLE [mp_Blogs](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[CreatedByUser] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[Title] [nvarchar](100) NULL,
	[StartDate] [datetime] NULL,
	[IsInNewsletter] [bit] NULL,
	[Description] [ntext] NULL,
	[CommentCount] [int] NOT NULL,
	[TrackBackCount] [int] NOT NULL,
	[Categories] [ntext] NULL,
	[IncludeInFeed] [bit] NOT NULL,
	[AllowCommentsForDays] [int] NOT NULL,
	[BlogGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[Location] [ntext] NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[LastModUserGuid] [uniqueidentifier] NULL,
	[LastModUtc] [datetime] NULL,
	[ItemUrl] [nvarchar](255) NULL,
	[Heading] [nvarchar](255) NULL,
	[MetaKeywords] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](255) NULL,
	[Abstract] [ntext] NULL,
	[CompiledMeta] [ntext] NULL,
	[IsPublished] [bit] NULL,
 CONSTRAINT [PK_mp_Blogs] PRIMARY KEY  
(
	[ItemID] 
)
) 
GO

CREATE TABLE [mp_BlogStats](
	[ModuleID] [int] NOT NULL,
	[EntryCount] [int] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[TrackBackCount] [int] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_BlogStats] PRIMARY KEY 
(
	[ModuleID] 
)
) 
GO

CREATE TABLE [mp_BlogCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_mp_BlogCategories] PRIMARY KEY 
(
	[CategoryID] 
)
) 
GO

CREATE TABLE [mp_BlogComments](
	[BlogCommentID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Comment] [ntext] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[URL] [nvarchar](200) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_BlogComments] PRIMARY KEY 
(
	[BlogCommentID] 
)
) 
GO

CREATE TABLE [mp_BlogItemCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_mp_BlogItemCategories] PRIMARY KEY  
(
	[ID] 
)
) 
GO

ALTER TABLE [mp_BlogComments] ADD  CONSTRAINT [DF_mp_BlogComments_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO

ALTER TABLE [mp_Blogs] ADD  CONSTRAINT [DF_mp_Blogs_Comments]  DEFAULT ((0)) FOR [CommentCount]
GO

ALTER TABLE [mp_Blogs] ADD  CONSTRAINT [DF_mp_Blogs_TrackBackCount]  DEFAULT ((0)) FOR [TrackBackCount]
GO

ALTER TABLE [mp_Blogs] ADD  CONSTRAINT [DF_mp_Blogs_IncludeInFeed]  DEFAULT ((1)) FOR [IncludeInFeed]
GO

ALTER TABLE [mp_Blogs] ADD  CONSTRAINT [DF_mp_Blogs_AllowCommentsForDays]  DEFAULT ((0)) FOR [AllowCommentsForDays]
GO

ALTER TABLE [mp_BlogStats] ADD  CONSTRAINT [DF_mp_BlogStats_EntryCount]  DEFAULT ((0)) FOR [EntryCount]
GO

ALTER TABLE [mp_BlogStats] ADD  CONSTRAINT [DF_mp_BlogStats_CommentCount]  DEFAULT ((0)) FOR [CommentCount]
GO

ALTER TABLE [mp_BlogStats] ADD  CONSTRAINT [DF_mp_BlogStats_TrackBackCount]  DEFAULT ((0)) FOR [TrackBackCount]
GO

