/**
 * Shiny theme
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 2%;
  width: 96%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
.cse .gsc-control-cse div,
.gsc-control-cse div {
  position: normal;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: Verdana, sans-serif;
  background-color: #dae0e5;
  border: 1px solid;
  border-color: #dae0e5;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  border: none;
}
/**
 * Table cell containing the search input.
 * 4 pixels added to create more space between input and button.
 */
.cse td.gsc-input,
td.gsc-input {
  padding-right: 4px;
}
/* Search form element */
.cse form.gsc-search-box,
form.gsc-search-box {
  background: #d8d8d8 url('/cse/images/look/cse_theme_shiny_form_bg.png') repeat-x top left;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 96%;
  padding: .9em 2% 1em 2%;
  margin: 0 0 2% 0;
  -webkit-box-shadow: 0 1px 2px #333333;
  -moz-box-shadow: 0 1px 2px #333333;
  display: block;
}
/* Search input */
.cse input.gsc-input,
input.gsc-input {
  font-size: 14px;
  border: 1px solid;
  border-color: #8A99A6;
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  font-size: 14px;
  border: 1px solid;
  border-color: #8A99A6;
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  font-size: 14px;
  color: #292B33;
  font-weight: bold;
  text-shadow: 0 1px 2px #ffffff;
  padding: 2px 8px 3px 8px;
  background: #d0d1d4;
  border: 1px outset #d0d1d4;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #333333;
  -moz-box-shadow: 0 1px 2px #333333;
}
/* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  text-shadow: 0 1px 2px #fff;
  padding: 2px 8px 0 8px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  background-color: #b2bdc6;
  border: 1px solid;
  border-bottom: none;
  border-color: #b2bdc6;
  color: #000;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: #8A99A6;
  border: 1px solid;
  border-bottom: none;
  border-color: #8A99A6;
  color: #000;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid;
  border-color: #8A99A6;
  padding: 0;
}
/* Wrapper for all results */
.cse .gsc-results,
.gsc-results {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
.cse div.gs-title,
div.gs-title,
.cse .gs-snippet,
.gs-snippet,
.cse .gs-visibleUrl,
.gs-visibleUrl,
.cse .gs-visibleUrl-short,
.gs-visibleUrl-short {
  padding: 0 8px;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result {
  padding: 6px 0;
  border-top: 1px solid;
  border-color: #ffffff;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover {
  border-top: 1px solid;
  border-color: #d2d6dc;
  background-color: #ededed;
  -webkit-box-shadow: 0 1px 4px #8A99A6;
  -moz-box-shadow: 0 2px 2px #8A99A6;
}
/* Set link colors. */
.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.cse .gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse a.gsc-trailing-more-results:link,
a.gsc-trailing-more-results:link {
  color: #0568cd;
}
/* Override default.css selector to disable underlines. */
.cse .gs-result .gs-title,
.gs-result .gs-title,
.cse .gs-result .gs-title *,
.gs-result .gs-title * {
  text-decoration: none;
}
.cse .gs-webResult.gs-visibleUrl,
.gs-webResult.gs-visibleUrl,
.cse .gs-webResult.gs-visibleUrl-short,
.gs-webResult.gs-visibleUrl-short {
  color: #5f6a73;
  font-weight: bold;
  font-size: 11px;
}
/* Snippet text color */
.cse .gs-webResult.gs-result .gs-snippet,
.gs-webResult.gs-result .gs-snippet {
  color: #333333;
}
/* Pagination container centered */
.cse .gsc-cursor-box,
.gsc-cursor-box {
  border-color: #8A99A6;
  padding: 1.2em 0 2em 0;
  text-align: center;
}

/* Pagination */
.cse .gsc-cursor-page,
.gsc-cursor-page {
  padding: .2em .5em;
  background-color: #fff;
  border:1px solid;
  border-color: #b2bdc6;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-decoration: none;
}
/* Selected pagination */
.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  color: #1c001e;
  text-shadow: 0 1px 1px #fff;
  text-shadow: 0 1px 2px #fff;
  background-color: #8A99A6;
  border:1px solid;
  border-color: #d2d6dc;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gs-promotion.gs-result,
.gs-promotion.gs-result {
  background-color: #D0D1D4;
  border: 1px solid;
  border-color: #D2D6DC;
}
/* Promotion image */
.cse .gs-promotion.gs-result .gs-promotion-image,
.gs-promotion.gs-result .gs-promotion-image {}
/* Promotion title */
.cse .gs-promotion.gs-result a.gs-title:link,
.gs-promotion.gs-result a.gs-title:link {
  color: #0066CC;
}
.cse .gs-promotion.gs-result a.gs-title:visited,
.gs-promotion.gs-result a.gs-title:visited {
  color: #0066CC;
}
.cse .gs-promotion.gs-result a.gs-title:hover,
.gs-promotion.gs-result a.gs-title:hover {
  color: #0066CC;
}
.cse .gs-promotion.gs-result a.gs-title:active,
.gs-promotion.gs-result a.gs-title:active {
  color: #0066CC;
}
/* Promotion snippet */
.cse .gs-promotion.gs-result .gs-snippet,
.gs-promotion.gs-result .gs-snippet {
  color: #333333;
}
/* Promotion url */
.cse .gs-promotion.gs-result ..gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl {
  color: #5F6A73;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #ededed;
}
.gsc-completion-container {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  position: absolute;
  background: white;
  border: 1px solid #8A99A6;
  margin-left: 0;
  margin-right: 0;
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  /* The top, left, and width are set in JavaScript. */
}
