CREATE TABLE `mp_SharedFileFolders` (
  `FolderID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `FolderName` varchar(255) NOT NULL default '',
  `ParentID` INTEGER NOT NULL default '0'
, FolderGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
ParentGuid VARCHAR(36));

CREATE TABLE `mp_SharedFiles` (
  `ItemID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `UploadUserID` INTEGER NOT NULL default '0',
  `FriendlyName` varchar(255) NOT NULL default '',
  `ServerFileName` varchar(50) NOT NULL default '',
  `OriginalFileName` varchar(255) default NULL,
  `FileExtension` varchar(20) default NULL,
  `SizeInKB` INTEGER NOT NULL default '0',
  `UploadDate` datetime default NULL,
  `FolderID` INTEGER NOT NULL default '0'
, ItemGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
UserGuid VARCHAR(36), 
FolderGuid VARCHAR(36), 
FileBlob BLOB);

CREATE TABLE `mp_SharedFilesHistory` (
  `ID` INTEGER PRIMARY KEY,
  `ItemID` INTEGER NOT NULL default '0',
  `ModuleID` INTEGER NOT NULL default '0',
  `FriendlyName` varchar(255) NOT NULL default '',
  `ServerFileName` varchar(50) NOT NULL default '',
  `SizeInKB` INTEGER NOT NULL default '0',
  `UploadDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `ArchiveDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `OriginalFileName` varchar(255) default NULL,
  `UploadUserID` INTEGER NOT NULL default '1'
, ItemGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
UserGuid VARCHAR(36));

