SET TERM ^ ;
ALTER PROCEDURE MP_BLOGS_INSERT (
    MODULEID Integer,
    CREATEDBYUSER Varchar(100),
    CREATEDDATE Timestamp,
    TITLE Varchar(100),
    EXCERPT Varchar(512),
    STARTDATE Timestamp,
    ISINNEWSLETTER Smallint,
    DESCRIPTION Blob sub_type 1,
    COMMENTCOUNT Integer,
    TRACKBACKCOUNT Integer,
    INCLUDEINFEED Smallint,
    ALLOWCOMMENTSFORDAYS Integer,
    BLOGGUID Char(36),
    MODULEGUID Char(36),
    LOCATION Blob sub_type 1,
    USERGUID Char(36),
    ITEMURL varchar(255) )
RETURNS (
    ITEMID Integer )
AS
BEGIN
 ITEMID = NEXT VALUE FOR mp_Blogs_seq;

INSERT INTO 	MP_BLOGS
(				
                ITEMID,
                MODULEID,
                CREATEDBYUSER,
                CREATEDDATE,
                TITLE,
                EXCERPT,
                STARTDATE,
                ISINNEWSLETTER,
                DESCRIPTION,
                COMMENTCOUNT,
                TRACKBACKCOUNT,
                INCLUDEINFEED,
                ALLOWCOMMENTSFORDAYS,
		BLOGGUID,
		MODULEGUID,
		LOCATION,
		USERGUID,
		LASTMODUSERGUID,
                LASTMODUTC,
            ITEMURL
) 
VALUES 
(				
               :ITEMID,
               :MODULEID,
               :CREATEDBYUSER,
               :CREATEDDATE,
               :TITLE,
               :EXCERPT,
               :STARTDATE,
               :ISINNEWSLETTER,
               :DESCRIPTION,
               :COMMENTCOUNT,
               :TRACKBACKCOUNT,
               :INCLUDEINFEED,
               :ALLOWCOMMENTSFORDAYS,
	      :BLOGGUID,
	      :MODULEGUID,
	      :LOCATION,
	      :USERGUID,
	      :USERGUID,
               :CREATEDDATE,
            :ITEMURL
);

END^
SET TERM ; ^




