SET TERM ^ ;
ALTER PROCEDURE MP_BLOGCATEGORIES_INSERT (
    MODULEID Integer,
    CATEGORY Varchar(255) )
RETURNS (
    CATEGORYID Integer )
AS
BEGIN
 CATEGORYID = NEXT VALUE FOR mp_BlogCategories_seq;

INSERT INTO 	MP_BLOGCATEGORIES
(				
                CATEGORYID,
                MODULEID,
                CATEGORY
) 
VALUES 
(				
               :CATEGORYID,
               :MODULEID,
               :CATEGORY
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_BLOGCATEGORIES_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_BLOGCOMMENTS_INSERT (
    MODULEID Integer,
    ITEMID Integer,
    "COMMENT" Blob sub_type 1,
    TITLE Varchar(100),
    NAME Varchar(100),
    URL Varchar(200),
    DATECREATED Timestamp )
RETURNS (
    BLOGCOMMENTID Integer )
AS
BEGIN
 BLOGCOMMENTID = NEXT VALUE FOR mp_BlogComments_seq;

INSERT INTO 	MP_BLOGCOMMENTS
(				
                BLOGCOMMENTID,
                MODULEID,
                ITEMID,
                COMMENT,
                TITLE,
                NAME,
                URL,
                DATECREATED
) 
VALUES 
(				
               :BLOGCOMMENTID,
               :MODULEID,
               :ITEMID,
               :COMMENT,
               :TITLE,
               :NAME,
               :URL,
               :DATECREATED
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_BLOGCOMMENTS_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_BLOGITEMCATEGORIES_INSERT (
    ITEMID Integer,
    CATEGORYID Integer )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_BlogItemCategories_seq;

INSERT INTO 	MP_BLOGITEMCATEGORIES
(				
                ID,
                ITEMID,
                CATEGORYID
) 
VALUES 
(				
               :ID,
               :ITEMID,
               :CATEGORYID
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_BLOGITEMCATEGORIES_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_BLOGS_INSERT (
    MODULEID Integer,
    CREATEDBYUSER Varchar(100),
    CREATEDDATE Timestamp,
    TITLE Varchar(100),
    EXCERPT Varchar(512),
    STARTDATE Timestamp,
    ISINNEWSLETTER Smallint,
    DESCRIPTION Blob sub_type 1,
    COMMENTCOUNT Integer,
    TRACKBACKCOUNT Integer,
    INCLUDEINFEED Smallint,
    ALLOWCOMMENTSFORDAYS Integer,
    BLOGGUID Char(36),
    MODULEGUID Char(36),
    LOCATION Blob sub_type 1,
    USERGUID Char(36),
    ITEMURL Varchar(255) )
RETURNS (
    ITEMID Integer )
AS
BEGIN
 ITEMID = NEXT VALUE FOR mp_Blogs_seq;

INSERT INTO 	MP_BLOGS
(				
                ITEMID,
                MODULEID,
                CREATEDBYUSER,
                CREATEDDATE,
                TITLE,
                EXCERPT,
                STARTDATE,
                ISINNEWSLETTER,
                DESCRIPTION,
                COMMENTCOUNT,
                TRACKBACKCOUNT,
                INCLUDEINFEED,
                ALLOWCOMMENTSFORDAYS,
		BLOGGUID,
		MODULEGUID,
		LOCATION,
		USERGUID,
		LASTMODUSERGUID,
                LASTMODUTC,
            ITEMURL
) 
VALUES 
(				
               :ITEMID,
               :MODULEID,
               :CREATEDBYUSER,
               :CREATEDDATE,
               :TITLE,
               :EXCERPT,
               :STARTDATE,
               :ISINNEWSLETTER,
               :DESCRIPTION,
               :COMMENTCOUNT,
               :TRACKBACKCOUNT,
               :INCLUDEINFEED,
               :ALLOWCOMMENTSFORDAYS,
	      :BLOGGUID,
	      :MODULEGUID,
	      :LOCATION,
	      :USERGUID,
	      :USERGUID,
               :CREATEDDATE,
            :ITEMURL
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_BLOGS_INSERT TO SYSDBA;
 
 ALTER TABLE MP_BLOGCOMMENTS ADD CONSTRAINT FK_BLOGCOMMENTS_BLOGS
   FOREIGN KEY (ITEMID) REFERENCES MP_BLOGS (ITEMID);
 CREATE INDEX IDX_BLOGCOMMENTS_ITEMID ON MP_BLOGCOMMENTS (ITEMID);
 GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
  ON MP_BLOGCOMMENTS TO SYSDBA WITH GRANT OPTION;
 
 ALTER TABLE MP_BLOGITEMCATEGORIES ADD CONSTRAINT FK_BLOGITEMCAT_BLOG
   FOREIGN KEY (ITEMID) REFERENCES MP_BLOGS (ITEMID);
 ALTER TABLE MP_BLOGITEMCATEGORIES ADD CONSTRAINT FK_BLOGITEMCAT_BLOGCAT
   FOREIGN KEY (CATEGORYID) REFERENCES MP_BLOGCATEGORIES (CATEGORYID);
 CREATE INDEX IDX_BLOGITEMCAT_CATEGORYID ON MP_BLOGITEMCATEGORIES (CATEGORYID);
 CREATE INDEX IDX_BLOGITEMCAT_ITEMID ON MP_BLOGITEMCATEGORIES (ITEMID);
 GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_BLOGITEMCATEGORIES TO SYSDBA WITH GRANT OPTION;
 
 
 