SET TERM ^ ;
CREATE PROCEDURE MP_BLOGCATEGORIES_INSERT (
    MODULEID Integer,
    CATEGORY Varchar(255) )
RETURNS (
    CATEGORYID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_BLOGCOMMENTS_INSERT (
    MODULEID Integer,
    ITEMID Integer,
    "COMMENT" Blob sub_type 1,
    TITLE Varchar(100),
    NAME Varchar(100),
    URL Varchar(200),
    DATECREATED Timestamp )
RETURNS (
    BLOGCOMMENTID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_BLOGITEMCATEGORIES_INSERT (
    ITEMID Integer,
    CATEGORYID Integer )
RETURNS (
    ID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_BLOGS_INSERT (
    MODULEID Integer,
    CREATEDBYUSER Varchar(100),
    CREATEDDATE Timestamp,
    TITLE Varchar(100),
    EXCERPT Varchar(512),
    STARTDATE Timestamp,
    ISINNEWSLETTER Smallint,
    DESCRIPTION Blob sub_type 1,
    COMMENTCOUNT Integer,
    TRACKBACKCOUNT Integer,
    INCLUDEINFEED Smallint,
    ALLOWCOMMENTSFORDAYS Integer,
    BLOGGUID Char(36),
    MODULEGUID Char(36),
    LOCATION Blob sub_type 1,
    USERGUID Char(36),
    ITEMURL Varchar(255) )
RETURNS (
    ITEMID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^
