ALTER TABLE mp_blogs ADD COLUMN showauthorname boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN showauthoravatar boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN showauthorbio boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN includeinsearch boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN includeinsitemap boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN usebingmap boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN mapheight varchar(10) DEFAULT '300' NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN mapwidth varchar(10) DEFAULT '300' NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN showmapoptions boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN showzoomtool boolean DEFAULT true NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN showlocationinfo boolean DEFAULT false NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN usedrivingdirections boolean DEFAULT false NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN maptype varchar(20) DEFAULT 'G_SATELLITE_MAP' NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN mapzoom integer DEFAULT 13 NOT NULL;
ALTER TABLE mp_blogs ADD COLUMN showdownloadlink boolean DEFAULT false NOT NULL;

UPDATE mp_blogs
SET includeinsitemap = true,
usebingmap = false,
mapheight = '300',
mapwidth = '500',
showmapoptions = true,
showzoomtool = true,
showlocationinfo = false,
usedrivingdirections = false,
maptype = 'G_SATELLITE_MAP',
mapzoom = 13,
showdownloadlink = false
;



