DELETE FROM mp_modulesettings
WHERE settingname = 'ShowPostAuthorSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'ShowPostAuthorSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'ShowAuthorAvatar'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'ShowAuthorAvatar'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'UseBingMap'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'UseBingMap'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapEnableMapTypeSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapEnableMapTypeSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapEnableZoomSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapEnableZoomSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapShowInfoWindowSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapShowInfoWindowSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapEnableDirectionsSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapEnableDirectionsSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'IncludeDownloadLinkForMediaAttachments'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'IncludeDownloadLinkForMediaAttachments'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapInitialZoomSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapInitialZoomSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapHeightSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapHeightSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapWidthSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapWidthSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapInitialMapTypeSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapInitialMapTypeSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_modulesettings
WHERE settingname = 'GoogleMapEnableLocalSearchSetting'
AND moduleid IN (SELECT moduleid FROM mp_modules WHERE featureguid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_moduledefinitionsettings
WHERE settingname = 'GoogleMapEnableLocalSearchSetting'
AND featureguid = '026cbead-2b80-4491-906d-b83e37179ccf';


