<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="4FF93793-1187-4022-899C-C3E9096A855F"
		supportedDatabases="MSSQL,MySQL,SQLite,pgsql"
		resourceFile="SuperFlexiResources"
		featureNameReasourceKey="FeatureName"
		controlSource="SuperFlexi/Module.ascx"
		sortOrder="500"
		isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		isSearchable="true"
		searchListNameResourceKey="SearchName"
		deleteProvider="SuperFlexiDeleteHandler"
		supportsPageReuse="true"
	>
		<!-- #region Definition Settings -->
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="MarkupDefinitionFile"
			groupNameKey="DefinitionSettings"
			defaultValue=""
			controlType="ISettingControl"
			controlSrc="~/SuperFlexi/Controls/MarkupDefinitionSetting.ascx"
			helpKey="sflexi-MarkupDefinitionSetting-help"
			sortOrder="100"
			regexValidationExpression=""
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="MarkupDefinitionContent"
			groupNameKey="DefinitionSettings"
			defaultValue=""
			controlType=""
			helpKey="sflexi-MarkupDefinitionContent-help"
			sortOrder="101"
			regexValidationExpression=""
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="IsGlobalView"
			groupNameKey="DefinitionSettings"
			defaultValue="false"
			controlType="CheckBox"
			helpKey="sflexi-IsGlobalView-help"
			sortOrder="125"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="GlobalViewSortOrder"
			groupNameKey="DefinitionSettings"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="sflexi-GlobalViewSortOrder-help"
			sortOrder="126"
			regexValidationExpression="^[-+]?\d*$"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="ModuleFriendlyName"
			groupNameKey="DefinitionSettings"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="sflexi-ModuleFriendlyName-help"
			sortOrder="130"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="InstanceFeaturedImage"
			groupNameKey="DefinitionSettings"
			defaultValue=""
			controlType="ISettingControl"
			controlSrc="~/SuperFlexi/Controls/FeaturedImageSetting.ascx"
			helpKey="sflexi-InstanceFeaturedImageSetting-help"
			sortOrder="150"
			regexValidationExpression=""
		/>
		<featureSetting
		  resourceFile="SuperFlexiResources"
		  resourceKey="DescendingSortOrder"
		  groupNameKey="DefinitionSettings"
		  defaultValue="false"
		  controlType="CheckBox"
		  helpKey="sflexi-DescendingSortOrder-help"
		  sortOrder="160"
		/>

		<!-- #endregion -->
		<!-- #region Advanced Settings -->
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="ExtraCssClassSetting"
			groupNameKey="AdvancedSettings"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="sflexi-ExtraCssClassSetting-help"
			sortOrder="200"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="MaxItems"
			groupNameKey="AdvancedSettings"
			defaultValue="ALL"
			controlType="TextBox"
			helpKey="sflexi-MaxItems-help"
			sortOrder="205"
			regexValidationExpression="^(?i)(?:ALL)|\d*$"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="CustomizableSettings"
			groupNameKey="AdvancedSettings"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="sflexi-CustomizableSettings-help"
			sortOrder="210"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="IncludeInSearch"
			groupNameKey="AdvancedSettings"
			defaultValue="true"
			controlType="CheckBox"
			helpKey="sflexi-IncludeInSearch-help"
			sortOrder="220"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="PageSize"
			groupNameKey="AdvancedSettings"
			defaultValue="0"
			controlType="TextBox"
			helpKey="sflexi-PageSize-help"
			regexValidationExpression="^[0-9]*$"
			sortOrder="220"
		/>
		<!-- #endregion -->

		<!--<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="ItemCreateRoles"
			groupNameKey="PermissionSettings"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="sflexi-ItemCreateRoles-help"
			sortOrder="300"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="ItemEditRoles"
			groupNameKey="PermissionSettings"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="sflexi-ItemEditRoles-help"
			sortOrder="310"
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="ItemDeleteRoles"
			groupNameKey="PermissionSettings"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="sflexi-ItemDeleteRoles-help"
			sortOrder="320"
		/>-->
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="HeaderContent"
			groupNameKey="DefinitionSettings"
			defaultValue=""
			controlType=""
			controlSrc=""
			helpKey=""
			sortOrder="1"
			regexValidationExpression=""
		/>
		<featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="FooterContent"
			groupNameKey="DefinitionSettings"
			defaultValue=""
			controlType=""
			controlSrc=""
			helpKey=""
			sortOrder="1"
			regexValidationExpression=""
		/>
	</featureDefinition>
</featureDefinitions>
