<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="6CA68D7C-FC2B-41A9-BEF4-32D31543720F"
    supportedDatabases="MSSQL"
		resourceFile="SuperFlexiResources"
		featureNameReasourceKey="FeatureNameResourceLibrary" 
		controlSource="SuperFlexi/Module.ascx"
		sortOrder="500"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="true"
    searchListNameResourceKey="SearchNameResourceLibrary"
    deleteProvider="SuperFlexiDeleteHandler"
    supportsPageReuse="true"
		>
    <featureSetting
      resourceFile="SuperFlexiResources"
      resourceKey="MarkupDefinitionFile"
      defaultValue="~/SuperFlexi/Definitions/Markup/resource-library.config"
      controlType=""
      sortOrder="100"
      regexValidationExpression=""
     />
    <featureSetting
      resourceFile="SuperFlexiResources"
      resourceKey="MarkupDefinitionContent"
      defaultValue=""
      controlType=""
      helpKey="sflexi-MarkupDefinitionContent-help"
      sortOrder="101"
      regexValidationExpression=""
     />
    <featureSetting
      resourceFile="SuperFlexiResources"
      resourceKey="IncludeInSearch"
      defaultValue="true"
      controlType="CheckBox"
      helpKey="sflexi-IncludeInSearch-help"
      sortOrder="115"
        />
    <featureSetting
      resourceFile="SuperFlexiResources"
      resourceKey="IsGlobalView"
      defaultValue="false"
      controlType="CheckBox"
      helpKey="sflexi-IsGlobalView-help"
      sortOrder="125"
        />
    <featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="GlobalViewSortOrder"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="sflexi-GlobalViewSortOrder-help"
      sortOrder="126"
      regexValidationExpression="^[-+]?\d*$"
			/>
    <featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="ModuleFriendlyName"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="sflexi-ModuleFriendlyName-help"
      sortOrder="130"
			/>
   
    <featureSetting
      resourceFile="SuperFlexiResources"
      resourceKey="InstanceFeaturedImage"
      defaultValue=""
      helpKey="sflexi-InstanceFeaturedImageSetting-help"
      sortOrder="150"
      regexValidationExpression=""
     />    
    <featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="HeaderContent"
			defaultValue=""
			controlType=""
      controlSrc=""
      helpKey=""
      sortOrder="1"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="FooterContent"
			defaultValue=""
			controlType=""
      controlSrc=""
      helpKey=""
      sortOrder="1"
			regexValidationExpression=""
			/>
    <featureSetting
      resourceFile="SuperFlexiResources"
      resourceKey="DescendingSortOrder"
      defaultValue="false"
      controlType="CheckBox"
      helpKey="sflexi-DescendingSortOrder-help"
      sortOrder="210"
        />    
    <featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="ExtraCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="sflexi-ExtraCssClassSetting-help"
      sortOrder="900"
			regexValidationExpression="^([\s]?[a-zA-Z]+[_\-a-zA-Z0-9]+)*\z+"
			/>
    <featureSetting
			resourceFile="SuperFlexiResources"
			resourceKey="CustomizableSettings"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="sflexi-CustomizableSettings-help"
      sortOrder="900"
			/>    
	</featureDefinition>
</featureDefinitions>

