<?xml version="1.0" encoding="utf-8" ?>
<PayPalIPNHandlerProviders>
	<providers>

		<add name="WebStorePayPalIPNHandlerProvider"
			 type="WebStore.Helpers.WebStorePayPalIPNHandlerProvider, WebStore.UI"
			 description="WebStorePayPalIPNHandlerProvider" />

		
	</providers>
</PayPalIPNHandlerProviders>