ALTER TABLE mp_Users ADD COLUMN `TotalRevenue` Decimal(15,4);

UPDATE mp_Users SET TotalRevenue =0.0;



CREATE TABLE `mp_CommerceReport` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ModuleTitle` varchar(255) NULL,
 `OrderGuid` varchar(36) NOT NULL,
 `ItemGuid` varchar(36) NOT NULL,
 `ItemName` varchar(255) NULL,
 `Quantity` INTEGER NOT NULL,
 `Price` Decimal(15,4) NOT NULL,
 `SubTotal` Decimal(15,4) NOT NULL,
 `OrderDateUtc` datetime NOT NULL,
 `PaymentMethod` varchar(50) NULL,
 `IPAddress` varchar(250) NULL,
 `AdminOrderLink` varchar(255) NOT NULL,
 `UserOrderLink` varchar(255) NOT NULL,
 `RowCreatedUtc` datetime NOT NULL
);

CREATE INDEX idxCRSiteGuid ON mp_CommerceReport(`SiteGuid`);
CREATE INDEX idxCRUserGuid ON mp_CommerceReport(`UserGuid`);
CREATE INDEX idxCRModuleGuid ON mp_CommerceReport(`ModuleGuid`);
CREATE INDEX idxCRItemGuid ON mp_CommerceReport(`ItemGuid`);
