ALTER TABLE `mp_Sites` ADD COLUMN `DatePickerProvider` VARCHAR(255);
ALTER TABLE `mp_Sites` ADD COLUMN `CaptchaProvider` VARCHAR(255);
ALTER TABLE `mp_Sites` ADD COLUMN `RecaptchaPrivateKey` VARCHAR(255);
ALTER TABLE `mp_Sites` ADD COLUMN `RecaptchaPublicKey` VARCHAR(255);
ALTER TABLE `mp_Sites` ADD COLUMN `WordpressAPIKey` VARCHAR(255);
ALTER TABLE `mp_Sites` ADD COLUMN `WindowsLiveAppID` VARCHAR(255);
ALTER TABLE `mp_Sites` ADD COLUMN `WindowsLiveKey` VARCHAR(255);

ALTER TABLE `mp_Sites` ADD COLUMN `AllowOpenIDAuth` INTEGER default '0';
ALTER TABLE `mp_Sites` ADD COLUMN `AllowWindowsLiveAuth` INTEGER default '0';

ALTER TABLE `mp_Users` ADD COLUMN `OpenIDURI` VARCHAR(255);
ALTER TABLE `mp_Users` ADD COLUMN `WindowsLiveID` VARCHAR(36);

