ALTER TABLE mp_GoogleCheckoutLog ADD COLUMN ProviderName VARCHAR(255);
ALTER TABLE mp_PayPalLog ADD COLUMN ProviderName VARCHAR(255);
ALTER TABLE mp_PayPalLog ADD COLUMN ReturnUrl VARCHAR(255);

ALTER TABLE mp_PayPalLog ADD COLUMN SerializedObject text;

CREATE TABLE `mp_TaxClass` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NOT NULL,
 `Description` text NOT NULL,
 `LastModified` datetime NULL,
 `Created` datetime NOT NULL
);

CREATE TABLE `mp_TaxRate` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `GeoZoneGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NOT NULL,
 `Priority` INTEGER NOT NULL,
 `Rate` Decimal NOT NULL,
 `Description` varchar(255) NOT NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModified` datetime NULL,
 `ModifiedBy` varchar(36) NULL
);

CREATE TABLE `mp_TaxRateHistory` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `TaxRateGuid` varchar(36) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `GeoZoneGuid` varchar(36) NOT NULL,
 `TaxClassGuid` varchar(36) NOT NULL,
 `Priority` INTEGER NOT NULL,
 `Rate` Decimal NOT NULL,
 `Description` varchar(255) NULL,
 `Created` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModified` datetime NULL,
 `ModifiedBy` varchar(36) NULL,
 `LogTime` datetime NOT NULL
);

