CREATE TABLE `mp_LetterInfo` (
 `LetterInfoGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NOT NULL,
 `Description` text NOT NULL,
 `AvailableToRoles` text NOT NULL,
 `Enabled` INTEGER NOT NULL,
 `AllowUserFeedback` INTEGER NOT NULL,
 `AllowAnonFeedback` INTEGER NOT NULL,
 `FromAddress` varchar(255) NOT NULL,
 `FromName` varchar(255) NOT NULL,
 `ReplyToAddress` varchar(255) NOT NULL,
 `SendMode` INTEGER NOT NULL,
 `EnableViewAsWebPage` INTEGER NOT NULL,
 `EnableSendLog` INTEGER NOT NULL,
 `RolesThatCanEdit` text NOT NULL,
 `RolesThatCanApprove` text NOT NULL,
 `RolesThatCanSend` text NOT NULL,
 `SubscriberCount` INTEGER NOT NULL,
 `CreatedUTC` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUTC` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL
);

CREATE TABLE `mp_Letter` (
 `LetterGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `LetterInfoGuid` varchar(36) NOT NULL,
 `Subject` varchar(255) NOT NULL,
 `HtmlBody` text NOT NULL,
 `TextBody` text NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedUTC` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
 `LastModUTC` datetime NOT NULL,
 `IsApproved` INTEGER NOT NULL,
 `ApprovedBy` varchar(36) NOT NULL,
 `SendClickedUTC` datetime NULL,
 `SendStartedUTC` datetime NULL,
 `SendCompleteUTC` datetime NULL,
 `SendCount` INTEGER NOT NULL
);

CREATE TABLE `mp_LetterHtmlTemplate` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NOT NULL,
 `Html` text NOT NULL,
 `LastModUTC` datetime NOT NULL
);

CREATE TABLE `mp_LetterSendLog` (
 `RowID` INTEGER NOT NULL PRIMARY KEY, 
 `LetterGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `EmailAddress` varchar(100) NULL,
 `UTC` datetime NOT NULL,
 `ErrorOccurred` INTEGER NOT NULL,
 `ErrorMessage` text NULL
);

CREATE TABLE `mp_LetterSubscriber` ( 
 `LetterInfoGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `UseHtml` INTEGER NOT NULL,
 `BeginUTC` datetime NOT NULL,
 PRIMARY KEY(`LetterInfoGuid`,`UserGuid`)
);

CREATE TABLE `mp_LetterSubscriberHx` (
 `RowID` INTEGER NOT NULL PRIMARY KEY, 
 `LetterInfoGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `UseHtml` INTEGER NOT NULL,
 `BeginUTC` datetime NOT NULL,
 `EndUTC` datetime NOT NULL
);


