CREATE TABLE `mp_RedirectList` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `SiteID` INTEGER NOT NULL,
 `OldUrl` varchar(255) NOT NULL,
 `NewUrl` varchar(255) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `ExpireUtc` datetime NOT NULL
);

CREATE TABLE `mp_ContentRating` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `EmailAddress` varchar(100) NULL,
 `Rating` INTEGER NOT NULL,
 `Comments` text NULL,
 `IpAddress` varchar(50) NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL
);

CREATE INDEX idxRedirectSGuid ON mp_RedirectList(`SiteGuid`);
CREATE INDEX idxRedirectSId ON mp_RedirectList(`SiteID`);
CREATE INDEX idxRedirectUrl ON mp_RedirectList(`OldUrl`);

CREATE INDEX idxContentRatingG ON mp_ContentRating(`ContentGuid`);
CREATE INDEX idxContentRatingU ON mp_ContentRating(`UserGuid`);
CREATE INDEX idxContentRatingS ON mp_ContentRating(`SiteGuid`);
CREATE INDEX idxContentRatingI ON mp_ContentRating(`IpAddress`);

CREATE INDEX idxModuleGuid ON mp_RssFeedEntries(`ModuleGuid`);
CREATE INDEX idxFeedId ON mp_RssFeedEntries(`FeedId`);
CREATE INDEX idxEntryHash ON mp_RssFeedEntries(`EntryHash`);

