CREATE TABLE `mp_ContentHistory` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NULL,
 `ContentText` text NOT NULL,
 `CustomData` text NULL,
 `CreatedUtc` datetime NOT NULL,
 `HistoryUtc` datetime NOT NULL
);


CREATE INDEX idxCHSiteGuid ON mp_ContentHistory(`SiteGuid`);
CREATE INDEX idxCHContentGuid ON mp_ContentHistory(`ContentGuid`);
CREATE INDEX idxCHUserGuid ON mp_ContentHistory(`UserGuid`);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('ForceContentVersioning','false','Tracking', 100);
