CREATE INDEX IXmpModuleDefSetDefId ON mp_ModuleDefinitionSettings(`ModuleDefID`);
CREATE INDEX IXmpModuleDefSetSetName ON mp_ModuleDefinitionSettings(`SettingName`);

CREATE INDEX IXmpModuleSetModId ON mp_ModuleSettings(`ModuleID`);
CREATE INDEX IXmpModuleSetSetName ON mp_ModuleSettings(`SettingName`);
