INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('DefaultRootPageViewRoles','All Users','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('DefaultRootPageEditRoles','','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('DefaultRootPageCreateChildPageRoles','','Settings', 100);

