CREATE TABLE `mp_PaymentLog` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `CreatedUtc` datetime NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `StoreGuid` varchar(36) NOT NULL,
 `CartGuid` varchar(36) NOT NULL,
 `Provider` varchar(100) NULL,
 `RawResponse` text NULL,
 `ResponseCode` NChar NULL,
 `ResponseReasonCode` varchar(20) NULL,
 `Reason` text NULL,
 `AvsCode` varchar(50) NULL,
 `CcvCode` NChar NULL,
 `CavCode` NChar NULL,
 `TransactionId` varchar(50) NULL,
 `TransactionType` varchar(50) NULL,
 `Method` varchar(20) NULL,
 `AuthCode` varchar(50) NULL,
 `Amount` Decimal NULL,
 `Tax` Decimal NULL,
 `Duty` Decimal NULL,
 `Freight` Decimal NULL
);


INSERT INTO 	mp_PaymentLog
(
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				Provider,
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight
) 

SELECT
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				'Authorize.NET',
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight

FROM
		mp_AuthorizeNetLog;


INSERT INTO 	mp_PaymentLog
(
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				Provider,
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight
) 

SELECT
				RowGuid,
				CreatedUtc,
				SiteGuid,
				UserGuid,
				StoreGuid,
				CartGuid,
				'Plug.N.Pay',
				RawResponse,
				ResponseCode,
				ResponseReasonCode,
				Reason,
				AvsCode,
				CcvCode,
				CavCode,
				TransactionId,
				TransactionType,
				Method,
				AuthCode,
				Amount,
				Tax,
				Duty,
				Freight

FROM
		mp_PlugNPayLog;
