INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('CommentProvider','intensedebate','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('IntenseDebateAccountId','','APIKeys', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('DisqusSiteShortName','','APIKeys', 100);

ALTER TABLE `mp_Users` ADD COLUMN `Pwd` varchar(1000);
ALTER TABLE `mp_Users` ADD COLUMN `MustChangePwd` INTEGER;
ALTER TABLE `mp_Pages` ADD COLUMN `EnableComments` INTEGER;

UPDATE mp_Pages 
SET EnableComments = 0;

UPDATE mp_Users 
SET MustChangePwd = 0, Pwd = Password;


