INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('DefaultFromEmailAlias','','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('RegistrationPreamble','','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('RolesThatCanFullyManageUsers','','Settings', 100);

ALTER TABLE `mp_Pages` ADD COLUMN `BodyCssClass` varchar(50);
ALTER TABLE `mp_Pages` ADD COLUMN `MenuCssClass` varchar(50);

