INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SkinVersion','00000000-0000-0000-0000-000000000000','Settings', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('RolesThatCanAssignSkinsToPages','','Settings', 100);


CREATE TABLE `mp_Tag` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Tag` varchar(255) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `ModifiedUtc` datetime NOT NULL,
 `ModifiedBy` varchar(36) NOT NULL,
 `ItemCount` INTEGER NOT NULL
);

CREATE TABLE `mp_TagItem` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ItemGuid` varchar(36) NOT NULL,
 `TagGuid` varchar(36) NOT NULL,
 `ExtraGuid` varchar(36) NOT NULL,
 `TaggedBy` varchar(36) NOT NULL
);

CREATE TABLE `mp_Category` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `ParentGuid` varchar(36) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Category` varchar(255) NOT NULL,
 `Description` varchar(-1) NULL,
 `ItemCount` INTEGER NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `ModifiedUtc` datetime NOT NULL,
 `ModifiedBy` varchar(36) NOT NULL
);
	
CREATE TABLE `mp_CategoryItem` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ItemGuid` varchar(36) NOT NULL,
 `CategoryGuid` varchar(36) NOT NULL,
 `ExtraGuid` varchar(36) NOT NULL
);

CREATE INDEX IXTagSiteGuid ON mp_Tag(`SiteGuid`);
CREATE INDEX IXTagFeatureGuid ON mp_Tag(`FeatureGuid`);
CREATE INDEX IXTagModuleGuid ON mp_Tag(`ModuleGuid`);


CREATE INDEX IXTagItemItemGuid ON mp_TagItem(`ItemGuid`);
CREATE INDEX IXTagItemModuleGuid ON mp_TagItem(`ModuleGuid`);
CREATE INDEX IXTagItemSiteGuid ON mp_TagItem(`SiteGuid`);
CREATE INDEX IXTagItemFeatureGuid ON mp_TagItem(`FeatureGuid`);
CREATE INDEX IXTagItemTagGuid ON mp_TagItem(`TagGuid`);
CREATE INDEX IXTagItemExtraGuid ON mp_TagItem(`ExtraGuid`);

CREATE INDEX IXCategorySiteGuid ON mp_Category(`SiteGuid`);
CREATE INDEX IXCategoryFeatureGuid ON mp_Category(`FeatureGuid`);
CREATE INDEX IXTCategoryModuleGuid ON mp_Category(`ModuleGuid`);

CREATE INDEX IXCatItemItemGuid ON mp_CategoryItem(`ItemGuid`);
CREATE INDEX IXCatItemModuleGuid ON mp_CategoryItem(`ModuleGuid`);
CREATE INDEX IXCatItemSiteGuid ON mp_CategoryItem(`SiteGuid`);
CREATE INDEX IXCatItemFeatureGuid ON mp_CategoryItem(`FeatureGuid`);
CREATE INDEX IXCatItemCatGuid ON mp_CategoryItem(`CategoryGuid`);
CREATE INDEX IXCatItemExtraGuid ON mp_CategoryItem(`ExtraGuid`);

CREATE INDEX IXpmpanename ON mp_PageModules(`PaneName`);
CREATE INDEX IXpagesname ON mp_Pages(`PageName`);
