CREATE TABLE `mp_Comments` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `ParentGuid` varchar(36) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NULL,
 `UserComment` varchar(-1) NOT NULL,
 `UserName` varchar(50) NOT NULL,
 `UserEmail` varchar(100) NOT NULL,
 `UserUrl` varchar(255) NULL,
 `UserIp` varchar(50) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `ModerationStatus` TinyInt NOT NULL,
 `ModeratedBy` varchar(36) NOT NULL,
 `ModerationReason` varchar(255) NULL
);

CREATE INDEX IXCommentSiteGuid ON mp_Comments(`SiteGuid`);
CREATE INDEX IXCommentFeatureGuid ON mp_Comments(`FeatureGuid`);
CREATE INDEX IXCommentModuleGuid ON mp_Comments(`ModuleGuid`);
CREATE INDEX IXCommentComment ON mp_Comments(`ContentGuid`);
