DROP TABLE mp_LetterSubscriber;
DROP TABLE mp_LetterSubscriberHx;


ALTER TABLE `mp_Pages` ADD COLUMN `CanonicalOverride` varchar(255);
ALTER TABLE `mp_Pages` ADD COLUMN `IncludeInSearchMap` int;
ALTER TABLE `mp_Sites` ADD COLUMN `DisableDbAuth` int;

UPDATE mp_Pages
SET IncludeInSearchMap = 1;

UPDATE mp_Sites
SET DisableDbAuth = 0;

