INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('MobileSkin','','Settings', 100);

ALTER TABLE `mp_Pages` ADD COLUMN `PublishMode` INTEGER;

UPDATE mp_Pages
SET PublishMode = 0;

ALTER TABLE `mp_Modules` ADD COLUMN `PublishMode` INTEGER;

UPDATE mp_Modules
SET PublishMode = 0;
