INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('OpenSearchName','','Search', 100);

ALTER TABLE `mp_ModuleDefinitions` ADD COLUMN `SupportsPageReuse` INTEGER;
ALTER TABLE `mp_ModuleDefinitions` ADD COLUMN `DeleteProvider` varchar(255);

UPDATE mp_ModuleDefinitions 
SET SupportsPageReuse = 1;

