INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) VALUES('RpxNowApiKey','','Authentication', 100);INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) VALUES('RpxNowApplicationName','','Authentication', 100);INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) VALUES('RpxNowAdminUrl','','Authentication', 100);