ALTER TABLE `mp_LetterSubscribe` ADD COLUMN `IpAddress` varchar(100);
ALTER TABLE `mp_LetterSubscribeHx` ADD COLUMN `IpAddress` varchar(100);
ALTER TABLE `mp_LetterInfo` ADD COLUMN `UnVerifiedCount` INTEGER;

UPDATE mp_LetterInfo
SET UnVerifiedCount = (SELECT COUNT(*) FROM mp_LetterSubscribe WHERE mp_LetterSubscribe.IsVerified = 0 AND mp_LetterSubscribe.LetterInfoGuid = mp_LetterInfo.LetterInfoGuid);

CREATE INDEX idxuserssiteid ON mp_Users(`SiteID`);
CREATE INDEX idxusersreguid ON mp_Users(`RegisterConfirmGuid`);
CREATE INDEX idxletsubipad ON mp_LetterSubscribe(`IpAddress`);
