
ALTER TABLE `mp_ModuleDefinitions` ADD COLUMN `IsCacheable` INTEGER;
ALTER TABLE `mp_ModuleDefinitions` ADD COLUMN `IsSearchable` INTEGER;
ALTER TABLE `mp_ModuleDefinitions` ADD COLUMN `SearchListName` varchar(255);

UPDATE mp_ModuleDefinitions 
SET SearchListName = FeatureName, IsCacheable = 0, IsSearchable = 0;

