CREATE TABLE `mp_SystemLog` (
 `ID` INTEGER NOT NULL PRIMARY KEY, 
 `LogDate` datetime NOT NULL,
 `IpAddress` varchar(50) NULL,
 `Culture` varchar(10) NULL,
 `Url` varchar(-1) NULL,
 `ShortUrl` varchar(255) NULL,
 `Thread` varchar(255) NOT NULL,
 `LogLevel` varchar(20) NOT NULL,
 `Logger` varchar(255) NOT NULL,
 `Message` varchar(-1) NOT NULL
);

CREATE INDEX idxSysLogLogDate ON mp_SystemLog(`LogDate`);
CREATE INDEX idxSysLogLogLevel ON mp_SystemLog(`LogLevel`);
CREATE INDEX idxSysLogShortUrl ON mp_SystemLog(`ShortUrl`);