/********************************************************************
Insert SiteSettingsExDef Captcha Options
********************************************************************/
INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES
('CaptchaReCaptchaHCaptcha', 'recaptcha', 'admin', 700),
('CaptchaVerifyUrl', 'https://www.google.com/recaptcha/api/siteverify', 'admin', 700),
('CaptchaClientScriptUrl', 'https://www.google.com/recaptcha/api.js', 'admin', 700),
('CaptchaTheme', 'light', 'admin', 700),
('CaptchaParam', 'g-recaptcha', 'admin', 700),
('CaptchaResponseField', 'g-recaptcha-response', 'admin', 700);

/********************************************************************
END Insert SiteSettingsExDef Captcha Options
********************************************************************/
