/********************************************************************
Insert SiteSettingsExDef Captcha Options
********************************************************************/


INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES ("CaptchaReCaptchaHCaptcha", "recaptcha" , "admin" , 700);

INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES ("CaptchaVerifyUrl" , "https://www.google.com/recaptcha/api/siteverify", "admin", 700);

INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES ("CaptchaClientScriptUrl", "https://www.google.com/recaptcha/api.js", "admin", 700);

INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES ("CaptchaTheme", "light", "admin", 700);

INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES ("CaptchaParam", "g-recaptcha", "admin", 700);

INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES ("CaptchaResponseField", "g-recaptcha-response", "admin", 700);


/********************************************************************
END Insert SiteSettingsExDef Captcha Options
********************************************************************/