/****** BEGIN adding description to roles ******/
/*SQLite version 3.4.0*/

ALTER TABLE mp_Roles
ADD COLUMN Description nvarchar(255);

UPDATE mp_Roles
SET Description = ''
WHERE Description IS NULL;

/* END add role Descriptions */
/*must unselect in VS tools menu under options>Projects>web projects> use 64bit version of IIS*/  