 -- Indexes and Statistics for HtmlContent table.
CREATE INDEX IX_ModuleID_BeginDate_EndDate_LastModUserGuid_UserGuid ON mp_HtmlContent
(
	ModuleID ASC,
	BeginDate ASC,
	EndDate ASC,
	LastModUserGuid ASC,
	UserGuid ASC
);

 -- Indexes and Statistics for ModuleDefinitionSettings table.
CREATE INDEX IX_ModuleDefID_ID ON mp_ModuleDefinitionSettings
(
	ModuleDefID ASC,
	ID ASC
);

 -- Indexes and Statistics for ModuleSettings table.
CREATE INDEX IX_ModuleID_SettingName ON mp_ModuleSettings
(
	ModuleID ASC,
	SettingName ASC
);
