
CREATE INDEX idxCartSGuid ON ws_Cart(`StoreGuid`);
CREATE INDEX idxCartUGuid ON ws_Cart(`UserGuid`);
CREATE INDEX idxCartIP ON ws_Cart(`CreatedFromIP`);

CREATE INDEX idxOrderUGuid ON ws_Order(`UserGuid`);

ALTER TABLE ws_Cart DROP COLUMN `CurrencyGuid`;
ALTER TABLE ws_Cart DROP COLUMN `CurrencyValue`;

ALTER TABLE ws_Offer ADD COLUMN `ProductListName` VARCHAR(255);
ALTER TABLE ws_Offer ADD COLUMN `ShowDetailLink` tinyint(1) unsigned;

UPDATE ws_Offer
SET ShowDetailLink = 1;



