CREATE TABLE `ws_Discount` (
 `DiscountGuid` varchar(36) NOT NULL, 
 `DiscountCode` VarChar(255) NOT NULL,
 `Description` VarChar(255) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `StoreGuid` varchar(36) NOT NULL,
 `OfferGuid` varchar(36) NOT NULL,
 `ValidityStartDate` datetime NOT NULL,
 `ValidityEndDate` datetime NULL,
 `UseCount` int(11) NOT NULL,
 `MaxCount` int(11) NOT NULL,
 `MinOrderAmount` Decimal(15,4) NOT NULL,
 `AbsoluteDiscount` Decimal(15,4) NOT NULL,
 `PercentageDiscount` Decimal(15,4) NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
 `LastModUtc` datetime NOT NULL,
PRIMARY KEY (`DiscountGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX idxWSDSiteGuid ON ws_Discount(`SiteGuid`);
CREATE INDEX idxWSDModuleGuid ON ws_Discount(`ModuleGuid`);
CREATE INDEX idxWSDDCode ON ws_Discount(`DiscountCode`);

ALTER TABLE ws_Discount ADD UNIQUE (`ModuleGuid`, `DiscountCode`);



