ALTER TABLE ws_Store DROP COLUMN `DefaultCountry`;
ALTER TABLE ws_Store DROP COLUMN `ShowCategoryCounts`;
ALTER TABLE ws_Store DROP COLUMN `StoreConfigRoles`;
ALTER TABLE ws_Store DROP COLUMN `ProductEditRoles`;
ALTER TABLE ws_Store DROP COLUMN `OfferEditRoles`;
ALTER TABLE ws_Store DROP COLUMN `TaxEditRoles`;

