ALTER TABLE ws_Cart ADD COLUMN `CustomData` text;
ALTER TABLE ws_Cart ADD COLUMN `DiscountCodesCsv` text;
ALTER TABLE ws_Cart ADD COLUMN `Discount` decimal(15,4);

ALTER TABLE ws_Order ADD COLUMN `CustomData` text;
ALTER TABLE ws_Order ADD COLUMN `DiscountCodesCsv` text;
ALTER TABLE ws_Order ADD COLUMN `Discount` decimal(15,4);



UPDATE ws_Cart SET Discount = 0;
UPDATE ws_Order SET Discount = 0;


