ALTER TABLE ws_Cart ADD COLUMN `ClerkGuid` varchar(36);
ALTER TABLE ws_Order ADD COLUMN `ClerkGuid` varchar(36);

UPDATE ws_Cart
SET ClerkGuid = '00000000-0000-0000-0000-000000000000';

UPDATE ws_Order
SET ClerkGuid = '00000000-0000-0000-0000-000000000000';

CREATE INDEX idxwsCartClerkGuid ON ws_Cart(`ClerkGuid`);
CREATE INDEX idxwsOrderClerkGuid ON ws_Order(`ClerkGuid`);

