CREATE TABLE `ws_CartOffersalt` (
  `ItemGuid` varchar(36) NOT NULL,
  `CartGuid` varchar(36) NOT NULL,
  `OfferGuid` varchar(36) NOT NULL,
  `PriceGuid` varchar(36) NOT NULL,
  `CurrencyGuid` varchar(36) NOT NULL,
  `TaxClassGuid` varchar(36) default NULL,
  `OfferPrice` decimal(15,4) NOT NULL,
  `AddedToCart` datetime NOT NULL,
  `Quantity` int(11) NOT NULL,
  PRIMARY KEY  (`ItemGuid`),
  KEY `FK_CartOffersalt_cart` (`CartGuid`),
  KEY `FK_CartOffersalt_offer` (`OfferGuid`),
  CONSTRAINT `FK_CartOffersalt_cart` FOREIGN KEY (`CartGuid`) REFERENCES `ws_Cart` (`CartGuid`),
  CONSTRAINT `FK_CartOffersalt_offer` FOREIGN KEY (`OfferGuid`) REFERENCES `ws_Offer` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_CartOffersalt SELECT * FROM ws_CartOffers; 

DROP TABLE ws_CartOffers;

RENAME TABLE ws_CartOffersalt TO ws_CartOffers;


CREATE TABLE `ws_OrderOffersalt` (
  `ItemGuid` varchar(36) NOT NULL,
  `OrderGuid` varchar(36) NOT NULL,
  `OfferGuid` varchar(36) NOT NULL,
  `PriceGuid` varchar(36) NOT NULL,
  `CurrencyGuid` varchar(36) NOT NULL,
  `TaxClassGuid` varchar(36) NOT NULL,
  `OfferPrice` decimal(10,0) NOT NULL,
  `AddedToCart` datetime NOT NULL,
  `Quantity` int(11) NOT NULL,
  PRIMARY KEY  (`ItemGuid`),
  KEY `FK_OrderOffersalt_offer` (`OfferGuid`),
  KEY `FK_OrderOffersalt_order` (`OrderGuid`),
  CONSTRAINT `FK_OrderOffersalt_offer` FOREIGN KEY (`OfferGuid`) REFERENCES `ws_Offer` (`Guid`),
  CONSTRAINT `FK_OrderOffersalt_order` FOREIGN KEY (`OrderGuid`) REFERENCES `ws_Order` (`OrderGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_OrderOffersalt SELECT * FROM ws_OrderOffers; 

DROP TABLE ws_OrderOffers;

RENAME TABLE ws_OrderOffersalt TO ws_OrderOffers;



CREATE TABLE `ws_OfferPricealt` (
  `Guid` varchar(36) NOT NULL,
  `OfferGuid` varchar(36) NOT NULL,
  `CurrencyGuid` varchar(36) NOT NULL,
  `Price` decimal(15,4) NOT NULL,
  `Created` datetime NOT NULL,
  `CreatedBy` varchar(36) NOT NULL,
  `CreatedFromIP` varchar(255) default NULL,
  `LastModifed` datetime default NULL,
  `LastModifiedBy` varchar(36) NOT NULL,
  `ModifiedFromIP` varchar(255) default NULL,
  PRIMARY KEY  (`Guid`),
  KEY `FK_OfferPricealt_offer` (`OfferGuid`),
  CONSTRAINT `FK_OfferPricealt_offer` FOREIGN KEY (`OfferGuid`) REFERENCES `ws_Offer` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_OfferPricealt SELECT * FROM ws_OfferPrice; 

DROP TABLE ws_OfferPrice;

RENAME TABLE ws_OfferPricealt TO ws_OfferPrice;



CREATE TABLE `ws_CategoryDescriptionalt` (
  `CategoryGuid` varchar(36) NOT NULL,
  `LanguageGuid` varchar(36) NOT NULL,
  `Name` varchar(255) NOT NULL,
  PRIMARY KEY  (`CategoryGuid`,`LanguageGuid`),
  KEY `FK_CategoryDescriptionalt_category` (`CategoryGuid`),
  CONSTRAINT `FK_CategoryDescriptionalt_category` FOREIGN KEY (`CategoryGuid`) REFERENCES `ws_Category` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_CategoryDescriptionalt SELECT * FROM ws_CategoryDescription; 

DROP TABLE ws_CategoryDescription;

RENAME TABLE ws_CategoryDescriptionalt TO ws_CategoryDescription;


CREATE TABLE `ws_FullfillDownloadTermsDescalt` (
  `TermsGuid` varchar(36) NOT NULL,
  `LanguageGuid` varchar(36) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Description` text NOT NULL,
  PRIMARY KEY  (`TermsGuid`,`LanguageGuid`),
  CONSTRAINT `FK_FullfillDownloadTermsDescalt_fullfilldownloadterms` FOREIGN KEY (`TermsGuid`) REFERENCES `ws_FullfillDownloadTerms` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_FullfillDownloadTermsDescalt SELECT * FROM ws_FullfillDownloadTermsDesc; 

DROP TABLE ws_FullfillDownloadTermsDesc;

RENAME TABLE ws_FullfillDownloadTermsDescalt TO ws_FullfillDownloadTermsDesc;



CREATE TABLE `ws_OfferDescriptionalt` (
  `OfferGuid` varchar(36) NOT NULL,
  `LanguageGuid` varchar(36) NOT NULL,
  `ShortDescription` varchar(255) NOT NULL,
  `LongDescription` text,
  PRIMARY KEY  (`OfferGuid`,`LanguageGuid`),
  KEY `FK_OfferDescription_offer` (`OfferGuid`),
  CONSTRAINT `FK_OfferDescriptionalt_offer` FOREIGN KEY (`OfferGuid`) REFERENCES `ws_Offer` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_OfferDescriptionalt SELECT * FROM ws_OfferDescription; 

DROP TABLE ws_OfferDescription;

RENAME TABLE ws_OfferDescriptionalt TO ws_OfferDescription;




CREATE TABLE `ws_OrderStatusDescriptionalt` (
  `StatusGuid` varchar(36) NOT NULL,
  `LanguageGuid` varchar(36) NOT NULL,
  `Description` varchar(255) default NULL,
  PRIMARY KEY  (`StatusGuid`,`LanguageGuid`),
  KEY `FK_OrderStatusDescriptionalt_orderstatus` (`StatusGuid`),
  CONSTRAINT `FK_OrderStatusDescriptionalt_orderstatus` FOREIGN KEY (`StatusGuid`) REFERENCES `ws_OrderStatus` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_OrderStatusDescriptionalt SELECT * FROM ws_OrderStatusDescription; 

DROP TABLE ws_OrderStatusDescription;

RENAME TABLE ws_OrderStatusDescriptionalt TO ws_OrderStatusDescription;

CREATE TABLE `ws_ProductDescriptionalt` (
  `ProductGuid` varchar(36) NOT NULL,
  `LanguageGuid` varchar(36) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Description` text,
  PRIMARY KEY  (`ProductGuid`,`LanguageGuid`),
  KEY `FK_ProductDescriptionalt_product` (`ProductGuid`),
  CONSTRAINT `FK_ProductDescriptionalt_product` FOREIGN KEY (`ProductGuid`) REFERENCES `ws_Product` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_ProductDescriptionalt SELECT * FROM ws_ProductDescription; 

DROP TABLE ws_ProductDescription;

RENAME TABLE ws_ProductDescriptionalt TO ws_ProductDescription;

CREATE TABLE `ws_StoreLanguagealt` (
  `StoreGuid` varchar(36) NOT NULL,
  `LanguageGuid` varchar(36) NOT NULL,
  PRIMARY KEY  (`StoreGuid`,`LanguageGuid`),
  KEY `FK_StoreLanguagealt_store` (`StoreGuid`),
  CONSTRAINT `FK_StoreLanguagealt_store` FOREIGN KEY (`StoreGuid`) REFERENCES `ws_Store` (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT ws_StoreLanguagealt SELECT * FROM ws_StoreLanguage; 

DROP TABLE ws_StoreLanguage;

RENAME TABLE ws_StoreLanguagealt TO ws_StoreLanguage;




DROP TABLE ws_TaxRateHistory;

DROP TABLE ws_TaxRate;

DROP TABLE ws_TaxClass;

DROP TABLE ws_PayPalLog;

DROP TABLE ws_Language;

DROP TABLE ws_GoogleCheckoutLog;

DROP TABLE ws_GeoZone;

DROP TABLE ws_GeoCountry;

DROP TABLE ws_Currency;

DROP TABLE ws_AuthorizeNetLog;

