CREATE TABLE `mp_SharedFileFolders` (
  `FolderID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `FolderName` varchar(255) NOT NULL default '',
  `ParentID` int(11) NOT NULL default '0',
  `FolderGuid` varchar(36) default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `ParentGuid` varchar(36) default NULL,
  PRIMARY KEY  (`FolderID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_SharedFiles` (
  `ItemID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `UploadUserID` int(11) NOT NULL default '0',
  `FriendlyName` varchar(255) NOT NULL default '',
  `ServerFileName` varchar(50) NOT NULL default '',
  `OriginalFileName` varchar(255) default NULL,
  `FileExtension` varchar(20) default NULL,
  `SizeInKB` int(11) NOT NULL default '0',
  `UploadDate` datetime default NULL,
  `FolderID` int(11) NOT NULL default '0',
  `ItemGuid` varchar(36) default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `UserGuid` varchar(36) default NULL,
  `FolderGuid` varchar(36) default NULL,
  `FileBlob` blob,
  PRIMARY KEY  (`ItemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_SharedFilesHistory` (
  `ID` int(11) NOT NULL auto_increment,
  `ItemID` int(11) NOT NULL default '0',
  `ModuleID` int(11) NOT NULL default '0',
  `FriendlyName` varchar(255) NOT NULL default '',
  `ServerFileName` varchar(50) NOT NULL default '',
  `SizeInKB` int(11) NOT NULL default '0',
  `UploadDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `ArchiveDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `OriginalFileName` varchar(255) default NULL,
  `UploadUserID` int(10) unsigned zerofill NOT NULL default '0000000000',
  `ItemGuid` varchar(36) default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `UserGuid` varchar(36) default NULL,
  PRIMARY KEY  (`ID`),
  KEY `FK_mp_SharedFilesHistoryFile` (`ItemID`),
  CONSTRAINT `FK_mp_SharedFilesHistoryFile` FOREIGN KEY (`ItemID`) REFERENCES `mp_SharedFiles` (`ItemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

