<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="0d0d0518-bfb6-480c-b34f-4d8c8e947f7c"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="PollResources"
		featureNameReasourceKey="PollFeatureName" 
		controlSource="Poll/PollModule.ascx"
		sortOrder="500"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    deleteProvider="PollContentDeleteHandler"
    supportsPageReuse="true"
		>
		<featureSetting
			resourceFile="PollResources"
			resourceKey="PollShowMyPollHistoryButtonSetting"
			defaultValue="false"
			controlType="CheckBox"
			regexValidationExpression=""
      sortOrder="300"
			/>
    <featureSetting
			resourceFile="PollResources"
			resourceKey="ResultBarColor"
			defaultValue="#3082af"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="PollResources"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="500"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
	</featureDefinition>
</featureDefinitions>

