DELETE FROM mp_ModuleSettings
WHERE SettingName = 'ShowPostAuthorSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'ShowPostAuthorSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'ShowAuthorAvatar'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'ShowAuthorAvatar'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'UseBingMap'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'UseBingMap'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapEnableMapTypeSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapEnableMapTypeSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapEnableZoomSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapEnableZoomSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapShowInfoWindowSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapShowInfoWindowSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapEnableDirectionsSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapEnableDirectionsSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'IncludeDownloadLinkForMediaAttachments'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'IncludeDownloadLinkForMediaAttachments'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapInitialZoomSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapInitialZoomSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapHeightSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapHeightSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapWidthSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapWidthSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapInitialMapTypeSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapInitialMapTypeSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'GoogleMapEnableLocalSearchSetting'
AND ModuleID IN (SELECT ModuleID FROM mp_Modules WHERE FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf');

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'GoogleMapEnableLocalSearchSetting'
AND FeatureGuid = '026cbead-2b80-4491-906d-b83e37179ccf';
