<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>
		<add name="SuperFlexiIndexBuilderProvider"
			 type="SuperFlexiUI.SuperFlexiIndexBuilderProvider, SuperFlexiUI"
			 description="An IndexBuilder to index SuperFlexi module content for Lucene.NET Search Engine" />
	</providers>
</IndexBuilderProviders>