<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
<!-- commented out 2014-07-13 doesn't work anymore and vertigo slideshow has not been updated in 5 years -->
<!--
	<featureDefinition
		featureGuid="6e2c97e2-31f5-47a6-9611-c129b8cca554"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlAzure,SqlCe"
		resourceFile="FlickrResources"
		featureNameReasourceKey="FeatureName" 
		controlSource="Flickr/FlickrSlideShowModule.ascx"
		sortOrder="560"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="false"
    supportsPageReuse="true"
		>
    <featureSetting
          resourceFile="FlickrResources"
          resourceKey="FlickrUserName"
          defaultValue=""
          controlType="TextBox"
          controlSrc=""
          helpKey="flickr-username-help"
          sortOrder="100"
          regexValidationExpression=""
			/>

    <featureSetting
          resourceFile="FlickrResources"
          resourceKey="FlickrApiKey"
          defaultValue=""
          controlType="TextBox"
          controlSrc=""
          helpKey="flickr-apikey-help"
          sortOrder="110"
          regexValidationExpression=""
			/>
    
    <featureSetting
			resourceFile="FlickrResources"
			resourceKey="SlideShowTheme"
			defaultValue="LightTheme"
			controlType="ISettingControl"
      controlSrc="~/Controls/VertigoThemeSetting.ascx"
      helpKey=""
      sortOrder="126"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="FlickrResources"
			resourceKey="SlideShowWidth"
			defaultValue="640"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="127"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="FlickrResources"
			resourceKey="SlideShowHeight"
			defaultValue="480"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="128"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="FlickrResources"
			resourceKey="SlideShowWindowlessMode"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="slideshow-windowless-help"
      sortOrder="200"
			regexValidationExpression=""
			/>
    
	</featureDefinition>
	-->
</featureDefinitions>

