ALTER TABLE mp_Blogs ADD
	ShowAuthorName bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_Blogs ADD
	ShowAuthorAvatar bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_Blogs ADD
	ShowAuthorBio bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_Blogs ADD
	IncludeInSearch bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_Blogs ADD
	IncludeInSiteMap bit NOT NULL DEFAULT 1 
GO

ALTER TABLE mp_Blogs ADD
	UseBingMap bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Blogs ADD
	MapHeight nvarchar(10) NOT NULL DEFAULT '300' 
GO

ALTER TABLE mp_Blogs ADD
	MapWidth nvarchar(10) NOT NULL DEFAULT '500' 
GO

ALTER TABLE mp_Blogs ADD
	ShowMapOptions bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Blogs ADD
	ShowZoomTool bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Blogs ADD
	ShowLocationInfo bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Blogs ADD
	UseDrivingDirections bit NOT NULL DEFAULT 0 
GO

ALTER TABLE mp_Blogs ADD
	MapType nvarchar(20) NOT NULL DEFAULT 'G_SATELLITE_MAP'
GO

ALTER TABLE mp_Blogs ADD
	MapZoom int NOT NULL DEFAULT 13 
GO

ALTER TABLE mp_Blogs ADD
	ShowDownloadLink bit NOT NULL DEFAULT 0 
GO

UPDATE mp_Blogs
SET IncludeInSiteMap = 1,
UseBingMap = 0,
MapHeight = '300',
MapWidth = '500',
ShowMapOptions = 1,
ShowZoomTool = 1,
ShowLocationInfo = 0,
UseDrivingDirections = 0,
MapType = 'G_SATELLITE_MAP',
MapZoom = 13,
ShowDownloadLink = 1

GO
