INSERT INTO mp_Comments
(
ParentGuid,
SiteGuid,
FeatureGuid,
ModuleGuid,
ContentGuid,
UserGuid,
Title,
UserComment,
UserName,
UserEmail,
UserUrl,
UserIp,
CreatedUtc,
LastModUtc,
ModerationStatus
)

SELECT
'00000000-0000-0000-0000-000000000000',
m.SiteGuid,
m.FeatureGuid,
m.[Guid],
b.BlogGuid,
'00000000-0000-0000-0000-000000000000',
bc.Title,
bc.[Comment],
bc.[Name],
'',
bc.URL,
'',
bc.DateCreated,
bc.DateCreated,
1

FROM mp_BlogComments bc

JOIN mp_Blogs b
ON b.ItemID = bc.ItemID

JOIN mp_Modules m
ON m.ModuleID = bc.ModuleID

GO


