CREATE SEQUENCE mp_blogcategories_categoryid_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;


--
-- TOC entry 2367 (class 1259 OID 26729)
-- Dependencies: 3
-- Name: mp_blogcomments_blogcommentid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE mp_blogcomments_blogcommentid_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;


--
-- TOC entry 2394 (class 1259 OID 26783)
-- Dependencies: 3
-- Name: mp_blogitemcategories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE mp_blogitemcategories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;


--
-- TOC entry 2368 (class 1259 OID 26731)
-- Dependencies: 3
-- Name: mp_blogs_itemid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE mp_blogs_itemid_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
    
--
-- TOC entry 2322 (class 1259 OID 26352)
-- Dependencies: 2788 2789 2790 2791 3
-- Name: mp_blogs; Type: TABLE; Schema: public; Owner: -; Tablespace: 
--

CREATE TABLE mp_blogs (
    itemid integer DEFAULT nextval(('"mp_blogs_itemid_seq"'::text)::regclass) NOT NULL,
    moduleid integer NOT NULL,
    createdbyuser character varying(100),
    createddate timestamp without time zone,
    title character varying(100),
    excerpt character varying(512),
    startdate timestamp without time zone,
    isinnewsletter boolean,
    includeinfeed boolean,
    description text,
    commentcount integer DEFAULT 0 NOT NULL,
    trackbackcount integer DEFAULT 0 NOT NULL,
    category character varying(50),
    allowcommentsfordays integer DEFAULT 0 NOT NULL,
    blogguid character varying(36),
    moduleguid character varying(36),
    location text,
    userguid character varying(36),
    lastmoduserguid character varying(36),
    lastmodutc timestamp without time zone,
    itemurl character varying(255)
);


--
-- TOC entry 2323 (class 1259 OID 26362)
-- Dependencies: 2792 2793 2794 3
-- Name: mp_blogstats; Type: TABLE; Schema: public; Owner: -; Tablespace: 
--

CREATE TABLE mp_blogstats (
    moduleid integer NOT NULL,
    entrycount integer DEFAULT 0 NOT NULL,
    commentcount integer DEFAULT 0 NOT NULL,
    trackbackcount integer DEFAULT 0 NOT NULL,
    moduleguid character varying(36)
);
    
    
--
-- TOC entry 2319 (class 1259 OID 26336)
-- Dependencies: 2784 3
-- Name: mp_blogcategories; Type: TABLE; Schema: public; Owner: -; Tablespace: 
--

CREATE TABLE mp_blogcategories (
    categoryid integer DEFAULT nextval(('"mp_blogcategories_categoryid_seq"'::text)::regclass) NOT NULL,
    moduleid integer NOT NULL,
    category character varying(255)
);

--
-- TOC entry 2320 (class 1259 OID 26340)
-- Dependencies: 2785 2786 3
-- Name: mp_blogcomments; Type: TABLE; Schema: public; Owner: -; Tablespace: 
--

CREATE TABLE mp_blogcomments (
    blogcommentid integer DEFAULT nextval(('"mp_blogcomments_blogcommentid_seq"'::text)::regclass) NOT NULL,
    moduleid integer NOT NULL,
    itemid integer NOT NULL,
    comment text NOT NULL,
    title character varying(100),
    name character varying(100),
    url character varying(200),
    datecreated timestamp without time zone DEFAULT ('now'::text)::timestamp(3) with time zone NOT NULL
);

--
-- TOC entry 2321 (class 1259 OID 26348)
-- Dependencies: 2787 3
-- Name: mp_blogitemcategories; Type: TABLE; Schema: public; Owner: -; Tablespace: 
--

CREATE TABLE mp_blogitemcategories (
    id integer DEFAULT nextval(('"mp_blogitemcategories_id_seq"'::text)::regclass) NOT NULL,
    itemid integer NOT NULL,
    categoryid integer NOT NULL
);

    
    


CREATE TYPE mp_blog_select_type AS (
	itemid integer,
	moduleid integer,
	createdbyuser character varying(100),
	createddate timestamp without time zone,
	title character varying(100),
	excerpt character varying(512),
	startdate timestamp without time zone,
	isinnewsletter boolean,
	description text,
	commentcount character varying(20),
	trackbackcount integer,
	includeinfeed boolean,
	allowcommentsfordays integer,
	blogguid character(36),
	moduleguid character(36),
	location text,
	userguid character(36),
	lastmoduserguid character(36),
	lastmodutc timestamp without time zone,
	itemurl character varying(255)
);


--
-- TOC entry 989 (class 1247 OID 32616)
-- Dependencies: 3 2415
-- Name: mp_blog_selectarchivebymonth_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blog_selectarchivebymonth_type AS (
	month integer,
	monthname character varying(10),
	year integer,
	day integer,
	count integer
);


--
-- TOC entry 729 (class 1247 OID 32844)
-- Dependencies: 3 2472
-- Name: mp_blog_selectbycategory_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blog_selectbycategory_type AS (
	itemid integer,
	moduleid integer,
	createdbyuser character varying(100),
	createddate timestamp without time zone,
	title character varying(100),
	excerpt character varying(512),
	description text,
	startdate timestamp without time zone,
	isinnewsletter boolean,
	includeinfeed boolean,
	commentcount integer,
	itemurl character varying(255)
);


--
-- TOC entry 731 (class 1247 OID 32848)
-- Dependencies: 3 2473
-- Name: mp_blog_selectbypage_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blog_selectbypage_type AS (
	itemid integer,
	moduleid integer,
	commentcount integer,
	title character varying(255),
	itemurl character varying(255),
	description text,
	moduletitle character varying(255),
	featurename character varying(255)
);





--
-- TOC entry 1099 (class 1247 OID 32834)
-- Dependencies: 3 2470
-- Name: mp_blogcategories_select_bymodule_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blogcategories_select_bymodule_type AS (
	categoryid integer,
	moduleid integer,
	category character varying(255),
	postcount bigint
);


--
-- TOC entry 1097 (class 1247 OID 32831)
-- Dependencies: 3 2469
-- Name: mp_blogcategories_select_one_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blogcategories_select_one_type AS (
	categoryid integer,
	moduleid integer,
	category character varying(255)
);




--
-- TOC entry 983 (class 1247 OID 32603)
-- Dependencies: 3 2412
-- Name: mp_blogcomments_select_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blogcomments_select_type AS (
	blogcommentid integer,
	itemid integer,
	moduleid integer,
	name character varying(100),
	title character varying(100),
	url character varying(200),
	comment text,
	datecreated timestamp without time zone
);




--
-- TOC entry 727 (class 1247 OID 32840)
-- Dependencies: 3 2471
-- Name: mp_blogitemcategories_select_byitem_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blogitemcategories_select_byitem_type AS (
	categoryid integer,
	category character varying(255)
);





--
-- TOC entry 985 (class 1247 OID 32607)
-- Dependencies: 3 2413
-- Name: mp_blogstats_select_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_blogstats_select_type AS (
	moduleid integer,
	entrycount integer,
	commentcount integer
);



CREATE FUNCTION mp_blog_delete(integer) RETURNS integer
    AS $_$
declare
	_itemid alias for $1;
	 _moduleid int;
	_rowcount int;
begin

select into _moduleid moduleid 
from mp_blogs where itemid = _itemid;

delete from 
    mp_blogs
where
    itemid = _itemid;
    
GET DIAGNOSTICS _rowcount = ROW_COUNT;

update mp_blogstats
set 	entrycount = entrycount - 1
where moduleid = _moduleid;   

return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 316 (class 1255 OID 27024)
-- Dependencies: 3 1141
-- Name: mp_blog_insert(integer, character varying, character varying, character varying, text, timestamp without time zone, boolean, boolean, character varying, integer, text, character, timestamp without time zone, character, character); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_insert(integer, character varying, character varying, character varying, text, timestamp without time zone, boolean, boolean, character varying, integer, text, character, timestamp without time zone, character, character) RETURNS integer
    AS $_$
declare
	_moduleid alias for $1;
	_username alias for $2;
	_title alias for $3;
	_excerpt alias for $4;
	_description alias for $5;
	_startdate alias for $6;
	_isinnewsletter alias for $7;
	_includeinfeed alias for $8;
	_category alias for $9;
	_allowcommentsfordays alias for $10;
	_location alias for $11;
	_userguid alias for $12;
	_createddate alias for $13;
	_blogguid alias for $14;
	_moduleguid alias for $15;
	_itemid int4;
	t_found int;
	
begin

insert into mp_blogs
(
	moduleid,
	createdbyuser,
	createddate,
	title,
	excerpt,
	description,
	startdate,
	isinnewsletter,
	includeinfeed,
	category,
	allowcommentsfordays,
	location,
	userguid,
	lastmoduserguid,
	lastmodutc,
	blogguid,
	moduleguid
)
values
(
    _moduleid,
    _username,
    _createddate,
    _title,
    _excerpt,
    _description,
    _startdate,
    _isinnewsletter,
    _includeinfeed,
    _category,
    _allowcommentsfordays,
    _location,
    _userguid,
    _userguid,
    _createddate,
    _blogguid,
    _moduleguid
);

select into _itemid cast(currval('mp_blogs_itemid_seq') as int4);
select into t_found 1 from mp_blogstats where moduleid = _moduleid limit 1;
if found then
		update mp_blogstats
		set 	entrycount = entrycount + 1
		where moduleid = _moduleid;
else
		insert into mp_blogstats(moduleguid, moduleid, entrycount)
		values (_moduleguid,_moduleid, 1);   
end if;
return _itemid;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 343 (class 1255 OID 29275)
-- Dependencies: 3 1141
-- Name: mp_blog_insert(integer, character varying, character varying, character varying, text, timestamp without time zone, boolean, boolean, integer, text, character, timestamp without time zone, character, character, character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_insert(integer, character varying, character varying, character varying, text, timestamp without time zone, boolean, boolean, integer, text, character, timestamp without time zone, character, character, character varying) RETURNS integer
    AS $_$
declare
	_moduleid alias for $1;
	_username alias for $2;
	_title alias for $3;
	_excerpt alias for $4;
	_description alias for $5;
	_startdate alias for $6;
	_isinnewsletter alias for $7;
	_includeinfeed alias for $8;
	_allowcommentsfordays alias for $9;
	_location alias for $10;
	_userguid alias for $11;
	_createddate alias for $12;
	_blogguid alias for $13;
	_moduleguid alias for $14;
	_itemurl alias for $15;
	_itemid int4;
	t_found int;
	
begin

insert into mp_blogs
(
	moduleid,
	createdbyuser,
	createddate,
	title,
	excerpt,
	description,
	startdate,
	isinnewsletter,
	includeinfeed,
	allowcommentsfordays,
	location,
	userguid,
	lastmoduserguid,
	lastmodutc,
	blogguid,
	moduleguid,
	itemurl
)
values
(
    _moduleid,
    _username,
    _createddate,
    _title,
    _excerpt,
    _description,
    _startdate,
    _isinnewsletter,
    _includeinfeed,
    _allowcommentsfordays,
    _location,
    _userguid,
    _userguid,
    _createddate,
    _blogguid,
    _moduleguid,
    _itemurl
);

select into _itemid cast(currval('mp_blogs_itemid_seq') as int4);
select into t_found 1 from mp_blogstats where moduleid = _moduleid limit 1;
if found then
		update mp_blogstats
		set 	entrycount = entrycount + 1
		where moduleid = _moduleid;
else
		insert into mp_blogstats(moduleguid, moduleid, entrycount)
		values (_moduleguid,_moduleid, 1);   
end if;
return _itemid;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 344 (class 1255 OID 32612)
-- Dependencies: 3 987 1141
-- Name: mp_blog_select(integer, timestamp without time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_select(integer, timestamp without time zone) RETURNS SETOF mp_blog_select_type
    AS $_$
declare
	_moduleid alias for $1;
	_begindate alias for $2;
	 _rowstoget int;
	_rec mp_blog_select_type%ROWTYPE;

begin

_rowstoget := coalesce((select settingvalue::text::int4 from mp_modulesettings 
	where settingname = 'BlogEntriesToShowSetting' 
	and moduleid = _moduleid limit 1),1);
for _rec in
	select		
		itemid,
		moduleid,
		createdbyuser,
		createddate,
		title,
		excerpt,
		startdate,
		isinnewsletter,
		description,
		to_char(commentcount, '99999999999') as commentcount,
		trackbackcount,
		includeinfeed,
		allowcommentsfordays,
		blogguid,
		moduleguid,
		location,
		userguid,
		lastmoduserguid,
        	lastmodutc,
        	itemurl
		
	from        mp_blogs
	where
	    (moduleid = _moduleid) and (_begindate >= startdate)
	   order by
		startdate desc
	limit _rowstoget
loop
	return next _rec;
end loop;
return;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 346 (class 1255 OID 32617)
-- Dependencies: 3 989
-- Name: mp_blog_selectarchivebymonth(integer, timestamp without time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_selectarchivebymonth(integer, timestamp without time zone) RETURNS SETOF mp_blog_selectarchivebymonth_type
    AS $_$
select 	
		cast(date_part('month', startdate) as int4) as month, 
		monthname(startdate) as monthname,
		cast(date_part('year', startdate) as int4) as year, 
		1 as day, 
		cast(count(*) as int4) as count 
from 		mp_blogs
 
where 	moduleid = $1 and startdate < $2
group by 	date_part('year', startdate), 
		date_part('month', startdate),
		monthname(startdate)
order by 	year desc, month desc; $_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 407 (class 1255 OID 32845)
-- Dependencies: 729 3
-- Name: mp_blog_selectbycategory(integer, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_selectbycategory(integer, integer) RETURNS SETOF mp_blog_selectbycategory_type
    AS $_$
select	
        b.itemid ,
        b.moduleid ,
        b.createdbyuser ,
        b.createddate ,
        b.title , 
        b.excerpt , 
        b.description , 
        b.startdate , 
        b.isinnewsletter ,
        b.includeinfeed ,
        b.commentcount,
        b.itemurl

from	mp_blogs b

inner join    mp_blogitemcategories bic
on            b.itemid = bic.itemid

where     b.moduleid = $1 and bic.categoryid = $2

order by b.startdate desc ;$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 345 (class 1255 OID 32613)
-- Dependencies: 1141 3 987
-- Name: mp_blog_selectbyenddate(integer, date); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_selectbyenddate(integer, date) RETURNS SETOF mp_blog_select_type
    AS $_$
declare
	_moduleid alias for $1;
	_enddate alias for $2;
	 _rowstoget int;
	_rec mp_blog_select_type%ROWTYPE;

begin

_rowstoget := coalesce((select settingvalue::text::int4 from mp_modulesettings 
	where settingname = 'BlogEntriesToShowSetting' 
	and moduleid = _moduleid limit 1),1);
for _rec in
	select		
		itemid,
		moduleid,
		createdbyuser,
		createddate,
		title,
		excerpt,
		startdate,
		isinnewsletter,
		description,
		to_char(commentcount, '99999999999') as commentcount,
		trackbackcount,
		includeinfeed,
		allowcommentsfordays,
		blogguid,
		moduleguid,
		location,
		userguid,
		lastmoduserguid,
        	lastmodutc,
        	itemurl
	from        mp_blogs
	where
	    (moduleid = _moduleid) and (startdate <= _enddate)
	   order by
		itemid desc,  startdate desc
	limit _rowstoget
loop
	return next _rec;
end loop;
return;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 48 (class 1255 OID 27034)
-- Dependencies: 798 3
-- Name: mp_blog_selectbymonth(integer, integer, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_selectbymonth(integer, integer, integer) RETURNS SETOF mp_blogs
    AS $_$
select	*
from 		mp_blogs
where 	moduleid = $3
		and date_part('year', startdate)  = $2 
		and date_part('month', startdate)  = $1
order by	 startdate desc; $_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 408 (class 1255 OID 32849)
-- Dependencies: 3 731
-- Name: mp_blog_selectbypage(integer, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_selectbypage(integer, integer) RETURNS SETOF mp_blog_selectbypage_type
    AS $_$
select
		gi.itemid,
		gi.moduleid,
		gi.commentcount,
		gi.title, 
		gi.itemurl, 
		gi.description, 
		m.moduletitle,
		md.featurename
		
from
		mp_blogs gi
		
JOIN		mp_modules m
ON		gi.moduleid = m.moduleid

JOIN		mp_moduledefinitions md
ON		m.moduledefid = md.moduledefid

JOIN		mp_pagemodules pm
ON		pm.moduleid = m.moduleid

JOIN		mp_pages p
ON		p.pageid = pm.pageid
		
where
		p.siteid = $1
		AND pm.pageid = $2
		
		; $_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 438 (class 1255 OID 32937)
-- Dependencies: 3 987 1141
-- Name: mp_blog_selectdrafts(integer, timestamp without time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_selectdrafts(integer, timestamp without time zone) RETURNS SETOF mp_blog_select_type
    AS $_$
declare
	_moduleid alias for $1;
	_begindate alias for $2;
	_rec mp_blog_select_type%ROWTYPE;

begin


for _rec in
	select		
		itemid,
		moduleid,
		createdbyuser,
		createddate,
		title,
		excerpt,
		startdate,
		isinnewsletter,
		description,
		to_char(commentcount, '99999999999') as commentcount,
		trackbackcount,
		includeinfeed,
		allowcommentsfordays,
		blogguid,
		moduleguid,
		location,
		userguid,
		lastmoduserguid,
        	lastmodutc
		
	from        mp_blogs
	where
	    (moduleid = _moduleid) and (startdate > _begindate)
	   order by
		startdate desc
	
loop
	return next _rec;
end loop;
return;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 50 (class 1255 OID 27035)
-- Dependencies: 3 798
-- Name: mp_blog_selectone2(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_selectone2(integer) RETURNS SETOF mp_blogs
    AS $_$
select		*
			
from	mp_blogs
where   (itemid = $1); $_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 197 (class 1255 OID 27036)
-- Dependencies: 1141 3
-- Name: mp_blog_update(integer, integer, character varying, character varying, character varying, text, timestamp without time zone, boolean, boolean, character varying, integer, text, character, timestamp without time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blog_update(integer, integer, character varying, character varying, character varying, text, timestamp without time zone, boolean, boolean, character varying, integer, text, character, timestamp without time zone) RETURNS integer
    AS $_$
declare
	_itemid alias for $1;
	_moduleid alias for $2;
	_username alias for $3;
	_title alias for $4;
	_excerpt alias for $5;
	_description alias for $6;
	_startdate alias for $7;
	_isinnewsletter alias for $8;
	_includeinfeed alias for $9;
	_itemurl alias for $10;
	_allowcommentsfordays alias for $11;
	_location alias for $12;
	_lastmoduserguid alias for $13;
	_lastmodutc alias for $14;
	_rowcount int4;
begin

update mp_blogs
set 
moduleid = _moduleid,
createdbyuser = _username,
createddate = current_timestamp(3),
title = _title,
excerpt = _excerpt,
description = _description,
startdate = _startdate,
isinnewsletter = _isinnewsletter,
includeinfeed = _includeinfeed,
itemurl = _itemurl,
allowcommentsfordays = _allowcommentsfordays,
location = _location,
lastmoduserguid = _lastmoduserguid,
lastmodutc = _lastmodutc


where 
itemid = _itemid; 
GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 137 (class 1255 OID 27398)
-- Dependencies: 1141 3
-- Name: mp_blogcategories_delete(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcategories_delete(integer) RETURNS integer
    AS $_$
declare
	_categoryid alias for $1;
	_rowcount int4;
begin


	delete from mp_blogcategories
	where categoryid = _categoryid;
	
	GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 237 (class 1255 OID 27408)
-- Dependencies: 3
-- Name: mp_blogcategories_insert(integer, character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcategories_insert(integer, character varying) RETURNS integer
    AS $_$

insert into 	mp_blogcategories
(				
                moduleid,
                category
) 
values 
(				
                $1, --:moduleid
                $2 --:category
);

select cast(currval('mp_blogcategories_categoryid_seq') as int4);$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 404 (class 1255 OID 32836)
-- Dependencies: 3 1099
-- Name: mp_blogcategories_select_bymodule(integer, timestamp without time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcategories_select_bymodule(integer, timestamp without time zone) RETURNS SETOF mp_blogcategories_select_bymodule_type
    AS $_$

select
        bc.categoryid,
        bc.moduleid,
        bc.category,
        count(bic.itemid) as postcount
from
        mp_blogcategories bc
        
join    mp_blogitemcategories bic
on      bc.categoryid = bic.categoryid

join	mp_blogs b
on	b.itemid = bic.itemid
        

where   bc.moduleid = $1 and b.startdate < $2
	

group by bc.categoryid, bc.moduleid, bc.category

order by bc.category;$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 403 (class 1255 OID 32835)
-- Dependencies: 1097 3
-- Name: mp_blogcategories_select_one(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcategories_select_one(integer) RETURNS SETOF mp_blogcategories_select_one_type
    AS $_$

select
        categoryid,
        moduleid,
        category
from
        mp_blogcategories
        
where
        categoryid = $1;$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 405 (class 1255 OID 32837)
-- Dependencies: 3 1099
-- Name: mp_blogcategories_selectlist_bymodule(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcategories_selectlist_bymodule(integer) RETURNS SETOF mp_blogcategories_select_bymodule_type
    AS $_$

select
        bc.categoryid,
        bc.moduleid,
        bc.category,
        count(bic.itemid) as postcount
from
        mp_blogcategories bc
        
left outer join    mp_blogitemcategories bic
on      bc.categoryid = bic.categoryid
        

where   bc.moduleid = $1 
	

group by bc.categoryid, bc.moduleid, bc.category

order by bc.category;$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 139 (class 1255 OID 27409)
-- Dependencies: 3 1141
-- Name: mp_blogcategories_update(integer, character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcategories_update(integer, character varying) RETURNS integer
    AS $_$
declare
	_categoryid alias for $1;
	_category alias for $2;
	_rowcount int4;
begin

update 		mp_blogcategories

set
            category = _category --:category
            
where
            categoryid = _categoryid; --:categoryid

GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 196 (class 1255 OID 27013)
-- Dependencies: 1141 3
-- Name: mp_blogcomment_delete(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcomment_delete(integer) RETURNS integer
    AS $_$
declare
	_blogcommentid alias for $1;
	 _moduleid int;
	 _itemid int;
	_rowcount int;
begin

select into _moduleid, _itemid 
            moduleid, itemid
from	mp_blogcomments
where blogcommentid = _blogcommentid;

delete 
from 	mp_blogcomments
where	blogcommentid = _blogcommentid;

GET DIAGNOSTICS _rowcount = ROW_COUNT;

update mp_blogs
set commentcount = commentcount - 1
where moduleid = _moduleid and itemid = _itemid;

update mp_blogstats
set 	commentcount = commentcount - 1
where moduleid = _moduleid;   

return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 44 (class 1255 OID 27014)
-- Dependencies: 1141 3
-- Name: mp_blogcomment_insert(integer, integer, character varying, character varying, character varying, text, timestamp without time zone); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcomment_insert(integer, integer, character varying, character varying, character varying, text, timestamp without time zone) RETURNS integer
    AS $_$
declare
	_moduleid alias for $1;
	_itemid alias for $2;
	_name alias for $3;
	_title alias for $4;
	_url alias for $5;
	_comment alias for $6;
	_datecreated alias for $7;
	_rowcount int4;
begin

insert into mp_blogcomments
(
    	moduleid,
	itemid,
    	name,
    	title,
	url,
    	comment,
	datecreated
)
values
(
    _moduleid,
    _itemid,
    _name,
    _title,
    _url,
    _comment,
    _datecreated
);

update mp_blogs
set commentcount = commentcount + 1
where moduleid = _moduleid and itemid = _itemid;

update mp_blogstats
set 	commentcount = commentcount + 1
where moduleid = _moduleid; 
GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 341 (class 1255 OID 32604)
-- Dependencies: 3 983
-- Name: mp_blogcomments_select(integer, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogcomments_select(integer, integer) RETURNS SETOF mp_blogcomments_select_type
    AS $_$
select		
	blogcommentid,
	itemid, 
	moduleid, 
	name, 
	title, 
	url, 
	comment, 
	datecreated
from        mp_blogcomments
where
    		moduleid = $1
		and itemid = $2
   order by
   	blogcommentid,  datecreated desc; $_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 140 (class 1255 OID 27410)
-- Dependencies: 3 1141
-- Name: mp_blogitemcategories_delete(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogitemcategories_delete(integer) RETURNS integer
    AS $_$
declare
	_itemid alias for $1;
	_rowcount int4;
begin


	delete from mp_blogitemcategories
	where itemid = _itemid;
	
	GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 141 (class 1255 OID 27411)
-- Dependencies: 3
-- Name: mp_blogitemcategories_insert(integer, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogitemcategories_insert(integer, integer) RETURNS integer
    AS $_$

insert into 	mp_blogitemcategories
(				
                itemid,
                categoryid
) 
values 
(				
                $1, --:itemid
                $2 --:categoryid
);

select cast(currval('mp_blogitemcategories_id_seq') as int4);$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 406 (class 1255 OID 32841)
-- Dependencies: 727 3
-- Name: mp_blogitemcategories_select_byitem(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogitemcategories_select_byitem(integer) RETURNS SETOF mp_blogitemcategories_select_byitem_type
    AS $_$

select
        bc.categoryid,
        bc.category
from
        mp_blogitemcategories bic
inner join mp_blogcategories bc
on         bic.categoryid = bc.categoryid
where   itemid = $1

order by bc.category;$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 342 (class 1255 OID 32608)
-- Dependencies: 985 3
-- Name: mp_blogstats_select(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_blogstats_select(integer) RETURNS SETOF mp_blogstats_select_type
    AS $_$
select		
			moduleid, 
			entrycount,
			commentcount
from       		 mp_blogstats
where
    			moduleid = $1; $_$
    LANGUAGE sql SECURITY DEFINER;









--
-- TOC entry 2943 (class 2606 OID 26798)
-- Dependencies: 2319 2319
-- Name: pk_blogcategories; Type: CONSTRAINT; Schema: public; Owner: -; Tablespace: 
--

ALTER TABLE ONLY mp_blogcategories
    ADD CONSTRAINT pk_blogcategories PRIMARY KEY (categoryid);


--
-- TOC entry 2945 (class 2606 OID 26801)
-- Dependencies: 2320 2320
-- Name: pk_blogcomments; Type: CONSTRAINT; Schema: public; Owner: -; Tablespace: 
--

ALTER TABLE ONLY mp_blogcomments
    ADD CONSTRAINT pk_blogcomments PRIMARY KEY (blogcommentid);


--
-- TOC entry 2949 (class 2606 OID 26805)
-- Dependencies: 2321 2321
-- Name: pk_blogitemcategories; Type: CONSTRAINT; Schema: public; Owner: -; Tablespace: 
--

ALTER TABLE ONLY mp_blogitemcategories
    ADD CONSTRAINT pk_blogitemcategories PRIMARY KEY (id);


--
-- TOC entry 2952 (class 2606 OID 26796)
-- Dependencies: 2322 2322
-- Name: pk_blogs; Type: CONSTRAINT; Schema: public; Owner: -; Tablespace: 
--

ALTER TABLE ONLY mp_blogs
    ADD CONSTRAINT pk_blogs PRIMARY KEY (itemid);


--
-- TOC entry 2941 (class 1259 OID 26799)
-- Dependencies: 2319
-- Name: ifk_blogcategories_moduleid; Type: INDEX; Schema: public; Owner: -; Tablespace: 
--

CREATE INDEX ifk_blogcategories_moduleid ON mp_blogcategories USING btree (moduleid);


--
-- TOC entry 2946 (class 1259 OID 26802)
-- Dependencies: 2321
-- Name: ifk_blogitemcategories_categoryid; Type: INDEX; Schema: public; Owner: -; Tablespace: 
--

CREATE INDEX ifk_blogitemcategories_categoryid ON mp_blogitemcategories USING btree (categoryid);


--
-- TOC entry 2947 (class 1259 OID 26803)
-- Dependencies: 2321
-- Name: ifk_blogitemcategories_itemid; Type: INDEX; Schema: public; Owner: -; Tablespace: 
--

CREATE INDEX ifk_blogitemcategories_itemid ON mp_blogitemcategories USING btree (itemid);


--
-- TOC entry 2950 (class 1259 OID 26806)
-- Dependencies: 2322
-- Name: ifk_blogs_moduleid; Type: INDEX; Schema: public; Owner: -; Tablespace: 
--

CREATE INDEX ifk_blogs_moduleid ON mp_blogs USING btree (moduleid);


--
-- TOC entry 2953 (class 1259 OID 26807)
-- Dependencies: 2323
-- Name: ifk_blogstats_moduleid; Type: INDEX; Schema: public; Owner: -; Tablespace: 
--

CREATE INDEX ifk_blogstats_moduleid ON mp_blogstats USING btree (moduleid);


--
-- TOC entry 3172 (class 2606 OID 26941)
-- Dependencies: 2320 2322 2951
-- Name: fk_blogcomments_blogs; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY mp_blogcomments
    ADD CONSTRAINT fk_blogcomments_blogs FOREIGN KEY (itemid) REFERENCES mp_blogs(itemid);


--
-- TOC entry 3173 (class 2606 OID 26951)
-- Dependencies: 2951 2322 2321
-- Name: fk_blogitemcategories_blogs; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY mp_blogitemcategories
    ADD CONSTRAINT fk_blogitemcategories_blogs FOREIGN KEY (itemid) REFERENCES mp_blogs(itemid);


--
-- TOC entry 3174 (class 2606 OID 26946)
-- Dependencies: 2942 2321 2319
-- Name: fk_blogitemcategoriesblogcategories; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY mp_blogitemcategories
    ADD CONSTRAINT fk_blogitemcategoriesblogcategories FOREIGN KEY (categoryid) REFERENCES mp_blogcategories(categoryid);








