CREATE TABLE [mp_Links](
	[ItemID] [int] IDENTITY(0,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Url] [nvarchar](255) NULL,
	[Target] [nvarchar](20) NOT NULL,
	[ViewOrder] [int] NULL,
	[Description] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ItemGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[UserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Links] PRIMARY KEY 
(
	[ItemID] 
)
) 
GO


