<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="263ecff1-f321-4bb8-8d0a-64c0ba89caa7"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure" 
		resourceFile="SurveyResources"
		featureNameReasourceKey="SurveyFeatureName"
		controlSource="Survey/SurveyModule.ascx"
		sortOrder="500"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    deleteProvider="SurveyContentDeleteHandler"
    supportsPageReuse="false"
		>
    
	</featureDefinition>
</featureDefinitions>
