<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="dc873d76-5bf2-4ac5-bff7-434a87a3fc8e"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="SharedFileResources"
		featureNameReasourceKey="SharedFilesFeatureName" 
		controlSource="SharedFiles/SharedFilesModule.ascx"
		sortOrder="500"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="true"
    searchListNameResourceKey="SharedFilesSearchName"
    deleteProvider="SharedFilesContentDeleteHandler"
    supportsPageReuse="true"
		>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="SharedFilesEnableVersioningSetting"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="ShowDownloadCountToAllUsers"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="SharedFiles-ShowDownloadCountToAllUsers-help"
      sortOrder="200"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="ShowDescription"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="SharedFiles-ShowDescription-help"
      sortOrder="300"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="ShowSize"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="400"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="ShowModified"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="500"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="ShowUploadedBy"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="600"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="ShowObjectCount"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="700"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="DefaultSortSetting"
			defaultValue="ASC"
			controlType="ISettingControl"
      controlSrc="~/Controls/SortSetting.ascx"
      helpKey=""
      sortOrder="800"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="SharedFileResources"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="900"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>

  </featureDefinition>
</featureDefinitions>

