CREATE TABLE [mp_PollOptions](
	[OptionGuid] [uniqueidentifier] NOT NULL,
	[PollGuid] [uniqueidentifier] NOT NULL,
	[Answer] [nvarchar](255) NOT NULL,
	[Votes] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_mp_PollOptions] PRIMARY KEY 
(
	[OptionGuid] 
)
) 
GO

CREATE TABLE [mp_PollUsers](
	[PollGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[OptionGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_PollUsers] PRIMARY KEY  
(
	[PollGuid] ,
	[UserGuid] 
)
) 
GO

CREATE TABLE [mp_PollModules](
	[PollGuid] [uniqueidentifier] NOT NULL,
	[ModuleID] [int] NOT NULL,
 CONSTRAINT [PK_mp_PollModules] PRIMARY KEY 
(
	[PollGuid] ,
	[ModuleID] 
)
) 
GO

CREATE TABLE [mp_Polls](
	[PollGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[Question] [nvarchar](255) NOT NULL,
	[Active] [bit] NOT NULL,
	[AnonymousVoting] [bit] NOT NULL,
	[AllowViewingResultsBeforeVoting] [bit] NOT NULL,
	[ShowOrderNumbers] [bit] NOT NULL,
	[ShowResultsWhenDeactivated] [bit] NOT NULL,
	[ActiveFrom] [datetime] NOT NULL,
	[ActiveTo] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_Polls] PRIMARY KEY 
(
	[PollGuid] 
)
) 
GO

ALTER TABLE [mp_PollOptions] ADD  CONSTRAINT [DF_mp_PollOption_Votes]  DEFAULT ((0)) FOR [Votes]
GO

ALTER TABLE [mp_PollOptions] ADD  CONSTRAINT [DF_mp_PollOptions_Order]  DEFAULT ((1)) FOR [Order]
GO

ALTER TABLE [mp_Polls] ADD  CONSTRAINT [DF_mp_Poll_Active]  DEFAULT ((1)) FOR [Active]
GO

ALTER TABLE [mp_Polls] ADD  CONSTRAINT [DF_mp_Polls_AnonymousVoting]  DEFAULT ((0)) FOR [AnonymousVoting]
GO

ALTER TABLE [mp_Polls] ADD  CONSTRAINT [DF_mp_Polls_AllowViewingResultsBeforeVoting]  DEFAULT ((0)) FOR [AllowViewingResultsBeforeVoting]
GO

ALTER TABLE [mp_Polls] ADD  CONSTRAINT [DF_mp_Polls_ShowOrderNumbers]  DEFAULT ((0)) FOR [ShowOrderNumbers]
GO

ALTER TABLE [mp_Polls] ADD  CONSTRAINT [DF_mp_Polls_ShowResultsWhenDeactivated]  DEFAULT ((0)) FOR [ShowResultsWhenDeactivated]
GO

ALTER TABLE [mp_Polls] ADD  CONSTRAINT [DF_mp_Polls_ActiveFrom]  DEFAULT (getdate()) FOR [ActiveFrom]
GO

ALTER TABLE [mp_Polls] ADD  CONSTRAINT [DF_mp_Polls_ActiveTo]  DEFAULT (getdate()) FOR [ActiveTo]
GO

