<?xml version="1.0" encoding="utf-8" ?>
<!--
The older more open twitter api has been retired
these twitter features depended on the old api so they are also retired
https://www.mojoportal.com/Forums/Thread.aspx?pageid=5&t=11495~1#post47844
-->
<featureDefinitions>
<!--
	<featureDefinition
		featureGuid="69027a98-01b5-4ff7-a1c5-09729ff89db5"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlAzure,SqlCe"
		resourceFile="TwitterResources"
		featureNameReasourceKey="FeatureName" 
		controlSource="Twitter/TwitterProfileModule.ascx"
		sortOrder="700"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="false"
    supportsPageReuse="true"
		>

    <featureSetting
          resourceFile="TwitterResources"
          resourceKey="Username"
          defaultValue=""
          controlType="TextBox"
          controlSrc=""
          helpKey=""
          sortOrder="100"
          regexValidationExpression=""
			/>
    <featureSetting
          resourceFile="TwitterResources"
          resourceKey="LoopTweets"
          defaultValue="true"
          controlType="CheckBox"
          controlSrc=""
          helpKey="flickr-username-help"
          sortOrder="200"
          regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="WidgetWidth"
			defaultValue="250"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="300"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="WidgetHeight"
			defaultValue="300"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="400"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>

    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="ShellBackColor"
			defaultValue="#3082af"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="ShellForeColor"
			defaultValue="#ffffff"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="600"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="TweetsBackColor"
			defaultValue="#ffffff"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="TweetsForeColor"
			defaultValue="#444444"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="800"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="TweetsLinkColor"
			defaultValue="#1985b5"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="900"
			regexValidationExpression=""
			/>

    
    
    
		
	</featureDefinition>
	
	-->
	
</featureDefinitions>

