ALTER TABLE MP_USERS ADD 
TotalRevenue Decimal;

UPDATE MP_USERS SET TotalRevenue = 0;

CREATE TABLE mp_CommerceReport (
 RowGuid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 UserGuid VARCHAR(36) NOT NULL,
 FeatureGuid VARCHAR(36) NOT NULL,
 ModuleGuid VARCHAR(36) NOT NULL,
 ModuleTitle VARCHAR(255) ,
 OrderGuid VARCHAR(36) NOT NULL,
 ItemGuid VARCHAR(36) NOT NULL,
 ItemName VARCHAR(255) ,
 Quantity INTEGER NOT NULL,
 Price Decimal NOT NULL,
 SubTotal Decimal NOT NULL,
 OrderDateUtc TIMESTAMP NOT NULL,
 PaymentMethod VARCHAR(50) ,
 IPAddress VARCHAR(250) ,
 AdminOrderLink VARCHAR(255) NOT NULL,
 UserOrderLink VARCHAR(255) NOT NULL,
 RowCreatedUtc TIMESTAMP NOT NULL,
 PRIMARY KEY (RowGuid)   
);


