<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="031eb6a0-acf5-4559-8356-af6049d57ac1"
		supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlAzure,SqlCe"
		resourceFile="BlogResources"
		featureNameReasourceKey="BlogPostListFeatureName" 
		controlSource="Blog/BlogPostListModule.ascx"
		sortOrder="401"
		isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		isSearchable="false"
		searchListNameResourceKey="BlogSearchName"
		supportsPageReuse="true"
		>
    <featureSetting
      resourceFile="BlogResources"
      resourceKey="PostListBlog"
      defaultValue=""
      controlType="ISettingControl"
      controlSrc="~/Blog/Controls/BlogInstanceSetting.ascx"
      sortOrder="100"
      regexValidationExpression=""
     />
    
    <featureSetting
      resourceFile="BlogResources"
      resourceKey="PostListTheme"
      defaultValue="~/Blog/Themes/PostListAdvanced/Default.json"
      controlType="ISettingControl"
      controlSrc="~/Blog/Controls/PostListThemeSelector.ascx"
      sortOrder="100"
      regexValidationExpression=""
     />

  </featureDefinition>
</featureDefinitions>

