<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		controlSource="Blog/PostListModule.ascx"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		featureGuid="031eb6a0-acf5-4559-8356-af6049d57ac1"
		featureNameReasourceKey="BlogPostListFeatureName"
		icon="blank.gif"
		isCacheable="false"
		isSearchable="false"
		resourceFile="BlogResources"
		sortOrder="401"
		supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		supportsPageReuse="true"
	>
		<featureSetting
			controlSrc="~/Blog/Controls/BlogInstanceSetting.ascx"
			controlType="ISettingControl"
			defaultValue=""
			regexValidationExpression=""
			resourceFile="BlogResources"
			resourceKey="PostListBlogInstance"
			sortOrder="100"
		/>
		<featureSetting
			controlSrc="~/Blog/Controls/PostListLayoutSelector.ascx"
			controlType="ISettingControl"
			defaultValue="_BlogPostList"
			regexValidationExpression=""
			resourceFile="BlogResources"
			resourceKey="PostListLayout"
			sortOrder="120"
		/>
		<featureSetting
			controlSrc=""
			controlType="Number"
			defaultValue="4"
			resourceFile="BlogResources"
			resourceKey="PostListItemsPerPage"
			sortOrder="130"
				>
		<Attributes>
			<Attribute name="min" value="1"/>
		</Attributes>
	</featureSetting>
		<featureSetting
			controlSrc=""
			controlType="TextBox"
			defaultValue=""
			helpKey="custom-module-css-class-help"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			resourceFile="BlogResources"
			resourceKey="ExtraCssClassSetting"
			sortOrder="140"
		/>
	</featureDefinition>
</featureDefinitions>
