<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="026cbead-2b80-4491-906d-b83e37179ccf"
		supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlAzure,SqlCe"
		resourceFile="BlogResources"
		featureNameReasourceKey="BlogFeatureName" 
		controlSource="Blog/BlogModule.ascx"
		sortOrder="400"
		isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		isSearchable="true"
		searchListNameResourceKey="BlogSearchName"
		deleteProvider="BlogContentDeleteHandler"
		supportsPageReuse="false"
		>
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="ShowBlogSearchBox"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="90"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="BlogAuthorSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAuthorSetting-help"
			sortOrder="100"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="BlogAuthorEmailSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAuthorEmailSetting-help"
			sortOrder="200"
			regexValidationExpression=""
			/>
    
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="BlogCopyrightSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogCopyrightSetting-help"
			sortOrder="300"
			regexValidationExpression=""
			/>
    
   <!-- 
   removed as of blog version 2.6.0.9 moved to post level setting
   
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="ShowPostAuthorSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowPostAuthorSetting-help"
			sortOrder="400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="ShowAuthorAvatar"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-ShowAuthorAvatar-help"
			sortOrder="450"
			regexValidationExpression=""
			/>
			
			end removed as of blog version 2.6.0.9
      -->
      
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="BlogDescriptionSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogDescriptionSetting-help"
			sortOrder="500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="BlogEditorHeightSetting"
			defaultValue="350"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogEditorHeightSetting-help"
			sortOrder="600"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="BlogDateTimeFormat"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogDateTimeFormat-help"
			sortOrder="700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="GeneralSettings"
			resourceKey="RelatedItemsToShow"
			defaultValue="0"
			controlType="ISettingControl"
			controlSrc="~/Blog/Controls/RelatedPostsToShowSetting.ascx"
			helpKey="blog-RelatedItemsToShow-help"
			sortOrder="750"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="ExcerptModeSettings"
			resourceKey="HideDetailsFromUnauthencticated"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-HideDetailsFromUnauthencticated-help"
			sortOrder="1500"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="ExcerptModeSettings"
			resourceKey="BlogUseExcerptSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogUseExcerptSetting-help"
			sortOrder="1600"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="ExcerptModeSettings"
			resourceKey="UseExcerptInFeedSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogUseExcerptInFeedSetting-help"
			sortOrder="1700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="ExcerptModeSettings"
			resourceKey="BlogExcerptLengthSetting"
			defaultValue="250"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogExcerptLengthSetting-help"
			sortOrder="1800"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
          resourceFile="BlogResources"
          groupNameKey="ExcerptModeSettings"
          resourceKey="BlogExcerptSuffixSetting"
          defaultValue="..."
          controlType="TextBox"
          controlSrc=""
          helpKey="BlogExcerptSuffixSetting-help"
          sortOrder="1900"
          regexValidationExpression=""
			/>
    <featureSetting
          resourceFile="BlogResources"
          groupNameKey="ExcerptModeSettings"
          resourceKey="BlogMoreLinkText"
          defaultValue="read more"
          controlType="TextBox"
          controlSrc=""
          helpKey="BlogMoreLinkText-help"
          sortOrder="2000"
          regexValidationExpression=""
			/>
    <featureSetting
		 resourceFile="BlogResources"
		 groupNameKey="ExcerptModeSettings"
		 resourceKey="BlogShowTitleOnlySetting"
		 defaultValue="false"
		 controlType="CheckBox"
		 controlSrc=""
		 helpKey="BlogShowTitleOnlySetting-help"
		 sortOrder="2100"
		 regexValidationExpression=""
			/>
    
    
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="ListViewSettings"
			resourceKey="BlogEntriesToShowSetting"
			defaultValue="10"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogEntriesToShowSetting-help"
			sortOrder="3000"
			regexValidationExpression="^[1-9][0-9]{0,2}$"
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="ListViewSettings"
			resourceKey="BlogShowPagerInListSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowPagerInListSetting-help"
			sortOrder="3100"
			regexValidationExpression=""
			/>
			
			
			
	<featureSetting
			resourceFile="BlogResources"
            groupNameKey="FeedSettings"
			resourceKey="ManagingEditorName"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="Blog-ManagingEditorName-help"
            sortOrder="3200"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="BlogResources"
            groupNameKey="FeedSettings"
			resourceKey="ManagingEditorEmail"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="Blog-ManagingEditorEmail-help"
            sortOrder="3205"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="BlogResources"
            groupNameKey="FeedSettings"
			resourceKey="LanguageCode"
			defaultValue="en-US"
			controlType="TextBox"
            controlSrc=""
            helpKey="Blog-LanguageCode-help"
            sortOrder="3210"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="BlogResources"
            groupNameKey="FeedSettings"
			resourceKey="FeedLogoUrl"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="Blog-FeedLogoUrl-help"
            sortOrder="3215"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="BlogResources"
            groupNameKey="FeedSettings"
			resourceKey="HasExplicitContent"
			defaultValue="false"
			controlType="CheckBox"
            controlSrc=""
             helpKey="Blog-HasExplicitContent-help"
            sortOrder="3300"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="BlogResources"
            groupNameKey="FeedSettings"
			resourceKey="iTunesMainCategory"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="Blog-iTunesMainCategory-help"
            sortOrder="3225"
			regexValidationExpression=""
			/>
	<featureSetting
			resourceFile="BlogResources"
            groupNameKey="FeedSettings"
			resourceKey="iTunesSubCategory"
			defaultValue=""
			controlType="TextBox"
            controlSrc=""
            helpKey="Blog-iTunesSubCategory-help"
            sortOrder="3235"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="BlogShowFeedLinksSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowFeedLinksSetting-help"
			sortOrder="4000"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="BlogShowAddFeedLinksSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowAddFeedLinksSetting-help"
			sortOrder="4100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="AddFeedDiscoveryLink"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-AddFeedDiscoveryLink-help"
			sortOrder="4150"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="BlogDisableFeedSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogDisableFeedSetting-help"
			sortOrder="4200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="MaxFeedItems"
			defaultValue="20"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogRSSCacheTimeSetting-help"
			sortOrder="4250"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="BlogRSSCacheTimeSetting"
			defaultValue="120"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogRSSCacheTimeSetting-help"
			sortOrder="4300"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="RSSAddSignature"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogRSSAddSignature-help"
			sortOrder="4400"
			regexValidationExpression=""
			/>
    
		
		
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="RSSAddCommentsLink"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogRSSAddCommentsLink-help"
			sortOrder="4500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="OdiogoFeedIDSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogOdiogoFeedIDSetting-help"
			sortOrder="4600"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="OdiogoPodcastUrlSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogOdiogoPodcastUrlSetting-help"
			sortOrder="4700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="BlogAddThisRssButtonImageUrlSetting"
			defaultValue="~/Data/SiteImages/addthisrss.gif"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisRssButtonImageUrlSetting-help"
			sortOrder="4800"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="FeedSettings"
			resourceKey="BlogFeedburnerFeedUrl"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogFeedburnerFeedUrl-help"
			sortOrder="4900"
			regexValidationExpression=""
			/>
    
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="NavigationSettings"
			resourceKey="BlogShowCalendarSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowCalendarSetting-help"
			sortOrder="5000"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="BlogResources"
			groupNameKey="NavigationSettings"
			resourceKey="ShowCalendarOnPostDetail"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="5001"
			regexValidationExpression=""
			/>
			
			
			
			
			
			
	<featureSetting
			resourceFile="BlogResources"
			groupNameKey="NavigationSettings"
			resourceKey="BlogShowArchiveSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowArchiveSetting-help"
			sortOrder="5100"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="NavigationSettings"
			resourceKey="BlogShowCategoriesSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowCategoriesSetting-help"
			sortOrder="5200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="NavigationSettings"
			resourceKey="BlogUseTagCloudForCategoriesSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogUseTagCloudForCategoriesSetting-help"
			sortOrder="5300"
			regexValidationExpression=""
			/>
	<featureSetting
			resourceFile="BlogResources"
			groupNameKey="NavigationSettings"
			resourceKey="BlogNavigationOnRightSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogNavigationOnRightSetting-help"
			sortOrder="5400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="NavigationSettings"
			resourceKey="BlogShowStatisticsSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowStatisticsSetting-help"
			sortOrder="5500"
			regexValidationExpression=""
			/>

    <featureSetting
		 resourceFile="BlogResources"
		 groupNameKey="NavigationSettings"
		 resourceKey="ShowNextPreviousLinks"
		 defaultValue="true"
		 controlType="CheckBox"
		 controlSrc=""
		 helpKey="Blog-ShowNextPreviousLinks-help"
		 sortOrder="5510"
		 regexValidationExpression=""
			/>
    
    
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="ContentNotifyOnComment"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogContentNotifyOnComment-help"
			sortOrder="6000"
			regexValidationExpression=""
			/>
    
		
		
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="BlogAllowComments"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogAllowComments-help"
			sortOrder="6100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="RequireApprovalForComments"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-RequireApprovalForComments-help"
			sortOrder="6150"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="BlogCommentForDaysDefault"
			defaultValue="90"
			controlType="ISettingControl"
			controlSrc="~/Blog/Controls/CommentDaysSetting.ascx"
			helpKey=""
			sortOrder="6200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="AllowCommentTitle"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-AllowCommentTitle-help"
			sortOrder="6250"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="AllowWebSiteUrlForComments"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogAllowWebSiteUrlForComments-help"
			sortOrder="6300"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="BlogUseCommentSpamBlocker"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogUseCommentSpamBlocker-help"
			sortOrder="6400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="RequireAuthenticationForComments"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogRequireAuthenticationForComments-help"
			sortOrder="6500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="SortCommentsDescending"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-SortCommentsDescending-help"
			sortOrder="6550"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="CommentSystemSetting"
			defaultValue="internal"
			controlType="ISettingControl"
			controlSrc="~/Controls/CommentSystems/CommentSystemSetting.ascx"
			helpKey="Blog-CommentSystemSetting-help"
			sortOrder="6600"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="IntenseDebateAccountId"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="Blog-IntenseDebateAccountId-help"
			sortOrder="6700"
			regexValidationExpression=""
			/>
    
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="CommentSystemSettings"
			resourceKey="DisqusSiteShortName"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="Blog-DisqusSiteShortName-help"
			sortOrder="6800"
			regexValidationExpression=""
			/>

    <!-- commented out as of blog version 2.6.0.9 where these settings where moved to be per post-->
    <!--
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="UseBingMap"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-usebingmaps-help"
			sortOrder="6900"
			regexValidationExpression=""
			/>
    
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapHeightSetting"
			defaultValue="300"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogGoogleMapHeightSetting-help"
			sortOrder="7000"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapWidthSetting"
			defaultValue="500"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogGoogleMapWidthSetting-help"
			sortOrder="7100"
			regexValidationExpression="^[1-9][0-9]{0,4}[px|%]?"
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapEnableMapTypeSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogGoogleMapEnableMapTypeSetting-help"
			sortOrder="7200"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapEnableZoomSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogGoogleMapEnableZoomSetting-help"
			sortOrder="7300"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapShowInfoWindowSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogGoogleMapShowInfoWindowSetting-help"
			sortOrder="7400"
			regexValidationExpression=""
			/>

    

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapEnableLocalSearchSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogGoogleMapEnableLocalSearchSetting-help"
			sortOrder="7500"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapEnableDirectionsSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogGoogleMapEnableDirectionsSetting-help"
			sortOrder="7600"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapInitialMapTypeSetting"
			defaultValue="G_SATELLITE_MAP"
			controlType="ISettingControl"
			controlSrc="~/Controls/GMapTypeSetting.ascx"
			helpKey="BlogGoogleMapInitialMapTypeSetting-help"
			sortOrder="7700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MapSettings"
			resourceKey="GoogleMapInitialZoomSetting"
			defaultValue="13"
			controlType="ISettingControl"
			controlSrc="~/Controls/GMapZoomLevelSetting.ascx"
			helpKey="BlogGoogleMapInitialZoomSetting-help"
			sortOrder="7800"
			regexValidationExpression=""
			/>
      -->
    


    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogHideAddThisButtonSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogHideAddThisButtonSetting-help"
			sortOrder="7950"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisDotComUsernameSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisDotComUsernameSetting-help"
			sortOrder="7980"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="ShowPlusOneButton"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-ShowPlusOneButton-help"
			sortOrder="8000"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="ShowTweetThisLink"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-ShowTweetThisLink-help"
			sortOrder="8010"
			regexValidationExpression=""
			/>

    

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="AddTweetThisToFeed"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-AddTweetThisToFeed-help"
			sortOrder="8020"
			regexValidationExpression=""
			/>
    
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="UseFacebookLikeButton"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-UseFacebookLikeButton-help"
			sortOrder="8050"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="AddFacebookLikeToFeed"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-AddFacebookLikeToFeed-help"
			sortOrder="8051"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="FacebookLikeButtonTheme"
			defaultValue="light"
			controlType="ISettingControl"
			controlSrc="~/Controls/Sharing/FacebookLikeButtonThemeSetting.ascx"
			helpKey="FacebookLikeButtonTheme-help"
			sortOrder="8100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="FacebookLikeButtonShowFaces"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="FacebookLikeButtonShowFaces-help"
			sortOrder="8100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="FacebookLikeButtonWidth"
			defaultValue="450"
			controlType="TextBox"
			controlSrc=""
			helpKey="FacebookLikeButtonWidth-help"
			sortOrder="8200"
			regexValidationExpression="^[1-9][0-9]{1,4}$"
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="FacebookLikeButtonHeight"
			defaultValue="35"
			controlType="TextBox"
			controlSrc=""
			helpKey="FacebookLikeButtonHeight-help"
			sortOrder="8300"
			regexValidationExpression="^[1-9][0-9]{1,4}$"
			/>
    
    
    
    <!-- removed as of blog version 2.6.0.2 -->
    <!-- 
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisDotComUseMouseOverWidgetSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogAddThisDotComUseMouseOverWidgetSetting-help"
			sortOrder="8600"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisButtonImageUrlSetting"
			defaultValue="~/Data/SiteImages/addthissharebutton.gif"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisButtonImageUrlSetting-help"
			sortOrder="8700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisCustomBrandSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisCustomBrandSetting-help"
			sortOrder="8800"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisCustomOptionsSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisCustomOptionsSetting-help"
			sortOrder="8900"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisCustomLogoUrlSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisCustomLogoUrlSetting-help"
			sortOrder="9000"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisCustomLogoBackColorSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisCustomLogoBackColorSetting-help"
			sortOrder="9100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="BlogAddThisCustomLogoForeColorSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogAddThisCustomLogoForeColorSetting-help"
			sortOrder="9200"
			regexValidationExpression=""
			/>
      
      -->
    
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="EnableContentRatingSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogEnableContentRatingSetting-help"
			sortOrder="9300"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SocialSettings"
			resourceKey="EnableRatingCommentsSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogEnableRatingCommentsSetting-help"
			sortOrder="9400"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SidebarSettings"
			resourceKey="UpperSidebar"
			defaultValue=""
			controlType="ISettingControl"
			controlSrc="~/Controls/HtmlSetting.ascx"
			helpKey=""
			sortOrder="9500"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="SidebarSettings"
			resourceKey="LowerSidebar"
			defaultValue=""
			controlType="ISettingControl"
			controlSrc="~/Controls/HtmlSetting.ascx"
			helpKey=""
			sortOrder="9600"
			regexValidationExpression=""
			/>
			
	

<featureSetting
	resourceFile="BlogResources"
	groupNameKey="GoogleNewsSettings"
	resourceKey="ShowGoogleNewsTabInEditPage"
	defaultValue="false"
	controlType="CheckBox"
	controlSrc=""
	helpKey="Blog-ShowGoogleNewsTabInEditPage-help"
	sortOrder="9610"
	regexValidationExpression=""
/>	
			
<featureSetting
	resourceFile="BlogResources"
	groupNameKey="GoogleNewsSettings"
	resourceKey="DefaultPublicationName"
	defaultValue=""
	controlType="TextBox"
	controlSrc=""
	helpKey="Blog-DefaultPublicationName-help"
	sortOrder="9620"
	regexValidationExpression=""
/>			
<featureSetting
	resourceFile="BlogResources"
	groupNameKey="GoogleNewsSettings"
	resourceKey="DefaultPublicationLanguage"
	defaultValue="en"
	controlType="TextBox"
	controlSrc=""
	helpKey="Blog-DefaultPublicationLanguage-help"
	sortOrder="9630"
	regexValidationExpression=""
/>	
<featureSetting
	resourceFile="BlogResources"
	groupNameKey="GoogleNewsSettings"
	resourceKey="PublicationAccess"
	defaultValue=""
	controlType="ISettingControl"
	controlSrc="~/Blog/Controls/PublicationAccessSetting.ascx"
	helpKey="Blog-PublicationAccess-help"
	sortOrder="9640"
	regexValidationExpression=""
	/>
<featureSetting
	resourceFile="BlogResources"
	groupNameKey="GoogleNewsSettings"
	resourceKey="DefaultGenres"
	defaultValue=""
	controlType="TextBox"
	controlSrc=""
	helpKey="Blog-DefaultGenres-help"
	sortOrder="9650"
	regexValidationExpression=""
/>	
<featureSetting
	resourceFile="BlogResources"
	groupNameKey="GoogleNewsSettings"
	resourceKey="DefaultIncludeInNewsChecked"
	defaultValue="false"
	controlType="CheckBox"
	controlSrc=""
	helpKey="Blog-DefaultIncludeInNewsChecked-help"
	sortOrder="9660"
	regexValidationExpression=""
/>
<featureSetting
	resourceFile="BlogResources"
	groupNameKey="GoogleNewsSettings"
	resourceKey="DefaultIncludeImageInExcerptChecked"
	defaultValue="true"
	controlType="CheckBox"
	controlSrc=""
	helpKey="Blog-DefaultIncludeImageInExcerptChecked-help"
	sortOrder="9670"
	regexValidationExpression=""
/>			
			
			
			
			
			
			
    
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="ShowPageLeftContentSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowPageLeftContentSetting-help"
			sortOrder="10000"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="ShowPageRightContentSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogShowPageRightContentSetting-help"
			sortOrder="10100"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="BlogEnableVersioningSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="html-version-help"
			sortOrder="10200"
			regexValidationExpression=""
			/>
    
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="BlogVersionPageSizeSetting"
			defaultValue="10"
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogVersionPageSizeSetting-help"
			sortOrder="10300"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="custom-module-css-class-help"
			sortOrder="10400"
			regexValidationExpression="^([\s]?[a-zA-Z]+[_\-a-zA-Z0-9]+)*\z+"
			/>

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="MaxMetaweblogRecentItems"
			defaultValue="100"
			controlType="TextBox"
			controlSrc=""
			helpKey="blog-MaxMetaweblogRecentItems-help"
			sortOrder="10500"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>

    <!-- moved to per post setting as ov blog version 2.6.0.9 
    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="IncludeDownloadLinkForMediaAttachments"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="Blog-IncludeDownloadLinkForMediaAttachments-help"
			sortOrder="10600"
			regexValidationExpression=""
			/>
      -->

    <featureSetting
			resourceFile="BlogResources"
			groupNameKey="MiscellaneousSettings"
			resourceKey="GoogleMapIncludeWithExcerptSetting"
			defaultValue="false"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlogGoogleMapIncludeWithExcerptSetting-help"
			sortOrder="10600"
			regexValidationExpression=""
			/>


  </featureDefinition>
</featureDefinitions>

