
CREATE SEQUENCE mp_mediafileid_seq
INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;


CREATE TABLE "mp_mediafile" (
	"fileid" integer  DEFAULT nextval(('"mp_mediafileid_seq"'::text)::regclass) NOT NULL, 
    "trackid" int4 NOT NULL,
    "filepath" varchar(255) NOT NULL,
    "addeddate" timestamp NOT NULL,
    "userguid" char(36) NULL
	);
	
CREATE UNIQUE INDEX "mp_mediafile_pkey"
  ON "mp_mediafile"("fileid");     
ALTER TABLE mp_mediafile
ADD CONSTRAINT pk_mediafile PRIMARY KEY (fileid);   

CREATE SEQUENCE mp_mediatrackid_seq
INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;;

CREATE TABLE "mp_mediatrack" (
	"trackid" integer DEFAULT nextval(('"mp_mediatrackid_seq"'::text)::regclass) NOT NULL , 
    "playerid" int4 NOT NULL,
    "tracktype" varchar(10) NOT NULL,
    "trackorder" int4 NOT NULL,
    "name" varchar(100) NOT NULL,
    "artist" varchar(100) NULL,
    "createddate" timestamp NOT NULL,
    "userguid" char(36) NULL
	);
	
CREATE UNIQUE INDEX "mp_mediatrack_pkey"
  ON "mp_mediatrack"("trackid");     
ALTER TABLE mp_mediatrack
ADD CONSTRAINT pk_mediatrack PRIMARY KEY (trackid);  

CREATE SEQUENCE mp_mediaplayerid_seq
INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;;


CREATE TABLE "mp_mediaplayer" (
	"playerid" integer DEFAULT nextval(('"mp_mediaplayerid_seq"'::text)::regclass) NOT NULL , 
    "moduleid" int4 NOT NULL,
    "playertype" varchar(10) NOT NULL,
    "skin" varchar(50) NOT NULL,
    "createddate" timestamp NOT NULL,
    "userguid" char(36) NULL,
    "moduleguid" char(36) NULL
	);
	
CREATE UNIQUE INDEX "mp_mediaplayer_pkey"
  ON "mp_mediaplayer"("playerid");     
ALTER TABLE mp_mediaplayer
ADD CONSTRAINT pk_mediaplayer PRIMARY KEY (playerid); 
