UPDATE mp_UserRoles
SET RoleGuid = (SELECT FIRST 1 RoleGuid from mp_Roles
		WHERE mp_UserRoles.RoleID = mp_Roles.RoleID);

UPDATE mp_Modules
SET FeatureGuid = (SELECT FIRST 1 Guid from mp_ModuleDefinitions
		WHERE mp_Modules.ModuleDefID = mp_ModuleDefinitions.ModuleDefID);

 
UPDATE mp_ModuleSettings
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_ModuleSettings.ModuleID);


UPDATE mp_PageModules
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_PageModules.ModuleID),
	PageGuid = (SELECT FIRST 1 PageGuid from mp_Pages
		WHERE mp_Pages.PageID = mp_PageModules.PageID);


UPDATE mp_Blogs
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_Blogs.ModuleID),
	LastModUtc = CreatedDate;
	
UPDATE mp_BlogStats
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_BlogStats.ModuleID);
		
UPDATE mp_CalendarEvents
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_CalendarEvents.ModuleID);

UPDATE mp_CalendarEvents
SET UserGuid = (SELECT FIRST 1 UserGuid from mp_Users
		WHERE mp_Users.UserID = mp_CalendarEvents.UserID)
WHERE UserID > 0;

UPDATE mp_GalleryImages
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_GalleryImages.ModuleID);


UPDATE mp_HtmlContent
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_HtmlContent.ModuleID),
	LastModUtc = CreatedDate;

UPDATE mp_Links
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_Links.ModuleID);


UPDATE mp_Links
SET UserGuid = (SELECT FIRST 1 UserGuid from mp_Users
		WHERE mp_Users.UserID = mp_Links.CreatedBy)
WHERE CreatedBy > 0;

UPDATE mp_SharedFileFolders
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_SharedFileFolders.ModuleID);
		
UPDATE mp_SharedFiles
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_SharedFiles.ModuleID);


UPDATE mp_SharedFiles
SET FolderGuid = (SELECT FIRST 1 f.FolderGuid from mp_SharedFileFolders f
		WHERE mp_SharedFiles.FolderID = f.FolderID)
WHERE FolderID > 0;

UPDATE mp_SharedFiles
SET UserGuid = (SELECT FIRST 1 UserGuid from mp_Users
		WHERE mp_Users.UserID = mp_SharedFiles.UploadUserID)
WHERE UploadUserID > 0;

UPDATE mp_SharedFilesHistory
SET UserGuid = (SELECT FIRST 1 UserGuid from mp_Users
		WHERE mp_Users.UserID = mp_SharedFilesHistory.UploadUserID)
WHERE UploadUserID > 0;

UPDATE mp_SharedFilesHistory
SET ItemGuid = (SELECT FIRST 1 ItemGuid from mp_SharedFiles
		WHERE mp_SharedFiles.ItemID = mp_SharedFilesHistory.ItemID);
		
UPDATE mp_SharedFilesHistory
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_SharedFilesHistory.ModuleID);


UPDATE mp_RssFeeds
SET ModuleGuid = (SELECT FIRST 1 Guid from mp_Modules
		WHERE mp_Modules.ModuleID = mp_RssFeeds.ModuleID);
		