CREATE TABLE `mp_CalendarEvents` (
  `ItemID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `Title` varchar(255) NOT NULL default '',
  `Description` text,
  `ImageName` varchar(100) default NULL,
  `EventDate` datetime default NULL,
  `StartTime` datetime default NULL,
  `EndTime` datetime default NULL,
  `CreatedDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `UserID` int(11) NOT NULL default '0',
  `ItemGuid` varchar(36) default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `UserGuid` varchar(36) default NULL,
  `LastModUserGuid` varchar(36) default NULL,
  `Location` text,
  `LastModUtc` datetime default NULL,
  `RequiresTicket` tinyint(1) unsigned default '0',
  `TicketPrice` decimal(15,4) default NULL,
  PRIMARY KEY  (`ItemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

