ALTER TABLE mp_Sites ADD GmapApiKey VARCHAR(255);
ALTER TABLE mp_Sites ADD ApiKeyExtra1 VARCHAR(255);
ALTER TABLE mp_Sites ADD ApiKeyExtra2 VARCHAR(255);
ALTER TABLE mp_Sites ADD ApiKeyExtra3 VARCHAR(255);
ALTER TABLE mp_Sites ADD ApiKeyExtra4 VARCHAR(255);
ALTER TABLE mp_Sites ADD ApiKeyExtra5 VARCHAR(255);

ALTER TABLE mp_Users ADD SiteGuid VARCHAR(36);
	
ALTER TABLE mp_SiteHosts ADD SiteGuid VARCHAR(36);

ALTER TABLE mp_SitePaths ADD SiteGuid VARCHAR(36);

ALTER TABLE mp_UserPages ADD SiteGuid VARCHAR(36);

ALTER TABLE mp_WebParts ADD SiteGuid VARCHAR(36);

ALTER TABLE mp_SiteModuleDefinitions ADD SiteGuid VARCHAR(36);
ALTER TABLE mp_SiteModuleDefinitions ADD FeatureGuid VARCHAR(36);

ALTER TABLE mp_FriendlyUrls ADD SiteGuid VARCHAR(36);
ALTER TABLE mp_FriendlyUrls ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_FriendlyUrls ADD PageGuid VARCHAR(36);

ALTER TABLE mp_Pages ADD SiteGuid VARCHAR(36);
ALTER TABLE mp_Pages ADD CompiledMeta Blob sub_type 1;
ALTER TABLE mp_Pages ADD CompiledMetaUtc Timestamp;
	
ALTER TABLE mp_Roles ADD SiteGuid VARCHAR(36);
ALTER TABLE mp_Roles ADD RoleGuid VARCHAR(36);

ALTER TABLE mp_UserRoles ADD UserGuid VARCHAR(36);
ALTER TABLE mp_UserRoles ADD RoleGuid VARCHAR(36);

ALTER TABLE mp_Modules ADD Guid VARCHAR(36);
ALTER TABLE mp_Modules ADD FeatureGuid VARCHAR(36);
ALTER TABLE mp_Modules ADD SiteGuid VARCHAR(36);
ALTER TABLE mp_Modules ADD EditUserGuid VARCHAR(36);

ALTER TABLE mp_ModuleSettings ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_ModuleSettings ADD SettingGuid VARCHAR(36);

ALTER TABLE mp_PageModules ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_PageModules ADD PageGuid VARCHAR(36);


ALTER TABLE mp_Blogs ADD BlogGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD Location Blob sub_type 1;
ALTER TABLE mp_Blogs ADD UserGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD LastModUserGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD LastModUtc Timestamp;

ALTER TABLE mp_BlogStats ADD ModuleGuid VARCHAR(36);

ALTER TABLE mp_CalendarEvents ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD UserGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD LastModUserGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD Location Blob sub_type 1;
ALTER TABLE mp_CalendarEvents ADD LastModUtc Timestamp;
ALTER TABLE mp_CalendarEvents ADD RequiresTicket Smallint;
ALTER TABLE mp_CalendarEvents ADD TicketPrice decimal(15,4);

ALTER TABLE mp_GalleryImages ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_GalleryImages ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_GalleryImages ADD UserGuid VARCHAR(36);

ALTER TABLE mp_HtmlContent ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD UserGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD LastModUserGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD LastModUtc Timestamp;

ALTER TABLE mp_Links ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_Links ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_Links ADD UserGuid VARCHAR(36);

ALTER TABLE mp_SharedFileFolders ADD FolderGuid VARCHAR(36);
ALTER TABLE mp_SharedFileFolders ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_SharedFileFolders ADD ParentGuid VARCHAR(36);

ALTER TABLE mp_SharedFiles ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD UserGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD FolderGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD FileBlob BLOB;

ALTER TABLE mp_SharedFilesHistory ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_SharedFilesHistory ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_SharedFilesHistory ADD UserGuid VARCHAR(36);

ALTER TABLE mp_RssFeeds ADD ItemGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD ModuleGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD UserGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD LastModUserGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD LastModUtc Timestamp;

alter table MP_PAGEMODULES
drop constraint FK_PAGEMODULES_MODULES;

alter table MP_PAGEMODULES
drop constraint FK_PAGEMODULES_PAGES; 


alter table MP_PAGEMODULES
add constraint FK_PAGEMODULES_MODULES 
foreign key(MODULEID)
references MP_MODULES(MODULEID); 
            
alter table MP_PAGEMODULES
add constraint FK_PAGEMODULES_PAGES 
foreign key(PAGEID)
references MP_PAGES(PAGEID); 

