UPDATE mp_SiteHosts
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_SiteHosts.SiteID);
		
		
UPDATE mp_SitePaths
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_SitePaths.SiteID);
		
UPDATE mp_Users
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Users.SiteID );
		
UPDATE mp_UserPages
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_UserPages.SiteID);
		
UPDATE mp_WebParts
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_WebParts.SiteID);


UPDATE mp_SiteModuleDefinitions
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_SiteModuleDefinitions.SiteID),
    FeatureGuid = (SELECT FIRST 1 Guid from mp_ModuleDefinitions
		WHERE mp_ModuleDefinitions.ModuleDefID = mp_SiteModuleDefinitions.ModuleDefID);

UPDATE mp_FriendlyUrls
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_FriendlyUrls.SiteID);

UPDATE mp_Pages
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Pages.SiteID);

UPDATE mp_Roles
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Roles.SiteID);

UPDATE mp_UserRoles
SET UserGuid = (SELECT FIRST 1 UserGuid from mp_Users
		WHERE mp_UserRoles.UserID = mp_Users.UserID);


UPDATE mp_Modules
SET SiteGuid = (SELECT FIRST 1 SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Modules.SiteID),
	FeatureGuid = (SELECT FIRST 1 Guid from mp_ModuleDefinitions
		WHERE mp_ModuleDefinitions.ModuleDefID = mp_Modules.ModuleDefID );
		
UPDATE mp_Modules	
SET EditUserGuid = (SELECT FIRST 1 UserGuid from mp_Users
		WHERE mp_Users.UserID = mp_Modules.EditUserID)
		
WHERE EditUserID > 0;


UPDATE mp_CalendarEvents
SET LastModUtc = CreatedDate,
	TicketPrice = 0,
	RequiresTicket = 0;





