CREATE TABLE MP_CONTACTFORMMESSAGE
(
  ROWGUID Varchar(36) NOT NULL,
  SITEGUID Varchar(36) NOT NULL,
  MODULEGUID Varchar(36) NOT NULL,
  EMAIL Varchar(100) NOT NULL,
  URL Varchar(255) NOT NULL,
  SUBJECT Varchar(255) NOT NULL,
  "Message" Blob sub_type 1 NOT NULL,
  CREATEDUTC Timestamp NOT NULL,
  CREATEDFROMIPADDRESS Varchar(255) NOT NULL,
  USERGUID Varchar(36) NOT NULL,
  PRIMARY KEY (ROWGUID)
);
