
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[i7_sflexi_items_SelectPageForDefinition]

@DefGuid UNIQUEIDENTIFIER
,@PageNumber INT
,@PageSize INT
,@SortDirection VARCHAR(4)
AS
SELECT TOP (@PageSize) *
FROM (
SELECT RowID = ROW_NUMBER() OVER (ORDER BY [SortOrder])
,TotalRows = Count(*) OVER ()
,i.*
FROM [dbo].[i7_sflexi_items] i
WHERE [DefinitionGuid] = @DefGuid
) a
WHERE a.RowID > ((@PageNumber - 1) * @PageSize)
ORDER BY
CASE WHEN @SortDirection = 'DESC' THEN [SortOrder] END DESC,
CASE WHEN @SortDirection = 'ASC' THEN [SortOrder] END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[i7_sflexi_items_SelectPageForDefinitionWithTerm]

@DefGuid UNIQUEIDENTIFIER
,@PageNumber INT
,@PageSize INT
,@SearchTerm NVARCHAR(max)
,@SortDirection VARCHAR(4)
AS
SELECT TOP (@PageSize) *
FROM (
SELECT RowID = ROW_NUMBER() OVER (ORDER BY [SortOrder])
,TotalRows = Count(*) OVER ()
,i.*
FROM [dbo].[i7_sflexi_items] i
JOIN (
SELECT DISTINCT ItemGuid
FROM [dbo].[i7_sflexi_values]
WHERE FieldValue LIKE '%' + @SearchTerm + '%'
) v ON v.ItemGuid = i.ItemGuid
WHERE [DefinitionGuid] = @DefGuid
) a
WHERE a.RowID > ((@PageNumber - 1) * @PageSize)
ORDER BY
CASE WHEN @SortDirection = 'DESC' THEN [SortOrder] END DESC,
CASE WHEN @SortDirection = 'ASC' THEN [SortOrder] END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[i7_sflexi_items_SelectPageForDefinitionWithTermAndField] 
@DEFGuid       UNIQUEIDENTIFIER, 
@PageNumber    INT, 
@PageSize      INT, 
@SearchTerm    NVARCHAR(max), 
@SearchField   NVARCHAR(max), 
@SortDirection VARCHAR(4) 
AS 
    SELECT TOP (@PageSize) * 
    FROM   (SELECT RowID = Row_number() 
                             OVER ( 
                               ORDER BY [sortorder]), 
                   TotalRows = Count(*) 
                                 OVER (), 
                   i.* 
            FROM   [dbo].[i7_sflexi_items] i 
                   JOIN (SELECT DISTINCT itemguid, 
                                         fieldguid 
                         FROM   [dbo].[i7_sflexi_values] 
                         WHERE  fieldvalue LIKE '%' + @SearchTerm + '%') v 
						 
                     ON v.itemguid = i.itemguid 
                   JOIN (SELECT DISTINCT fieldguid 
                         FROM   [dbo].[i7_sflexi_fields] 
                         WHERE  NAME = @SearchField
						 AND DefinitionGuid = @DefGuid) f 
                     ON f.fieldguid = v.fieldguid 
            WHERE i.[DefinitionGuid] = @DefGuid) a 
    WHERE  a.rowid > ( ( @PageNumber - 1 ) * @PageSize ) 
    ORDER  BY CASE 
                WHEN @SortDirection = 'DESC' THEN [sortorder] 
              END DESC, 
              CASE 
                WHEN @SortDirection = 'ASC' THEN [sortorder] 
              END 

GO
