SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[i7_sflexi_values_SelectAllByModuleGuid]

/*
Author:   			i7MEDIA
Created: 			2017-09-25
Last Modified: 		2017-09-25
*/

@ModuleGuid uniqueidentifier

AS

SELECT
		*

FROM
		[dbo].[i7_sflexi_values]

WHERE
		ModuleGuid = @ModuleGuid

GO

CREATE PROCEDURE [dbo].[i7_sflexi_values_SelectAllByDefinitionGuid]

/*
Author:   			i7MEDIA
Created: 			2017-09-25
Last Modified: 		2017-09-25
*/

@DefinitionGuid uniqueidentifier

AS

SELECT
		v.*

FROM
		[dbo].[i7_sflexi_values] v
JOIN		[dbo].[i7_sflexi_fields] f on f.FieldGuid = v.FieldGuid

WHERE
		f.DefinitionGuid = @DefinitionGuid

GO    
