ALTER TABLE [dbo].[i7_sflexi_fields] ALTER COLUMN [ControlType] NVARCHAR(25);

ALTER TABLE [dbo].i7_sflexi_fields ADD IsGlobal BIT;

GO
UPDATE [dbo].i7_sflexi_fields SET IsGlobal = 0 WHERE IsGlobal IS NULL;
GO

/****** Object:  StoredProcedure [dbo].[i7_sflexi_fields_Insert]    Script Date: 6/8/2016 2:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[i7_sflexi_fields_Insert]

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2016-5-26
*/
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@DefinitionGuid uniqueidentifier,
@FieldGuid uniqueidentifier,
@DefinitionName nvarchar(50),
@Name nvarchar(50),
@Label nvarchar(255),
@DefaultValue nvarchar(max),
@ControlType nvarchar(25),
@ControlSrc nvarchar(max),
@SortOrder int,
@HelpKey nvarchar(255),
@Required bit,
@RequiredMessageFormat nvarchar(max),
@Regex nvarchar(max),
@RegexMessageFormat nvarchar(max),
@Token nvarchar(50),
@PreTokenString nvarchar(max),
@PostTokenString nvarchar(max),
@Searchable bit,
@EditPageControlWrapperCssClass nvarchar(50),
@EditPageLabelCssClass nvarchar(50),
@EditPageControlCssClass nvarchar(50),
@DatePickerIncludeTimeForDate bit,
@DatePickerShowMonthList bit,
@DatePickerShowYearList bit,
@DatePickerYearRange nvarchar(10),
@ImageBrowserEmptyUrl nvarchar(max),
@Options nvarchar(max),
@CheckBoxReturnBool bit,
@CheckBoxReturnValueWhenTrue nvarchar(max),
@CheckBoxReturnValueWhenFalse nvarchar(max),
@DateFormat nvarchar(max),
@TextBoxMode nvarchar(25),
@Attributes nvarchar(max),
@IsGlobal bit


AS

INSERT INTO 	[dbo].[i7_sflexi_fields]
(
[SiteGuid],
[FeatureGuid],
[DefinitionGuid],
[FieldGuid],
[DefinitionName],
[Name],
[Label],
[DefaultValue],
[ControlType],
[ControlSrc],
[SortOrder],
[HelpKey],
[Required],
[RequiredMessageFormat],
[Regex],
[RegexMessageFormat],
[Token],
[PreTokenString],
[PostTokenString],
[Searchable],
[EditPageControlWrapperCssClass],
[EditPageLabelCssClass],
[EditPageControlCssClass],
[DatePickerIncludeTimeForDate],
[DatePickerShowMonthList],
[DatePickerShowYearList],
[DatePickerYearRange],
[ImageBrowserEmptyUrl],
[Options],
[CheckBoxReturnBool],
[CheckBoxReturnValueWhenTrue],
[CheckBoxReturnValueWhenFalse],
[DateFormat],
[TextBoxMode],
[Attributes],
[IsGlobal]
)

VALUES
(
@SiteGuid,
@FeatureGuid,
@DefinitionGuid,
@FieldGuid,
@DefinitionName,
@Name,
@Label,
@DefaultValue,
@ControlType,
@ControlSrc,
@SortOrder,
@HelpKey,
@Required,
@RequiredMessageFormat,
@Regex,
@RegexMessageFormat,
@Token,
@PreTokenString,
@PostTokenString,
@Searchable,
@EditPageControlWrapperCssClass,
@EditPageLabelCssClass,
@EditPageControlCssClass,
@DatePickerIncludeTimeForDate,
@DatePickerShowMonthList,
@DatePickerShowYearList,
@DatePickerYearRange,
@ImageBrowserEmptyUrl,
@Options,
@CheckBoxReturnBool,
@CheckBoxReturnValueWhenTrue,
@CheckBoxReturnValueWhenFalse,
@DateFormat,
@TextBoxMode,
@Attributes,
@IsGlobal
)

GO

/****** Object:  StoredProcedure [dbo].[i7_sflexi_fields_Update]    Script Date: 6/8/2016 2:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[i7_sflexi_fields_Update]

/*
Author:   			i7MEDIA
Created: 			2015-3-6
Last Modified: 		2016-6-08
*/

@FieldGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@DefinitionGuid uniqueidentifier,
@DefinitionName nvarchar(50),
@Name nvarchar(50),
@Label nvarchar(255),
@DefaultValue nvarchar(max),
@ControlType nvarchar(25),
@ControlSrc nvarchar(max),
@SortOrder int,
@HelpKey nvarchar(255),
@Required bit,
@RequiredMessageFormat nvarchar(max),
@Regex nvarchar(max),
@RegexMessageFormat nvarchar(max),
@Token nvarchar(50),
@PreTokenString nvarchar(max),
@PostTokenString nvarchar(max),
@Searchable bit,
@EditPageControlWrapperCssClass nvarchar(50),
@EditPageLabelCssClass nvarchar(50),
@EditPageControlCssClass nvarchar(50),
@DatePickerIncludeTimeForDate bit,
@DatePickerShowMonthList bit,
@DatePickerShowYearList bit,
@DatePickerYearRange nvarchar(10),
@ImageBrowserEmptyUrl nvarchar(max),
@Options nvarchar(max),
@CheckBoxReturnBool bit,
@CheckBoxReturnValueWhenTrue nvarchar(max),
@CheckBoxReturnValueWhenFalse nvarchar(max),
@DateFormat nvarchar(max),
@TextBoxMode nvarchar(25),
@Attributes nvarchar(max),
@IsDeleted bit,
@IsGlobal bit

AS

UPDATE 		[dbo].[i7_sflexi_fields]

SET
[SiteGuid] = @SiteGuid,
[FeatureGuid] = @FeatureGuid,
[DefinitionGuid] = @DefinitionGuid,
[DefinitionName] = @DefinitionName,
[Name] = @Name,
[Label] = @Label,
[DefaultValue] = @DefaultValue,
[ControlType] = @ControlType,
[ControlSrc] = @ControlSrc,
[SortOrder] = @SortOrder,
[HelpKey] = @HelpKey,
[Required] = @Required,
[RequiredMessageFormat] = @RequiredMessageFormat,
[Regex] = @Regex,
[RegexMessageFormat] = @RegexMessageFormat,
[Token] = @Token,
[PreTokenString] = @PreTokenString,
[PostTokenString] = @PostTokenString,
[Searchable] = @Searchable,
[EditPageControlWrapperCssClass] = @EditPageControlWrapperCssClass,
[EditPageLabelCssClass] = @EditPageLabelCssClass,
[EditPageControlCssClass] = @EditPageControlCssClass,
[DatePickerIncludeTimeForDate] = @DatePickerIncludeTimeForDate,
[DatePickerShowMonthList] = @DatePickerShowMonthList,
[DatePickerShowYearList] = @DatePickerShowYearList,
[DatePickerYearRange] = @DatePickerYearRange,
[ImageBrowserEmptyUrl] = @ImageBrowserEmptyUrl,
[Options] = @Options,
[CheckBoxReturnBool] = @CheckBoxReturnBool,
[CheckBoxReturnValueWhenTrue] = @CheckBoxReturnValueWhenTrue,
[CheckBoxReturnValueWhenFalse] = @CheckBoxReturnValueWhenFalse,
[DateFormat] = @DateFormat,
[TextBoxMode] = @TextBoxMode,
[Attributes] = @Attributes,
[IsDeleted] = @IsDeleted,
[IsGlobal] = @IsGlobal
WHERE
[FieldGuid] = @FieldGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[i7_sflexi_values_SelectByGuid]

/*
Author:   			i7MEDIA
Created: 			2016-6-10
Last Modified: 		2016-6-10
*/

@FieldGuid uniqueidentifier

AS


SELECT
[ValueGuid],
[SiteGuid],
[FeatureGuid],
[ModuleGuid],
[ItemGuid],
[FieldGuid],
[FieldValue]

FROM
[dbo].[i7_sflexi_values]
WHERE
[dbo].[i7_sflexi_values].FieldGuid = @FieldGuid

GO


CREATE PROCEDURE [dbo].[i7_sflexi_values_SelectByGuidForModule]

/*
Author:   			i7MEDIA
Created: 			2016-6-10
Last Modified: 		2016-6-10
*/

@FieldGuid uniqueidentifier,
@ModuleGuid uniqueidentifier
AS


SELECT
[ValueGuid],
[SiteGuid],
[FeatureGuid],
[ModuleGuid],
[ItemGuid],
[FieldGuid],
[FieldValue]

FROM
[dbo].[i7_sflexi_values]
WHERE
[dbo].[i7_sflexi_values].FieldGuid = @FieldGuid
AND
[dbo].[i7_sflexi_values].ModuleGuid = @ModuleGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[i7_sflexi_values_SelectByGuidForModuleById]

/*
Author:   			i7MEDIA
Created: 			2016-6-10
Last Modified: 		2016-6-10
*/

@FieldGuid uniqueidentifier,
@ModuleId int
AS


SELECT
[ValueGuid],
sflexi_values.[SiteGuid],
sflexi_values.[FeatureGuid],
[ModuleGuid],
[ItemGuid],
[FieldGuid],
[FieldValue]

FROM
[dbo].[i7_sflexi_values] sflexi_values
JOIN
[mp_Modules] modules ON modules.Guid = sflexi_values.ModuleGuid
WHERE
sflexi_values.FieldGuid = @FieldGuid
AND
modules.ModuleID = @ModuleId

GO