GO
CREATE TABLE [dbo].i7_sflexi_searchdefs
(
Guid uniqueidentifier NOT NULL,
SiteGuid uniqueidentifier NOT NULL,
FeatureGuid uniqueidentifier NOT NULL,
FieldDefinitionGuid uniqueidentifier NOT NULL,
Title nvarchar(MAX) NOT NULL,
Keywords nvarchar(MAX) NOT NULL,
Description nvarchar(MAX) NOT NULL,
Link nvarchar(MAX) NOT NULL,
LinkQueryAddendum nvarchar(MAX) NOT NULL
)  ON [PRIMARY]
TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].i7_sflexi_searchdefs ADD CONSTRAINT
PK_i7_sflexi_searchdefs PRIMARY KEY CLUSTERED
(
Guid
) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE [dbo].i7_sflexi_searchdefs SET (LOCK_ESCALATION = TABLE)
GO

CREATE PROCEDURE [dbo].[i7_sflexi_searchdefs_Delete]

/*
Author:   			i7MEDIA
Created: 			2016-09-12
Last Modified: 		2016-09-12
*/

@Guid uniqueidentifier

AS

DELETE FROM [i7_searchdefs_fields]
WHERE
[Guid] = @Guid
GO

CREATE PROCEDURE [dbo].[i7_sflexi_searchdefs_DeleteByFieldDefinition]

/*
Author:   			i7MEDIA
Created: 			2016-09-12
Last Modified: 		2016-09-12
*/


@FieldDefinitionGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_searchdefs]
WHERE
[FieldDefinitionGuid] = @FieldDefinitionGuid

GO

CREATE PROCEDURE [dbo].[i7_sflexi_searchdefs_DeleteBySite]

/*
Author:   			i7MEDIA
Created: 			2016-09-12
Last Modified: 		2016-09-12
*/


@SiteGuid uniqueidentifier
AS
DELETE FROM [dbo].[i7_sflexi_searchdefs]
WHERE
[SiteGuid] = @SiteGuid

GO

CREATE PROCEDURE [dbo].[i7_sflexi_searchdefs_Insert]

/*
Author:   			i7MEDIA
Created: 			2016-09-12
Last Modified: 		2016-09-12
*/
@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@FieldDefinitionGuid uniqueidentifier,
@Title nvarchar(max),
@Keywords nvarchar(max),
@Description nvarchar(max),
@Link nvarchar(max),
@LinkQueryAddendum nvarchar(max)

AS

INSERT INTO 	[dbo].[i7_sflexi_searchdefs]
(
[Guid],
[SiteGuid],
[FeatureGuid],
[FieldDefinitionGuid],
[Title],
[Keywords],
[Description],
[Link],
[LinkQueryAddendum])

VALUES
(
@Guid,
@SiteGuid,
@FeatureGuid,
@FieldDefinitionGuid,
@Title,
@Keywords,
@Description,
@Link,
@LinkQueryAddendum)

GO

CREATE PROCEDURE [dbo].[i7_sflexi_searchdefs_SelectOne]

/*
Author:   			i7MEDIA
Created: 			2016-09-12
Last Modified: 		2016-09-12
*/

@Guid uniqueidentifier

AS


SELECT *

FROM
[dbo].[i7_sflexi_searchdefs]

WHERE
[Guid] = @Guid

GO


CREATE PROCEDURE [dbo].[i7_sflexi_searchdefs_SelectByFieldDefinition]

/*
Author:   			i7MEDIA
Created: 			2016-09-12
Last Modified: 		2016-09-12
*/

@FieldDefinitionGuid uniqueidentifier

AS


SELECT *

FROM
[dbo].[i7_sflexi_searchdefs]

WHERE
[FieldDefinitionGuid] = @FieldDefinitionGuid

GO


CREATE PROCEDURE [dbo].[i7_sflexi_searchdefs_Update]

/*
Author:   			i7MEDIA
Created: 			2016-09-12
Last Modified: 		2016-09-12
*/
@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@FeatureGuid uniqueidentifier,
@FieldDefinitionGuid uniqueidentifier,
@Title nvarchar(max),
@Keywords nvarchar(max),
@Description nvarchar(max),
@Link nvarchar(max),
@LinkQueryAddendum nvarchar(max)

AS

UPDATE 		[dbo].[i7_sflexi_searchdefs]

SET
[SiteGuid] = @SiteGuid,
[FeatureGuid] = @FeatureGuid,
[FieldDefinitionGuid] = @FieldDefinitionGuid,
[Title] = @Title,
[Keywords] = @Keywords,
[Description] = @Description,
[Link] = @Link,
[LinkQueryAddendum] = @LinkQueryAddendum

WHERE
[Guid] = @Guid

GO