CREATE TYPE integer_list_tbltype AS TABLE (n int NOT NULL);
CREATE TYPE guid_list_tbltype AS TABLE (n uniqueidentifier NOT NULL);


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






CREATE PROCEDURE [dbo].[i7_sflexi_items_SelectPageForModule]

-- Author:   			i7MEDIA
-- Created: 			2017-10-31
-- Last Modified: 		2017-10-31

@ModuleID		int,
@PageNumber 	int,
@PageSize 		int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

/*
Note: temp tables use the server default for collation not the database default
so if adding character columns be sure and specify to use the database collation like this
to avoid collation errors:

CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
)


*/

CREATE TABLE #PageIndex
(
IndexID int IDENTITY (1, 1) NOT NULL,
ItemGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex (
ItemGuid
)

SELECT
[ItemGuid]

FROM
[dbo].[i7_sflexi_items]

-- WHERE

-- ORDER BY

END


SELECT
t1.*

FROM
[dbo].[i7_sflexi_items] t1

JOIN			#PageIndex t2
ON
t1.[ItemGuid] = t2.[ItemGuid]

WHERE
t1.[ModuleID] = @ModuleID
AND t2.IndexID > @PageLowerBound
AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

	
	SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[i7_sflexi_values_SelectByItemGuids]

/*
Author:   			i7MEDIA
Created: 			2015-10-31
Last Modified: 		2015-10-31
*/

@ItemGuids guid_list_tbltype READONLY

AS


SELECT
		[ValueGuid],
		[SiteGuid],
		[FeatureGuid],
		[ModuleGuid],
		[ItemGuid],
		[FieldGuid],
		[FieldValue]
FROM
		[dbo].[i7_sflexi_values]
WHERE
		[ItemGuid] In (SELECT n from @ItemGuids)
		
GO