CREATE TABLE mp_SiteSettingsExDef (
 KeyName VARCHAR(128) NOT NULL , 
 GroupName VARCHAR(128) ,
 DefaultValue BLOB SUB_TYPE 1 ,
 SortOrder INTEGER NOT NULL,
PRIMARY KEY (KeyName)
);

CREATE TABLE mp_SiteSettingsEx (
 SiteID INTEGER NOT NULL ,  
 KeyName VARCHAR(128) NOT NULL , 
 SiteGuid VARCHAR(36) NOT NULL,
 KeyValue BLOB SUB_TYPE 1 ,
 GroupName VARCHAR(128) ,
PRIMARY KEY (SiteID,KeyName)
);