CREATE TABLE mp_ContentTemplate (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 Title VARCHAR(255) NOT NULL,
 ImageFileName VARCHAR(255) ,
 Description BLOB SUB_TYPE 1 ,
 Body BLOB SUB_TYPE 1 NOT NULL,
 AllowedRoles BLOB SUB_TYPE 1 ,
 CreatedByUser VARCHAR(36) NOT NULL,
 LastModUser VARCHAR(36) NOT NULL,
 CreatedUtc TIMESTAMP NOT NULL,
 LastModUtc TIMESTAMP NOT NULL,
 PRIMARY KEY (Guid)   
);

CREATE TABLE mp_ContentStyle (
 Guid VARCHAR(36) NOT NULL, 
 SiteGuid VARCHAR(36) NOT NULL,
 Name VARCHAR(100) NOT NULL,
 Element VARCHAR(50) NOT NULL,
 CssClass VARCHAR(50) NOT NULL,
 SkinName VARCHAR(100) NOT NULL,
 IsActive SMALLINT NOT NULL,
 CreatedUtc TIMESTAMP NOT NULL,
 LastModUtc TIMESTAMP NOT NULL,
 CreatedBy VARCHAR(36) NOT NULL,
 LastModBy VARCHAR(36) NOT NULL,
 PRIMARY KEY (Guid)   
);
