<?xml version="1.0" encoding="utf-8" ?>
<PayPalIPNHandlerProviders>
	<providers>

		<add name="DoNothingPayPalIPNHandlerProvider"
			 type="mojoPortal.Business.WebHelpers.PaymentGateway.DoNothingPayPalIPNHandlerProvider, mojoPortal.Business.WebHelpers"
			 description="This is a placeholder, do not delete this one. There must always be at least on provider in the collection." />

		
	</providers>
</PayPalIPNHandlerProviders>