<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="437a19b0-ef57-4963-b311-a1e13d9d883c"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlAzure"
		resourceFile="Resource"
		featureNameReasourceKey="WebPartFeatureName"
		controlSource="Modules/WebPartModule.ascx"
		sortOrder="2000"
		defaultCacheTime="360"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
    <featureSetting
			resourceFile="Resource"
			resourceKey="WebPartModuleWebPartSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>
    
	</featureDefinition>
</featureDefinitions>

