CREATE TABLE `mp_RssFeeds` (
  `ItemID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `CreatedDate` datetime default NULL,
  `UserID` int(11) NOT NULL default '0',
  `Author` varchar(100) NOT NULL default '',
  `Url` varchar(255) NOT NULL default '',
  `RssUrl` varchar(255) NOT NULL default '',
  `ItemGuid` varchar(36) default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `UserGuid` varchar(36) default NULL,
  `LastModUserGuid` varchar(36) default NULL,
  `LastModUtc` datetime default NULL,
  `ImageUrl` varchar(255) default NULL,
  `FeedType` varchar(20) default NULL,
  `PublishByDefault` int(11) default NULL,
  PRIMARY KEY  (`ItemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_RssFeedEntries` (
  `RowGuid` varchar(36) NOT NULL,
  `ModuleGuid` varchar(36) NOT NULL,
  `FeedGuid` varchar(36) NOT NULL,
  `FeedId` int(11) NOT NULL,
  `PubDate` datetime NOT NULL,
  `Title` varchar(255) NOT NULL,
  `Author` varchar(100) default NULL,
  `BlogUrl` varchar(255) NOT NULL,
  `Description` text NOT NULL,
  `Link` varchar(255) NOT NULL,
  `Confirmed` tinyint(1) unsigned NOT NULL,
  `EntryHash` int(11) NOT NULL,
  `CachedTimeUtc` datetime NOT NULL,
  PRIMARY KEY  (`RowGuid`),
  KEY `idxModuleGuid` (`ModuleGuid`),
  KEY `idxFeedId` (`FeedId`),
  KEY `idxEntryHash` (`EntryHash`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

