-- ----------------------------------------------------------------------------
-- Table i7_sflexi_searchdefs
-- ----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS `i7_sflexi_searchdefs` (
`Guid` VARCHAR(64) UNIQUE NOT NULL,
`SiteGuid` VARCHAR(64) NOT NULL,
`FeatureGuid` VARCHAR(64) NOT NULL,
`FieldDefinitionGuid` VARCHAR(64) NOT NULL,
`Title` LONGTEXT NOT NULL,
`Keywords` LONGTEXT NOT NULL,
`Description` LONGTEXT NOT NULL,
`Link` LONGTEXT NOT NULL,
`LinkQueryAddendum` LONGTEXT NOT NULL,
PRIMARY KEY (`Guid`));

-- ----------------------------------------------------------------------------
-- Table i7_sflexi_fields
-- ----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS `i7_sflexi_fields` (
`SiteGuid` VARCHAR(64) NOT NULL,
`FeatureGuid` VARCHAR(64) NOT NULL,
`DefinitionGuid` VARCHAR(64) NOT NULL,
`FieldGuid` VARCHAR(64) UNIQUE NOT NULL,
`DefinitionName` VARCHAR(50) NULL,
`Name` VARCHAR(50) NULL,
`Label` VARCHAR(255) NULL,
`DefaultValue` LONGTEXT NULL,
`ControlType` VARCHAR(25) NULL,
`ControlSrc` LONGTEXT NULL,
`SortOrder` INT NULL,
`HelpKey` VARCHAR(255) NULL,
`Required` TINYINT(1) NULL,
`RequiredMessageFormat` TEXT NULL,
`Regex` LONGTEXT NULL,
`RegexMessageFormat` TEXT NOT NULL,
`Token` VARCHAR(50) NULL,
`Searchable` TINYINT(1) NULL,
`EditPageControlWrapperCssClass` VARCHAR(50) NULL,
`EditPageLabelCssClass` VARCHAR(50) NULL,
`EditPageControlCssClass` VARCHAR(50) NULL,
`DatePickerIncludeTimeForDate` TINYINT(1) NULL,
`DatePickerShowMonthList` TINYINT(1) NULL,
`DatePickerShowYearList` TINYINT(1) NULL,
`DatePickerYearRange` VARCHAR(10) NULL,
`ImageBrowserEmptyUrl` LONGTEXT NULL,
`Options` LONGTEXT NULL,
`CheckBoxReturnBool` TINYINT(1) NULL,
`CheckBoxReturnValueWhenTrue` LONGTEXT NULL,
`CheckBoxReturnValueWhenFalse` LONGTEXT NULL,
`DateFormat` TEXT NULL,
`TextBoxMode` VARCHAR(25) NULL,
`Attributes` LONGTEXT NULL,
`IsDeleted` TINYINT(1) NULL DEFAULT 0,
`PreTokenString` LONGTEXT NULL,
`PostTokenString` LONGTEXT NULL,
`IsGlobal` TINYINT(1) NULL,
PRIMARY KEY (`FieldGuid`));

-- ----------------------------------------------------------------------------
-- Table i7_sflexi_items
-- ----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS `i7_sflexi_items` (
`SiteGuid` VARCHAR(64) NOT NULL,
`FeatureGuid` VARCHAR(64) NOT NULL,
`ModuleGuid` VARCHAR(64) NOT NULL,
`ModuleID` INT NOT NULL,
`DefinitionGuid` VARCHAR(64) NOT NULL,
`ItemGuid` VARCHAR(64) UNIQUE NOT NULL,
`ItemID` INT NOT NULL AUTO_INCREMENT,
`SortOrder` INT NOT NULL,
`CreatedUtc` DATETIME NOT NULL,
`LastModUtc` DATETIME NOT NULL,
PRIMARY KEY (`ItemID`, `ItemGuid`));

-- ----------------------------------------------------------------------------
-- Table i7_sflexi_values
-- ----------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS `i7_sflexi_values` (
`ValueGuid` VARCHAR(64) UNIQUE NOT NULL,
`SiteGuid` VARCHAR(64) NOT NULL,
`FeatureGuid` VARCHAR(64) NOT NULL,
`ModuleGuid` VARCHAR(64) NOT NULL,
`ItemGuid` VARCHAR(64) NOT NULL,
`FieldGuid` VARCHAR(64) NOT NULL,
`FieldValue` LONGTEXT NOT NULL,
PRIMARY KEY (`ValueGuid`));
