CREATE INDEX idxCROSiteGuid ON mp_CommerceReportOrders(SiteGuid);
CREATE INDEX idxCROUserGuid ON mp_CommerceReportOrders(UserGuid);
CREATE INDEX idxCROModuleGuid ON mp_CommerceReportOrders(ModuleGuid);
CREATE INDEX idxCROOrderGuid ON mp_CommerceReportOrders(OrderGuid);

-- CREATE INDEX idxCROCity ON mp_CommerceReportOrders(BillingCity);
-- CREATE INDEX idxCROPostCode ON mp_CommerceReportOrders(BillingPostalCode);
-- CREATE INDEX idxCROState ON mp_CommerceReportOrders(BillingState);
-- CREATE INDEX idxCROCountry ON mp_CommerceReportOrders(BillingCountry);
-- CREATE INDEX idxCROPayMethod ON mp_CommerceReportOrders(PaymentMethod);





