ALTER TABLE mp_Pages ADD 
PCreatedUtc Timestamp;

ALTER TABLE mp_Pages ADD 
PCreatedBy CHAR(36);

ALTER TABLE mp_Pages ADD 
PCreatedFromIp VARCHAR(36);

ALTER TABLE mp_Pages ADD 
PLastModUtc Timestamp;

ALTER TABLE mp_Pages ADD 
PLastModBy CHAR(36);

ALTER TABLE mp_Pages ADD 
PLastModFromIp VARCHAR(36);
