body{ font-size:12pt; font-family: "Times New Roman", sans-serif; }
img { border: 0px; }
#wrapwebsite {width:650px;   }
#wrapcenter {  }
#wrapfooter { text-align: center; }
.topnav { display:none;}
a.ModuleEditLink:active ,
a.ModuleEditLink:hover ,
a.ModuleEditLink:link ,
a.ModuleEditLink:visited {display:none;}

h1 { margin: 0px;}
h2 { margin: 0px;}
h3 { margin: 0px;}
h4 { margin: 0px;}
h1 {font-size: 105%;}
h2 {font-size: 100%;}
h3 {font-size: 95% ;}
h4 {font-size: 90%;}

a:link ,
a:visited ,
a:hover ,
a:active { color:black; }
.linkitem { padding: 4px 0px 4px 0px;}
.linkaltitem { padding: 4px 0px 4px 0px; }
.linkitem a { padding: 0px 0px 0px 4px;}
ul { font-size:smaller;}
ul.linkitem { list-style: none;  margin: 0px 0px 0px 0px; }
div.sitemap ul ,
div.sitemap ul li { font-size:100%; list-style: none; }
.skiplink {display:none}
.stats { display:none; }
.AspNet-TreeView,
.AspNet-Menu { display: none;}
