<?xml version="1.0" encoding="utf-8" ?>
<!-- JE - Added grouping, reordered settings [by sortOrder], and added settings for Colorbox -->
<featureDefinitions>
  <featureDefinition
		featureGuid="d572f6b4-d0ed-465d-ad60-60433893b401"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="GalleryResources"
		featureNameReasourceKey="ImageGalleryFeatureName"
		controlSource="ImageGallery/Gallery.ascx"
		sortOrder="540"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="true"
    searchListNameResourceKey="ImageGallerySearchName"
    deleteProvider="GalleryContentDeleteHandler"
    supportsPageReuse="true"
		>
    <!--
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryAllowFullSizeViewSetting"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>
      -->
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ImageSettings"
			resourceKey="GalleryShowTechnicalDataSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="1000"
			regexValidationExpression=""
			/>
    

    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ImageSettings"
			resourceKey="GalleryThumbnailHeightSetting"
			defaultValue="75"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="1020"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ImageSettings"
			resourceKey="GalleryThumbnailWidthSetting"
			defaultValue="100"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="1030"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ImageSettings"
			resourceKey="GalleryThumbnailsPerPageSetting"
			defaultValue="20"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="1040"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ImageSettings"
			resourceKey="GalleryWebImageHeightSetting"
			defaultValue="550"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="1050"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ImageSettings"
			resourceKey="GalleryWebImageWidthSetting"
			defaultValue="550"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="1060"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ImageSettings"
			resourceKey="ResizeBackgroundColor"
			defaultValue="#FFFFFF"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey="imagegallery-ResizeBackgroundColor-help"
      sortOrder="1070"
			regexValidationExpression=""
			/>
    
   


    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="GalleryCompactModeSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="2009"
			regexValidationExpression=""
			/>
    
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="ColorBoxTransition"
			defaultValue="elastic"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorBoxTransitionSetting.ascx"
      helpKey="colorbox-transition-help"
      sortOrder="2010"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="ColorBoxTransitionSpeed"
			defaultValue="350"
			controlType="TextBox"
      controlSrc=""
      helpKey="colorbox-transitionspeed-help"
      sortOrder="2020"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="ColorBoxOpacity"
			defaultValue=".7"
			controlType="TextBox"
      controlSrc=""
      helpKey="colorbox-opacity-help"
      sortOrder="2030"
			regexValidationExpression="^[01]$|^[.]\d$|^[.]\d\d$"
			/>
    
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="ColorBoxUseSlideshow"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="colorbox-slideshow-help"
      sortOrder="2040"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="ColorBoxSlideshowSpeed"
			defaultValue="3500"
			controlType="TextBox"
      controlSrc=""
      helpKey="colorbox-slideshowspeed-help"
      sortOrder="2050"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="ColorBoxSlideShowStartAuto"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="colorbox-SlideShowStartAuto-help"
      sortOrder="2055"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="ColorBoxSlideShowAuto"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="colorbox-slideshowauto-help"
      sortOrder="2060"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="ColorBoxSettings"
			resourceKey="UseNivoSlider"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="imagegallery-nivoslider-help"
      sortOrder="2080"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="GalleryResources"
      grouNameKey="MiscSettings"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="custom-module-css-class-help"
      sortOrder="4000"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
    
  </featureDefinition>
  
  
</featureDefinitions>

