
alter table MP_BLOGCOMMENTS
add constraint FK_BLOGCOMMENTS_BLOGS 
foreign key(ITEMID)
references MP_BLOGS(ITEMID); 

alter table MP_BLOGITEMCATEGORIES
add constraint FK_BLOGITEMCAT_BLOG 
foreign key(ITEMID)
references MP_BLOGS(ITEMID); 
            
alter table MP_BLOGITEMCATEGORIES
add constraint FK_BLOGITEMCAT_BLOGCAT
foreign key(CATEGORYID)
references MP_BLOGCATEGORIES(CATEGORYID); 

alter table MP_FORUMPOSTS
add constraint FK_FORUMPOSTS_HREAD
foreign key(THREADID)
references MP_FORUMTHREADS(THREADID); 

alter table MP_FORUMTHREADS
add constraint FK_FORUMTHREADS_FORUMS 
foreign key(FORUMID)
references MP_FORUMS(ITEMID); 

alter table MP_FORUMTHREADSUBSCRIPTIONS
add constraint FK_FORUMTS_FORUMTHREADS 
foreign key(THREADID)
references MP_FORUMTHREADS(THREADID); 

alter table MP_MODULESETTINGS
add constraint FK_MODULESET_MODULES 
foreign key(MODULEID)
references MP_MODULES(MODULEID); 

alter table MP_PAGEMODULES
add constraint FK_PAGEMODULES_MODULES 
foreign key(PAGEID)
references MP_MODULES(MODULEID); 
            
alter table MP_PAGEMODULES
add constraint FK_PAGEMODULES_PAGES 
foreign key(MODULEID)
references MP_PAGES(PAGEID); 

alter table MP_PAGES
add constraint FK_PAGES_SITES 
foreign key(SITEID)
references MP_SITES(SITEID); 


alter table MP_ROLES
add constraint FK_ROLES_SITES 
foreign key(SITEID)
references MP_SITES(SITEID); 

alter table MP_SCHEMASCRIPTHISTORY
add constraint FK_SCHEMASCRIPTHISTORY_SV 
foreign key(APPLICATIONID)
references MP_SCHEMAVERSION(APPLICATIONID); 

alter table MP_SHAREDFILESHISTORY
add constraint FK_SHAREDFILESHX_FILES 
foreign key(ITEMID)
references MP_SHAREDFILES(ITEMID); 

alter table MP_SITEMODULEDEFINITIONS
add constraint FK_SITEMODULEDEFS_SITE 
foreign key (SITEID)
references MP_SITES (SITEID);

alter table MP_SITEPATHS
add constraint FK_SITEPATHS_SITES 
foreign key (SITEID)
references MP_SITES (SITEID) ;

