CREATE INDEX IDX_BLOGCOMMENTS_ITEMID ON MP_BLOGCOMMENTS(ITEMID);

CREATE INDEX IDX_BLOGITEMCAT_ITEMID ON MP_BLOGITEMCATEGORIES(ITEMID);

CREATE INDEX IDX_BLOGITEMCAT_CATEGORYID ON MP_BLOGITEMCATEGORIES(CATEGORYID);

CREATE INDEX IDX_FORUMP_THREADID ON MP_FORUMPOSTS(THREADID);

CREATE INDEX IDX_FORUMTHREADS_FORUMID ON MP_FORUMTHREADS(FORUMID);

CREATE INDEX IDX_FORUMTS_THREADID ON MP_FORUMTHREADSUBSCRIPTIONS(THREADID);

CREATE INDEX IDX_MODULESET_MODULEID ON MP_MODULESETTINGS(MODULEID);

CREATE INDEX IDX_PAGEMODULES_PAGEID ON MP_PAGEMODULES(PAGEID);

CREATE INDEX IDX_PAGEMODULES_MODULEID ON MP_PAGEMODULES(MODULEID);

CREATE INDEX IDX_PAGES_SITEID ON MP_PAGES(SITEID);

CREATE INDEX IDX_ROLES_SITEID ON MP_ROLES(SITEID);

CREATE INDEX IDX_SCHEMASCRIPTHX_APPID ON MP_SCHEMASCRIPTHISTORY(APPLICATIONID);

CREATE INDEX IDX_SHAREDFILESHX_ITEMID ON MP_SHAREDFILESHISTORY(ITEMID);

CREATE INDEX IDX_SITEMODULEDEFS_SITEID ON MP_SITEMODULEDEFINITIONS(SITEID);

CREATE INDEX IDX_SITEPATHS_SITEID ON MP_SITEPATHS(SITEID);
