<?xml version="1.0" encoding="utf-8" ?>
<UserSignInHandlers>
	<providers>

		<add name="DoNothingUserSignInHandlerProvider"
			 type="mojoPortal.Business.WebHelpers.UserSignInHandlers.DoNothingUserSignInHandlerProvider, mojoPortal.Business.WebHelpers"
			 description="This is a placeholder, do not delete this one. There must always be at least on provider in the collection. " />

		
	</providers>
</UserSignInHandlers>