CREATE TABLE "mp_emailtemplate" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "featureguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "specialguid1" char(36) NOT NULL,
    "specialguid2" char(36) NOT NULL,
    "name" varchar(255) NOT NULL,
    "subject" varchar(255) NOT NULL,
    "textbody" text NOT NULL,
    "htmlbody" text NULL,
    "hashtml" bool NOT NULL,
    "iseditable" bool NOT NULL,
    "createdutc" timestamp NOT NULL,
    "lastmodutc" timestamp NOT NULL,
    "lastmodby" char(36) NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_emailtemplate_pkey"
  ON "mp_emailtemplate"("guid");     


ALTER TABLE mp_emailtemplate
ADD CONSTRAINT pk_emailtemplate PRIMARY KEY (guid);

CREATE TABLE "mp_emailsendlog" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "specialguid1" char(36) NOT NULL,
    "specialguid2" char(36) NOT NULL,
    "toaddress" varchar(255) NOT NULL,
    "ccaddress" varchar(255) NULL,
    "bccaddress" varchar(255) NULL,
    "subject" varchar(255) NOT NULL,
    "textbody" text NULL,
    "htmlbody" text NULL,
    "type" varchar(50) NOT NULL,
    "sentutc" timestamp NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_emailsendlog_pkey"
  ON "mp_emailsendlog"("guid");     

ALTER TABLE mp_emailsendlog
ADD CONSTRAINT pk_emailsendlog PRIMARY KEY (guid); 



CREATE INDEX idxetsiteguid ON mp_emailtemplate(siteguid);
CREATE INDEX idxetfeatureguid ON mp_emailtemplate(featureguid);
CREATE INDEX idxetmoduleguid ON mp_emailtemplate(moduleguid);
CREATE INDEX idxetspecialguid1 ON mp_emailtemplate(specialguid1);
CREATE INDEX idxetspecialguid2 ON mp_emailtemplate(specialguid2);
CREATE INDEX idxetname ON mp_emailtemplate(name);


CREATE INDEX idxeslsiteguid ON mp_emailsendlog(siteguid);
CREATE INDEX idxeslmoduleguid ON mp_emailsendlog(moduleguid);
CREATE INDEX idxeslspecialguid1 ON mp_emailsendlog(specialguid1);
CREATE INDEX idxeslspecialguid2 ON mp_emailsendlog(specialguid2);

