

DROP INDEX mp_paypallog_pkey;

ALTER TABLE  mp_paypallog
	DROP CONSTRAINT pk_paypallog;
	
DROP TABLE mp_paypallog;

CREATE TABLE "mp_paypallog" (
	"rowguid" char(36) NOT NULL, 
    "createdutc" timestamp NOT NULL,
    "siteguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "storeguid" char(36) NOT NULL,
    "cartguid" char(36) NOT NULL,
    "requesttype" varchar(255) NOT NULL,
    "apiversion" varchar(50) NULL,
    "rawresponse" text NULL,
    "token" varchar(50) NULL,
    "payerid" varchar(50) NULL,
    "transactionid" varchar(50) NULL,
    "paymenttype" varchar(10) NULL,
    "paymentstatus" varchar(50) NULL,
    "pendingreason" varchar(255) NULL,
    "reasoncode" varchar(50) NULL,
    "currencycode" varchar(50) NULL,
    "exchangerate" numeric(15, 4) NOT NULL,
    "carttotal" numeric(15, 4) NOT NULL,
    "paypalamt" numeric(15, 4) NOT NULL,
    "taxamt" numeric(15, 4) NOT NULL,
    "feeamt" numeric(15, 4) NOT NULL,
    "settleamt" numeric(15, 4) NOT NULL,
    "providername" varchar(255) NULL,
    "returnurl" varchar(255) NULL,
    "serializedobject" text NULL,
    "pdtprovidername" varchar(255) NULL,
    "ipnprovidername" varchar(255) NULL,
    "response" varchar(255) NULL
	);
	
CREATE UNIQUE INDEX "mp_paypallog_pkey"
  ON "mp_paypallog"("rowguid");     



ALTER TABLE mp_paypallog
ADD CONSTRAINT pk_paypallog PRIMARY KEY (rowguid);    