CREATE TABLE "mp_plugnpaylog" (
	"rowguid" char(36) NOT NULL, 
    "createdutc" timestamp NOT NULL,
    "siteguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "storeguid" char(36) NOT NULL,
    "cartguid" char(36) NOT NULL,
    "rawresponse" text NULL,
    "responsecode" varchar(10) NULL,
    "responsereasoncode" varchar(20) NULL,
    "reason" text NULL,
    "avscode" varchar(50) NULL,
    "ccvcode" varchar(10) NULL,
    "cavcode" varchar(10) NULL,
    "transactionid" varchar(50) NULL,
    "transactiontype" varchar(50) NULL,
    "method" varchar(20) NULL,
    "authcode" varchar(50) NULL,
    "amount" numeric(15, 4) NULL,
    "tax" numeric(15, 4) NULL,
    "duty" numeric(15, 4) NULL,
    "freight" numeric(15, 4) NULL
	);
	
CREATE UNIQUE INDEX "mp_plugnpaylog_pkey"
  ON "mp_plugnpaylog"("rowguid");     


ALTER TABLE mp_plugnpaylog
ADD CONSTRAINT pk_plugnpaylog PRIMARY KEY (rowguid);   
