CREATE TABLE "mp_sitesettingsexdef" (
    "keyname" varchar(128) NOT NULL, 
    "groupname" varchar(128) NULL,
    "defaultvalue" text NULL,
    "sortorder" int4 NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_sitesettingsexdef_pkey"
  ON "mp_sitesettingsexdef"("keyname");
  
ALTER TABLE mp_sitesettingsexdef
ADD CONSTRAINT pk_sitesettingsexdef PRIMARY KEY (keyname);  


CREATE TABLE "mp_sitesettingsex" (
    "siteid" int4 NOT NULL, 	
    "keyname" varchar(128) NOT NULL , 
    "siteguid" char(36) NOT NULL,
    "keyvalue" text NULL,
    "groupname" varchar(128) NULL
	);
	
CREATE UNIQUE INDEX "mp_sitesettingsex_pkey"
  ON "mp_sitesettingsex"("siteid","keyname"); 
  
  
ALTER TABLE mp_sitesettingsex
ADD CONSTRAINT pk_sitesettingsex PRIMARY KEY ("siteid","keyname");

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder) 
VALUES('SMTPUser','','SMTP', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder) 
VALUES('SMTPPassword','','SMTP', 200);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder) 
VALUES('SMTPServer','localhost','SMTP', 300);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder) 
VALUES('SMTPPort','25','SMTP', 400);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder) 
VALUES('SMTPRequiresAuthentication','false','SMTP', 500);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder) 
VALUES('SMTPUseSsl','false','SMTP', 600);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder) 
VALUES('SMTPPreferredEncoding','','SMTP', 700);

