CREATE TABLE "mp_redirectlist" (
	"rowguid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "siteid" int4 NOT NULL,
    "oldurl" varchar(255) NOT NULL,
    "newurl" varchar(255) NOT NULL,
    "createdutc" timestamp NOT NULL,
    "expireutc" timestamp NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_redirectlist_pkey"
  ON "mp_redirectlist"("rowguid");     

ALTER TABLE mp_redirectlist
ADD CONSTRAINT pk_redirectlist PRIMARY KEY (rowguid); 

CREATE TABLE "mp_contentrating" (
	"rowguid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "contentguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "emailaddress" varchar(100) NULL,
    "rating" int4 NOT NULL,
    "comments" text NULL,
    "ipaddress" varchar(50) NULL,
    "createdutc" timestamp NOT NULL,
    "lastmodutc" timestamp NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_contentrating_pkey"
  ON "mp_contentrating"("rowguid");     

ALTER TABLE mp_contentrating
ADD CONSTRAINT pk_contentrating PRIMARY KEY (rowguid);


CREATE INDEX idxredirectsguid ON mp_redirectlist(siteguid);
CREATE INDEX idxredirectsid ON mp_redirectlist(siteid);
CREATE INDEX idxredirecturl ON mp_redirectlist(oldurl);

CREATE INDEX idxcontentratingg ON mp_contentrating(contentguid);
CREATE INDEX idxcontentratings ON mp_contentrating(siteguid);
CREATE INDEX idxcontentratingu ON mp_contentrating(userguid);
CREATE INDEX idxcontentratingi ON mp_contentrating(ipaddress);

CREATE INDEX idxmoduleguid ON mp_rssfeedentries(moduleguid);
CREATE INDEX idxfeedid ON mp_rssfeedentries(feedid);
CREATE INDEX idxentryhash ON mp_rssfeedentries(entryhash);
