CREATE TABLE "mp_emailsendqueue" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "specialguid1" char(36) NOT NULL,
    "specialguid2" char(36) NOT NULL,
    "fromaddress" varchar(100) NOT NULL,
    "replyto" varchar(100) NOT NULL,
    "toaddress" varchar(255) NOT NULL,
    "ccaddress" varchar(255) NULL,
    "bccaddress" varchar(255) NULL,
    "subject" varchar(255) NOT NULL,
    "textbody" text NULL,
    "htmlbody" text NULL,
    "type" varchar(50) NOT NULL,
    "datetosend" timestamp NOT NULL,
    "createdutc" timestamp NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_emailsendqueue_pkey"
  ON "mp_emailsendqueue"("guid");     


ALTER TABLE mp_emailsendqueue
ADD CONSTRAINT pk_emailsendqueue PRIMARY KEY (guid); 

CREATE INDEX idxesqsiteguid ON mp_emailsendqueue(siteguid);
CREATE INDEX idxesqmoduleguid ON mp_emailsendqueue(moduleguid);
CREATE INDEX idxesqspecialguid1 ON mp_emailsendqueue(specialguid1);
CREATE INDEX idxesqspecialguid2 ON mp_emailsendqueue(specialguid2);
