INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('01b6eb9c-f096-4fe8-b42a-c88a6d306c0a','blog',0,0,0,1);

INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('26418748-d0da-43b4-a8c2-3f05cd425d11','contactform',0,0,0,1);

INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('82db6aaa-d5b4-4c22-bc07-66296d72bf89','eventcalendar',0,0,0,1);

INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('306ae6ea-cd00-4a30-b095-cdeccc1d6237','feed-manager',0,0,0,1);

INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('5b2b9770-20aa-4ccb-a93f-4374a4f343c9','forums',0,0,0,1);

INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('7b3435c5-1038-4109-bb70-979e0f8af35a','imagegallery',0,0,0,1);

INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('e4d68882-684c-4d87-9518-36b05df108f7','linksmodule',0,0,0,1);

INSERT INTO mp_schemaversion (ApplicationID, ApplicationName, Major, Minor, Build, Revision)
VALUES('3de49b39-555b-449c-a950-3dad8c6934c7','sharedfiles',0,0,0,1);
