CREATE TABLE "mp_fileattachment" (
	"rowguid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "itemguid" char(36) NOT NULL,
    "specialguid1" char(36) NOT NULL,
    "specialguid2" char(36) NOT NULL,
    "serverfilename" varchar(255) NOT NULL,
    "filename" varchar(255) NOT NULL,
    "createdutc" timestamp NOT NULL,
    "createdby" char(36) NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_fileattachment_pkey"
  ON "mp_fileattachment"("rowguid");     


ALTER TABLE mp_fileattachment
ADD CONSTRAINT pk_fileattachment PRIMARY KEY (rowguid);    

CREATE INDEX idxfasiteguid ON mp_fileattachment(siteguid);
CREATE INDEX idxfamoduleguid ON mp_fileattachment(moduleguid);
CREATE INDEX idxfaitemguid ON mp_fileattachment(itemguid);
CREATE INDEX idxfaspecialguid1 ON mp_fileattachment(specialguid1);
CREATE INDEX idxfaspecialguid2 ON mp_fileattachment(specialguid2);

