CREATE SEQUENCE "mp_systemlogid_seq";

-- this generation script doesn't create default values for non null columns so be sure and add those as appropriate
CREATE TABLE "mp_systemlog" (
	"id" int4 NOT NULL DEFAULT nextval('"mp_systemlogid_seq"'::text), 
    "logdate" timestamp NOT NULL,
    "ipaddress" varchar(50) NULL,
    "culture" varchar(10) NULL,
    "url" varchar NULL,
    "shorturl" varchar(255) NULL,
    "thread" varchar(255) NOT NULL,
    "loglevel" varchar(20) NOT NULL,
    "logger" varchar(255) NOT NULL,
    "message" varchar NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_systemlog_pkey"
  ON "mp_systemlog"("id");   
  
ALTER TABLE mp_systemlog
ADD CONSTRAINT pk_systemlog PRIMARY KEY (id);      

CREATE INDEX idxsysloglogdate ON mp_systemlog(logdate);
CREATE INDEX idxsyslogloglevel ON mp_systemlog(loglevel);
CREATE INDEX idxsyslogshorturl ON mp_systemlog(shorturl);
