INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('OpenSearchName','','Search', 100);

ALTER TABLE mp_moduledefinitions ADD COLUMN supportspagereuse bool;
ALTER TABLE mp_moduledefinitions ADD COLUMN deleteprovider varchar(255);

UPDATE mp_moduledefinitions 
SET supportspagereuse = true;

