
ALTER TABLE mp_moduledefinitions ADD COLUMN iscacheable bool;
ALTER TABLE mp_moduledefinitions ADD COLUMN issearchable bool;
ALTER TABLE mp_moduledefinitions ADD COLUMN searchlistname varchar(255);

UPDATE mp_moduledefinitions 
SET searchlistname = featurename, iscacheable = false, issearchable = false;

