ALTER TABLE mp_htmlcontent ADD COLUMN excludefromrecentcontent bool not null default false;

ALTER TABLE mp_moduledefinitionsettings ALTER COLUMN settingvalue TYPE text;

ALTER TABLE mp_modules ADD COLUMN draftapprovalroles text;

ALTER TABLE mp_pages ADD COLUMN draftapprovalroles text;

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('SiteRootDraftApprovalRoles','','Admin', 100);
