DELETE FROM mp_modulesettings WHERE settingname = 'HtmlMultipleItemsSetting';
DELETE FROM mp_moduledefinitionsettings WHERE settingname = 'HtmlMultipleItemsSetting';

DELETE FROM mp_modulesettings WHERE settingname = 'HtmlShowDateSetting';
DELETE FROM mp_moduledefinitionsettings WHERE settingname = 'HtmlShowDateSetting';

DELETE FROM mp_modulesettings WHERE settingname = 'HtmlUseExcerptSetting';
DELETE FROM mp_moduledefinitionsettings WHERE settingname = 'HtmlUseExcerptSetting';

DELETE FROM mp_modulesettings WHERE settingname = 'HtmlUseMoreLinkSetting';
DELETE FROM mp_moduledefinitionsettings WHERE settingname = 'HtmlUseMoreLinkSetting';

DELETE FROM mp_modulesettings WHERE settingname = 'HtmlMoreLinkNewWindowSetting';
DELETE FROM mp_moduledefinitionsettings WHERE settingname = 'HtmlMoreLinkNewWindowSetting';




