
ALTER TABLE mp_pages ADD COLUMN pcreatedutc timestamp without time zone;

ALTER TABLE mp_pages ADD COLUMN pcreatedby varchar(36);

ALTER TABLE mp_pages ADD COLUMN pcreatedfromip varchar(36);

ALTER TABLE mp_pages ADD COLUMN plastmodutc timestamp without time zone;

ALTER TABLE mp_pages ADD COLUMN plastmodby varchar(36);

ALTER TABLE mp_pages ADD COLUMN plastmodfromip varchar(36);
