INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('DefaultFromEmailAlias','','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RegistrationPreamble','','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RolesThatCanFullyManageUsers','','Settings', 100);


ALTER TABLE mp_pages ADD COLUMN bodycssclass varchar(50);

ALTER TABLE mp_pages ADD COLUMN menucssclass varchar(50);

