INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('SkinVersion','00000000-0000-0000-0000-000000000000','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RolesThatCanAssignSkinsToPages','','Settings', 100);


CREATE TABLE "mp_tag" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "featureguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "tag" varchar(255) NOT NULL,
    "createdutc" timestamp NOT NULL,
    "createdby" char(36) NOT NULL,
    "modifiedutc" timestamp NOT NULL,
    "modifiedby" char(36) NOT NULL,
    "itemcount" int4 NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_tag_pkey"
  ON "mp_tag"("guid");     


ALTER TABLE mp_tag
ADD CONSTRAINT pk_tag PRIMARY KEY (guid);   

CREATE TABLE "mp_tagitem" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "featureguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "itemguid" char(36) NOT NULL,
    "tagguid" char(36) NOT NULL,
    "extraguid" char(36) NOT NULL,
    "taggedby" char(36) NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_tagitem_pkey"
  ON "mp_tagitem"("guid");     


ALTER TABLE mp_tagitem
ADD CONSTRAINT pk_tagitem PRIMARY KEY (guid);  

CREATE TABLE "mp_category" (
	"guid" char(36) NOT NULL, 
    "parentguid" char(36) NOT NULL,
    "siteguid" char(36) NOT NULL,
    "featureguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "category" varchar(255) NOT NULL,
    "description" varchar NULL,
    "itemcount" int4 NOT NULL,
    "createdutc" timestamp NOT NULL,
    "createdby" char(36) NOT NULL,
    "modifiedutc" timestamp NOT NULL,
    "modifiedby" char(36) NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_category_pkey"
  ON "mp_category"("guid");     


ALTER TABLE mp_category
ADD CONSTRAINT pk_category PRIMARY KEY (guid);  

CREATE TABLE "mp_categoryitem" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "featureguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "itemguid" char(36) NOT NULL,
    "categoryguid" char(36) NOT NULL,
    "extraguid" char(36) NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_categoryitem_pkey"
  ON "mp_categoryitem"("guid");     


ALTER TABLE mp_categoryitem
ADD CONSTRAINT pk_categoryitem PRIMARY KEY (guid); 

CREATE INDEX ixtagsiteguid ON mp_tag(siteguid);
CREATE INDEX ixtagfeatureguid ON mp_tag(featureguid);
CREATE INDEX ixtagmoduleguid ON mp_tag(moduleguid);


CREATE INDEX ixtagitemitemguid ON mp_tagitem(itemguid);
CREATE INDEX ixtagitemmoduleguid ON mp_tagitem(moduleguid);
CREATE INDEX ixtagitemsiteguid ON mp_tagitem(siteguid);
CREATE INDEX ixtagitemfeatureguid ON mp_tagitem(featureguid);
CREATE INDEX ixtagitemtagguid ON mp_tagitem(tagguid);
CREATE INDEX ixtagitemextraguid ON mp_tagitem(extraguid);

CREATE INDEX ixcategorysiteguid ON mp_category(siteguid);
CREATE INDEX ixcategoryfeatureguid ON mp_category(featureguid);
CREATE INDEX ixcategorymoduleguid ON mp_category(moduleguid);

CREATE INDEX ixcatitemitemguid ON mp_categoryitem(itemguid);
CREATE INDEX ixcatitemmoduleguid ON mp_categoryitem(moduleguid);
CREATE INDEX ixcatitemsiteguid ON mp_categoryitem(siteguid);
CREATE INDEX ixcatitemfeatureguid ON mp_categoryitem(featureguid);
CREATE INDEX ixcatitemcatguid ON mp_categoryitem(categoryguid);
CREATE INDEX ixcatitemextraguid ON mp_categoryitem(extraguid);

CREATE INDEX ixpmpanename ON mp_pagemodules(panename);
CREATE INDEX ixpagesname ON mp_pages(pagename);


