INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('LoginInfoTop','','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('LoginInfoBottom','','Settings', 100);

CREATE INDEX ixuserrolesroleid ON mp_userroles(roleid);


