ALTER TABLE mp_lettersendlog ADD COLUMN subscribeguid char(36);

UPDATE mp_lettersendlog
SET SubscribeGuid = '00000000-0000-0000-0000-000000000000';

CREATE INDEX idxsendlogsguid ON mp_lettersendlog(subscribeguid);

CREATE TABLE "mp_lettersubscribe" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "letterinfoguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "email" varchar(100) NOT NULL,
    "isverified" bool NOT NULL,
    "verifyguid" char(36) NOT NULL,
    "beginutc" timestamp NOT NULL,
    "usehtml" bool NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_lettersubscribe_pkey"
  ON "mp_lettersubscribe"("guid");     

ALTER TABLE mp_lettersubscribe
ADD CONSTRAINT pk_lettersubscribe PRIMARY KEY (guid);  

CREATE INDEX idxletsubsguid ON mp_lettersubscribe(siteguid);
CREATE INDEX idxletsubinfguid ON mp_lettersubscribe(letterinfoguid);
CREATE INDEX idxletuguid ON mp_lettersubscribe(userguid);
CREATE INDEX idxletemail ON mp_lettersubscribe(email);

CREATE TABLE "mp_lettersubscribehx" (
	"rowguid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "subscribeguid" char(36) NOT NULL,
    "letterinfoguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "email" varchar(100) NOT NULL,
    "isverified" bool NOT NULL,
    "usehtml" bool NOT NULL,
    "beginutc" timestamp NOT NULL,
    "endutc" timestamp NOT NULL
	);
	
CREATE UNIQUE INDEX "mp_lettersubscribehx_pkey"
  ON "mp_lettersubscribehx"("rowguid");     

ALTER TABLE mp_lettersubscribehx
ADD CONSTRAINT pk_lettersubscribehx PRIMARY KEY (rowguid);  

