
CREATE TABLE mp_paymentlog (
    rowguid character(36) NOT NULL,
    createdutc timestamp without time zone NOT NULL,
    siteguid character(36) NOT NULL,
    userguid character(36) NOT NULL,
    storeguid character(36) NOT NULL,
    cartguid character(36) NOT NULL,
	provider character varying(100),
    rawresponse text,
    responsecode character(1),
    responsereasoncode character varying(20),
    reason text,
    avscode character varying(50),
    ccvcode character(1),
    cavcode character(1),
    transactionid character varying(50),
    transactiontype character varying(50),
    method character varying(20),
    authcode character varying(50),
    amount numeric(15,4),
    tax numeric(15,4),
    duty numeric(15,4),
    freight numeric(15,4)
);

INSERT INTO 	mp_paymentlog
(
				rowguid,
				createdutc,
				siteguid,
				userguid,
				storeguid,
				cartguid,
				provider,
				rawresponse,
				responsecode,
				responsereasoncode,
				reason,
				avscode,
				ccvcode,
				cavcode,
				transactionid,
				transactiontype,
				method,
				authcode,
				amount,
				tax,
				duty,
				freight
) 

SELECT
				rowguid,
				createdutc,
				siteguid,
				userguid,
				storeguid,
				cartguid,
				'Authorize.NET',
				rawresponse,
				responsecode,
				responsereasoncode,
				reason,
				avscode,
				ccvcode,
				cavcode,
				transactionid,
				transactiontype,
				method,
				authcode,
				amount,
				tax,
				duty,
				freight

FROM
		mp_authorizenetlog;


INSERT INTO 	mp_paymentlog
(
				rowguid,
				createdutc,
				siteguid,
				userguid,
				storeguid,
				cartguid,
				provider,
				rawresponse,
				responsecode,
				responsereasoncode,
				reason,
				avscode,
				ccvcode,
				cavcode,
				transactionid,
				transactiontype,
				method,
				authcode,
				amount,
				tax,
				duty,
				freight
) 

SELECT
				rowguid,
				createdutc,
				siteguid,
				userguid,
				storeguid,
				cartguid,
				'Plug.N.Pay',
				rawresponse,
				responsecode,
				responsereasoncode,
				reason,
				avscode,
				ccvcode,
				cavcode,
				transactionid,
				transactiontype,
				method,
				authcode,
				amount,
				tax,
				duty,
				freight

FROM
		mp_plugnpaylog;
		
	