INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RequireApprovalBeforeLogin','false','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('PasswordRegexWarning','','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RolesThatCanApproveNewUsers','','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RolesThatCanManageSkins','','Settings', 100);

ALTER TABLE mp_users ADD COLUMN passwordresetguid char(36);


UPDATE mp_users
SET passwordresetguid = '00000000-0000-0000-0000-000000000000';

ALTER TABLE mp_modules ADD COLUMN includeinsearch bool;

UPDATE mp_modules
SET includeinsearch = true;

