INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RequirePasswordChangeOnResetRecover','false','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('EmailAdressesForUserApprovalNotification','','Settings', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('RegistrationAgreement','','Settings', 100);

