DROP TABLE mp_lettersubscriber;
DROP TABLE mp_lettersubscriberhx;

ALTER TABLE mp_pages ADD COLUMN canonicaloverride varchar(255);
ALTER TABLE mp_pages ADD COLUMN includeinsearchMap bool;
ALTER TABLE mp_sites ADD COLUMN disabledbauth bool;

UPDATE mp_pages
SET includeinsearchMap = true;

UPDATE mp_sites
SET disabledbauth = false;

