INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('EnableContentWorkflow','false','ContentWorkflow', 100);

INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  
VALUES('SiteRootDraftEditRoles','Content Authors;','Admin', 100);

ALTER TABLE mp_modules ADD COLUMN drafteditroles text;
ALTER TABLE mp_pages ADD COLUMN drafteditroles text;
ALTER TABLE mp_pages ADD COLUMN ispending bool;

UPDATE mp_pages 
SET ispending = false;

CREATE TABLE "mp_contentworkflow" (
	"guid" char(36) NOT NULL, 
    "siteguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "createddateutc" timestamp NOT NULL,
    "userguid" char(36) NOT NULL,
    "lastmoduserguid" char(36) NULL,
    "lastmodutc" timestamp NULL,
    "status" varchar(20) NOT NULL,
    "contenttext" text NULL,
    "customdata" text NULL,
    "customreferencenumber" int4 NULL,
    "customreferenceguid" char(36) NULL
	);
	
CREATE UNIQUE INDEX "mp_contentworkflow_pkey"
  ON "mp_contentworkflow"("guid");    

ALTER TABLE mp_contentworkflow
ADD CONSTRAINT pk_contentworkflow PRIMARY KEY (guid);

CREATE INDEX idxcwsiteguid ON mp_contentworkflow(siteguid);
CREATE INDEX idxcwmoduleguid ON mp_contentworkflow(moduleguid);
CREATE INDEX idxcwuserguid ON mp_contentworkflow(userguid);

CREATE TABLE "mp_contentworkflowaudithistory" (
	"guid" char(36) NOT NULL, 
    "contentworkflowguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "createddateutc" timestamp NOT NULL,
    "newstatus" varchar(20) NULL,
    "notes" text NULL,
    "active" bool NULL
	);
	
CREATE UNIQUE INDEX "mp_contentworkflowaudithistory_pkey"
  ON "mp_contentworkflowaudithistory"("guid");     

ALTER TABLE mp_contentworkflowaudithistory
ADD CONSTRAINT pk_contentworkflowaudithistory PRIMARY KEY (guid);      

ALTER TABLE mp_contentworkflowaudithistory
ADD CONSTRAINT fk_cwaudithistory_contentworkflow FOREIGN KEY(contentworkflowguid)
REFERENCES mp_contentworkflow  MATCH SIMPLE
ON UPDATE RESTRICT ON DELETE RESTRICT; 

CREATE INDEX ifk_cwaudithistory_contentwfguid ON mp_contentworkflowaudithistory(contentworkflowguid);

CREATE INDEX idxcwauserguid ON mp_contentworkflowaudithistory(userguid);

