INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  VALUES('RpxNowApiKey','','Authentication', 100);INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  VALUES('RpxNowApplicationName','','Authentication', 100);INSERT INTO mp_sitesettingsexdef(keyname,defaultvalue,groupname,sortorder)  VALUES('RpxNowAdminUrl','','Authentication', 100);