CREATE TABLE "mp_comments" (
	"guid" char(36) NOT NULL, 
    "parentguid" char(36) NOT NULL,
    "siteguid" char(36) NOT NULL,
    "featureguid" char(36) NOT NULL,
    "moduleguid" char(36) NOT NULL,
    "contentguid" char(36) NOT NULL,
    "userguid" char(36) NOT NULL,
    "title" varchar(255) NULL,
    "usercomment" varchar NOT NULL,
    "username" varchar(50) NOT NULL,
    "useremail" varchar(100) NOT NULL,
    "userurl" varchar(255) NULL,
    "userip" varchar(50) NOT NULL,
    "createdutc" timestamp NOT NULL,
    "lastmodutc" timestamp NOT NULL,
    "moderationstatus" smallint NOT NULL,
    "moderatedby" char(36) NOT NULL,
    "moderationreason" varchar(255) NULL
	);
	
CREATE UNIQUE INDEX "mp_comments_pkey"
  ON "mp_comments"("guid");     

ALTER TABLE mp_comments
ADD CONSTRAINT pk_comments PRIMARY KEY (guid);    

CREATE INDEX ixcommentsiteguid ON mp_comments(siteguid);
CREATE INDEX ixcommentfeatureguid ON mp_comments(featureguid);
CREATE INDEX ixcommentmoduleguid ON mp_comments(moduleguid);
CREATE INDEX ixcommentcomment ON mp_comments(contentguid);
