CREATE OR REPLACE FUNCTION
	mp_users_selectone (
		int, --:userid $1
		int --:siteid $2
	)
RETURNS SETOF
	mp_users
AS
	'SELECT
		*
	FROM
		mp_users
	WHERE
		userid = $1
	AND
		siteid = $2;'
SECURITY DEFINER LANGUAGE SQL;

GRANT EXECUTE ON FUNCTION
	mp_users_selectone(
		int, --:userid $1
		int --:siteid $2
	)
TO PUBLIC;


CREATE OR REPLACE FUNCTION
	mp_users_selectonebyguid (
		varchar(36), --:userguid $1
		int --:siteid $2
	)
RETURNS SETOF
	mp_users
AS
	'SELECT
		*
	FROM
		mp_users
	WHERE
		userguid = $1
	AND
		siteid = $2;'
SECURITY DEFINER LANGUAGE SQL;

GRANT EXECUTE ON FUNCTION
	mp_users_selectonebyguid(
		varchar(36), --:userguid $1
		int --:siteid $2
	)
TO PUBLIC;