create or replace function mp_roles_insert
(
	int, --:siteid $1
	varchar(50), --:rolename $2
	varchar(50), --:displayName $3
	char(36), --:siteguid $4
	char(36) --:roleguid $5
) returns int4 
as '
insert into mp_roles
(
    siteid,
    rolename,
    displayname,
    siteguid,
    roleguid
    
)
values
(
    $1,
    $2,
    $3,
    $4,
    $5
);
select  cast(currval(''mp_roles_roleid_seq'') as int4); '
security definer language sql;
grant execute on function mp_roles_insert
(
	int, --:siteid $1
	varchar(50), --:rolename $2
	varchar(50), --:displayName $3
	char(36), --:siteguid $4
	char(36) --:roleguid $5
) to public;