/**** START

	Alter mp_SiteFolders for closer parity with mp_SiteHosts

****/

		ALTER TABLE "mp_sitefolders"
		ADD COLUMN "siteid" INT NOT NULL DEFAULT -1;

		UPDATE "mp_sitefolders" AS "sf"
		SET "siteid" = "s"."siteid"
		FROM "mp_sites" AS "s" 
		WHERE "sf"."siteguid" = "s"."siteguid";

/**** FINISH

	Alter mp_SiteFolders for closer parity with mp_SiteHosts

****/