<?xml version="1.0" encoding="utf-8" ?>
<!--
Live Messenger Web Toolkit was discontinued
http://msdn.microsoft.com/en-us/library/dd570035.aspx
-->

<featureDefinitions>
  <!--
	<featureDefinition
		featureGuid="70b5c874-41ce-4617-97b1-e85c28d53c06"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="LiveResources"
		featureNameReasourceKey="LiveMessengerFeatureName" 
		controlSource="LiveMessenger/LiveMessengerModule.ascx"
		sortOrder="500"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
    
		<featureSetting
			resourceFile="LiveResources"
			resourceKey="MessengerCIDSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="MessengerCIDSetting-help"
      sortOrder="100"
			regexValidationExpression=""
			/>
		


    <featureSetting
			resourceFile="LiveResources"
			resourceKey="MessengerDisplayNameSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="250"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="LiveResources"
			resourceKey="MessengerThemeSetting"
			defaultValue=""
			controlType="ISettingControl"
      controlSrc="~/LiveMessenger/MessengerThemeSetting.ascx"
      helpKey=""
      sortOrder="300"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="LiveResources"
			resourceKey="MessengerHeightSetting"
			defaultValue="300"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="400"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>

    <featureSetting
			resourceFile="LiveResources"
			resourceKey="MessengerWidthSetting"
			defaultValue="300"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="400"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
      
		
  </featureDefinition>
  -->
</featureDefinitions>

