CREATE PROCEDURE [dbo].[mp_Blogs_SelectCategoriesForPage]

-- Author:   			
-- Created: 			2012-01-12
-- Last Modified: 		2012-01-12

@ModuleID int,
@BeginDate datetime,
@CurrentTime datetime,
@PageNumber int,
@PageSize int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]
		
WHERE
(ModuleID = @ModuleID)  
    			and (@BeginDate >= StartDate)
    			and IsPublished = 1
    			and StartDate <= @CurrentTime

ORDER BY

	StartDate DESC

END


SELECT
		bic.[ID],
		bic.[ItemID],
		bic.[CategoryID],
		bc.Category
		
FROM
		[dbo].[mp_BlogItemCategories] bic

JOIN		mp_BlogCategories bc
ON		bc.CategoryID = bic.CategoryID

JOIN			#PageIndex t2
ON			
		bic.[ItemID] = t2.[ItemID]
		
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID, bc.Category

DROP TABLE #PageIndex


GO

CREATE PROCEDURE [dbo].[mp_Blog_SelectRecentPostCategoriesForMetaWeblogApi]

/*
Author:		
Created:	2012-01-12

*/
    
@ModuleID int,
@BeginDate datetime,
@CurrentTime datetime

AS

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

DECLARE @RowsToGet int

SET @RowsToGet = COALESCE((SELECT TOP 1 SettingValue FROM mp_ModuleSettings WHERE SettingName = 'MaxMetaweblogRecentItems' AND ModuleID = @ModuleID),100)

SET rowcount @RowsToGet

INSERT INTO #PageIndex ( 
ItemID
)

SELECT		
			
			b.ItemID
			

FROM        		mp_Blogs b


WHERE
    			(b.ModuleID = @ModuleID)  
    			and (@BeginDate >= b.StartDate)
    			and b.StartDate <= @CurrentTime

ORDER BY
   			b.StartDate DESC
   			
END


SELECT
		bic.[ID],
		bic.[ItemID],
		bic.[CategoryID],
		bc.Category
		
FROM
		[dbo].[mp_BlogItemCategories] bic

JOIN		mp_BlogCategories bc
ON		bc.CategoryID = bic.CategoryID

JOIN			#PageIndex t2
ON			
		bic.[ItemID] = t2.[ItemID]
		
	
		
ORDER BY t2.IndexID, bc.Category

DROP TABLE #PageIndex



GO

