ALTER PROCEDURE [dbo].[mp_BlogCategories_Insert]

/*
Author:   			
Created: 			6/7/2005
Last Modified: 			6/12/2005

*/

@ModuleID int,
@Category nvarchar(255)

	
AS

IF NOT EXISTS (SELECT CategoryID FROM mp_BlogCategories WHERE ModuleID = @ModuleID AND Category = @Category)
BEGIN

INSERT INTO 	[dbo].[mp_BlogCategories] 
(
				[ModuleID],
				[Category]
) 

VALUES 
(
				@ModuleID,
				@Category
				
)
SELECT @@IDENTITY 
END
ELSE
SELECT CategoryID FROM mp_BlogCategories WHERE ModuleID = @ModuleID AND Category = @Category

GO

