SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Blog_Select]

/*
Author:		
Last Modified:	2009-01-05

*/
    
@ModuleID int,
@BeginDate datetime

AS
DECLARE @RowsToGet int

SET @RowsToGet = COALESCE((SELECT TOP 1 SettingValue FROM mp_ModuleSettings WHERE SettingName = 'BlogEntriesToShowSetting' AND ModuleID = @ModuleID),1)

SET rowcount @RowsToGet

SELECT		
			b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			'CommentCount' = CONVERT(nvarchar(20), b.CommentCount),
			u.[Name],
			u.[LoginName],
			u.Email
			

FROM        		mp_Blogs b

LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid

WHERE
    			(b.ModuleID = @ModuleID)  and (@BeginDate >= b.StartDate)

ORDER BY
   			b.StartDate DESC

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Blog_SelectOne]

/*
Author:			
Last Modified:		2009-01-05

*/

    
@ItemID int

AS

SELECT		b.*,
			'NextPost' = (SELECT TOP 1 b2.ItemUrl
							FROM mp_Blogs b2
							WHERE b2.StartDate > b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
							ORDER BY b2.StartDate),
			'NextPostTitle' = (SELECT TOP 1 b2.Title
							FROM mp_Blogs b2
							WHERE b2.StartDate > b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
							ORDER BY b2.StartDate),
			'PreviousPost' = (SELECT TOP 1 b2.ItemUrl
							FROM mp_Blogs b2
							WHERE b2.StartDate < b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
							ORDER BY b2.StartDate DESC),
			'PreviousPostTitle' = (SELECT TOP 1 b2.Title
							FROM mp_Blogs b2
							WHERE b2.StartDate < b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
				ORDER BY b2.StartDate DESC),
			u.[Name],
			u.[LoginName],
			u.Email
			
			
FROM			mp_Blogs b

LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid


WHERE   		(b.ItemID = @ItemID)


GO



