ALTER PROCEDURE [dbo].[mp_Blog_SelectOne]

/*
Author:			
Last Modified:	2011-03-09

*/

    
@ItemID int,
@CurrentTime datetime

AS

SELECT		b.*,
			p.ItemUrl AS PreviousPost,
			p.Heading AS PreviousPostTitle, 
			COALESCE(p.ItemID, -1) AS PreviousItemID,
			n.ItemUrl AS NextPost,
			n.Heading AS NextPostTitle,
			COALESCE(n.ItemID, -1) AS NextItemID,
			u.[Name],
			u.[LoginName],
			u.Email
			
			
FROM			mp_Blogs b

LEFT OUTER JOIN	mp_Blogs p
ON p.ItemID <> b.ItemID
AND p.ItemID IN
(SELECT TOP 1 ItemID 
FROM mp_Blogs
WHERE ModuleID = b.ModuleID AND IsPublished = 1
AND StartDate <= @CurrentTime
AND StartDate < b.StartDate
ORDER BY StartDate DESC)

LEFT OUTER JOIN	mp_Blogs n
ON n.ItemID <> b.ItemID
AND n.ItemID IN
(SELECT TOP 1 ItemID 
FROM mp_Blogs
WHERE ModuleID = b.ModuleID AND IsPublished = 1
AND StartDate <= @CurrentTime
AND StartDate > b.StartDate
ORDER BY StartDate)

LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid


WHERE   		(b.ItemID = @ItemID)


GO

