SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[mp_Blog_SelectArchiveByMonth_Persian]
(
	@ModuleID int
)

AS

SELECT 	[dbo].PersianMonth(StartDate) as [Month], 
		--DATENAME(month,StartDate) as [MonthName],
			[dbo].PersianYear(StartDate) as [Year], 
		1 as Day, 
		Count(*) as [Count] 

FROM 		mp_Blogs
 
WHERE 	ModuleID = @ModuleID 
		AND StartDate < getutcdate()

GROUP BY 	[dbo].PersianYear(StartDate), 
			[dbo].PersianMonth(StartDate)-- ,
		--DATENAME(month,StartDate)

ORDER BY 	[Year] desc, [Month] desc

GO

