ALTER PROCEDURE [dbo].[mp_BlogCategories_SelectByModule]

/*
Author:   			
Created: 			2005-06-07
Last Modified: 		2013-02-11
*/

@ModuleID			int,
@CurrentTime	dateTime

AS


SELECT
				bc.CategoryID, 
				bc.Category,
				COUNT(bic.ItemID) As PostCount
		
		
FROM
			[dbo].[mp_BlogCategories] bc

JOIN			mp_BlogItemCategories bic
ON 			bc.CategoryID = bic.CategoryID

JOIN		mp_Blogs b
ON			b.ItemID = bic.ItemID
		

WHERE		bc.ModuleID = @ModuleID
			AND b.IsPublished = 1
			AND b.StartDate <= @CurrentTime
    		AND (b.EndDate IS NULL OR b.EndDate > @CurrentTime)
			
			

GROUP BY		bc.CategoryID, bc.Category

ORDER BY		bc.Category


GO

ALTER PROCEDURE [dbo].[mp_Blog_SelectArchiveByMonth]


(
	@ModuleID int,
	@CurrentTime datetime
)

AS

SELECT 	Month(StartDate) as [Month], 
		DATENAME(month,StartDate) as [MonthName],
		Year(StartDate) as [Year], 
		1 as Day, 
		Count(*) as [Count] 

FROM 		mp_Blogs
 
WHERE 	ModuleID = @ModuleID 
		AND IsPublished = 1
		AND StartDate <= @CurrentTime
		AND (EndDate IS NULL OR EndDate > @CurrentTime)

GROUP BY 	Year(StartDate), 
		Month(StartDate) ,
		DATENAME(month,StartDate)

ORDER BY 	[Year] desc, [Month] desc


GO

ALTER PROCEDURE [dbo].[mp_Blog_SelectArchiveByMonth_Persian]
(
	@ModuleID int,
	@CurrentTime datetime
)

AS

SELECT 	dbo.PersianMonth(StartDate) as [Month], 
		--DATENAME(month,StartDate) as [MonthName],
			dbo.PersianYear(StartDate) as [Year], 
		1 as Day, 
		Count(*) as [Count] 

FROM 		mp_Blogs
 
WHERE 	ModuleID = @ModuleID 
		AND IsPublished = 1
		AND StartDate <= @CurrentTime
		AND (EndDate IS NULL OR EndDate > @CurrentTime)

GROUP BY 	dbo.PersianYear(StartDate), 
			dbo.PersianMonth(StartDate)-- ,
		--DATENAME(month,StartDate)

ORDER BY 	[Year] desc, [Month] desc


GO

