
CREATE PROCEDURE [dbo].[mp_Blogs_GetCountOfDrafts]

/*
Author:   			
Created: 			2012-11-13
Last Modified: 		2012-11-13
*/

@ModuleID int,
@UserGuid uniqueidentifier,
@CurrentTime datetime

AS

SELECT COUNT(*) 
FROM [dbo].[mp_Blogs]
WHERE
(ModuleID = @ModuleID)  
AND (@UserGuid = '00000000-0000-0000-0000-000000000000' OR UserGuid  = @UserGuid)
and ((StartDate > @CurrentTime) OR (IsPublished = 0))



GO

CREATE PROCEDURE [dbo].[mp_Blogs_SelectPageOfDrafts]

-- Author:   			
-- Created: 			2012-11-13
-- Last Modified: 		2012-11-13

@ModuleID int,
@UserGuid uniqueidentifier,
@CurrentTime datetime,
@PageNumber int,
@PageSize int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]
		
WHERE
(ModuleID = @ModuleID)  
AND (@UserGuid = '00000000-0000-0000-0000-000000000000' OR UserGuid  = @UserGuid)
and ((StartDate > @CurrentTime) OR (IsPublished = 0))

ORDER BY

	StartDate DESC

END


SELECT
		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.SubTitle,
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			b.IsPublished,
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			COALESCE(u.UserID, -1) AS UserID,
			u.[Name],
			u.[LoginName],
			u.FirstName,
			u.LastName,
			u.Email,
			u.AvatarUrl,
			u.AuthorBio
		
FROM
		[dbo].[mp_Blogs] b

JOIN			#PageIndex t2
ON			
		b.[ItemID] = t2.[ItemID]
		
LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

