
DELETE FROM mp_ModuleSettings
WHERE SettingName = 'BlogAddThisDotComUseMouseOverWidgetSetting'

GO

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'BlogAddThisDotComUseMouseOverWidgetSetting'

GO

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'BlogAddThisButtonImageUrlSetting'

GO

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'BlogAddThisButtonImageUrlSetting'

GO

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'BlogAddThisCustomBrandSetting'

GO

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'BlogAddThisCustomBrandSetting'

GO

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'BlogAddThisCustomOptionsSetting'

GO

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'BlogAddThisCustomOptionsSetting'

GO

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'BlogAddThisCustomLogoUrlSetting'

GO

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'BlogAddThisCustomLogoUrlSetting'

GO

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'BlogAddThisCustomLogoBackColorSetting'

GO

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'BlogAddThisCustomLogoBackColorSetting'

GO

DELETE FROM mp_ModuleSettings
WHERE SettingName = 'BlogAddThisCustomLogoForeColorSetting'

GO

DELETE FROM mp_ModuleDefinitionSettings
WHERE SettingName = 'BlogAddThisCustomLogoForeColorSetting'

GO


