SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[mp_Blog_SelectByPage]

@SiteID		int,
@PageID		int

AS
SELECT  	b.*,
		m.ModuleTitle,
		m.ViewRoles,
		md.FeatureName,
		u.[Name],
		u.[LoginName],
		u.FirstName,
		u.LastName,
		u.Email,
		u.AvatarUrl,
		u.AuthorBio,
		STRING_AGG(c.Category,',') as [Categories]

FROM		mp_Blogs b
join mp_BlogItemCategories ic on ic.ItemID = b.ItemID
join mp_BlogCategories c on c.CategoryID = ic.CategoryID
JOIN		mp_Modules m
ON		b.ModuleID = m.ModuleID

JOIN		mp_ModuleDefinitions md
ON		m.ModuleDefID = md.ModuleDefID

JOIN		mp_PageModules pm
ON			pm.ModuleID = m.ModuleID

JOIN		mp_Pages p
ON		p.PageID = pm.PageID

LEFT OUTER JOIN		mp_Users u
ON	b.UserGuid = u.UserGuid

WHERE	p.SiteID = @SiteID
		AND pm.PageID = @PageID

group by 		
b.[ItemID]
      ,b.[ModuleID]
      ,b.[CreatedByUser]
      ,b.[CreatedDate]
      ,b.[Title]
      ,b.[StartDate]
      ,b.[IsInNewsletter]
      ,b.[Description]
      ,b.[CommentCount]
      ,b.[TrackBackCount]
      ,b.[Categories]
      ,b.[IncludeInFeed]
      ,b.[AllowCommentsForDays]
      ,b.[BlogGuid]
      ,b.[ModuleGuid]
      ,b.[Location]
      ,b.[UserGuid]
      ,b.[LastModUserGuid]
      ,b.[LastModUtc]
      ,b.[ItemUrl]
      ,b.[Heading]
      ,b.[MetaKeywords]
      ,b.[MetaDescription]
      ,b.[Abstract]
      ,b.[CompiledMeta]
      ,b.[IsPublished]
      ,b.[EndDate]
      ,b.[Approved]
      ,b.[ApprovedBy]
      ,b.[ApprovedDate]
      ,b.[SubTitle]
      ,b.[ShowAuthorName]
      ,b.[ShowAuthorAvatar]
      ,b.[ShowAuthorBio]
      ,b.[IncludeInSearch]
      ,b.[IncludeInSiteMap]
      ,b.[UseBingMap]
      ,b.[MapHeight]
      ,b.[MapWidth]
      ,b.[ShowMapOptions]
      ,b.[ShowZoomTool]
      ,b.[ShowLocationInfo]
      ,b.[UseDrivingDirections]
      ,b.[MapType]
      ,b.[MapZoom]
      ,b.[ShowDownloadLink]
      ,b.[ExcludeFromRecentContent]
      ,b.[IncludeInNews]
      ,b.[PubName]
      ,b.[PubLanguage]
      ,b.[PubAccess]
      ,b.[PubGenres]
      ,b.[PubKeyWords]
      ,b.[PubGeoLocations]
      ,b.[PubStockTickers]
      ,b.[HeadlineImageUrl]
      ,b.[IncludeImageInExcerpt]
      ,b.[IncludeImageInPost]
,m.ModuleTitle,
		m.ViewRoles,
		md.FeatureName,
		u.[Name],
		u.[LoginName],
		u.FirstName,
		u.LastName,
		u.Email,
		u.AvatarUrl,
		u.AuthorBio
GO
ALTER PROCEDURE [dbo].[mp_Blog_Select]
   
@ModuleID int,
@BeginDate datetime,
@CurrentTime datetime

AS
DECLARE @RowsToGet int

SET @RowsToGet = COALESCE((SELECT TOP 1 SettingValue FROM mp_ModuleSettings WHERE SettingName = 'BlogEntriesToShowSetting' AND ModuleID = @ModuleID),1)

SET rowcount @RowsToGet

SELECT		
			b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IsPublished,
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			u.[Name],
			u.[LoginName],
			u.Email,
			STRING_AGG(c.Category,',') as [Categories]
			

FROM        		mp_Blogs b
join mp_BlogItemCategories ic on ic.ItemID = b.ItemID
join mp_BlogCategories c on c.CategoryID = ic.CategoryID
LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid

WHERE
    			(b.ModuleID = @ModuleID)  
    			and (@BeginDate >= b.StartDate)
    			and b.IsPublished = 1
    			and b.StartDate <= @CurrentTime
group by
			b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IsPublished,
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			b.CommentCount,
			u.[Name],
			u.[LoginName],
			u.Email
ORDER BY
   			b.StartDate DESC

			
GO