ALTER PROCEDURE [dbo].[mp_Blogs_SelectClosed]

-- Author:   			
-- Created: 			2012-11-11
-- Last Modified: 		2014-06-25

@ModuleID int,
@CurrentTime datetime,
@PageNumber int,
@PageSize int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]
		
WHERE
(ModuleID = @ModuleID)  
    			AND EndDate < @CurrentTime

ORDER BY

	StartDate DESC

END


SELECT
		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.SubTitle,
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.EndDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			
			b.ShowAuthorName,
			b.ShowAuthorAvatar,
			b.ShowAuthorBio,
			b.UseBingMap,
			b.MapHeight,
			b.MapWidth,
			b.ShowMapOptions,
			b.ShowZoomTool,
			b.ShowLocationInfo,
			b.UseDrivingDirections,
			b.MapType,
			b.MapZoom,
			b.ShowDownloadLink,
			b.HeadlineImageUrl,
			b.IncludeImageInExcerpt,
			
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			COALESCE(u.UserID, -1) AS UserID,
			u.[Name],
			u.[LoginName],
			u.FirstName,
			u.LastName,
			u.Email,
			u.AvatarUrl,
			u.AuthorBio
		
FROM
		[dbo].[mp_Blogs] b

JOIN			#PageIndex t2
ON			
		b.[ItemID] = t2.[ItemID]
		
LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex


GO

