ALTER TABLE [dbo].mp_Blogs ADD
	IncludeImageInPost bit NOT NULL Default 0
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Blog_Insert]

/*
Author:			Joe Audette
Last Modified:	2017-06-06

*/

@BlogGuid	uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@ModuleID       		int,
@UserName       	nvarchar(100),
@Heading         		nvarchar(255),
@Abstract	    	nvarchar(max),
@Description    		nvarchar(max),
@Location    		nvarchar(max),
@StartDate      		datetime,
@IsInNewsletter 	bit,
@IncludeInFeed		bit,
@AllowCommentsForDays	int,
@UserGuid	uniqueidentifier,
@CreatedDate	datetime,
@ItemUrl	nvarchar(255),
@MetaKeywords	nvarchar(255),
@MetaDescription	nvarchar(255),
@CompiledMeta    		nvarchar(max),
@IsPublished			bit,
@SubTitle nvarchar(500),
@EndDate datetime,
@Approved bit,
@ApprovedBy uniqueidentifier,
@ApprovedDate datetime,
@ShowAuthorName bit,
@ShowAuthorAvatar bit,
@ShowAuthorBio bit,
@IncludeInSearch bit,
@UseBingMap bit,
@MapHeight nvarchar(10),
@MapWidth nvarchar(10),
@ShowMapOptions bit,
@ShowZoomTool bit,
@ShowLocationInfo bit,
@UseDrivingDirections bit,
@MapType nvarchar(20),
@MapZoom int,
@ShowDownloadLink bit,
@IncludeInSiteMap bit,
@ExcludeFromRecentContent bit,

@IncludeInNews bit,
@PubName nvarchar(255),
@PubLanguage nvarchar(7),
@PubAccess nvarchar(20),
@PubGenres nvarchar(255),
@PubKeyWords nvarchar(255),
@PubGeoLocations nvarchar(255),
@PubStockTickers nvarchar(255),
@HeadlineImageUrl nvarchar(255),
@IncludeImageInExcerpt bit,
@IncludeImageInPost bit,


@ItemID         		int OUTPUT

AS

INSERT INTO 		mp_Blogs
(
			BlogGuid,
			ModuleGuid,
    			ModuleID,
    			CreatedByUser,
    			CreatedDate,
    			Heading,
    			Abstract,
			[Description],
			Location,
			StartDate,
			IsInNewsletter,
			IncludeInFeed,
			AllowCommentsForDays,
			UserGuid,
			LastModUserGuid,
			LastModUtc,
			ItemUrl,
			MetaKeywords,
			MetaDescription,
			CompiledMeta,
			IsPublished,
			SubTitle,
			EndDate,
			Approved,
			ApprovedBy,
			ApprovedDate,
			ShowAuthorName,
			ShowAuthorAvatar,
			ShowAuthorBio,
			IncludeInSearch,
			UseBingMap,
			MapHeight,
			MapWidth,
			ShowMapOptions,
			ShowZoomTool,
			ShowLocationInfo,
			UseDrivingDirections,
			MapType,
			MapZoom,
			ShowDownloadLink,
			IncludeInSiteMap,
			ExcludeFromRecentContent,
			IncludeInNews,
			PubName,
			PubLanguage,
			PubAccess,
			PubGenres,
			PubKeyWords,
			PubGeoLocations,
			PubStockTickers,
			HeadlineImageUrl,
			IncludeImageInExcerpt,
			IncludeImageInPost
)

VALUES
(
			@BlogGuid,
			@ModuleGuid,
    		@ModuleID,
    		@UserName,
    		@CreatedDate,
    		@Heading,
    		@Abstract,
    		@Description,
			@Location,
    		@StartDate,
    		@IsInNewsletter,
		@IncludeInFeed,
			@AllowCommentsForDays,
			@UserGuid,
			@UserGuid,
			@CreatedDate,
			@ItemUrl,
			@MetaKeywords,
			@MetaDescription,
			@CompiledMeta,
			@IsPublished,
			@SubTitle,
			@EndDate,
			@Approved,
			@ApprovedBy,
			@ApprovedDate,
			@ShowAuthorName,
			@ShowAuthorAvatar,
			@ShowAuthorBio,
			@IncludeInSearch,
			@UseBingMap,
			@MapHeight,
			@MapWidth,
			@ShowMapOptions,
			@ShowZoomTool,
			@ShowLocationInfo,
			@UseDrivingDirections,
			@MapType,
			@MapZoom,
			@ShowDownloadLink,
			@IncludeInSiteMap,
			@ExcludeFromRecentContent,
			@IncludeInNews,
			@PubName,
			@PubLanguage,
			@PubAccess,
			@PubGenres,
			@PubKeyWords,
			@PubGeoLocations,
			@PubStockTickers,
			@HeadlineImageUrl,
			@IncludeImageInExcerpt,
    		@IncludeImageInPost
)

SELECT

    @ItemID = @@Identity


IF EXISTS(SELECT ModuleID FROM mp_BlogStats WHERE ModuleID = @ModuleID)
	BEGIN
		UPDATE mp_BlogStats
		SET 	EntryCount = EntryCount + 1
		WHERE ModuleID = @ModuleID

	END
ELSE
	BEGIN
		INSERT INTO mp_BlogStats(ModuleGuid, ModuleID, EntryCount)
		VALUES (@ModuleGuid, @ModuleID, 1)


	END

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








ALTER PROCEDURE [dbo].[mp_Blogs_SelectPage]

-- Author:   			Joe Audette
-- Created: 			2010-01-05
-- Last Modified: 		2014-02-05

@ModuleID int,
@BeginDate datetime,
@CurrentTime datetime,
@PageNumber int,
@PageSize int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]
		
WHERE
(ModuleID = @ModuleID)  
    			and (@BeginDate >= StartDate)
    			and IsPublished = 1
    			and StartDate <= @CurrentTime
    			AND (EndDate IS NULL OR EndDate > @CurrentTime)

ORDER BY

	StartDate DESC

END


SELECT
		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.SubTitle,
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			
			b.ShowAuthorName,
			b.ShowAuthorAvatar,
			b.ShowAuthorBio,
			b.UseBingMap,
			b.MapHeight,
			b.MapWidth,
			b.ShowMapOptions,
			b.ShowZoomTool,
			b.ShowLocationInfo,
			b.UseDrivingDirections,
			b.MapType,
			b.MapZoom,
			b.ShowDownloadLink,
			b.HeadlineImageUrl,
			b.IncludeImageInExcerpt,
			b.IncludeImageInPost,
			
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			COALESCE(u.UserID, -1) AS UserID,
			u.[Name],
			u.[LoginName],
			u.FirstName,
			u.LastName,
			u.Email,
			u.AvatarUrl,
			u.AuthorBio
		
FROM
		[dbo].[mp_Blogs] b

JOIN			#PageIndex t2
ON			
		b.[ItemID] = t2.[ItemID]
		
LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Blog_Update]

/*
Last Modified:		2017-07-13
*/

@ItemID         		int,
@ModuleID       		int,
@UserName       	nvarchar(100),
@Heading          		nvarchar(255),
@Abstract       		nvarchar(max),
@Description    		nvarchar(max),
@StartDate      		datetime,
@IsInNewsletter 	bit,
@IncludeInFeed		bit,
@AllowCommentsForDays	int,
@Location nvarchar(max),
@LastModUserGuid	uniqueidentifier,
@LastModUtc	datetime,
@ItemUrl	nvarchar(255),
@MetaKeywords	nvarchar(255),
@MetaDescription	nvarchar(255),
@CompiledMeta    		nvarchar(max),
@IsPublished			bit,
@SubTitle nvarchar(500),
@EndDate datetime,
@Approved bit,
@ApprovedBy uniqueidentifier,
@ApprovedDate datetime,
@ShowAuthorName bit,
@ShowAuthorAvatar bit,
@ShowAuthorBio bit,
@IncludeInSearch bit,
@UseBingMap bit,
@MapHeight nvarchar(10),
@MapWidth nvarchar(10),
@ShowMapOptions bit,
@ShowZoomTool bit,
@ShowLocationInfo bit,
@UseDrivingDirections bit,
@MapType nvarchar(20),
@MapZoom int,
@ShowDownloadLink bit,
@IncludeInSiteMap bit,
@ExcludeFromRecentContent bit,
@IncludeInNews bit,
@PubName nvarchar(255),
@PubLanguage nvarchar(7),
@PubAccess nvarchar(20),
@PubGenres nvarchar(255),
@PubKeyWords nvarchar(255),
@PubGeoLocations nvarchar(255),
@PubStockTickers nvarchar(255),
@HeadlineImageUrl nvarchar(255),
@IncludeImageInExcerpt bit,
@IncludeImageInPost bit
  
AS

UPDATE mp_Blogs

SET 

		ModuleID = @ModuleID,
		CreatedByUser = @UserName,
		Heading =@Heading ,
		[Abstract] =@Abstract,
		[Description] = @Description,
		StartDate = @StartDate,
		IsInNewsletter = @IsInNewsletter,
		IncludeInFeed = @IncludeInFeed,
		AllowCommentsForDays = @AllowCommentsForDays,
		Location = @Location,
		LastModUserGuid = @LastModUserGuid,
		LastModUtc = @LastModUtc,
		ItemUrl = @ItemUrl,
		MetaKeywords = @MetaKeywords,
		MetaDescription = @MetaDescription,
		CompiledMeta = @CompiledMeta,
		IsPublished = @IsPublished,
		SubTitle = @SubTitle,
		EndDate = @EndDate,
		Approved = @Approved,
		ApprovedBy = @ApprovedBy,
		ApprovedDate = @ApprovedDate,
		ShowAuthorName = @ShowAuthorName,
		ShowAuthorAvatar = @ShowAuthorAvatar,
		ShowAuthorBio = @ShowAuthorBio,
		IncludeInSearch = @IncludeInSearch,
		UseBingMap = @UseBingMap,
		MapHeight = @MapHeight,
		MapWidth = @MapWidth,
		ShowMapOptions = @ShowMapOptions,
		ShowZoomTool = @ShowZoomTool,
		ShowLocationInfo = @ShowLocationInfo,
		UseDrivingDirections = @UseDrivingDirections,
		MapType = @MapType,
		MapZoom = @MapZoom,
		ShowDownloadLink = @ShowDownloadLink,
		IncludeInSiteMap = @IncludeInSiteMap,
		ExcludeFromRecentContent = @ExcludeFromRecentContent,
		IncludeInNews = @IncludeInNews,
		PubName = @PubName,
		PubLanguage = @PubLanguage,
		PubAccess = @PubAccess,
		PubGenres = @PubGenres,
		PubKeyWords = @PubKeyWords,
		PubGeoLocations = @PubGeoLocations,
		PubStockTickers = @PubStockTickers,
		HeadlineImageUrl = @HeadlineImageUrl,
		IncludeImageInExcerpt = @IncludeImageInExcerpt,
		IncludeImageInPost = @IncludeImageInPost
		
WHERE 
		ItemID = @ItemID





SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Blog_SelectPageByCategory]

/*
Author:			
Created:		2012-04-13
Last Modified:	2014-02-05

*/



@ModuleID 		int,
@CategoryID		int,
@CurrentTime datetime,
@PageNumber int,
@PageSize int


AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]

WHERE 	ModuleID = @ModuleID
		AND IsPublished = 1
		AND StartDate <= @CurrentTime
		AND (EndDate IS NULL OR EndDate > @CurrentTime)
		AND ItemID IN (SELECT ItemID FROM mp_BlogItemCategories WHERE CategoryID = @CategoryID)


ORDER BY	 StartDate DESC

END

SELECT
		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.SubTitle,
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			
			b.ShowAuthorName,
			b.ShowAuthorAvatar,
			b.ShowAuthorBio,
			b.UseBingMap,
			b.MapHeight,
			b.MapWidth,
			b.ShowMapOptions,
			b.ShowZoomTool,
			b.ShowLocationInfo,
			b.UseDrivingDirections,
			b.MapType,
			b.MapZoom,
			b.ShowDownloadLink,
			b.HeadlineImageUrl,
			b.IncludeImageInExcerpt,
			b.IncludeImageInPost,
			
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			COALESCE(u.UserID, -1) AS UserID,
			u.[Name],
			u.FirstName,
			u.LastName,
			u.[LoginName],
			u.Email,
			u.AvatarUrl,
			u.AuthorBio
		
FROM
		[dbo].[mp_Blogs] b

JOIN			#PageIndex t2
ON			
		b.[ItemID] = t2.[ItemID]
		
LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Blog_SelectPageByMonth]

-- Author:   			
-- Created: 			2012-04-13
-- Last Modified: 		2014-02-05

@Month int,
@Year int,
@ModuleID int,
@CurrentDate datetime,
@PageNumber int,
@PageSize int


AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]
		
WHERE
	ModuleID = @ModuleID
		AND IsPublished = 1
		AND StartDate <= @CurrentDate
		AND (EndDate IS NULL OR EndDate > @CurrentDate)
		AND Month(StartDate)  = @Month 
		AND Year(StartDate)  = @Year


ORDER BY	 StartDate DESC

END

SELECT
		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.SubTitle,
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			
			b.ShowAuthorName,
			b.ShowAuthorAvatar,
			b.ShowAuthorBio,
			b.UseBingMap,
			b.MapHeight,
			b.MapWidth,
			b.ShowMapOptions,
			b.ShowZoomTool,
			b.ShowLocationInfo,
			b.UseDrivingDirections,
			b.MapType,
			b.MapZoom,
			b.ShowDownloadLink,
			b.HeadlineImageUrl,
			b.IncludeImageInExcerpt,
			b.IncludeImageInPost,
			
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			COALESCE(u.UserID, -1) AS UserID,
			u.[Name],
			u.FirstName,
			u.LastName,
			u.[LoginName],
			u.Email,
			u.AvatarUrl,
			u.AuthorBio
		
FROM
		[dbo].[mp_Blogs] b

JOIN			#PageIndex t2
ON			
		b.[ItemID] = t2.[ItemID]
		
LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

			SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[mp_Blog_SelectPageByMonthPersian]

-- Author:   			
-- Created: 			2012-04-13
-- Last Modified: 		2014-02-05

@Month int,
@Year int,
@ModuleID int,
@CurrentDate datetime,
@PageNumber int,
@PageSize int


AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]
		
WHERE
	ModuleID = @ModuleID
		AND IsPublished = 1
		AND StartDate <= @CurrentDate
		AND (EndDate IS NULL OR EndDate > @CurrentDate)
		AND [dbo].PersianMonth(StartDate)  = @Month 
		AND [dbo].PersianYear(StartDate)  = @Year


ORDER BY	 StartDate DESC

END

SELECT
		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.SubTitle,
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			
			b.ShowAuthorName,
			b.ShowAuthorAvatar,
			b.ShowAuthorBio,
			b.UseBingMap,
			b.MapHeight,
			b.MapWidth,
			b.ShowMapOptions,
			b.ShowZoomTool,
			b.ShowLocationInfo,
			b.UseDrivingDirections,
			b.MapType,
			b.MapZoom,
			b.ShowDownloadLink,
			b.HeadlineImageUrl,
			b.IncludeImageInExcerpt,
			b.IncludeImageInPost,
			
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			COALESCE(u.UserID, -1) AS UserID,
			u.[Name],
			u.FirstName,
			u.LastName,
			u.[LoginName],
			u.Email,
			u.AvatarUrl,
			u.AuthorBio
		
FROM
		[dbo].[mp_Blogs] b

JOIN			#PageIndex t2
ON			
		b.[ItemID] = t2.[ItemID]
		
LEFT OUTER JOIN		[dbo].mp_Users u
ON			b.UserGuid = u.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

			


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[mp_Blogs_SelectPageOfDrafts]

-- Author:   			
-- Created: 			2012-11-13
-- Last Modified: 		2014-02-05

@ModuleID int,
@UserGuid uniqueidentifier,
@CurrentTime datetime,
@PageNumber int,
@PageSize int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1



CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Blogs]
		
WHERE
(ModuleID = @ModuleID)  
AND (@UserGuid = '00000000-0000-0000-0000-000000000000' OR UserGuid  = @UserGuid)
and ((StartDate > @CurrentTime) OR (IsPublished = 0))

ORDER BY

	StartDate DESC

END


SELECT
		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Heading, 
			b.SubTitle,
			b.[Abstract], 
			b.[Description], 
			b.StartDate,
			b.IsPublished,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.MetaKeywords,
			b.MetaDescription,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			
			b.ShowAuthorName,
			b.ShowAuthorAvatar,
			b.ShowAuthorBio,
			b.UseBingMap,
			b.MapHeight,
			b.MapWidth,
			b.ShowMapOptions,
			b.ShowZoomTool,
			b.ShowLocationInfo,
			b.UseDrivingDirections,
			b.MapType,
			b.MapZoom,
			b.ShowDownloadLink,
			b.HeadlineImageUrl,
			b.IncludeImageInExcerpt,
			b.IncludeImageInPost,
			
			CONVERT(nvarchar(20), b.CommentCount) AS CommentCount,
			COALESCE(u.UserID, -1) AS UserID,
			u.[Name],
			u.[LoginName],
			u.FirstName,
			u.LastName,
			u.Email,
			u.AvatarUrl,
			u.AuthorBio
		
FROM
		[dbo].[mp_Blogs] b

JOIN			#PageIndex t2
ON			
		b.[ItemID] = t2.[ItemID]
		
LEFT OUTER JOIN		mp_Users u
ON			b.UserGuid = u.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


