CREATE TABLE [mp_CalendarEvents](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [ntext] NULL,
	[ImageName] [nvarchar](100) NULL,
	[EventDate] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[ItemGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[Location] [ntext] NULL,
	[LastModUserGuid] [uniqueidentifier] NULL,
	[LastModUtc] [datetime] NULL,
	[TicketPrice] [decimal](15, 4) NULL,
	[RequiresTicket] [bit] NULL,
 CONSTRAINT [PK_mp_CalendarEvents] PRIMARY KEY  
(
	[ItemID] 
)
) 
GO

ALTER TABLE [mp_CalendarEvents] ADD  CONSTRAINT [DF_mp_CalendarEvents_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
