<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="DEB8288C-59D8-49C2-8405-D49E9CBDBF9F"
	supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="BetterImageGalleryResources"
		featureNameReasourceKey="FeatureName"
		controlSource="BetterImageGallery/BetterImageGalleryModule.ascx"
		sortOrder="545"
		isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
		<featureSetting
			controlSrc="~/BetterImageGallery/LayoutSelector.ascx"
			controlType="ISettingControl"
			defaultValue="_BetterImageGallery"
			regexValidationExpression=""
			resourceFile="BetterImageGalleryResources"
			resourceKey="Layout"
			sortOrder="120"
		/>
		<featureSetting
			controlSrc="~/Controls/FilePathSetting.ascx"
			controlType="CustomField"
			defaultValue=""
			regexValidationExpression=""
			resourceFile="BetterImageGalleryResources"
			resourceKey="FolderGalleryPath"
			sortOrder="130"
		>
			<Attributes>
				<Attribute name="type" value="folder" />
				<Attribute name="startFolder" value="BetterImageGallery" />
				<Attribute name="returnFullPath" value="false" />
			</Attributes>
		</featureSetting>
		<!--<featureSetting
			controlSrc=""
			controlType="TextBox"
			defaultValue="4"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			resourceFile="BetterImageGalleryResources"
			resourceKey="PageSize"
			sortOrder="130"
		/>-->
	</featureDefinition>
</featureDefinitions>

