<?xml version="1.0" encoding="utf-8" ?>
<PayPalPDTHandlerProviders>
	<providers>

		<add name="WebStorePayPalPDTHandlerProvider"
			 type="WebStore.Helpers.WebStorePayPalPDTHandlerProvider, WebStore.UI"
			 description="WebStorePayPalPDTHandlerProvider" />

		
	</providers>
</PayPalPDTHandlerProviders>