
CREATE TABLE `mp_MediaFile` (
 `FileID` INTEGER NOT NULL PRIMARY KEY, 
 `TrackID` INTEGER NOT NULL,
 `FilePath` varchar(255) NOT NULL,
 `AddedDate` datetime NOT NULL,
 `UserGuid` varchar(36) NULL
);

CREATE TABLE `mp_MediaTrack` (
 `TrackID` INTEGER NOT NULL PRIMARY KEY, 
 `PlayerID` INTEGER NOT NULL,
 `TrackType` varchar(10) NOT NULL,
 `TrackOrder` INTEGER NOT NULL,
 `Name` varchar(100) NOT NULL,
 `Artist` varchar(100) NULL,
 `CreatedDate` datetime NOT NULL,
 `UserGuid` varchar(36) NULL
);


CREATE TABLE `mp_MediaPlayer` (
 `PlayerID` INTEGER NOT NULL PRIMARY KEY, 
 `ModuleID` INTEGER NOT NULL,
 `PlayerType` varchar(10) NOT NULL,
 `Skin` varchar(50) NOT NULL,
 `CreatedDate` datetime NOT NULL,
 `UserGuid` varchar(36) NULL,
 `ModuleGuid` varchar(36) NULL
);

