ALTER TABLE mp_Sites ADD COLUMN GmapApiKey VARCHAR(255);
ALTER TABLE mp_Sites ADD COLUMN ApiKeyExtra1 VARCHAR(255);
ALTER TABLE mp_Sites ADD COLUMN ApiKeyExtra2 VARCHAR(255);
ALTER TABLE mp_Sites ADD COLUMN ApiKeyExtra3 VARCHAR(255);
ALTER TABLE mp_Sites ADD COLUMN ApiKeyExtra4 VARCHAR(255);
ALTER TABLE mp_Sites ADD COLUMN ApiKeyExtra5 VARCHAR(255);

ALTER TABLE mp_Users ADD COLUMN SiteGuid VARCHAR(36);

UPDATE mp_Users
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Users.SiteID LIMIT 1);
		
ALTER TABLE mp_SiteHosts ADD COLUMN SiteGuid VARCHAR(36);

UPDATE mp_SiteHosts
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_SiteHosts.SiteID LIMIT 1);


ALTER TABLE mp_SitePaths ADD COLUMN SiteGuid VARCHAR(36);

UPDATE mp_SitePaths
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_SitePaths.SiteID LIMIT 1);

ALTER TABLE mp_UserPages ADD COLUMN SiteGuid VARCHAR(36);

UPDATE mp_UserPages
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_UserPages.SiteID LIMIT 1);
		
ALTER TABLE mp_WebParts ADD COLUMN SiteGuid VARCHAR(36);

UPDATE mp_WebParts
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_WebParts.SiteID LIMIT 1);
		

ALTER TABLE mp_SiteModuleDefinitions ADD COLUMN SiteGuid VARCHAR(36);
ALTER TABLE mp_SiteModuleDefinitions ADD COLUMN FeatureGuid VARCHAR(36);

UPDATE mp_SiteModuleDefinitions
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_SiteModuleDefinitions.SiteID LIMIT 1),
    FeatureGuid = (SELECT Guid from mp_ModuleDefinitions
		WHERE mp_ModuleDefinitions.ModuleDefID = mp_SiteModuleDefinitions.ModuleDefID LIMIT 1);


ALTER TABLE mp_FriendlyUrls ADD COLUMN SiteGuid VARCHAR(36);
ALTER TABLE mp_FriendlyUrls ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_FriendlyUrls ADD COLUMN PageGuid VARCHAR(36);

UPDATE mp_FriendlyUrls
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_FriendlyUrls.SiteID LIMIT 1);


ALTER TABLE mp_Pages ADD COLUMN SiteGuid VARCHAR(36);
ALTER TABLE mp_Pages ADD COLUMN CompiledMeta text;
ALTER TABLE mp_Pages ADD COLUMN CompiledMetaUtc datetime;

UPDATE mp_Pages
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Pages.SiteID LIMIT 1);

		
ALTER TABLE mp_Roles ADD COLUMN SiteGuid VARCHAR(36);
ALTER TABLE mp_Roles ADD COLUMN RoleGuid VARCHAR(36);


UPDATE mp_Roles
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Roles.SiteID LIMIT 1);

ALTER TABLE mp_UserRoles ADD COLUMN UserGuid VARCHAR(36);
ALTER TABLE mp_UserRoles ADD COLUMN RoleGuid VARCHAR(36);

UPDATE mp_UserRoles
SET UserGuid = (SELECT UserGuid from mp_Users
		WHERE mp_UserRoles.UserID = mp_Users.UserID LIMIT 1);


ALTER TABLE mp_Modules ADD COLUMN Guid VARCHAR(36);
ALTER TABLE mp_Modules ADD COLUMN FeatureGuid VARCHAR(36);
ALTER TABLE mp_Modules ADD COLUMN SiteGuid VARCHAR(36);
ALTER TABLE mp_Modules ADD COLUMN EditUserGuid VARCHAR(36);

UPDATE mp_Modules
SET SiteGuid = (SELECT SiteGuid from mp_Sites
		WHERE mp_Sites.SiteID = mp_Modules.SiteID LIMIT 1),
	FeatureGuid = (SELECT Guid from mp_ModuleDefinitions
		WHERE mp_ModuleDefinitions.ModuleDefID = mp_Modules.ModuleDefID LIMIT 1);
		
UPDATE mp_Modules	
SET EditUserGuid = (SELECT UserGuid from mp_Users
		WHERE mp_Users.UserID = mp_Modules.EditUserID LIMIT 1)
		
WHERE EditUserID > 0;


ALTER TABLE mp_ModuleSettings ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_ModuleSettings ADD COLUMN SettingGuid VARCHAR(36);



ALTER TABLE mp_PageModules ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_PageModules ADD COLUMN PageGuid VARCHAR(36);


ALTER TABLE mp_Blogs ADD COLUMN BlogGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD COLUMN Location text;
ALTER TABLE mp_Blogs ADD COLUMN UserGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD COLUMN LastModUserGuid VARCHAR(36);
ALTER TABLE mp_Blogs ADD COLUMN LastModUtc datetime;

ALTER TABLE mp_BlogStats ADD COLUMN ModuleGuid VARCHAR(36);


ALTER TABLE mp_CalendarEvents ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD COLUMN UserGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD COLUMN LastModUserGuid VARCHAR(36);
ALTER TABLE mp_CalendarEvents ADD COLUMN Location text;
ALTER TABLE mp_CalendarEvents ADD COLUMN LastModUtc datetime;
ALTER TABLE mp_CalendarEvents ADD COLUMN RequiresTicket tinyint(1) unsigned default '0';
ALTER TABLE mp_CalendarEvents ADD COLUMN TicketPrice decimal(15,4);

UPDATE mp_CalendarEvents
SET LastModUtc = CreatedDate,
	TicketPrice = 0,
	RequiresTicket = 0;


ALTER TABLE mp_GalleryImages ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_GalleryImages ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_GalleryImages ADD COLUMN UserGuid VARCHAR(36);

ALTER TABLE mp_HtmlContent ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD COLUMN UserGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD COLUMN LastModUserGuid VARCHAR(36);
ALTER TABLE mp_HtmlContent ADD COLUMN LastModUtc datetime;

ALTER TABLE mp_Links ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_Links ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_Links ADD COLUMN UserGuid VARCHAR(36);

ALTER TABLE mp_SharedFileFolders ADD COLUMN FolderGuid VARCHAR(36);
ALTER TABLE mp_SharedFileFolders ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_SharedFileFolders ADD COLUMN ParentGuid VARCHAR(36);

ALTER TABLE mp_SharedFiles ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD COLUMN UserGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD COLUMN FolderGuid VARCHAR(36);
ALTER TABLE mp_SharedFiles ADD COLUMN FileBlob BLOB;

ALTER TABLE mp_SharedFilesHistory ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_SharedFilesHistory ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_SharedFilesHistory ADD COLUMN UserGuid VARCHAR(36);

ALTER TABLE mp_RssFeeds ADD COLUMN ItemGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD COLUMN ModuleGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD COLUMN UserGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD COLUMN LastModUserGuid VARCHAR(36);
ALTER TABLE mp_RssFeeds ADD COLUMN LastModUtc datetime;

