CREATE TABLE `mp_EmailSendQueue` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `SpecialGuid1` varchar(36) NOT NULL,
 `SpecialGuid2` varchar(36) NOT NULL,
 `FromAddress` VarChar(100) NOT NULL,
 `ReplyTo` VarChar(100) NOT NULL,
 `ToAddress` VarChar(255) NOT NULL,
 `CcAddress` VarChar(255) NULL,
 `BccAddress` VarChar(255) NULL,
 `Subject` VarChar(255) NOT NULL,
 `TextBody` text NULL,
 `HtmlBody` text NULL,
 `Type` VarChar(50) NOT NULL,
 `DateToSend` datetime NOT NULL,
 `CreatedUtc` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX idxESQSiteGuid ON mp_EmailSendQueue(`SiteGuid`);
CREATE INDEX idxESQModuleGuid ON mp_EmailSendQueue(`ModuleGuid`);
CREATE INDEX idxESQSpecialGuid1 ON mp_EmailSendQueue(`SpecialGuid1`);
CREATE INDEX idxESQSpecialGuid2 ON mp_EmailSendQueue(`SpecialGuid2`);