
ALTER TABLE mp_Users ADD COLUMN FailedPwdAnswerAttemptCount integer DEFAULT 0;
UPDATE mp_Users SET FailedPwdAnswerAttemptCount = FailedPasswordAnswerAttemptCount;
ALTER TABLE mp_Users DROP COLUMN FailedPasswordAnswerAttemptCount;

ALTER TABLE mp_Users ADD COLUMN FailedPwdAnswerWindowStart datetime default NULL;
UPDATE mp_Users SET FailedPwdAnswerWindowStart = FailedPasswordAnswerAttemptWindowStart;
ALTER TABLE mp_Users DROP COLUMN FailedPasswordAnswerAttemptWindowStart;

ALTER TABLE mp_Users ADD COLUMN FailedPwdAttemptWindowStart datetime default NULL;
UPDATE mp_Users SET FailedPwdAttemptWindowStart = FailedPasswordAttemptWindowStart;
ALTER TABLE mp_Users DROP COLUMN FailedPasswordAttemptWindowStart;


ALTER TABLE mp_Sites ADD COLUMN MinReqNonAlphaChars integer DEFAULT 0;
UPDATE mp_Sites SET MinReqNonAlphaChars = MinRequiredNonAlphanumericCharacters;
ALTER TABLE mp_Sites DROP COLUMN MinRequiredNonAlphanumericCharacters;

ALTER TABLE mp_Sites ADD COLUMN PwdStrengthRegex text DEFAULT NULL;
UPDATE mp_Sites SET PwdStrengthRegex = PasswordStrengthRegularExpression;
ALTER TABLE mp_Sites DROP COLUMN PasswordStrengthRegularExpression;
