
CREATE TABLE `mp_SiteSettingsExDef` (
 `KeyName` VarChar(128) NOT NULL, 
 `GroupName` VarChar(128) NULL,
 `DefaultValue` text NULL,
 `SortOrder` int(11) NOT NULL,
 PRIMARY KEY (`KeyName`)    
) ENGINE=InnoDB ;

CREATE TABLE `mp_SiteSettingsEx` (
 `SiteID` int(11) NOT NULL ,  
 `KeyName` VarChar(128) NOT NULL , 
 `SiteGuid` varchar(36) NOT NULL,
 `KeyValue` text NULL,
 `GroupName` VarChar(128) NULL,  
 PRIMARY KEY (`SiteID`,`KeyName`)    
) ENGINE=InnoDB ;


INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SMTPUser','','SMTP', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SMTPPassword','','SMTP', 200);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SMTPServer','localhost','SMTP', 300);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SMTPPort','25','SMTP', 400);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SMTPRequiresAuthentication','false','SMTP', 500);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SMTPUseSsl','false','SMTP', 600);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SMTPPreferredEncoding','','SMTP', 700);