CREATE TABLE `mp_CommerceReportOrders` (
 `RowGuid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `OrderGuid` varchar(36) NOT NULL,
 `BillingFirstName` VarChar(100) NULL,
 `BillingLastName` VarChar(50) NULL,
 `BillingCompany` VarChar(255) NULL,
 `BillingAddress1` VarChar(255) NULL,
 `BillingAddress2` VarChar(255) NULL,
 `BillingSuburb` VarChar(255) NULL,
 `BillingCity` VarChar(255) NULL,
 `BillingPostalCode` VarChar(20) NULL,
 `BillingState` VarChar(255) NULL,
 `BillingCountry` VarChar(255) NULL,
 `PaymentMethod` VarChar(50) NULL,
 `SubTotal` Decimal(15,4) NOT NULL,
 `TaxTotal` Decimal(15,4) NOT NULL,
 `ShippingTotal` Decimal(15,4) NOT NULL,
 `OrderTotal` Decimal(15,4) NOT NULL,
 `OrderDateUtc` datetime NOT NULL,
 `AdminOrderLink` VarChar(255) NOT NULL,
 `UserOrderLink` VarChar(255) NOT NULL,
 `RowCreatedUtc` datetime NOT NULL,
PRIMARY KEY (`RowGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX idxCROSiteGuid ON mp_CommerceReportOrders(`SiteGuid`);
CREATE INDEX idxCROUserGuid ON mp_CommerceReportOrders(`UserGuid`);
CREATE INDEX idxCROModuleGuid ON mp_CommerceReportOrders(`ModuleGuid`);
CREATE INDEX idxCROOrderGuid ON mp_CommerceReportOrders(`OrderGuid`);
CREATE INDEX idxCROBillingCity ON mp_CommerceReportOrders(`BillingCity`);
CREATE INDEX idxCROBillingState ON mp_CommerceReportOrders(`BillingState`);
CREATE INDEX idxCROBillingCountry ON mp_CommerceReportOrders(`BillingCountry`);
CREATE INDEX idxCROPostalCode ON mp_CommerceReportOrders(`BillingPostalCode`);
CREATE INDEX idxCROPaymentMethod ON mp_CommerceReportOrders(`PaymentMethod`);