CREATE TABLE `mp_RedirectList` (
 `RowGuid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `SiteID` int(11) NOT NULL,
 `OldUrl` VarChar(255) NOT NULL,
 `NewUrl` VarChar(255) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `ExpireUtc` datetime NOT NULL,
PRIMARY KEY (`RowGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_ContentRating` (
 `RowGuid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `EmailAddress` VarChar(100) NULL,
 `Rating` int(11) NOT NULL,
 `Comments` text NULL,
 `IpAddress` VarChar(50) NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL,
PRIMARY KEY (`RowGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX idxRedirectSGuid ON mp_RedirectList(`SiteGuid`);
CREATE INDEX idxRedirectSId ON mp_RedirectList(`SiteID`);
CREATE INDEX idxRedirectUrl ON mp_RedirectList(`OldUrl`);

CREATE INDEX idxContentRatingG ON mp_ContentRating(`ContentGuid`);
CREATE INDEX idxContentRatingU ON mp_ContentRating(`UserGuid`);
CREATE INDEX idxContentRatingS ON mp_ContentRating(`SiteGuid`);
CREATE INDEX idxContentRatingI ON mp_ContentRating(`IpAddress`);

CREATE INDEX idxModuleGuid ON mp_RssFeedEntries(`ModuleGuid`);
CREATE INDEX idxFeedId ON mp_RssFeedEntries(`FeedId`);
CREATE INDEX idxEntryHash ON mp_RssFeedEntries(`EntryHash`);