CREATE INDEX idxULocateU ON mp_UserLocation(`UserGuid`);
CREATE INDEX idxULocateIP ON mp_UserLocation(`IPAddress`);

CREATE INDEX idxUserUGuid ON mp_Users(`UserGuid`);

CREATE INDEX idxSitesGuid ON mp_Sites(`SiteGuid`);

CREATE INDEX idxModulesGuid ON mp_Modules(`Guid`);
CREATE INDEX idxModulesFGuid ON mp_Modules(`FeatureGuid`);
CREATE INDEX idxModulesMDef ON mp_Modules(`ModuleDefID`);
CREATE INDEX idxModulesSID ON mp_Modules(`SiteID`);
CREATE INDEX idxModuleDefGuid ON mp_ModuleDefinitions(`Guid`);

