CREATE TABLE `mp_PlugNPayLog` (
 `RowGuid` varchar(36) NOT NULL, 
 `CreatedUtc` datetime NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `StoreGuid` varchar(36) NOT NULL,
 `CartGuid` varchar(36) NOT NULL,
 `RawResponse` text NULL,
 `ResponseCode` VarChar(10) NULL,
 `ResponseReasonCode` VarChar(20) NULL,
 `Reason` text NULL,
 `AvsCode` VarChar(50) NULL,
 `CcvCode` VarChar(10) NULL,
 `CavCode` VarChar(10) NULL,
 `TransactionId` VarChar(50) NULL,
 `TransactionType` VarChar(50) NULL,
 `Method` VarChar(20) NULL,
 `AuthCode` VarChar(50) NULL,
 `Amount` Decimal(15,4) NULL,
 `Tax` Decimal(15,4) NULL,
 `Duty` Decimal(15,4) NULL,
 `Freight` Decimal(15,4) NULL,
PRIMARY KEY (`RowGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

