CREATE TABLE `mp_EmailTemplate` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `SpecialGuid1` varchar(36) NOT NULL,
 `SpecialGuid2` varchar(36) NOT NULL,
 `Name` VarChar(255) NOT NULL,
 `Subject` VarChar(255) NOT NULL,
 `TextBody` text NOT NULL,
 `HtmlBody` text NULL,
 `HasHtml` tinyint(1) unsigned NOT NULL,
 `IsEditable` tinyint(1) unsigned NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_EmailSendLog` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `SpecialGuid1` varchar(36) NOT NULL,
 `SpecialGuid2` varchar(36) NOT NULL,
 `ToAddress` VarChar(255) NOT NULL,
 `CcAddress` VarChar(255) NULL,
 `BccAddress` VarChar(255) NULL,
 `Subject` VarChar(255) NOT NULL,
 `TextBody` text NULL,
 `HtmlBody` text NULL,
 `Type` VarChar(50) NOT NULL,
 `SentUtc` datetime NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE INDEX idxETSiteGuid ON mp_EmailTemplate(`SiteGuid`);
CREATE INDEX idxETFeatureGuid ON mp_EmailTemplate(`FeatureGuid`);
CREATE INDEX idxETModuleGuid ON mp_EmailTemplate(`ModuleGuid`);
CREATE INDEX idxETSpecialGuid1 ON mp_EmailTemplate(`SpecialGuid1`);
CREATE INDEX idxETSpecialGuid2 ON mp_EmailTemplate(`SpecialGuid2`);
CREATE INDEX idxETName ON mp_EmailTemplate(`Name`);

CREATE INDEX idxESLSiteGuid ON mp_EmailSendLog(`SiteGuid`);
CREATE INDEX idxESLModuleGuid ON mp_EmailSendLog(`ModuleGuid`);
CREATE INDEX idxESLSpecialGuid1 ON mp_EmailSendLog(`SpecialGuid1`);
CREATE INDEX idxESLSpecialGuid2 ON mp_EmailSendLog(`SpecialGuid2`);

