CREATE TABLE `mp_RssFeedEntries` (
 `RowGuid` varchar(36) NOT NULL, 
 `ModuleGuid` varchar(36) NOT NULL,
 `FeedGuid` varchar(36) NOT NULL,
 `FeedId` int(11) NOT NULL,
 `PubDate` datetime NOT NULL,
 `Title` VarChar(255) NOT NULL,
 `Author` VarChar(100) NULL,
 `BlogUrl` VarChar(255) NOT NULL,
 `Description` text NOT NULL,
 `Link` VarChar(255) NOT NULL,
 `Confirmed` tinyint(1) unsigned NOT NULL,
 `EntryHash` int(11) NOT NULL,
 `CachedTimeUtc` datetime NOT NULL,
PRIMARY KEY (`RowGuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

ALTER TABLE mp_RssFeeds ADD COLUMN `ImageUrl` VARCHAR(255);
ALTER TABLE mp_RssFeeds ADD COLUMN `FeedType` VARCHAR(20);
ALTER TABLE mp_RssFeeds ADD COLUMN `PublishByDefault` int(11);

UPDATE mp_RssFeeds SET PublishByDefault = 0, FeedType = 'Rss';
