ALTER TABLE mp_ModuleDefinitions ADD COLUMN ResourceFile VARCHAR(255);

ALTER TABLE mp_Pages ADD COLUMN ChangeFrequency VARCHAR(20);

ALTER TABLE mp_Pages ADD COLUMN SiteMapPriority VARCHAR(10);

ALTER TABLE mp_Pages ADD COLUMN LastModifiedUTC datetime;

ALTER TABLE mp_Pages ADD COLUMN PageGuid VARCHAR(36);

ALTER TABLE mp_Pages ADD COLUMN ParentGuid VARCHAR(36);

UPDATE mp_Pages SET ParentGuid = '00000000-0000-0000-0000-000000000000';