CREATE TABLE `mp_LetterInfo` (
 `LetterInfoGuid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NOT NULL,
 `Description` text NOT NULL,
 `AvailableToRoles` text NOT NULL,
 `Enabled` tinyint(1) unsigned NOT NULL,
 `AllowUserFeedback` tinyint(1) unsigned NOT NULL,
 `AllowAnonFeedback` tinyint(1) unsigned NOT NULL,
 `FromAddress` varchar(255) NOT NULL,
 `FromName` varchar(255) NOT NULL,
 `ReplyToAddress` varchar(255) NOT NULL,
 `SendMode` int(11) NOT NULL,
 `EnableViewAsWebPage` tinyint(1) unsigned NOT NULL,
 `EnableSendLog` tinyint(1) unsigned NOT NULL,
 `RolesThatCanEdit` text NOT NULL,
 `RolesThatCanApprove` text NOT NULL,
 `RolesThatCanSend` text NOT NULL,
 `SubscriberCount` int(11) NOT NULL,
 `CreatedUTC` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUTC` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
 PRIMARY KEY (`LetterInfoGuid`)   
) ENGINE=InnoDB DEFAULT CHARSET=utf8;



CREATE TABLE `mp_Letter` (
 `LetterGuid` varchar(36) NOT NULL, 
 `LetterInfoGuid` varchar(36) NOT NULL,
 `Subject` varchar(255) NOT NULL,
 `HtmlBody` text NOT NULL,
 `TextBody` text NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `CreatedUTC` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
 `LastModUTC` datetime NOT NULL,
 `IsApproved` tinyint(1) unsigned NOT NULL,
 `ApprovedBy` varchar(36) NOT NULL,
 `SendClickedUTC` datetime NULL,
 `SendStartedUTC` datetime NULL,
 `SendCompleteUTC` datetime NULL,
 `SendCount` int(11) NOT NULL,
 PRIMARY KEY (`LetterGuid`)   
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	


alter table mp_Letter
add KEY `FK_Letter_letterinfo` (`LetterInfoGuid`),  COMMENT=''; 

ALTER TABLE mp_Letter
ADD CONSTRAINT `FK_Letter_letterinfo` 
FOREIGN KEY(`LetterInfoGuid`)
REFERENCES mp_LetterInfo  (`LetterInfoGuid`); 

CREATE TABLE `mp_LetterHtmlTemplate` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NOT NULL,
 `Html` text NOT NULL,
 `LastModUTC` datetime NOT NULL,
 PRIMARY KEY (`Guid`)   
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_LetterSubscriber` ( 
 `LetterInfoGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `UseHtml` tinyint(1) unsigned NOT NULL,
 `BeginUTC` datetime NOT NULL,
 PRIMARY KEY (`LetterInfoGuid`, `UserGuid`)    
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_LetterSubscriberHx` (
 `RowID` int(11) NOT NULL auto_increment, 
 `LetterInfoGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `UseHtml` tinyint(1) unsigned NOT NULL,
 `BeginUTC` datetime NOT NULL,
 `EndUTC` datetime NOT NULL,
 PRIMARY KEY (`RowID`)    
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_LetterSendLog` (
 `RowID` int(11) NOT NULL auto_increment, 
 `LetterGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `EmailAddress` varchar(100) NULL,
 `UTC` datetime NOT NULL,
 `ErrorOccurred` tinyint(1) unsigned NOT NULL,
 `ErrorMessage` text NULL,
 PRIMARY KEY (`RowID`)    
) ENGINE=InnoDB DEFAULT CHARSET=utf8;



