CREATE TABLE `mp_TagVocabulary` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Name` VarChar(255) NOT NULL,
 `Description` Text NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `ModifiedUtc` datetime NOT NULL,
 `ModifiedBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX IXTagVocSiteGuid ON mp_TagVocabulary(`SiteGuid`);
CREATE INDEX IXTagVocFeatureGuid ON mp_TagVocabulary(`FeatureGuid`);
CREATE INDEX IXTagVocModuleGuid ON mp_TagVocabulary(`ModuleGuid`);
CREATE INDEX IXTagVocName ON mp_TagVocabulary(`Name`);


ALTER TABLE mp_Tag ADD COLUMN `VocabularyGuid` char(36);

UPDATE mp_Tag
SET VocabularyGuid = '00000000-0000-0000-0000-000000000000';
