INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('EnableContentWorkflow','false','ContentWorkflow', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('SiteRootDraftEditRoles','Content Authors;','Admin', 100);

ALTER TABLE mp_Modules ADD COLUMN `DraftEditRoles` text;
ALTER TABLE mp_Pages ADD COLUMN `DraftEditRoles` text;
ALTER TABLE mp_Pages ADD COLUMN `IsPending` int(11);

UPDATE mp_Pages 
SET IsPending = 0;

CREATE TABLE `mp_ContentWorkflow` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `CreatedDateUtc` datetime NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `LastModUserGuid` varchar(36) NULL,
 `LastModUtc` datetime NULL,
 `Status` VarChar(20) NOT NULL,
 `ContentText` text NULL,
 `CustomData` text NULL,
 `CustomReferenceNumber` int(11) NULL,
 `CustomReferenceGuid` varchar(36) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX idxCWSiteGuid ON mp_ContentWorkflow(`SiteGuid`);
CREATE INDEX idxCWModuleGuid ON mp_ContentWorkflow(`ModuleGuid`);
CREATE INDEX idxCWUserGuid ON mp_ContentWorkflow(`UserGuid`);

CREATE TABLE `mp_ContentWorkflowAuditHistory` (
 `Guid` varchar(36) NOT NULL, 
 `ContentWorkflowGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `CreatedDateUtc` datetime NOT NULL,
 `NewStatus` VarChar(20) NULL,
 `Notes` text NULL,
 `Active` tinyint(1) unsigned NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

alter table `mp_ContentWorkflowAuditHistory`
add KEY `FK_ContentWAuditHistory_contentworkflow` (`ContentWorkflowGuid`),  COMMENT=''; 

ALTER TABLE `mp_ContentWorkflowAuditHistory`
ADD CONSTRAINT `FK_ContentWAuditHistory_contentworkflow` 
FOREIGN KEY(`ContentWorkflowGuid`)
REFERENCES `mp_ContentWorkflow`  (`Guid`); 

CREATE INDEX idxCWAUserGuid ON mp_ContentWorkflowAuditHistory(`UserGuid`);
