INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('MetaProfile','','Meta', 100);

INSERT INTO mp_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('NewsletterEditor','TinyMCEProvider','Admin', 100);


CREATE TABLE `mp_ContentMeta` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `Name` VarChar(255) NOT NULL,
 `Scheme` VarChar(255) NOT NULL,
 `LangCode` VarChar(10) NULL,
 `Dir` VarChar(3) NULL,
 `MetaContent` text NULL,
 `SortRank` int(11) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX idxcmetasiteguid ON mp_ContentMeta(`SiteGuid`);
CREATE INDEX idxcmetamodguid ON mp_ContentMeta(`ModuleGuid`);
CREATE INDEX idxcmetacguid ON mp_ContentMeta(`ContentGuid`);

CREATE TABLE `mp_ContentMetaLink` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `Rel` VarChar(255) NOT NULL,
 `Href` VarChar(255) NOT NULL,
 `HrefLang` VarChar(10) NULL,
 `Rev` VarChar(50) NULL,
 `Type` VarChar(50) NULL,
 `Media` VarChar(50) NULL,
 `SortRank` int(11) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE INDEX idxcmetalsiteguid ON mp_ContentMetaLink(`SiteGuid`);
CREATE INDEX idxcmetalmodguid ON mp_ContentMetaLink(`ModuleGuid`);
CREATE INDEX idxcmetalcguid ON mp_ContentMetaLink(`ContentGuid`);

