DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlMultipleItemsSetting';
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlMultipleItemsSetting';

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlShowDateSetting';
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlShowDateSetting';

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlUseExcerptSetting';
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlUseExcerptSetting';

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlUseMoreLinkSetting';
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlUseMoreLinkSetting';

DELETE FROM mp_ModuleSettings WHERE SettingName = 'HtmlMoreLinkNewWindowSetting';
DELETE FROM mp_ModuleDefinitionSettings WHERE SettingName = 'HtmlMoreLinkNewWindowSetting';

