ALTER TABLE mp_HtmlContent MODIFY Body longtext;

ALTER TABLE mp_ContentHistory MODIFY ContentText longtext;

ALTER TABLE mp_ContentWorkflow MODIFY ContentText longtext;

ALTER TABLE mp_EmailSendLog MODIFY TextBody longtext;

ALTER TABLE mp_EmailSendLog MODIFY HtmlBody longtext;

ALTER TABLE mp_EmailSendQueue MODIFY TextBody longtext;

ALTER TABLE mp_EmailSendQueue MODIFY HtmlBody longtext;

ALTER TABLE mp_EmailTemplate MODIFY HtmlBody longtext;

ALTER TABLE mp_EmailTemplate MODIFY TextBody longtext;

ALTER TABLE mp_IndexingQueue MODIFY SerializedItem longtext;

ALTER TABLE mp_LetterHtmlTemplate MODIFY Html longtext;

ALTER TABLE mp_Letter MODIFY HtmlBody longtext;

ALTER TABLE mp_Letter MODIFY TextBody longtext;

ALTER TABLE mp_TaskQueue MODIFY SerializedTaskObject longtext;
