CREATE TABLE `mp_UserClaims` (
 `Id` int(11) NOT NULL auto_increment, 
 `UserId` VarChar(128) NOT NULL,
 `ClaimType` Text NULL,
 `ClaimValue` Text NULL,
 PRIMARY KEY (`Id`)    
) ENGINE=InnoDB ;


CREATE TABLE `mp_UserLogins` (
 `LoginProvider` VarChar(128) NOT NULL ,  
 `ProviderKey` VarChar(128) NOT NULL ,  
 `UserId` VarChar(128) NOT NULL , 
 PRIMARY KEY (`LoginProvider`,`ProviderKey`,`UserId`)    
) ENGINE=InnoDB ;


ALTER TABLE mp_Users ADD COLUMN `EmailConfirmed` int(11) NOT NULL default '1';
ALTER TABLE mp_Users ADD COLUMN `PwdFormat` int(11) NOT NULL default '0';
ALTER TABLE mp_Users ADD COLUMN `PasswordHash` text NULL;
ALTER TABLE mp_Users ADD COLUMN `SecurityStamp` text NULL;
ALTER TABLE mp_Users ADD COLUMN `PhoneNumber` varchar(50) NULL;
ALTER TABLE mp_Users ADD COLUMN `PhoneNumberConfirmed` int(11) NOT NULL default '0';
ALTER TABLE mp_Users ADD COLUMN `TwoFactorEnabled` int(11) NOT NULL default '0';
ALTER TABLE mp_Users ADD COLUMN `LockoutEndDateUtc` datetime NULL;

UPDATE mp_Users
SET PwdFormat = 
COALESCE((SELECT PasswordFormat 
FROM mp_Sites
WHERE mp_Sites.SiteID = mp_Users.SiteID),0);
