ALTER TABLE mp_Pages ADD COLUMN `LinkRel` varchar(20);

ALTER TABLE mp_Pages ADD COLUMN `PageHeading` varchar(255);

ALTER TABLE mp_Pages ADD COLUMN `ShowPageHeading` INT NOT NULL DEFAULT 1;

ALTER TABLE mp_Pages ADD COLUMN `PubDateUtc` datetime;

ALTER TABLE mp_Users ADD COLUMN `DateOfBirth` datetime NULL;

UPDATE mp_Pages
SET PubDateUtc = PCreatedUtc;
