/********************************************************************
Insert BadWordList
********************************************************************/

INSERT INTO mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES('BadWordList', '', 'spam', 700);

INSERT INTO  mp_SiteSettingsExDef(KeyName, DefaultValue, GroupName, SortOrder)
VALUES('ForceBadWordChecking', 'true', 'spam', 700);

/********************************************************************
END Insert BadWordList
********************************************************************/