/****** BEGIN adding description to roles ******/


/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/

/* alter table */ 
ALTER TABLE mp_Roles
ADD COLUMN Description VARCHAR(255);


/* update table */
UPDATE mp_Roles
SET Description = '' 
WHERE Description IS NULL;

/****** END adding description to roles ******/