 -- Indexes and Statistics for HtmlContent table.
CREATE INDEX `IX_ModuleID_BeginDate_EndDate_LastModUserGuid_UserGuid` ON `mp_HtmlContent`
(
	`ModuleID` ASC,
	`BeginDate` ASC,
	`EndDate` ASC,
	`LastModUserGuid` ASC,
	`UserGuid` ASC
);

ANALYZE TABLE `mp_HtmlContent` UPDATE HISTOGRAM ON `LastModUserGuid`, `UserGuid`, `ModuleID`, `BeginDate`;
ANALYZE TABLE `mp_HtmlContent` UPDATE HISTOGRAM ON `BeginDate`, `EndDate`;

 -- Indexes and Statistics for ModuleDefinitionSettings table.
CREATE INDEX `IX_ModuleDefID_ID` ON `mp_ModuleDefinitionSettings`
(
	`ModuleDefID` ASC,
	`ID` ASC
);

ANALYZE TABLE `mp_ModuleDefinitionSettings` UPDATE HISTOGRAM ON `ID`, `SortOrder`, `GroupName`;
ANALYZE TABLE `mp_ModuleDefinitionSettings` UPDATE HISTOGRAM ON `SortOrder`, `GroupName`, `ModuleDefID`, `SettingName`;
ANALYZE TABLE `mp_ModuleDefinitionSettings` UPDATE HISTOGRAM ON `ModuleDefID`, `ID`, `SettingName`, `SortOrder`, `GroupName`;
ANALYZE TABLE `mp_ModuleDefinitionSettings` UPDATE HISTOGRAM ON `SettingName`, `ID`;

 -- Indexes and Statistics for ModuleSettings table.
CREATE INDEX `IX_ModuleID_SettingName` ON `mp_ModuleSettings`
(
	`ModuleID` ASC,
	`SettingName` ASC
);

ANALYZE TABLE `mp_ModuleSettings` UPDATE HISTOGRAM ON `ModuleID`, `ID`;
ANALYZE TABLE `mp_ModuleSettings` UPDATE HISTOGRAM ON `SettingName`, `ID`;
ANALYZE TABLE `mp_ModuleSettings` UPDATE HISTOGRAM ON `SettingName`, `ModuleID`, `ID`;
ANALYZE TABLE `mp_ModuleSettings` UPDATE HISTOGRAM ON `SortOrder`, `ModuleID`, `SettingName`;
