/**** START

	Alter mp_SiteFolders for closer parity with mp_SiteHosts

****/

		ALTER TABLE `mp_SiteFolders`
		ADD COLUMN `SiteID` INT NOT NULL DEFAULT -1;

		UPDATE `mp_SiteFolders` `sf`
		INNER JOIN `mp_Sites` `s` ON `sf`.`SiteGuid` = `s`.`SiteGuid`
		SET `sf`.`SiteID` = `s`.`SiteID`
		WHERE `sf`.`SiteID` = -1;

/**** FINISH

	Alter mp_SiteFolders for closer parity with mp_SiteHosts

****/