CREATE TABLE `mp_Surveys` (
 `SurveyGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `SurveyName` varchar(255) NOT NULL,
 `CreationDate` datetime NOT NULL,
 `StartPageText` text NULL,
 `EndPageText` text NULL
);

CREATE TABLE `mp_SurveyModules` (
 `SurveyGuid` varchar(36) NOT NULL,  
 `ModuleID` INTEGER NOT NULL, 
 PRIMARY KEY(`SurveyGuid`,`ModuleID`)
);

CREATE TABLE `mp_SurveyPages` (
 `PageGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SurveyGuid` varchar(36) NOT NULL,
 `PageTitle` varchar(255) NOT NULL,
 `PageOrder` INTEGER NOT NULL,
 `PageEnabled` INTEGER NOT NULL
);

CREATE TABLE `mp_SurveyQuestions` (
 `QuestionGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `PageGuid` varchar(36) NOT NULL,
 `QuestionText` text NULL,
 `QuestionTypeId` INTEGER NOT NULL,
 `AnswerIsRequired` INTEGER NOT NULL,
 `QuestionOrder` INTEGER NOT NULL,
 `ValidationMessage` varchar(255) NOT NULL
);

CREATE TABLE `mp_SurveyQuestionOptions` (
 `QuestionOptionGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `QuestionGuid` varchar(36) NOT NULL,
 `Answer` varchar(255) NOT NULL,
 `Order` INTEGER NOT NULL
);

CREATE TABLE `mp_SurveyResponses` (
 `ResponseGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SurveyGuid` varchar(36) NOT NULL,
 `SubmissionDate` datetime NULL,
 `Annonymous` INTEGER NOT NULL,
 `Complete` INTEGER NOT NULL,
 `UserGuid` varchar(36) NULL
);

CREATE TABLE `mp_SurveyQuestionAnswers` (
 `AnswerGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `QuestionGuid` varchar(36) NOT NULL,
 `ResponseGuid` varchar(36) NOT NULL,
 `Answer` text NOT NULL,
 `AnsweredDate` datetime NOT NULL
);

