CREATE TABLE `mp_GalleryImages` (
  `ItemID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `DisplayOrder` INTEGER NOT NULL default '100',
  `Caption` varchar(255) default NULL,
  `Description` text,
  `MetaDataXml` text,
  `ImageFile` varchar(100) default NULL,
  `WebImageFile` varchar(100) default NULL,
  `ThumbnailFile` varchar(100) default NULL,
  `UploadDate` datetime default NULL,
  `UploadUser` varchar(100) default NULL
, ItemGuid VARCHAR(36), 
ModuleGuid VARCHAR(36), 
UserGuid VARCHAR(36));

