<?xml version="1.0" encoding="utf-8" ?>
<adminMenuLinks>
<!-- these are examples to show syntax for adding your own links to the Admin menu
You can also put files like this that are site specific in
Data/Sites/[SiteID]/supplementaladminmenulinks folder
-->
<!--
	<adminMenuLink  
		resourceFile="MyResource" 
		resourceKey="test google link" 
		url="http://www.google.com"
		visibleToRoles="Admins;Content Administrators"
		/>
		
	<adminMenuLink  
			resourceFile="MyResource" 
			resourceKey="test extra link2" 
			url="~/Admin/SiteSettings.aspx"
			visibleToRoles="Admins;Content Administrators"
		/>
-->
</adminMenuLinks>
