SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ws_Cart_GetItemCountByFulfillmentType]

/*
Author:   			Joe Audette
Created: 			2009-04-25
Last Modified: 		2009-04-25
*/

@CartGuid uniqueidentifier,
@FulFillmentType tinyint

AS

SELECT COUNT(*)
FROM	[dbo].ws_OfferProduct op
JOIN
	[dbo].ws_CartOffers co
ON
	op.OfferGuid = co.OfferGuid

WHERE
co.CartGuid = @CartGuid
AND
op.FullfillType = @FulFillmentType
AND op.IsDeleted = 0


GO


