ALTER TABLE [dbo].ws_CartOffers DROP CONSTRAINT FK_ws_CartOffers_ws_OfferPrice
GO



ALTER TABLE [dbo].ws_CartOffers DROP COLUMN PriceGuid
GO



ALTER TABLE [dbo].ws_CartOffers DROP COLUMN CurrencyGuid
GO

DROP PROCEDURE [dbo].ws_OfferPrice_Delete
DROP PROCEDURE [dbo].ws_OfferPrice_Insert
DROP PROCEDURE [dbo].ws_OfferPrice_SelectByOffer
DROP PROCEDURE [dbo].ws_OfferPrice_SelectOne
DROP PROCEDURE [dbo].ws_OfferPrice_Update

DROP PROCEDURE [dbo].ws_OfferDescription_Delete
DROP PROCEDURE [dbo].ws_OfferDescription_Insert
DROP PROCEDURE [dbo].ws_OfferDescription_SelectOne
DROP PROCEDURE [dbo].ws_OfferDescription_Update

DROP PROCEDURE [dbo].ws_ProductDescription_Delete
DROP PROCEDURE [dbo].ws_ProductDescription_Insert
DROP PROCEDURE [dbo].ws_ProductDescription_SelectOne
DROP PROCEDURE [dbo].ws_ProductDescription_Update

ALTER TABLE [dbo].ws_OrderOffers DROP CONSTRAINT FK_ws_CartOrderOffers_ws_OfferPrice
ALTER TABLE [dbo].ws_OfferPrice DROP CONSTRAINT FK_ws_OfferPrice_ws_Offer

DROP TABLE [dbo].ws_OfferPrice
DROP TABLE [dbo].ws_OfferDescription
DROP TABLE [dbo].ws_ProductDescription

ALTER TABLE [dbo].ws_OrderOffers DROP COLUMN PriceGuid
ALTER TABLE [dbo].ws_OrderOffers DROP COLUMN CurrencyGuid

ALTER TABLE [dbo].ws_Order DROP COLUMN CurrencyValue
ALTER TABLE [dbo].ws_Order DROP COLUMN CurrencyGuid
ALTER TABLE [dbo].ws_Order DROP COLUMN CurrencyCode




GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_OrderOffers_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-27
Last Modified: 		2008-10-17
*/

@ItemGuid uniqueidentifier,
@OrderGuid uniqueidentifier,
@OfferGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@OfferPrice decimal(15, 4),
@AddedToCart datetime,
@Quantity int

	
AS

INSERT INTO 	[dbo].[ws_OrderOffers] 
(
				[ItemGuid],
				[OrderGuid],
				[OfferGuid],
				[TaxClassGuid],
				[OfferPrice],
				[AddedToCart],
				[Quantity]
) 

VALUES 
(
				@ItemGuid,
				@OrderGuid,
				@OfferGuid,
				@TaxClassGuid,
				@OfferPrice,
				@AddedToCart,
				@Quantity
				
)

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_OrderOffers_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-10-17
*/
	
@ItemGuid uniqueidentifier, 
@OrderGuid uniqueidentifier, 
@OfferGuid uniqueidentifier, 
@TaxClassGuid uniqueidentifier, 
@OfferPrice decimal(15, 4), 
@AddedToCart datetime, 
@Quantity int 


AS

UPDATE 		[dbo].[ws_OrderOffers] 

SET
			[OrderGuid] = @OrderGuid,
			[OfferGuid] = @OfferGuid,
			[TaxClassGuid] = @TaxClassGuid,
			[OfferPrice] = @OfferPrice,
			[AddedToCart] = @AddedToCart,
			[Quantity] = @Quantity
			
WHERE
			[ItemGuid] = @ItemGuid


GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_OrderOffers_SelectByOrder]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-10-17
*/

@OrderGuid uniqueidentifier

AS


SELECT
		o.[ItemGuid],
		o.[OrderGuid],
		o.[OfferGuid],
		o.[TaxClassGuid],
		o.[OfferPrice],
		o.[AddedToCart],
		o.[Quantity],
		od.[Name]
			
		
FROM
		[dbo].[ws_OrderOffers] o

LEFT OUTER JOIN
		[dbo].[ws_Offer] od

ON		o.OfferGuid = od.Guid

		
WHERE
		o.[OrderGuid] = @OrderGuid

ORDER BY od.[Name]


GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_OrderOffers_SelectOne]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-10-17
*/

@ItemGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[ws_OrderOffers]
		
WHERE
		[ItemGuid] = @ItemGuid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Order_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-10-17
*/

@OrderGuid uniqueidentifier,
@OrderNo int,
@StoreGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@CustomerFirstName nvarchar(100),
@CustomerLastName nvarchar(100),
@CustomerCompany nvarchar(255),
@CustomerAddressLine1 nvarchar(255),
@CustomerAddressLine2 nvarchar(255),
@CustomerSuburb nvarchar(255),
@CustomerCity nvarchar(255),
@CustomerPostalCode nvarchar(20),
@CustomerState nvarchar(255),
@CustomerCountry nvarchar(255),
@CustomerTelephoneDay nvarchar(32),
@CustomerTelephoneNight nvarchar(32),
@CustomerEmail nvarchar(96),
@CustomerEmailVerified bit,
@DeliveryFirstName nvarchar(100),
@DeliveryLastName nvarchar(100),
@DeliveryCompany nvarchar(255),
@DeliveryAddress1 nvarchar(255),
@DeliveryAddress2 nvarchar(255),
@DeliverySuburb nvarchar(255),
@DeliveryCity nvarchar(255),
@DeliveryPostalCode nvarchar(20),
@DeliveryState nvarchar(255),
@DeliveryCountry nvarchar(255),
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(100),
@BillingCompany nvarchar(255),
@BillingAddress1 nvarchar(255),
@BillingAddress2 nvarchar(255),
@BillingSuburb nvarchar(255),
@BillingCity nvarchar(255),
@BillingPostalCode nvarchar(20),
@BillingState nvarchar(255),
@BillingCountry nvarchar(255),
@CardTypeGuid uniqueidentifier,
@CardOwner nvarchar(100),
@CardNumber nvarchar(255),
@CardExpires nvarchar(6),
@CardSecurityCode nvarchar(50),
@SubTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@Created datetime,
@CreatedFromIP nvarchar(255),
@Completed datetime,
@CompletedFromIP nvarchar(255),
@LastModified datetime,
@LastUserActivity datetime,
@StatusGuid uniqueidentifier,
@GatewayTransID nvarchar(255),
@GatewayRawResponse ntext,
@GatewayAuthCode nvarchar(50),
@TaxZoneGuid uniqueidentifier

	
AS

INSERT INTO 	[dbo].[ws_Order] 
(
				[OrderGuid],
				--[OrderNo],
				[StoreGuid],
				[UserGuid],
				[CustomerFirstName],
				[CustomerLastName],
				[CustomerCompany],
				[CustomerAddressLine1],
				[CustomerAddressLine2],
				[CustomerSuburb],
				[CustomerCity],
				[CustomerPostalCode],
				[CustomerState],
				[CustomerCountry],
				[CustomerTelephoneDay],
				[CustomerTelephoneNight],
				[CustomerEmail],
				[CustomerEmailVerified],
				[DeliveryFirstName],
				[DeliveryLastName],
				[DeliveryCompany],
				[DeliveryAddress1],
				[DeliveryAddress2],
				[DeliverySuburb],
				[DeliveryCity],
				[DeliveryPostalCode],
				[DeliveryState],
				[DeliveryCountry],
				[BillingFirstName],
				[BillingLastName],
				[BillingCompany],
				[BillingAddress1],
				[BillingAddress2],
				[BillingSuburb],
				[BillingCity],
				[BillingPostalCode],
				[BillingState],
				[BillingCountry],
				[CardTypeGuid],
				[CardOwner],
				[CardNumber],
				[CardExpires],
				[CardSecurityCode],
				
				[SubTotal],
				[TaxTotal],
				[ShippingTotal],
				[OrderTotal],
				[Created],
				[CreatedFromIP],
				[Completed],
				[CompletedFromIP],
				[LastModified],
				[LastUserActivity],
				[StatusGuid],
				[GatewayTransID],
				[GatewayRawResponse],
				[GatewayAuthCode],
				[TaxZoneGuid],
				[AnalyticsTracked]
) 

VALUES 
(
				@OrderGuid,
				-- @OrderNo,
				@StoreGuid,
				@UserGuid,
				@CustomerFirstName,
				@CustomerLastName,
				@CustomerCompany,
				@CustomerAddressLine1,
				@CustomerAddressLine2,
				@CustomerSuburb,
				@CustomerCity,
				@CustomerPostalCode,
				@CustomerState,
				@CustomerCountry,
				@CustomerTelephoneDay,
				@CustomerTelephoneNight,
				@CustomerEmail,
				@CustomerEmailVerified,
				@DeliveryFirstName,
				@DeliveryLastName,
				@DeliveryCompany,
				@DeliveryAddress1,
				@DeliveryAddress2,
				@DeliverySuburb,
				@DeliveryCity,
				@DeliveryPostalCode,
				@DeliveryState,
				@DeliveryCountry,
				@BillingFirstName,
				@BillingLastName,
				@BillingCompany,
				@BillingAddress1,
				@BillingAddress2,
				@BillingSuburb,
				@BillingCity,
				@BillingPostalCode,
				@BillingState,
				@BillingCountry,
				@CardTypeGuid,
				@CardOwner,
				@CardNumber,
				@CardExpires,
				@CardSecurityCode,
				
				@SubTotal,
				@TaxTotal,
				@ShippingTotal,
				@OrderTotal,
				@Created,
				@CreatedFromIP,
				@Completed,
				@CompletedFromIP,
				@LastModified,
				@LastUserActivity,
				@StatusGuid,
				@GatewayTransID,
				@GatewayRawResponse,
				@GatewayAuthCode,
				@TaxZoneGuid,
				0
				
)

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Order_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-10-17
*/
	
@OrderGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@CustomerFirstName nvarchar(100), 
@CustomerLastName nvarchar(100),
@CustomerCompany nvarchar(255), 
@CustomerAddressLine1 nvarchar(255), 
@CustomerAddressLine2 nvarchar(255), 
@CustomerSuburb nvarchar(255), 
@CustomerCity nvarchar(255), 
@CustomerPostalCode nvarchar(20), 
@CustomerState nvarchar(255), 
@CustomerCountry nvarchar(255), 
@CustomerTelephoneDay nvarchar(32), 
@CustomerTelephoneNight nvarchar(32), 
@CustomerEmail nvarchar(96), 
@CustomerEmailVerified bit, 
@DeliveryFirstName nvarchar(100),
@DeliveryLastName nvarchar(100), 
@DeliveryCompany nvarchar(255), 
@DeliveryAddress1 nvarchar(255), 
@DeliveryAddress2 nvarchar(255), 
@DeliverySuburb nvarchar(255), 
@DeliveryCity nvarchar(255), 
@DeliveryPostalCode nvarchar(20), 
@DeliveryState nvarchar(255), 
@DeliveryCountry nvarchar(255), 
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(100), 
@BillingCompany nvarchar(255), 
@BillingAddress1 nvarchar(255), 
@BillingAddress2 nvarchar(255), 
@BillingSuburb nvarchar(255), 
@BillingCity nvarchar(255), 
@BillingPostalCode nvarchar(20), 
@BillingState nvarchar(255), 
@BillingCountry nvarchar(255), 
@CardTypeGuid uniqueidentifier, 
@CardOwner nvarchar(100), 
@CardNumber nvarchar(255), 
@CardExpires nvarchar(6), 
@CardSecurityCode nvarchar(50), 
@SubTotal decimal(15, 4), 
@TaxTotal decimal(15, 4), 
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4), 
@Completed datetime, 
@CompletedFromIP nvarchar(255), 
@LastModified datetime, 
@LastUserActivity datetime, 
@StatusGuid uniqueidentifier, 
@GatewayTransID nvarchar(255), 
@GatewayRawResponse ntext, 
@GatewayAuthCode nvarchar(50), 
@TaxZoneGuid uniqueidentifier,
@PaymentMethod nvarchar(50)


AS

UPDATE 		[dbo].[ws_Order] 

SET

			
			[UserGuid] = @UserGuid,
			[CustomerFirstName] = @CustomerFirstName,
			[CustomerLastName] = @CustomerLastName,
			[CustomerCompany] = @CustomerCompany,
			[CustomerAddressLine1] = @CustomerAddressLine1,
			[CustomerAddressLine2] = @CustomerAddressLine2,
			[CustomerSuburb] = @CustomerSuburb,
			[CustomerCity] = @CustomerCity,
			[CustomerPostalCode] = @CustomerPostalCode,
			[CustomerState] = @CustomerState,
			[CustomerCountry] = @CustomerCountry,
			[CustomerTelephoneDay] = @CustomerTelephoneDay,
			[CustomerTelephoneNight] = @CustomerTelephoneNight,
			[CustomerEmail] = @CustomerEmail,
			[CustomerEmailVerified] = @CustomerEmailVerified,
			[DeliveryFirstName] = @DeliveryFirstName,
			[DeliveryLastName] = @DeliveryLastName,
			[DeliveryCompany] = @DeliveryCompany,
			[DeliveryAddress1] = @DeliveryAddress1,
			[DeliveryAddress2] = @DeliveryAddress2,
			[DeliverySuburb] = @DeliverySuburb,
			[DeliveryCity] = @DeliveryCity,
			[DeliveryPostalCode] = @DeliveryPostalCode,
			[DeliveryState] = @DeliveryState,
			[DeliveryCountry] = @DeliveryCountry,
			[BillingFirstName] = @BillingFirstName,
			[BillingLastName] = @BillingLastName,
			[BillingCompany] = @BillingCompany,
			[BillingAddress1] = @BillingAddress1,
			[BillingAddress2] = @BillingAddress2,
			[BillingSuburb] = @BillingSuburb,
			[BillingCity] = @BillingCity,
			[BillingPostalCode] = @BillingPostalCode,
			[BillingState] = @BillingState,
			[BillingCountry] = @BillingCountry,
			[CardTypeGuid] = @CardTypeGuid,
			[CardOwner] = @CardOwner,
			[CardNumber] = @CardNumber,
			[CardExpires] = @CardExpires,
			[CardSecurityCode] = @CardSecurityCode,
			[SubTotal] = @SubTotal,
			[TaxTotal] = @TaxTotal,
			[ShippingTotal] = @ShippingTotal,
			[OrderTotal] = @OrderTotal,
			[Completed] = @Completed,
			[CompletedFromIP] = @CompletedFromIP,
			[LastModified] = @LastModified,
			[LastUserActivity] = @LastUserActivity,
			[StatusGuid] = @StatusGuid,
			[GatewayTransID] = @GatewayTransID,
			[GatewayRawResponse] = @GatewayRawResponse,
			[GatewayAuthCode] = @GatewayAuthCode,
			[TaxZoneGuid] = @TaxZoneGuid,
			[PaymentMethod] = @PaymentMethod
			
WHERE
			[OrderGuid] = @OrderGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-10-17
*/

@ItemGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@OfferGuid uniqueidentifier,
@OfferPrice decimal(15, 4),
@AddedToCart datetime,
@Quantity int,
@TaxClassGuid uniqueidentifier,
@Tax decimal(15, 4),
@IsDonation bit

	
AS
INSERT INTO 	[dbo].[ws_CartOffers] 
(
				[ItemGuid],
				[CartGuid],
				[OfferGuid],
				[OfferPrice],
				[AddedToCart],
				[Quantity],
				[TaxClassGuid],
				[Tax],
				[IsDonation]
) 

VALUES 
(
				@ItemGuid,
				@CartGuid,
				@OfferGuid,
				@OfferPrice,
				@AddedToCart,
				@Quantity,
				@TaxClassGuid,
				@Tax,
				@IsDonation
				
)

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-10-17
*/
	
@ItemGuid uniqueidentifier, 
@OfferGuid uniqueidentifier, 
@OfferPrice decimal(15, 4), 
@AddedToCart datetime, 
@Quantity int,
@TaxClassGuid uniqueidentifier,
@Tax decimal(15,4),
@IsDonation bit


AS
UPDATE 		[dbo].[ws_CartOffers] 

SET
			
			[OfferGuid] = @OfferGuid,
			[OfferPrice] = @OfferPrice,
			[AddedToCart] = @AddedToCart,
			[Quantity] = @Quantity,
			[TaxClassGuid] = @TaxClassGuid,
			[Tax] = @Tax,
			[IsDonation] = @IsDonation
			
WHERE
			[ItemGuid] = @ItemGuid


GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_CartOffers_SelectByCart]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-10-17
*/

@CartGuid uniqueidentifier

AS
SELECT
		co.[ItemGuid],
		co.[CartGuid],
		co.[OfferGuid],
		co.[OfferPrice],
		co.[AddedToCart],
		co.[Quantity],
		co.[TaxClassGuid],
		co.[Tax],
		co.[IsDonation],
		o.[Name],
		o.[Description],
		o.Price

		
FROM
		[dbo].[ws_CartOffers] co

JOIN
		[dbo].[ws_Offer] o

ON		co.OfferGuid = o.Guid



		
WHERE
		co.[CartGuid] = @CartGuid



ORDER BY
		co.[AddedToCart]


GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_OrderOfferProduct_SelectByOrder]

/*
Author:   			Joe Audette
Created: 			2007-03-18
Last Modified: 		2008-10-17
*/

@OrderGuid uniqueidentifier

AS


SELECT
		oop.[Guid],
		oop.[OrderGuid],
		oop.[OfferGuid],
		oop.[ProductGuid],
		oop.[FullfillType],
		oop.[FullfillTermsGuid],
		oop.[Created],
		pd.[Name]
		
FROM
		[dbo].[ws_OrderOfferProduct] oop

LEFT OUTER JOIN
		[dbo].[ws_Product] pd

ON		oop.ProductGuid = pd.Guid
		
WHERE
		oop.[OrderGuid] = @OrderGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_FullfillDownloadTicket_SelectByOrder]

/*
Author:   			Joe Audette
Created: 			2007-03-25
Last Modified: 		2008-10-17
*/

@OrderGuid uniqueidentifier

AS


SELECT
		fdt.[Guid],
		fdt.[StoreGuid],
		fdt.[OrderGuid],
		fdt.[UserGuid],
		fdt.[ProductGuid],
		fdt.[FullfillTermsGuid],
		fdt.[DownloadsAllowed],
		fdt.[ExpireAfterDays],
		fdt.[CountAfterDownload],
		fdt.[PurchaseTime],
		fdt.[DownloadedCount],
		pd.[Name]
		
FROM
		[dbo].[ws_FullfillDownloadTicket] fdt

LEFT OUTER JOIN
		[dbo].[ws_Product] pd

ON		fdt.[ProductGuid] = pd.Guid

		
WHERE
		fdt.[OrderGuid] = @OrderGuid

GO








