DROP PROCEDURE [dbo].ws_OrderStatus_Delete
GO

DROP PROCEDURE [dbo].ws_OrderStatus_Insert
GO

DROP PROCEDURE [dbo].ws_OrderStatus_SelectByLanguage
GO

DROP PROCEDURE [dbo].ws_OrderStatus_SelectOne
GO

DROP PROCEDURE [dbo].ws_OrderStatus_Update
GO

DROP PROCEDURE [dbo].ws_OrderStatusDescription_Delete
GO

DROP PROCEDURE [dbo].ws_OrderStatusDescription_DeleteByStatus
GO

DROP PROCEDURE [dbo].ws_OrderStatusDescription_Insert
GO

DROP PROCEDURE [dbo].ws_OrderStatusDescription_SelectOne
GO

DROP PROCEDURE [dbo].ws_OrderStatusDescription_Update
GO




DROP TABLE [dbo].ws_OrderStatusDescription  
GO

DROP TABLE [dbo].ws_OrderStatus 
GO

ALTER TABLE [dbo].ws_CartOrderInfo ADD
	CustomerFirstName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_CartOrderInfo ADD
	CustomerLastName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_CartOrderInfo ADD
	DeliveryFirstName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_CartOrderInfo ADD
	DeliveryLastName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_CartOrderInfo ADD
	BillingFirstName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_CartOrderInfo ADD
	BillingLastName nvarchar(100) NULL 
GO


ALTER TABLE [dbo].ws_Order ADD
	CustomerFirstName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_Order ADD
	CustomerLastName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_Order ADD
	DeliveryFirstName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_Order ADD
	DeliveryLastName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_Order ADD
	BillingFirstName nvarchar(100) NULL 
GO

ALTER TABLE [dbo].ws_Order ADD
	BillingLastName nvarchar(100) NULL 
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOrderInfo_SelectOne]

/*
Author:   			Joe Audette
Created: 			3/5/2007
Last Modified: 		3/5/2007
*/

@CartGuid uniqueidentifier

AS
SELECT *
		
FROM
		[dbo].[ws_CartOrderInfo]
		
WHERE
		[CartGuid] = @CartGuid

GO


		

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOrderInfo_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-07-09
*/

@CartGuid uniqueidentifier,
@CustomerFirstName nvarchar(100),
@CustomerLastName nvarchar(100),
@CustomerCompany nvarchar(255),
@CustomerAddressLine1 nvarchar(255),
@CustomerAddressLine2 nvarchar(255),
@CustomerSuburb nvarchar(255),
@CustomerCity nvarchar(255),
@CustomerPostalCode nvarchar(20),
@CustomerState nvarchar(255),
@CustomerCountry nvarchar(255),
@CustomerTelephoneDay nvarchar(32),
@CustomerTelephoneNight nvarchar(32),
@CustomerEmail nvarchar(96),
@CustomerEmailVerified bit,
@DeliveryFirstName nvarchar(100),
@DeliveryLastName nvarchar(100),
@DeliveryCompany nvarchar(255),
@DeliveryAddress1 nvarchar(255),
@DeliveryAddress2 nvarchar(255),
@DeliverySuburb nvarchar(255),
@DeliveryCity nvarchar(255),
@DeliveryPostalCode nvarchar(20),
@DeliveryState nvarchar(255),
@DeliveryCountry nvarchar(255),
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(100),
@BillingCompany nvarchar(255),
@BillingAddress1 nvarchar(255),
@BillingAddress2 nvarchar(255),
@BillingSuburb nvarchar(255),
@BillingCity nvarchar(255),
@BillingPostalCode nvarchar(20),
@BillingState nvarchar(255),
@BillingCountry nvarchar(255),
@CardTypeGuid uniqueidentifier,
@CardOwner nvarchar(100),
@CardNumber nvarchar(255),
@CardExpires nvarchar(6),
@CardSecurityCode nvarchar(50),
@Completed datetime,
@CompletedFromIP nvarchar(255),
@TaxZoneGuid uniqueidentifier

	
AS
INSERT INTO 	[dbo].[ws_CartOrderInfo] 
(
				[CartGuid],
				[CustomerFirstName],
				[CustomerLastName],
				[CustomerCompany],
				[CustomerAddressLine1],
				[CustomerAddressLine2],
				[CustomerSuburb],
				[CustomerCity],
				[CustomerPostalCode],
				[CustomerState],
				[CustomerCountry],
				[CustomerTelephoneDay],
				[CustomerTelephoneNight],
				[CustomerEmail],
				[CustomerEmailVerified],
				[DeliveryFirstName],
				[DeliveryLastName],
				[DeliveryCompany],
				[DeliveryAddress1],
				[DeliveryAddress2],
				[DeliverySuburb],
				[DeliveryCity],
				[DeliveryPostalCode],
				[DeliveryState],
				[DeliveryCountry],
				[BillingFirstName],
				[BillingLastName],
				[BillingCompany],
				[BillingAddress1],
				[BillingAddress2],
				[BillingSuburb],
				[BillingCity],
				[BillingPostalCode],
				[BillingState],
				[BillingCountry],
				[CardTypeGuid],
				[CardOwner],
				[CardNumber],
				[CardExpires],
				[CardSecurityCode],
				[Completed],
				[CompletedFromIP],
				[TaxZoneGuid]
) 

VALUES 
(
				@CartGuid,
				@CustomerFirstName,
				@CustomerLastName,
				@CustomerCompany,
				@CustomerAddressLine1,
				@CustomerAddressLine2,
				@CustomerSuburb,
				@CustomerCity,
				@CustomerPostalCode,
				@CustomerState,
				@CustomerCountry,
				@CustomerTelephoneDay,
				@CustomerTelephoneNight,
				@CustomerEmail,
				@CustomerEmailVerified,
				@DeliveryFirstName,
				@DeliveryLastName,
				@DeliveryCompany,
				@DeliveryAddress1,
				@DeliveryAddress2,
				@DeliverySuburb,
				@DeliveryCity,
				@DeliveryPostalCode,
				@DeliveryState,
				@DeliveryCountry,
				@BillingFirstName,
				@BillingLastName,
				@BillingCompany,
				@BillingAddress1,
				@BillingAddress2,
				@BillingSuburb,
				@BillingCity,
				@BillingPostalCode,
				@BillingState,
				@BillingCountry,
				@CardTypeGuid,
				@CardOwner,
				@CardNumber,
				@CardExpires,
				@CardSecurityCode,
				@Completed,
				@CompletedFromIP,
				@TaxZoneGuid
				
)

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOrderInfo_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-07-09
*/
	
@CartGuid uniqueidentifier, 
@CustomerFirstName nvarchar(100),
@CustomerLastName nvarchar(100), 
@CustomerCompany nvarchar(255), 
@CustomerAddressLine1 nvarchar(255), 
@CustomerAddressLine2 nvarchar(255), 
@CustomerSuburb nvarchar(255), 
@CustomerCity nvarchar(255), 
@CustomerPostalCode nvarchar(20), 
@CustomerState nvarchar(255), 
@CustomerCountry nvarchar(255), 
@CustomerTelephoneDay nvarchar(32), 
@CustomerTelephoneNight nvarchar(32), 
@CustomerEmail nvarchar(96), 
@CustomerEmailVerified bit, 
@DeliveryFirstName nvarchar(100), 
@DeliveryLastName nvarchar(100),
@DeliveryCompany nvarchar(255), 
@DeliveryAddress1 nvarchar(255), 
@DeliveryAddress2 nvarchar(255), 
@DeliverySuburb nvarchar(255), 
@DeliveryCity nvarchar(255), 
@DeliveryPostalCode nvarchar(20), 
@DeliveryState nvarchar(255), 
@DeliveryCountry nvarchar(255), 
@BillingFirstName nvarchar(100), 
@BillingLastName nvarchar(100),
@BillingCompany nvarchar(255), 
@BillingAddress1 nvarchar(255), 
@BillingAddress2 nvarchar(255), 
@BillingSuburb nvarchar(255), 
@BillingCity nvarchar(255), 
@BillingPostalCode nvarchar(20), 
@BillingState nvarchar(255), 
@BillingCountry nvarchar(255), 
@CardTypeGuid uniqueidentifier, 
@CardOwner nvarchar(100), 
@CardNumber nvarchar(255), 
@CardExpires nvarchar(6), 
@CardSecurityCode nvarchar(50), 
@Completed datetime, 
@CompletedFromIP nvarchar(255),
@TaxZoneGuid uniqueidentifier


AS
UPDATE 		[dbo].[ws_CartOrderInfo] 

SET
			[CustomerFirstName] = @CustomerFirstName,
			[CustomerLastName] = @CustomerLastName,
			[CustomerCompany] = @CustomerCompany,
			[CustomerAddressLine1] = @CustomerAddressLine1,
			[CustomerAddressLine2] = @CustomerAddressLine2,
			[CustomerSuburb] = @CustomerSuburb,
			[CustomerCity] = @CustomerCity,
			[CustomerPostalCode] = @CustomerPostalCode,
			[CustomerState] = @CustomerState,
			[CustomerCountry] = @CustomerCountry,
			[CustomerTelephoneDay] = @CustomerTelephoneDay,
			[CustomerTelephoneNight] = @CustomerTelephoneNight,
			[CustomerEmail] = @CustomerEmail,
			[CustomerEmailVerified] = @CustomerEmailVerified,
			[DeliveryFirstName] = @DeliveryFirstName,
			[DeliveryLastName] = @DeliveryLastName,
			[DeliveryCompany] = @DeliveryCompany,
			[DeliveryAddress1] = @DeliveryAddress1,
			[DeliveryAddress2] = @DeliveryAddress2,
			[DeliverySuburb] = @DeliverySuburb,
			[DeliveryCity] = @DeliveryCity,
			[DeliveryPostalCode] = @DeliveryPostalCode,
			[DeliveryState] = @DeliveryState,
			[DeliveryCountry] = @DeliveryCountry,
			[BillingFirstName] = @BillingFirstName,
			[BillingLastName] = @BillingLastName,
			[BillingCompany] = @BillingCompany,
			[BillingAddress1] = @BillingAddress1,
			[BillingAddress2] = @BillingAddress2,
			[BillingSuburb] = @BillingSuburb,
			[BillingCity] = @BillingCity,
			[BillingPostalCode] = @BillingPostalCode,
			[BillingState] = @BillingState,
			[BillingCountry] = @BillingCountry,
			[CardTypeGuid] = @CardTypeGuid,
			[CardOwner] = @CardOwner,
			[CardNumber] = @CardNumber,
			[CardExpires] = @CardExpires,
			[CardSecurityCode] = @CardSecurityCode,
			[Completed] = @Completed,
			[CompletedFromIP] = @CompletedFromIP,
			[TaxZoneGuid] = @TaxZoneGuid
			
WHERE
			[CartGuid] = @CartGuid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Order_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-07-10
*/

@OrderGuid uniqueidentifier,
@OrderNo int,
@StoreGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@CustomerFirstName nvarchar(100),
@CustomerLastName nvarchar(100),
@CustomerCompany nvarchar(255),
@CustomerAddressLine1 nvarchar(255),
@CustomerAddressLine2 nvarchar(255),
@CustomerSuburb nvarchar(255),
@CustomerCity nvarchar(255),
@CustomerPostalCode nvarchar(20),
@CustomerState nvarchar(255),
@CustomerCountry nvarchar(255),
@CustomerTelephoneDay nvarchar(32),
@CustomerTelephoneNight nvarchar(32),
@CustomerEmail nvarchar(96),
@CustomerEmailVerified bit,
@DeliveryFirstName nvarchar(100),
@DeliveryLastName nvarchar(100),
@DeliveryCompany nvarchar(255),
@DeliveryAddress1 nvarchar(255),
@DeliveryAddress2 nvarchar(255),
@DeliverySuburb nvarchar(255),
@DeliveryCity nvarchar(255),
@DeliveryPostalCode nvarchar(20),
@DeliveryState nvarchar(255),
@DeliveryCountry nvarchar(255),
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(100),
@BillingCompany nvarchar(255),
@BillingAddress1 nvarchar(255),
@BillingAddress2 nvarchar(255),
@BillingSuburb nvarchar(255),
@BillingCity nvarchar(255),
@BillingPostalCode nvarchar(20),
@BillingState nvarchar(255),
@BillingCountry nvarchar(255),
@CardTypeGuid uniqueidentifier,
@CardOwner nvarchar(100),
@CardNumber nvarchar(255),
@CardExpires nvarchar(6),
@CardSecurityCode nvarchar(50),
@CurrencyGuid uniqueidentifier,
@CurrencyValue decimal(13, 8),
@SubTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@Created datetime,
@CreatedFromIP nvarchar(255),
@Completed datetime,
@CompletedFromIP nvarchar(255),
@LastModified datetime,
@LastUserActivity datetime,
@StatusGuid uniqueidentifier,
@GatewayTransID nvarchar(255),
@GatewayRawResponse ntext,
@GatewayAuthCode nvarchar(50),
@TaxZoneGuid uniqueidentifier

	
AS

INSERT INTO 	[dbo].[ws_Order] 
(
				[OrderGuid],
				--[OrderNo],
				[StoreGuid],
				[UserGuid],
				[CustomerFirstName],
				[CustomerLastName],
				[CustomerCompany],
				[CustomerAddressLine1],
				[CustomerAddressLine2],
				[CustomerSuburb],
				[CustomerCity],
				[CustomerPostalCode],
				[CustomerState],
				[CustomerCountry],
				[CustomerTelephoneDay],
				[CustomerTelephoneNight],
				[CustomerEmail],
				[CustomerEmailVerified],
				[DeliveryFirstName],
				[DeliveryLastName],
				[DeliveryCompany],
				[DeliveryAddress1],
				[DeliveryAddress2],
				[DeliverySuburb],
				[DeliveryCity],
				[DeliveryPostalCode],
				[DeliveryState],
				[DeliveryCountry],
				[BillingFirstName],
				[BillingLastName],
				[BillingCompany],
				[BillingAddress1],
				[BillingAddress2],
				[BillingSuburb],
				[BillingCity],
				[BillingPostalCode],
				[BillingState],
				[BillingCountry],
				[CardTypeGuid],
				[CardOwner],
				[CardNumber],
				[CardExpires],
				[CardSecurityCode],
				[CurrencyGuid],
				[CurrencyValue],
				[SubTotal],
				[TaxTotal],
				[ShippingTotal],
				[OrderTotal],
				[Created],
				[CreatedFromIP],
				[Completed],
				[CompletedFromIP],
				[LastModified],
				[LastUserActivity],
				[StatusGuid],
				[GatewayTransID],
				[GatewayRawResponse],
				[GatewayAuthCode],
				[TaxZoneGuid]
) 

VALUES 
(
				@OrderGuid,
				-- @OrderNo,
				@StoreGuid,
				@UserGuid,
				@CustomerFirstName,
				@CustomerLastName,
				@CustomerCompany,
				@CustomerAddressLine1,
				@CustomerAddressLine2,
				@CustomerSuburb,
				@CustomerCity,
				@CustomerPostalCode,
				@CustomerState,
				@CustomerCountry,
				@CustomerTelephoneDay,
				@CustomerTelephoneNight,
				@CustomerEmail,
				@CustomerEmailVerified,
				@DeliveryFirstName,
				@DeliveryLastName,
				@DeliveryCompany,
				@DeliveryAddress1,
				@DeliveryAddress2,
				@DeliverySuburb,
				@DeliveryCity,
				@DeliveryPostalCode,
				@DeliveryState,
				@DeliveryCountry,
				@BillingFirstName,
				@BillingLastName,
				@BillingCompany,
				@BillingAddress1,
				@BillingAddress2,
				@BillingSuburb,
				@BillingCity,
				@BillingPostalCode,
				@BillingState,
				@BillingCountry,
				@CardTypeGuid,
				@CardOwner,
				@CardNumber,
				@CardExpires,
				@CardSecurityCode,
				@CurrencyGuid,
				@CurrencyValue,
				@SubTotal,
				@TaxTotal,
				@ShippingTotal,
				@OrderTotal,
				@Created,
				@CreatedFromIP,
				@Completed,
				@CompletedFromIP,
				@LastModified,
				@LastUserActivity,
				@StatusGuid,
				@GatewayTransID,
				@GatewayRawResponse,
				@GatewayAuthCode,
				@TaxZoneGuid
				
)

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Order_SelectByUser]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-07-10
*/

@StoreGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[ws_Order]
		
WHERE
		[StoreGuid] = @StoreGuid
		AND [UserGuid] = @UserGuid

ORDER BY [Completed] desc

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Order_SelectOne]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-07-10
*/

@OrderGuid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[ws_Order]
		
WHERE
		[OrderGuid] = @OrderGuid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Order_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2008-07-10
*/
	
@OrderGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@CustomerFirstName nvarchar(100), 
@CustomerLastName nvarchar(100),
@CustomerCompany nvarchar(255), 
@CustomerAddressLine1 nvarchar(255), 
@CustomerAddressLine2 nvarchar(255), 
@CustomerSuburb nvarchar(255), 
@CustomerCity nvarchar(255), 
@CustomerPostalCode nvarchar(20), 
@CustomerState nvarchar(255), 
@CustomerCountry nvarchar(255), 
@CustomerTelephoneDay nvarchar(32), 
@CustomerTelephoneNight nvarchar(32), 
@CustomerEmail nvarchar(96), 
@CustomerEmailVerified bit, 
@DeliveryFirstName nvarchar(100),
@DeliveryLastName nvarchar(100), 
@DeliveryCompany nvarchar(255), 
@DeliveryAddress1 nvarchar(255), 
@DeliveryAddress2 nvarchar(255), 
@DeliverySuburb nvarchar(255), 
@DeliveryCity nvarchar(255), 
@DeliveryPostalCode nvarchar(20), 
@DeliveryState nvarchar(255), 
@DeliveryCountry nvarchar(255), 
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(100), 
@BillingCompany nvarchar(255), 
@BillingAddress1 nvarchar(255), 
@BillingAddress2 nvarchar(255), 
@BillingSuburb nvarchar(255), 
@BillingCity nvarchar(255), 
@BillingPostalCode nvarchar(20), 
@BillingState nvarchar(255), 
@BillingCountry nvarchar(255), 
@CardTypeGuid uniqueidentifier, 
@CardOwner nvarchar(100), 
@CardNumber nvarchar(255), 
@CardExpires nvarchar(6), 
@CardSecurityCode nvarchar(50), 
@CurrencyGuid uniqueidentifier, 
@CurrencyValue decimal(13, 8), 
@SubTotal decimal(15, 4), 
@TaxTotal decimal(15, 4), 
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4), 
@Completed datetime, 
@CompletedFromIP nvarchar(255), 
@LastModified datetime, 
@LastUserActivity datetime, 
@StatusGuid uniqueidentifier, 
@GatewayTransID nvarchar(255), 
@GatewayRawResponse ntext, 
@GatewayAuthCode nvarchar(50), 
@TaxZoneGuid uniqueidentifier 


AS

UPDATE 		[dbo].[ws_Order] 

SET

			
			[UserGuid] = @UserGuid,
			[CustomerFirstName] = @CustomerFirstName,
			[CustomerLastName] = @CustomerLastName,
			[CustomerCompany] = @CustomerCompany,
			[CustomerAddressLine1] = @CustomerAddressLine1,
			[CustomerAddressLine2] = @CustomerAddressLine2,
			[CustomerSuburb] = @CustomerSuburb,
			[CustomerCity] = @CustomerCity,
			[CustomerPostalCode] = @CustomerPostalCode,
			[CustomerState] = @CustomerState,
			[CustomerCountry] = @CustomerCountry,
			[CustomerTelephoneDay] = @CustomerTelephoneDay,
			[CustomerTelephoneNight] = @CustomerTelephoneNight,
			[CustomerEmail] = @CustomerEmail,
			[CustomerEmailVerified] = @CustomerEmailVerified,
			[DeliveryFirstName] = @DeliveryFirstName,
			[DeliveryLastName] = @DeliveryLastName,
			[DeliveryCompany] = @DeliveryCompany,
			[DeliveryAddress1] = @DeliveryAddress1,
			[DeliveryAddress2] = @DeliveryAddress2,
			[DeliverySuburb] = @DeliverySuburb,
			[DeliveryCity] = @DeliveryCity,
			[DeliveryPostalCode] = @DeliveryPostalCode,
			[DeliveryState] = @DeliveryState,
			[DeliveryCountry] = @DeliveryCountry,
			[BillingFirstName] = @BillingFirstName,
			[BillingLastName] = @BillingLastName,
			[BillingCompany] = @BillingCompany,
			[BillingAddress1] = @BillingAddress1,
			[BillingAddress2] = @BillingAddress2,
			[BillingSuburb] = @BillingSuburb,
			[BillingCity] = @BillingCity,
			[BillingPostalCode] = @BillingPostalCode,
			[BillingState] = @BillingState,
			[BillingCountry] = @BillingCountry,
			[CardTypeGuid] = @CardTypeGuid,
			[CardOwner] = @CardOwner,
			[CardNumber] = @CardNumber,
			[CardExpires] = @CardExpires,
			[CardSecurityCode] = @CardSecurityCode,
			[CurrencyGuid] = @CurrencyGuid,
			[CurrencyValue] = @CurrencyValue,
			[SubTotal] = @SubTotal,
			[TaxTotal] = @TaxTotal,
			[ShippingTotal] = @ShippingTotal,
			[OrderTotal] = @OrderTotal,
			[Completed] = @Completed,
			[CompletedFromIP] = @CompletedFromIP,
			[LastModified] = @LastModified,
			[LastUserActivity] = @LastUserActivity,
			[StatusGuid] = @StatusGuid,
			[GatewayTransID] = @GatewayTransID,
			[GatewayRawResponse] = @GatewayRawResponse,
			[GatewayAuthCode] = @GatewayAuthCode,
			[TaxZoneGuid] = @TaxZoneGuid
			
WHERE
			[OrderGuid] = @OrderGuid

GO





