



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Store_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-06
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ModuleID int,
@Name nvarchar(255),
@Description ntext,
@OwnerName nvarchar(255),
@OwnerEmail nvarchar(100),
@SalesEmail nvarchar(100),
@SupportEmail nvarchar(100),
@EmailFrom nvarchar(100),
@OrderBCCEmail nvarchar(100),
@Phone nvarchar(32),
@Fax nvarchar(32),
@Address nvarchar(255),
@City nvarchar(255),
@ZoneGuid uniqueidentifier,
@PostalCode nvarchar(50),
@CountryGuid uniqueidentifier,
@IsClosed bit,
@ClosedMessage ntext,
@Created datetime,
@CreatedBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[ws_Store] 
(
				[Guid],
				[SiteGuid],
				[ModuleID],
				[Name],
				[Description],
				[OwnerName],
				[OwnerEmail],
				[SalesEmail],
				[SupportEmail],
				[EmailFrom],
				[OrderBCCEmail],
				[Phone],
				[Fax],
				[Address],
				[City],
				[ZoneGuid],
				[PostalCode],
				[CountryGuid],
				[IsClosed],
				[ClosedMessage],
				[Created],
				[CreatedBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@ModuleID,
				@Name,
				@Description,
				@OwnerName,
				@OwnerEmail,
				@SalesEmail,
				@SupportEmail,
				@EmailFrom,
				@OrderBCCEmail,
				@Phone,
				@Fax,
				@Address,
				@City,
				@ZoneGuid,
				@PostalCode,
				@CountryGuid,
				@IsClosed,
				@ClosedMessage,
				@Created,
				@CreatedBy
				
)



GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Store_Update]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-06
*/
	
@Guid uniqueidentifier, 
@Name nvarchar(255), 
@Description ntext, 
@OwnerName nvarchar(255), 
@OwnerEmail nvarchar(100), 
@SalesEmail nvarchar(100), 
@SupportEmail nvarchar(100), 
@EmailFrom nvarchar(100), 
@OrderBCCEmail nvarchar(100), 
@Phone nvarchar(32), 
@Fax nvarchar(32), 
@Address nvarchar(255), 
@City nvarchar(255), 
@ZoneGuid uniqueidentifier, 
@PostalCode nvarchar(50), 
@CountryGuid uniqueidentifier, 
@IsClosed bit, 
@ClosedMessage ntext




AS

UPDATE 		[dbo].[ws_Store] 

SET
			
			[Name] = @Name,
			[Description] = @Description,	
			[OwnerName] = @OwnerName,
			[OwnerEmail] = @OwnerEmail,
			[SalesEmail] = @SalesEmail,
			[SupportEmail] = @SupportEmail,
			[EmailFrom] = @EmailFrom,
			[OrderBCCEmail] = @OrderBCCEmail,
			[Phone] = @Phone,
			[Fax] = @Fax,
			[Address] = @Address,
			[City] = @City,
			[ZoneGuid] = @ZoneGuid,
			[PostalCode] = @PostalCode,
			[CountryGuid] = @CountryGuid,
			[IsClosed] = @IsClosed,
			[ClosedMessage] = @ClosedMessage
			
WHERE
			[Guid] = @Guid

GO

ALTER TABLE [dbo].ws_Store DROP CONSTRAINT DF_ws_Store_ShowCategoryCounts

GO



ALTER TABLE [dbo].ws_Store DROP COLUMN DefaultCountry
ALTER TABLE [dbo].ws_Store DROP COLUMN ShowCategoryCounts
ALTER TABLE [dbo].ws_Store DROP COLUMN StoreConfigRoles
ALTER TABLE [dbo].ws_Store DROP COLUMN ProductEditRoles
ALTER TABLE [dbo].ws_Store DROP COLUMN OfferEditRoles
ALTER TABLE [dbo].ws_Store DROP COLUMN TaxEditRoles

GO

