SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_OrderOffers_DeleteByOrder]

/*
Author:   			Joe Audette
Created: 			2008-07-18
Last Modified: 		2008-07-18
*/

@OrderGuid uniqueidentifier

AS

DELETE FROM [dbo].[ws_OrderOffers]
WHERE
	[OrderGuid] = @OrderGuid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_OrderOfferProduct_DeleteByOrder]

/*
Author:   			Joe Audette
Created: 			2008-07-18
Last Modified: 		2008-07-18
*/

@OrderGuid uniqueidentifier

AS

DELETE FROM [dbo].[ws_OrderOfferProduct]
WHERE
	[OrderGuid] = @OrderGuid


GO
