ALTER TABLE [dbo].ws_Product ADD
	TeaserFile nvarchar(255) NULL 

ALTER TABLE [dbo].ws_Product ADD
	TeaserFileLink nvarchar(255) NULL 
	
	
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ws_Product_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2009-07-01
*/

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@ModelNumber nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand int,
@ImageFileName nvarchar(255),
@ImageFileBytes image,
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@ShowInProductList bit,
@EnableRating bit,
@MetaDescription nvarchar(255),
@MetaKeywords nvarchar(255),
@SortRank1 int,
@SortRank2 int,
@TeaserFile nvarchar(255),
@TeaserFileLink nvarchar(255)

	
AS

INSERT INTO 	[dbo].[ws_Product] 
(
				[Guid],
				[StoreGuid],
				[TaxClassGuid],
				[ModelNumber],
				[Status],
				[FullfillmentType],
				[Weight],
				[QuantityOnHand],
				[ImageFileName],
				[ImageFileBytes],
				[Created],
				[CreatedBy],
				[LastModified],
				[LastModifedBy],
				[Name],
				[Description],
				[Abstract],
				[ShowInProductList],
				[EnableRating],
				[Url],
				MetaDescription,
				MetaKeywords,
				SortRank1,
				SortRank2,
				TeaserFile,
				TeaserFileLink
) 

VALUES 
(
				@Guid,
				@StoreGuid,
				@TaxClassGuid,
				@ModelNumber,
				@Status,
				@FullfillmentType,
				@Weight,
				@QuantityOnHand,
				@ImageFileName,
				@ImageFileBytes,
				@Created,
				@CreatedBy,
				@LastModified,
				@LastModifedBy,
				@Name,
				@Description,
				@Abstract,
				@ShowInProductList,
				@EnableRating,
				@Url,
				@MetaDescription,
				@MetaKeywords,
				@SortRank1,
				@SortRank2,
				@TeaserFile,
				@TeaserFileLink
				
)


GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ws_Product_Update]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2009-07-01
*/
	
@Guid uniqueidentifier, 
@TaxClassGuid uniqueidentifier, 
@ModelNumber nvarchar(255), 
@Status tinyint, 
@FullfillmentType tinyint, 
@Weight decimal(7, 2), 
@QuantityOnHand int, 
@ImageFileName nvarchar(255), 
@ImageFileBytes image, 
@LastModified datetime, 
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@ShowInProductList bit,
@EnableRating bit,
@MetaDescription nvarchar(255),
@MetaKeywords nvarchar(255),
@SortRank1 int,
@SortRank2 int,
@TeaserFile nvarchar(255),
@TeaserFileLink nvarchar(255)


AS

UPDATE 		[dbo].[ws_Product] 

SET
			[TaxClassGuid] = @TaxClassGuid,
			[ModelNumber] = @ModelNumber,
			[Status] = @Status,
			[FullfillmentType] = @FullfillmentType,
			[Weight] = @Weight,
			[QuantityOnHand] = @QuantityOnHand,
			[ImageFileName] = @ImageFileName,
			[ImageFileBytes] = @ImageFileBytes,
			[LastModified] = @LastModified,
			[LastModifedBy] = @LastModifedBy,
			[ShowInProductList] = @ShowInProductList,
			[EnableRating] = @EnableRating,
			[Url] = @Url,
			[Name] = @Name,
			[Description] = @Description,
			[Abstract] = @Abstract,
			MetaDescription = @MetaDescription,
			MetaKeywords = @MetaKeywords,
			SortRank1 = @SortRank1,
			SortRank2 = @SortRank2,
			TeaserFile = @TeaserFile,
			TeaserFileLink = @TeaserFileLink
			
WHERE
			[Guid] = @Guid


GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_OfferProduct_SelectByOffer]

/*
Author:   			Joe Audette
Created: 			2007-03-02
Last Modified: 		2009-07-04
*/

@OfferGuid uniqueidentifier

AS


SELECT
		op.[Guid],
		op.[OfferGuid],
		op.[ProductGuid],
		op.[FullfillType],
		op.[FullFillTermsGuid],
		op.[Quantity],
		op.[SortOrder],
		p.[Name],
		p.[Description],
		p.[Abstract],
		p.TeaserFile,
		p.TeaserFileLink
			
		
FROM
		[dbo].[ws_OfferProduct] op

JOIN
		[dbo].[ws_Product] p

ON		op.ProductGuid = p.Guid

		
WHERE
		op.[OfferGuid] = @OfferGuid
		AND op.[IsDeleted] = 0

ORDER BY
		op.[SortOrder]

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ws_Offer_SelectPublicPage]

-- Author:   			Joe Audette
-- Created: 			2009-07-04
-- Last Modified: 		2009-07-04

@StoreGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		o.[Guid]
		
FROM
		[dbo].[ws_Offer] o

		
WHERE  o.[StoreGuid] = @StoreGuid
		AND o.[IsDeleted] = 0
		AND o.IsVisible = 1

ORDER BY o.SortRank1, o.SortRank2, o.[Name]

END




SELECT
		t1.*
FROM
		[dbo].[ws_Offer] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ws_Product_GetListForPageOfOffers]

-- Author:   			Joe Audette
-- Created: 			2009-07-04
-- Last Modified: 		2009-07-04

@StoreGuid		uniqueidentifier,
@PageNumber 	int,
@PageSize 		int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
[Guid] UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		o.[Guid]
		
FROM
		[dbo].[ws_Offer] o

		
WHERE  o.[StoreGuid] = @StoreGuid
		AND o.[IsDeleted] = 0
		AND o.IsVisible = 1

ORDER BY o.SortRank1, o.SortRank2, o.[Name]

END


SELECT 
p.*,
op.OfferGuid

FROM	ws_Product p

JOIN ws_OfferProduct op
ON p.[Guid] = op.ProductGuid

WHERE 
p.StoreGuid = @StoreGuid
AND p.IsDeleted = 0
AND op.IsDeleted = 0
AND op.OfferGuid IN
(SELECT
		t1.[Guid]
		
FROM
		[dbo].[ws_Offer] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
)

ORDER BY p.SortRank1, p.SortRank2, p.Name

DROP TABLE #PageIndex



GO


