SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Store_SelectOne]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-12
*/

@Guid uniqueidentifier

AS


SELECT s.*,
		m.Guid As ModuleGuid
		
FROM
		[dbo].[ws_Store] s

JOIN	[dbo].[mp_Modules] m
ON		m.ModuleID = s.ModuleID
		
WHERE
		s.[Guid] = @Guid


GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Store_SelectOneByModuleID]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-12
*/

@ModuleID int

AS


SELECT 
s.*,
m.Guid As ModuleGuid
		
FROM
		[dbo].[ws_Store] s

JOIN	[dbo].[mp_Modules] m
ON		m.ModuleID = s.ModuleID
		
WHERE
		s.[ModuleID] = @ModuleID

GO


