ALTER TABLE [dbo].ws_GoogleCheckoutLog ADD
	CartXml ntext NULL 
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ws_GoogleCheckoutLog_Insert]

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-4-4
*/

@RowGuid uniqueidentifier,
@CreatedUtc datetime,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@NotificationType nvarchar(255),
@RawResponse ntext,
@SerialNumber nvarchar(50),
@GTimestamp datetime,
@OrderNumber nvarchar(50),
@BuyerId nvarchar(50),
@FullfillState nvarchar(50),
@FinanceState nvarchar(50),
@EmailListOptIn bit,
@AvsResponse nvarchar(5),
@CvnResponse nvarchar(5),
@AuthExpDate datetime,
@AuthAmt decimal(15, 4),
@DiscountTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@LatestChgAmt decimal(15, 4),
@TotalChgAmt decimal(15, 4),
@LatestRefundAmt decimal(15, 4),
@TotalRefundAmt decimal(15, 4),
@LatestChargeback decimal(15, 4),
@TotalChargeback decimal(15, 4),
@CartXml ntext

	
AS

INSERT INTO 	[dbo].[ws_GoogleCheckoutLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[NotificationType],
				[RawResponse],
				[SerialNumber],
				[GTimestamp],
				[OrderNumber],
				[BuyerId],
				[FullfillState],
				[FinanceState],
				[EmailListOptIn],
				[AvsResponse],
				[CvnResponse],
				[AuthExpDate],
				[AuthAmt],
				[DiscountTotal],
				[ShippingTotal],
				[TaxTotal],
				[OrderTotal],
				[LatestChgAmt],
				[TotalChgAmt],
				[LatestRefundAmt],
				[TotalRefundAmt],
				[LatestChargeback],
				[TotalChargeback],
				[CartXml]
) 

VALUES 
(
				@RowGuid,
				@CreatedUtc,
				@SiteGuid,
				@UserGuid,
				@StoreGuid,
				@CartGuid,
				@NotificationType,
				@RawResponse,
				@SerialNumber,
				@GTimestamp,
				@OrderNumber,
				@BuyerId,
				@FullfillState,
				@FinanceState,
				@EmailListOptIn,
				@AvsResponse,
				@CvnResponse,
				@AuthExpDate,
				@AuthAmt,
				@DiscountTotal,
				@ShippingTotal,
				@TaxTotal,
				@OrderTotal,
				@LatestChgAmt,
				@TotalChgAmt,
				@LatestRefundAmt,
				@TotalRefundAmt,
				@LatestChargeback,
				@TotalChargeback,
				@CartXml
				
)


GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectAll]

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

AS


SELECT
		*
		
FROM
		[dbo].[ws_GoogleCheckoutLog]

GO

ALTER PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectOne]

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier

AS


SELECT
		*
		
FROM
		[dbo].[ws_GoogleCheckoutLog]
		
WHERE
		[RowGuid] = @RowGuid


GO

ALTER PROCEDURE [dbo].[ws_GoogleCheckoutLog_Update]

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-4-4
*/
	
@RowGuid uniqueidentifier, 
@CreatedUtc datetime, 
@SiteGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@StoreGuid uniqueidentifier, 
@CartGuid uniqueidentifier, 
@NotificationType nvarchar(255), 
@RawResponse ntext, 
@SerialNumber nvarchar(50), 
@GTimestamp datetime, 
@OrderNumber nvarchar(50), 
@BuyerId nvarchar(50), 
@FullfillState nvarchar(50), 
@FinanceState nvarchar(50), 
@EmailListOptIn bit, 
@AvsResponse nvarchar(5), 
@CvnResponse nvarchar(5), 
@AuthExpDate datetime, 
@AuthAmt decimal(15, 4), 
@DiscountTotal decimal(15, 4), 
@ShippingTotal decimal(15, 4), 
@TaxTotal decimal(15, 4), 
@OrderTotal decimal(15, 4), 
@LatestChgAmt decimal(15, 4), 
@TotalChgAmt decimal(15, 4), 
@LatestRefundAmt decimal(15, 4), 
@TotalRefundAmt decimal(15, 4), 
@LatestChargeback decimal(15, 4), 
@TotalChargeback decimal(15, 4),
@CartXml ntext


AS

UPDATE 		[dbo].[ws_GoogleCheckoutLog] 

SET
			[CreatedUtc] = @CreatedUtc,
			[SiteGuid] = @SiteGuid,
			[UserGuid] = @UserGuid,
			[StoreGuid] = @StoreGuid,
			[CartGuid] = @CartGuid,
			[NotificationType] = @NotificationType,
			[RawResponse] = @RawResponse,
			[SerialNumber] = @SerialNumber,
			[GTimestamp] = @GTimestamp,
			[OrderNumber] = @OrderNumber,
			[BuyerId] = @BuyerId,
			[FullfillState] = @FullfillState,
			[FinanceState] = @FinanceState,
			[EmailListOptIn] = @EmailListOptIn,
			[AvsResponse] = @AvsResponse,
			[CvnResponse] = @CvnResponse,
			[AuthExpDate] = @AuthExpDate,
			[AuthAmt] = @AuthAmt,
			[DiscountTotal] = @DiscountTotal,
			[ShippingTotal] = @ShippingTotal,
			[TaxTotal] = @TaxTotal,
			[OrderTotal] = @OrderTotal,
			[LatestChgAmt] = @LatestChgAmt,
			[TotalChgAmt] = @TotalChgAmt,
			[LatestRefundAmt] = @LatestRefundAmt,
			[TotalRefundAmt] = @TotalRefundAmt,
			[LatestChargeback] = @LatestChargeback,
			[TotalChargeback] = @TotalChargeback,
			[CartXml] = @CartXml
			
WHERE
			[RowGuid] = @RowGuid


GO

ALTER PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectMostRecentByOrder]

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-25
*/

@OrderNumber nvarchar(50)

AS


SELECT TOP 1 *
		
FROM
		[dbo].[ws_GoogleCheckoutLog]
		
WHERE
		[OrderNumber] = @OrderNumber
		AND CartGuid <> '00000000-0000-0000-0000-000000000000'
		AND NotificationType = 'NewOrderNotification'
		
ORDER BY
		CreatedUtc desc


GO


