SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ws_FullfillDownloadHistory_SelectByTicket]

/*
Author:   			Joe Audette
Created: 			2009-07-01
Last Modified: 		2009-07-01
*/

@TicketGuid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[ws_FullfillDownloadHistory]
		
WHERE
		[TicketGuid] = @TicketGuid
ORDER BY
		[UTCTimestamp]
	

GO

