ALTER TABLE [dbo].ws_CartOffers ADD
	Tax decimal(15,4) NOT NULL DEFAULT 0 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-07-10
*/

@ItemGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@OfferGuid uniqueidentifier,
@PriceGuid uniqueidentifier,
@CurrencyGuid uniqueidentifier,
@OfferPrice decimal(15, 4),
@AddedToCart datetime,
@Quantity int,
@TaxClassGuid uniqueidentifier,
@Tax decimal(15, 4)

	
AS
INSERT INTO 	[dbo].[ws_CartOffers] 
(
				[ItemGuid],
				[CartGuid],
				[OfferGuid],
				[PriceGuid],
				[CurrencyGuid],
				[OfferPrice],
				[AddedToCart],
				[Quantity],
				[TaxClassGuid],
				[Tax]
) 

VALUES 
(
				@ItemGuid,
				@CartGuid,
				@OfferGuid,
				@PriceGuid,
				@CurrencyGuid,
				@OfferPrice,
				@AddedToCart,
				@Quantity,
				@TaxClassGuid,
				@Tax
				
)


GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_CartOffers_SelectByCart]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-07-10
*/

@CartGuid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS
SELECT
		co.[ItemGuid],
		co.[CartGuid],
		co.[OfferGuid],
		co.[PriceGuid],
		co.[CurrencyGuid],
		co.[OfferPrice],
		co.[AddedToCart],
		co.[Quantity],
		co.[TaxClassGuid],
		co.[Tax],


		'Name' = COALESCE(od.[ShortDescription],
			(SELECT TOP 1 [ShortDescription] + ' needs translation'
			FROM [dbo].[ws_OfferDescription]
			WHERE [dbo].[ws_OfferDescription].[OfferGuid] = co.OfferGuid)
			),

		'Currency' = c.[Title],
		'CurrencyCode' = c.[Code],
		c.[SymbolLeft],
		c.[SymbolRight]
		
FROM
		[dbo].[ws_CartOffers] co

LEFT OUTER JOIN
		[dbo].[ws_OfferDescription] od

ON		co.OfferGuid = od.OfferGuid
AND		od.LanguageGuid = @LanguageGuid


JOIN
		[dbo].[mp_Currency] c

ON		c.[Guid] = co.[CurrencyGuid]

		
WHERE
		co.[CartGuid] = @CartGuid



ORDER BY
		co.[AddedToCart]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_SelectOne]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-07-10
*/

@ItemGuid uniqueidentifier

AS
SELECT *
		
FROM
		[dbo].[ws_CartOffers]
		
WHERE
		[ItemGuid] = @ItemGuid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-07-10
*/
	
@ItemGuid uniqueidentifier, 
@OfferGuid uniqueidentifier, 
@PriceGuid uniqueidentifier, 
@CurrencyGuid uniqueidentifier, 
@OfferPrice decimal(15, 4), 
@AddedToCart datetime, 
@Quantity int,
@TaxClassGuid uniqueidentifier,
@Tax decimal(15,4)


AS
UPDATE 		[dbo].[ws_CartOffers] 

SET
			
			[OfferGuid] = @OfferGuid,
			[PriceGuid] = @PriceGuid,
			[CurrencyGuid] = @CurrencyGuid,
			[OfferPrice] = @OfferPrice,
			[AddedToCart] = @AddedToCart,
			[Quantity] = @Quantity,
			[TaxClassGuid] = @TaxClassGuid,
			[Tax] = @Tax
			
WHERE
			[ItemGuid] = @ItemGuid

GO





