ALTER TABLE [dbo].ws_Product ADD
	Url nvarchar(255) NULL 
GO

ALTER TABLE [dbo].ws_Product ADD
	[Name] nvarchar(255) NULL 
GO

ALTER TABLE [dbo].ws_Product ADD
	[Description] ntext NULL 
GO

ALTER TABLE [dbo].ws_Product ADD
	[Abstract] ntext NULL 
GO

ALTER TABLE [dbo].ws_Offer ADD
	[Name] nvarchar(255) NULL 
GO

ALTER TABLE [dbo].ws_Offer ADD
	[Description] ntext NULL 
GO

ALTER TABLE [dbo].ws_Offer ADD
	[Abstract] ntext NULL 
GO

ALTER TABLE [dbo].ws_Offer ADD
	[Price] decimal(15,4) NULL 
GO


UPDATE p
SET p.[Description] = pd.[Description],
p.[Name] = pd.[Name]
FROM ws_Product p
JOIN ws_ProductDescription pd
ON p.Guid = pd.ProductGuid
AND pd.LanguageGuid = '6d81a11e-f1d3-4cd6-b713-8c7b2bb32b3f'

UPDATE p
SET p.[Description] = pd.[LongDescription],
p.[Name] = pd.[ShortDescription]
FROM ws_Offer p
JOIN ws_OfferDescription pd
ON p.Guid = pd.OfferGuid
AND pd.LanguageGuid = '6d81a11e-f1d3-4cd6-b713-8c7b2bb32b3f'

UPDATE p
SET p.[Price] = pd.[Price]
FROM ws_Offer p
JOIN ws_OfferPrice pd
ON p.Guid = pd.OfferGuid
AND pd.CurrencyGuid = 'ff2dde1b-e7d7-4c3a-9ab4-6474345e0f31'

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Offer_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-27
Last Modified: 		2008-10-16
*/

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@IsVisible bit,
@IsSpecial bit,
@TaxClassGuid uniqueidentifier,
@Url nvarchar(255),
@Created datetime,
@CreatedBy uniqueidentifier,
@CreatedFromIP nvarchar(255),
@LastModified datetime,
@LastModifiedBy uniqueidentifier,
@LastModifiedFromIP nvarchar(255),
@IsDonation bit,
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@Price decimal(15,4)

	
AS
INSERT INTO 	[dbo].[ws_Offer] 
(
				[Guid],
				[StoreGuid],
				[IsVisible],
				[IsSpecial],
				[Created],
				[CreatedBy],
				[CreatedFromIP],
				[LastModified],
				[LastModifiedBy],
				[LastModifiedFromIP],
				[TaxClassGuid],
				[Url],
				[IsDonation],
				[Name],
				[Description],
				[Abstract],
				[Price]
) 

VALUES 
(
				@Guid,
				@StoreGuid,
				@IsVisible,
				@IsSpecial,
				@Created,
				@CreatedBy,
				@CreatedFromIP,
				@LastModified,
				@LastModifiedBy,
				@LastModifiedFromIP,
				@TaxClassGuid,
				@Url,
				@IsDonation,
				@Name,
				@Description,
				@Abstract,
				@Price
				
)



GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_SelectOne]

/*
Author:   			Joe Audette
Created: 			2007-02-28
Last Modified: 		2008-10-16
*/

@Guid uniqueidentifier

AS

SELECT *

		
FROM
		[dbo].[ws_Offer]
		
WHERE
		[Guid] = @Guid
		

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_Update]

/*
Author:   			Joe Audette
Created: 			2007-02-28
Last Modified: 		2008-10-16
*/
	
@Guid uniqueidentifier, 
@IsVisible bit, 
@IsSpecial bit, 
@TaxClassGuid uniqueidentifier,
@Url nvarchar(255),
@LastModified datetime, 
@LastModifiedBy uniqueidentifier, 
@LastModifiedFromIP nvarchar(255),
@IsDonation bit,
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@Price decimal(15,4)


AS
UPDATE 		[dbo].[ws_Offer] 

SET
			
			[IsVisible] = @IsVisible,
			[IsSpecial] = @IsSpecial,
			[LastModified] = @LastModified,
			[LastModifiedBy] = @LastModifiedBy,
			[LastModifiedFromIP] = @LastModifiedFromIP,
			[TaxClassGuid] = @TaxClassGuid,
			[Url] = @Url,
			[IsDonation] = @IsDonation,
			[Name] = @Name,
			[Description] = @Description,
			[Abstract] = @Abstract,
			[Price] = @Price
			
WHERE
			[Guid] = @Guid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_SelectPage]

-- Author:   			Joe Audette
-- Created: 			2007-02-28
-- Last Modified: 		2008-10-16

@StoreGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		o.[Guid]
		
FROM
		[dbo].[ws_Offer] o

		
WHERE  o.[StoreGuid] = @StoreGuid
		AND o.[IsDeleted] = 0

ORDER BY o.[Name]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1


SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[ws_Offer] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex


GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_SelectPageForProductList]

-- Author:   			Joe Audette
-- Created: 			2008-07-16
-- Last Modified: 		2008-10-16

@StoreGuid uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		o.[Guid]
		
FROM
		[dbo].[ws_Offer] o
	
WHERE  o.[StoreGuid] = @StoreGuid
		AND o.[IsDeleted] = 0
		AND o.[IsVisible] = 1

ORDER BY o.[Name]

END

SELECT
		t1.*
		
FROM
		[dbo].[ws_Offer] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Offer_SelectTop10Specials]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-10-16
*/

@StoreGuid uniqueidentifier


AS
SELECT TOP 10
		o.*

		
FROM
		[dbo].[ws_Offer] o
	
WHERE
		o.[StoreGuid] = @StoreGuid
		AND o.[IsDeleted] = 0
		AND o.[IsVisible] = 1
		AND o.[IsSpecial] = 1

ORDER BY o.[Name]
	

GO

ALTER PROCEDURE [dbo].[ws_OfferProduct_SelectByOffer]

/*
Author:   			Joe Audette
Created: 			2007-03-02
Last Modified: 		2008-10-16
*/

@OfferGuid uniqueidentifier

AS


SELECT
		op.[Guid],
		op.[OfferGuid],
		op.[ProductGuid],
		op.[FullfillType],
		op.[FullFillTermsGuid],
		op.[Quantity],
		op.[SortOrder],
		p.[Name],
		p.[Description],
		p.[Abstract]
			
		
FROM
		[dbo].[ws_OfferProduct] op

JOIN
		[dbo].[ws_Product] p

ON		op.ProductGuid = p.Guid

		
WHERE
		op.[OfferGuid] = @OfferGuid
		AND op.[IsDeleted] = 0

ORDER BY
		op.[SortOrder]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2008-10-16
*/

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@ModelNumber nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand int,
@ImageFileName nvarchar(255),
@ImageFileBytes image,
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext

	
AS

INSERT INTO 	[dbo].[ws_Product] 
(
				[Guid],
				[StoreGuid],
				[TaxClassGuid],
				[ModelNumber],
				[Status],
				[FullfillmentType],
				[Weight],
				[QuantityOnHand],
				[ImageFileName],
				[ImageFileBytes],
				[Created],
				[CreatedBy],
				[LastModified],
				[LastModifedBy],
				[Name],
				[Description],
				[Abstract],
				[Url]
) 

VALUES 
(
				@Guid,
				@StoreGuid,
				@TaxClassGuid,
				@ModelNumber,
				@Status,
				@FullfillmentType,
				@Weight,
				@QuantityOnHand,
				@ImageFileName,
				@ImageFileBytes,
				@Created,
				@CreatedBy,
				@LastModified,
				@LastModifedBy,
				@Name,
				@Description,
				@Abstract,
				@Url
				
)

GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_Update]

/*
Author:   			Joe Audette
Created: 			2/24/2007
Last Modified: 		2/24/2007
*/
	
@Guid uniqueidentifier, 
@TaxClassGuid uniqueidentifier, 
@ModelNumber nvarchar(255), 
@Status tinyint, 
@FullfillmentType tinyint, 
@Weight decimal(7, 2), 
@QuantityOnHand int, 
@ImageFileName nvarchar(255), 
@ImageFileBytes image, 
@LastModified datetime, 
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext


AS

UPDATE 		[dbo].[ws_Product] 

SET
			[TaxClassGuid] = @TaxClassGuid,
			[ModelNumber] = @ModelNumber,
			[Status] = @Status,
			[FullfillmentType] = @FullfillmentType,
			[Weight] = @Weight,
			[QuantityOnHand] = @QuantityOnHand,
			[ImageFileName] = @ImageFileName,
			[ImageFileBytes] = @ImageFileBytes,
			[LastModified] = @LastModified,
			[LastModifedBy] = @LastModifedBy,
			[Url] = @Url,
			[Name] = @Name,
			[Description] = @Description,
			[Abstract] = @Abstract
			
WHERE
			[Guid] = @Guid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_SelectAll]

/*
Author:   			Joe Audette
Created: 			2/24/2007
Last Modified: 		2/24/2007
*/

@StoreGuid uniqueidentifier

AS
SELECT *
		
FROM
		[dbo].[ws_Product] 


WHERE
		[StoreGuid] = @StoreGuid
		AND [IsDeleted] = 0

ORDER BY

[Name]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_SelectOne]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2008-10-16
*/

@Guid uniqueidentifier

AS


SELECT	*
		
FROM
		[dbo].[ws_Product] 
	
WHERE
		[Guid] = @Guid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_SelectPage]

-- Author:   			Joe Audette
-- Created: 			2007-02-24
-- Last Modified: 		2008-10-16

@StoreGuid		uniqueidentifier,
@PageNumber 	int,
@PageSize 		int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		p.[Guid]
		
FROM
		[dbo].[ws_Product] p
		
WHERE
		p.StoreGuid = @StoreGuid
		AND p.[IsDeleted] = 0

ORDER BY
		p.[Name]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1


SELECT
		t1.*,

		
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[ws_Product] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].ws_Product_GetCount

/*
Author:   			Joe Audette
Created: 			2008-10-16
Last Modified: 		2008-10-16
*/

@StoreGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[ws_Product]
WHERE [StoreGuid] = @StoreGuid

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_CartOffers_SelectByCart]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2008-10-17
*/

@CartGuid uniqueidentifier

AS
SELECT
		co.[ItemGuid],
		co.[CartGuid],
		co.[OfferGuid],
		co.[PriceGuid],
		co.[CurrencyGuid],
		co.[OfferPrice],
		co.[AddedToCart],
		co.[Quantity],
		co.[TaxClassGuid],
		co.[Tax],
		co.[IsDonation],
		o.[Name],
		o.[Description],
		o.Price

		
FROM
		[dbo].[ws_CartOffers] co

JOIN
		[dbo].[ws_Offer] o

ON		co.OfferGuid = o.Guid



		
WHERE
		co.[CartGuid] = @CartGuid



ORDER BY
		co.[AddedToCart]


GO





















