SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_OfferProduct_CountByOffer]

/*
Author:   			Joe Audette
Created: 			2008-07-16
Last Modified: 		2008-07-16
*/

@OfferGuid uniqueidentifier

AS


SELECT
		Count(*)
			
		
FROM
		[dbo].[ws_OfferProduct] 


WHERE
		[OfferGuid] = @OfferGuid
		AND [IsDeleted] = 0

GO



