

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[mp_CommerceReport_DeleteByOrder]

/*
Author:   			Joe Audette
Created: 			2010-03-18
Last Modified: 		2010-03-18
*/

@OrderGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_CommerceReport]
WHERE
	[OrderGuid] = @OrderGuid

GO



SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ws_FullfillDownloadTicket_DeleteByOrder]

/*
Author:   			Joe Audette
Created: 			2010-03-18
Last Modified: 		2010-03-18
*/

@OrderGuid uniqueidentifier

AS

DELETE FROM [dbo].[ws_FullfillDownloadTicket]
WHERE
	[OrderGuid] = @OrderGuid

GO

