CREATE PROCEDURE [dbo].[ws_Order_MoveOrder]

/*
Author:   			Joe Audette
Created: 			2012-01-21
Last Modified: 		2012-01-21
*/

@OrderGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS

UPDATE [dbo].[ws_Order]
SET UserGuid = @UserGuid
WHERE
	[OrderGuid] = @OrderGuid


GO

CREATE PROCEDURE [dbo].[ws_FullfillDownloadTicket_MoveOrder]

/*
Author:   			Joe Audette
Created: 			2012-01-21
Last Modified: 		2012-01-21
*/

@OrderGuid uniqueidentifier,
@UserGuid uniqueidentifier

AS

UPDATE [dbo].[ws_FullfillDownloadTicket]
SET UserGuid = @UserGuid
WHERE
	[OrderGuid] = @OrderGuid


GO


