ALTER PROCEDURE [dbo].[ws_Cart_SelectOneByUser]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2010-02-22
*/

@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier

AS
SELECT	TOP 1 *
		
FROM
		[dbo].[ws_Cart]
		
WHERE
		[UserGuid] = @UserGuid
		AND StoreGuid = @StoreGuid

ORDER BY [LastModified] DESC

GO


