SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-27
Last Modified: 		2008-07-28
*/

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@IsVisible bit,
@IsSpecial bit,
@TaxClassGuid uniqueidentifier,
@Url nvarchar(255),
@Created datetime,
@CreatedBy uniqueidentifier,
@CreatedFromIP nvarchar(255),
@LastModified datetime,
@LastModifiedBy uniqueidentifier,
@LastModifiedFromIP nvarchar(255)

	
AS
INSERT INTO 	[dbo].[ws_Offer] 
(
				[Guid],
				[StoreGuid],
				[IsVisible],
				[IsSpecial],
				[Created],
				[CreatedBy],
				[CreatedFromIP],
				[LastModified],
				[LastModifiedBy],
				[LastModifiedFromIP],
				[TaxClassGuid],
				[Url]
) 

VALUES 
(
				@Guid,
				@StoreGuid,
				@IsVisible,
				@IsSpecial,
				@Created,
				@CreatedBy,
				@CreatedFromIP,
				@LastModified,
				@LastModifiedBy,
				@LastModifiedFromIP,
				@TaxClassGuid,
				@Url
				
)

GO

