ALTER TABLE [dbo].ws_Cart ADD
	ClerkGuid uniqueidentifier NULL 

	
GO

ALTER TABLE [dbo].ws_Order ADD
	ClerkGuid uniqueidentifier NULL 

	
GO

UPDATE [dbo].ws_Cart
SET ClerkGuid = '00000000-0000-0000-0000-000000000000'

UPDATE [dbo].ws_Order
SET ClerkGuid = '00000000-0000-0000-0000-000000000000'


GO


CREATE NONCLUSTERED INDEX [IX_wsCartClerk] ON [dbo].[ws_Cart] 
(
	[ClerkGuid] ASC
) ON [PRIMARY]
GO


CREATE NONCLUSTERED INDEX [IX_wsOrderClerk] ON [dbo].[ws_Order] 
(
	[ClerkGuid] ASC
) ON [PRIMARY]
GO



SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ws_Cart_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2009-07-28
*/

@CartGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@SubTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@Created datetime,
@CreatedFromIP nvarchar(255),
@LastModified datetime,
@LastUserActivity datetime,
@CustomData ntext,
@DiscountCodesCsv ntext,
@Discount decimal(15,4),
@ClerkGuid uniqueidentifier

	
AS
INSERT INTO 	[dbo].[ws_Cart] 
(
				[CartGuid],
				[StoreGuid],
				[UserGuid],
				[SubTotal],
				[ShippingTotal],
				[TaxTotal],
				[OrderTotal],
				[Created],
				[CreatedFromIP],
				[LastModified],
				[LastUserActivity],
				CustomData,
				DiscountCodesCsv,
				Discount,
				ClerkGuid
) 

VALUES 
(
				@CartGuid,
				@StoreGuid,
				@UserGuid,
				@SubTotal,
				@ShippingTotal,
				@TaxTotal,
				@OrderTotal,
				@Created,
				@CreatedFromIP,
				@LastModified,
				@LastUserActivity,
				@CustomData,
				@DiscountCodesCsv,
				@Discount,
				@ClerkGuid
				
)


GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ws_Cart_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2009-07-29
*/
	
@CartGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@SubTotal decimal(15, 4), 
@ShippingTotal decimal(15, 4), 
@TaxTotal decimal(15, 4), 
@OrderTotal decimal(15, 4), 
@LastModified datetime, 
@LastUserActivity datetime,
@CustomData ntext,
@DiscountCodesCsv ntext,
@Discount decimal(15,4),
@ClerkGuid uniqueidentifier


AS
UPDATE 		[dbo].[ws_Cart] 

SET
			
			[UserGuid] = @UserGuid,
			[SubTotal] = @SubTotal,
			[ShippingTotal] = @ShippingTotal,
			[TaxTotal] = @TaxTotal,
			[OrderTotal] = @OrderTotal,
			[LastModified] = @LastModified,
			[LastUserActivity] = @LastUserActivity,
			CustomData = @CustomData,
			DiscountCodesCsv = @DiscountCodesCsv,
			Discount =@Discount,
			ClerkGuid = @ClerkGuid
			
WHERE
			[CartGuid] = @CartGuid


GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ws_Order_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2009-07-28
*/

@OrderGuid uniqueidentifier,
@OrderNo int,
@StoreGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@CustomerFirstName nvarchar(100),
@CustomerLastName nvarchar(100),
@CustomerCompany nvarchar(255),
@CustomerAddressLine1 nvarchar(255),
@CustomerAddressLine2 nvarchar(255),
@CustomerSuburb nvarchar(255),
@CustomerCity nvarchar(255),
@CustomerPostalCode nvarchar(20),
@CustomerState nvarchar(255),
@CustomerCountry nvarchar(255),
@CustomerTelephoneDay nvarchar(32),
@CustomerTelephoneNight nvarchar(32),
@CustomerEmail nvarchar(96),
@CustomerEmailVerified bit,
@DeliveryFirstName nvarchar(100),
@DeliveryLastName nvarchar(100),
@DeliveryCompany nvarchar(255),
@DeliveryAddress1 nvarchar(255),
@DeliveryAddress2 nvarchar(255),
@DeliverySuburb nvarchar(255),
@DeliveryCity nvarchar(255),
@DeliveryPostalCode nvarchar(20),
@DeliveryState nvarchar(255),
@DeliveryCountry nvarchar(255),
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(100),
@BillingCompany nvarchar(255),
@BillingAddress1 nvarchar(255),
@BillingAddress2 nvarchar(255),
@BillingSuburb nvarchar(255),
@BillingCity nvarchar(255),
@BillingPostalCode nvarchar(20),
@BillingState nvarchar(255),
@BillingCountry nvarchar(255),
@CardTypeGuid uniqueidentifier,
@CardOwner nvarchar(100),
@CardNumber nvarchar(255),
@CardExpires nvarchar(6),
@CardSecurityCode nvarchar(50),
@SubTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@Created datetime,
@CreatedFromIP nvarchar(255),
@Completed datetime,
@CompletedFromIP nvarchar(255),
@LastModified datetime,
@LastUserActivity datetime,
@StatusGuid uniqueidentifier,
@GatewayTransID nvarchar(255),
@GatewayRawResponse ntext,
@GatewayAuthCode nvarchar(50),
@TaxZoneGuid uniqueidentifier,
@CustomData ntext,
@DiscountCodesCsv ntext,
@Discount decimal(15,4),
@ClerkGuid uniqueidentifier

	
AS

INSERT INTO 	[dbo].[ws_Order] 
(
				[OrderGuid],
				--[OrderNo],
				[StoreGuid],
				[UserGuid],
				[CustomerFirstName],
				[CustomerLastName],
				[CustomerCompany],
				[CustomerAddressLine1],
				[CustomerAddressLine2],
				[CustomerSuburb],
				[CustomerCity],
				[CustomerPostalCode],
				[CustomerState],
				[CustomerCountry],
				[CustomerTelephoneDay],
				[CustomerTelephoneNight],
				[CustomerEmail],
				[CustomerEmailVerified],
				[DeliveryFirstName],
				[DeliveryLastName],
				[DeliveryCompany],
				[DeliveryAddress1],
				[DeliveryAddress2],
				[DeliverySuburb],
				[DeliveryCity],
				[DeliveryPostalCode],
				[DeliveryState],
				[DeliveryCountry],
				[BillingFirstName],
				[BillingLastName],
				[BillingCompany],
				[BillingAddress1],
				[BillingAddress2],
				[BillingSuburb],
				[BillingCity],
				[BillingPostalCode],
				[BillingState],
				[BillingCountry],
				[CardTypeGuid],
				[CardOwner],
				[CardNumber],
				[CardExpires],
				[CardSecurityCode],
				
				[SubTotal],
				[TaxTotal],
				[ShippingTotal],
				[OrderTotal],
				[Created],
				[CreatedFromIP],
				[Completed],
				[CompletedFromIP],
				[LastModified],
				[LastUserActivity],
				[StatusGuid],
				[GatewayTransID],
				[GatewayRawResponse],
				[GatewayAuthCode],
				[TaxZoneGuid],
				[AnalyticsTracked],
				CustomData,
				DiscountCodesCsv,
				Discount,
				ClerkGuid
) 

VALUES 
(
				@OrderGuid,
				-- @OrderNo,
				@StoreGuid,
				@UserGuid,
				@CustomerFirstName,
				@CustomerLastName,
				@CustomerCompany,
				@CustomerAddressLine1,
				@CustomerAddressLine2,
				@CustomerSuburb,
				@CustomerCity,
				@CustomerPostalCode,
				@CustomerState,
				@CustomerCountry,
				@CustomerTelephoneDay,
				@CustomerTelephoneNight,
				@CustomerEmail,
				@CustomerEmailVerified,
				@DeliveryFirstName,
				@DeliveryLastName,
				@DeliveryCompany,
				@DeliveryAddress1,
				@DeliveryAddress2,
				@DeliverySuburb,
				@DeliveryCity,
				@DeliveryPostalCode,
				@DeliveryState,
				@DeliveryCountry,
				@BillingFirstName,
				@BillingLastName,
				@BillingCompany,
				@BillingAddress1,
				@BillingAddress2,
				@BillingSuburb,
				@BillingCity,
				@BillingPostalCode,
				@BillingState,
				@BillingCountry,
				@CardTypeGuid,
				@CardOwner,
				@CardNumber,
				@CardExpires,
				@CardSecurityCode,
				
				@SubTotal,
				@TaxTotal,
				@ShippingTotal,
				@OrderTotal,
				@Created,
				@CreatedFromIP,
				@Completed,
				@CompletedFromIP,
				@LastModified,
				@LastUserActivity,
				@StatusGuid,
				@GatewayTransID,
				@GatewayRawResponse,
				@GatewayAuthCode,
				@TaxZoneGuid,
				0,
				@CustomData,
				@DiscountCodesCsv,
				@Discount,
				@ClerkGuid
				
)




GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ws_Order_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-17
Last Modified: 		2009-07-28
*/
	
@OrderGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@CustomerFirstName nvarchar(100), 
@CustomerLastName nvarchar(100),
@CustomerCompany nvarchar(255), 
@CustomerAddressLine1 nvarchar(255), 
@CustomerAddressLine2 nvarchar(255), 
@CustomerSuburb nvarchar(255), 
@CustomerCity nvarchar(255), 
@CustomerPostalCode nvarchar(20), 
@CustomerState nvarchar(255), 
@CustomerCountry nvarchar(255), 
@CustomerTelephoneDay nvarchar(32), 
@CustomerTelephoneNight nvarchar(32), 
@CustomerEmail nvarchar(96), 
@CustomerEmailVerified bit, 
@DeliveryFirstName nvarchar(100),
@DeliveryLastName nvarchar(100), 
@DeliveryCompany nvarchar(255), 
@DeliveryAddress1 nvarchar(255), 
@DeliveryAddress2 nvarchar(255), 
@DeliverySuburb nvarchar(255), 
@DeliveryCity nvarchar(255), 
@DeliveryPostalCode nvarchar(20), 
@DeliveryState nvarchar(255), 
@DeliveryCountry nvarchar(255), 
@BillingFirstName nvarchar(100),
@BillingLastName nvarchar(100), 
@BillingCompany nvarchar(255), 
@BillingAddress1 nvarchar(255), 
@BillingAddress2 nvarchar(255), 
@BillingSuburb nvarchar(255), 
@BillingCity nvarchar(255), 
@BillingPostalCode nvarchar(20), 
@BillingState nvarchar(255), 
@BillingCountry nvarchar(255), 
@CardTypeGuid uniqueidentifier, 
@CardOwner nvarchar(100), 
@CardNumber nvarchar(255), 
@CardExpires nvarchar(6), 
@CardSecurityCode nvarchar(50), 
@SubTotal decimal(15, 4), 
@TaxTotal decimal(15, 4), 
@ShippingTotal decimal(15, 4),
@OrderTotal decimal(15, 4), 
@Completed datetime, 
@CompletedFromIP nvarchar(255), 
@LastModified datetime, 
@LastUserActivity datetime, 
@StatusGuid uniqueidentifier, 
@GatewayTransID nvarchar(255), 
@GatewayRawResponse ntext, 
@GatewayAuthCode nvarchar(50), 
@TaxZoneGuid uniqueidentifier,
@PaymentMethod nvarchar(50),
@CustomData ntext,
@DiscountCodesCsv ntext,
@Discount decimal(15,4),
@ClerkGuid uniqueidentifier


AS

UPDATE 		[dbo].[ws_Order] 

SET

			
			[UserGuid] = @UserGuid,
			[CustomerFirstName] = @CustomerFirstName,
			[CustomerLastName] = @CustomerLastName,
			[CustomerCompany] = @CustomerCompany,
			[CustomerAddressLine1] = @CustomerAddressLine1,
			[CustomerAddressLine2] = @CustomerAddressLine2,
			[CustomerSuburb] = @CustomerSuburb,
			[CustomerCity] = @CustomerCity,
			[CustomerPostalCode] = @CustomerPostalCode,
			[CustomerState] = @CustomerState,
			[CustomerCountry] = @CustomerCountry,
			[CustomerTelephoneDay] = @CustomerTelephoneDay,
			[CustomerTelephoneNight] = @CustomerTelephoneNight,
			[CustomerEmail] = @CustomerEmail,
			[CustomerEmailVerified] = @CustomerEmailVerified,
			[DeliveryFirstName] = @DeliveryFirstName,
			[DeliveryLastName] = @DeliveryLastName,
			[DeliveryCompany] = @DeliveryCompany,
			[DeliveryAddress1] = @DeliveryAddress1,
			[DeliveryAddress2] = @DeliveryAddress2,
			[DeliverySuburb] = @DeliverySuburb,
			[DeliveryCity] = @DeliveryCity,
			[DeliveryPostalCode] = @DeliveryPostalCode,
			[DeliveryState] = @DeliveryState,
			[DeliveryCountry] = @DeliveryCountry,
			[BillingFirstName] = @BillingFirstName,
			[BillingLastName] = @BillingLastName,
			[BillingCompany] = @BillingCompany,
			[BillingAddress1] = @BillingAddress1,
			[BillingAddress2] = @BillingAddress2,
			[BillingSuburb] = @BillingSuburb,
			[BillingCity] = @BillingCity,
			[BillingPostalCode] = @BillingPostalCode,
			[BillingState] = @BillingState,
			[BillingCountry] = @BillingCountry,
			[CardTypeGuid] = @CardTypeGuid,
			[CardOwner] = @CardOwner,
			[CardNumber] = @CardNumber,
			[CardExpires] = @CardExpires,
			[CardSecurityCode] = @CardSecurityCode,
			[SubTotal] = @SubTotal,
			[TaxTotal] = @TaxTotal,
			[ShippingTotal] = @ShippingTotal,
			[OrderTotal] = @OrderTotal,
			[Completed] = @Completed,
			[CompletedFromIP] = @CompletedFromIP,
			[LastModified] = @LastModified,
			[LastUserActivity] = @LastUserActivity,
			[StatusGuid] = @StatusGuid,
			[GatewayTransID] = @GatewayTransID,
			[GatewayRawResponse] = @GatewayRawResponse,
			[GatewayAuthCode] = @GatewayAuthCode,
			[TaxZoneGuid] = @TaxZoneGuid,
			[PaymentMethod] = @PaymentMethod,
			CustomData = @CustomData,
			DiscountCodesCsv = @DiscountCodesCsv,
			Discount = @Discount,
			ClerkGuid = @ClerkGuid
			
WHERE
			[OrderGuid] = @OrderGuid




GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Product_SelectPage]

-- Author:   			Joe Audette
-- Created: 			2007-02-24
-- Last Modified: 		2009-07-28

@StoreGuid		uniqueidentifier,
@PageNumber 	int,
@PageSize 		int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
[Guid]
)

SELECT
		p.[Guid]
		
FROM
		[dbo].[ws_Product] p
		
WHERE
		p.StoreGuid = @StoreGuid
		AND p.[IsDeleted] = 0
		AND p.[ShowInProductList] = 1
		AND p.[Guid] IN (
				SELECT op.ProductGuid 
				FROM [dbo].ws_OfferProduct op
				JOIN [dbo].ws_Offer o
				ON	op.OfferGuid = o.[Guid]
				WHERE op.IsDeleted = 0
				AND o.IsDeleted = 0
				AND o.IsVisible = 1
				)

ORDER BY
		p.SortRank1, p.SortRank2, p.[Name]

END



SELECT
		t1.*
		
FROM
		[dbo].[ws_Product] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Product_GetCount]

/*
Author:   			Joe Audette
Created: 			2008-10-16
Last Modified: 		2009-07-28
*/

@StoreGuid uniqueidentifier

AS

SELECT COUNT(*) 
FROM [dbo].[ws_Product] p
WHERE p.[StoreGuid] = @StoreGuid
AND p.[IsDeleted] = 0
		AND p.[ShowInProductList] = 1
		AND p.[Guid] IN (
				SELECT op.ProductGuid 
				FROM [dbo].ws_OfferProduct op
				JOIN [dbo].ws_Offer o
				ON	op.OfferGuid = o.[Guid]
				WHERE op.IsDeleted = 0
				AND o.IsDeleted = 0
				AND o.IsVisible = 1
				)

GO

