DROP PROCEDURE [dbo].ws_Category_Delete
DROP PROCEDURE [dbo].ws_Category_Insert
DROP PROCEDURE [dbo].ws_Category_SelectAll
DROP PROCEDURE [dbo].ws_Category_SelectChildCategories
DROP PROCEDURE [dbo].ws_Category_SelectOne

DROP PROCEDURE [dbo].ws_Category_SelectPage
DROP PROCEDURE [dbo].ws_Category_Update
DROP PROCEDURE [dbo].ws_CategoryDescription_Delete
DROP PROCEDURE [dbo].ws_CategoryDescription_DeleteByCategory
DROP PROCEDURE [dbo].ws_CategoryDescription_Insert

DROP PROCEDURE [dbo].ws_CategoryDescription_SelectOne
DROP PROCEDURE [dbo].ws_CategoryDescription_Update



GO


DROP TABLE [dbo].ws_ProductCategory
GO

DROP TABLE [dbo].ws_ProductRating
GO

DROP TABLE [dbo].ws_ProductReview
GO


DROP TABLE [dbo].ws_CategoryDescription
GO

DROP TABLE [dbo].ws_Category
GO

