ALTER TABLE [dbo].ws_Product ADD
	EnableRating bit NULL 
GO

UPDATE [dbo].ws_Product SET EnableRating = 1

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2008-10-26
*/

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@ModelNumber nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand int,
@ImageFileName nvarchar(255),
@ImageFileBytes image,
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@ShowInProductList bit,
@EnableRating bit

	
AS

INSERT INTO 	[dbo].[ws_Product] 
(
				[Guid],
				[StoreGuid],
				[TaxClassGuid],
				[ModelNumber],
				[Status],
				[FullfillmentType],
				[Weight],
				[QuantityOnHand],
				[ImageFileName],
				[ImageFileBytes],
				[Created],
				[CreatedBy],
				[LastModified],
				[LastModifedBy],
				[Name],
				[Description],
				[Abstract],
				[ShowInProductList],
				[EnableRating],
				[Url]
) 

VALUES 
(
				@Guid,
				@StoreGuid,
				@TaxClassGuid,
				@ModelNumber,
				@Status,
				@FullfillmentType,
				@Weight,
				@QuantityOnHand,
				@ImageFileName,
				@ImageFileBytes,
				@Created,
				@CreatedBy,
				@LastModified,
				@LastModifedBy,
				@Name,
				@Description,
				@Abstract,
				@ShowInProductList,
				@EnableRating,
				@Url
				
)


GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_Update]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2008-10-27
*/
	
@Guid uniqueidentifier, 
@TaxClassGuid uniqueidentifier, 
@ModelNumber nvarchar(255), 
@Status tinyint, 
@FullfillmentType tinyint, 
@Weight decimal(7, 2), 
@QuantityOnHand int, 
@ImageFileName nvarchar(255), 
@ImageFileBytes image, 
@LastModified datetime, 
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@ShowInProductList bit,
@EnableRating bit


AS

UPDATE 		[dbo].[ws_Product] 

SET
			[TaxClassGuid] = @TaxClassGuid,
			[ModelNumber] = @ModelNumber,
			[Status] = @Status,
			[FullfillmentType] = @FullfillmentType,
			[Weight] = @Weight,
			[QuantityOnHand] = @QuantityOnHand,
			[ImageFileName] = @ImageFileName,
			[ImageFileBytes] = @ImageFileBytes,
			[LastModified] = @LastModified,
			[LastModifedBy] = @LastModifedBy,
			[ShowInProductList] = @ShowInProductList,
			[EnableRating] = @EnableRating,
			[Url] = @Url,
			[Name] = @Name,
			[Description] = @Description,
			[Abstract] = @Abstract
			
WHERE
			[Guid] = @Guid

GO



