ALTER TABLE [dbo].ws_Product ADD
	ShowInProductList bit NULL 
GO

UPDATE [dbo].ws_Product SET ShowInProductList = 1

GO





SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_Offer_GetByProduct]

-- Author:   			Joe Audette
-- Created: 			2008-10-22
-- Last Modified: 		2008-10-22

@ProductGuid		uniqueidentifier

AS

SELECT 
o.*,
op.ProductGuid

FROM	ws_Offer o

JOIN ws_OfferProduct op
ON o.Guid = op.OfferGuid

WHERE 
op.ProductGuid = @ProductGuid
AND o.IsVisible = 1
AND o.IsDeleted = 0
AND op.IsDeleted = 0


ORDER BY o.Price

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2008-10-22
*/

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@ModelNumber nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand int,
@ImageFileName nvarchar(255),
@ImageFileBytes image,
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@ShowInProductList bit

	
AS

INSERT INTO 	[dbo].[ws_Product] 
(
				[Guid],
				[StoreGuid],
				[TaxClassGuid],
				[ModelNumber],
				[Status],
				[FullfillmentType],
				[Weight],
				[QuantityOnHand],
				[ImageFileName],
				[ImageFileBytes],
				[Created],
				[CreatedBy],
				[LastModified],
				[LastModifedBy],
				[Name],
				[Description],
				[Abstract],
				[ShowInProductList],
				[Url]
) 

VALUES 
(
				@Guid,
				@StoreGuid,
				@TaxClassGuid,
				@ModelNumber,
				@Status,
				@FullfillmentType,
				@Weight,
				@QuantityOnHand,
				@ImageFileName,
				@ImageFileBytes,
				@Created,
				@CreatedBy,
				@LastModified,
				@LastModifedBy,
				@Name,
				@Description,
				@Abstract,
				@ShowInProductList,
				@Url
				
)


GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_Update]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2008-10-22
*/
	
@Guid uniqueidentifier, 
@TaxClassGuid uniqueidentifier, 
@ModelNumber nvarchar(255), 
@Status tinyint, 
@FullfillmentType tinyint, 
@Weight decimal(7, 2), 
@QuantityOnHand int, 
@ImageFileName nvarchar(255), 
@ImageFileBytes image, 
@LastModified datetime, 
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description ntext,
@Abstract ntext,
@ShowInProductList bit


AS

UPDATE 		[dbo].[ws_Product] 

SET
			[TaxClassGuid] = @TaxClassGuid,
			[ModelNumber] = @ModelNumber,
			[Status] = @Status,
			[FullfillmentType] = @FullfillmentType,
			[Weight] = @Weight,
			[QuantityOnHand] = @QuantityOnHand,
			[ImageFileName] = @ImageFileName,
			[ImageFileBytes] = @ImageFileBytes,
			[LastModified] = @LastModified,
			[LastModifedBy] = @LastModifedBy,
			[ShowInProductList] = @ShowInProductList,
			[Url] = @Url,
			[Name] = @Name,
			[Description] = @Description,
			[Abstract] = @Abstract
			
WHERE
			[Guid] = @Guid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Product_SelectPage]

-- Author:   			Joe Audette
-- Created: 			2007-02-24
-- Last Modified: 		2008-10-22

@StoreGuid		uniqueidentifier,
@PageNumber 	int,
@PageSize 		int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		p.[Guid]
		
FROM
		[dbo].[ws_Product] p
		
WHERE
		p.StoreGuid = @StoreGuid
		AND p.[IsDeleted] = 0
		AND p.[ShowInProductList] = 1

ORDER BY
		p.[Name]

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1


SELECT
		t1.*,

		
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[ws_Product] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_GetListForPageOfProducts]

-- Author:   			Joe Audette
-- Created: 			2008-10-20
-- Last Modified: 		2008-10-22

@StoreGuid		uniqueidentifier,
@PageNumber 	int,
@PageSize 		int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		p.[Guid]
		
FROM
		[dbo].[ws_Product] p
		
WHERE
		p.StoreGuid = @StoreGuid
		AND p.[IsDeleted] = 0
		AND p.[ShowInProductList] = 1

ORDER BY
		p.[Name]

END

SELECT 
o.*,
op.ProductGuid

FROM	ws_Offer o

JOIN ws_OfferProduct op
ON o.Guid = op.OfferGuid

WHERE 
o.StoreGuid = @StoreGuid
AND o.IsVisible = 1
AND o.IsDeleted = 0
AND op.IsDeleted = 0
AND op.ProductGuid IN
(SELECT
		t1.Guid
		
FROM
		[dbo].[ws_Product] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
)

ORDER BY o.Price

DROP TABLE #PageIndex

GO






