DROP PROCEDURE [dbo].ws_AuthorizeNetLog_Delete
GO

DROP PROCEDURE [dbo].ws_AuthorizeNetLog_GetCount
GO

DROP PROCEDURE [dbo].ws_AuthorizeNetLog_SelectOne
GO

DROP PROCEDURE [dbo].ws_AuthorizeNetLog_SelectAll
GO

DROP PROCEDURE [dbo].ws_AuthorizeNetLog_Insert
GO

DROP PROCEDURE [dbo].ws_AuthorizeNetLog_Update
GO

DROP PROCEDURE [dbo].ws_AuthorizeNetLog_SelectPage
GO


DROP PROCEDURE [dbo].ws_GoogleCheckoutLog_Delete
GO


DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_Insert]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectAll]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectOne]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_Update]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectMostRecentByOrder]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectPageByCart]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_SelectPage]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_GetCountByCart]
GO

DROP PROCEDURE [dbo].[ws_GoogleCheckoutLog_GetCount]
GO


DROP PROCEDURE [dbo].ws_PayPalLog_Delete
GO

DROP PROCEDURE [dbo].ws_PayPalLog_GetCount
GO

DROP PROCEDURE [dbo].ws_PayPalLog_SelectOne
GO

DROP PROCEDURE [dbo].ws_PayPalLog_SelectAll
GO

DROP PROCEDURE [dbo].ws_PayPalLog_Insert
GO

DROP PROCEDURE [dbo].ws_PayPalLog_Update
GO

DROP PROCEDURE [dbo].ws_PayPalLog_SelectPage
GO


DROP PROCEDURE [dbo].[ws_Language_SelectPage]
GO

DROP PROCEDURE [dbo].[ws_Language_Delete]
GO

DROP PROCEDURE [dbo].[ws_Language_SelectOne]
GO

DROP PROCEDURE [dbo].[ws_Language_SelectAll]
GO

DROP PROCEDURE [dbo].[ws_Language_Insert]
GO

DROP PROCEDURE [dbo].[ws_Language_Update]
GO

DROP PROCEDURE [dbo].[ws_Currency_Delete]
GO

DROP PROCEDURE [dbo].[ws_Currency_SelectOne]
GO

DROP PROCEDURE [dbo].[ws_Currency_SelectAll]
GO

DROP PROCEDURE [dbo].[ws_Currency_Insert]
GO

DROP PROCEDURE [dbo].[ws_Currency_Update]
GO

DROP PROCEDURE [dbo].[ws_GeoZone_SelectPage]
GO

DROP PROCEDURE [dbo].[ws_GeoZone_SelectPageByCountry]
GO

DROP PROCEDURE [dbo].[ws_GeoZone_SelectOne]
GO

DROP PROCEDURE [dbo].[ws_GeoZone_Delete]
GO

DROP PROCEDURE [dbo].[ws_GeoZone_Update]
GO

DROP PROCEDURE [dbo].[ws_GeoZone_Insert]
GO

DROP PROCEDURE [dbo].[ws_GeoZone_SelectByCountry]
GO

DROP PROCEDURE [dbo].[ws_TaxClass_SelectPage]
GO

DROP PROCEDURE [dbo].[ws_TaxClass_Delete]
GO

DROP PROCEDURE [dbo].[ws_TaxClass_SelectOne]
GO

DROP PROCEDURE [dbo].[ws_TaxClass_SelectByStore]
GO

DROP PROCEDURE [dbo].[ws_TaxClass_Insert]
GO

DROP PROCEDURE [dbo].[ws_TaxClass_Update]
GO

DROP PROCEDURE [dbo].[ws_TaxRate_Update]
GO

DROP PROCEDURE [dbo].[ws_TaxRate_Delete]
GO

DROP PROCEDURE [dbo].[ws_TaxRate_SelectOne]
GO

DROP PROCEDURE [dbo].[ws_TaxRate_SelectAll]
GO

DROP PROCEDURE [dbo].[ws_TaxRate_Insert]
GO

DROP PROCEDURE [dbo].[ws_TaxRateHistory_Insert]
GO

DROP PROCEDURE [dbo].[ws_GeoCountry_SelectPage]
GO

DROP PROCEDURE [dbo].[ws_GeoCountry_Update]
GO

DROP PROCEDURE [dbo].[ws_GeoCountry_Delete]
GO

DROP PROCEDURE [dbo].[ws_GeoCountry_SelectOne]
GO

DROP PROCEDURE [dbo].[ws_GeoCountry_SelectAll]
GO

DROP PROCEDURE [dbo].[ws_GeoCountry_Insert]
GO






ALTER TABLE [dbo].[ws_CategoryDescription]  DROP  CONSTRAINT [FK_ws_CategoryDescription_ws_Language]
GO

ALTER TABLE [dbo].[ws_FullfillDownloadTermsDesc]  DROP  CONSTRAINT [FK_ws_FullfillDownloadTermsDesc_ws_Language]
GO

ALTER TABLE [dbo].[ws_OfferDescription]  DROP  CONSTRAINT [FK_ws_OfferDescription_ws_Language]
GO

ALTER TABLE [dbo].[ws_OrderStatusDescription] DROP  CONSTRAINT [FK_ws_OrderStatusDescription_ws_Language]
GO

ALTER TABLE [dbo].[ws_ProductDescription]  DROP  CONSTRAINT [FK_ws_ProductDescription_ws_Language]
GO

ALTER TABLE [dbo].[ws_StoreLanguage]  DROP  CONSTRAINT [FK_ws_StoreLanguage_ws_Language]
GO

ALTER TABLE [dbo].[ws_CartOffers]  DROP  CONSTRAINT [FK_ws_CartOffers_ws_Currency]
GO

ALTER TABLE [dbo].[ws_OfferPrice]  DROP  CONSTRAINT [FK_ws_OfferPrice_ws_Currency]
GO

ALTER TABLE [dbo].[ws_OrderOffers]  DROP  CONSTRAINT [FK_ws_CartOrderOffers_ws_Currency]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_OfferPrice_SelectByOffer]

/*
Author:   			Joe Audette
Created: 			3/3/2007
Last Modified: 		3/3/2007
*/

@OfferGuid uniqueidentifier

AS
SELECT
		op.[Guid],
		op.[OfferGuid],
		op.[CurrencyGuid],
		op.[Price],
		'Currency' = c.[Title],
		'CurrencyCode' = c.[Code],
		c.[SymbolLeft],
		c.[SymbolRight]
		
		
FROM
		[dbo].[ws_OfferPrice] op

JOIN
		[dbo].[mp_Currency] c

ON		c.[Guid] = op.[CurrencyGuid]
		
WHERE
		op.[OfferGuid] = @OfferGuid


GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_SelectTop10Specials]

/*
Author:   			Joe Audette
Created: 			3/5/2007
Last Modified: 		3/5/2007
*/

@StoreGuid uniqueidentifier,
@LanguageGuid uniqueidentifier,
@CurrencyGuid uniqueidentifier

AS
SELECT TOP 10
		o.[Guid],
		o.[StoreGuid],
	
		'Name' = COALESCE(od.[ShortDescription],
			(SELECT TOP 1 [ShortDescription] + ' needs translation'
			FROM [dbo].[ws_OfferDescription]
			WHERE [dbo].[ws_OfferDescription].[OfferGuid] = o.Guid)
			),

		'Description' = od.[LongDescription],
			

		'Currency' = c.[Title],
		c.SymbolLeft,
		c.SymbolRight,
		op.Price

		
FROM
		[dbo].[ws_Offer] o

LEFT OUTER JOIN
		[dbo].[ws_OfferDescription] od

ON		o.Guid = od.OfferGuid
AND		od.LanguageGuid = @LanguageGuid

JOIN	
		[dbo].[ws_OfferPrice] op
ON		op.[OfferGuid] = o.[Guid]
		AND op.[CurrencyGuid] = @CurrencyGuid

JOIN	
		[dbo].[mp_Currency] c
ON		c.[Guid] = op.CurrencyGuid
		
WHERE
		o.[StoreGuid] = @StoreGuid
		AND o.[IsDeleted] = 0
		AND o.[IsVisible] = 1
		AND o.[IsSpecial] = 1

ORDER BY
	COALESCE(od.[ShortDescription],
			(SELECT TOP 1 [ShortDescription] + ' needs translation'
			FROM [dbo].[ws_OfferDescription]
			WHERE [dbo].[ws_OfferDescription].[OfferGuid] = o.Guid)
			)
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_SelectByCart]

/*
Author:   			Joe Audette
Created: 			3/5/2007
Last Modified: 		3/15/2007
*/

@CartGuid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS
SELECT
		co.[ItemGuid],
		co.[CartGuid],
		co.[OfferGuid],
		co.[PriceGuid],
		co.[CurrencyGuid],
		co.[OfferPrice],
		co.[AddedToCart],
		co.[Quantity],
		co.[TaxClassGuid],


		'Name' = COALESCE(od.[ShortDescription],
			(SELECT TOP 1 [ShortDescription] + ' needs translation'
			FROM [dbo].[ws_OfferDescription]
			WHERE [dbo].[ws_OfferDescription].[OfferGuid] = co.OfferGuid)
			),

		'Currency' = c.[Title],
		'CurrencyCode' = c.[Code],
		c.[SymbolLeft],
		c.[SymbolRight]
		
FROM
		[dbo].[ws_CartOffers] co

LEFT OUTER JOIN
		[dbo].[ws_OfferDescription] od

ON		co.OfferGuid = od.OfferGuid
AND		od.LanguageGuid = @LanguageGuid


JOIN
		[dbo].[mp_Currency] c

ON		c.[Guid] = co.[CurrencyGuid]

		
WHERE
		co.[CartGuid] = @CartGuid



ORDER BY
		co.[AddedToCart]

GO






DROP TABLE [dbo].ws_TaxRateHistory  
GO

DROP TABLE [dbo].ws_TaxRate 
GO

DROP TABLE [dbo].ws_TaxClass  
GO

DROP TABLE [dbo].ws_PayPalLog  
GO

DROP TABLE [dbo].ws_Language  
GO

DROP TABLE [dbo].ws_GoogleCheckoutLog  
GO

DROP TABLE [dbo].ws_GeoZone  
GO

DROP TABLE [dbo].ws_GeoCountry  
GO

DROP TABLE [dbo].ws_Currency  
GO

DROP TABLE [dbo].ws_AuthorizeNetLog  
GO

