SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Store_SelectOne]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-04
*/

@Guid uniqueidentifier

AS


SELECT *
		
FROM
		[dbo].[ws_Store]
		
WHERE
		[Guid] = @Guid

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Store_SelectOneByModuleID]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-04
*/

@ModuleID int

AS


SELECT *
			
FROM
		[dbo].[ws_Store]
		
WHERE
		[ModuleID] = @ModuleID


GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Store_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-04
*/

@Guid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ModuleID int,
@Name nvarchar(255),
@Description ntext,
@OwnerName nvarchar(255),
@OwnerEmail nvarchar(100),
@SalesEmail nvarchar(100),
@SupportEmail nvarchar(100),
@EmailFrom nvarchar(100),
@OrderBCCEmail nvarchar(100),
@Phone nvarchar(32),
@Fax nvarchar(32),
@Address nvarchar(255),
@City nvarchar(255),
@ZoneGuid uniqueidentifier,
@PostalCode nvarchar(50),
@CountryGuid uniqueidentifier,
@IsClosed bit,
@ClosedMessage ntext,
@ShowCategoryCounts bit,
@DefaultCountry uniqueidentifier,
@StoreConfigRoles ntext,
@ProductEditRoles ntext,
@OfferEditRoles ntext,
@TaxEditRoles ntext,
@Created datetime,
@CreatedBy uniqueidentifier

	
AS

INSERT INTO 	[dbo].[ws_Store] 
(
				[Guid],
				[SiteGuid],
				[ModuleID],
				[Name],
				[Description],
				[OwnerName],
				[OwnerEmail],
				[SalesEmail],
				[SupportEmail],
				[EmailFrom],
				[OrderBCCEmail],
				[Phone],
				[Fax],
				[Address],
				[City],
				[ZoneGuid],
				[PostalCode],
				[CountryGuid],
				[IsClosed],
				[ClosedMessage],
				[ShowCategoryCounts],
				[DefaultCountry],
				[StoreConfigRoles],
				[ProductEditRoles],
				[OfferEditRoles],
				[TaxEditRoles],
				[Created],
				[CreatedBy]
) 

VALUES 
(
				@Guid,
				@SiteGuid,
				@ModuleID,
				@Name,
				@Description,
				@OwnerName,
				@OwnerEmail,
				@SalesEmail,
				@SupportEmail,
				@EmailFrom,
				@OrderBCCEmail,
				@Phone,
				@Fax,
				@Address,
				@City,
				@ZoneGuid,
				@PostalCode,
				@CountryGuid,
				@IsClosed,
				@ClosedMessage,
				@ShowCategoryCounts,
				@DefaultCountry,
				@StoreConfigRoles,
				@ProductEditRoles,
				@OfferEditRoles,
				@TaxEditRoles,
				@Created,
				@CreatedBy
				
)


GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Store_Update]

/*
Author:   			Joe Audette
Created: 			2007-02-19
Last Modified: 		2009-02-04
*/
	
@Guid uniqueidentifier, 
@Name nvarchar(255), 
@Description ntext, 
@OwnerName nvarchar(255), 
@OwnerEmail nvarchar(100), 
@SalesEmail nvarchar(100), 
@SupportEmail nvarchar(100), 
@EmailFrom nvarchar(100), 
@OrderBCCEmail nvarchar(100), 
@Phone nvarchar(32), 
@Fax nvarchar(32), 
@Address nvarchar(255), 
@City nvarchar(255), 
@ZoneGuid uniqueidentifier, 
@PostalCode nvarchar(50), 
@CountryGuid uniqueidentifier, 
@IsClosed bit, 
@ClosedMessage ntext, 
@ShowCategoryCounts bit, 
@DefaultCountry uniqueidentifier, 
@StoreConfigRoles ntext, 
@ProductEditRoles ntext, 
@OfferEditRoles ntext, 
@TaxEditRoles ntext



AS

UPDATE 		[dbo].[ws_Store] 

SET
			
			[Name] = @Name,
			[Description] = @Description,	
			[OwnerName] = @OwnerName,
			[OwnerEmail] = @OwnerEmail,
			[SalesEmail] = @SalesEmail,
			[SupportEmail] = @SupportEmail,
			[EmailFrom] = @EmailFrom,
			[OrderBCCEmail] = @OrderBCCEmail,
			[Phone] = @Phone,
			[Fax] = @Fax,
			[Address] = @Address,
			[City] = @City,
			[ZoneGuid] = @ZoneGuid,
			[PostalCode] = @PostalCode,
			[CountryGuid] = @CountryGuid,
			[IsClosed] = @IsClosed,
			[ClosedMessage] = @ClosedMessage,
			[ShowCategoryCounts] = @ShowCategoryCounts,
			[DefaultCountry] = @DefaultCountry,
			[StoreConfigRoles] = @StoreConfigRoles,
			[ProductEditRoles] = @ProductEditRoles,
			[OfferEditRoles] = @OfferEditRoles,
			[TaxEditRoles] = @TaxEditRoles
			
WHERE
			[Guid] = @Guid

GO

ALTER TABLE [dbo].ws_Store DROP CONSTRAINT DF_ws_Store_AllowOtherCurrencies
ALTER TABLE [dbo].ws_Store DROP CONSTRAINT DF_ws_Store_AllowOtherLanguages

GO



ALTER TABLE [dbo].ws_Store DROP COLUMN DefaultCurrencyID
ALTER TABLE [dbo].ws_Store DROP COLUMN AllowOtherCurrencies
ALTER TABLE [dbo].ws_Store DROP COLUMN DefaultLanguageID
ALTER TABLE [dbo].ws_Store DROP COLUMN AllowOtherLanguages

GO





