SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_Cart_SelectPage

-- Author:   			Joe Audette
-- Created: 			2008-3-26
-- Last Modified: 		2008-3-26

@StoreGuid		uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

/*
Note: temp tables use the server default for collation not the database default
so if adding character columns be sure and specify to use the database collation like this
to avoid collation errors:

CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
) 


*/

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
CartGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
CartGuid
)

SELECT
		[CartGuid]
		
FROM
		[dbo].[ws_Cart]
		
WHERE		StoreGuid = @StoreGuid

ORDER BY
		LastModified DESC

END


SELECT
		c.*,
		u.Name,
		u.LoginName,
		u.Email
		
FROM
		[dbo].[ws_Cart] c

JOIN			#PageIndex t2
ON			
		c.[CartGuid] = t2.[CartGuid]
		
LEFT OUTER JOIN 
		[dbo].mp_Users u
ON 
		u.UserGuid = c.UserGuid
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_Cart_GetCountByStore

/*
Author:   			Joe Audette
Created: 			2008-3-26
Last Modified: 		2008-3-26
*/

@StoreGuid uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[ws_Cart]
WHERE StoreGuid = @StoreGuid

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


