/****** Object:  Table [dbo].[ws_PayPalLog]    Script Date: 03/09/2008 12:58:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ws_PayPalLog](
	[RowGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ws_PayPalLog_RowGuid]  DEFAULT (newid()),
	[CreatedUtc] [datetime] NOT NULL CONSTRAINT [DF_ws_PayPalLog_CreatedUtc]  DEFAULT (getutcdate()),
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[StoreGuid] [uniqueidentifier] NOT NULL,
	[CartGuid] [uniqueidentifier] NOT NULL,
	[RequestType] [nvarchar](255) NOT NULL,
	[ApiVersion] [nvarchar](50) NULL,
	[RawResponse] [ntext] NULL,
	[Token] [nvarchar](50) NULL,
	[PayerId] [nvarchar](50) NULL,
	[TransactionId] [nvarchar](50) NULL,
	[PaymentType] [nvarchar](10) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PendingReason] [nvarchar](255) NULL,
	[ReasonCode] [nvarchar](50) NULL,
	[CurrencyCode] [nvarchar](50) NULL,
	[ExchangeRate] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_PayPalLog_ExchangeRate]  DEFAULT ((0)),
	[CartTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_PayPalLog_CartTotal]  DEFAULT ((0)),
	[PayPalAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_PayPalLog_PayPalAmt]  DEFAULT ((0)),
	[TaxAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_PayPalLog_TaxAmt]  DEFAULT ((0)),
	[FeeAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_PayPalLog_FeeAmt]  DEFAULT ((0)),
	[SettleAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_PayPalLog_SettleAmt]  DEFAULT ((0)),
 CONSTRAINT [PK_ws_PayPalLog] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ws_GoogleCheckoutLog]    Script Date: 03/09/2008 12:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ws_GoogleCheckoutLog](
	[RowGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_RowGuid]  DEFAULT (newid()),
	[CreatedUtc] [datetime] NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_CreatedUtc]  DEFAULT (getutcdate()),
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[StoreGuid] [uniqueidentifier] NOT NULL,
	[CartGuid] [uniqueidentifier] NOT NULL,
	[NotificationType] [nvarchar](255) NULL,
	[RawResponse] [ntext] NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[GTimestamp] [datetime] NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[BuyerId] [nvarchar](50) NULL,
	[FullfillState] [nvarchar](50) NULL,
	[FinanceState] [nvarchar](50) NULL,
	[EmailListOptIn] [bit] NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_EmailListOptIn]  DEFAULT ((0)),
	[AvsResponse] [nvarchar](5) NULL,
	[CvnResponse] [nvarchar](5) NULL,
	[AuthExpDate] [datetime] NULL,
	[AuthAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_AuthAmt]  DEFAULT ((0)),
	[DiscountTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_DiscountTotal]  DEFAULT ((0)),
	[ShippingTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_ShippingTotal]  DEFAULT ((0)),
	[TaxTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_TaxTotal]  DEFAULT ((0)),
	[OrderTotal] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_OrderTotal]  DEFAULT ((0)),
	[LatestChgAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_LatestChgAmt]  DEFAULT ((0)),
	[TotalChgAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_TotalChgAmt]  DEFAULT ((0)),
	[LatestRefundAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_LatestRefundAmt]  DEFAULT ((0)),
	[TotalRefundAmt] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_TotalRefundAmt]  DEFAULT ((0)),
	[LatestChargeback] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_LatestChargeback]  DEFAULT ((0)),
	[TotalChargeback] [decimal](15, 4) NOT NULL CONSTRAINT [DF_ws_GoogleCheckoutLog_TotalChargeback]  DEFAULT ((0)),
 CONSTRAINT [PK_ws_GoogleCheckoutLog] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/****** Object:  Stored Procedure [dbo].ws_GoogleCheckoutLog_Delete    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_GoogleCheckoutLog_Delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_GoogleCheckoutLog_Delete]
GO

/****** Object:  Stored Procedure [dbo].ws_GoogleCheckoutLog_SelectOne    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_GoogleCheckoutLog_SelectOne]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_GoogleCheckoutLog_SelectOne]
GO

/****** Object:  Stored Procedure [dbo].ws_GoogleCheckoutLog_GetCount    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_GoogleCheckoutLog_GetCount]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_GoogleCheckoutLog_GetCount]
GO

	
/****** Object:  Stored Procedure [dbo].ws_GoogleCheckoutLog_SelectAll    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_GoogleCheckoutLog_SelectAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_GoogleCheckoutLog_SelectAll]
GO

/****** Object:  Stored Procedure [dbo].ws_GoogleCheckoutLog_Insert    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_GoogleCheckoutLog_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_GoogleCheckoutLog_Insert]
GO

/****** Object:  Stored Procedure [dbo].ws_GoogleCheckoutLog_Update    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_GoogleCheckoutLog_Update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_GoogleCheckoutLog_Update]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_GoogleCheckoutLog_Delete

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[ws_GoogleCheckoutLog]
WHERE
	[RowGuid] = @RowGuid
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_GoogleCheckoutLog_GetCount

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

AS

SELECT COUNT(*) FROM [dbo].[ws_GoogleCheckoutLog]

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_GoogleCheckoutLog_SelectOne

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier

AS


SELECT
		[RowGuid],
		[CreatedUtc],
		[SiteGuid],
		[UserGuid],
		[StoreGuid],
		[CartGuid],
		[NotificationType],
		[RawResponse],
		[SerialNumber],
		[GTimestamp],
		[OrderNumber],
		[BuyerId],
		[FullfillState],
		[FinanceState],
		[EmailListOptIn],
		[AvsResponse],
		[CvnResponse],
		[AuthExpDate],
		[AuthAmt],
		[DiscountTotal],
		[ShippingTotal],
		[TaxTotal],
		[OrderTotal],
		[LatestChgAmt],
		[TotalChgAmt],
		[LatestRefundAmt],
		[TotalRefundAmt],
		[LatestChargeback],
		[TotalChargeback]
		
FROM
		[dbo].[ws_GoogleCheckoutLog]
		
WHERE
		[RowGuid] = @RowGuid

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO






SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].ws_GoogleCheckoutLog_SelectAll

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

AS


SELECT
		[RowGuid],
		[CreatedUtc],
		[SiteGuid],
		[UserGuid],
		[StoreGuid],
		[CartGuid],
		[NotificationType],
		[RawResponse],
		[SerialNumber],
		[GTimestamp],
		[OrderNumber],
		[BuyerId],
		[FullfillState],
		[FinanceState],
		[EmailListOptIn],
		[AvsResponse],
		[CvnResponse],
		[AuthExpDate],
		[AuthAmt],
		[DiscountTotal],
		[ShippingTotal],
		[TaxTotal],
		[OrderTotal],
		[LatestChgAmt],
		[TotalChgAmt],
		[LatestRefundAmt],
		[TotalRefundAmt],
		[LatestChargeback],
		[TotalChargeback]
		
FROM
		[dbo].[ws_GoogleCheckoutLog]

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_GoogleCheckoutLog_Insert

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier,
@CreatedUtc datetime,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@NotificationType nvarchar(255),
@RawResponse ntext,
@SerialNumber nvarchar(50),
@GTimestamp datetime,
@OrderNumber nvarchar(50),
@BuyerId nvarchar(50),
@FullfillState nvarchar(50),
@FinanceState nvarchar(50),
@EmailListOptIn bit,
@AvsResponse nvarchar(5),
@CvnResponse nvarchar(5),
@AuthExpDate datetime,
@AuthAmt decimal(15, 4),
@DiscountTotal decimal(15, 4),
@ShippingTotal decimal(15, 4),
@TaxTotal decimal(15, 4),
@OrderTotal decimal(15, 4),
@LatestChgAmt decimal(15, 4),
@TotalChgAmt decimal(15, 4),
@LatestRefundAmt decimal(15, 4),
@TotalRefundAmt decimal(15, 4),
@LatestChargeback decimal(15, 4),
@TotalChargeback decimal(15, 4)

	
AS

INSERT INTO 	[dbo].[ws_GoogleCheckoutLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[NotificationType],
				[RawResponse],
				[SerialNumber],
				[GTimestamp],
				[OrderNumber],
				[BuyerId],
				[FullfillState],
				[FinanceState],
				[EmailListOptIn],
				[AvsResponse],
				[CvnResponse],
				[AuthExpDate],
				[AuthAmt],
				[DiscountTotal],
				[ShippingTotal],
				[TaxTotal],
				[OrderTotal],
				[LatestChgAmt],
				[TotalChgAmt],
				[LatestRefundAmt],
				[TotalRefundAmt],
				[LatestChargeback],
				[TotalChargeback]
) 

VALUES 
(
				@RowGuid,
				@CreatedUtc,
				@SiteGuid,
				@UserGuid,
				@StoreGuid,
				@CartGuid,
				@NotificationType,
				@RawResponse,
				@SerialNumber,
				@GTimestamp,
				@OrderNumber,
				@BuyerId,
				@FullfillState,
				@FinanceState,
				@EmailListOptIn,
				@AvsResponse,
				@CvnResponse,
				@AuthExpDate,
				@AuthAmt,
				@DiscountTotal,
				@ShippingTotal,
				@TaxTotal,
				@OrderTotal,
				@LatestChgAmt,
				@TotalChgAmt,
				@LatestRefundAmt,
				@TotalRefundAmt,
				@LatestChargeback,
				@TotalChargeback
				
)


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_GoogleCheckoutLog_Update

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/
	
@RowGuid uniqueidentifier, 
@CreatedUtc datetime, 
@SiteGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@StoreGuid uniqueidentifier, 
@CartGuid uniqueidentifier, 
@NotificationType nvarchar(255), 
@RawResponse ntext, 
@SerialNumber nvarchar(50), 
@GTimestamp datetime, 
@OrderNumber nvarchar(50), 
@BuyerId nvarchar(50), 
@FullfillState nvarchar(50), 
@FinanceState nvarchar(50), 
@EmailListOptIn bit, 
@AvsResponse nvarchar(5), 
@CvnResponse nvarchar(5), 
@AuthExpDate datetime, 
@AuthAmt decimal(15, 4), 
@DiscountTotal decimal(15, 4), 
@ShippingTotal decimal(15, 4), 
@TaxTotal decimal(15, 4), 
@OrderTotal decimal(15, 4), 
@LatestChgAmt decimal(15, 4), 
@TotalChgAmt decimal(15, 4), 
@LatestRefundAmt decimal(15, 4), 
@TotalRefundAmt decimal(15, 4), 
@LatestChargeback decimal(15, 4), 
@TotalChargeback decimal(15, 4) 


AS

UPDATE 		[dbo].[ws_GoogleCheckoutLog] 

SET
			[CreatedUtc] = @CreatedUtc,
			[SiteGuid] = @SiteGuid,
			[UserGuid] = @UserGuid,
			[StoreGuid] = @StoreGuid,
			[CartGuid] = @CartGuid,
			[NotificationType] = @NotificationType,
			[RawResponse] = @RawResponse,
			[SerialNumber] = @SerialNumber,
			[GTimestamp] = @GTimestamp,
			[OrderNumber] = @OrderNumber,
			[BuyerId] = @BuyerId,
			[FullfillState] = @FullfillState,
			[FinanceState] = @FinanceState,
			[EmailListOptIn] = @EmailListOptIn,
			[AvsResponse] = @AvsResponse,
			[CvnResponse] = @CvnResponse,
			[AuthExpDate] = @AuthExpDate,
			[AuthAmt] = @AuthAmt,
			[DiscountTotal] = @DiscountTotal,
			[ShippingTotal] = @ShippingTotal,
			[TaxTotal] = @TaxTotal,
			[OrderTotal] = @OrderTotal,
			[LatestChgAmt] = @LatestChgAmt,
			[TotalChgAmt] = @TotalChgAmt,
			[LatestRefundAmt] = @LatestRefundAmt,
			[TotalRefundAmt] = @TotalRefundAmt,
			[LatestChargeback] = @LatestChargeback,
			[TotalChargeback] = @TotalChargeback
			
WHERE
			[RowGuid] = @RowGuid

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure [dbo].ws_GoogleCheckoutLog_SelectPage   Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_GoogleCheckoutLog_SelectPage]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_GoogleCheckoutLog_SelectPage]
GO



CREATE PROCEDURE [dbo].ws_GoogleCheckoutLog_SelectPage

-- Author:   			Joe Audette
-- Created: 			2008-3-9
-- Last Modified: 		2008-3-9

@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

/*
Note: temp tables use the server default for collation not the database default
so if adding character columns be sure and specify to use the database collation like this
to avoid collation errors:

CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
) 


*/

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
RowGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
RowGuid
)

SELECT
		[RowGuid]
		
FROM
		[dbo].[ws_GoogleCheckoutLog]
		
-- WHERE

-- ORDER BY

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[ws_GoogleCheckoutLog] t1

JOIN			#PageIndex t2
ON			
		t1.[RowGuid] = t2.[RowGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


/****** Object:  Stored Procedure [dbo].ws_PayPalLog_Delete    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_PayPalLog_Delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_PayPalLog_Delete]
GO

/****** Object:  Stored Procedure [dbo].ws_PayPalLog_SelectOne    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_PayPalLog_SelectOne]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_PayPalLog_SelectOne]
GO

/****** Object:  Stored Procedure [dbo].ws_PayPalLog_GetCount    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_PayPalLog_GetCount]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_PayPalLog_GetCount]
GO

	
/****** Object:  Stored Procedure [dbo].ws_PayPalLog_SelectAll    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_PayPalLog_SelectAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_PayPalLog_SelectAll]
GO

/****** Object:  Stored Procedure [dbo].ws_PayPalLog_Insert    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_PayPalLog_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_PayPalLog_Insert]
GO

/****** Object:  Stored Procedure [dbo].ws_PayPalLog_Update    Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_PayPalLog_Update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_PayPalLog_Update]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_PayPalLog_Delete

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[ws_PayPalLog]
WHERE
	[RowGuid] = @RowGuid
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_PayPalLog_GetCount

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

AS

SELECT COUNT(*) FROM [dbo].[ws_PayPalLog]

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_PayPalLog_SelectOne

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier

AS


SELECT
		[RowGuid],
		[CreatedUtc],
		[SiteGuid],
		[UserGuid],
		[StoreGuid],
		[CartGuid],
		[RequestType],
		[ApiVersion],
		[RawResponse],
		[Token],
		[PayerId],
		[TransactionId],
		[PaymentType],
		[PaymentStatus],
		[PendingReason],
		[ReasonCode],
		[CurrencyCode],
		[ExchangeRate],
		[CartTotal],
		[PayPalAmt],
		[TaxAmt],
		[FeeAmt],
		[SettleAmt]
		
FROM
		[dbo].[ws_PayPalLog]
		
WHERE
		[RowGuid] = @RowGuid

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO






SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE [dbo].ws_PayPalLog_SelectAll

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

AS


SELECT
		[RowGuid],
		[CreatedUtc],
		[SiteGuid],
		[UserGuid],
		[StoreGuid],
		[CartGuid],
		[RequestType],
		[ApiVersion],
		[RawResponse],
		[Token],
		[PayerId],
		[TransactionId],
		[PaymentType],
		[PaymentStatus],
		[PendingReason],
		[ReasonCode],
		[CurrencyCode],
		[ExchangeRate],
		[CartTotal],
		[PayPalAmt],
		[TaxAmt],
		[FeeAmt],
		[SettleAmt]
		
FROM
		[dbo].[ws_PayPalLog]

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_PayPalLog_Insert

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/

@RowGuid uniqueidentifier,
@CreatedUtc datetime,
@SiteGuid uniqueidentifier,
@UserGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@RequestType nvarchar(255),
@ApiVersion nvarchar(50),
@RawResponse ntext,
@Token nvarchar(50),
@PayerId nvarchar(50),
@TransactionId nvarchar(50),
@PaymentType nvarchar(10),
@PaymentStatus nvarchar(50),
@PendingReason nvarchar(255),
@ReasonCode nvarchar(50),
@CurrencyCode nvarchar(50),
@ExchangeRate decimal(15, 4),
@CartTotal decimal(15, 4),
@PayPalAmt decimal(15, 4),
@TaxAmt decimal(15, 4),
@FeeAmt decimal(15, 4),
@SettleAmt decimal(15, 4)

	
AS

INSERT INTO 	[dbo].[ws_PayPalLog] 
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[RequestType],
				[ApiVersion],
				[RawResponse],
				[Token],
				[PayerId],
				[TransactionId],
				[PaymentType],
				[PaymentStatus],
				[PendingReason],
				[ReasonCode],
				[CurrencyCode],
				[ExchangeRate],
				[CartTotal],
				[PayPalAmt],
				[TaxAmt],
				[FeeAmt],
				[SettleAmt]
) 

VALUES 
(
				@RowGuid,
				@CreatedUtc,
				@SiteGuid,
				@UserGuid,
				@StoreGuid,
				@CartGuid,
				@RequestType,
				@ApiVersion,
				@RawResponse,
				@Token,
				@PayerId,
				@TransactionId,
				@PaymentType,
				@PaymentStatus,
				@PendingReason,
				@ReasonCode,
				@CurrencyCode,
				@ExchangeRate,
				@CartTotal,
				@PayPalAmt,
				@TaxAmt,
				@FeeAmt,
				@SettleAmt
				
)


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE [dbo].ws_PayPalLog_Update

/*
Author:   			Joe Audette
Created: 			2008-3-9
Last Modified: 		2008-3-9
*/
	
@RowGuid uniqueidentifier, 
@CreatedUtc datetime, 
@SiteGuid uniqueidentifier, 
@UserGuid uniqueidentifier, 
@StoreGuid uniqueidentifier, 
@CartGuid uniqueidentifier, 
@RequestType nvarchar(255), 
@ApiVersion nvarchar(50), 
@RawResponse ntext, 
@Token nvarchar(50), 
@PayerId nvarchar(50), 
@TransactionId nvarchar(50), 
@PaymentType nvarchar(10), 
@PaymentStatus nvarchar(50), 
@PendingReason nvarchar(255), 
@ReasonCode nvarchar(50), 
@CurrencyCode nvarchar(50), 
@ExchangeRate decimal(15, 4), 
@CartTotal decimal(15, 4), 
@PayPalAmt decimal(15, 4), 
@TaxAmt decimal(15, 4), 
@FeeAmt decimal(15, 4), 
@SettleAmt decimal(15, 4) 


AS

UPDATE 		[dbo].[ws_PayPalLog] 

SET
			[CreatedUtc] = @CreatedUtc,
			[SiteGuid] = @SiteGuid,
			[UserGuid] = @UserGuid,
			[StoreGuid] = @StoreGuid,
			[CartGuid] = @CartGuid,
			[RequestType] = @RequestType,
			[ApiVersion] = @ApiVersion,
			[RawResponse] = @RawResponse,
			[Token] = @Token,
			[PayerId] = @PayerId,
			[TransactionId] = @TransactionId,
			[PaymentType] = @PaymentType,
			[PaymentStatus] = @PaymentStatus,
			[PendingReason] = @PendingReason,
			[ReasonCode] = @ReasonCode,
			[CurrencyCode] = @CurrencyCode,
			[ExchangeRate] = @ExchangeRate,
			[CartTotal] = @CartTotal,
			[PayPalAmt] = @PayPalAmt,
			[TaxAmt] = @TaxAmt,
			[FeeAmt] = @FeeAmt,
			[SettleAmt] = @SettleAmt
			
WHERE
			[RowGuid] = @RowGuid

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure [dbo].ws_PayPalLog_SelectPage   Script Date: Sunday, March 09, 2008 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ws_PayPalLog_SelectPage]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ws_PayPalLog_SelectPage]
GO



CREATE PROCEDURE [dbo].ws_PayPalLog_SelectPage

-- Author:   			Joe Audette
-- Created: 			2008-3-9
-- Last Modified: 		2008-3-9

@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

/*
Note: temp tables use the server default for collation not the database default
so if adding character columns be sure and specify to use the database collation like this
to avoid collation errors:

CREATE TABLE #PageIndexForUsers
(
IndexID int IDENTITY (1, 1) NOT NULL,
UserName nvarchar(50) COLLATE DATABASE_DEFAULT,
LoginName nvarchar(50) COLLATE DATABASE_DEFAULT
) 


*/

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
RowGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
RowGuid
)

SELECT
		[RowGuid]
		
FROM
		[dbo].[ws_PayPalLog]
		
-- WHERE

-- ORDER BY

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		'TotalPages' = @TotalPages
		
FROM
		[dbo].[ws_PayPalLog] t1

JOIN			#PageIndex t2
ON			
		t1.[RowGuid] = t2.[RowGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

