/****** Object:  Table [dbo].[ws_ProductPropertyGroup]    Script Date: 11/30/2007 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ws_ProductPropertyGroup](
	[Guid] [uniqueidentifier] NOT NULL,
	[ProductGuid] [uniqueidentifier] NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_ws_ProductPropertyGroup] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ws_ProductProperty]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ws_ProductProperty](
	[Guid] [uniqueidentifier] NOT NULL,
	[ProductGuid] [uniqueidentifier] NOT NULL,
	[GroupGuid] [uniqueidentifier] NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_ws_ProductProperty] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ws_ProductPropertyDesc]    Script Date: 11/30/2007 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ws_ProductPropertyDesc](
	[Guid] [uniqueidentifier] NOT NULL,
	[LanguageGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_ws_ProductPropertyDesc] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC,
	[LanguageGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ws_ProductPropertyGroupDesc]    Script Date: 11/30/2007 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ws_ProductPropertyGroupDesc](
	[Guid] [uniqueidentifier] NOT NULL,
	[LanguageGuid] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ws_ProductPropertyGroupDesc] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC,
	[LanguageGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductProperty_Delete]    Script Date: 11/30/2007 15:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductProperty_Delete]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier

AS

DELETE FROM ws_ProductPropertyDesc WHERE [Guid] = @Guid
DELETE FROM ws_ProductProperty WHERE [Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductProperty_Insert]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductProperty_Insert]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@ProductGuid uniqueidentifier,
@GroupGuid uniqueidentifier,
@Sort int

AS

INSERT INTO ws_ProductProperty
(
[Guid],
[ProductGuid],
[GroupGuid],
[Sort]
)
VALUES (
@Guid,
@ProductGuid,
@GroupGuid,
@Sort
)
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductProperty_SelectAllWithoutPropertyGroupByProduct]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductProperty_SelectAllWithoutPropertyGroupByProduct]

/*
Author:   			Christian Fredh
Created: 			10/29/2007
Last Modified: 		10/29/2007
*/

@ProductGuid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS

SELECT
pp.[Guid],
pp.[ProductGuid],
pp.[GroupGuid],
pp.[Sort],
ppd.[LanguageGuid],
--ppd.[Name],
'Name' = COALESCE(ppd.[Name],
(SELECT TOP 1 [Name] + ' needs translation'
FROM [dbo].[ws_ProductPropertyDesc]
WHERE [dbo].[ws_ProductPropertyDesc].[Guid] = pp.Guid)
),
--ppd.[Value],
'Value' = COALESCE(ppd.[Value],
(SELECT TOP 1 [Value]
FROM [dbo].[ws_ProductPropertyDesc]
WHERE [dbo].[ws_ProductPropertyDesc].[Guid] = pp.Guid)
),
--ppgd.[Description] AS GroupName
'GroupName' = COALESCE(ppgd.[Description],
(SELECT TOP 1 [Description] + ' needs translation'
FROM [dbo].[ws_ProductPropertyGroupDesc]
WHERE [dbo].[ws_ProductPropertyGroupDesc].[Guid] = ppg.Guid)
)

FROM
[dbo].[ws_ProductProperty] pp

LEFT JOIN	[dbo].[ws_ProductPropertyDesc] ppd
ON		pp.[Guid] = ppd.[Guid] AND ppd.[LanguageGuid] = @LanguageGuid

LEFT JOIN [dbo].[ws_ProductPropertyGroup] ppg
ON pp.[GroupGuid] = ppg.[Guid]

LEFT JOIN [dbo].[ws_ProductPropertyGroupDesc] ppgd
ON ppg.[Guid] = ppgd.[Guid] AND ppgd.[LanguageGuid] = @LanguageGuid

WHERE
pp.[ProductGuid] = @ProductGuid
AND		(pp.[GroupGuid] = NULL OR pp.[GroupGuid] = '00000000-0000-0000-0000-000000000000')

ORDER BY pp.[Sort], --[Name]'Name' =
COALESCE(ppd.[Name],
(SELECT TOP 1 [Name] + ' needs translation'
FROM [dbo].[ws_ProductPropertyDesc]
WHERE [dbo].[ws_ProductPropertyDesc].[Guid] = pp.Guid)
)
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductProperty_SelectOne]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductProperty_SelectOne]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/29/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS


SELECT
pp.[Guid],
pp.[ProductGuid],
pp.[GroupGuid],
pp.[Sort],
ppd.[LanguageGuid],
ppd.[Name],
ppd.[Value]

FROM
[dbo].[ws_ProductProperty] pp

LEFT JOIN	[dbo].[ws_ProductPropertyDesc] ppd
ON		pp.[Guid] = ppd.[Guid] AND [LanguageGuid] = @LanguageGuid

WHERE
pp.[Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductProperty_SelectByPropertyGroup]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductProperty_SelectByPropertyGroup]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/29/2007
*/

@GroupGuid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS

SELECT
pp.[Guid],
pp.[ProductGuid],
pp.[GroupGuid],
pp.[Sort],
ppd.[LanguageGuid],
--ppd.[Name],
'Name' = COALESCE(ppd.[Name],
(SELECT TOP 1 [Name] + ' needs translation'
FROM [dbo].[ws_ProductPropertyDesc]
WHERE [dbo].[ws_ProductPropertyDesc].[Guid] = pp.Guid)
),
--ppd.[Value],
'Value' = COALESCE(ppd.[Value],
(SELECT TOP 1 [Value]
FROM [dbo].[ws_ProductPropertyDesc]
WHERE [dbo].[ws_ProductPropertyDesc].[Guid] = pp.Guid)
),
--ppgd.[Description] AS GroupName
'GroupName' = COALESCE(ppgd.[Description],
(SELECT TOP 1 [Description] + ' needs translation'
FROM [dbo].[ws_ProductPropertyGroupDesc]
WHERE [dbo].[ws_ProductPropertyGroupDesc].[Guid] = ppg.Guid)
)

FROM
[dbo].[ws_ProductProperty] pp

JOIN	[dbo].[ws_ProductPropertyDesc] ppd
ON		pp.[Guid] = ppd.[Guid] AND ppd.[LanguageGuid] = @LanguageGuid

LEFT JOIN [dbo].[ws_ProductPropertyGroup] ppg
ON pp.[GroupGuid] = ppg.[Guid]

LEFT JOIN [dbo].[ws_ProductPropertyGroupDesc] ppgd
ON ppg.[Guid] = ppgd.[Guid] AND ppgd.[LanguageGuid] = @LanguageGuid

WHERE
pp.[GroupGuid] = @GroupGuid

ORDER BY pp.[Sort], --[Name]
COALESCE(ppd.[Name],
(SELECT TOP 1 [Name] + ' needs translation'
FROM [dbo].[ws_ProductPropertyDesc]
WHERE [dbo].[ws_ProductPropertyDesc].[Guid] = pp.Guid)
)
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductProperty_Update]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductProperty_Update]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@GroupGuid uniqueidentifier,
@Sort int

AS

UPDATE	ws_ProductProperty
SET		[GroupGuid] = @GroupGuid,
[Sort] = @Sort
WHERE	[Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyDesc_SelectOne]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyDesc_SelectOne]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS


SELECT
pp.[Guid],
pp.[ProductGuid],
pp.[GroupGuid],
pp.[Sort],
ppd.[LanguageGuid],
ppd.[Name],
ppd.[Value]

FROM
[dbo].[ws_ProductProperty] pp

JOIN	[dbo].[ws_ProductPropertyDesc] ppd
ON		pp.[Guid] = ppd.[Guid]

WHERE
pp.[Guid] = @Guid
AND [LanguageGuid] = @LanguageGuid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroup_Delete]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroup_Delete]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/29/2007
*/

@Guid uniqueidentifier,
@IncludeProperties bit

AS

DELETE FROM ws_ProductPropertyGroupDesc WHERE [Guid] = @Guid
DELETE FROM ws_ProductPropertyGroup WHERE [Guid] = @Guid

IF @IncludeProperties = 1 BEGIN
DELETE FROM ws_ProductPropertyDesc WHERE [Guid] IN (SELECT [Guid] FROM ws_ProductProperty WHERE [GroupGuid] = @Guid)
DELETE FROM ws_ProductProperty WHERE [GroupGuid] = @Guid
END
ELSE BEGIN
UPDATE ws_ProductProperty SET [GroupGuid] = '00000000-0000-0000-0000-000000000000' --Change to null?
WHERE [GroupGuid] = @Guid
END
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyDesc_Insert]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyDesc_Insert]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier,
@Name nvarchar(255),
@Value nvarchar(255)

AS

INSERT INTO ws_ProductPropertyDesc
(
[Guid],
[LanguageGuid],
[Name],
[Value]
)
VALUES (
@Guid,
@LanguageGuid,
@Name,
@Value
)
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyDesc_Update]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyDesc_Update]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier,
@Name nvarchar(255),
@Value nvarchar(255)

AS

UPDATE	ws_ProductPropertyDesc
SET		[Name] = @Name,
[Value] = @Value
WHERE	[Guid] = @Guid
AND		[LanguageGuid] = @LanguageGuid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroup_Insert]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroup_Insert]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@ProductGuid uniqueidentifier,
@Sort int

AS

INSERT INTO ws_ProductPropertyGroup
(
[Guid],
[ProductGuid],
[Sort]
)
VALUES (
@Guid,
@ProductGuid,
@Sort
)
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroup_SelectByProduct]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroup_SelectByProduct]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/29/2007
*/

@ProductGuid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS

SELECT
ppg.[Guid],
ppg.[ProductGuid],
ppg.[Sort],
ppgd.[LanguageGuid],
--ppgd.[Description]
COALESCE(ppgd.[Description],
(SELECT TOP 1 [Description] + ' needs translation'
FROM [dbo].[ws_ProductPropertyGroupDesc]
WHERE [dbo].[ws_ProductPropertyGroupDesc].[Guid] = ppg.[Guid])
) AS [Description]

FROM
[dbo].[ws_ProductPropertyGroup] ppg

LEFT JOIN	[dbo].[ws_ProductPropertyGroupDesc] ppgd
ON		ppg.[Guid] = ppgd.[Guid] AND [LanguageGuid] = @LanguageGuid

WHERE
ppg.[ProductGuid] = @ProductGuid



UNION
SELECT '00000000-0000-0000-0000-000000000000' AS [Guid],
@ProductGuid AS [ProductGuid],
NULL AS [Sort],
@LanguageGuid AS [LanguageGuid],
'' AS [Description]

ORDER BY ppg.[Sort], [Description]
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroup_SelectOne]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroup_SelectOne]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/29/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS


SELECT
ppg.[Guid],
ppg.[ProductGuid],
ppg.[Sort],
ppgd.[LanguageGuid],
ppgd.[Description]

FROM
[dbo].[ws_ProductPropertyGroup] ppg

LEFT JOIN	[dbo].[ws_ProductPropertyGroupDesc] ppgd
ON		ppg.[Guid] = ppgd.[Guid] AND [LanguageGuid] = @LanguageGuid

WHERE
ppg.[Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroup_Update]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroup_Update]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@Sort int

AS

UPDATE ws_ProductPropertyGroup
SET	[Sort] = @Sort
WHERE [Guid] = @Guid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroupDesc_SelectOne]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroupDesc_SelectOne]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier

AS


SELECT
ppg.[Guid],
ppg.[ProductGuid],
ppg.[Sort],
ppgd.[LanguageGuid],
ppgd.[Description]

FROM
[dbo].[ws_ProductPropertyGroup] ppg

JOIN	[dbo].[ws_ProductPropertyGroupDesc] ppgd
ON		ppg.[Guid] = ppgd.[Guid]

WHERE
ppg.[Guid] = @Guid
AND [LanguageGuid] = @LanguageGuid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroupDesc_Update]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroupDesc_Update]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier,
@Description nvarchar(255)

AS

UPDATE	ws_ProductPropertyGroupDesc
SET		[Description] = @Description
WHERE	[Guid] = @Guid
AND		[LanguageGuid] = @LanguageGuid
GO
/****** Object:  StoredProcedure [dbo].[ws_ProductPropertyGroupDesc_Insert]    Script Date: 11/30/2007 15:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_ProductPropertyGroupDesc_Insert]

/*
Author:   			Christian Fredh
Created: 			10/21/2007
Last Modified: 		10/21/2007
*/

@Guid uniqueidentifier,
@LanguageGuid uniqueidentifier,
@Description nvarchar(255)

AS

INSERT INTO ws_ProductPropertyGroupDesc
(
[Guid],
[LanguageGuid],
[Description]
)
VALUES (
@Guid,
@LanguageGuid,
@Description
)
GO
/****** Object:  ForeignKey [FK_ws_ProductPropertyDesc_ws_ProductProperty]    Script Date: 11/30/2007 15:47:43 ******/
ALTER TABLE [dbo].[ws_ProductPropertyDesc]  WITH CHECK ADD  CONSTRAINT [FK_ws_ProductPropertyDesc_ws_ProductProperty] FOREIGN KEY([Guid])
REFERENCES [dbo].[ws_ProductProperty] ([Guid])
GO
ALTER TABLE [dbo].[ws_ProductPropertyDesc] CHECK CONSTRAINT [FK_ws_ProductPropertyDesc_ws_ProductProperty]
GO
/****** Object:  ForeignKey [FK_ws_ProductPropertyGroupDesc_ws_ProductPropertyGroup]    Script Date: 11/30/2007 15:47:43 ******/
ALTER TABLE [dbo].[ws_ProductPropertyGroupDesc]  WITH CHECK ADD  CONSTRAINT [FK_ws_ProductPropertyGroupDesc_ws_ProductPropertyGroup] FOREIGN KEY([Guid])
REFERENCES [dbo].[ws_ProductPropertyGroup] ([Guid])
GO
ALTER TABLE [dbo].[ws_ProductPropertyGroupDesc] CHECK CONSTRAINT [FK_ws_ProductPropertyGroupDesc_ws_ProductPropertyGroup]
GO
