ALTER TABLE [dbo].ws_Discount ADD
	AllowOtherDiscounts bit NULL 
	
	
GO

UPDATE [dbo].ws_Discount SET AllowOtherDiscounts = 0
	
	
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Discount_Insert]

/*
Author:   			Joe Audette
Created: 			2009-03-03
Last Modified: 		2009-03-04
*/

@DiscountGuid uniqueidentifier,
@DiscountCode nvarchar(255),
@Description nvarchar(255),
@SiteGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@OfferGuid uniqueidentifier,
@ValidityStartDate datetime,
@ValidityEndDate datetime,
@UseCount int,
@MaxCount int,
@MinOrderAmount decimal(15, 4),
@AbsoluteDiscount decimal(15, 4),
@PercentageDiscount decimal(15, 4),
@CreatedBy uniqueidentifier,
@CreatedUtc datetime,
@LastModBy uniqueidentifier,
@LastModUtc datetime,
@AllowOtherDiscounts bit

	
AS

INSERT INTO 	[dbo].[ws_Discount] 
(
				[DiscountGuid],
				[DiscountCode],
				[Description],
				[SiteGuid],
				[ModuleGuid],
				[StoreGuid],
				[OfferGuid],
				[ValidityStartDate],
				[ValidityEndDate],
				[UseCount],
				[MaxCount],
				[MinOrderAmount],
				[AbsoluteDiscount],
				[PercentageDiscount],
				[CreatedBy],
				[CreatedUtc],
				[LastModBy],
				[LastModUtc],
				AllowOtherDiscounts
) 

VALUES 
(
				@DiscountGuid,
				@DiscountCode,
				@Description,
				@SiteGuid,
				@ModuleGuid,
				@StoreGuid,
				@OfferGuid,
				@ValidityStartDate,
				@ValidityEndDate,
				@UseCount,
				@MaxCount,
				@MinOrderAmount,
				@AbsoluteDiscount,
				@PercentageDiscount,
				@CreatedBy,
				@CreatedUtc,
				@LastModBy,
				@LastModUtc,
				@AllowOtherDiscounts
				
)

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ws_Discount_Update]

/*
Author:   			Joe Audette
Created: 			2009-03-03
Last Modified: 		2009-03-03
*/
	
@DiscountGuid uniqueidentifier, 
@DiscountCode nvarchar(255), 
@Description nvarchar(255), 
@OfferGuid uniqueidentifier, 
@ValidityStartDate datetime, 
@ValidityEndDate datetime, 
@UseCount int, 
@MaxCount int, 
@MinOrderAmount decimal(15, 4), 
@AbsoluteDiscount decimal(15, 4), 
@PercentageDiscount decimal(15, 4), 
@LastModBy uniqueidentifier, 
@LastModUtc datetime,
@AllowOtherDiscounts bit


AS

UPDATE 		[dbo].[ws_Discount] 

SET
			[DiscountCode] = @DiscountCode,
			[Description] = @Description,
			[OfferGuid] = @OfferGuid,
			[ValidityStartDate] = @ValidityStartDate,
			[ValidityEndDate] = @ValidityEndDate,
			[UseCount] = @UseCount,
			[MaxCount] = @MaxCount,
			[MinOrderAmount] = @MinOrderAmount,
			[AbsoluteDiscount] = @AbsoluteDiscount,
			[PercentageDiscount] = @PercentageDiscount,
			[LastModBy] = @LastModBy,
			[LastModUtc] = @LastModUtc,
			AllowOtherDiscounts = @AllowOtherDiscounts
			
WHERE
			[DiscountGuid] = @DiscountGuid

GO

