ALTER TABLE [dbo].ws_ProductHistory ADD ShippingAmount decimal(15, 4) NULL
ALTER TABLE [dbo].ws_Product ADD ShippingAmount decimal(15, 4) NULL

GO



ALTER PROCEDURE [dbo].[ws_Product_Insert]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2015-04-08
*/

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@ModelNumber nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand int,
@ImageFileName nvarchar(255),
@ImageFileBytes varbinary(max),
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description nvarchar(max),
@Abstract nvarchar(max),
@ShowInProductList bit,
@EnableRating bit,
@MetaDescription nvarchar(255),
@MetaKeywords nvarchar(255),
@SortRank1 int,
@SortRank2 int,
@TeaserFile nvarchar(255),
@TeaserFileLink nvarchar(255),
@CompiledMeta nvarchar(max),
@ShippingAmount decimal(15,4)

	
AS

INSERT INTO 	[dbo].[ws_Product] 
(
				[Guid],
				[StoreGuid],
				[TaxClassGuid],
				[ModelNumber],
				[Status],
				[FullfillmentType],
				[Weight],
				[QuantityOnHand],
				[ImageFileName],
				[ImageFileBytes],
				[Created],
				[CreatedBy],
				[LastModified],
				[LastModifedBy],
				[Name],
				[Description],
				[Abstract],
				[ShowInProductList],
				[EnableRating],
				[Url],
				MetaDescription,
				MetaKeywords,
				SortRank1,
				SortRank2,
				TeaserFile,
				TeaserFileLink,
				CompiledMeta,
				ShippingAmount
) 

VALUES 
(
				@Guid,
				@StoreGuid,
				@TaxClassGuid,
				@ModelNumber,
				@Status,
				@FullfillmentType,
				@Weight,
				@QuantityOnHand,
				@ImageFileName,
				@ImageFileBytes,
				@Created,
				@CreatedBy,
				@LastModified,
				@LastModifedBy,
				@Name,
				@Description,
				@Abstract,
				@ShowInProductList,
				@EnableRating,
				@Url,
				@MetaDescription,
				@MetaKeywords,
				@SortRank1,
				@SortRank2,
				@TeaserFile,
				@TeaserFileLink,
				@CompiledMeta,
				@ShippingAmount
				
)

GO



ALTER PROCEDURE [dbo].[ws_Product_Update]

/*
Author:   			Joe Audette
Created: 			2007-02-24
Last Modified: 		2015-04-08
*/
	
@Guid uniqueidentifier, 
@TaxClassGuid uniqueidentifier, 
@ModelNumber nvarchar(255), 
@Status tinyint, 
@FullfillmentType tinyint, 
@Weight decimal(7, 2), 
@QuantityOnHand int, 
@ImageFileName nvarchar(255), 
@ImageFileBytes varbinary(max), 
@LastModified datetime, 
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description nvarchar(max),
@Abstract nvarchar(max),
@ShowInProductList bit,
@EnableRating bit,
@MetaDescription nvarchar(255),
@MetaKeywords nvarchar(255),
@SortRank1 int,
@SortRank2 int,
@TeaserFile nvarchar(255),
@TeaserFileLink nvarchar(255),
@CompiledMeta nvarchar(max),
@ShippingAmount decimal(15,4)


AS

UPDATE 		[dbo].[ws_Product] 

SET
			[TaxClassGuid] = @TaxClassGuid,
			[ModelNumber] = @ModelNumber,
			[Status] = @Status,
			[FullfillmentType] = @FullfillmentType,
			[Weight] = @Weight,
			[QuantityOnHand] = @QuantityOnHand,
			[ImageFileName] = @ImageFileName,
			[ImageFileBytes] = @ImageFileBytes,
			[LastModified] = @LastModified,
			[LastModifedBy] = @LastModifedBy,
			[ShowInProductList] = @ShowInProductList,
			[EnableRating] = @EnableRating,
			[Url] = @Url,
			[Name] = @Name,
			[Description] = @Description,
			[Abstract] = @Abstract,
			MetaDescription = @MetaDescription,
			MetaKeywords = @MetaKeywords,
			SortRank1 = @SortRank1,
			SortRank2 = @SortRank2,
			TeaserFile = @TeaserFile,
			TeaserFileLink = @TeaserFileLink,
			CompiledMeta = @CompiledMeta,
			ShippingAmount = @ShippingAmount
WHERE
			[Guid] = @Guid

GO




ALTER PROCEDURE [dbo].[ws_ProductHistory_Insert]

/*
Author:   			Joe Audette
Created: 			3/5/2007
Last Modified: 		2015/04/08
*/

@Guid uniqueidentifier,
@ProductGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@Sku nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand int,
@ImageFileName nvarchar(255),
@ImageFileBytes image,
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@LogTime datetime,
@ShippingAmount decimal(15,4)

	
AS
INSERT INTO 	[dbo].[ws_ProductHistory] 
(
				[Guid],
				[ProductGuid],
				[StoreGuid],
				[TaxClassGuid],
				[Sku],
				[Status],
				[FullfillmentType],
				[Weight],
				[QuantityOnHand],
				[ImageFileName],
				[ImageFileBytes],
				[Created],
				[CreatedBy],
				[LastModified],
				[LastModifedBy],
				[LogTime],
				ShippingAmount
) 

VALUES 
(
				@Guid,
				@ProductGuid,
				@StoreGuid,
				@TaxClassGuid,
				@Sku,
				@Status,
				@FullfillmentType,
				@Weight,
				@QuantityOnHand,
				@ImageFileName,
				@ImageFileBytes,
				@Created,
				@CreatedBy,
				@LastModified,
				@LastModifedBy,
				@LogTime,
				@ShippingAmount
				
)

GO