<?xml version="1.0" encoding="utf-8" ?>
<GCheckoutNotificationHandlerProviders>
	<providers>

		<add name="WebStoreGCheckoutNotificationHandlerProvider"
			 type="WebStore.Helpers.WebStoreGCheckoutNotificationHandlerProvider, WebStore.UI"
			 description="An GCheckoutNotificationHandler" />

		
	</providers>
</GCheckoutNotificationHandlerProviders>