<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>

		<add name="WebStoreProductIndexBuilderProvider"
			 type="WebStore.UI.Helpers.ProductSearchIndexBuilder, WebStore.UI"
			 description="An IndexBuilder to index product content for Lucene.NET Search Engine" />

		
	</providers>
</IndexBuilderProviders>