SET TERM ^ ;
ALTER PROCEDURE MP_PAGES_INSERT (
    PARENTID Integer,
    PAGEORDER Integer,
    SITEID Integer,
    PAGENAME Varchar(50),
    PAGETITLE Varchar(255),
    AUTHORIZEDROLES Blob sub_type 1,
    EDITROLES Blob sub_type 1,
    CREATECHILDPAGEROLES Blob sub_type 1,
    REQUIRESSL Smallint,
    ALLOWBROWSERCACHE Smallint,
    SHOWBREADCRUMBS Smallint,
    PAGEKEYWORDS Varchar(255),
    PAGEDESCRIPTION Varchar(255),
    PAGEENCODING Varchar(255),
    ADDITIONALMETATAGS Varchar(255),
    MENUIMAGE Varchar(50),
    USEURL Smallint,
    URL Varchar(255),
    OPENINNEWWINDOW Smallint,
    SHOWCHILDPAGEMENU Smallint,
    SHOWCHILDBREADCRUMBS Smallint,
    SKIN Varchar(100),
    HIDEMAINMENU Smallint,
    INCLUDEINMENU Smallint,
    CHANGEFREQUENCY Varchar(50),
    SITEMAPPRIORITY Varchar(50),
    LASTMODIFIEDUTC Timestamp,
    PAGEGUID Char(36),
    PARENTGUID Char(36),
    HIDEAFTERLOGIN Smallint)
RETURNS (
    PAGEID Integer )
AS
BEGIN
 PAGEID = NEXT VALUE FOR mp_Pages_seq;

INSERT INTO 	MP_PAGES
(				
                PAGEID,
                PARENTID,
                PAGEORDER,
                SITEID,
                PAGENAME,
                PAGETITLE,
                AUTHORIZEDROLES,
                EDITROLES,
                CREATECHILDPAGEROLES,
                REQUIRESSL,
                ALLOWBROWSERCACHE,
                SHOWBREADCRUMBS,
                PAGEKEYWORDS,
                PAGEDESCRIPTION,
                PAGEENCODING,
                ADDITIONALMETATAGS,
                MENUIMAGE,
                USEURL,
                URL,
                OPENINNEWWINDOW,
                SHOWCHILDPAGEMENU,
                SHOWCHILDBREADCRUMBS,
                SKIN,
                HIDEMAINMENU,
                INCLUDEINMENU,
                CHANGEFREQUENCY,
                SITEMAPPRIORITY,
                LASTMODIFIEDUTC,
                PAGEGUID,
                PARENTGUID,
                HIDEAFTERLOGIN
) 
VALUES 
(				
               :PAGEID,
               :PARENTID,
               :PAGEORDER,
               :SITEID,
               :PAGENAME,
               :PAGETITLE,
               :AUTHORIZEDROLES,
               :EDITROLES,
               :CREATECHILDPAGEROLES,
               :REQUIRESSL,
               :ALLOWBROWSERCACHE,
               :SHOWBREADCRUMBS,
               :PAGEKEYWORDS,
               :PAGEDESCRIPTION,
               :PAGEENCODING,
               :ADDITIONALMETATAGS,
               :MENUIMAGE,
               :USEURL,
               :URL,
               :OPENINNEWWINDOW,
               :SHOWCHILDPAGEMENU,
               :SHOWCHILDBREADCRUMBS,
               :SKIN,
               :HIDEMAINMENU,
               :INCLUDEINMENU,
               :CHANGEFREQUENCY,
                :SITEMAPPRIORITY,
                :LASTMODIFIEDUTC,
                :PAGEGUID,
                :PARENTGUID,
                :HIDEAFTERLOGIN
);

END^
SET TERM ; ^
