SET TERM ^ ;
ALTER PROCEDURE MP_BANNEDIPADDRESSES_DELETE (
    ROWID Integer )
RETURNS (
    AFFECTEDROWS Integer )
AS
BEGIN
	DELETE FROM MP_BANNEDIPADDRESSES
	WHERE ROWID = :ROWID;
	
AFFECTEDROWS = ROW_COUNT;
END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_BANNEDIPADDRESSES_DELETE TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_BANNEDIPADDRESSES_INSERT (
    BANNEDIP Varchar(50),
    BANNEDUTC Timestamp,
    BANNEDREASON Varchar(255) )
RETURNS (
    ROWID Integer )
AS
BEGIN
 ROWID = NEXT VALUE FOR mp_BannedIPAddresses_seq;

INSERT INTO 	MP_BANNEDIPADDRESSES
(				
                ROWID,
                BANNEDIP,
                BANNEDUTC,
                BANNEDREASON
) 
VALUES 
(				
               :ROWID,
               :BANNEDIP,
               :BANNEDUTC,
               :BANNEDREASON
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_BANNEDIPADDRESSES_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_BANNEDIPADDRESSES_UPDATE (
    ROWID Integer,
    BANNEDIP Varchar(50),
    BANNEDUTC Timestamp,
    BANNEDREASON Varchar(255) )
RETURNS (
    AFFECTEDROWS Integer )
AS
BEGIN
UPDATE 		MP_BANNEDIPADDRESSES

SET
            BANNEDIP = :BANNEDIP, 
            BANNEDUTC = :BANNEDUTC, 
            BANNEDREASON = :BANNEDREASON 
            
WHERE
            ROWID = :ROWID; 
			
	AFFECTEDROWS = ROW_COUNT;
END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_BANNEDIPADDRESSES_UPDATE TO SYSDBA;




SET TERM ^ ;
ALTER PROCEDURE MP_FRIENDLYURLS_INSERT (
    SITEID Integer,
    FRIENDLYURL Varchar(255),
    REALURL Varchar(255),
    ISPATTERN Smallint,
    PAGEGUID Char(36),
    SITEGUID Char(36),
    ITEMGUID Char(36) )
RETURNS (
    URLID Integer )
AS
BEGIN
 URLID = NEXT VALUE FOR mp_FriendlyUrls_seq;

INSERT INTO 	MP_FRIENDLYURLS
(				
                URLID,
                SITEID,
                FRIENDLYURL,
                REALURL,
                ISPATTERN,
		PAGEGUID,
		SITEGUID,
                ITEMGUID
) 
VALUES 
(				
               :URLID,
               :SITEID,
               :FRIENDLYURL,
               :REALURL,
               :ISPATTERN,
	       :PAGEGUID,
	      :SITEGUID,
               :ITEMGUID
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_FRIENDLYURLS_INSERT TO SYSDBA;




SET TERM ^ ;
ALTER PROCEDURE MP_HTMLCONTENT_INSERT (
    MODULEID Integer,
    TITLE Varchar(255),
    EXCERPT Blob sub_type 1,
    BODY Blob sub_type 1,
    MORELINK Varchar(255),
    SORTORDER Integer,
    BEGINDATE Timestamp,
    ENDDATE Timestamp,
    CREATEDDATE Timestamp,
    USERID Integer,
    ITEMGUID Char(36),
    MODULEGUID Char(36),
    USERGUID Char(36) )
RETURNS (
    ITEMID Integer )
AS
BEGIN
 ITEMID = NEXT VALUE FOR mp_HtmlContent_seq;

INSERT INTO 	MP_HTMLCONTENT
(				
                ITEMID,
                MODULEID,
                TITLE,
                EXCERPT,
                BODY,
                MORELINK,
                SORTORDER,
                BEGINDATE,
                ENDDATE,
                CREATEDDATE,
                USERID,
		ITEMGUID,
		MODULEGUID,
		USERGUID,
		LASTMODUSERGUID,
                LASTMODUTC
) 
VALUES 
(				
               :ITEMID,
               :MODULEID,
               :TITLE,
               :EXCERPT,
               :BODY,
               :MORELINK,
               :SORTORDER,
               :BEGINDATE,
               :ENDDATE,
               :CREATEDDATE,
               :USERID,
	      :ITEMGUID,
	      :MODULEGUID,
	      :USERGUID,
	      :USERGUID,
               :CREATEDDATE
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_HTMLCONTENT_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_INDEXINGQUEUE_INSERT (
    INDEXPATH Varchar(255),
    SERIALIZEDITEM Blob sub_type 1,
    ITEMKEY Varchar(255),
    REMOVEONLY Smallint )
RETURNS (
    ROWID Numeric(18,0) )
AS
BEGIN
 ROWID = NEXT VALUE FOR mp_IndexingQueue_seq;

INSERT INTO 	MP_INDEXINGQUEUE
(				
                ROWID,
                INDEXPATH,
                SERIALIZEDITEM,
                ITEMKEY,
                REMOVEONLY
) 
VALUES 
(				
               :ROWID,
               :INDEXPATH,
               :SERIALIZEDITEM,
               :ITEMKEY,
               :REMOVEONLY
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_INDEXINGQUEUE_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_LETTERSENDLOG_INSERT (
    LETTERGUID Char(36),
    USERGUID Char(36),
    EMAILADDRESS Varchar(100),
    UTC Timestamp,
    ERROROCCURRED Smallint,
    ERRORMESSAGE Blob sub_type 1 )
RETURNS (
    ROWID Integer )
AS
BEGIN
 ROWID = NEXT VALUE FOR mp_LetterSendLog_seq;

INSERT INTO 	MP_LETTERSENDLOG
(				
                ROWID,
                LETTERGUID,
                USERGUID,
                EMAILADDRESS,
                UTC,
                ERROROCCURRED,
                ERRORMESSAGE
) 
VALUES 
(				
               :ROWID,
               :LETTERGUID,
               :USERGUID,
               :EMAILADDRESS,
               :UTC,
               :ERROROCCURRED,
               :ERRORMESSAGE
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_LETTERSENDLOG_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_LETTERSUBSCRIBERHX_INSERT (
    LETTERINFOGUID Char(36),
    USERGUID Char(36),
    USEHTML Smallint,
    BEGINUTC Timestamp,
    ENDUTC Timestamp )
RETURNS (
    ROWID Integer )
AS
BEGIN
 ROWID = NEXT VALUE FOR mp_LetterSubscriberHx_seq;

INSERT INTO 	MP_LETTERSUBSCRIBERHX
(				
                ROWID,
                LETTERINFOGUID,
                USERGUID,
                USEHTML,
                BEGINUTC,
                ENDUTC
) 
VALUES 
(				
               :ROWID,
               :LETTERINFOGUID,
               :USERGUID,
               :USEHTML,
               :BEGINUTC,
               :ENDUTC
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_LETTERSUBSCRIBERHX_INSERT TO SYSDBA;




SET TERM ^ ;
ALTER PROCEDURE MP_MODULEDEFINITIONSETTINGS_INS (
    MODULEDEFID Integer,
    SETTINGNAME Varchar(50),
    SETTINGVALUE Varchar(255),
    CONTROLTYPE Varchar(50),
    REGEXVALEXPRESSION Blob sub_type 1,
    FEATUREGUID Char(36),
    RESOURCEFILE Varchar(255),
    CONTROLSRC Varchar(255),
    HELPKEY Varchar(255),
    SORTORDER Integer )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_ModuleDefinitionSettings_seq;

INSERT INTO 	MP_MODULEDEFINITIONSETTINGS
(				
                ID,
                MODULEDEFID,
                SETTINGNAME,
                SETTINGVALUE,
                CONTROLTYPE,
                REGEXVALIDATIONEXPRESSION,
                FEATUREGUID,
                RESOURCEFILE,
                CONTROLSRC,
                HELPKEY,
                SORTORDER
) 
VALUES 
(				
               :ID,
               :MODULEDEFID,
               :SETTINGNAME,
               :SETTINGVALUE,
               :CONTROLTYPE,
               :REGEXVALEXPRESSION,
               :FEATUREGUID,
               :RESOURCEFILE,
               :CONTROLSRC,
               :HELPKEY,
               :SORTORDER
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_MODULEDEFINITIONSETTINGS_INS TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_MODULEDEFINITIONS_INSERT (
    FEATURENAME Varchar(255),
    CONTROLSRC Varchar(255),
    SORTORDER Integer,
    ISADMIN Smallint,
    ICON Varchar(255),
    DEFAULTCACHETIME Integer,
    GUID Char(36),
    RESOURCEFILE Varchar(255) )
RETURNS (
    MODULEDEFID Integer )
AS
BEGIN
 MODULEDEFID = NEXT VALUE FOR mp_ModuleDefinitions_seq;

INSERT INTO 	MP_MODULEDEFINITIONS
(				
                MODULEDEFID,
                FEATURENAME,
                CONTROLSRC,
                SORTORDER,
                ISADMIN,
                ICON,
                DEFAULTCACHETIME,
                GUID,
                RESOURCEFILE
) 
VALUES 
(				
               :MODULEDEFID,
               :FEATURENAME,
               :CONTROLSRC,
               :SORTORDER,
               :ISADMIN,
               :ICON,
               :DEFAULTCACHETIME,
               :GUID,
               :RESOURCEFILE
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_MODULEDEFINITIONS_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_MODULESETTINGS_INSERT (
    MODULEID Integer,
    SETTINGNAME Varchar(50),
    SETTINGVALUE Varchar(255),
    CONTROLTYPE Varchar(50),
    REGEXVALIDATIONEXPRESSION Blob sub_type 1,
    SETTINGGUID Char(36),
    MODULEGUID Char(36),
    CONTROLSRC Varchar(255),
    HELPKEY Varchar(255),
    SORTORDER Integer )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_ModuleSettings_seq;

INSERT INTO 	MP_MODULESETTINGS
(				
                ID,
                MODULEID,
                SETTINGNAME,
                SETTINGVALUE,
                CONTROLTYPE,
                REGEXVALIDATIONEXPRESSION,
		SETTINGGUID,
                MODULEGUID,
                CONTROLSRC,
                HELPKEY,
                SORTORDER
) 
VALUES 
(				
               :ID,
               :MODULEID,
               :SETTINGNAME,
               :SETTINGVALUE,
               :CONTROLTYPE,
               :REGEXVALIDATIONEXPRESSION,
	      :SETTINGGUID,
               :MODULEGUID,
               :CONTROLSRC,
               :HELPKEY,
               :SORTORDER
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_MODULESETTINGS_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_MODULES_INSERT (
    SITEID Integer,
    MODULEDEFID Integer,
    MODULETITLE Varchar(255),
    AUTHORIZEDEDITROLES Blob sub_type 1,
    CACHETIME Integer,
    SHOWTITLE Smallint,
    EDITUSERID Integer,
    AVAILABLEFORMYPAGE Smallint,
    ALLOWMULTIPLEINSTANCESONMYPAGE Smallint,
    ICON Varchar(255),
    CREATEDBYUSERID Integer,
    CREATEDDATE Timestamp,
    COUNTOFUSEONMYPAGE Integer,
    GUID Char(36),
    FEATUREGUID Char(36),
    SITEGUID Char(36),
    HIDEFROMAUTH Smallint,
    HIDEFROMUNAUTH Smallint )
RETURNS (
    MODULEID Integer )
AS
BEGIN
 MODULEID = NEXT VALUE FOR mp_Modules_seq;

INSERT INTO 	MP_MODULES
(				
                MODULEID,
                SITEID,
                MODULEDEFID,
                MODULETITLE,
                AUTHORIZEDEDITROLES,
                CACHETIME,
                SHOWTITLE,
                EDITUSERID,
                AVAILABLEFORMYPAGE,
                ALLOWMULTIPLEINSTANCESONMYPAGE,
                ICON,
                CREATEDBYUSERID,
                CREATEDDATE,
                COUNTOFUSEONMYPAGE,
		GUID,
		FEATUREGUID,
                SITEGUID,
                HIDEFROMAUTH,
                HIDEFROMUNAUTH
) 
VALUES 
(				
               :MODULEID,
               :SITEID,
               :MODULEDEFID,
               :MODULETITLE,
               :AUTHORIZEDEDITROLES,
               :CACHETIME,
               :SHOWTITLE,
               :EDITUSERID,
               :AVAILABLEFORMYPAGE,
               :ALLOWMULTIPLEINSTANCESONMYPAGE,
               :ICON,
               :CREATEDBYUSERID,
               :CREATEDDATE,
               :COUNTOFUSEONMYPAGE,
	      :GUID,
	      :FEATUREGUID,
               :SITEGUID,
               :HIDEFROMAUTH,
               :HIDEFROMUNAUTH
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_MODULES_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_PAGES_INSERT (
    PARENTID Integer,
    PAGEORDER Integer,
    SITEID Integer,
    PAGENAME Varchar(50),
    PAGETITLE Varchar(255),
    AUTHORIZEDROLES Blob sub_type 1,
    EDITROLES Blob sub_type 1,
    CREATECHILDPAGEROLES Blob sub_type 1,
    REQUIRESSL Smallint,
    ALLOWBROWSERCACHE Smallint,
    SHOWBREADCRUMBS Smallint,
    PAGEKEYWORDS Varchar(255),
    PAGEDESCRIPTION Varchar(255),
    PAGEENCODING Varchar(255),
    ADDITIONALMETATAGS Varchar(255),
    MENUIMAGE Varchar(50),
    USEURL Smallint,
    URL Varchar(255),
    OPENINNEWWINDOW Smallint,
    SHOWCHILDPAGEMENU Smallint,
    SHOWCHILDBREADCRUMBS Smallint,
    SKIN Varchar(100),
    HIDEMAINMENU Smallint,
    INCLUDEINMENU Smallint,
    CHANGEFREQUENCY Varchar(50),
    SITEMAPPRIORITY Varchar(50),
    LASTMODIFIEDUTC Timestamp,
    PAGEGUID Char(36),
    PARENTGUID Char(36),
    HIDEAFTERLOGIN Smallint,
    SITEGUID Char(36),
    COMPILEDMETA Blob sub_type 1,
    COMPILEDMETAUTC Timestamp )
RETURNS (
    PAGEID Integer )
AS
BEGIN
 PAGEID = NEXT VALUE FOR mp_Pages_seq;

INSERT INTO 	MP_PAGES
(				
                PAGEID,
                PARENTID,
                PAGEORDER,
                SITEID,
                PAGENAME,
                PAGETITLE,
                AUTHORIZEDROLES,
                EDITROLES,
                CREATECHILDPAGEROLES,
                REQUIRESSL,
                ALLOWBROWSERCACHE,
                SHOWBREADCRUMBS,
                PAGEKEYWORDS,
                PAGEDESCRIPTION,
                PAGEENCODING,
                ADDITIONALMETATAGS,
                MENUIMAGE,
                USEURL,
                URL,
                OPENINNEWWINDOW,
                SHOWCHILDPAGEMENU,
                SHOWCHILDBREADCRUMBS,
                SKIN,
                HIDEMAINMENU,
                INCLUDEINMENU,
                CHANGEFREQUENCY,
                SITEMAPPRIORITY,
                LASTMODIFIEDUTC,
                PAGEGUID,
                PARENTGUID,
                HIDEAFTERLOGIN,
		SITEGUID,
		COMPILEDMETA,
                COMPILEDMETAUTC
) 
VALUES 
(				
               :PAGEID,
               :PARENTID,
               :PAGEORDER,
               :SITEID,
               :PAGENAME,
               :PAGETITLE,
               :AUTHORIZEDROLES,
               :EDITROLES,
               :CREATECHILDPAGEROLES,
               :REQUIRESSL,
               :ALLOWBROWSERCACHE,
               :SHOWBREADCRUMBS,
               :PAGEKEYWORDS,
               :PAGEDESCRIPTION,
               :PAGEENCODING,
               :ADDITIONALMETATAGS,
               :MENUIMAGE,
               :USEURL,
               :URL,
               :OPENINNEWWINDOW,
               :SHOWCHILDPAGEMENU,
               :SHOWCHILDBREADCRUMBS,
               :SKIN,
               :HIDEMAINMENU,
               :INCLUDEINMENU,
               :CHANGEFREQUENCY,
                :SITEMAPPRIORITY,
                :LASTMODIFIEDUTC,
                :PAGEGUID,
                :PARENTGUID,
                :HIDEAFTERLOGIN,
	       :SITEGUID,
	       :COMPILEDMETA,
               :COMPILEDMETAUTC
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_PAGES_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_ROLES_INSERT (
    SITEID Integer,
    ROLENAME Varchar(50),
    DISPLAYNAME Varchar(50),
    SITEGUID Char(36),
    ROLEGUID Char(36) )
RETURNS (
    ROLEID Integer )
AS
BEGIN
 ROLEID = NEXT VALUE FOR mp_Roles_seq;

INSERT INTO 	MP_ROLES
(				
                ROLEID,
                SITEID,
                ROLENAME,
                DISPLAYNAME,
		SITEGUID,
                ROLEGUID
) 
VALUES 
(				
               :ROLEID,
               :SITEID,
               :ROLENAME,
               :DISPLAYNAME,
	       :SITEGUID,
               :ROLEGUID
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_ROLES_INSERT TO SYSDBA;




SET TERM ^ ;
ALTER PROCEDURE MP_SCHEMASCRIPTHISTORY_INSERT (
    APPLICATIONID Char(36),
    SCRIPTFILE Varchar(255),
    "RUNTIME" Timestamp,
    ERROROCCURRED Smallint,
    ERRORMESSAGE Blob sub_type 1,
    SCRIPTBODY Blob sub_type 1 )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_SchemaScriptHistory_seq;

INSERT INTO 	MP_SCHEMASCRIPTHISTORY
(				
                ID,
                APPLICATIONID,
                SCRIPTFILE,
                RUNTIME,
                ERROROCCURRED,
                ERRORMESSAGE,
                SCRIPTBODY
) 
VALUES 
(				
               :ID,
               :APPLICATIONID,
               :SCRIPTFILE,
               :RUNTIME,
               :ERROROCCURRED,
               :ERRORMESSAGE,
               :SCRIPTBODY
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_SCHEMASCRIPTHISTORY_INSERT TO SYSDBA;




SET TERM ^ ;
ALTER PROCEDURE MP_SITES_INSERT (
    SITEGUID Char(36),
    SITENAME Varchar(255),
    SKIN Varchar(100),
    LOGO Varchar(50),
    ICON Varchar(50),
    ALLOWUSERSKINS Smallint,
    ALLOWPAGESKINS Smallint,
    ALLOWHIDEMENUONPAGES Smallint,
    ALLOWNEWREGISTRATION Smallint,
    USESECUREREGISTRATION Smallint,
    USESSLONALLPAGES Smallint,
    DEFAULTPAGEKEYWORDS Varchar(255),
    DEFAULTPAGEDESCRIPTION Varchar(255),
    DEFAULTPAGEENCODING Varchar(255),
    DEFAULTADDITIONALMETATAGS Varchar(255),
    ISSERVERADMINSITE Smallint,
    USELDAPAUTH Smallint,
    AUTOCREATELDAPUSERONFIRSTLOGIN Smallint,
    LDAPSERVER Varchar(255),
    LDAPPORT Integer,
    LDAPDOMAIN Varchar(255),
    LDAPROOTDN Varchar(255),
    LDAPUSERDNKEY Varchar(10),
    REALLYDELETEUSERS Smallint,
    USEEMAILFORLOGIN Smallint,
    ALLOWUSERFULLNAMECHANGE Smallint,
    EDITORSKIN Varchar(50),
    DEFAULTFRIENDLYURLPATTERNENUM Varchar(50),
    ALLOWPASSWORDRETRIEVAL Smallint,
    ALLOWPASSWORDRESET Smallint,
    REQUIRESQUESTIONANDANSWER Smallint,
    MAXINVALIDPASSWORDATTEMPTS Integer,
    PASSWORDATTEMPTWINDOWMINUTES Integer,
    REQUIRESUNIQUEEMAIL Smallint,
    PASSWORDFORMAT Integer,
    MINREQUIREDPASSWORDLENGTH Integer,
    MINREQNONALPHACHARS Integer,
    PWDSTRENGTHREGEX Blob sub_type 1,
    DEFAULTEMAILFROMADDRESS Varchar(100),
    ENABLEMYPAGEFEATURE Smallint,
    EDITORPROVIDER Varchar(255),
    DATEPICKERPROVIDER Varchar(255),
    CAPTCHAPROVIDER Varchar(255),
    RECAPTCHAPRIVATEKEY Varchar(255),
    RECAPTCHAPUBLICKEY Varchar(255),
    WORDPRESSAPIKEY Varchar(255),
    WINDOWSLIVEAPPID Varchar(255),
    WINDOWSLIVEKEY Varchar(255),
    ALLOWOPENIDAUTH Smallint,
    ALLOWWINDOWSLIVEAUTH Smallint,
    GMAPAPIKEY Varchar(255),
    APIKEYEXTRA1 Varchar(255),
    APIKEYEXTRA2 Varchar(255),
    APIKEYEXTRA3 Varchar(255),
    APIKEYEXTRA4 Varchar(255),
    APIKEYEXTRA5 Varchar(255) )
RETURNS (
    SITEID Integer )
AS
BEGIN
 SITEID = NEXT VALUE FOR mp_Sites_seq;

INSERT INTO 	MP_SITES
(				
                SITEID,
                SITEGUID,
                SITENAME,
                SKIN,
                LOGO,
                ICON,
                ALLOWUSERSKINS,
                ALLOWPAGESKINS,
                ALLOWHIDEMENUONPAGES,
                ALLOWNEWREGISTRATION,
                USESECUREREGISTRATION,
                USESSLONALLPAGES,
                DEFAULTPAGEKEYWORDS,
                DEFAULTPAGEDESCRIPTION,
                DEFAULTPAGEENCODING,
                DEFAULTADDITIONALMETATAGS,
                ISSERVERADMINSITE,
                USELDAPAUTH,
                AUTOCREATELDAPUSERONFIRSTLOGIN,
                LDAPSERVER,
                LDAPPORT,
                LDAPDOMAIN,
                LDAPROOTDN,
                LDAPUSERDNKEY,
                REALLYDELETEUSERS,
                USEEMAILFORLOGIN,
                ALLOWUSERFULLNAMECHANGE,
                EDITORSKIN,
                DEFAULTFRIENDLYURLPATTERNENUM,
                ALLOWPASSWORDRETRIEVAL,
                ALLOWPASSWORDRESET,
                REQUIRESQUESTIONANDANSWER,
                MAXINVALIDPASSWORDATTEMPTS,
                PASSWORDATTEMPTWINDOWMINUTES,
                REQUIRESUNIQUEEMAIL,
                PASSWORDFORMAT,
                MINREQUIREDPASSWORDLENGTH,
                MINREQNONALPHACHARS,
                PWDSTRENGTHREGEX,
                DEFAULTEMAILFROMADDRESS,
                ENABLEMYPAGEFEATURE,
                EDITORPROVIDER,
                DATEPICKERPROVIDER,
                CAPTCHAPROVIDER,
                RECAPTCHAPRIVATEKEY,
                RECAPTCHAPUBLICKEY,
                WORDPRESSAPIKEY,
                WINDOWSLIVEAPPID,
                WINDOWSLIVEKEY,
                ALLOWOPENIDAUTH,
                ALLOWWINDOWSLIVEAUTH,
		GMAPAPIKEY,
		APIKEYEXTRA1,
		APIKEYEXTRA2,
		APIKEYEXTRA3,
		APIKEYEXTRA4,
                APIKEYEXTRA5
) 
VALUES 
(				
               :SITEID,
               :SITEGUID,
               :SITENAME,
               :SKIN,
               :LOGO,
               :ICON,
               :ALLOWUSERSKINS,
               :ALLOWPAGESKINS,
               :ALLOWHIDEMENUONPAGES,
               :ALLOWNEWREGISTRATION,
               :USESECUREREGISTRATION,
               :USESSLONALLPAGES,
               :DEFAULTPAGEKEYWORDS,
               :DEFAULTPAGEDESCRIPTION,
               :DEFAULTPAGEENCODING,
               :DEFAULTADDITIONALMETATAGS,
               :ISSERVERADMINSITE,
               :USELDAPAUTH,
               :AUTOCREATELDAPUSERONFIRSTLOGIN,
               :LDAPSERVER,
               :LDAPPORT,
               :LDAPDOMAIN,
               :LDAPROOTDN,
               :LDAPUSERDNKEY,
               :REALLYDELETEUSERS,
               :USEEMAILFORLOGIN,
               :ALLOWUSERFULLNAMECHANGE,
               :EDITORSKIN,
               :DEFAULTFRIENDLYURLPATTERNENUM,
               :ALLOWPASSWORDRETRIEVAL,
               :ALLOWPASSWORDRESET,
               :REQUIRESQUESTIONANDANSWER,
               :MAXINVALIDPASSWORDATTEMPTS,
               :PASSWORDATTEMPTWINDOWMINUTES,
               :REQUIRESUNIQUEEMAIL,
               :PASSWORDFORMAT,
               :MINREQUIREDPASSWORDLENGTH,
               :MINREQNONALPHACHARS,
               :PWDSTRENGTHREGEX,
               :DEFAULTEMAILFROMADDRESS,
               :ENABLEMYPAGEFEATURE,
               :EDITORPROVIDER,
                :DATEPICKERPROVIDER,
                :CAPTCHAPROVIDER,
                :RECAPTCHAPRIVATEKEY,
                :RECAPTCHAPUBLICKEY,
                :WORDPRESSAPIKEY,
                :WINDOWSLIVEAPPID,
                :WINDOWSLIVEKEY,
                :ALLOWOPENIDAUTH,
                :ALLOWWINDOWSLIVEAUTH,
	       :GMAPAPIKEY,
	       :APIKEYEXTRA1,
	       :APIKEYEXTRA2,
	       :APIKEYEXTRA3,
	       :APIKEYEXTRA4,
               :APIKEYEXTRA5
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_SITES_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_USERROLES_INSERT (
    USERID Integer,
    ROLEID Integer,
    USERGUID Char(36),
    ROLEGUID Char(36) )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_UserRoles_seq;

INSERT INTO 	MP_USERROLES
(				
                ID,
                USERID,
                ROLEID,
                USERGUID,
                ROLEGUID
) 
VALUES 
(				
               :ID,
               :USERID,
               :ROLEID,
               :USERGUID,
               :ROLEGUID
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_USERROLES_INSERT TO SYSDBA;


SET TERM ^ ;
ALTER PROCEDURE MP_USERS_INSERT (
    SITEID Integer,
    NAME Varchar(100),
    LOGINNAME Varchar(50),
    EMAIL Varchar(100),
    LOWEREDEMAIL Varchar(100),
    "PASSWORD" Varchar(128),
    PASSWORDQUESTION Varchar(255),
    PASSWORDANSWER Varchar(255),
    GENDER Char(10),
    PROFILEAPPROVED Smallint,
    REGISTERCONFIRMGUID Char(36),
    APPROVEDFORFORUMS Smallint,
    TRUSTED Smallint,
    DISPLAYINMEMBERLIST Smallint,
    WEBSITEURL Varchar(100),
    COUNTRY Varchar(100),
    STATE Varchar(100),
    OCCUPATION Varchar(100),
    INTERESTS Varchar(100),
    MSN Varchar(50),
    YAHOO Varchar(50),
    AIM Varchar(50),
    ICQ Varchar(50),
    TOTALPOSTS Integer,
    AVATARURL Varchar(255),
    TIMEOFFSETHOURS Integer,
    SIGNATURE Varchar(255),
    DATECREATED Timestamp,
    USERGUID Char(36),
    SKIN Varchar(100),
    ISDELETED Smallint,
    FAILEDPASSWORDATTEMPTCOUNT Integer,
    FAILEDPWDANSWERATTEMPTCOUNT Integer,
    ISLOCKEDOUT Smallint,
    MOBILEPIN Varchar(16),
    PASSWORDSALT Varchar(128),
    "COMMENT" Blob sub_type 1,
    SITEGUID Char(36) )
RETURNS (
    USERID Integer )
AS
BEGIN
 USERID = NEXT VALUE FOR mp_Users_seq;

INSERT INTO 	MP_USERS
(				
                USERID,
                SITEID,
                NAME,
                LOGINNAME,
                EMAIL,
                LOWEREDEMAIL,
                "PASSWORD",
                PASSWORDQUESTION,
                PASSWORDANSWER,
                GENDER,
                PROFILEAPPROVED,
                REGISTERCONFIRMGUID,
                APPROVEDFORFORUMS,
                TRUSTED,
                DISPLAYINMEMBERLIST,
                WEBSITEURL,
                COUNTRY,
                STATE,
                OCCUPATION,
                INTERESTS,
                MSN,
                YAHOO,
                AIM,
                ICQ,
                TOTALPOSTS,
                AVATARURL,
                TIMEOFFSETHOURS,
                SIGNATURE,
                DATECREATED,
                USERGUID,
                SKIN,
                ISDELETED,
                FAILEDPASSWORDATTEMPTCOUNT,
                FAILEDPWDANSWERATTEMPTCOUNT,
                ISLOCKEDOUT,
                MOBILEPIN,
                PASSWORDSALT,
                COMMENT,
                SITEGUID
) 
VALUES 
(				
               :USERID,
               :SITEID,
               :NAME,
               :LOGINNAME,
               :EMAIL,
               :LOWEREDEMAIL,
               :"PASSWORD",
               :PASSWORDQUESTION,
               :PASSWORDANSWER,
               :GENDER,
               :PROFILEAPPROVED,
               :REGISTERCONFIRMGUID,
               :APPROVEDFORFORUMS,
               :TRUSTED,
               :DISPLAYINMEMBERLIST,
               :WEBSITEURL,
               :COUNTRY,
               :STATE,
               :OCCUPATION,
               :INTERESTS,
               :MSN,
               :YAHOO,
               :AIM,
               :ICQ,
               :TOTALPOSTS,
               :AVATARURL,
               :TIMEOFFSETHOURS,
               :SIGNATURE,
               :DATECREATED,
               :USERGUID,
               :SKIN,
               :ISDELETED,
               :FAILEDPASSWORDATTEMPTCOUNT,
               :FAILEDPWDANSWERATTEMPTCOUNT,
               :ISLOCKEDOUT,
               :MOBILEPIN,
               :PASSWORDSALT,
               :COMMENT,
               :SITEGUID
);

END^
SET TERM ; ^

GRANT EXECUTE
 ON PROCEDURE MP_USERS_INSERT TO SYSDBA;


GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_AUTHORIZENETLOG TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_BANNEDIPADDRESSES TO SYSDBA WITH GRANT OPTION;



GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_CONTENTRATING TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_CURRENCY TO SYSDBA WITH GRANT OPTION;


GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_FRIENDLYURLS TO SYSDBA WITH GRANT OPTION;


GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_GEOCOUNTRY TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_GEOZONE TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_GOOGLECHECKOUTLOG TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_HTMLCONTENT TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_INDEXINGQUEUE TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_LANGUAGE TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_LETTER TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_LETTERHTMLTEMPLATE TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_LETTERINFO TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_LETTERSENDLOG TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_LETTERSUBSCRIBER TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_LETTERSUBSCRIBERHX TO SYSDBA WITH GRANT OPTION;


GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_MODULEDEFINITIONS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_MODULEDEFINITIONSETTINGS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_MODULES TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_MODULESETTINGS ADD CONSTRAINT FK_MODULESET_MODULES
  FOREIGN KEY (MODULEID) REFERENCES MP_MODULES (MODULEID);
CREATE INDEX IDX_MODULESET_MODULEID ON MP_MODULESETTINGS (MODULEID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_MODULESETTINGS TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_PAGEMODULES ADD CONSTRAINT FK_PAGEMODULES_MODULES
  FOREIGN KEY (MODULEID) REFERENCES MP_MODULES (MODULEID);
ALTER TABLE MP_PAGEMODULES ADD CONSTRAINT FK_PAGEMODULES_PAGES
  FOREIGN KEY (PAGEID) REFERENCES MP_PAGES (PAGEID);
CREATE INDEX IDX_PAGEMODULES_MODULEID ON MP_PAGEMODULES (MODULEID);
CREATE INDEX IDX_PAGEMODULES_PAGEID ON MP_PAGEMODULES (PAGEID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_PAGEMODULES TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_PAGES ADD CONSTRAINT FK_PAGES_SITES
  FOREIGN KEY (SITEID) REFERENCES MP_SITES (SITEID);
CREATE INDEX IDX_PAGES_SITEID ON MP_PAGES (SITEID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_PAGES TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_PAYPALLOG TO SYSDBA WITH GRANT OPTION;


GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_REDIRECTLIST TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_ROLES ADD CONSTRAINT FK_ROLES_SITES
  FOREIGN KEY (SITEID) REFERENCES MP_SITES (SITEID);
CREATE INDEX IDX_ROLES_SITEID ON MP_ROLES (SITEID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_ROLES TO SYSDBA WITH GRANT OPTION;



ALTER TABLE MP_SCHEMASCRIPTHISTORY ADD CONSTRAINT FK_SCHEMASCRIPTHISTORY_SV
  FOREIGN KEY (APPLICATIONID) REFERENCES MP_SCHEMAVERSION (APPLICATIONID);
CREATE INDEX IDX_SCHEMASCRIPTHX_APPID ON MP_SCHEMASCRIPTHISTORY (APPLICATIONID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SCHEMASCRIPTHISTORY TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SCHEMAVERSION TO SYSDBA WITH GRANT OPTION;


GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITEFOLDERS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITEHOSTS TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_SITEMODULEDEFINITIONS ADD CONSTRAINT FK_SITEMODULEDEFS_SITE
  FOREIGN KEY (SITEID) REFERENCES MP_SITES (SITEID);
CREATE INDEX IDX_SITEMODULEDEFS_SITEID ON MP_SITEMODULEDEFINITIONS (SITEID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITEMODULEDEFINITIONS TO SYSDBA WITH GRANT OPTION;

ALTER TABLE MP_SITEPATHS ADD CONSTRAINT FK_SITEPATHS_SITES
  FOREIGN KEY (SITEID) REFERENCES MP_SITES (SITEID);
CREATE INDEX IDX_SITEPATHS_SITEID ON MP_SITEPATHS (SITEID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITEPATHS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITEPERSONALIZATIONALLUSERS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITEPERSONALIZATIONPERUSER TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITES TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITESETTINGSEX TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_SITESETTINGSEXDEF TO SYSDBA WITH GRANT OPTION;


GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_TASKQUEUE TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_TAXCLASS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_TAXRATE TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_TAXRATEHISTORY TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_USERLOCATION TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_USERPAGES TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_USERPROPERTIES TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_USERROLES TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_USERS TO SYSDBA WITH GRANT OPTION;

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_WEBPARTS TO SYSDBA WITH GRANT OPTION;
 