CREATE GENERATOR MP_BANNEDIPADDRESSES_SEQ;
CREATE GENERATOR MP_FRIENDLYURLS_SEQ;
CREATE GENERATOR MP_HTMLCONTENT_SEQ;
CREATE GENERATOR MP_INDEXINGQUEUE_SEQ;
CREATE GENERATOR MP_LETTERSENDLOG_SEQ;
CREATE GENERATOR MP_LETTERSUBSCRIBERHX_SEQ;
CREATE GENERATOR MP_MODULEDEFINITIONSETTINGS_SEQ;
CREATE GENERATOR MP_MODULEDEFINITIONS_SEQ;
CREATE GENERATOR MP_MODULESETTINGS_SEQ;
CREATE GENERATOR MP_MODULES_SEQ;
CREATE GENERATOR MP_PAGES_SEQ;
CREATE GENERATOR MP_ROLES_SEQ;
CREATE GENERATOR MP_SCHEMASCRIPTHISTORY_SEQ;
CREATE GENERATOR MP_SITEHOSTS_SEQ;
CREATE GENERATOR MP_SITES_SEQ;
CREATE GENERATOR MP_USERROLES_SEQ;
CREATE GENERATOR MP_USERS_SEQ;
