
CREATE TABLE [mp_TagVocabulary](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [ntext] NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedUtc] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_TagVocab] PRIMARY KEY  
(
	[Guid]
)
) 
GO


CREATE INDEX [IX_mp_TagVoc] ON [mp_TagVocabulary] 
(
	[Name] 
)
GO

CREATE INDEX [IX_mp_TagVoc_1] ON [mp_TagVocabulary] 
(
	[ModuleGuid] 
)
GO

CREATE  INDEX [IX_mp_TagVoc_2] ON [mp_TagVocabulary] 
(
	[FeatureGuid] 
)
GO

CREATE INDEX [IX_mp_TagVoc_3] ON [mp_TagVocabulary] 
(
	[SiteGuid] 
)
GO





ALTER TABLE mp_Tag ADD
	VocabularyGuid uniqueidentifier NULL 
GO


UPDATE mp_Tag
SET VocabularyGuid = '00000000-0000-0000-0000-000000000000'
GO


