ALTER TABLE mp_HtmlContent ADD
	ExcludeFromRecentContent bit NOT NULL Default 0
GO

ALTER TABLE mp_Modules ADD DraftApprovalRoles ntext NULL
GO


ALTER TABLE mp_Pages ADD DraftApprovalRoles ntext NULL
GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SiteRootDraftApprovalRoles','','Admin', 100);
GO

