
CREATE TABLE [mp_PaymentLog](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[StoreGuid] [uniqueidentifier] NOT NULL,
	[CartGuid] [uniqueidentifier] NOT NULL,
	[Provider] [nvarchar](100) NULL,
	[RawResponse] [ntext] NULL,
	[ResponseCode] [nchar](1) NULL,
	[ResponseReasonCode] [nvarchar](20) NULL,
	[Reason] [ntext] NULL,
	[AvsCode] [nvarchar](50) NULL,
	[CcvCode] [nchar](1) NULL,
	[CavCode] [nchar](1) NULL,
	[TransactionId] [nvarchar](50) NULL,
	[TransactionType] [nvarchar](50) NULL,
	[Method] [nvarchar](20) NULL,
	[AuthCode] [nvarchar](50) NULL,
	[Amount] [decimal](15, 4) NULL,
	[Tax] [decimal](15, 4) NULL,
	[Duty] [decimal](15, 4) NULL,
	[Freight] [decimal](15, 4) NULL,
 CONSTRAINT [PK_mp_PaymentLog] PRIMARY KEY 
(
	[RowGuid] 
)
)

GO

INSERT INTO 	mp_PaymentLog
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[Provider],
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]
) 

SELECT
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				'Authorize.NET',
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]

FROM
		mp_AuthorizeNetLog

GO



INSERT INTO 	mp_PaymentLog
(
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				[Provider],
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]
) 

SELECT
				[RowGuid],
				[CreatedUtc],
				[SiteGuid],
				[UserGuid],
				[StoreGuid],
				[CartGuid],
				'Plug.N.Pay',
				[RawResponse],
				[ResponseCode],
				[ResponseReasonCode],
				[Reason],
				[AvsCode],
				[CcvCode],
				[CavCode],
				[TransactionId],
				[TransactionType],
				[Method],
				[AuthCode],
				[Amount],
				[Tax],
				[Duty],
				[Freight]

FROM
		mp_PlugNPayLog

GO
