CREATE TABLE [mp_Comments](
	[Guid] [uniqueidentifier] NOT NULL,
	[ParentGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[UserComment] [ntext] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserEmail] [nvarchar](100) NOT NULL,
	[UserUrl] [nvarchar](255) NULL,
	[UserIp] [nvarchar](50) NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[ModerationStatus] [tinyint] NOT NULL,
	[ModeratedBy] [uniqueidentifier] NOT NULL,
	[ModerationReason] [nvarchar](255) NULL,
 CONSTRAINT [PK_mp_Comments] PRIMARY KEY  
(
	[Guid] 
)
)
GO

CREATE INDEX [IX_mp_Comments] ON [mp_Comments] 
(
	[SiteGuid] 
)
GO

CREATE INDEX [IX_mp_Comments_1] ON [mp_Comments] 
(
	[ContentGuid] 
)
GO

CREATE INDEX [IX_mp_Comments_2] ON [mp_Comments] 
(
	[FeatureGuid] 
)
GO

CREATE INDEX [IX_mp_Comments_3] ON [mp_Comments] 
(
	[ModuleGuid] 
)
GO

CREATE NONCLUSTERED INDEX [IX_mp_Comments_4] ON [mp_Comments] 
(
	[ParentGuid]
)
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_ParentGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ParentGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_FeatureGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [FeatureGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_ModuleGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ModuleGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_UserGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [UserGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_CreatedUtc]  DEFAULT (getdate()) FOR [CreatedUtc]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_LastModUtc]  DEFAULT (getdate()) FOR [LastModUtc]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_Table_1_Approved]  DEFAULT ((1)) FOR [ModerationStatus]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_Table_1_ApprvedBy]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ModeratedBy]
GO

