INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('MetaProfile','','Meta', 100);
GO


INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('NewsletterEditor','TinyMCEProvider','Admin', 100);
GO


CREATE TABLE [mp_ContentMeta](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Scheme] [nvarchar](255) NOT NULL,
	[LangCode] [nvarchar](10) NULL,
	[Dir] [nvarchar](3) NULL,
	[MetaContent] [ntext] NULL,
	[SortRank] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContentMeta] PRIMARY KEY 
(
	[Guid] 
) 
) 
GO
CREATE INDEX [IX_mp_ContentMeta] ON [mp_ContentMeta] 
(
	[SiteGuid] 
) 
GO
CREATE INDEX [IX_mp_ContentMeta_1] ON [mp_ContentMeta] 
(
	[ModuleGuid] 
) 
GO
CREATE INDEX [IX_mp_ContentMeta_2] ON [mp_ContentMeta] 
(
	[ContentGuid] 
) 
GO


CREATE TABLE [mp_ContentMetaLink](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[Rel] [nvarchar](255) NOT NULL,
	[Href] [nvarchar](255) NOT NULL,
	[HrefLang] [nvarchar](10) NULL,
	[Rev] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Media] [nvarchar](50) NULL,
	[SortRank] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContentMetaLink] PRIMARY KEY 
(
	[Guid] 
) 
) 
GO
CREATE INDEX [IX_mp_ContentMetaLink] ON [mp_ContentMetaLink] 
(
	[SiteGuid]
) 
GO
CREATE INDEX [IX_mp_ContentMetaLink_1] ON [mp_ContentMetaLink] 
(
	[ModuleGuid] 
) 
GO
CREATE INDEX [IX_mp_ContentMetaLink_2] ON [mp_ContentMetaLink] 
(
	[ContentGuid]
) 
GO


