
CREATE TABLE [mp_SavedQuery](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Statement] [ntext]  NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_SavedQuery] PRIMARY KEY 
(
	[Id] 
) 
) 
GO


