ALTER TABLE mp_Modules ADD
	IsGlobal bit NULL 
GO


UPDATE mp_Modules
SET IsGlobal = 0
GO

ALTER TABLE mp_Pages ADD
	IncludeInChildSiteMap bit NULL 
GO

ALTER TABLE mp_Pages ADD
	PubTeamId uniqueidentifier NULL 
GO


UPDATE mp_Pages
SET IncludeInChildSiteMap = IncludeInSiteMap,
PubTeamId = '00000000-0000-0000-0000-000000000000'
GO


