INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('DefaultFromEmailAlias','','Settings', 100);
GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RegistrationPreamble','','Settings', 100);
GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RolesThatCanFullyManageUsers','','Settings', 100);
GO



ALTER TABLE mp_Pages ADD
	BodyCssClass nvarchar(50) NULL 
GO

ALTER TABLE mp_Pages ADD
	MenuCssClass nvarchar(50) NULL 
GO



