ALTER TABLE mp_Users ADD
	Pwd nvarchar(1000) NULL 
GO

ALTER TABLE mp_Users ADD
	MustChangePwd bit NULL 	
	
GO



ALTER TABLE mp_Pages ADD
	EnableComments bit NULL 	
	
GO



UPDATE mp_Pages
SET EnableComments = 0;
GO


INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CommentProvider','intensedebate','Settings', 100);
GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('IntenseDebateAccountId','','APIKeys', 100);
GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('DisqusSiteShortName','','APIKeys', 100);
GO

