CREATE INDEX [IX_mp_ModulesDefId] ON [mp_Modules] 
(
	[ModuleDefID]
) 
GO

CREATE INDEX [IX_mp_ModulesSiteId] ON [mp_Modules] 
(
	[SiteID] 
) 
GO

CREATE INDEX [IX_mp_ModulesSiteGuid] ON [mp_Modules] 
(
	[SiteGuid]
) 
GO

CREATE INDEX [IX_mp_ModulesFeatGuid] ON [mp_Modules] 
(
	[FeatureGuid] 
) 
GO

CREATE INDEX [IX_mp_ModuleDefSetDefId] ON [mp_ModuleDefinitionSettings] 
(
	[ModuleDefID] 
) 
GO

CREATE INDEX [IX_mp_ModuleDefSetSetName] ON [mp_ModuleDefinitionSettings] 
(
	[SettingName]
) 
GO

CREATE INDEX [IX_mp_ModuleSetModId] ON [mp_ModuleSettings] 
(
	[ModuleID] 
) 
GO

CREATE  INDEX [IX_mp_ModuleSetSetName] ON [mp_ModuleSettings] 
(
	[SettingName] 
) 
GO



