INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('LoginInfoTop','','Settings', 100);
GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('LoginInfoBottom','','Settings', 100);
GO

CREATE INDEX [IX_UserRolesRoleID] ON [mp_UserRoles] 
(
	[RoleID] 
)
GO



