INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('BingAPIId','','Settings', 100);

GO


INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleCustomSearchId','','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PrimarySearchEngine','internal','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('ShowAlternateSearchIfConfigured','false','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleAnalyticsEmail','','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleAnalyticsPassword','','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleAnalyticsProfileId','','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleAnalyticsSettings','','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RolesThatCanViewGoogleAnalytics','Admins;Content Administrators;','Settings', 100);
GO



INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('TermsOfUse','','Settings', 100);

GO

--

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('AllowWindowsLiveMessengerForMembers','true','API', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('AppLogoForWindowsLive','/Data/logos/mojomoonprint.jpg','API', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('WebSnaprKey','','API', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('AuthorizeNetProductionAPILogin','','Commerce', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('AuthorizeNetProductionAPITransactionKey','','Commerce', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('AuthorizeNetSandboxAPILogin','','Commerce', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('AuthorizeNetSandboxAPITransactionKey','','Commerce', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CommerceReportViewRoles','','Admin', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CompanyName','','General', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('CurrencyGuid','ff2dde1b-e7d7-4c3a-9ab4-6474345e0f31','Admin', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('DefaultCountryGuid','a71d6727-61e7-4282-9fcb-526d1e7bc24f','Admin', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('DefaultStateGuid','00000000-0000-0000-0000-000000000000','Admin', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('EnableWoopra','false','API', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('ForceContentVersioning','false','Tracking', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleProductionMerchantID','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleProductionMerchantKey','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleSandboxMerchantID','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('GoogleSandboxMerchantKey','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('Is503TaxExempt','false','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PaymentGatewayUseTestMode','false','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalProductionAPIPassword','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalProductionAPISignature','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalProductionAPIUsername','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalSandboxAPIPassword','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalSandboxAPISignature','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalSandboxAPIUsername','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalStandardProductionEmail','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalStandardProductionPDTId','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalStandardSandboxEmail','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalStandardSandboxPDTId','','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PayPalUsePayPalStandard','true','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('PrimaryPaymentGateway','PayPalStandard','Commerce ', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RpxNowAdminUrl','','Authentication', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RpxNowApiKey','','Authentication', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RpxNowApplicationName','','Authentication', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SiteRootEditRoles','','Admin', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SMTPPassword','','SMTP', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SMTPPort','25','SMTP', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SMTPPreferredEncoding','','SMTP', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SMTPRequiresAuthentication','false','SMTP', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SMTPServer','localhost','SMTP', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SMTPUser','','SMTP', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('SMTPUseSsl','false','SMTP', 100);

GO

INSERT INTO [mp_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('MyPageSkin','','Admin', 100);

GO
