ALTER TABLE mp_Pages ADD LinkRel nvarchar(20) NULL
GO

ALTER TABLE mp_Pages ADD PageHeading nvarchar(255) NULL
GO

ALTER TABLE mp_Pages ADD ShowPageHeading bit NOT NULL default 1
GO


ALTER TABLE mp_Pages ADD PubDateUtc DateTime NOT NULL default getdate()
GO

UPDATE mp_Pages
SET PubDateUtc = PCreatedUtc

GO

ALTER TABLE mp_Users ADD DateOfBirth DateTime NULL 
GO

