CREATE TABLE [mp_UserLogins] (
    [LoginProvider] NVARCHAR (128) NOT NULL,
    [ProviderKey]   NVARCHAR (128) NOT NULL,
    [UserId]        NVARCHAR (128) NOT NULL,
    CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY 
	([LoginProvider], [ProviderKey], [UserId])
	
)


GO



CREATE TABLE [mp_UserClaims] (
    [Id]         INT            IDENTITY (1, 1) NOT NULL,
    [UserId]     NVARCHAR (128) NOT NULL,
    [ClaimType]  ntext  NULL,
    [ClaimValue] ntext NULL,
    CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY ([Id])
)

GO




ALTER TABLE mp_Users ADD
	EmailConfirmed bit NOT NULL default 1
	
GO

ALTER TABLE mp_Users ADD
	PwdFormat int NOT NULL default 0
	
GO


ALTER TABLE mp_Users ADD
	[PasswordHash]  ntext NULL
GO

ALTER TABLE mp_Users ADD
	[SecurityStamp]  ntext NULL
GO

ALTER TABLE mp_Users ADD
    [PhoneNumber]          NVARCHAR (50) NULL
GO

ALTER TABLE mp_Users ADD
    [PhoneNumberConfirmed] BIT NOT NULL default 0
	
GO

ALTER TABLE mp_Users ADD
    [TwoFactorEnabled]     BIT NOT NULL default 0
    
GO

ALTER TABLE mp_Users ADD
    [LockoutEndDateUtc]    DATETIME NULL
GO

