ALTER TABLE mp_Links ALTER COLUMN [Description] NVARCHAR(MAX) null

GO

ALTER PROCEDURE [dbo].[mp_Links_Insert]

/*
Author:   			
Created: 			2004-12-24
Last Modified: 		2010-07-02

*/

@ItemGuid	uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@ModuleID int,
@Title nvarchar(255),
@Url nvarchar(255),
@ViewOrder int,
@Description nvarchar(max),
@CreatedDate datetime,
@CreatedBy int,
@Target nvarchar(20),
@UserGuid	uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_Links] 
(
				ItemGuid,
				ModuleGuid,
				[ModuleID],
				[Title],
				[Url],
				[ViewOrder],
				[Description],
				[CreatedDate],
				[CreatedBy],
				Target,
				UserGuid
) 

VALUES 
(
				@ItemGuid,
				@ModuleGuid,
				@ModuleID,
				@Title,
				@Url,
				@ViewOrder,
				@Description,
				@CreatedDate,
				@CreatedBy,
				@Target,
				@UserGuid
				
)
SELECT @@IDENTITY

GO

ALTER PROCEDURE [dbo].[mp_Links_Update]

/*
Author:   			
Created: 			2004-12-24
Last Modified: 		2010-07-02

*/
	
@ItemID int, 
@ModuleID int, 
@Title nvarchar(255), 
@Url nvarchar(255), 
@ViewOrder int, 
@Description nvarchar(max), 
@CreatedDate datetime, 
@CreatedBy int ,
@Target nvarchar(20)


AS

UPDATE 		[dbo].[mp_Links] 

SET
			[ModuleID] = @ModuleID,
			[Title] = @Title,
			[Url] = @Url,
			Target = @Target,
			[ViewOrder] = @ViewOrder,
			[Description] = @Description,
			[CreatedDate] = @CreatedDate,
			[CreatedBy] = @CreatedBy
			
WHERE
			[ItemID] = @ItemID

GO

