SET ANSI_NULLS OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].mp_Links_GetCount

/*
Author:   			
Created: 			2010-01-07
Last Modified: 		2010-01-07
*/

@ModuleID int

AS

SELECT COUNT(*) 
FROM [dbo].[mp_Links]
WHERE ModuleID = @ModuleID

GO

SET ANSI_NULLS OFF 
GO

SET QUOTED_IDENTIFIER OFF 
GO

SET ANSI_NULLS OFF 
GO

SET QUOTED_IDENTIFIER ON 
GO


CREATE PROCEDURE [dbo].mp_Links_SelectPage

-- Author:   			
-- Created: 			2010-01-07
-- Last Modified: 		2010-01-07

@ModuleID int,
@PageNumber int,
@PageSize int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
ItemID Int
)

BEGIN

INSERT INTO #PageIndex ( 
ItemID
)

SELECT
		[ItemID]
		
FROM
		[dbo].[mp_Links]
		
WHERE
    ModuleID = @ModuleID

ORDER BY
    ViewOrder, Title

END


SELECT
		t1.*
		
FROM
		[dbo].[mp_Links] t1

JOIN			#PageIndex t2
ON			
		t1.[ItemID] = t2.[ItemID]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex



GO

SET ANSI_NULLS OFF 
GO

SET QUOTED_IDENTIFIER OFF 
GO

