CREATE TABLE `mp_Blogs` (
  `ItemID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `CreatedByUser` varchar(100) NOT NULL default '',
  `CreatedDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `Title` varchar(100) default NULL,
  `Excerpt` text NOT NULL,
  `StartDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `IsInNewsletter` tinyint(1) unsigned NOT NULL default '0',
  `Description` text NOT NULL,
  `CommentCount` int(11) NOT NULL default '0',
  `TrackBackCount` int(11) NOT NULL default '0',
  `Category` varchar(50) default NULL,
  `IncludeInFeed` tinyint(1) unsigned default '1',
  `AllowCommentsForDays` int(11) default '0',
  `BlogGuid` varchar(36) default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `Location` text,
  `UserGuid` varchar(36) default NULL,
  `LastModUserGuid` varchar(36) default NULL,
  `LastModUtc` datetime default NULL,
  `ItemUrl` varchar(255) default NULL,
  PRIMARY KEY  (`ItemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_BlogCategories` (
  `CategoryID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `Category` varchar(255) NOT NULL default '',
  `PostCount` int(11) NOT NULL default '0',
  PRIMARY KEY  (`CategoryID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_BlogComments` (
  `BlogCommentID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `ItemID` int(11) NOT NULL default '0',
  `Comment` text NOT NULL,
  `Title` varchar(100) default NULL,
  `Name` varchar(100) default NULL,
  `URL` varchar(250) default NULL,
  `DateCreated` datetime NOT NULL default '0000-00-00 00:00:00',
  PRIMARY KEY  (`BlogCommentID`),
  KEY `FK_mp_BlogComments` (`ItemID`),
  CONSTRAINT `FK_mp_BlogComments` FOREIGN KEY (`ItemID`) REFERENCES `mp_Blogs` (`ItemID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_BlogItemCategories` (
  `ID` int(11) NOT NULL auto_increment,
  `ItemID` int(11) NOT NULL default '0',
  `CategoryID` int(11) NOT NULL default '0',
  PRIMARY KEY  (`ID`),
  KEY `FK_mp_BlogItemCatBlogCat` (`CategoryID`),
  KEY `FK_mp_BlogItemCategories` (`ItemID`),
  CONSTRAINT `FK_mp_BlogItemCategories` FOREIGN KEY (`ItemID`) REFERENCES `mp_Blogs` (`ItemID`),
  CONSTRAINT `FK_mp_BlogItemCatBlogCat` FOREIGN KEY (`CategoryID`) REFERENCES `mp_BlogCategories` (`CategoryID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_BlogStats` (
  `ModuleID` int(11) NOT NULL default '0',
  `EntryCount` int(11) NOT NULL default '0',
  `CommentCount` int(11) NOT NULL default '0',
  `TrackBackCount` int(11) NOT NULL default '0',
  `ModuleGuid` varchar(36) default NULL,
  PRIMARY KEY  (`ModuleID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;




