<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <pages validateRequest="false" enableViewStateMac="false" viewStateEncryptionMode="Auto" maxPageStateFieldLength="100" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Globalization"/>
        <add namespace="mojoPortal.Business"/>
        <add namespace="mojoPortal.Business.WebHelpers"/>
        <add namespace="mojoPortal.Web"/>
        <add namespace="mojoPortal.Web.Controls"/>
        <add namespace="mojoPortal.Web.Framework"/>
        <add namespace="mojoPortal.Web.UI"/>
      </namespaces>
      <controls>
        <add tagPrefix="portal" namespace="mojoPortal.Web.UI" assembly="mojoPortal.Web"/>
        <add tagPrefix="mp" namespace="mojoPortal.Web.Controls" assembly="mojoPortal.Web.Controls"/>
        <add tagPrefix="mpe" namespace="mojoPortal.Web.Editor" assembly="mojoPortal.Web.Editor"/>
        <add tagPrefix="ext" namespace="mojoPortal.Web.Controls.ExtJs" assembly="mojoPortal.Web.Controls"/>
        <add tagPrefix="goog" namespace="mojoPortal.Web.Controls.google" assembly="mojoPortal.Web.Controls"/>
        <add tagPrefix="portal" tagName="ChildPageMenu" src="~/Controls/ChildPageMenu.ascx"/>
        <add tagPrefix="portal" tagName="Breadcrumbs" src="~/Controls/BreadcrumbsControl.ascx"/>
        <add tagPrefix="portal" tagName="SearchInput" src="~/Controls/SearchInput.ascx"/>
        <add tagPrefix="portal" tagName="SiteMenu" src="~/Controls/SiteMenu.ascx"/>
        <add tagPrefix="portal" tagName="StyleSheet" src="~/Controls/StyleSheet.ascx"/>
        <add tagPrefix="portal" tagName="StyleSheetCombiner" src="~/Controls/StyleSheetCombiner.ascx"/>
        <add tagPrefix="portal" tagName="MetaContent" src="~/Controls/MetaContent.ascx"/>
        <add tagPrefix="portal" tagName="PageMenu" src="~/Controls/PageMenu.ascx"/>
        <add tagPrefix="portal" tagName="MembershipStatistics" src="~/Controls/MembershipStatisticsControl.ascx"/>
        <add tagPrefix="portal" tagName="OnlineStatistics" src="~/Controls/OnlineStatisticsControl.ascx"/>
        <add tagPrefix="portal" tagName="OnlineMemberList" src="~/Controls/OnlineMemberListControl.ascx"/>
        <add tagPrefix="portal" tagName="ModuleWrapper" src="~/Controls/ModuleWrapper.ascx"/>
        <add tagPrefix="portal" tagName="OpenIDLoginControl" src="~/Controls/OpenIDLoginControl.ascx"/>
        <add tagPrefix="portal" tagName="WindowsLiveLoginControl" src="~/Controls/WindowsLiveLoginControl.ascx"/>
        <add tagPrefix="portal" tagName="SubscriberPreferences" src="~/Controls/SubscriberPreferencesControl.ascx"/>
        <add tagPrefix="portal" tagName="GCheckoutLogList" src="~/Controls/GCheckoutLogList.ascx"/>
        <add tagPrefix="portal" tagName="OrderStatusSetting" src="~/Controls/OrderStatusSetting.ascx"/>
        <add tagPrefix="portal" tagName="PaymentAcceptanceMark" src="~/Controls/PaymentAcceptanceMark.ascx"/>
        <add tagPrefix="portal" tagName="SignInOrRegisterPrompt" src="~/Controls/SignInOrRegisterPrompt.ascx"/>
        <add tagPrefix="portal" tagName="PageLastModified" src="~/Controls/PageLastModified.ascx"/>
        <add tagPrefix="portal" tagName="mojoRating" src="~/Controls/mojoRating.ascx"/>
        <add tagPrefix="portal" tagName="ColorSetting" src="~/Controls/ColorSetting.ascx"/>
        <add tagPrefix="portal" tagName="GMapTypeSetting" src="~/Controls/GMapTypeSetting.ascx"/>
        <add tagPrefix="portal" tagName="GMapZoomLevelSetting" src="~/Controls/GMapZoomLevelSetting.ascx"/>
        <add tagPrefix="portal" tagName="Woopra" src="~/Controls/WoopraScript.ascx"/>
        <add tagPrefix="portal" tagName="ImageCropper" src="~/Controls/ImageCropper.ascx"/>
        <add tagPrefix="portal" tagName="Subscribe" src="~/Controls/Subscribe.ascx"/>
        <add tagPrefix="portal" tagName="BingSearchControl" src="~/Controls/Microsoft/BingSearchControl.ascx"/>
        <add tagPrefix="portal" tagName="SkinList" src="~/Controls/SkinSetting.ascx"/>
        <add namespace="Brettle.Web.NeatUpload" assembly="Brettle.Web.NeatUpload" tagPrefix="NeatUpload"/>
        <add namespace="Brettle.Web.NeatUpload" assembly="Brettle.Web.NeatUpload.GreyBoxProgressBar" tagPrefix="GreyBoxUpload"/>
        <add namespace="Brettle.Web.NeatHtml" assembly="Brettle.Web.NeatHtml" tagPrefix="NeatHtml"/>
        <add namespace="DayPilot.Web.Ui" assembly="DayPilot" tagPrefix="dp"/>
        <add namespace="TimelineNet" assembly="TimelineNet" tagPrefix="tl"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
        <add namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit" tagPrefix="HTMLEditor"/>
        <add namespace="ZedGraph.Web" assembly="ZedGraph.Web" tagPrefix="zgw"/>
        <!-- AJAX Extensions support -->
      </controls>
      <tagMapping>
        <!-- this tag mapping is only needed under .NET 3.5 to use the 3.5 version of the AjaxControlToolkit
        Pages using controls from AJAX Control Tookit .NET 3.5 must use the ToolkitScriptManager, rather than the ASP.NET ScriptManager.
        -->
        <add tagType="System.Web.UI.ScriptManager" mappedTagType="AjaxControlToolkit.ToolkitScriptManager"/>
        <add tagType="System.Web.UI.WebControls.WebParts.WebPartManager" mappedTagType="Microsoft.Web.Preview.UI.Controls.WebParts.WebPartManager"/>
        <add tagType="System.Web.UI.WebControls.WebParts.WebPartZone" mappedTagType="Microsoft.Web.Preview.UI.Controls.WebParts.WebPartZone"/>
      </tagMapping>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>