CREATE SEQUENCE mp_calendarevents_itemid_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;


CREATE TABLE mp_calendarevents (
    itemid integer DEFAULT nextval(('"mp_calendarevents_itemid_seq"'::text)::regclass) NOT NULL,
    moduleid integer NOT NULL,
    title character varying(255),
    description text,
    imagename character varying(100),
    eventdate timestamp without time zone,
    starttime timestamp without time zone,
    endtime timestamp without time zone,
    createddate timestamp without time zone,
    userid integer DEFAULT 0 NOT NULL,
    itemguid character varying(36),
    moduleguid character varying(36),
    userguid character varying(36),
    lastmoduserguid character varying(36),
    location text,
    lastmodutc timestamp without time zone,
    requiresticket boolean DEFAULT false NOT NULL,
    ticketprice numeric(15,4)
);


--
-- TOC entry 1089 (class 1247 OID 32813)
-- Dependencies: 3 2465
-- Name: mp_calendarevents_select_one_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_calendarevents_select_one_type AS (
	itemid integer,
	moduleid integer,
	title character varying(255),
	description text,
	imagename character varying(100),
	eventdate timestamp without time zone,
	starttime timestamp without time zone,
	endtime timestamp without time zone,
	createddate timestamp without time zone,
	userid integer,
	itemguid character(36),
	moduleguid character(36),
	userguid character(36),
	location text,
	lastmoduserguid character(36),
	lastmodutc timestamp without time zone,
	ticketprice numeric(15,4),
	requiresticket boolean
);


--
-- TOC entry 734 (class 1247 OID 32852)
-- Dependencies: 3 2474
-- Name: mp_calendarevents_selectbypage_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE mp_calendarevents_selectbypage_type AS (
	itemid integer,
	moduleid integer,
	title character varying(255),
	description text,
	moduletitle character varying(255),
	featurename character varying(255)
);



--
-- TOC entry 132 (class 1255 OID 27373)
-- Dependencies: 1141 3
-- Name: mp_calendarevents_delete(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_calendarevents_delete(integer) RETURNS integer
    AS $_$
declare
	_itemid alias for $1;
	_rowcount int4;
begin

/*
Author:   			
Created: 			4/17/2005
Last Modified: 			4/17/2005
*/	
	
	delete from mp_calendarevents
	where itemid = _itemid;
	
	GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


--
-- TOC entry 238 (class 1255 OID 27379)
-- Dependencies: 3
-- Name: mp_calendarevents_insert(integer, character varying, text, character varying, timestamp without time zone, timestamp without time zone, timestamp without time zone, integer, character, character, character, text, timestamp without time zone, numeric, boolean); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_calendarevents_insert(integer, character varying, text, character varying, timestamp without time zone, timestamp without time zone, timestamp without time zone, integer, character, character, character, text, timestamp without time zone, numeric, boolean) RETURNS integer
    AS $_$
/*
Author:   			
Created: 			4/17/2005
Last Modified: 			2008-01-31

*/

insert into 	mp_calendarevents
(				
                moduleid,
                title,
                description,
                imagename,
                eventdate,
                starttime,
                endtime,
                createddate,
                userid,
                itemguid,
                moduleguid,
                userguid,
                lastmoduserguid,
                location,
                ticketprice,
                requiresticket,
                lastmodutc
) 
values 
(				
                $1, --:moduleid
                $2, --:title
                $3, --:description
                $4, --:imagename
                $5, --:eventdate
                $6, --:starttime
                $7, --:endtime
                $13, --:createddate
                $8, --:userid
                $9,
                $10,
                $11,
                $11,
                $12,
                $14,
                $15,
                $13
);

select cast(currval('mp_calendarevents_itemid_seq') as int4);$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 397 (class 1255 OID 32815)
-- Dependencies: 1089 3
-- Name: mp_calendarevents_select_bydate(integer, date, date); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_calendarevents_select_bydate(integer, date, date) RETURNS SETOF mp_calendarevents_select_one_type
    AS $_$
/*
Author:   			
Created: 			4/17/2005
Last Modified: 			2008-01-31
*/

select
        itemid,
	moduleid,
	title,
	description,
	imagename,
	eventdate,
	starttime,
	endtime,
	createddate,
	userid,
	itemguid,
	moduleguid,
	userguid,
	location,
	lastmoduserguid,
	lastmodutc,
	ticketprice,
        requiresticket
from
        mp_calendarevents
        
where   moduleid = $1
	AND  eventdate >= $2
        AND eventdate <= $3

order by eventdate, starttime;$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 396 (class 1255 OID 32814)
-- Dependencies: 1089 3
-- Name: mp_calendarevents_select_one(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_calendarevents_select_one(integer) RETURNS SETOF mp_calendarevents_select_one_type
    AS $_$
/*
Author:   			
Created: 			4/17/2005
Last Modified: 			2008-01-31
*/

select
        itemid,
	moduleid,
	title,
	description,
	imagename,
	eventdate,
	starttime,
	endtime,
	createddate,
	userid,
	itemguid,
	moduleguid,
	userguid,
	location,
	lastmoduserguid,
	lastmodutc,
	ticketprice,
        requiresticket
from
        mp_calendarevents
        
where
        itemid = $1;$_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 409 (class 1255 OID 32853)
-- Dependencies: 734 3
-- Name: mp_calendarevents_selectbypage(integer, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_calendarevents_selectbypage(integer, integer) RETURNS SETOF mp_calendarevents_selectbypage_type
    AS $_$
select
		gi.itemid,
		gi.moduleid,
		gi.title, 
		gi.description, 
		m.moduletitle,
		md.featurename
		
from
		mp_calendarevents gi
		
JOIN		mp_modules m
ON		gi.moduleid = m.moduleid

JOIN		mp_moduledefinitions md
ON		m.moduledefid = md.moduledefid

JOIN		mp_pagemodules pm
ON		pm.moduleid = m.moduleid

JOIN		mp_pages p
ON		p.pageid = pm.pageid
		
where
		p.siteid = $1
		AND pm.pageid = $2
		; $_$
    LANGUAGE sql SECURITY DEFINER;


--
-- TOC entry 398 (class 1255 OID 27380)
-- Dependencies: 1141 3
-- Name: mp_calendarevents_update(integer, integer, character varying, text, character varying, timestamp without time zone, timestamp without time zone, timestamp without time zone, character, text, timestamp without time zone, numeric, boolean); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION mp_calendarevents_update(integer, integer, character varying, text, character varying, timestamp without time zone, timestamp without time zone, timestamp without time zone, character, text, timestamp without time zone, numeric, boolean) RETURNS integer
    AS $_$
/*
Author:   			
Updated By:			Joseph Hill
Created: 			4/17/2005
Last Modified: 			8/27/2005
*/
declare
	_itemid alias for $1;
	_moduleid alias for $2;
	_title alias for $3;
	_description alias for $4;
	_imagename alias for $5;
	_eventdate alias for $6;
	_starttime alias for $7;
	_endtime alias for $8;
	_lastmoduserguid alias for $9;
	_location alias for $10;
	_lastmodutc alias for $11;
	_ticketprice alias for $12;
	_requiresticket alias for $13;
	_rowcount int4;
begin

update 		mp_calendarevents

set
            moduleid = _moduleid, --:moduleid
            title = _title, --:title
            description = _description, --:description
            imagename = _imagename, --:imagename
            eventdate = _eventdate, --:eventdate
            starttime = _starttime, --:starttime
            endtime = _endtime, --:endtime
            lastmoduserguid = _lastmoduserguid,
            location = _location,
            lastmodutc = _lastmodutc,
            ticketprice = _ticketprice,
            requiresticket = _requiresticket
            
where
            itemid = _itemid; --:itemid

GET DIAGNOSTICS _rowcount = ROW_COUNT;
return _rowcount;
end$_$
    LANGUAGE plpgsql SECURITY DEFINER;


ALTER TABLE ONLY mp_calendarevents
    ADD CONSTRAINT pk_calendarevents PRIMARY KEY (itemid);



CREATE INDEX ifk_calendarevents_moduleid ON mp_calendarevents USING btree (moduleid);


CREATE INDEX ifk_calendarevents_userid ON mp_calendarevents USING btree (userid);


