SET TERM ^ ;
ALTER PROCEDURE MP_MODULEDEFINITIONSETTINGS_INS (
    MODULEDEFID Integer,
    SETTINGNAME Varchar(50),
    SETTINGVALUE Varchar(255),
    CONTROLTYPE Varchar(50),
    REGEXVALEXPRESSION Blob sub_type 1,
    FEATUREGUID Char(36),
    RESOURCEFILE Varchar(255),
    CONTROLSRC Varchar(255),
    HELPKEY Varchar(255),
    SORTORDER Integer )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_ModuleDefinitionSettings_seq;

INSERT INTO 	MP_MODULEDEFINITIONSETTINGS
(				
                ID,
                MODULEDEFID,
                SETTINGNAME,
                SETTINGVALUE,
                CONTROLTYPE,
                REGEXVALIDATIONEXPRESSION,
                FEATUREGUID,
                RESOURCEFILE,
                CONTROLSRC,
                HELPKEY,
                SORTORDER
) 
VALUES 
(				
               :ID,
               :MODULEDEFID,
               :SETTINGNAME,
               :SETTINGVALUE,
               :CONTROLTYPE,
               :REGEXVALEXPRESSION,
               :FEATUREGUID,
               :RESOURCEFILE,
               :CONTROLSRC,
               :HELPKEY,
               :SORTORDER
);

END^
SET TERM ; ^

SET TERM ^ ;
ALTER PROCEDURE MP_MODULESETTINGS_INSERT (
    MODULEID Integer,
    SETTINGNAME Varchar(50),
    SETTINGVALUE Varchar(255),
    CONTROLTYPE Varchar(50),
    REGEXVALIDATIONEXPRESSION Blob sub_type 1,
    SETTINGGUID Char(36),
    MODULEGUID Char(36),
    CONTROLSRC Varchar(255),
    HELPKEY Varchar(255),
    SORTORDER Integer )
RETURNS (
    ID Integer )
AS
BEGIN
 ID = NEXT VALUE FOR mp_ModuleSettings_seq;

INSERT INTO 	MP_MODULESETTINGS
(				
                ID,
                MODULEID,
                SETTINGNAME,
                SETTINGVALUE,
                CONTROLTYPE,
                REGEXVALIDATIONEXPRESSION,
		SETTINGGUID,
                MODULEGUID,
                CONTROLSRC,
                HELPKEY,
                SORTORDER
) 
VALUES 
(				
               :ID,
               :MODULEID,
               :SETTINGNAME,
               :SETTINGVALUE,
               :CONTROLTYPE,
               :REGEXVALIDATIONEXPRESSION,
	      :SETTINGGUID,
               :MODULEGUID,
               :CONTROLSRC,
               :HELPKEY,
               :SORTORDER
);

END^
SET TERM ; ^




