<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="99019eb8-db13-4bb3-81ea-073571a60dba"
		supportedDatabases="MSSQL,MySQL,pgsql,SQLite,SqlAzure"
		resourceFile="ContactFormResources"
		featureNameReasourceKey="ContactFormFeatureName"
		controlSource="ContactForm/ContactForm.ascx"
		sortOrder="500"
		isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		deleteProvider="ContactFormContentDeleteHandler"
		supportsPageReuse="true"
		>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="ContactFormEmailSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="ContactFormEmailSetting-help"
			sortOrder="100"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="ContactFormEmailAliasSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="ContactFormEmailAliasSetting-help"
			sortOrder="200"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="ContactFormEmailBccSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="ContactFormEmailBccSetting-help"
			sortOrder="300"
			regexValidationExpression=""
			/>
		<!--<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="UseInputAddressAsFromAddress"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="ContactForm-UseInputAddressAsFromAddress-help"
      sortOrder="400"
			regexValidationExpression=""
			/>-->
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="KeepMessagesInDatabase"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="ContactForm-KeepMessagesInDatabase-help"
			sortOrder="500"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="ContactFormEditorHeightSetting"
			defaultValue="350"
			controlType="Number"
			controlSrc=""
			helpKey=""
			sortOrder="600"
			>
			<Attributes>
				<Attribute name="min"
						   value="100"/>
			</Attributes>
		</featureSetting>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="ContactFormUseCommentSpamBlocker"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="700"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="BlockBadWords"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey="BlockBadWordsModuleSetting-help"
			sortOrder="710"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="ContactFormMessageListPageSizeSetting"
			defaultValue="10"
			controlType="Number"
			controlSrc=""
			helpKey=""
			sortOrder="800"
			>
			<Attributes>
				<Attribute name="min"
						   value="1"/>
			</Attributes>
		</featureSetting>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="ContactFormSubjectPrefixSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey=""
			sortOrder="900"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="AppendIPToMessageSetting"
			defaultValue="true"
			controlType="CheckBox"
			controlSrc=""
			helpKey=""
			sortOrder="1000"
			regexValidationExpression=""
			/>

		<featureSetting
			resourceFile="ContactFormResources"
			resourceKey="CustomCssClassSetting"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="custom-module-css-class-help"
			sortOrder="1100"
			regexValidationExpression="^([^\d\s\.#\-][\w\-]*\s?)*$"
			/>
	</featureDefinition>
</featureDefinitions>

