<?xml version="1.0"?>
<LuceneSettingsProviders defaultProvider="StandardAnalysisProvider">
	<providers>
	
    <add name="StandardAnalysisProvider"
			 type="mojoPortal.SearchIndex.StandardAnalysisProvider, mojoPortal.Web"
			 description="An analyzer suitable for indexing and search of English and similar languages" />
			 
	
<!--	
	<add name="ArabicAnalysisProvider"
			 type="mojoPortal.SearchIndex.ArabicAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="BrazilianAnalysisProvider"
			 type="mojoPortal.SearchIndex.BrazilianAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="ChineseAnalysisProvider"
			 type="mojoPortal.SearchIndex.ChineseAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="CJKAnalysisProvider"
			 type="mojoPortal.SearchIndex.CJKAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="CzechAnalysisProvider"
			 type="mojoPortal.SearchIndex.CzechAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="DutchAnalysisProvider"
			 type="mojoPortal.SearchIndex.DutchAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="FrenchAnalysisProvider"
			 type="mojoPortal.SearchIndex.FrenchAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="GermanAnalysisProvider"
			 type="mojoPortal.SearchIndex.GermanAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="GreekAnalysisProvider"
			 type="mojoPortal.SearchIndex.GreekAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="PersianAnalysisProvider"
			 type="mojoPortal.SearchIndex.PersianAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="RussianAnalysisProvider"
			 type="mojoPortal.SearchIndex.RussianAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	<add name="ThaiAnalysisProvider"
			 type="mojoPortal.SearchIndex.ThaiAnalysisProvider, mojoPortal.Web"
			 description="An analyzer " />
			 
	-->

		
  </providers>
</LuceneSettingsProviders>
