<?xml version="1.0"?>
<!-- 
you should not customize this file, you should create a copy with a different name and then configure to use your custom file
from this setting in Web.config <add key="TinyMCE:ConfigFile" value="mojoTinyMCE.config" /> ideally overriding it in your user.config fle
By using a different file you will not lose your custom settings during upgrades
-->
<TinyMCE 
  FullToolbarPlugins="media,template,paste,print,searchreplace,fullscreen,emotions,directionality,table,contextmenu,advimage,inlinepopups,wordcount,visualblocks,safari"
  FullToolbarRow1Buttons="code,separator,selectall,removeformat,cut,copy,separator,paste,pastetext,pasteword,separator,print,separator,undo,redo,separator,search,replace"
  FullToolbarRow2Buttons="blockquote,bold,italic,underline,strikethrough,separator,sub,sup,separator,bullist,numlist,separator,outdent,indent,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,link,unlink,anchor,image,media,table,hr,emotions,charmap"
  FullToolbarRow3Buttons="formatselect,styleselect,separator,cleanup,fullscreen,visualblocks"
  FullToolbarExtendedValidElements="iframe[src|width|height|style|name|title|align|scrolling|frameborder|allowtransparency],meta[itemprop|content],link[itmeprop|href]"
  FullToolbarForcePasteAsPlainText="false"
  FullWithTemplatesToolbarPlugins="media,template,paste,print,searchreplace,fullscreen,emotions,directionality,table,contextmenu,advimage,inlinepopups,wordcount,visualblocks,safari"
  FullWithTemplatesToolbarRow1Buttons="code,separator,selectall,removeformat,cleanup,cut,copy,separator,paste,pastetext,pasteword,separator,print,separator,undo,redo,separator,search,replace"
  FullWithTemplatesToolbarRow2Buttons="blockquote,bold,italic,underline,strikethrough,separator,sub,sup,separator,bullist,numlist,separator,outdent,indent,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,link,unlink,anchor,image,media,table,hr,emotions,charmap"
  FullWithTemplatesToolbarRow3Buttons="template,formatselect,styleselect,separator,cleanup,fullscreen,visualblocks"
  FullWithTemplatesToolbarExtendedValidElements="iframe[src|width|height|style|name|title|align|scrolling|frameborder|allowtransparency],meta[itemprop|content],link[itmeprop|href]"
  FullWithTemplatesToolbarForcePasteAsPlainText="false"
  ForumWithImagesToolbarPlugins="paste,print,searchreplace,fullscreen,emotions,directionality,table,advimage,inlinepopups"
  ForumWithImagesToolbarRow1Buttons="cut,copy,pastetext,separator,blockquote,bold,italic,underline,separator,bullist,numlist,separator,link,unlink,separator,image,charmap,emotions"
  ForumWithImagesToolbarRow2Buttons=""
  ForumWithImagesToolbarRow3Buttons=""
  ForumWithImagesToolbarExtendedValidElements=""
  ForumWithImagesToolbarForcePasteAsPlainText="true"
  ForumToolbarPlugins="paste,print,searchreplace,fullscreen,emotions,directionality,table,advimage,inlinepopups"
  ForumToolbarRow1Buttons="cut,copy,pastetext,separator,blockquote,bold,italic,underline,separator,bullist,numlist,separator,link,unlink,separator,charmap,emotions"
  ForumToolbarRow2Buttons=""
  ForumToolbarRow3Buttons=""
  ForumToolbarExtendedValidElements=""
  ForumToolbarForcePasteAsPlainText="true"
  AnonymousToolbarPlugins="paste,emotions,directionality,inlinepopups"
  AnonymousToolbarRow1Buttons="cut,copy,pastetext,separator,blockquote,bold,italic,separator,bullist,numlist,separator,link,unlink,emotions"
  AnonymousToolbarRow2Buttons=""
  AnonymousToolbarRow3Buttons=""
  AnonymousToolbarExtendedValidElements=""
  AnonymousToolbarForcePasteAsPlainText="true"
  NewsletterToolbarPlugins="fullpage,paste,print,preview,searchreplace,fullscreen,emotions,directionality,table,contextmenu,advimage,inlinepopups,wordcount,safari"
  NewsletterToolbarRow1Buttons="code,separator,selectall,removeformat,cut,copy,separator,paste,pastetext,pasteword,separator,print,separator,undo,redo,separator,search,replace"
  NewsletterToolbarRow2Buttons="blockquote,bold,italic,underline,strikethrough,separator,sub,sup,separator,bullist,numlist,separator,outdent,indent,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,link,unlink,anchor,image,media,table,hr,charmap"
  NewsletterToolbarRow3Buttons="formatselect,fontselect,fontsizeselect,forecolorpicker,backcolorpicker,separator,cleanup,fullscreen,preview,fullpage"
  NewsletterToolbarExtendedValidElements=""
  NewsletterToolbarForcePasteAsPlainText="false"
  AdvancedFormatBlocks="p,address,pre,h1,h2,h3,h4,h5,h6"
  AdvancedSourceEditorWidth="780"
  AdvancedSourceEditorHeight="700"
  AdvancedToolbarLocation="top"
  AdvancedToolbarAlign="left"
  AdvancedStatusBarLocation="bottom"
  AccessibilityWarnings="true"
  DialogType="modal"
  EnableObjectResizing="true"
  EnableUndoRedo="true"
  UnDoLevels="10"
  Cleanup="true"
  CleanupOnStart="false"
  AutoFocus="true"
  SpellCheckerLanguages=""
  
  >
  
  <!-- 
  Example: + marks the default language
  SpellCheckerLanguages="+English=en,Danish=da,Dutch=nl,Finnish=fi,French=fr,German=de,Italian=it,Polish=pl,Portuguese=pt,Spanish=es,Swedish=sv"
  -->

</TinyMCE>
