<?xml version="1.0"?>
<FileSystemProviders defaultProvider="DiskFileSystemProvider">
	<providers>

		<add name="DiskFileSystemProvider"
			 type="mojoPortal.FileSystem.DiskFileSystemProvider, mojoPortal.Web"
			 description="manages the disk file system" />

<!-- in the future we may implement other providers for Azure or other web farm support solutions -->
  
	</providers>
</FileSystemProviders>