<?xml version="1.0"?>
<mojoProfile >
	<properties>
		<!--
			The properties configured below are optional, you can remove the 
			ones you don't want and add ones you do want.
				
			For documentation on configuring this file please visit
			http://www.mojoportal.com/userprofileconfiguration.aspx
		-->

		<!-- TimeOffsetHours is no longer used except under Mono where we can't yet use TimeZoneId-->
		<add name="TimeOffsetHours"
			allowAnonymous="true"
			allowMarkup="false"
			defaultValue="-5.00"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="TimeOffsetLabel"
			lazyLoad="false"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="true"
			resourceFile="ProfileResource"
			type="System.Double"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		>
			<OptionList>
				<Option value="-12.00" TextResourceKey="TimeZoneLabelEniwetokKwajalein"></Option>
				<Option value="-11.00" TextResourceKey="TimeZoneLabelMidwayIslandSamoa"></Option>
				<Option value="-10.00" TextResourceKey="TimeZoneLabelHawaii"></Option>
				<Option value="-9.00"  TextResourceKey="TimeZoneLabelAlaska"></Option>
				<Option value="-8.00"  TextResourceKey="TimeZoneLabelPacific"></Option>
				<Option value="-7.00"  TextResourceKey="TimeZoneLabelMountain"></Option>
				<Option value="-6.00"  TextResourceKey="TimeZoneLabelCentral"></Option>
				<Option value="-5.00"  TextResourceKey="TimeZoneLabelEastern"></Option>
				<Option value="-4.00"  TextResourceKey="TimeZoneLabelAtlantic"></Option>
				<Option value="-3.50"  TextResourceKey="TimeZoneLabelNewfoundland"></Option>
				<Option value="-3.00"  TextResourceKey="TimeZoneLabelBrazilBuenosAiresGeorgetown"></Option>
				<Option value="-2.00"  TextResourceKey="TimeZoneLabelMidAtlantic"></Option>
				<Option value="-1.00"  TextResourceKey="TimeZoneLabelAzoresCapeVerdeIslands"></Option>
				<Option value="0.00"   TextResourceKey="TimeZoneLabelGMT"></Option>
				<Option value="1.00"   TextResourceKey="TimeZoneLabelCentralEurope"></Option>
				<Option value="2.00"   TextResourceKey="TimeZoneLabelEasternEurope"></Option>
				<Option value="3.00"   TextResourceKey="TimeZoneLabelBaghdadKuwaitRiyadhMoscowStPetersburgVolgogradNairobi"></Option>
				<Option value="3.50"   TextResourceKey="TimeZoneLabelTehran"></Option>
				<Option value="4.00"   TextResourceKey="TimeZoneLabelAbuDhabiMuscatBakuTbilisi"></Option>
				<Option value="4.50"   TextResourceKey="TimeZoneLabelKabul"></Option>
				<Option value="5.00"   TextResourceKey="TimeZoneLabelEkaterinburgIslamabadKarachiTashkent"></Option>
				<Option value="5.50"   TextResourceKey="TimeZoneLabelBombayCalcuttaMadrasNewDelhi"></Option>
				<Option value="6.00"   TextResourceKey="TimeZoneLabelAlmatyDhakaColombo"></Option>
				<Option value="7.00"   TextResourceKey="TimeZoneLabelBangkokHanoiJakarta"></Option>
				<Option value="8.00"   TextResourceKey="TimeZoneLabelBeijingPerthSingaporeHongKongChongqingUrumqiTaipei"></Option>
				<Option value="9.00"   TextResourceKey="TimeZoneLabelTokyoSeoulOsakaSapporoYakutsk"></Option>
				<Option value="9.50"   TextResourceKey="TimeZoneLabelAdelaideDarwin"></Option>
				<Option value="10.00"  TextResourceKey="TimeZoneLabelEASTEastAustralianStandardGuamPapuaNewGuineaVladivostok"></Option>
				<Option value="11.00"  TextResourceKey="TimeZoneLabelMagadanSolomonIslandsNewCaledonia"></Option>
				<Option value="12.00"  TextResourceKey="TimeZoneLabelAucklandWellingtonFijiKamchatkaMarshallIsland"></Option>
				<Option value="13.00"  TextResourceKey="TimeZoneLabelNukualofa"></Option>
			</OptionList>
		</add>

		<!-- if you want to make TimeZone not required for registration you can comment this out    -->
		<add name="TimeZoneId"
			defaultValue=""
			includeHelpLink="false"
			iSettingControlSrc="~/Controls/TimeZoneIdSetting.ascx"
			labelResourceKey="TimeOffsetLabel"
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="true"
			resourceFile="ProfileResource"
			type=""
		/>

		<add name="FirstName"
			allowMarkup="false"
			columns="45"
			cssClass="widetextbox"
			includeHelpLink="false"
			labelResourceKey="FirstName"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			showOnRegistration="true"
			type="System.String"
		/>

		<add name="LastName"
			allowMarkup="false"
			columns="45"
			cssClass="widetextbox"
			includeHelpLink="false"
			labelResourceKey="LastName"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			showOnRegistration="true"
			type="System.String"
		/>

		<add name="DateOfBirth"
			datePickerShowMonthList="true"
			datePickerShowYearList="true"
			datePickerYearRange="c-100:c+0"
			includeHelpLink="false"
			includeTimeForDate="false"
			labelResourceKey="DateOfBirth"
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			type="System.DateTime"
		/>

		<!--<add name="PhoneNumber"
			allowMarkup="false"
			cssClass="widetextbox"
			includeHelpLink="false"
			labelResourceKey="PhoneNumber"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			showOnRegistration="true"
			type="System.String"
		/>-->

		<add name="Gender"
			allowAnonymous="false"
			allowMarkup="false"
			defaultValue=""
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="GenderLabel"
			lazyLoad="false"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			showOnRegistration="false"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		>
			<OptionList>
				<Option value="" TextResourceKey="GenderUnselectedLabel"></Option>
				<Option value="M" TextResourceKey="GenderMaleLabel"></Option>
				<Option value="F" TextResourceKey="GenderFemaleLabel"></Option>
			</OptionList>
		</add>

		<!--<add name="Traits"
			allowAnonymous="false"
			allowMarkup="false"
			defaultValue="funny,slick"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="Traits"
			lazyLoad="false"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			showOnRegistration="false"
			type="CheckboxList"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		>
			<OptionList>
				<Option value="funny" TextResourceKey="funny"></Option>
				<Option value="sunny" TextResourceKey="sunny"></Option>
				<Option value="money" TextResourceKey="money"></Option>
				<Option value="slim" TextResourceKey="slim"></Option>
				<Option value="slick" TextResourceKey="slick"></Option>
			</OptionList>
		</add>-->

		<add name="WebSiteUrl"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="WebSiteUrlLabel"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey="WebSiteUrlRegexWarning"
			regexValidationExpression="(((http(s?))\://){1}\S+)"
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="Country"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			defaultValue=""
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="CountryLabel"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="State"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="StateLabel"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="Occupation"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="OccupationLabel"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="Interests"
			allowAnonymous="false"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="InterestsLabel"
			lazyLoad="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<!--<add name="MSN"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="MSNLabel"
			lazyLoad="false"
			maxLength="50"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="Yahoo"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="YahooLabel"
			lazyLoad="false"
			maxLength="50"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="AIM"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="AIMLabel"
			lazyLoad="false"
			maxLength="50"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="ICQ"
			allowAnonymous="true"
			allowMarkup="false"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="ICQLabel"
			lazyLoad="false"
			maxLength="50"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>-->

		<add name="Signature"
			allowAnonymous="true"
			allowMarkup="true"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="SignatureLabel"
			lazyLoad="false"
			maxLength="2000"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			rows="3"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
		/>

		<add name="AuthorBio"
			allowAnonymous="true"
			allowMarkup="true"
			cssClass="widetextbox"
			editableByUser="true"
			includeHelpLink="true"
			labelResourceKey="AuthorBio"
			lazyLoad="false"
			maxLength="2000"
			onlyAvailableForRoles="Admins;Content Administrators;Content Authors;Content Publishers;"
			onlyVisibleForRoles="Admins;Content Administrators;Content Authors;Content Publishers;"
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			resourceFile="ProfileResource"
			rows="5"
			type="System.String"
			visibleToAnonymous="false"
			visibleToAuthenticated="false"
			visibleToUser="true"
		/>

		<!-- examples:
		<add name="FavoriteColor"
			defaultValue="#34983E"
			includeHelpLink="false"
			iSettingControlSrc="~/Controls/ColorSetting.ascx"
			labelResourceKey="Color"
			type=""
		/>

		<add name="LeastFavoriteColor"
			defaultValue="#70331C"
			includeHelpLink="false"
			iSettingControlSrc="~/Controls/ColorSetting.ascx"
			labelResourceKey="Nother Color"
			type=""
		/>
		
		<add name="MapType"
			includeHelpLink="false"
			iSettingControlSrc="~/Controls/GMapTypeSetting.ascx"
			labelResourceKey="Map Type"
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="true"
			type=""
		/>

		<add name="IsDeveloper"
			includeHelpLink="false"
			labelResourceKey="Is Developer"
			regexValidationErrorResourceKey=""
			regexValidationExpression=""
			requiredForRegistration="false"
			type="System.Boolean"
		/>-->
	</properties>
</mojoProfile>