<?xml version="1.0"?>
<DatePickerProviders defaultProvider="AirDatepickerProvider">
	<providers>
		<add name="AirDatepickerProvider"
		type="mojoPortal.Web.Controls.DatePicker.AirDatepickerProvider, mojoPortal.Web.Controls"
		description="A datepicker using AirDatepicker: https://air-datepicker.com/" />		

		<add name="jsCalendarDatePickerProvider"
			 type="mojoPortal.Web.Controls.DatePicker.jsCalendarDatePickerProvider, mojoPortal.Web.Controls"
			 description="A datepicker using the jsCalendar: http://www.dynarch.com/projects/calendar/" />

    <add name="jDatePickerProvider"
			 type="mojoPortal.Web.UI.jDatePickerProvider, mojoPortal.Web"
			 description="A datepicker using the jQuery DatePicker http://docs.jquery.com/UI/API/1.8/Datepicker" />
			 
	<add name="CalendarDatePickerProvider"
			 type="mojoPortal.Web.UI.CalendarDatePickerProvider, mojoPortal.Web"
			 description="A datepicker using the jQuery World Calendars DatePicker http://keith-wood.name/calendarsPicker.html" />
					 
	</providers>
</DatePickerProviders>