<?xml version="1.0"?>
<EditorProviders defaultProvider="FCKeditorProvider">
	<providers>

    <!--
		<add name="FCKeditorProvider"
			 type="mojoPortal.Web.Editor.FCKeditorProvider, mojoPortal.Web"
			 description="Allows using the FCKeditor" />
       -->


    <add name="CKEditorProvider"
			 type="mojoPortal.Web.Editor.CKEditorProvider, mojoPortal.Web"
			 description="Allows using the CKEditor" />

		<add name="TinyMCEProvider"
			 type="mojoPortal.Web.Editor.TinyMCEProvider, mojoPortal.Web"
			 description="Allows using the TinyMCE editor" />

   
<!-- 
this is a plain text area with no wysiwyg, it can be used by advanced users who understand html
but it is commented out by default because its not user friendly for the average user.
2009-06-29 uncommented this by default because no wysiwyg works in iPhone so we need
to force plain text editor in iPhone, therefor it must be enabled

-->

    <add name="TextAreaProvider"
			 type="mojoPortal.Web.Editor.TextAreaProvider, mojoPortal.Web.Editor"
			 description="Allows using a plain text area for the editor" />

<!-- AjaxEditorProvider is disabled by default becaus eit does not support
image uploads, content templates, content styles supported in the other editors
if you want to use it anyway just uncomment it
-->
    <!--
    <add name="AjaxEditorProvider"
			 type="mojoPortal.Web.Editor.AjaxEditorProvider, mojoPortal.Web"
			 description="Allows using the AjaxControlToolkit editor - doesn't support all the features thatother editors support like image upload" />
       -->

    <!--
    we no longer ship the XStandard.cab file with mojoPortal packages so this is commented out by default.
    if you want to use XStandard, you can dowbnload the cab file from http://xstandard.com/download/XStandard.cab
    and then put it in your /ClientScript/XStandard foder and uncooment this
		<add name="XStandardProvider"
			 type="mojoPortal.Web.Editor.XStandardProvider, mojoPortal.Web.Editor"
			 description="Allows using the XStandard editor" />
       -->


  </providers>
</EditorProviders>