<?xml version="1.0"?>
<PaymentGatewayProviders defaultProvider="NotImplementedPaymentGateway">
	<providers>
		<add name="NotImplementedPaymentGateway" type="mojoPortal.Web.Commerce.NotImplementedPaymentGatewayProvider, mojoPortal.Web" description="returns null" />
		<add name="Authorize.NET" type="mojoPortal.Web.Commerce.AuthorizeNetPaymentGatewayProvider, mojoPortal.Web" description="Allows using Authorize.NET" />
		<add name="PlugNPay" type="mojoPortal.Web.Commerce.PlugNPayPaymentGatewayProvider, mojoPortal.Web" description="Allows using PlugNPay" />
		<add name="PayPalDirect" type="mojoPortal.Web.Commerce.PayPalDirectPaymentGatewayProvider, mojoPortal.Web" description="Allows using PayPalDirect" />
		<!-- <add name="Stripe" type="mojoPortal.AddOns.Payments.Stripe.StripePaymentGatewayProvider, mojoPortal.AddOns.Payments.Stripe" description="Allows using Stripe" /> -->
		<!-- <add name="Heartland" type="mojoPortal.AddOns.Payments.Heartland.HeartlandPaymentGatewayProvider, mojoPortal.AddOns.Payments.Heartland" description="Allows using Heartland" /> -->
	</providers>
</PaymentGatewayProviders>