<?xml version="1.0"?>
<mojoProfile>
	<properties>
		<!--
		The properties configured below are optional, you can remove the 
			  ones you don't want and add ones you do want.
				
	   For documentation on configuring this file please visit
	   http://www.mojoportal.com/docs/user-profiles
	   
	   -->

		<!-- if you want to make TimeZone not required for registration you can change requiredForRegistration to false    -->
		<add name="TimeZoneId"
			type=""
			iSettingControlSrc="~/Controls/TimeZoneIdSetting.ascx"
			resourceFile="ProfileResource"
			labelResourceKey="TimeOffsetLabel"
			defaultValue=""
			requiredForRegistration="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			includeHelpLink="false"
		/>
		<add name="FirstName"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="FirstName"
			lazyLoad="false"
			showOnRegistration="true"
			requiredForRegistration="false"
			maxLength="100"
			columns="45"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="false"
			cssClass="widetextbox"
		/>
		<add name="LastName"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="LastName"
			lazyLoad="false"
			showOnRegistration="true"
			requiredForRegistration="false"
			maxLength="100"
			columns="45"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="false"
			cssClass="widetextbox"
		/>
		<add name="DateOfBirth"
			type="System.DateTime"
			includeTimeForDate="false"
			labelResourceKey="DateOfBirth"
			datePickerShowMonthList="true"
			datePickerShowYearList="true"
			datePickerYearRange="c-100:c+0"
			requiredForRegistration="false"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			includeHelpLink="false"
		/>
		<add name="Gender"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="GenderLabel"
			lazyLoad="false"
			requiredForRegistration="false"
			showOnRegistration="false"
			allowAnonymous="false"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			defaultValue=""
			includeHelpLink="true"
		>
			<OptionList>
				<Option value="" TextResourceKey="GenderUnselectedLabel"></Option>
				<Option value="M" TextResourceKey="GenderMaleLabel"></Option>
				<Option value="F" TextResourceKey="GenderFemaleLabel"></Option>
			</OptionList>
		</add>
		<add name="WebSiteUrl"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="WebSiteUrlLabel"
			lazyLoad="false"
			requiredForRegistration="false"
			allowAnonymous="true"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression="(((http(s?))\://){1}\S+)"
			regexValidationErrorResourceKey="WebSiteUrlRegexWarning"
			maxLength="100"
			cssClass="widetextbox"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="true"
		/>
		<add name="Country"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="CountryLabel"
			lazyLoad="false"
			requiredForRegistration="false"
			allowAnonymous="true"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			maxLength="100"
			cssClass="widetextbox"
			defaultValue=""
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="true"
		/>
		<add name="State"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="StateLabel"
			lazyLoad="false"
			requiredForRegistration="false"
			allowAnonymous="true"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			maxLength="100"
			cssClass="widetextbox"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="true"
		/>
		<add name="Occupation"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="OccupationLabel"
			lazyLoad="false"
			requiredForRegistration="false"
			allowAnonymous="true"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			maxLength="100"
			cssClass="widetextbox"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="true"
		/>
		<add name="Interests"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="InterestsLabel"
			lazyLoad="false"
			requiredForRegistration="false"
			allowAnonymous="false"
			visibleToAnonymous="true"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			maxLength="100"
			cssClass="widetextbox"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="true"
		/>
		<add name="Signature"
			type="System.String"
			allowMarkup="true"
			resourceFile="ProfileResource"
			labelResourceKey="SignatureLabel"
			lazyLoad="false"
			requiredForRegistration="false"
			allowAnonymous="true"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			maxLength="2000"
			rows="3"
			cssClass="widetextbox"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="true"
		/>
		<add name="AuthorBio"
			type="System.String"
			allowMarkup="true"
			resourceFile="ProfileResource"
			labelResourceKey="AuthorBio"
			lazyLoad="false"
			requiredForRegistration="false"
			allowAnonymous="true"
			visibleToAnonymous="false"
			visibleToAuthenticated="false"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			maxLength="2000"
			rows="5"
			cssClass="widetextbox"
			onlyAvailableForRoles="Admins;Content Administrators;Content Authors;Content Publishers;"
			onlyVisibleForRoles="Admins;Content Administrators;Content Authors;Content Publishers;"
			includeHelpLink="true"
		/>

		<!-- 
			  EXAMPLES:
        
        <add name="FavoriteColor"
			type=""
			iSettingControlSrc="~/Controls/ColorSetting.ascx"
			labelResourceKey="Color"
			includeHelpLink="false"
			defaultValue="#34983E"
		/>

		<add name="LeastFavoriteColor"
			type=""
			iSettingControlSrc="~/Controls/ColorSetting.ascx"
			labelResourceKey="Nother Color"
			includeHelpLink="false"
			defaultValue="#70331C"
		/>
		<add name="PhoneNumber"
			type="System.String"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="PhoneNumber"
			lazyLoad="false"
			showOnRegistration="true"
			requiredForRegistration="false"
			maxLength="100"
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			includeHelpLink="false"
			cssClass="widetextbox"
		/>        
        <add name="MapType"
			type=""
			iSettingControlSrc="~/Controls/GMapTypeSetting.ascx"
			labelResourceKey="Map Type"
			requiredForRegistration="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			includeHelpLink="false"
		/>
		<add name="IsDeveloper"
			type="System.Boolean"
			labelResourceKey="Is Developer"
			requiredForRegistration="false"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			includeHelpLink="false"
		/>
	    <add name="Traits"
			type="CheckboxList"
			allowMarkup="false"
			resourceFile="ProfileResource"
			labelResourceKey="Traits"
			lazyLoad="false"
			requiredForRegistration="false"
			showOnRegistration="false"
			allowAnonymous="false"
			visibleToAnonymous="false"
			visibleToAuthenticated="true"
			visibleToUser="true"
			editableByUser="true"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			onlyAvailableForRoles=""
			onlyVisibleForRoles=""
			defaultValue="funny,slick"
			includeHelpLink="true"
		>
			<OptionList>
				<Option value="funny" TextResourceKey="funny"></Option>
				<Option value="sunny" TextResourceKey="sunny"></Option>
				<Option value="money" TextResourceKey="money"></Option>
				<Option value="slim" TextResourceKey="slim"></Option>
				<Option value="slick" TextResourceKey="slick"></Option>
			</OptionList>
		</add>
    -->
	</properties>
</mojoProfile>
